[2015-08-22 15:13] ConfusedCC opened #1467 "Boulderfist crusher pulverize abillity"
Boulderfist crusher occasionally uses the pulverize ability with only a 3 seccond cooldown
https://www.youtube.com/watch?v=pyoCSYJUHcU
wowheads description of the abillity gives it a 6 sec cd http://www.wowhead.com/npc=17134/boulderfist-crusher#abilities

[2015-08-22 15:15] #1461 closed, assigned to ccshiro

[2015-08-22 15:17] ccshiro commented on #1452
@YourNewfriend I seriously doubt that. Do you have any proof?

[2015-08-22 15:19] Klimpb opened #1468 "Curse of Weakness & Tainted Blood can't stack"
http://youtu.be/imUlzBojYPI

When Curse of Weakness was present on the target then my pet would never apply Tainted Blood debuffs.

Probably related to #1136 & #1133

[2015-08-22 15:59] #1109 closed, assigned to ccshiro

[2015-08-22 16:04] ccshiro commented on #1122
What is the actual bug report here? Could someone summarize the issue that's reported, or could OP edit his post?

[2015-08-22 17:11] nullfoxh commented on #1122
@ccshiro
In post 1 OP said melee hits were breaking vanish too often. No proof yet.
In post 4 OP said resisted spells were also breaking vanish. I posted patch notes as proof this should not happen.

Rest seemed to be off-topic discussion, on blind/stuns breaking vanish which seems to be working as intended.

[2015-08-22 18:39] YourNewfriend commented on #1452
@ccshiro
http://www.ownedcore.com/forums/world-of-warcraft/world-of-warcraft-exploits/2041-warlock-exploit.html
http://www.ownedcore.com/forums/world-of-warcraft/world-of-warcraft-exploits/577-exploit-warlock-sacrafice-pet-keep.html

http://www.blizzhackers.cc/viewtopic.php?t=310974
"Ive seen a troll priest res a locks void, dident think he used berserking but he must have."
"Resurrecting works wi

[2015-08-22 19:02] Klimpb opened #1469 "Turn Evil lasts full duration on warlock pets"
should only last 10 seconds

[2015-08-22 19:10] Klimpb opened #1470 "Drain spells keeps draining for full duration even after pushbacks"
https://youtu.be/II2hjUBzqDM

The debuff is supposed to shorten itself for every pushback you receive. Can be seen quite clearly in a lot of warlock videos.

[2015-08-22 19:18] #1143 closed, assigned to ccshiro

[2015-08-22 19:21] abuescher commented on #1457
I am an idiot :D works fine.

[2015-08-22 19:21] #1457 closed, assigned to nobody

[2015-08-22 19:23] ccshiro commented on #1452
@YourNewfriend I doubted it existed because unlike hunter pets the body of a warlock demon fades in a few seconds. Wasn't aware it was technically possible to ress them still if you were quick enough, however.

[2015-08-22 19:35] YourNewfriend commented on #1452
@ccshiro

Okay.  It also seems like my claim of them being unressable at certain periods is unfounded.  The mechanic was that Demonic Sac gets removed when a player has a pet active.

[2015-08-22 19:37] #1133 closed, assigned to ccshiro

[2015-08-22 20:07] YourNewfriend commented on #718
Are we playing Pokemon Red/Blue/Yellow now?

[2015-08-22 20:09] ccshiro commented on #1177
Wowwiki is referencing a change that never went through.

You can see the patch notes wowwiki is referencing here (notice that these are notes for some development version that lies between 1.2.4 and 1.3.0 and was never live):
https://web.archive.org/web/20071221213919/http://www.worldofwarcraft.com/patchnotes/patch-05-03-04.html

To quote the paladin part:

That change never got pushed to live, h

[2015-08-22 20:12] #1177 closed, assigned to nobody

[2015-08-22 20:14] abuescher commented on #1069
Medivh already starts the "final" event before that last boss spawns. When the last boss runs straight to medivh and should hit him, his shield doesnt lose any percentage. Event triggers a second time when endboss dies (portal turns pink, orc spawns and RP talk between him and medivh)

[2015-08-22 20:30] Voodopad commented on #718
Live translation please...
Not a pokemon fan here.

[2015-08-22 21:17] abuescher opened #1471 "Non-elite mobs in arcatraz yield wrong reputation"
Self explaining title. Protean Horror and Protean Spawn yield 24 per kill. Should be less if I remember correctly?

Wowhead states its 30 on heroic difficulty tho.. I am a bit confused:
http://www.wowhead.com/npc=21395/protean-spawn
http://www.wowhead.com/npc=20865/protean-horror

may be inaccurate due to new addons n stuff tho..

[2015-08-22 21:25] YourNewfriend commented on #718
https://www.youtube.com/watch?v=lk8tsK-FIdE

The game's only value these days for a lot of people is glitching it with ridiculous, incredibly obscure glitches with a whole bunch of variables (ie. dancing at certain moments)

[2015-08-22 22:41] Klimpb commented on #548
More videos of it:
https://youtu.be/R9UHt5t2orA

[2015-08-22 23:27] Klimpb commented on #1155
From patch 2.4.2
https://www.youtube.com/watch?v=cG-qjDn8iO8

But I guess it doesn't hold much value since this thread is mostly about 2.4.3. Can be useful though, who knows.

[2015-08-22 23:35] Klimpb commented on #862
Found some evidence here, I guess it is enough. Maybe..

http://www.arenajunkies.com/topic/23087-what-are-you-doing-before-a-match-starts/

"Summon imp.
Create healthstone while fire shielding.
Create weaker healthstone.
Summon void while trading to 2s partner.
Create healthstone.
Underwater Breathing.
Detect Lesser Invisibility.
Underwater Breaking.
Detect Lesser Invisibility.
Create Spellstone.

[2015-08-22 23:36] #862 closed, assigned to nobody

[2015-08-23 01:09] blazingsolos opened #1472 "Netherstorm: The Heap"
In The Heap, just south of Area 52;  The Zaxxis mobs are:

1: Not correctly dropping netherweave cloth.

2: The Zaxxis stalkers are Teleporting and breaking immobilizing effects when they should not.

Untested elements:  They should also be dropping Zaxxis insignias, however I haven't completed enough prerequisite quests to test this.

Corecraft: https://www.youtube.com/watch?v=piPcSIsebWU&t=19s

[2015-08-23 01:15] blazingsolos opened #1473 "[Mage] Clearcasting"
This might need more research, but I'm pretty certain that Clearcasting should only have a chance to proc off the FIRST hit of channeled spells, and not every single hit.

In this video, you can see that casting blizzard on a very large amount of mobs will essentially make the subsequent blizzards completely mana free.

https://www.youtube.com/watch?v=piPcSIsebWU&t=30s

[0:30-0:45]

I'm also not c

[2015-08-23 01:53] blazingsolos commented on #1460
As far as I know, this is correct behavior;  If you apply a debuff to a critter (e.g. demoralizing shout, howl of terror, psychic scream), but don't kill it, it will keep members of the party in combat.  Some critters attack back, which makes it easier to get rid of them, while others simply flee.

It should however, drop combat after a certain distance is reached between the player and critter.

[2015-08-23 02:14] magikalCC opened #1474 "Tenacious Earthstorm Diamond"
If you inspect a player with this meta gem, and they have 5 blue gems socketed, it will appear grey. It appears green to the player wearing it.

[2015-08-23 02:16] magikalCC opened #1475 "Spellstrike Hood and Pants set bonus appears grey to everyone but the player wearing it"
Even if they have 350 tailoring.

[2015-08-23 03:43] Aprics commented on #1456
here is the screen. the addon top left corner doesn't react to the 2nd SS.
![wowscrnshot_082115_161449](https://cloud.githubusercontent.com/assets/13718317/9426830/cf87fe0c-4959-11e5-94d9-08ddae6a10b0.jpg)

[2015-08-23 03:50] Aprics commented on #1454
you could see the plate before the fire wich would make it exploitable

[2015-08-23 03:57] Aprics commented on #1473
"The arcane missiles you cast after an arcane missiles that procced clear casting will ALSO get the increased critical strike chance, in addition to not costing mana. Therefore, assuming a mage was spamming arcane missiles, and one procced clear casting, his next TEN missiles (two volleys of five missiles) will have a 30% higher crit chance, and cost the price of five missiles (one volley.)"

two

[2015-08-23 04:11] Aprics commented on #1460
Yes. before the first boss in SH it is obvious and likely to get the combat bug.
Either the mob stays in combat and attacks the player with the highest aggro or the mob goes out of combat (and so does the party).

[2015-08-23 04:31] Aprics commented on #1456
It behaves like a spell.
shouldn't a spell of equal power reset the spell instead of giving the " A more powerful spell is already active"  error ?
So the SS should go back to a 30 min duration on use by a second warlock.

[2015-08-23 06:47] ConfusedCC commented on #1474
If your own character meets the requirements of the meta, 5 blue gems equipped, it will appear white when you inspect the other player.
http://i.imgur.com/1zYE8T0.jpg
http://i.imgur.com/d3zjq9W.jpg

edited for clarity*

[2015-08-23 07:14] Peonstomperx opened #1476 "[Mind Vision] range"
It's not unlimited, breaks after your normal sight (100yds?).

[2015-08-23 07:23] koboltti commented on #1473
As much I'd like to have clearcasting working as intended as it is currently, I was also thinking if it should proc on every Blizzard/AM tick and that if the game should calculate the 10% chance from the very first damaging attack alone or calculate it for every enemy the spell strikes. I have no clear memory from retail.

@Aprics: I believe your quoted sentence talks about the AM when the clearca

[2015-08-23 07:56] Aasamath opened #1477 "[Priest] reflective shield dealing insane damage"
Played some arena's with a priest who had 4/5 points in holy shield.
here's the result
![wowscrnshot_082315_095155](https://cloud.githubusercontent.com/assets/13113093/9427434/2e3887e6-497d-11e5-9521-6bb10a2999e7.jpg)

[2015-08-23 07:58] Aasamath commented on #1477
duplicate of #1453 sorry :( gonna post this pic on other topic

[2015-08-23 07:59] #1477 closed, assigned to nobody

[2015-08-23 07:59] Aasamath commented on #1453
Played some arena's with a priest who had 4/5 points in holy shield.
here's the result
![wowscrnshot_082315_095155](https://cloud.githubusercontent.com/assets/13113093/9427443/b15e8530-497d-11e5-9c1b-d4e82aa29364.jpg)

[2015-08-23 08:59] Klimpb opened #1478 "The doors in arena sometimes doesn't open for players"
Door remained closed the entire game for my teammate. He said he alt-tabbed when he joined the arena and tabbed back in after the game had started, doors were still closed.

Vid coming

[2015-08-23 09:19] Peonstomperx opened #1479 "Double Fear Ward"
Casting Fear Ward during the spell delay of fears should immune the fear and keep the fear ward.

http://www.ownedcore.com/forums/world-of-warcraft/world-of-warcraft-exploits/174691-priest-double-fear-ward.html

[2015-08-23 10:57] Aasamath opened #1480 "Couldn't accept arena queue after duel."
I was doing some duel while waiting for my arena partner to come back. When he queued and proc happened, i got an error message saying i was in combat, eventhough i wasn't in combat or even in a duel anymore.
Look at the chat on the screenshot, duel ends, then partner asks if he can queue us. Proc was instant, i got on mount then went into shattrath, still couldn't accept.
The duel was forfeited,

[2015-08-23 11:04] Chulain commented on #1476
low prio https://github.com/ccshiro/cc-buglist/issues/1221

[2015-08-23 11:05] Chulain commented on #1473
invalid https://github.com/ccshiro/cc-buglist/issues/426

[2015-08-23 11:14] Ickler opened #1481 "[Quest] A Heap of Ethereals - cannot accept quest"
After doing the previous quest in the chain here, I delivered the quest. I got the A Heap of Ethereals up, press ACCEPT and as I did there was a yellow message saying: You don't meet the requirements for that quest.

[2015-08-23 11:20] Chulain commented on #1473
related https://github.com/ccshiro/cc-buglist/issues/426

[2015-08-23 11:22] Ickler commented on #1456
I thought I remembered -dkp for the lock that overwrote a soulstone from retail? Very vague recollection though.. But in any case, it's not supposed to stack on more Soulstones I think.

[2015-08-23 11:37] Klimpb opened #1482 "Can't command pet to attack when he is set to "stay""
He's suppose to attack players and if you do not change the command to follow from stay during the duration of the fight, when the target dies or feign death/vanish, the pet will return to the position that he first received his stay command on.

proof: http://youtu.be/znqvIzV0-ZM

Also take note at 01:10, Felguard hits both rogues with cleave, even though 1 rogue is behind him.. Lag or did it act

[2015-08-23 11:59] blazingsolos commented on #1473
Clearcasting as it is now would make every single aoe pull for mages completely mana free;  If you take a look at some videos of mages AOE pulling, you can see that the clearcasting proc is rather rare in actuality.

https://www.youtube.com/watch?v=beyRXulvycI&t=2m51s

March 12 2008:

"Unlike "on spell hit" effects, Arcane Concentration cannot proc off each hit of an Arcane Missiles' bolt, but onl

[2015-08-23 12:01] justinbeaver commented on #1155
@SuddenDeath It's slightly different from what we are talking about. If you saw someone already stealthed and send your pet on him, pet will break him 100% even if he gone completely invisible a second after. That is what we see in your movie, and it worked after 2.4.3 too, one movie that I remember is https://youtu.be/9qv4nbt-NNk?t=801
![wowscrnshot_082115_031906](http://i.imgur.com/sqV8RAj.jpg)

[2015-08-23 12:09] koboltti commented on #1473
Clearcasting as it is now would also create a problem of mages abusing rank 1 blizzard for clearcasting procs.

[2015-08-23 12:30] SuddenDeath commented on #1479
This seemed to be an exploit.

Kind of like seal twisting.

[2015-08-23 12:42] koboltti opened #1483 "[Tailoring] Crafted items don't show the name of the crafter"
[duplicate]

http://i.imgur.com/aGToeEc.jpg

Crafted items should show the name of the crafter in the bottom of the item tooltip (Created by <name>).

[2015-08-23 12:44] Peonstomperx commented on #1479
@SuddenDeath it's not really broken like seal twisting, just a nice trick that rewards skillful play

[2015-08-23 13:30] Doope commented on #1469
It works correctly if im not mistaken, it should last 20 sec in BC

[2015-08-23 13:54] Nonstopich opened #1484 "@Fyling mobs in World"
Place: hellfire citadel
near Enter to Ramps

![wowscrnshot_082315_165225](https://cloud.githubusercontent.com/assets/6273420/9428466/76273a86-49b7-11e5-8d70-472b82bdb8ac.jpg)
![wowscrnshot_082315_165228](https://cloud.githubusercontent.com/assets/6273420/9428465/76268528-49b7-11e5-9813-5808002b55e3.jpg)
![wowscrnshot_082315_165234](https://cloud.githubusercontent.com/assets/6273420/9428469/7628f20

[2015-08-23 13:58] Klimpb commented on #1469
@Doope hmm well, I'm not sure about it. Just seems strange that all other ccs lasts 10 seconds on pets, banish etc. Why would Turn Evil last 20 seconds? Tried to look for it on arenajunkies, found nothing. Haven't really seen it in any video yet.

[2015-08-23 14:10] lynxzor commented on #1483
#1266

[2015-08-23 14:50] Peter1337 commented on #1459
/confirmed
quitted after several deaths during the event

![wow shattered halls](https://cloud.githubusercontent.com/assets/12044027/9428678/02bb6d56-49b7-11e5-90c7-0dfa3a13a553.jpg)

[2015-08-23 14:52] justinbeaver opened #1485 "[Hunter/Rogue] CoS should not resist volley"
Rogue with CoS should not be able to resist volley.

Volley works exactly as arcane shot, it deals arcane damage but it is physical ability not <b>spell</b>.
CoS is increases your chance to resist all <b>spells</b> by 90%, but because volley is physical ability it should go thru same as arcane shot/any hunter sting (arcane shot/sting works well right now, goes thru).

Arcane Shot
Arcane Shot deals

[2015-08-23 15:01] nullfoxh commented on #1473
Playing mage from 05 to 09 I can confirm clearcasting should not be proccing from every tick of channeled spells. Will try to find a video of Blizzard usage, should be pretty obvious.

[2015-08-23 15:17] justinbeaver commented on #1122
@nullv0id What is interested to me is in Neilyo 11 stealth breaks when spell is resisted.

Patch 2.0.3 "Resisted spells will no longer break "Stealth"/"Vanish"."
But it happens far from 2.0.3 in season 3, 2.3.0+.
![neilyo11 wmv_snapshot_13 56_ 2015 08 23_08 03 00](https://cloud.githubusercontent.com/assets/13700367/9428793/0b321e14-496f-11e5-9f9f-a6b82bf1347f.jpg)
![neilyo11 wmv_snapshot_13 56_ 20

[2015-08-23 15:23] Raiilan commented on #1470
With about the warlock talent "fel concentration" in affliction tree,

( 5/5 talented it give a 70% chanse of avoiding interuption caused by damage  while channeling drain life,mana,soul,

Or do i missunderstod this issue?

[2015-08-23 15:30] magikalCC commented on #1474
Yeah, should have said white.

[2015-08-23 15:44] Klimpb commented on #1470
@raiilan keep an eye on the drain life debuff on my target, after my drain is finished the debuff is still there draining.

Has nothing to do with that talent.

[2015-08-23 15:52] Horvic opened #1486 "[Arcatraz] Zereketh the Unbound ability: Seed of corruption"
This ability is knocking the player back when it lands.

https://www.youtube.com/watch?v=-hi9Ag8b1IE&feature=youtu.be

You can see the shaman get knocked back when the seed lands 0.3 seconds before the shadow nova hits.

[2015-08-23 16:49] Raiilan commented on #1470
Oh right,

[2015-08-23 17:10] Horvic opened #1487 "[Arcatraz] Wall jump/Invisible walls"
You are able to jump up on the bridge at the two sentinels after the second and third boss.
No invisible walls to prevent falling down.
https://www.youtube.com/watch?v=l0TWl8R0dH8

You can also run along and evade bug the two sentinels, potentially making the most difficult part of the instance trivial.
https://www.youtube.com/watch?v=b8cZ2S5A2Xo&feature=youtu.be

[2015-08-23 17:38] Klimpb commented on #1165
Perception range: https://www.youtube.com/watch?v=n9PWxTB0x5g&hd=1
Not sure which specs these people use etc.
![vlcsnap-2015-08-23-19h41m15s207](https://cloud.githubusercontent.com/assets/9938017/9429399/02f655fc-49cf-11e5-8616-005e21acd59e.png)

[2015-08-23 17:45] CarboCorecraft opened #1488 "Movement speed effects stacking"
In retail TBC there were few movement speed effects that would stack each other. Rogue class for example could stack Sprint (on-foot movement speed increased by 70%) with meta gem/feet enchant (on-foot movement speed increased by 8%) which allowed the Rogue to run with 183,6% on-foot movement speed.

Proof (https://web.archive.org/web/20080914135007/http://www.wowwiki.com/Speed):

I did some testi

[2015-08-23 19:17] netherspite opened #1489 "Razaani Light Orbs movement issues"
These orbs should be flying from their spawn points to their target (fleshbeast or totem) by air. Instead they're jumping up and down while flying.
They still get to their target but the overall picture is awful.
![wowscrnshot_082215_101121](https://cloud.githubusercontent.com/assets/5777848/9429756/b8d7b1d0-49e4-11e5-8782-9140439a6699.jpg)

[2015-08-23 19:19] netherspite opened #1490 "Double quest object in There Can Be Only One Response"
When you kill the Nexus-Prince Razaan and use the Collection of souls object that appears after his death, the animation of the object is shown correctly but duplicate copy of the object keeps lying on the ground.
![wowscrnshot_082215_102555](https://cloud.githubusercontent.com/assets/5777848/9429761/f490c1a8-49e4-11e5-86fe-3a1c449b74f4.jpg)

[2015-08-23 19:20] netherspite opened #1491 "One of Ruuan'ok Ravenguards has too fast respawn timer"
This one has too fast respawn timer (~5x faster than other mobs around):
![wowscrnshot_082315_181007](https://cloud.githubusercontent.com/assets/5777848/9429770/1b7019e0-49e5-11e5-9f08-6f7d937a816d.jpg)

Or there are two spawn points because you can even get two of them at the same time:
![wowscrnshot_082315_181532](https://cloud.githubusercontent.com/assets/5777848/9429781/3b4d990e-49e5-11e5-9712

[2015-08-23 19:23] netherspite opened #1492 "Ruuan Weald Basilisks have their charge ability behaving weirdly"
It seems to be split into two effects: knockback + charge itself.
While it's okay (may be that's correct way of implementing this) there are two problems with it:
1. There is a noticeable delay between the knockback and the charge. So the Basilisk is casting knockback from the distance first and then (after 0.5s) he charges to you. Looks really weird.
2. More important, they keep casting knockback

[2015-08-23 19:25] netherspite opened #1493 "Duplicate Understanding Ravenspeech buff"
When you have the Whispers of the Raven God quest and kill an arrakoa in the area, you're supposed to get this buff.
However, you get two copies of it, one of them has description text and another does not.
This is small glitch but still.

![wowscrnshot_082315_182844](https://cloud.githubusercontent.com/assets/5777848/9429804/d0323f66-49e5-11e5-9d89-964fe787ed49.jpg)

[2015-08-23 19:26] netherspite opened #1494 "Grishna Raven does not remove Polymorph effect when in Bestial Wrath"
![wowscrnshot_082315_184241](https://cloud.githubusercontent.com/assets/5777848/9429809/f8404606-49e5-11e5-9db7-ad23b1f59ca3.jpg)

[2015-08-23 19:27] netherspite opened #1495 "Invalid Game object tooltip in Whispers of the Raven God quest"
The object that gives you quest credit for the Fourth Prohecy shows "First Prophecy" tooltip when you mouse over it.

[2015-08-23 19:29] netherspite opened #1496 "Wyrmcult Blackwhelps are moving for a while before disappearing for the quest"
After you use the net on them for the quest Whelps of the Wyrmcult, they are netted immediately correctly but after that they move for a while before they finally disappear and account for the quest credit.
Sometimes this time is really high (like 5-10 seconds) and they move to their original wandering location (and start wandering).

[2015-08-23 19:31] nullfoxh commented on #1122
So their bug fix wasn't 100%? Intent was to fix it and it seems there seems to be less complaining about it as well. Resists breaking stealth hardly makes sense anyway :)

[2015-08-23 19:31] netherspite opened #1497 "[Blocker] Wyrmcult mobs do not drop Costume Scraps"
I killed like ~20-30 of them (tried both the mobs at the Blackwing Coven and the mobs at the tunnel from Ruuan Weald) while having the Meeting at the Blackwing Coven.
I got no Costume Scraps drops.
By the way, according to comments on wowhead, they should drop even after you complete that quest:
http://www.wowhead.com/item=31121/costume-scraps#comments

[2015-08-23 21:04] YourNewfriend commented on #1237
http://wow.curseforge.com/addons/evlooter/files/9-looter-1-1-2/
"1.0.18: Updated TOC and added a toggle for mount after looting while holding a modifier (alt or control), also made it so that mount after gathering only triggers off gathering herbs, ores, or skins (also made it so it doesn't mount after pickpocketing)."

http://eu.battle.net/wow/en/forum/topic/8561236053
"Here is a script that will

[2015-08-23 21:15] netherspite opened #1498 "Dampen Magic works incorrectly against elemental NPCs"
Elemental NPCs have magical basic attack and thus it is affected by the Dampen Magic (which is correct).
However, since patch 1.12.0 Blizzard fixed it a bit. Previously (and currently on CC) Dampen Magic was able to reduce the hits of elementals below 50% of the original damage (the minimum damage per hit was 1).
Since 1.12.0 Dampen Magic reduces magical melee attacks by flat 50% regardless of the

[2015-08-23 21:16] justinbeaver commented on #1316
Arcane Shot don't break vanish but it should.
![2_2](https://cloud.githubusercontent.com/assets/13700367/9430193/c12adffe-49a0-11e5-9942-03ba96a99cb1.jpg)
Didn't deal any damage and nothing about it in combat log, was it successful or something. Like UFO.

[2015-08-23 21:33] blazingsolos commented on #1483
duplicate

[2015-08-23 22:31] justinbeaver commented on #1414
Basically here are two different reports:

<b>First</b> is about to break CC with swd and I pretty sure it's only wotlk thing.

But <b>second</b> is about buffering ability to break vanish. As we're know if you hit rogue in window between he uses vanish (we can see him with vanish buff) and when he is completely invisible it will break vanish. For example druid is casting starfire and spamming moo

[2015-08-23 22:33] KimmoKM commented on #693
Yes, the damage during MC phase seems too high. Or rather, the casting AI seems too good. I wiped on the boss a dozen times just now and my character (a fire mage) consistently zeroed in on someone and just cast Fire Ball after Fire Ball. If I was out of sight of other players (like I tried to be for obvious reasons), the character ran straight into range while spamming Arcane Explosion/Blast Wave

[2015-08-23 22:40] justinbeaver commented on #1165
Track Hidden
![](http://i.imgur.com/imdZLR2.jpg)
https://www.youtube.com/watch?v=NeEcutClSXo&feature=youtu.be&t=1088

[2015-08-23 22:41] nullv0id commented on #1414
Could you provide a link to a thread that says you should be able to break vanish by spamming an instant while casting. Only thing I was able to find was the ones about hydras video, which became a thing in wotlk and was later fixed.

[2015-08-24 00:29] Chulain commented on #1495
http://www.wowhead.com/object=184950/the-first-prophecy

[2015-08-24 00:32] Chulain commented on #1494
http://www.wowhead.com/npc=20327/grishna-raven
on 2010/01/06 (Patch 3.3.0)
Whilst under Bestial Wrath these are immune to Hibernate, and Bestial Wrath being cast removes the Hibernate effect.

[2015-08-24 00:34] Chulain commented on #1493
http://www.wowhead.com/spell=37642/understanding-ravenspeech
with tooltip

http://www.wowhead.com/spell=37466/understanding-ravenspeech
no tooltip

[2015-08-24 00:35] Chulain commented on #1492
http://www.wowhead.com/npc=20987/ruuan-weald-basilisk

[2015-08-24 00:36] Chulain commented on #1490
http://www.wowhead.com/object=185033/collection-of-souls

also, just me or missing glowing effect on corecraft?

[2015-08-24 00:39] Chulain commented on #1489
quest
http://www.wowhead.com/quest=10859/gather-the-orbs

"npcs"
http://www.wowhead.com/npc=20635/razaani-light-orb
http://www.wowhead.com/npc=20771/razaani-light-orb-mini

[2015-08-24 00:46] Chulain commented on #1479
when was this fixed on retail?

[2015-08-24 00:48] Chulain commented on #1469
http://wowwiki.wikia.com/wiki/2.40
Turn Undead(Rank 3):This spell has been reworked and has been renamed to “Turn Evil”. It will now work on Demons in addition to Undead. Turn Evil is subject to diminishing returns, and lasts 10 seconds in PvP.

[2015-08-24 03:59] lynxzor opened #1499 "LOS Shattered Halls"
Just before the first boss room by the sewers (only noticed it really quickly before we jumped down).

[2015-08-24 06:54] netherspite commented on #1490
IIRC the glowing effect was there until I looted it.

[2015-08-24 06:54] netherspite commented on #1492
http://www.wowhead.com/npc=20924/grishnath-basilisk
http://www.wowhead.com/npc=20925/scalded-basilisk

[2015-08-24 06:55] netherspite commented on #1494
Yes, I read this comment on wowhead and I guess the same applies to Polymorph effect.

[2015-08-24 06:57] netherspite commented on #1491
http://www.wowhead.com/npc=19987/ruuanok-ravenguard

[2015-08-24 06:58] netherspite commented on #1496
http://www.wowhead.com/npc=21387/wyrmcult-blackwhelp

[2015-08-24 09:03] netherspite opened #1500 "Deathforge Technicians in the tunnel leading to Death's Door have issues with Drain Life"
All the ticks of the Drain Life are ending with "Miss" and do not deal any damage or restore any life.
Technicians in the Death's Door itself do not have this issue for some reason.

![wowscrnshot_082415_102742](https://cloud.githubusercontent.com/assets/5777848/9436462/23141ec6-4a58-11e5-92a5-7132cb23bfb5.jpg)

[2015-08-24 09:04] netherspite opened #1501 "Death's Door Fel Cannons are not turning to the gates when you control them"
![wowscrnshot_082415_103951](https://cloud.githubusercontent.com/assets/5777848/9436472/3e5e8d9c-4a58-11e5-87e8-b393ff335dc4.jpg)

[2015-08-24 09:06] netherspite opened #1502 "Death's Door Fel Cannons are not shooting gates if you don't target the cannon"
If you attempt to use the ability to shoot the gate from your pet action bar without the cannon targeted it will say "Invalid target".

[2015-08-24 09:07] netherspite opened #1503 "Quest marks at Area 52 are not updated correctly"
When you take/complete a quest in Area 52 the exclamation/question mark above the NPC head does not disappear until you move out of range of sight of the NPC or relog.

![wowscrnshot_082415_112629](https://cloud.githubusercontent.com/assets/5777848/9436523/b02d382e-4a58-11e5-9005-8137e5692385.jpg)
![wowscrnshot_082415_112930](https://cloud.githubusercontent.com/assets/5777848/9436527/b71b13ae-4a58

[2015-08-24 09:09] netherspite opened #1504 "A Heap of Ethereals quest cannot be accepted"
It says "You don't meet the requirements for that quest" when you attempt to take it (however it is initially displayed after you complete the previous quest in the chain).

The quest link: http://www.wowhead.com/quest=10262/a-heap-of-ethereals

![wowscrnshot_082415_115322](https://cloud.githubusercontent.com/assets/5777848/9436556/eafdb47e-4a58-11e5-8398-c7f693567c17.jpg)

[2015-08-24 09:10] netherspite commented on #1500
http://www.wowhead.com/npc=19979/deathforge-technician

[2015-08-24 09:10] netherspite commented on #1501
http://www.wowhead.com/npc=51612/deaths-door-fel-cannon

[2015-08-24 09:11] netherspite commented on #1502
http://www.wowhead.com/npc=51612/deaths-door-fel-cannon

[2015-08-24 09:16] justinbeaver commented on #1414
@nullv0id
I'm looking for some info with spell instant.
But would be nice to see why it should not be possible, if your cast is stopped, rogue with vanish buff is in your target and you spamming any instant spell, what kind of error it tells you or something? If someone has any info on this this is the right topic to post.

[2015-08-24 09:57] lynxzor commented on #1504
#1481
#524

[2015-08-24 10:17] Doppelmoral commented on #1479
Nice source though. 1 random guy on a hacker forum posting such crap few days before 3.0.2 (WotLK pre-patch) and you report this abuse as intended mechanic for TBC here ?

[2015-08-24 10:22] Doppelmoral commented on #1475
I haven't yet researched that but I'm confident that's how it was during retail TBC. I recall confusion about active/inactive meta gems etc. The inspected player's meta gem appears inactive for you if you as inspecting player don't meet the requirements.

[2015-08-24 10:59] netherspite commented on #1504
Yes, seems to be duplicate. Sorry.

[2015-08-24 11:00] #1504 closed, assigned to nobody

[2015-08-24 11:56] Peonstomperx commented on #1479
I don't think it was ever fixed, probably they just kept it in there cus it's a cool trick.

http://www.mmo-champion.com/threads/1121323-Is-there-a-quot-point-quot-to-fear-ward/page3
 2012-04-25: "My point was with regard to the earlier mention of fearwarding yourself to stop the fear and keep fear ward on instant fears, and lucettes claim that this was "pretty basic" - warding a lock is like deat

[2015-08-24 12:30] #730 closed, assigned to ccnim

[2015-08-24 14:32] netherspite opened #1505 "Bessy is such unforgiving and revengeful cow"
Bessy in "When the Cows Come Home" quest can become angry at you and attack you while staying friendly (green).
Steps to reproduce:
1. Take the quest.
2. Manage her to aggro any Tormented Soul NPC.
3. Wait for the NPC to turn into Kirin'var Ghost and cast "Soulbind" on the cow.
4. Damage the NPC.
5. Let the NPC die somehow (kill it or let the cow do it).
6. Enjoy your friendly cow getting her reve

[2015-08-24 14:34] Chulain commented on #1475
https://github.com/ccshiro/cc-buglist/issues/1474 related?

[2015-08-24 14:35] Chulain commented on #1505
http://www.wowhead.com/npc=20415/bessy

[2015-08-24 14:37] netherspite opened #1506 "Mobs are staying in place instead of running to you if they can't cast their ability on you sometimes"
It's happening rarely.
And every time it happened I was forgetting or being too late in typing the movegens command or screening it.
Finally I got 2 screens with movegens verbose dump.
What exactly happens:
After you counterspell caster mob that's frozen by Frostbite or something, sometimes after the frozen debuff wears off the mob keeps staying in place instead of trying to reach you and melee yo

[2015-08-24 15:07] ccshiro commented on #1487
Client-side behavior.

[2015-08-24 15:07] #1487 closed, assigned to nobody

[2015-08-24 15:10] ccnim commented on #1486
That's how it should work

[2015-08-24 15:10] #1486 closed, assigned to nobody

[2015-08-24 15:11] #1483 closed, assigned to nobody

[2015-08-24 15:13] #1453 closed, assigned to ccshiro

[2015-08-24 15:13] koboltti opened #1507 "[Hellfire Ramparts][Mage] Ice blocking mid-air during Omor's shadow whip causes some unexpected stuff"
One can stay in the instance by ice blocking mid-air while affected by Omor's Shadow Whip ability. If the mage is lucky, he gets knocked over the ledge of Omor's platform while ice blocked. Doing so results in landing at the bottom of HFP ravine without leaving the instance (as in, you don't see loading screen so you never actually _leave_ the instance). This results in the mage being able to expl

[2015-08-24 15:18] #1454 closed, assigned to ccnim

[2015-08-24 15:25] ccnim commented on #1419
Have you tested the helm?

[2015-08-24 15:35] #1470 closed, assigned to ccshiro

[2015-08-24 15:48] ccshiro commented on #1424
Think #1147 is the same bug.

[2015-08-24 15:51] #1295 closed, assigned to ccnim

[2015-08-24 16:09] ccnim commented on #1441
#1197

[2015-08-24 16:09] #1441 closed, assigned to nobody

[2015-08-24 16:15] #1147 closed, assigned to ccshiro

[2015-08-24 16:15] #1424 closed, assigned to ccshiro

[2015-08-24 16:20] ccnim commented on #1148
#738

[2015-08-24 16:20] #1148 closed, assigned to nobody

[2015-08-24 16:24] SuddenDeath commented on #1479
Well, not sure how this would be implemented without knowing a lot more about the spell batch mechanics that retail had. Only way would probably be some dirty hack "fix".

Since when you cast buffs on yourself, they are always cast instantly, there's no batch system for spells you cast on yourself. While incoming fears will follow the batch system, how would one implement it?

Still was clearly a

[2015-08-24 16:28] #1171 closed, assigned to ccshiro

[2015-08-24 17:11] justinbeaver opened #1508 "[Hunter/Paladin] turn off aura if cycloned"
If <b>HUNTER</b> gets cycloned trueshot aura should be removed for cyclone time from hunter and party members/pet
![1212led](https://cloud.githubusercontent.com/assets/13700367/9446430/627ea6d4-4a9a-11e5-8b56-fac245781394.png)
![1212123123led](https://cloud.githubusercontent.com/assets/13700367/9446433/653625c8-4a9a-11e5-967e-a257b09db93f.png)
https://youtu.be/c7lSoxRBNsw?t=158

Right now aura rem

[2015-08-24 17:16] #1198 closed, assigned to ccshiro

[2015-08-24 17:17] robinsch commented on #1247
Only call Attack() at EffectCharge when playerCaster->getSelectedUnit() == target.

[2015-08-24 17:31] Peonstomperx commented on #1479
this is less of a bug than petattacking stealth and breaking vanishes(even with fucking cloak up), since they were fixed in later expansions

[2015-08-24 17:33] ConfusedCC opened #1509 "Quest:Hero of the Mag'har"
when Thrall walks back to the hut for the final sit down with the greatmother he doesnt say his final line

 "   Thrall says: I have returned, Greatmother. Garrosh has found his heart and his fury.  "

Made a movegens verbose then waited until he despawned incase it was just delayed
![wowscrnshot_082415_191854](https://cloud.githubusercontent.com/assets/10581981/9447290/d7d5eacc-4a96-11e5-9577-442

[2015-08-24 17:45] #1250 closed, assigned to ccshiro

[2015-08-24 17:49] ccshiro commented on #1254
Need help finding a reliable trigger.

[2015-08-24 17:50] ccshiro commented on #1244
Moving to low priority. As long as he properly evades when he can't reach you, it's not really a huge issue.

[2015-08-24 17:58] shadowraider commented on #1499
this is not how the report should look like, you should write better description connected with screenshots

[2015-08-24 17:59] ConfusedCC opened #1510 "K'ure and Orc ancestors in oshu'gun"
K'ure and Orc ancestors in oshu'gun are affected and aggroed by seed of corruption final effect

https://youtu.be/s3WRZLbRT4k

[2015-08-24 18:11] #596 closed, assigned to ccnim

[2015-08-24 18:19] ghost commented on #1215
@ccshiro I can confirm this, he was part of the inst nxe the whole time, however, what would happen in case we wanted to kick a party member to invite someone else? Would the timer start of the /leaveparty is triggered by a party leader uninvite?

[2015-08-24 18:23] #1159 closed, assigned to ccnim

[2015-08-24 18:31] #1225 closed, assigned to ccshiro

[2015-08-24 18:46] ccshiro commented on #1384
@ConfusedCC Not being able to blink in the middle of that ramp sounds wrong, will look into it.

[2015-08-24 18:56] ccshiro commented on #1384
Fixed the case in @ConfusedCC's screenshot.

[2015-08-24 18:56] #1384 closed, assigned to ccshiro

[2015-08-24 19:01] ccshiro commented on #1215
If he has a bind to the instance in his Raid Info there's nothing you can do to prevent him from entering, short of filling the instance so there's no more room for additional people to enter. This doesn't happen in normals, but in heroics and raids. The suggestion being; don't PUG with people you don't trust if you're doing raids.

[2015-08-24 19:01] #1215 closed, assigned to nobody

[2015-08-24 19:07] ccshiro commented on #1168
@SuddenDeath This would be significant effort to fix, so I'll put it as low priority for now.

@Peonstomperx What you're posting is unrelated to this issue. If you have it happen again, open a new issue with the ".movementgens --verbose", please.

[2015-08-24 20:06] #1184 closed, assigned to ccnim

[2015-08-24 20:52] #1495 closed, assigned to ccnim

[2015-08-25 00:07] KimmoKM opened #1511 "Blacksmithing keys not compatible with keyring"
While levelling blacksmithing, I crafted some Golden Skeleton Keys. They appeared in my standard bags and when trying to drag them to the keyring, I receive message "That item does not go in that slot".

According to http://wowwiki.wikia.com/wiki/Keyring BS keys should be compatible. Thus far I've only tested the issue with Golden Skeleton Key.

[2015-08-25 00:17] Pinhastest commented on #1511
Same aplies to this quest ( http://www.wowhead.com/quest=9948/finding-the-survivors ) keys

[2015-08-25 03:14] lynxzor commented on #1505
Maybe related #1463

[2015-08-25 08:07] Aasamath commented on #1402
If i read correctly Shiro has scripted auto shot like an auto cast spell, so correcting the equip bug will change the behavior for hunter on the server i presume.
Though auto shot might have had a different behavior than normal spells after the patch.
I guess that one could still be researched.

[2015-08-25 08:36] Aasamath commented on #888
On the vanilla video, switching weapon didn't cancel auto shot, but it didn't cancel the shoot animation either.
12:00 on the video above, the hunt switchs weapon in the middle of the animation, without reseting it.
at 2.4.3: switching could either have cancel the auto shoot, or just reset the animation without canceling the auto cast.

[2015-08-25 13:23] #1497 closed, assigned to ccnim

[2015-08-25 13:25] ccnim commented on #1491
There are 2 mobs close to each other there but both of them have the same respawn timer as the rest of the ravenguards.

[2015-08-25 13:25] #1491 closed, assigned to ccnim

[2015-08-25 14:44] netherspite opened #1512 "Dr.Boom quest is not working properly"
~70% of the time when you hit him with the Bomb it does not actually damage him.
May be the target area that needs to be hit is just at the wrong location but I didn't manage to find it.
Out of 17 bombs I thrown only 3-4 damaged him.
I tried throwing bombs so he will be in the middle of the green target circle, I tried throwing bombs a little behind him and at other places. Still no luck with gett

[2015-08-25 14:46] netherspite opened #1513 "Sundered Rumblers and Warp Aberrations are spawning 2 Elemental Powers instead of one"
Quest: http://www.wowhead.com/quest=10226/elemental-power-extraction
It's obvious from comments that they should spawn 1 Power per elemental.

[2015-08-25 14:47] netherspite commented on #1506
Managed to capture 1 more today.

![wowscrnshot_082515_170557](https://cloud.githubusercontent.com/assets/5777848/9469724/5891063c-4b51-11e5-994e-396b79a76214.jpg)

[2015-08-25 15:18] #1490 closed, assigned to ccnim

[2015-08-25 15:46] ccnim commented on #1434
Fixed the values, I also made the cursed spirit a stronger version than the bladespire evil spirit due to the comment he left on the wowhead.

[2015-08-25 15:46] #1434 closed, assigned to ccnim

[2015-08-25 15:50] #1513 closed, assigned to ccnim

[2015-08-25 15:50] ccnim commented on #1513
#1490

[2015-08-25 16:17] #1316 closed

[2015-08-25 18:38] netherspite opened #1514 "Bloodgem Crystals quest is broken"
When you attempt to use Bloodgem Crystal close to the large red crystals at Manaforge B'naar, the cast starts but cancels after 0.5s or so. The crystal disappears from your inventory and you never receive the quest credit.

Quest: http://www.wowhead.com/quest=10204/bloodgem-crystals

[2015-08-25 18:57] ccnim commented on #1467
It procs from an aura. I think it'd be good if we can gather some evidence that this cooldown is indeed respected on retail as well.

[2015-08-25 19:52] KimmoKM opened #1515 "All blacksmithing weapons craftable regardless of specialization"
It is possible to craft all weaponsmithing weapons (Thunder, Lionheart Blade, Lunar Crescent and their upgrades and 1-handed equivalents) even if you're not specialized in any type of weaponsmithing. The weapons have a Master Sword/Axe/Macesmith requirement needed for equipping them, but while I wasn't able to find trustworthy evidence of this being the case, I'm very confident you need the specia

[2015-08-25 21:10] YourNewfriend commented on #888
I'm quite sure that the timer (and animation) is reset in the video by swapping

[2015-08-25 21:39] netherspite opened #1516 "Failed spells now appear as successful; out of range behavior is now wrong"
Since some of the last hotfixes, there are two new issues with the spell casting:
1. If you start to cast a spell while the target is in range and it goes out of range during the cast it should go through anyway (unless the target went too far away). It was working like that correctly but now the cast does not go through even if the target went just 1 extra yard out of range.
2. If the spell cast

[2015-08-25 21:44] Kplz commented on #1512
I killed him without a problem few weeks ago. Every bombs hit him, he throw dynamite when u are close to him. bomb bots working fine too.

[2015-08-25 21:49] netherspite commented on #1512
Idk about few weeks ago but right now you can't get close enough to hit him without getting hit by the dynamite + bombs do not hit him 70% of the time.

[2015-08-25 22:46] MazgarStocic opened #1517 "2 Problems with tanking Shadow Labyrinth as Prot Pala"
The first bug was that if i tried to pull the mobs that are on the 1st boss and after it with avenger's shield, it did no damage to them and it didnt actually pull them.

The only thing that happens is the animation they get hit by the shield but take no damage and get no debuff, dont get pulled or get me into combat, very bad because its the best way to pull mobs as a prot pala.

Second one i not

[2015-08-25 23:16] #1235 closed, assigned to ccnim

[2015-08-25 23:26] Aasamath commented on #888
If he switches when he is in position, just waiting for the arrow to go while he is aiming, there is an animation, but it's more like a bug animaiton (you see the character move like he has taken damage, not reloading the weapon).
The other scenario i saw ( at 12:00 on video)  is when the character is doing the loading animation (i mean picking and arrow from the quiver and placing it on bow), swi

[2015-08-26 00:04] Peonstomperx opened #1518 "Pet unresponsive"
![wowscrnshot_082615_020211](https://cloud.githubusercontent.com/assets/12783794/9482689/ea53fda0-4b96-11e5-8890-111fc2a00f3c.jpg)

was duelling and feldom pet with macro

gouge fixed it later

[2015-08-26 01:13] Peonstomperx opened #1519 "Soul Link"
pet doesn't recieve damage from hellfire, not breaking cc

[2015-08-26 07:48] Kplz commented on #1512
I died first time, tried it again and  every bomb hit him but range looks like shorter than before.

[2015-08-26 08:08] netherspite commented on #1512
I spent a whole 30 minutes there + 3 corpseruns trying to get him below 75%.
I trust my eyes and I know I hit him with the very middle of the green circle when he didn't get any damage.

[2015-08-26 08:21] ConfusedCC commented on #1000
Had this happen today, boat stops before the loading screen and when you zone in to the other port the boat is pretty close to docking

Menethil to Theramore: https://www.youtube.com/watch?v=R1BxJJN4TR4
Theramore to menethil: https://www.youtube.com/watch?v=eYRn1zsmmho

[2015-08-26 08:30] Ickler opened #1520 "[Quest] He will walk with the earth - gives no Experience upon delivery"
The quest as mentioned above gives no experience as reward when turned in. http://www.wowhead.com/quest=9866/he-will-walk-the-earth If this is correct at least it's supposed to give some?

[2015-08-26 09:39] Aasamath commented on #12
I was doubtful, but it seems the current behavior is indeed correct (instant interrupt), when looking at s4 videos.
These  screens are from https://www.youtube.com/watch?v=xF4Rx1sQYQU
![1](https://cloud.githubusercontent.com/assets/13113093/9489790/d182c962-4be3-11e5-9959-eb54df2600d9.png)
This is just before deadlythrow is activated (gcd is free)
![2](https://cloud.githubusercontent.com/assets/13

[2015-08-26 10:04] petaal commented on #1167
This also happened to me. I crafted Heavy Clefthoof Vest, Leggings and Boots and sent them to another character. The mail arrived empty without items.

[2015-08-26 11:10] Peonstomperx opened #1521 "Hellfire shouldn't cause combat"
http://wowwiki.wikia.com/wiki/Hellfire
Wrath-Logo-Small Patch 3.3.0 (08-Dec-2009): Dealing damage to another player with this ability will now put the Warlock in combat.

[2015-08-26 12:07] ConfusedCC commented on #1521
this was a bug that was introduced earlier in wotlk , havent seen any proof that this bug existed in tbc.

[2015-08-26 12:24] justinbeaver commented on #1165
Prowl
![1](https://cloud.githubusercontent.com/assets/13700367/9493157/7053c77c-4c06-11e5-8106-8fcf84eb8702.png)
![2](https://cloud.githubusercontent.com/assets/13700367/9493160/72f3ab00-4c06-11e5-8b5f-7eddcc383a76.png)
![3](https://cloud.githubusercontent.com/assets/13700367/9493164/74ca5b4a-4c06-11e5-9355-e3ee2d4f2f96.png)

https://youtu.be/G4RwjpLvbBY?t=403

[2015-08-26 13:33] #1240 closed, assigned to ccnim

[2015-08-26 14:10] ccshiro commented on #1517
This should've been fixed last night. Also seems to work for me atm. Could you recheck if it works for you now, please?

[2015-08-26 14:11] ccshiro commented on #1516
Seems to work for me. We pushed some new fixes that could've affected this last night. Could you recheck your issue, please?

[2015-08-26 14:12] ccshiro commented on #1512
@netherspite We pushed a fix that should've solved this last night. Mind testing again, please?

[2015-08-26 14:17] Aasamath opened #1522 "[warlock] dot damage on pet via soul link, keep players in combat"
On a moonkin if i dot a warlock with soul link, i won't leave combat until the dot is over.
But if dot the warlock without soul link or the pet (soul link or not) i can leave combat while dots are ticking.

[2015-08-26 14:29] netherspite commented on #1516
Works fine now, thanks.

[2015-08-26 14:29] #1516 closed, assigned to nobody

[2015-08-26 14:33] #1505 closed, assigned to ccshiro

[2015-08-26 14:37] netherspite commented on #1512
Just killed him, now every bomb that hits him visually damages him correctly.

[2015-08-26 14:37] #1512 closed, assigned to ccnim

[2015-08-26 14:48] Peonstomperx commented on #1522
I think the bug here is pet taking damage causing combat to owner

[2015-08-26 14:54] AT-Studio opened #1523 "Shadowmoon Slayers at BT"
A pair of Shadowmoon Slayers seem to have incorrect positioning/pathing when they engage each other to fight.  They move on top of each other and face the same direction instead of facing each other with the appropriate distance between them.  There's only one pair that seems to do that, I don't have coords but they are easy to spot.

[2015-08-26 15:04] Aasamath commented on #1146
About fear, with the tbc formula, fear could break on absorbed damaged.
https://www.youtube.com/watch?v=GRwGLp1fzo8   0:45 and 0:55
2 fears end prematuraly while the lock has the blue pet sacrifice shield on him.

about spells that break on damage, i found a shadow word death/sheep while the priest has his shield up. Even with the damage from swd being absorbed, the polymorph breaks.
https://youtu

[2015-08-26 15:09] ccnim opened #1524 "Graveyards"
Currently the graveyards that are used for many locations around the world are wrong.

[2015-08-26 15:15] nullfoxh commented on #1460
Search for "critter"
Find https://github.com/ccshiro/cc-buglist/issues/715

[2015-08-26 15:16] Aasamath commented on #1083
Fear doesn't have a threshold at tbc, or at least it wasn't the major mechanic that was regulating it.
the 3.1 patchnote was a nerf of the 3.0 formula
43% hp to 3% no heals on one fear https://www.youtube.com/watch?v=lLcazvAGtOM 2:00
if threshold existed it was then 40% mini

On the other hand
https://www.youtube.com/watch?v=kk2yfdLOISI 0:10
the lock casts a fear on the other lock, damages on him

[2015-08-26 15:37] Aasamath commented on #1294
I'm currently, gathering data from post 2.1 videos and putting them on an xml file.
For each damage  on a fear i see, i note the damage done, the hp% lost, cc duration, number of dots when the damage happens, the number of dots that could have happen in a same batch etc...
When the data sample is dense enough, i'll try to pull out some stats.
Though this process being pretty f...ing long, i'm doin

[2015-08-26 16:07] Aasamath commented on #1480
Later i had a similar bug, i was in dungeon and noticed i was still queued for skirmish.
When trying to leave queue, i had the "you can't do that in combat" error, eventhough i wasn't.
I think the dungeon was shetteck halls.

edit: thought this might be related to warlock summon bug, but since you can click on portal even in combat, this is not the problem there.

[2015-08-26 17:36] ConfusedCC commented on #1523
Looks like any pair that has to move towards eachother to enter melee range, has a chance of ending up in a wierdly looking dueling position
found 3 pairs that end up inside eachother regularly
![wowscrnshot_082615_193300](https://cloud.githubusercontent.com/assets/10581981/9501108/7c510580-4c29-11e5-92c0-952159d3a4d0.jpg)

![wowscrnshot_082615_194009](https://cloud.githubusercontent.com/assets/10

[2015-08-26 20:19] Ickler commented on #1460
Apparently critters are supposed to drop combat after a while, + it appears evident that their AI broke at some point. Since I've yet to see a critter attack or flee at all on this test.

[2015-08-26 21:15] justinbeaver opened #1525 "Casting when feared"
From retail movie where druid is able to cast and move when feared.

Fear has landed in cyclone cast without interruption and cyclone was successful
![0](https://cloud.githubusercontent.com/assets/13700367/9505767/ed072232-4c4c-11e5-8c90-c48262a23f84.png)

and then druid was able to cast lifebloom
![1](https://cloud.githubusercontent.com/assets/13700367/9505915/a58a4d84-4c4d-11e5-99c0-56ab4c37352d

[2015-08-26 22:01] Peonstomperx commented on #1525
probably seal of justice; http://www.wowhead.com/spell=20164/seal-of-justice#comments prevents target from fleeing, fear=flee

[2015-08-27 04:51] Aasamath opened #1526 "[Warlock] Spell lock"
When being interrupted by a fellhunter, it is possible to cast a spell from a different magic school before the silence takes effect.
If a Mage cast frostbolt while spamming blink, when interrupted the mage can still blink before getting silenced.
Tried the other way around and it's no possible to do that with a mage improved counterspell.
There is a chance it' normal behavior, but that seems weir

[2015-08-27 04:57] Aasamath commented on #1522
I might be that but since pet dealing damage puts you in combat, receiving damage might also do it.
Or could be that soul link damage, shouldn't put pet in combat at all.
Or pet should "aknowledge" it's a dot and not consider each tick he receives as a direct hit, reseting combat timer.

[2015-08-27 08:28] Mechaning opened #1527 "Hellfire Peninsula : Zeth'Gor : Aggro through the wall"
*\* I saw that you closed a case on this issue but it's still problematic. **
https://github.com/ccshiro/cc-buglist/issues/927

Basically, the western palisade in Zeth'Gor doesn't act like a wall. Pretty much the same for the other structures in the area.  Got a nifty video for ye.
https://youtu.be/WvJxQ6bgm5o

[2015-08-27 09:39] Aasamath commented on #847
About damage there is an incomplete  list of succubus stats per level (lvl 70 are there though) on this thread. If i'm not mistaken, by looking at the "edit history" this was written in march 2008
http://wowwiki.wikia.com/wiki/Succubus_(warlock_minion)?oldid=1565074

edit: from the screen you linked i compared resistance with the same buffs on corecraft
![fg_3k_ap_052307](https://cloud.githubuserc

[2015-08-27 10:02] mara1987 commented on #1524
Sacrilege!!!

[2015-08-27 10:47] Chulain commented on #1520
http://db.lastwow.com/?quest=9866
0 exp

probably wrong tho

[2015-08-27 11:13] Peonstomperx commented on #1120
Corruption doesn't stack atm, proof it should: https://youtu.be/JrioEi-46ek?t=255

[2015-08-27 11:54] KimmoKM commented on #180
I can confirm that learning and unlearning specializations seems to work fine at Orgrimmar/Everlook trainers, but the Shattrath NPCs have incorrect responses mentioned above (and they can't be used for unlearning specialization despite them having a dialogue option for it).

As exitus already pointed out, there seems to be no mention of them ever having been able to teach (or forfeit) specializati

[2015-08-27 13:05] Ickler commented on #1520
If you go back to 2010 on Webarchive you get this: http://web.archive.org/web/20100502060952/http://www.wowhead.com/quest=9866/he-will-walk-the-earth

Where it gives XP + 75 rep. I'm not sure which is correct, and which is wrong.

Nowadays Thottbot: http://www.thottbot.com/quest=9866/he-will-walk-the-earth

[2015-08-27 13:57] justinbeaver commented on #1525
Yea that is right, gonna test it later if no one else did. And what about debuff that looks like sw:p? Is it siphon life with weird icon?

<b>curse of recklessness / judgement of justice</b> Both allow you to "break" the fear on your target if it's already feared, or to make it immune to fear effects if it's not feared yet.
https://www.ownedcore.com/forums/world-of-warcraft/world-of-warcraft-explo

[2015-08-27 14:36] Barroth commented on #1498
I think he meant the spellcoeff replacement for meele hits would be 50%. Reducing elemental meele damage by 50% would be way too strong, for example it would have been a must have buff on fights like Hydross or Ragnaros but no guide mentions it.

[2015-08-27 14:42] netherspite commented on #1498
I think it just won't work at all on bosses.
Because the phrasing is pretty clear: "“melee magic” abilities that do not have a coefficient they are reduced by a flat 50% regardless of the talent".

[2015-08-27 14:46] Aasamath commented on #925
On the video he has a proc of this item http://www.wowhead.com/item=29370/icon-of-the-silver-crescent
the ticks of health funnel goes from 541 to 585 with a boost of 155 healing bonus.
Using the info from this page http://wowwiki.wikia.com/wiki/Spell_power
I determined that the coefficient of heal gained by each tick of health funnel is 28.57% of the bonus healing statistic.
28.57% of 155 is 44.
5

[2015-08-27 15:09] Aasamath commented on #637
https://youtu.be/0M3HznqYuzc?t=16 charging a mob on top of a hill
https://youtu.be/JREhSDVJdvA?t=184https://youtu.be/JREhSDVJdvA?t=184  charging from the roof a warsong.

[2015-08-27 16:37] Lephidiles commented on #1000
@ConfusedCC  what kind of client do you use ? (mine is enGB from the old cds that i have) might be interesting if it is the client

Will record some new videoes of the boat as well

[2015-08-27 16:43] Aasamath opened #1528 "[Undead] Will of the forsaken removes Mind control in pvp."
Got mind controllled, and removed it with wotf.
![wowscrnshot_082715_184346](https://cloud.githubusercontent.com/assets/13113093/9526783/aa455410-4ceb-11e5-86df-b510f8619a75.jpg)

[2015-08-27 16:55] robinsch commented on #1294
What I have worked out is (no proves!):
![Image](https://i.gyazo.com/6e8115da9db28c2243c72e1c6e429f53.png)

[2015-08-27 17:06] Aasamath commented on #1294
I don't understand code that well, so i can't give any input about what you wrote.
Only thing  i know is that i saw "root" somewhere. And a question has been bugging me for a while.
Do nova, roots (and some other spell i might not think of) share the same formula as fears (lock and priest) regarding lower chance to break on dots.
This was introduced in 1.11 for fear and 1.12 for how of terror and

[2015-08-27 17:24] Aasamath commented on #899
I had this bug again in Slave pens, the player who couldn't click had been mind controlled a few packs before it happened, one who could click had been too, but died in beetween.

The two way i found to make it look like this bug (grey cursor) are not being in the same group of course or being in duel with the lock you are grouped with. Since the reports talk about slave pens mostly and shadow lab

[2015-08-27 17:48] #1528 closed, assigned to nobody

[2015-08-27 17:49] Aasamath commented on #1528
Another case of shitty privates vs retail memories

[2015-08-27 18:18] CarboCorecraft commented on #1000
Similar to #262

[2015-08-27 18:25] Lephidiles commented on #1000
https://www.youtube.com/watch?v=w4CyiUtpNBU

[2015-08-27 18:49] #1524 closed, assigned to ccnim

[2015-08-27 18:49] Aasamath commented on #941
Managed to reproduce this by crashing my game.
use a character  with 5/5 corruption or 2/2 improved wolf
atl-f4 your game
relog, you're bugged
ps: for the shaman bug, you need to be in ghostwolf when you alt f4

tried on rogue and it reproduces the same issue as #1380 might be some other reports out there concerned by this.
edit: it also bugs talent increasing range of spells

[2015-08-27 18:50] ccnim commented on #1527
It was closed as invalid because this happened and happens on retail.

[2015-08-27 18:50] #1527 closed, assigned to nobody

[2015-08-27 19:11] #1520 closed, assigned to ccnim

[2015-08-27 19:17] justinbeaver commented on #626
Chain hit to target that not in line of sight.
Mage is hiding behind the pillar and hunter finished him by targeting his pet. Quite beautiful if you ask me.
![](http://i.imgur.com/gEkVdBT.jpg)
https://www.youtube.com/watch?v=m8nOaNMHZIQ&feature=youtu.be&t=333
Desctiption on youtube is incorrect, video is from retail.
WCM link http://www.warcraftmovies.com/movieview.php?id=66527

[2015-08-27 19:24] #1253 closed, assigned to ccnim

[2015-08-27 19:36] ccnim commented on #1252
Seems like we've missed this quest becuase this hasn't been touched at all.

[2015-08-27 20:06] #1251 closed, assigned to ccnim

[2015-08-27 20:11] Aasamath commented on #646
while dualboxing, i came accross this too, i just filmed once the char was already flying but i couldn't reproduce it.
I was seeing my other character lag a bit, then while spamming jump on the mc'ed lock he just started to fly
https://www.youtube.com/watch?v=V6SLHWq9dG4

[2015-08-27 20:11] #1375 closed, assigned to ccnim

[2015-08-27 20:37] netherspite opened #1529 "Talbuks in Creatures of the Eco-Domes quest keep you in combat after falling asleep"
When you use the quest item on one of the talbuks you still are in combat and the mob is still targeting you despite sleeping.
He will keep you in combat until he'll awake.
Very annoying to get out of there by foot to turn in the quest.

[2015-08-27 20:37] netherspite commented on #1529
http://www.wowhead.com/npc=20610/talbuk-doe
http://www.wowhead.com/npc=20777/talbuk-sire

[2015-08-27 20:43] netherspite opened #1530 "Overseer Disguise buff has two stacks for some reason"
Minor glitch but still.

![wowscrnshot_082515_194631](https://cloud.githubusercontent.com/assets/5777848/9532625/70716b14-4d15-11e5-8bae-4d2d83717344.jpg)

[2015-08-27 20:48] Horvic opened #1531 "[Shattered Halls][Quest] Imprisoned in the Citadel"
Upon completing the instance within the timer the quest did not get marked as complete. The NPC is stood there with a greyed out question mark, when you interact with him him you get a complete quest option but clicking does nothing.

Not sure if it is relevant but we all lost our timer debuff throughout the instance, four people to death and mine was removed on Ice Block (possible bug?).

http://

[2015-08-27 20:51] netherspite opened #1532 "Mobs in one of the buildings at Kirin'Var Village are linked"
When you pull any mob in this building I highlighted on the screenshot below, the whole building will come to you in few seconds. This practically means you will die.

![wowscrnshot_082715_234905_](https://cloud.githubusercontent.com/assets/5777848/9532778/60e7d1dc-4d16-11e5-93b9-da1f6af71fe6.jpg)

[2015-08-28 06:35] Ickler commented on #1525
CoR and Judgement of Justice both makes the target ignore fear and flee effects. If you have one of these on you, and you get feared. Fear simply takes a debuff slot, it has absolutely no effect.

[2015-08-28 06:47] Ickler commented on #1419
Just to clarify this item works just like the talent Furor, it doesn't give you 20 more MAX energy. It simply gives you the equivalent to one tick of energy just as you enter cat form. With this + Furor you gain 60 energy upon entering cat form, instead of 40 from Furor alone.

[2015-08-28 07:22] ASrozaev commented on #1488
meta gem/feet enchant 8% will add to your movement

u will get 100%+70%(sprint)+8%(chant/gem)=178%

[2015-08-28 07:51] InvisibleJon commented on #1488
@killas077
The base movement speed 108 then, and Sprint would increase it by 70%. '' (allowing the Rogue to run 108% of the speed of an unmodified character when not Sprinting), he could then Sprint at 183.6% of the speed of an unmodified character (because 1.70 \* 1.08 = 1.836).'' As @CarboCorecraft mentioned.

[2015-08-28 09:25] robinsch commented on #1488
Are you sure this was still the case in 2.4.3?

According to SpellWork following auras should stack with other speed bonuses:
![](https://i.gyazo.com/bd2a5478ccecd402b3afd623d84627cc.png)

[2015-08-28 10:38] Crushhymn commented on #1515
If i recall correctly, you needed the specialization to learn the recipe, but once learned you had it even if you changed to another specialization, despite not being able to wield your mighty weapon.

[2015-08-28 13:15] ghost commented on #1213
didndt see this notification, sorry ,ill review all of them now.
this SS are from the first hours of the Test session, so probably before the fix was applied :), i will retry this later on today (if theres people) or at next test

[2015-08-28 13:15] #1213 closed, assigned to nobody

[2015-08-28 13:17] ghost commented on #1254
been doing some pve yesterday in order to make it trigger, dindt happen single time so i guess it will be harder to find the trigger

[2015-08-28 13:26] netherspite opened #1533 "Glacius (water elemental) is immune to fire and not to frost magic"
That's really weird. I could not find proofs that he should be immune to frost like any normal water elemental though.
![wowscrnshot_082815_000312](https://cloud.githubusercontent.com/assets/5777848/9547244/98861974-4da1-11e5-9306-8382419feab8.jpg)

http://www.wowhead.com/npc=19653/glacius

[2015-08-28 13:28] netherspite opened #1534 "Eye of Culuthas' Focused Bursts ability does nothing"
![wowscrnshot_082815_142730](https://cloud.githubusercontent.com/assets/5777848/9547258/bc35f542-4da1-11e5-80c9-98718f93765f.jpg)

http://www.wowhead.com/npc=20394/eye-of-culuthas

[2015-08-28 13:30] netherspite opened #1535 "Markers in Surveying the Ruins quest are being placed inside the player"
A minor inconvenience but very desorienting.
Markers are being put directly inside the player and the camera becomes first-person.
Not sure how they should be put but in other quests it's usually close to the player but not inside the player.

![wowscrnshot_082815_143358](https://cloud.githubusercontent.com/assets/5777848/9547323/1ea576da-4da2-11e5-8284-faae4a8f5d0d.jpg)

http://www.wowhead.com/qu

[2015-08-28 13:31] netherspite opened #1536 "Sunfury Blood Knight's Blood Heal ability is not interruptible as it should be"
Proof: http://www.wowhead.com/npc=21089/sunfury-blood-knight#comments

[2015-08-28 13:32] netherspite commented on #1500
Same issue with Sunfury Nethermancers at Manaforge Ara in Netherstorm.
![wowscrnshot_082815_155819](https://cloud.githubusercontent.com/assets/5777848/9547337/4f90a882-4da2-11e5-8369-07e099104f55.jpg)

http://www.wowhead.com/npc=20248/sunfury-nethermancer

[2015-08-28 13:38] justinbeaver commented on #782
I think we should open this report for some time.

---

Advice from old hunter guide:

<i>"stand on the trap to force melee opponents to either dance around it or get frozen."
https://web.archive.org/web/20080224062154/http://forums.worldofwarcraft.com/thread.html?topicId=12884227</i>

Could be melee range (5 yards) is the <b>radius</b> where enemy can triggered a trap?
(<i>"defines 'Melee Range'

[2015-08-28 16:13] justinbeaver commented on #1525
Mob is feared under <b>Judgement of Justice</b> effect.
![wowscrnshot_082815_190900](https://cloud.githubusercontent.com/assets/13700367/9551227/79c39f68-4db8-11e5-954c-27ba75ffaf75.jpg)

---

<b>Curse of Recklessness</b> seems like works well, mob still able to hit his target.
![wowscrnshot_082815_190924](https://cloud.githubusercontent.com/assets/13700367/9551247/988b7fa6-4db8-11e5-94c9-72d2dfa3

[2015-08-28 17:31] robinsch commented on #1419
The DUMMY effect is not implemented.
![](https://i.gyazo.com/80a77fec608dcaf86393a04625464d3d.png)

[2015-08-28 17:35] justinbeaver commented on #782
Right now on CC
Trap is placed right in the hunter

<b>Not in melee range</b> You are too far away
![1_toofaraway](https://cloud.githubusercontent.com/assets/13700367/9552630/4b88a59e-4dc2-11e5-8c83-0f9eebc7f190.jpg)
<b>In melee range</b> Small step closer
![2_melerange](https://cloud.githubusercontent.com/assets/13700367/9552633/4f15adf6-4dc2-11e5-96de-f8ebf6a64b81.jpg)
Closest you can stay until

[2015-08-28 17:35] warlee commented on #1002
"Source: http://www.shadowsongeurope.com/forum/archive/index.php/t-16645.html

25-03-2008, 10:06 PM Warlee writes:

"And sadly they have added another bug by fixing it.

I will explain it here as its not that useful. Basicaly when you are silenced by garrote, improved counterspell or spellock you cannot cast blink. The thing is that when you are silenced(only by spells that I have mentioned before

[2015-08-28 18:03] shadowraider commented on #1500
the periodic dmg of drain life is probably that much low, that dampen magic will mitigate it to 0 (results to miss)..... have you tested it without dampen magic?

[2015-08-28 18:04] robinsch commented on #806
My research, doesn't include Polymorph:
// Spells with SPELL_AURA_MOD_CONFUSE and BasePoints == 1 (or higher) should skip finalized check in movement function
// This will effect Scatter Shot, Blind movementgen

just added a bool at ConfuseMovement which will skip the check for destinationHolder.HasArrived.

[2015-08-28 18:17] Aasamath commented on #847
One thing about @Mephisto22 post though might not be reliable
"With 700SP – 250-350 melee swings on cloth target“

this comment fromwowhead was posted before the 2.0.3
Felguard damage were nerfed (no numbers mentioned) but soul link was inncreased from 3% damage to 5%.

[2015-08-28 18:41] netherspite commented on #1500
It should not show Miss anyway.
I'll check it without Dampen Magic.

[2015-08-28 19:03] Chulain commented on #782
yeah this definitely feels wrong, I was going to research this but I've been postponing it forever

[2015-08-28 19:06] shadowraider commented on #1500
it should drain total 80 HP over 5 second that means 16 per tick.... dampen magic is reducing the spell dmg taken by 120. But I think the drained amount of HP should scale with the spell power of the NPC.

(Most) Creatures currently don't have any stats like agility, stamina, strength and also spell power. This bug is still in research. (https://github.com/ccshiro/cc-buglist/issues/422)

EDIT: The

[2015-08-28 19:07] netherspite commented on #1500
It should reduce total damage and not the damage per tick IIRC.
Anyway, I'll check it.

[2015-08-28 20:15] justinbeaver commented on #782
@Chulain haha same
I did couple screenshots long time ago, but to make a proper report I decided only today after I saw this topic.

[2015-08-28 20:24] AT-Studio commented on #1242
![wowscrnshot_082815_221313](https://cloud.githubusercontent.com/assets/13983344/9556234/890a74cc-4dd3-11e5-9e85-50e04d5a609a.jpg)

[2015-08-28 20:50] CarboCorecraft commented on #1488
Hm, what do you mean by "other speed bonuses" ?

[2015-08-28 20:57] robinsch commented on #1488
There are 3 types of speed increases:
- main speed bonus (this will only take the highest bonus)
  for example Sprint, Ghost Wolf, Boots enchants
- stacking speed bonus
  ![](https://camo.githubusercontent.com/2eafeb27a218d4f5b3c5627131eb799ffb31ceed/68747470733a2f2f692e6779617a6f2e636f6d2f62643261353437386363656364343032623361666436323364383436323763632e706e67)
- non stacking speed bonus
  some e

[2015-08-28 21:12] petaal commented on #477
I'm still having this problem. When I'm constantly spamming starfire, for example, the buff appears after the next cast has started, casting takes 3 seconds and after the cast is finished the buff disappears. This is very easy to produce with 50-60 ms ping. This also happens if I click the spell one time when the cast is almost finished (like 0.2 secs left) and the next spell goes to spell buffer

[2015-08-28 23:25] YourNewfriend opened #1537 "Brazier Burn Range"
Is either too short (if it's static), or doesn't take into account the size of the object (if it's dynamic).

https://youtu.be/80dk-HjCPFE?t=1m18s
![image](https://cloud.githubusercontent.com/assets/13057166/9558956/e56b3b9e-4da0-11e5-9657-6180fd2f1263.png)

[2015-08-29 00:51] Doppelmoral commented on #1536
How is his wowhead comment from 2.0.x viable proof ? I recall those mobs being immune to interrupts/kicks. There have been mobs which could not be pummeled - to avoid the heal they had to be bursted down (or, like in this case, they received a penalty which was speeding up their demise after an inevitable heal). Needs more supporting evidence.

[2015-08-29 02:22] Aasamath commented on #847
Found some stats of ap and dps scaling for pet at the bottom of this page.
They date of 3.3.3 though. I don't know if scaling was changed at wotlk (ratio ap/dps for felguard is the same as the tbc screenshot)
http://wowwiki.wikia.com/wiki/Spell_power_coefficient#toc

some additional info about pet attack power (stats are for lvl 60 during tbc prepatch):
"At the moment all of our pets receive the s

[2015-08-29 04:20] KimmoKM commented on #1511
Deathforge Key (part of http://www.wowhead.com/quest=10603/bring-down-the-warbringer) doesn't go to keyring either

[2015-08-29 04:44] Aasamath commented on #847
Other lvl 60 stats at 2.0, problem is i don't know what stats and talents the warlock had
(soul link or not mostly and this was the pre 2.0 soulink: 3% damage boost) other issue is that pet scaling might have been different later on (tlk and pre-tbc patch linked above say different things)
Also felguard dps is wrong since this was before nerf

round 2:
vw vs owl; no pet skills; 41 demonology/no hu

[2015-08-29 05:01] KimmoKM commented on #142
Personally, I was able to get into the Fel Reaver and kill the infernals just fine, aside from having to click the abilities rather than being able to use key bindings on the posses bar (a problem [some people might have had on retail as well](http://www.wowhead.com/quest=10612/the-fel-and-the-furious#comments:id=428511), admittedly in a WotLK patch).

However, after completing the objective and c

[2015-08-29 05:34] KimmoKM commented on #1103
According to a [WoWHead comment](www.wowhead.com/npc=18694/collidus-the-warp-watcher#comments:id=25171) he should also be immune to CC effects (a follow-up post specifically mentions he's immune to Frost Nova, which I was able to use, along with Dragon's Breath). He should also have [three](www.wowhead.com/npc=18694/collidus-the-warp-watcher#comments:id=25171) [abilities](www.wowhead.com/npc=18694

[2015-08-29 05:45] Aasamath commented on #847
THIS POST SEEMS TO BE INVALID DUE TO TLK CHANGES:

i so hope stats and scaling didn't change at 3.0.2  cause dat guy might save us
patch 3.0.2: Felguard: Health increased by 10%
should mean he only has more sp than before because of demonic knowleged
https://youtu.be/w6tZkIJqvE4?t=35
note that soul link damage boost was removed at that patch, demonic tactics should be unchanged (patchnote is 3.0.3

[2015-08-29 05:56] KimmoKM opened #1538 "Felboars in Shadowmoon Valley very prone not to charge"
As I did the quest [A Grunt's Work](http://www.wowhead.com/quest=10702/a-grunts-work), I noticed a peculiar thing: a [Felboar](http://www.wowhead.com/npc=21878/felboar) only charged me once during all that time. I recall them being very annoying with their charge ability and Wowhead comments [seem](http://www.wowhead.com/npc=21878/felboar#comments:id=273533) to [confirm](http://www.wowhead.com/npc

[2015-08-29 07:00] KimmoKM commented on #1067
A Wowhead [comment](http://www.wowhead.com/npc=21060/enraged-air-spirit#comments:id=118865) from 2.1.3 mentions farmed quest mobs respawning at a rapid rate with 9-10 people farming them, stating that their status as quest mobs is responsible for this effect.  I'm not convinced about quest mobs being handled any differently, but he certainly seems convinced competition in the area is actually a go

[2015-08-29 08:03] Aasamath commented on #847
about pet stamina and intel i found that post http://wowwiki.wikia.com/wiki/Demonic_Knowledge
edit was made in january 2008
i compared the spell power gained on corecraft. Assuming cc uses the pre-2.4 formula, i did my own calculation with a 15% bonus instead of 12.

succubus: 82 retail  /  82 cc
fel guard:  82 retail   / 82 cc
imp:          96  retail   / 85 cc   101.5 with rank 6 blood pact
void

[2015-08-29 09:00] ghost commented on #1467
There appears to have been a bug where when MCing them, you could spam their pulverize ability because it had no CD. https://www.youtube.com/watch?v=5BT_DX6l6-w

Video was posted July 11, 2007 so not too long after 2.1. That is the best I could come up with for videos.

Currently on retail, they will use the ability every 12 seconds.
http://pastebin.com/3r1J5PJs (a combat log I took)

[2015-08-29 09:35] ghost commented on #1536
Your retort was based on even less, your personal experience from half a decade ago. Wowhead is the best source of proof when a video can't be found, and that looks like it might be the case here seeing as they don't appear to be a part of a quest and thus probably don't have a video with them.

You can interrupt it on retail.
https://www.youtube.com/watch?v=FtnIS4I2kuk

[2015-08-29 10:35] justinbeaver commented on #904
Tried today to shoot from max possible distance (21 yards for scatter shot) then run and place a trap under enemy
![wowscrnshot_082915_120622](https://cloud.githubusercontent.com/assets/13700367/9561392/62e2a4c6-4e4c-11e5-94d8-5e2155e4a24b.jpg)
![wowscrnshot_082915_120631](https://cloud.githubusercontent.com/assets/13700367/9561393/644b6f00-4e4c-11e5-95d7-921b13523a02.jpg)
Feels quite nice, 5/5 ti

[2015-08-29 12:59] justinbeaver opened #1539 "[Hunter] Frost trap debuff fades too fast"
Debuff from frost trap fades too fast when you left frost trap area.

---

<b>Avada Kedavra vs Nihilum</b>
<b>00:28</b>
On the edge
![akvsnihi wmv_snapshot_00 33_ 2015 08 29_14 10 02](https://cloud.githubusercontent.com/assets/13700367/9561740/17be0526-4e5b-11e5-912e-d71b073ac78f.jpg)
![akvsnihi wmv_snapshot_00 35_ 2015 08 29_14 10 14](https://cloud.githubusercontent.com/assets/13700367/9561741/19

[2015-08-29 13:20] ConfusedCC opened #1540 "Ramparts vazruden the herald yields rep on each kill in same instance id"
an exploit used to farm thrallmar and honor hold rep might work on the test server
http://www.ownedcore.com/forums/world-of-warcraft/world-of-warcraft-exploits/12591-easy-war-farm-thrallmar-exalted.html

have only tested on normal difficulty but its possible there to kill the orc then reset the encounter by running out/in and killing him again

![wowscrnshot_082915_151425](https://cloud.githubuser

[2015-08-29 14:58] netherspite opened #1541 "Culuthas and Cragskaar are not immune to Frost Nova / Frostbite"
According to wowhead comments, they should be immune to all snares including Frost Nova and Frostbite (and other 'freeze-in-place' mechanics of other classes I suppose).
They currently are not.

http://www.wowhead.com/npc=20138/culuthas#comments
http://www.wowhead.com/npc=20202/cragskaar#abilities

[2015-08-29 15:04] netherspite opened #1542 "Teleport This! quest is partially bugged"
If you keep controlled Mo'arg under control you cannot receive quest credit for destroying the teleporters.
To get the quest credit you need to instantly cancel the mid control buff and to be very close to the teleporter yourself (mo'arg position does not matter).

![wowscrnshot_082915_173709](https://cloud.githubusercontent.com/assets/5777848/9562587/640320a2-4e78-11e5-96ad-48f84da3136e.jpg)

Als

[2015-08-29 15:25] justinbeaver commented on #1384
Pretty obvious, but still I'll leave it here.
Mage used blink at the edge and it moved him slightly back
<b>Cheapshot3.wmv</b>
<b>10:34</b>
![cheapshot3 wmv_snapshot_10 35_ 2015 08 29_17 26 43](https://cloud.githubusercontent.com/assets/13700367/9562654/ccf84f5e-4e7a-11e5-9664-aba150e5e1c6.jpg)
![cheapshot3 wmv_snapshot_10 36_ 2015 08 29_17 27 06](https://cloud.githubusercontent.com/assets/1370036

[2015-08-29 15:30] justinbeaver commented on #1122
Vanish breaks by hemorrhage
<b>Cheapshot3.wmv</b>
<b>1:25</b>
![cheapshot3 wmv_snapshot_01 27_ 2015 08 29_17 15 10](https://cloud.githubusercontent.com/assets/13700367/9562676/dadd4dd0-4e7b-11e5-827f-96f983d64f38.jpg)
![cheapshot3 wmv_snapshot_01 27_ 2015 08 29_17 15 21](https://cloud.githubusercontent.com/assets/13700367/9562677/dd877baa-4e7b-11e5-8a8f-6c5036f93952.jpg)
![cheapshot3 wmv_snapshot_

[2015-08-29 15:54] justinbeaver commented on #769
Pretty interesting find

<b>Arena_2v2_Rogue-Priest.avi</b>
It took 10 (!) seconds for rogue to get out of combat, after he gouged a druid and then just ran around
![1](https://cloud.githubusercontent.com/assets/13700367/9562719/18ed1fa0-4e7d-11e5-963d-fcec512b353d.png)
![2](https://cloud.githubusercontent.com/assets/13700367/9562720/1bab45fa-4e7d-11e5-9ef1-206086c93ed3.png)
___
7 seconds to get ou

[2015-08-29 16:09] justinbeaver commented on #782
<b>Arena_2v2_Rogue-Priest.avi</b>
<b>28:13</b>
1.
Placed a trap, arming time
![arena_2v2_rogue-priest avi_snapshot_28 13_ 2015 08 29_17 57 19](https://cloud.githubusercontent.com/assets/13700367/9562824/3690f09c-4e80-11e5-93e6-a53887f98c02.jpg)
Still arming time
![arena_2v2_rogue-priest avi_snapshot_28 15_ 2015 08 29_17 57 41](https://cloud.githubusercontent.com/assets/13700367/9562825/38df9312-4e

[2015-08-29 16:14] justinbeaver commented on #782
What I've noticed from movies that you got instantly frozen after you did a hit to hunter

[2015-08-29 16:16] Ickler opened #1543 "[Mage] Arcane Blast debuff applies to slowly"
When casting Arcane Blast, if you immediately cast after casting the initial one - your next cast will still be 2.5 seconds (debuff applies too slowly).

Easy to reproduce:
- Level 70 mage
- Get Arcane Blast
- Spam this very quickly, and watch how debuff doesn't apply before your next cast begins

[2015-08-29 16:24] Ickler opened #1544 "[Mage] Serpent-Coil Band not affecting mana emerald"
As title says, the Serpent-Coil Band doesn't affect the mana return of Mana Emerald. It's supposed to increase by 25%, but I received a close to minimal (2925) mana back when using it.

[2015-08-29 17:25] Mephisto22 commented on #847
That info about Demonic Knowledge numbers from wowwiki is 100% pre-nerf. I dont remember the details but I realized that 2 months ago. As for Voidwalker / Felguard stamina to HP ratio you can test it empirically. Equip an UD lock on CC so that void has 610 stamina and check for his HP. Do the same with gnome and Felguard (u might need some buffs from other players). And Felhunter - if it works now

[2015-08-29 17:29] nullfoxh commented on #1122
@justinbeaver
Pretty sure we've had this conversation a few times now.
Yes, you can break vanish and nobody is trying to dispute it.

[2015-08-29 17:48] Aasamath opened #1545 "[Rogue] Vanish informational screenshots."
I took a video of a vanish and made some frame by frame screenshots.
I reduced the number of screens to show only important steps. I edited a bit to show what's going on. (rogue is vanishing and icelance, but that's not my concern, i just wanna show the different state a character goes through while vanishing).

![edited 1](https://cloud.githubusercontent.com/assets/13113093/9562846/563ab69c-4e78-

[2015-08-29 18:00] Aasamath commented on #847
Yeah, nice input. I'll go look at stats of classes an void tomorrow while server is still up. And i'll do the Demonic Knowledge  calculations  with other races too.
About the base dps i used the 1/14 pet dps/ pet ap  ratio since your gnome screenshot seems to work with it.
So 870/14= 62.1 dps (i'll go verify on cc too)
total dps - ap dps = 76.4 - 62.1= 14.3 base dps
base pet ap is 286 giving  20.4

[2015-08-29 18:21] ccshiro opened #1546 "Switch event loop library (networking)"
From boost::asio to libuv. Did some benchmarking and there's lock contention that's problematic for us in boost::asio.

[2015-08-29 18:25] justinbeaver commented on #1165
Track hidden + Paranoia
<b>Search And Destroy, Hunter/warlock 2200rating 2v2</b>
<b>11:35</b>
![11 35 search and destroy paranoiaplustrackhidden](https://cloud.githubusercontent.com/assets/13700367/9563669/4b8fed0e-4e94-11e5-9217-4a4e36e67108.jpg)
WCM link: <i>http://www.warcraftmovies.com/movieview.php?id=92771</i>

[2015-08-29 18:32] justinbeaver commented on #1122
@nullv0id
Report is still open, and one more proper proof won't be redundant.

[2015-08-29 18:58] nullfoxh commented on #1122
@justinbeaver I'm sorry, I don't understand, what is it you are proving? I mean nobody has said hemo shouldn't break vanish, from what I've understood anyway. Quite the opposite actually, as the mechanic of breaking vanish is acknowledged by the devs and has been implemented on the server. All I'm saying is, it seemed redundant as nobody was disagreeing with you :)

[2015-08-29 19:20] robinsch commented on #1122
There is a delay on the stealth apply, if you melee attack in this window stealth and vanish will break.

About other stuff:
Blind can break Vanish and stay on target, also Vanish can absorb blind and will break vanish.
all instant spells should break vanish (this excludes: Shadowfury?)
all delayed spells should not break vanish (this excludes: Charge / Intercept / Scatter Shot)

[2015-08-29 19:23] Aasamath commented on #1122
The issue reported states that in pvp melee class seem to break vanish too often.
This is due to vanish leaving you targeted for a short period of time once the "evade" mechanic has run out.
I tested and recorded some vanish on the server and that time frame was extremly short most of the time. I don't think there is an issue there (or didn't do enough vanish).
Vanishing in melee range was extreml

[2015-08-29 19:41] Aasamath commented on #1545
RESERVED, gonna put list of spells annd their effects on vanish, and other things here

[2015-08-29 20:08] justinbeaver commented on #1122
@Aasamath <i>"Vanishing in melee range was extremly dangerous ... you are close to 0."</i>

That's is true, you don't have any chances to vanish when warrior and rogue cleaving you in 3s, same when pet and hunter hitting you, but I had a conversation with shiro and he said that pet wont break vanish so often like it was in retail.

---

@robinsch <i>"all delayed spells should not break vanish"</i>

[2015-08-29 20:23] Aasamath commented on #1122
I don't remenber seeing blind and vanish both being cancel but if it can then yeah, the "same time" scenario is something i've wondering about and might look like that.
Could also be due to blind still being a poison attack up to 2.3.0.

[2015-08-29 21:18] opzor opened #1547 "[Botanica] Thorngrin the Tender"
It seems that after boss sacrifices a player he instantly aggro that player and runs to him (does not hit him), and then he runs back to the Tank.

He should not run to the sacrificed person.

[2015-08-29 21:26] opzor opened #1548 "[Botanica] Warp Splinter"
His ability Arcane Volley hits the players in 360 degrees circle if they stand less than 30yrs from boss.

---

Some of the strategy for this boss is to:
"The Arcane Volley can be avoided by clever positioning of the DPS. If he is turned around and his back faces the group, those directly behind will not be hit; people off to the side (in the grass) will still be hit."
http://wowwiki.wikia.com/wik

[2015-08-29 21:28] Mephisto22 commented on #847
I would have thought that Voidwalker has different AP to DPS ratio from Felguard.

Demonic Frenzy buff doesnt really matter because it increases attack power and not total damage done, he has totem buffs, pala buffs etc. , the only thing that matters is his total AP and additional DPS it provides. I used multiplicative stacking for all % damage modifiers because I dont really see a reason there sh

[2015-08-29 21:30] opzor opened #1549 "[Warlock] Succubus Seduction"
Succubus Seduction ability works only if mob have Mana Bar.

If mob does not have mana bar succubus just run behind this mob and starts to mele... does not even try to cast seduction.

Noticed on mobs in SH (hellfire) and Mechnar. (think this is global issue and not only those 2 instances)

Reproduction:
Can reproduce it fast on first group in Mechnar since there is group of 3 mobs mixed melee/cas

[2015-08-29 22:18] Peonstomperx commented on #1545
REGARDING VANISHING STUFF YET BREAKING VANISH

Last time I tested this, it didn't work correctly so here;
repost of #1122
https://www.youtube.com/watch?v=xF4Rx1sQYQU&t=74 Vanish blind, breaks vanish
https://www.youtube.com/watch?v=fT_aZfg9AP0&t=663 Vanish Cheap shot, breaks vanish
https://www.youtube.com/watch?v=TTDbFBbNgyw ALOT of spells, in wotlk should break vanish even if you vanish them

I th

[2015-08-30 01:56] Pinhastest opened #1550 "[Shaman] Disease Cleansing Totem"
Totem not removing Diseases

https://youtu.be/BoSO4dnY9fc

[2015-08-30 02:22] rezzybaws commented on #1479
Ahh this old trick. The fix is that the Fear Ward buff should only be removed upon being the (potential) target of a SUCCESSFUL FEAR CAST, not upon the Fear effect itself.

[2015-08-30 02:39] rezzybaws commented on #1526
This does seem like a major issue with the logic of Spell Delay. The silence aura is definitely delayed after the initial interrupt, so perhaps the moment that the cast actually gets interrupted requires investigation.

[2015-08-30 03:32] KimmoKM commented on #1167
I've tried to establish a rule for how the mail functions but without luck.

While levelling blacksmithing, earlier on, most items (not just rough stone) purchased from vendors were lost in transit, even after having sent multiple items before. However, when I vendored, buybacked and then mailed the items (at the time it somehow occurred to me the issue might have been related to vendor-bought ite

[2015-08-30 04:10] KimmoKM commented on #1280
If there's more than one boar in the vicinity, you can get several tubers at once, though. I have also been able to use the whistle twice on what appeared a single tuber (perhaps two were stacked right on top of each other). Neither is a big deal, but do affect how fast the quest can be completed rather than being an exclusively visual issue.

[2015-08-30 07:38] Aasamath commented on #847
Damn yeah, i dismissed the idea about frenzy earlier but couldn't figure out how i  did before, so i assumed i had make a mistake.
About the ratio ap i wonder that too, it is a different one at late tlk for sure, but i don't know about before.
On the TLK void video, 1/14 works, so i went with it (1374 ap 98.1 dps)
3.3.3 tests on wiki talks about 1/16.28, that's considering the 16% damage increase

[2015-08-30 08:10] ConfusedCC commented on #1548
Here is a video showing two rogues in slightly different positions behind warp splinter , where they both are getting first warstomped 3:45 then arcane volleyed 3:47 .
the other rogue in the party seems to be stationed pretty perfectly behind the boss(and he still gets hit).
https://youtu.be/kIdFNRxptEU?t=3m44s

[2015-08-30 08:25] KimmoKM opened #1551 ""Of Thistleheads and and Eggs..." RP event"
When handing in the quest Of [Thistleheads and Eggs](http://www.wowhead.com/quest=10547/of-thistleheads-and-eggs), an RP scene is supposed to play out very shortly after handing in the quest (and once it starts, you have to wait until the event is finished before taking the next part).

Admittedly, I was impatient and took the next part after some 5 seconds of waiting, it's possible this cancelled

[2015-08-30 08:46] KimmoKM opened #1552 "Clumsy "To Catch a Thistlehead" RP event"
As you spring the bloodthistle ambush in the quest [To Catch a Thistlehead](http://www.wowhead.com/quest=10570/to-catch-a-thistlehead), the beginning of the event (envoy telling his bodyguard to go back) works fine. However, as the bodyguard departs, the envoy casually walks over the bloodthistle bundle and just stands there (as opposed to cheering, running in front of the bundle, kneeling and con

[2015-08-30 09:01] KimmoKM opened #1553 "Eclipsion Hawkstriders dropping Nightmare Vines"
As you kill [Eclipsion Bloodwarders](http://www.wowhead.com/npc=19806/eclipsion-bloodwarder), their [mounts](http://www.wowhead.com/npc=21627/eclipsion-hawkstrider) correctly spawn. However, contrary to Wowhead comment about Bloodwarders, they do drop loot and the ones I've killed thus far dropped Nightmare Vines.

[2015-08-30 09:35] Aasamath opened #1554 "[Warlock] Pet resistance calcultation problems"
With master demonlogist, if i summon a pet boosting my resistance, and then summon another pet that doesn't, the last one will still inherit resistances i had with my previous pet.

https://youtu.be/zEURWxeyiII

[2015-08-30 10:12] justinbeaver opened #1555 "[Hunter] Flare and opener"
Is it possible to sap hunter in the middle of the flare?

Who can find anything about it?
I spoke to Schaka and he said that sprint+sap or ShS+sap works well
It's depends on your latency and luck
My guess

---

<b>Possible</b>
1. Possible to sap hunter in flare with Shadowstep-Sap.
2. Possible to sap hunter in flare with sprint-jump-trick.

But rogue can't get sap off on hunter and opener with CS

[2015-08-30 10:20] justinbeaver opened #1556 "[Hunter] Pet pathing on Circle of Blood/Blade's Edge Arena"
Tested on Circle of Blood.
Not sure if they share the same geodata.

Pet going on the rope only if enemy staying on it, if enemy not on the rope then pet don't go over it.
He stay at the bottom of the pillar, sometimes running by air if enemy close to the edge.
He don't attack enemy on the same pillar.

Lots of screenshots, sorry for that
http://imgur.com/a/2lloN
And I'll leave some here
![wowscrn

[2015-08-30 10:22] justinbeaver commented on #1556
Pet pathing from retail movies on BGs

Not sure how it works on CC right now, but I'll leave it here could be useful

![1](https://cloud.githubusercontent.com/assets/13700367/9564661/243c6d86-4eb7-11e5-8a4e-15ba19ea2ad4.png)
<i>https://youtu.be/6WHcQwl7Nd0?t=102</i>

![2](https://cloud.githubusercontent.com/assets/13700367/9564662/289b3560-4eb7-11e5-8bae-e0db52ffdcd8.png)
<i>https://youtu.be/6WHcQ

[2015-08-30 10:42] opzor commented on #1548
And here is a video showing that only mele got hit by arcane voley.
https://youtu.be/6tdg8WqK2hg?t=2m35s

[2015-08-30 11:54] Aasamath commented on #847
Alright, here's the cc/retail comparison.
First screenshot concerns Gnome Felguard hp pool

![gnome felguard health comparison](https://cloud.githubusercontent.com/assets/13113093/9567017/190d515e-4f1c-11e5-9e17-b236de0c38b2.jpg)

INTELLECT COMPARISON
![intel pet noon](https://cloud.githubusercontent.com/assets/13113093/9567018/20a8c0b0-4f1c-11e5-86c4-edbda477aeb5.jpg)
![rand lock intel compared](

[2015-08-30 12:40] netherspite opened #1557 "Voidshriekers and Unstable Voidwraiths are not using any abilities"
According to wowhead, they have abilities but it seems they do nothing besides just meleeing you.

http://www.wowhead.com/npc=18870/voidshrieker#comments
http://www.wowhead.com/npc=18869/unstable-voidwraith#comments

[2015-08-30 12:49] Chulain commented on #1280
http://www.wowhead.com/quest=10514/i-was-a-lot-of-things

[2015-08-30 14:09] mara1987 opened #1558 "[Dungeon] Heroic boss not dropping Badge of Justice"
As for issue #1253 (labeled as closed and solved 3 days ago) the boss "Blood Guard Porung" didn't drop any Badge of Justice after defeating him in heroic mode. I forgot to provide evidence with a screenshot, and for that I am really sorry, but I hope you guys can trust me enough to double check the problem again.

Thanks a lot

[2015-08-30 14:14] mara1987 opened #1559 "[Dungeon] Heroic Shattered Halls combat bug."
During "Blood Guard Porung" event we experienced (all party members) a "still in combat" situation. We tryed to kill all the critters in the area after the boss event, they sometimes are the cause for it, but not in this case. We had to logout with alt+f4 and then log back in. The event went well, the scripting was ok. Just this combat bug after killing the boss was the problem.

Thank you.

[2015-08-30 14:51] KimmoKM commented on #431
I've noticed this happening from time to time, predominantly on mobs that attempt to flee. An extreme example might be something like the one in included picture, but mobs floating a bit when they die isn't too uncommon.

![2015-08-30-173648_1920x1080_scrot](https://cloud.githubusercontent.com/assets/1533992/9567764/755a4b7e-4f3f-11e5-803b-b25ea6706862.png)

Perhaps this issue should be reopened?

[2015-08-30 14:53] opzor commented on #1415
seems to be fixed.
closing.

[2015-08-30 14:53] #1415 closed, assigned to nobody

[2015-08-30 15:18] Schaka commented on #1545
@Peonstomperx it's a matter of the order in which things happen.
For example, non-projectiles can be vanished, but will always ALSO break vanish. They can also (blind e.g.) break vanish and still get through. This is the same way with projectiles, although they not break vanish when they are being evaded, unlike non-projectiles/instants.

Keep in mind, it is even possible to vanish aoe. When the f

[2015-08-30 15:32] Peonstomperx commented on #1545
@Schaka all non-projectiles don't break vanish when you vanish them, watch the last video I linked

[2015-08-30 15:54] Schaka commented on #1545
@Peonstomperx I'm telling you, it's not "which spells break vanish and which don't". In another issue, there was already proof of throw and autoshot breaking stealth, as well as other hunter shots.

Please actually read what I wrote. It's NOT about the spell. All non-projectiles have the ability to break vanish. For example Fire Blast has the ability to have its damage absorbed and still break van

[2015-08-30 16:06] Peonstomperx commented on #1545
@schaka provide proof that fireblast can be evaded and still break vanish, and how come moonfire doesn't? https://youtu.be/TTDbFBbNgyw?t=213

The order we already know about, works correctly and is fairly obvious, this doesn't need research.
1. Vanish first > cast later > break vanish and apply spell
2. Cast first > Vanish during spell delay > evade spell, sometimes break vanish sometimes don't

[2015-08-30 16:51] Aasamath commented on #1545
How vanish breaks or doesn't break is kown and scripted.
It's ike @Peonstomperx  said.
What i want to know is why some spell "avoided' make you reappear and others don't (most topics tend to agree that it depends if the spell is applied instantly or  a projectile) but looking at the video Peon linked you can see that some instant spells cancel the vanish and others don't:
shadowfury doesn't cancel

[2015-08-30 17:30] Schaka commented on #1545
@Peonstomperx it's like I said, instant spells can break it. If I had to guess, I'd say it's because moonfire applies a debuff whereas Fire Blast does not.
I don't have video form proof, that Fire Blast can break damage. I'm telling you these were my own experience from actually playing rogue on retail.

If you ask any mage who has played PvP on retail, they will also tell you that they frequently

[2015-08-30 17:43] Aasamath commented on #1545
[code]

just look at screenshots of the report... i'm sick of trying to find words to explain something that is showed with pictures.

[2015-08-30 18:01] Peonstomperx opened #1560 "Hellfire breaking Crowd Control"
Couldn't get it working on corecraft testing for 30min, maybe it's very precise.
My theory of why it would've worked on retail is stopcasting would happen after crowd control was applied.

Sources:
I remember my friend telling me about this trick back in tbc
http://www.gamefaqs.com/boards/534914-world-of-warcraft/54935109?page=1
http://www.wowhead.com/spell=1949/hellfire#comments 2 comments (ctrl+

[2015-08-30 18:25] netherspite opened #1561 "Protectorate Demolitionist should not fight mobs on his way"
Quest: http://www.wowhead.com/quest=10406/delivering-the-message
According to the wowhead comments (and the text of the quest itself) he should not fight the mobs on his way because he's just a hologram.
At the moment he's fighting the mobs on the way which makes the quest significantly easier than it's supposed to be.
![wowscrnshot_083015_201834](https://cloud.githubusercontent.com/assets/5777848

[2015-08-30 18:38] Schaka commented on #1545
I'm not blind. I can see just fine. I'm summarizing the mechanics. You need to actually be able to reproduce/rebuild this. A lot of client-side things like visibility of buffs and debuffs don't necessarily play into that but are a side effect of the correct mechanics being in place.

Do you agree, that a player cannot cast a single target, non-projectile instant spell without having a target?
Ther

[2015-08-30 19:18] Peonstomperx opened #1562 "Hellfire damage shouldn't cause pushback on casts"
http://wowwiki.wikia.com/wiki/Hellfire
"Bc icon Patch 2.3.0 (13-Nov-2007): This spell will no longer cause enemy spells to increase casting time or reduce channel time. It will also no longer prevent flag captures in Battlegrounds."

http://wowwiki.wikia.com/wiki/Interrupt
"Damage over Time spells and most Channelled spells will not cause interruption"

[2015-08-30 20:39] Peonstomperx commented on #1522
the combat log also says the enemy's(not pet owner) soul link hits the pet, not sure if that's intended

[2015-08-30 21:03] Peonstomperx commented on #1479
@rezzybaws I'm not so sure about that
![fearward](https://cloud.githubusercontent.com/assets/12783794/9569419/491b6aa8-4f6b-11e5-86d0-5182396881b9.jpg)

[2015-08-30 21:29] ghost opened #1563 "[Instance] Bosses respawned among same ID"
Logged out, logged bck in meni hours after -- the last boss (and presumably the others) had respawned along with the trash

steps to reproduce: (honestly i got no idea)
1.clear instance
2.log out at last boss room while still in group
3.go do real life things
4. come back after some hours (cant recall exact number but i guess u could check if u look at logs on account :TEST5)
5. log in and find la

[2015-08-31 04:27] KimmoKM commented on #283
Aside from behaviour from fleeing mobs described in #431, I haven't noticed any consistently incorrect pathing behaviour that can easily be reproduced (although others have reported some, like #1556). However, having played a decent bit lately, I think it's worth pointing out that there still are small glitches on occasion.

For example, just recently I noticed a fleeing mob diving quite deep to t

[2015-08-31 04:36] KimmoKM opened #1564 "Forged Illidari Bane Blade world object"
As you can see from the following screenshot, object Forged Illidari Bane Blade is present in the world. It's supposed to be involved in quest [Quenching the Blade](http://www.wowhead.com/quest=10679/quenching-the-blade) in which a quest item is provided and the player is supposed to use it at the pools before looting it. By the looks of it the object is already there, most likely without anyone h

[2015-08-31 05:30] KimmoKM commented on #1523
There's several other (possible) issues:

I have seen the slayers killing each other, I don't think that should be able to happen:
![2015-08-31-080901_1920x1080_scrot](https://cloud.githubusercontent.com/assets/1533992/9572369/b1700bd0-4fb7-11e5-87c1-cd3a8d47fd5b.png)

Also, two possible issues are seen in this [video](https://www.youtube.com/watch?v=J1ZH5kIBd2E):

Firstly, the duelling slayers of

[2015-08-31 07:05] Aasamath commented on #1545
I don't know for sure what regulates target loss, though there is definetly a delay beetween the stealth aura being applied and you becoming stealthed (removed from target). Kind of a fade effect.
Based on the vanish i used, the combat batch happens when stealth aura is applied and frost nova is removed (debuff, not the effect) the rogue then stays targeted until the energy tick, which correspond

[2015-08-31 13:28] Peonstomperx commented on #1122
@justinbeaver @nullv0id regarding resist breaking stealth in that video, it could be that cloak and regular spell resists act differently, since cloak = miss spells(which displays as resist) and resistance = resist, maybe normal resists should break stealth but misses shouldn't

[2015-08-31 13:38] metalfang commented on #1419
[quote]his head is completely useless in TBC

if u want exploit using it(gaining 20 energy) than equip another head

I will say u that these 20 energy will disappear after equip another head[/quote]

Just to clarify, i won't play corecraft i don't care about what you do of this bug, i just reported it.
And this helm is not useless and don't expect to equip another helm keep it all fight, cause dem

[2015-08-31 15:21] ghost opened #1565 "[Spell] Ritual of Summoning"
we could not click the summoning portal unless we relogged

steps to reproduce:
1. have a lock in party
2. get to mid instance (not sure if relevant)
3. wipe meni times so there is a need to repair
4.let the tank (Druu) HS out for repair
5. try to resummon him inside
6.portal will not be clickable
7. OPTIONALLY log out and log back in for the portal to be clickable (clickers are the ones who gotta

[2015-08-31 15:21] ghost commented on #1564
maybe someone did the quest before you and it dindt despawn?

[2015-08-31 15:56] KimmoKM commented on #1564
Possible, will be easy to check after server restart

[2015-08-31 17:14] #731 closed, assigned to ccnim

[2015-08-31 17:22] #1538 closed, assigned to ccnim

[2015-08-31 17:35] #1541 closed, assigned to ccnim

[2015-08-31 17:42] ccnim commented on #1558
This hasn't been applied to the server yet.

[2015-08-31 17:42] #1558 closed, assigned to nobody

[2015-08-31 17:48] ccnim commented on #1559
#1458

[2015-08-31 17:48] #1559 closed, assigned to nobody

[2015-08-31 17:48] ccnim commented on #1548
This is client side.

[2015-08-31 17:48] #1548 closed, assigned to nobody

[2015-08-31 17:51] netherspite commented on #1392
Same issue with mage table.

![wowscrnshot_083115_194225](https://cloud.githubusercontent.com/assets/5777848/9585854/0605de3a-5022-11e5-979a-5ca34c400d1f.jpg)

[2015-08-31 17:54] #1553 closed, assigned to ccnim

[2015-08-31 17:58] Chulain commented on #1429
## Hellfire Peninsula

##

http://www.wowhead.com/quest=10160/know-your-enemy
2007/11/30 (Patch 2.3.0)
You don't actually need this quest to get Fel Orc Scavengers, but it's a free 2400xp for picking this up first.

2011/11/03 (Patch 4.2.2)
As of today, or even earlier, you do need to turn in (Know Your Enemy), before Lt. Amadi will give you (Fel Orc scavengers).

---

http://www.wowhead.com/quest

[2015-08-31 18:00] netherspite opened #1566 "Nexus-King Salhadaar spawns adds too late"
According to the wowhead comments, he should spawn his copies around 50% of his health, however for us he did at 20-25%.

Also, it seems that the range of using the quest item on one of the pillars (the one on the 'hill' close to the edge of the island) is too low because you can't really get that close to the pillar without a flyer.

NPC: http://www.wowhead.com/npc=20454/nexus-king-salhadaar
Ques

[2015-08-31 18:04] ccnim commented on #1536
You cannot interrupt it, you can only silence it. Imp. kick would work for example.

[2015-08-31 18:04] #1536 closed, assigned to nobody

[2015-08-31 18:15] #1533 closed, assigned to ccnim

[2015-08-31 18:30] Peonstomperx commented on #1560
Confirmed by snutz: http://www.skill-capped.com/forums/showthread.php?19670-Question-about-Hellfire...
1 more thread: http://www.arenajunkies.com/topic/88945-hellfire-sheeps/
claims it should work with bloodrage/lifetap too: http://www.ownedcore.com/forums/world-of-warcraft/world-of-warcraft-exploits/145833-break-polymorph-warrior.html
1 claim it was fixed in tbc: http://www.ownedcore.com/forums/w

[2015-08-31 18:36] ccnim commented on #1566
You must've nuked him pretty hard because he summons at 50% at the moment.

[2015-08-31 18:42] netherspite commented on #1566
We were 4 and the quest suggests 5man.
It wasn't really fast. Total DPS ~1400.

![wowscrnshot_083115_201639](https://cloud.githubusercontent.com/assets/5777848/9587056/16cda73c-5029-11e5-85bd-4fd076675e51.jpg)

[2015-08-31 19:05] Aasamath commented on #847
I found this spreadsheet but i'm struggling a bit to decipher the infos on the file, maybe someone who's more used to it than me should take a look at it too.
http://www.leulier.fr/spreadsheet/
here's a topic where he answers questions too
http://forums.elitistjerks.com/topic/10050-another-dps-spreadsheet/

edit: there definetly seems to be some valuable infos regarding dps and stats on that one.

[2015-08-31 19:21] ghost opened #1567 "[Spell][Dungeon] Fear Ward being bypassed in underbog"
The stingers Psychic scream bypasses Fear Ward as can be seen in the screenshots

steps to reproduce:
1.cast fear ward on tank
2.wait for stingers to cast psychic scream
3.tank gets feared

![captura de pantalla 2015-08-31 a las 20 27 02](https://cloud.githubusercontent.com/assets/13721369/9588031/1b92cebc-5026-11e5-95f9-04e71317d50b.png)
![captura de pantalla 2015-08-31 a las 20 27 38](https://cl

[2015-08-31 19:24] ghost opened #1568 "[PvE] Mob positioning hellfire penninsula"
hostile mobs stack on player in the cave under honor hold (hellfire penninsula) this breaks casts with error message "target needs to be in front of you" and stops want attack
have not had the time to test other places (as ridicule as it may sound)

steps to reproduce:
1. teleport to the cave
2.attack a mob
3.he will stack on you
4.profit

![captura de pantalla 2015-08-31 a las 15 29 32](https://c

[2015-08-31 20:45] Aasamath opened #1569 "[Warlock] Base statistics"
Base statistics for lvl 70 warlocks
Base mana: 2335
Base health:  3310

undead
intel: 131
stamina: 77
spirit: 144

blood elf
intel: 133
stamina: 74
spirit: 130

gnome
int: 135
stam: 75
spirit: 132

human
int: 129
stam: 76
spi: 132

orc
int: 126
stam: 78
spi: 134

from http://www.leulier.fr/spreadsheet/

[2015-08-31 21:16] Vemme opened #1570 "Nvm"
According to the oldest comments on wowhead, the Durnholde Lookout mobs should be CCable, but they are immune to CC effects such as sheep, fear and blind.

http://www.wowhead.com/npc=22128/durnholde-lookout#comments:id=30887

[2015-08-31 21:17] #1570 closed, assigned to nobody

[2015-08-31 21:21] Barroth commented on #1567
looks like this is actually correct, see http://www.wowhead.com/npc=17731/fen-ray#comments

Apparently it is an horror effect that won't be affected by fear immunities/dispels

[2015-08-31 21:25] ghost commented on #1567
you are right, closing this

[2015-08-31 21:25] #1567 closed, assigned to nobody

[2015-08-31 21:52] Chulain opened #1571 "[Mage] Arcane Potency talent with Arcane Missiles"
so uhm this has been discussed before i think and arcane potency (+30% crit chance when clearcasting) should increase the crit chance of every bolt of arcane missiles, i'm not sure if it currently does

[2015-09-01 01:08] Dallal92 commented on #1063
Back in retail BC when I did arena's as a destro lock I used to Sacrifice my Voidwalker to get the shield then hurry and summon my Felhound before the gates open. The shield would not be dispelled by the opening of the gates. I can try and dig up some of my old pvp videos when I get home as proof.

[2015-09-01 06:28] JamesBald opened #1572 "[PvE] Shirrak the Dead Watcher"
http://www.wowhead.com/npc=18371/shirrak-the-dead-watcher in  Auchenai Crypts.
He uses his http://www.wowhead.com/spell=36383/carnivorous-bite whenever he pleases not just when he pulls the whole party to him.
No video was taken by me sadly.

[2015-09-01 06:29] ta55el opened #1573 "[Racial] Mana Tap - Blood Elf"
http://youtu.be/hSUHRG2ulI4

Mana tap shouldn't scale with spell power. - http://wowwiki.wikia.com/wiki/Mana_Tap?oldid=1636870

[2015-09-01 10:47] lynxzor commented on #1565
Happens with normal summoning stones also (not sure how to reproduce yet)

[2015-09-01 10:48] ghost commented on #1565
@lynxzor  what ive seen with summoning stones is that although you click them, they do not "trigger" the summon. this however prevented us from clicking it all together

[2015-09-01 10:52] lynxzor commented on #1565
It's happened a couple times where you can't click altogether until relogged, just like this issue.

[2015-09-01 10:54] ghost commented on #1565
@lynxzor ill edit my issue to that devs notice your issue, dindt happen to me though, guess i was just lucky

[2015-09-01 10:58] lynxzor commented on #1565
If you notice this again with the lock summon then go out and see if it also occurs with the summoning stone (pretty sure it should be the same)

[2015-09-01 11:27] ghost commented on #1463
happened to us yesterday.

The SS i provided shows the exact spot from where Claw(boss bear) was pulled by our druid tank (Verbz)

![captura de pantalla 2015-08-31 a las 20 31 00](https://cloud.githubusercontent.com/assets/13721369/9602936/fba41a2a-50ac-11e5-9e52-2767637ddd7f.png)

[2015-09-01 12:28] Sakatoro commented on #1247
It works with /cleartarget /targetlasttarget /attack

[2015-09-01 12:39] Vemme opened #1574 "Vanishing as Mind Control goes off causes the rogue to be MCed while vanished"
If a Priest casts MC on a rogue, and the Rogue vanished as the cast is ending, the rogue will end up being mind controlled while he is vanished. The same thing does not seem to happen if you use stealth as the MC cast is ending.

https://youtu.be/1bzwXxDWJDY

[2015-09-01 14:44] ta55el commented on #1574
I think it should work like that like with any others spells.

[2015-09-01 15:29] Vemme commented on #1574
If you vanish while an ability is being cast on you, the cast will either be interrupted, or the ability, when it has traveled to the rogue, will simply have no effect. For example, if a rogue vanished while Death Coil is traveling towards him, the Death Coil will have no effect at all. Furthermore, mind controll should break stealth.

[2015-09-01 15:41] Peonstomperx commented on #1574
You got afflicted by MC before vanish went off, I think the spell delay of mind control isn't working correctly.

#1314 kind of related, some delay is missing.

[2015-09-01 16:14] opzor commented on #1548
range of spells and arc they do damage in is client side?

[2015-09-01 16:44] #1268 closed, assigned to ccnim

[2015-09-01 17:59] #1433 closed, assigned to ccnim

[2015-09-01 18:02] ccnim commented on #1572
Video proof required.

[2015-09-01 18:17] Doppelmoral opened #1575 "[Spell][Shaman] Windfury Weapon Imbue Internal CD and Haste (Flurry)"
Video showcase of the issue:

https://vid.me/e/NC86

<b>What am I looking at ? What's wrong with the displayed situation ?</b>

The video shows from 00:28 to 00:38 three consecutive Windfury proccs while the shaman's swingtimer is at 2,92 seconds due to the talent "Flurry". This should be impossible due to Windfury having an Internal Cooldown of 3 seconds. (2,92 < 3,00)

I also tested it with a 3,

[2015-09-01 18:29] Peonstomperx commented on #1575
wowpedia says weapon speed less than 3sec, not attack speed

http://wow.gamepedia.com/Windfury_Weapon
"(if wielding a single three second or slower weapon)"

[2015-09-01 18:33] ccnim commented on #1267
Works fine for me, did you have power word: fortitude on you perhaps?

[2015-09-01 18:53] Doppelmoral commented on #1575
I would like to point out that the issue I brought up in this report could NOT be reproduced with a 2,90 swingtimer weapon and NO Flurry talent.

Means:
1)
<b>_2,90_ </b> weapon
0/5 Flurry
-> <b>NEVER</b> had two or more consecutive <b>procs</b> on autohits.

2)
3,80 weapon
5/5 Flurry
-> <b>_2,92_</b>, reproducable <b>back-to-back procs</b> on autohits.

Edit:

http://forums.elitistjerks.com/topic

[2015-09-01 18:56] ccnim commented on #1349
removed since it was added with 2.1

[2015-09-01 18:56] #1349 closed, assigned to ccnim

[2015-09-01 19:05] ccnim commented on #1348
Removed them since they were 2.1

[2015-09-01 19:05] #1348 closed, assigned to ccnim

[2015-09-01 19:33] Doppelmoral commented on #1575
http://forums.elitistjerks.com/topic/41711-enh-windfury-weapon-cooldown/?p=1033449

[2015-09-01 19:58] petaal opened #1576 "Abolish Poison / Abolish Disease"
If the target is not poisoned, Abolish Poison removes itself after the first tick, that is 2s after casting it. Same thing happens for Abolish Disease after 5s. If the target is poisoned, the poison is cured and the buff stays until the next tick. Not sure if this should be working this way, seems strange at least.

Couldn't really find definite proof by watching druid pvp videos or by googling. H

[2015-09-01 20:15] Doppelmoral commented on #1576
Tooltip is quite clear about that:
_Attempts to cure 1 poison effect on the target, and 1 more poison effect every 2 seconds <b>for 8 sec.</b>_
_Attempts to cure 1 disease effect on the target, and 1 more disease effect every 5 seconds <b>for 20 sec.</b>_

Means it lasts a set duration and does not cancel prematurely after "unsuccessful" ticks..

[2015-09-01 20:42] Lephidiles commented on #1000
Tried just now with Vengancewow client installer (enUS) this does not have the same issue using the same addons and settings (copied from the other installation)

Reason I thought that client had something with it was that i tried to use it once when setting up a mangos server and the client extraction for building vmaps etc did not work with it

[2015-09-01 21:24] Doppelmoral commented on #1575
Interesting piece of information supporting this report:

_http://blue.mmo-champion.com/topic/18050-tbc-enhancement-shaman-faq/_
(Source is a US forum post from 2007/08/09, confirmed by a blue poster thus assumed to be reliable)
_"The Windfury Cooldown
After windfury procs it cannot proc again on either hand for 3 seconds. Since no usable 1H weapons are slower than 2.9s <b>(or 3.9s with flurry)</b

[2015-09-01 21:52] DeeMarie commented on #1267
Yes you're right! It doesn't overwrite PW: Fort which I believe is the stronger spell. And they don't (and shouldn't) stack.

[2015-09-01 21:52] #1267 closed, assigned to ccnim

[2015-09-01 23:17] Doppelmoral opened #1577 "[Quest] Mission: Gateways Murketh and Shaadraz & Mission: The Murketh and Shaadraz Gateways"
Quest IDs:
Horde
Mission: Gateways Murketh and Shaadraz  ID10129

Alliance
Mission: The Murketh and Shaadraz Gateways ID10146

<b>Desired situation:</b>

Seaforium PU-36 Explosive Nether Modulator item=28038 should only be usable on the wyvern/gryphon flying path provided by the Wing Commander NPCs.

Currently it can be used without restrictions, which includes throwing the bombs from the ground,

[2015-09-01 23:21] Doppelmoral opened #1578 "[Quest] Mission: The Abyssal Shelf"
Quest IDs:
Horde
Mission: The Abyssal Shelf ID10162

Alliance
Mission: The Abyssal Shelf ID10163

<b>Desired situation</b>

Area 52 Special item=28132 should only be usable on the wyvern/gryphon flying path provided by the Wing Commander NPCs.

Currently it can be used without restrictions, which includes throwing the bombs from the ground, rendering this quest a boring walk in the park.

Edit:

A

[2015-09-02 00:20] ghost opened #1579 "[Instance] Last Boss Event mob in Arcatraz did not dissapear"
mob did not despawn on event wipe

steps to reproduce:
1.start event
2.kill all and wipe on last boss (the one with prophet skeram skin)
3.come back and the corpse will be on the floor
4.after it will respawn (as the event happens) and there will 2 two

![captura de pantalla 2015-09-01 a las 19 09 35](https://cloud.githubusercontent.com/assets/13721369/9620298/0dffff7e-5119-11e5-8841-5cd1e2cb7338.

[2015-09-02 00:26] ghost opened #1580 "[Spell] Will of the Forsaken does not break Charm in Arcatraz"
WoTF wil not break charm effect casted by Spiteful mistress (screen)

steps to reproduce:
1.go arca being undead
2.confront this mob
3.wait for charm effect
4. try to WoTF out of it
5. error
![captura de pantalla 2015-09-01 a las 17 51 21](https://cloud.githubusercontent.com/assets/13721369/9620327/5381baba-5119-11e5-8749-c08885afc6a1.png)

[2015-09-02 00:29] ghost opened #1581 "[NPC][Arcatraz] AoE dont procc Protean Spawns on corpses"
self explanatory

steps:
1.go arca with aoe class
2.cast aoe on top of dead bodies
3.nothing happens

![captura de pantalla 2015-09-01 a las 17 38 33](https://cloud.githubusercontent.com/assets/13721369/9620415/4b771cec-511a-11e5-8ded-5fcaf9cab443.png)

[2015-09-02 00:33] ghost opened #1582 "[Halaa] Empty and not capturable"
self explanatory. no idea what caused this

steps to reproduce:
1. fly to halaa
2. freak out
![captura de pantalla 2015-09-02 a las 0 40 10](https://cloud.githubusercontent.com/assets/13721369/9620485/e1534e84-511a-11e5-87ed-6991732c26f4.png)
![captura de pantalla 2015-09-02 a las 0 41 01](https://cloud.githubusercontent.com/assets/13721369/9620494/f83b35c6-511a-11e5-90a5-de838b7158d8.png)
![Uploa

[2015-09-02 00:35] Chulain commented on #1429
forgot a few azeroth quests:

http://www.wowhead.com/quest=6625/alliance-trauma
http://www.wowhead.com/quest=6623/horde-trauma

2008/05/29 (Patch 2.4.2)
In order to pick up this quest there's no need to go to Ironforge first, you just need to have 225 first aid skill and be at least lvl 35 and can go straight to Theramore.

[2015-09-02 00:37] ghost opened #1583 "[Class] Mage Spell hit seems off"
I noticed that im missing 8% spell hit to cap as fire mage and i rarely miss/get resisted any spell

steps to reproduce:
1.go into database
2. Take TEST5 account (Can provide password if required)
3. log into nathaliele (UD mage 70)
4. start casting like mad onto a boss dummy
(altenatively you can just make a GM copy of it or its gear)

PD: Screens show my talents and the recount prints show the r

[2015-09-02 00:42] ghost opened #1584 "[NPC][Shadow Labs] NPC shooting while sheeped"
As can be seen in the SS, lightly, the arcane missiles from the sheep are hitting the priest, also, it can be seen that the enermy cast bar above my target is fading (i guess i was too slow to take the SS as soon as i freaked out)
inbefore any claims. mob was SHEEPED before the arcane missile cast.

NOTE: while this happened i was suffering massive lags, so it might be caused by it
![captura de pa

[2015-09-02 00:47] ghost opened #1585 "[Dungeon][The Blood Furnace] Second boss event (the flying one-eyed sponge) *can* be broken"
When you start the event and wipe, the room that wiped you stays attackable after.
if you attack that mob group without starting the event with the lever it will break and u will need to ask a GM to port you.

note: we wiped on the first "room"

steps:
1.gather group, go blood furnace
2.clear to this room(event room)
3.pull lever
4.wipe on the first room
5. recover and hover mouse over enemies as

[2015-09-02 00:50] Chulain commented on #1583
they cant (or more like wont) log into your account unless you share your password

[2015-09-02 00:56] Doppelmoral opened #1586 "[Combat] NPCs not aggroing properly in certain events."
Video showcase of the issue (example): https://vid.me/e/0oaf

I found situations in which hostile NPC will not properly react to a player character (as in attacking).

Scenario No. 1:

The character dies in close enough proximity to one or several NPCs (pull range) and is ressed on the spot (for example via Soul Stone, or Reincarnation / Ankh).

Scenario No. 2:

The character logs out at a spot wh

[2015-09-02 01:15] Chulain commented on #1580
npc: http://www.wowhead.com/npc=20883/spiteful-temptress
spell: http://www.wowhead.com/spell=36866/domination

Apply Aura: Charm
Value: 70

[2015-09-02 01:32] Chulain commented on #1586
scenario 3

kill mob
stay on mob's spawn location
mob respawns -> does not attack you even tho you're close enough

[2015-09-02 03:27] Sleekcrush commented on #388
NOTE: This is probably a waste of time writing this all down and is explained in the 3rd paragraph. But I wanted to include it here for future reference.

Here is the first comment of quite a few. Shiro mentioned to me over IRC that you guys will go through RFC at a later time and will hopefully have some other users test it after your initial coding.

The problems that I have found all relate to

[2015-09-02 03:30] Sleekcrush commented on #388
Ragefire Shaman:

Does not seem to use abilities.

1.) Healing Wave
2.) Lightning Bolt
- http://db.vanillagaming.org/?npc=11319#abilities

---

Ragefire Trogg:

Does not seem to use ability.

1.) Strike
- http://db.vanillagaming.org/?npc=11318#abilities

---

Oggleflint:

Does not seem to use ability.

1.) Cleave
- http://db.vanillagaming.org/?npc=11517#abilities

[2015-09-02 03:34] Sleekcrush commented on #388
Earthborer:

Does not seem to use ability.

1.) Earthborer Acid
- http://db.vanillagaming.org/?npc=11320#abilities

---

Searing Blade Cultist:

Does not seem to use ability.

1.) Curse of Agony
- http://db.vanillagaming.org/?npc=11322#abilities

---

Searing Blade Enforcer:

Does not seem to use ability.

1.) Shield Slam
- http://db.vanillagaming.org/?npc=11323#abilities

---

Searing Blade Warlo

[2015-09-02 03:35] Sleekcrush commented on #388
Taragaman the Hungerer:

Does not seem to use abilities.

1.) Fire Nova
2.) Uppercut
- http://db.vanillagaming.org/?npc=11520#abilities

---

Jergosh the Invoker:

Does not seem to use abilities.

1.) Curse of Weakness
2.) Immolate
- http://db.vanillagaming.org/?npc=11518#abilities

---

Bazzalan:

Does not seem to use abilities.

1.) Deadly Poison.
2.) Sinister Strike
- http://db.vanillagaming.or

[2015-09-02 03:56] KimmoKM commented on #1584
I've seen the same issue on other private servers without any lag being involved.

[2015-09-02 09:11] rezzybaws commented on #1314
this doesn't really have anything to do w/ spell delay and is properly explained in the wiki text. it actually works on many servers, you are simply allowed to cast a buff on them since they're the same faction as you while controlled.

what does relate to this is unit info delay which is not very well-documented. information such as health/mana/death state/appearance/standing(hostile, friendly) a

[2015-09-02 09:15] Ickler opened #1587 "[Loottable] Various mobs not having correct loot"
The Demon Hunter Supplicants in Shadowmoon Valley appears to have completely wrong drop rates / loot table. After killing 15 mobs, I got on sunfury signet and 1 grey item and silver. That's it.
I used to farm this location on retail, and they should drop lots of cloth way more Signets and various stuff :)

http://www.wowhead.com/npc=21179/demon-hunter-supplicant

The Death's Might, Deathforge Over

[2015-09-02 09:35] PantelisK commented on #1583
If we suppose that arcane focus is broken and affects fireball too it gives us 10%+3% from frost tree +5.5% from your gear equals +18,5% hit chance which is close to hit cap and that might be the reason for no miss. Just a thought that might be worth checking for the devs.

[2015-09-02 10:01] moshamaniac opened #1588 "[Quest] Dr. Boom! - Boom's Doom range/use area too small, Dynamite range possibly too long"
Quest ID: 10221

This is how it was on retail:
https://www.youtube.com/watch?v=27cpWpe2_9U
The player can throw his bombs from a safe distance and kills the doc easily. The video is from early WotLK, but this comment by Draxel from 2007 mentions the same spot:
"What a weird quest. I got one shotted when I first got there. I rezzed on top of the red drum off to the left. From there you can toss bom

[2015-09-02 10:02] Zilvinauskas opened #1589 "Picking up objects from maximum possible distance sometimes is impossible"
So sometimes when i try to pick object from maximum distance i can't do it. Here is a video of it https://youtu.be/N9uaDKaahsU . However i found out that sometimes it depends from which angle you are looting, for example when i was trying to pick up item from this side it worked perfectly http://imgur.com/U7lLHhb,o9rEkIP , but if i tried to pick it up from here http://imgur.com/U7lLHhb,o9rEkIP#1 s

[2015-09-02 10:04] moshamaniac commented on #814
This report is obsolete:
![dr boom](https://cloud.githubusercontent.com/assets/2242567/9627904/a87a0538-5167-11e5-8602-9da5aac266d0.png)

[2015-09-02 11:21] ghost commented on #1583
@pantelisk could be, I'll do some more testing without the arcane focus talent when I got time so we can rule out that idea, quite an ingenious thought though, nice

[2015-09-02 12:43] moshamaniac opened #1590 "[Quest] When the Cow Comes Home - Bessy - Attacking Mobs and Player"
Quest ID: 10337
http://www.wowhead.com/quest=10337/when-the-cows-come-home

When i was doing this escort quest, Bessy attacked mobs, which judging from several wowhead comments, she should not, for example user Dennace:
"Something went weird with this quest, I found that if I aggroed she just kept walking... Which.... didnt matter because I could just stay back and kill them, didnt need to worry a

[2015-09-02 12:49] ghost commented on #1583
did some more testing and this are the results, right now i have no time to evaluate them but feel free to do so @PantelisK

![captura de pantalla 2015-09-02 a las 14 22 40](https://cloud.githubusercontent.com/assets/13721369/9631508/b365cd14-5181-11e5-9d1c-43e2260f6ce2.png)
![captura de pantalla 2015-09-02 a las 14 22 47](https://cloud.githubusercontent.com/assets/13721369/9631509/b36adf02-5181-1

[2015-09-02 13:09] PantelisK commented on #1583
Seems legit :P

[2015-09-02 13:12] PantelisK commented on #1583
Though it should say Miss not Resist afaik. Miss is 0 damage as shown correctly. Resist is a partial resist on your damage and it is only possible when you are below hit cap. Maybe its a problem with recount but i doubt it.

[2015-09-02 13:56] netherspite commented on #1590
Hmm seems this was not really fixed: #1505
Also nice observation that she should not attack mobs at all.

[2015-09-02 14:30] Aasamath commented on #1152
Aoe can also damage players outise safe zone while you are in it.
Autoattack doesn't stop when players enter the sanctuary zone.

[2015-09-02 14:39] ccnim commented on #1582
You cannot capture it while flying. Were you flying when you tried to capture it?

[2015-09-02 14:49] Aasamath commented on #1582
Just captured it on horde, working on foot and ground mount. Not working on flying mount even while landed.
Gonna take it back on Alliance, but so far so good.

[2015-09-02 15:12] ghost commented on #1582
dindt try to capture it since i dindt feel it was possible. as can be seen on the first SS, the bomb cartridges to get on the flying wyvern and capture was not visible, i dindt land, however i dont think landing would make the bomb cartridges appear.

then i proceeded into halaa into my flying mount (without dismounting) to find it EMPTY, while i dindt try to capture it, it should not be empty.

@

[2015-09-02 15:12] #1449 closed, assigned to ccnim

[2015-09-02 15:13] Aasamath opened #1591 "Halaa wyvern bug"
When attacking Halaa using the wyverns, if you click too early on the wyvern post (thingy that launchs you on th mount) while you are already on one, you will get the wyvern but it won't fly, you can just move around with it.
https://youtu.be/VVSdpQQaghQ

[2015-09-02 15:25] Aasamath commented on #1582
Yes i think the empty city is due to restart. About the bombs it might be because the "attack" phase was ended. So you didn't gets bombs since the city was already in "capture " phase. I'm attacking Halaa at the moment and i get bomb everytime (unlless i got some left on me), i'll check if i still get any once all guards are dead.
Could also be  a bug due to the city being neutral, since it ain't

[2015-09-02 15:27] ghost commented on #1582
i guess this can remain "dormant" until someone claims the happening again? since i cant really provide any more info about this =(

[2015-09-02 15:28] Aasamath commented on #1582
yeah i'll try to remember to go there, after next crash.

[2015-09-02 15:32] ghost commented on #1582
i think you got me wrong, this state (empty) happened BEFORE the crashes, something might have triggered it, and when the server crashed, halaa got restarted and back to working

[2015-09-02 15:34] Aasamath commented on #1582
Ah ok, my bad. Halaa was also empty when i arrived, but flag was horde, and city was capped just an inch for horde too.

[2015-09-02 15:44] Aasamath opened #1592 "Sections of Shattrath tunnels are not "sanctuary""
I made of video of the southern tunnel but this also happens in the eastern one, before reaching the guards outside, and in the northern tunnel the sanctuary is left long before the end of the tunnel (could be normal)
The tunnel to Nagrand is ok
https://www.youtube.com/watch?v=AGD5kKiR-qc&feature=youtu.be

[2015-09-02 16:06] #1496 closed, assigned to ccnim

[2015-09-02 16:18] ccnim commented on #1492
Seems like it knocks the caster and target down while it tries to charge, it then charges the target after the knockdown.

[2015-09-02 16:28] ccnim commented on #1432
Fixed hitbox

[2015-09-02 16:29] #1564 closed, assigned to ccnim

[2015-09-02 16:30] ccnim opened #1593 "Illidari bane shard"
http://www.wowhead.com/quest=10621/illidari-bane-shard

Need to fix this quest line

[2015-09-02 16:31] ccnim commented on #1593
#1564

[2015-09-02 17:15] #1484 closed, assigned to ccnim

[2015-09-02 17:25] Aasamath opened #1594 "[Warlock] talent aftermath can proc on warlock while using hellfire"
The "aftermath" talent (daze proc on destruction spell) can proc on the damage done by the warlock to himslef with hellfire.
could be legit but seems weird.

[2015-09-02 17:30] ccnim commented on #1371
It failed since you didn't aggro all the mobs in the time given.

[2015-09-02 17:30] #1371 closed, assigned to ccnim

[2015-09-02 17:40] ccnim commented on #1442
Tried it on retail and you can't use the teleporters when dead. Corpse ressing is the only way out it would seem.

[2015-09-02 17:40] #1442 closed, assigned to ccnim

[2015-09-02 17:49] ccnim commented on #1366
Enslaved it on retail and it did not have the ability

[2015-09-02 17:49] #1366 closed, assigned to ccnim

[2015-09-02 18:14] #1465 closed, assigned to ccnim

[2015-09-02 18:15] ccnim opened #1595 "CREATURE_FLAG_IGNORED_BY_NPCS"
0x00008000

This flag makes the mob immune to pets. Probably need to look at another solution.

[2015-09-02 18:26] Barroth commented on #1583
spell miss was introduced with wotlk, in tbc all misses were shown as resist.

[2015-09-02 18:42] ghost commented on #1583
@Barroth however the amount of resist and partial resist does not match (as i see it) with the 8-10% hit im missing to be capped

[2015-09-02 18:54] shadowraider commented on #1594
technically, either warlock is target of the spell, but haven't found any evidence it should daze the caster too, that would be probably the most useless talent to spent points to

[2015-09-02 19:00] shadowraider commented on #1589
i already wrote it somewhere, this is where gameobject activation range and loot range collide.......simply, GO activation range is 6 yards, loot range is 5 yards, you can activate to object but can't get any loot because you are out of range

[2015-09-02 19:03] Barroth commented on #1583
The samplesize you have here is quite low, so it doesn't really say much. Could have been just lucky/unlucky. 500+ spells is a decent amount of casts to prove those things, I'm currently testing it myself and will upload the recount of a much higher cast count.

![wowscrnshot_090215_214943](https://cloud.githubusercontent.com/assets/9391338/9642456/8b9e4154-51bc-11e5-8060-1f6906d170e0.jpg)

Specc

[2015-09-02 19:26] Doppelmoral commented on #1577
http://www.wowhead.com/quest=10146/mission-the-murketh-and-shaadraz-gateways#comments:id=76883
By zoom (320 – 1·4) on 2007/05/03 (Patch 2.0.12)
"u have to be on the gryphon to bomb. took me a while to figure it out."

How's that disputable ? :s

[2015-09-02 19:51] Chulain commented on #1589
this sometimes bugs on some servers which is annoying as fuck

if the cast fails the object gets "locked" for a few mins

[2015-09-02 20:54] Qxcr opened #1596 "[Zone] Blade's Edge Mountains graveyards"
I'm not entirely sure this actually is a bug since I'm not familiar with how releasing/Spirit Healers work but my common sense tells me this is somehow not right.

When I died with an Alliance character near Forge Camp: Terror and released I ended up at the Spirit Healer at Sylvanaar without any chance to get back to my corpse.

![wowscrnshot_090215_223838](https://cloud.githubusercontent.com/asse

[2015-09-02 21:09] #1532 closed, assigned to ccshiro

[2015-09-02 21:40] Klimpb opened #1597 "Rogue Shiv poison weapon swapping spell delay issue."
## How it currently works like:

Have Crippling poison weapon equipped
Cast Shiv
GCD starts
Switch to Wound or Mind-Numbing poison weapon within the spell batch
GCD Restarts
Spell batch flushes
Shiv hits target and applies the poison of your CURRENT off hand weapon.

Demonstration video: https://www.youtube.com/watch?v=CRmzcYP-fPo&hd=1

---
## How it should work like:

Have Crippling poison weapon

[2015-09-02 22:03] YourNewfriend commented on #1586
I believe there is supposed to be some leniency in reaction time for events like scenario 3, but it definitely shouldn't be anything like this.  Could be testable on retail.

[2015-09-02 23:17] netherspite commented on #1582
Was it red horde flag or grey horde flag?
IIRC it will become 'horde' grey flag when horde starts capturing it but it won't be captured completely until progress bar reaches its horde end.

[2015-09-02 23:19] ghost commented on #1582
tbh i could swear the map showed halaa as alliance. dindt really notice that the flag was actually grey

[2015-09-03 00:32] Jumpka commented on #878
The melee hit part is way off if I'm not mistaken, it says "All melee attacks deal additional Holy damage equal to 35% of normal weapon damage, but the Paladin loses health equal to 10% of the TOTAL damage inflicted" meaning it should deal 10% of both the melee hit + the seal damage.

EDIT: Barroth is right, I found some old archived comments from wowhead and it should be 10% of the bonus damage,

[2015-09-03 00:39] Jumpka opened #1598 "[Paladin] Judgement of blood backfire damage delay"
EDIT actually going frame by frame trough the linked down there and https://www.youtube.com/watch?v=IB7bUNWTlh4#t=30m51s , it seems that the delay is around 800ms after judgement hits, which is very strange.

Posting the result of the discussion we had on IRC:
Judgement should be affected by the spell delay (as it currently is).
When judgement deals damage to the target, it should cause backfire t

[2015-09-03 01:41] Liesara opened #1599 "Resistance abnormally high?"
I was doing the Noggenfogger Quest today, thought I'd just mindblast some guys in tanaris but no deal.
Couldn't believe my eyes when i only hit for 300-500. Checked Combat log, seems mobs 25 lvls below mine can resist 80% of my spell.

![low level resist](https://cloud.githubusercontent.com/assets/14063689/9648663/1fbea38c-51eb-11e5-8d55-75c70849b928.jpg)

Sorry the combatlog is german, couldn't f

[2015-09-03 03:44] Peonstomperx commented on #1560
theory seems incorrect, stopcasting happens before cc applies;
https://youtu.be/MwpircSE2hI?t=45 hydra 3(s2?) kidney shot while casting
https://youtu.be/QyTyNaiEJKs?t=229 s4 cyclone while casting
https://youtu.be/Fv_CJDCmGO8?t=73 s4 charge while casting

[2015-09-03 03:46] Peonstomperx commented on #1414
stopcasting happens before CC applies, question is if server allows casts in that time

https://youtu.be/MwpircSE2hI?t=45 hydra 3(s2?) kidney shot while casting
https://youtu.be/QyTyNaiEJKs?t=229 s4 cyclone while casting
https://youtu.be/Fv_CJDCmGO8?t=73 s4 charge while casting

[2015-09-03 07:14] Aasamath commented on #1582
@netherspite I"m pretty sure flag was already red even if the capture wasn't finished (on cc). I didn't come across a flag like Sergio's screenshot.
When i captured it later on alliance, horde flag changed to alliance but didn't go grey at any time.

[2015-09-03 07:43] Barroth commented on #1599
that npc got 96 on all resistances

[2015-09-03 07:50] Aasamath commented on #1236
Can do it on my warlock but i remember trying and failing at it a few days ago.
![wowscrnshot_090315_095245](https://cloud.githubusercontent.com/assets/13113093/9653184/e641a26c-5221-11e5-88f0-38b394278372.jpg)

[2015-09-03 08:00] Barroth commented on #878
no it is just 10% of the dmg seal of blood did.

[2015-09-03 08:05] Zilvinauskas commented on #1589
well atleast it doesn't get locked here.

[2015-09-03 08:15] Doppelmoral commented on #1599
^ That would make it practically immune at its respective level range no ?

[2015-09-03 08:37] Ickler commented on #1242
This issue occurs in Normal mode too.

[2015-09-03 08:51] Ickler opened #1600 "[NPC] Mob's turn when you open with stuns, but it's not visible."
9 out of 10 times when I open with a Cheap shot from rogue, Pounce from druid - I am unable to use Backstab / Shred, and error message is displayed.

<a href="http://imgur.com/dE09wgo"><img src="http://i.imgur.com/dE09wgo.jpg" title="source: imgur.com" /></a>

How to reproduce:
Make a rogue
Get lvl 70
Train skills
Find mob
Cheap shot said mob from behind
Spam Backstab / Mutilate

[2015-09-03 09:32] Aasamath commented on #1574
Seems you managed to vanish while your actionbar was greyed out. (bar is greyed, check wotf on second screen to see difference)
![0](https://cloud.githubusercontent.com/assets/13113093/9655146/684b264a-522f-11e5-9cec-023e57f9571c.png)
![1](https://cloud.githubusercontent.com/assets/13113093/9655106/37b5ef38-522f-11e5-8628-e915560541c4.png)

[2015-09-03 10:38] Barroth commented on #1599
Against a level 70 caster the spells are by average reduced by 20.57%
(see http://wowwiki.wikia.com/wiki/Formulas:Magical_resistance?oldid=1561356)

Which leads to the mob having a big 25% resist chance, a little 50% resist chance and a very small 75% resist chance to partially resist a nonbinary spell.

Since Binary spells cannot be partially resisted, you won't see it happen on the Mindflay dama

[2015-09-03 11:05] TheVcelar opened #1601 "[Hunter] Pet abilities seems to not be affected by orc racial"
i did some testing with target dummy and it seems, that pet abilities - at least gore and bite - are not afected by orc racial

screens
gore: http://postimg.org/image/bu1j0bp0t/
bite: http://postimg.org/image/qltdp8tr3/

here is some math:
target dummy dmg reduction: ~57.7%
pet dmg modifiers : orc racial +5%; pet mood +25%; unleashed fury +20%; ravager species +10%;
base dmg: gore (37~61); bite (1

[2015-09-03 11:11] TheVcelar opened #1602 "[Hunter] macro "/cast !auto shot""
macro "/cast !auto shot" is broken

what should happen:
when you spam this macro, auto shots should normaly go off

whats the problem:
the exclamation mark in macro is ignored and when you spam macro, you keep arming and disarming your range weapon you does not shoot

[2015-09-03 11:39] Aasamath commented on #1602
It's the same for wands. the !  should prevent the toggle on and toggle off of the spell. But i don't know if it should reset the arming animation.

[2015-09-03 13:18] Klimpb commented on #1526
This is a bit of a strange issue.. Many videos of TBC retail shows an extra batch delay between when the spell effect happens on the target and when the debuff itself applies. Mostly with spells that has got a trigger(interrupt, then silence for example). But it can also be seen with other spells that has not such as Psychic Scream & Frost Nova... This wasn't always the case on retail though, many

[2015-09-03 13:40] Barroth commented on #1582
The flag immediatly changes to horde/alliance flag, see here: https://www.youtube.com/watch?v=USPHP6a9IaI

[2015-09-03 13:56] ccshiro commented on #1584
Duplicate of #1396.

[2015-09-03 13:56] #1584 closed, assigned to nobody

[2015-09-03 14:19] #1599 closed, assigned to ccnim

[2015-09-03 14:35] #1596 closed, assigned to ccnim

[2015-09-03 14:43] Barroth commented on #1597
I think it is correct that the spell should stop, in 2.4.3 they added this: "-  Equipping an item will now cancel any spell cast currently in progress."
Was mainly to stop people from swapping relicts I think.

[2015-09-03 15:05] petaal commented on #605
Just ran underbog. All the mobs were working fine without evading for us.

[2015-09-03 15:06] petaal commented on #840
Just ran underbog. All the mobs were working fine without evading for us.

[2015-09-03 15:11] petaal commented on #1463
Was able to reproduce this. Claw can be pulled and killed seperately. After that he turns friendly and goes sitting by the boss. After we aggroed the boss, Windcaller Claw (in tauren form) started to attack a member of our group and didn't stop until his target was dead. We couldn't do anything to him as he was friendly.
![wowscrnshot_090315_163420](https://cloud.githubusercontent.com/assets/11743

[2015-09-03 15:18] petaal commented on #1540
We tried to abuse this on heroic ramparts, but killing Vazruden gives no rep. While Vazruden was dead, running outside and back inside reset the whole event.

After we killed the dragon, we got the rep although Vazruden was still alive. Dunno if this is a problem because it was pretty difficult to stay alive while both of them were attacking. We didn't try running outside after killing the dragon

[2015-09-03 15:20] yanech opened #1603 "[Paladin] Consecretion non-existing ticks"
Hi
Sorry for bad english.

I was testing concecration on target dummies, and sometimes ticks are missing.
Nor like a miss (the game mechanic), but like concecration is off, or the dummy is out of AoE.
I've seen up to 4 missing ticks /8.

This screenshot is not in english but you can understand the combat log.
![wowscrnshot_090315_115132](https://cloud.githubusercontent.com/assets/14111503/9662344/

[2015-09-03 16:38] Jumpka commented on #1598
For some supporting evidence:

EDIT:
http://www.arenajunkies.com/topic/42196-seal-of-blood-question/
"The secondary use of SoB is that it allows the paladin to mimic the use of SW: D that priests use to get out of Polymorphs and occasionally Blinds. SoB's backlash damage occurs about 0.5s-1.0s after the actual attack, which means its quite possible for you to make an attack (Auto or Judgement) get

[2015-09-03 17:22] ta55el commented on #1583
Idk why u paste recount with just 26 fireballs casted. This game depends on rng so u'll never get perfectly results. Everything seems ok for me. Issue to close.

[2015-09-03 17:58] ccshiro commented on #1603
The ticks exist, you're just experiencing resists. The question is if consecration ticks being resisted should show in the combat log or not (note I'm talking about spell hit resistance here, not partial resistance).

[2015-09-03 18:04] Jumpka opened #1604 "[Shaman] Earth shield should be able to crit"
Tested on more than 100 procs, not a single one was a crit.

http://www.wowhead.com/spell=974/earth-shield#comments
http://wowwiki.wikia.com/wiki/Earth_Shield

EDIT: But ES crits shouldn't proc Ancestral Healing

[2015-09-03 18:07] ccshiro commented on #1590
Duplicate of #1505, also the fix wasn't in yesterday when you tried it. Would be nice if you could try it again, please.

[2015-09-03 18:07] #1590 closed, assigned to nobody

[2015-09-03 18:20] Klimpb commented on #1597
@Barroth That seems to be working as it should then.

But the stuff regarding the spell delay seems weird.. Since you can't always get it to work, because of the timing of the batches.

Doesn't seem right.

[2015-09-03 18:22] Peonstomperx commented on #1604
It should use the targets spell crit?

 Wrath-Logo-Small Patch 3.0.8 (2009-01-20): Now correctly uses the Shaman’s own spell critical strike chance to determine the chance of a critical heal.

[2015-09-03 18:44] Jumpka commented on #1604
Ye, well according to this it used the target's spell crit on retail, but it looks like a mistake and since they won't even implement sealtwisting because they refer to it as a bug, who knows what will they do with this.
(btw tested it selfcasted, got about 15 healing wave crits and no ES crit in the same number of casts/procs)

[2015-09-03 19:10] ccshiro commented on #1525
This is working as intended. The current workings we have based on research is:

Curse of Recklessness prevents fear and NPCs fleeing when low health.
Judgement of Justice prevents NPCs fleeing when low health, but not real fear.

In other words, need proof.

[2015-09-03 19:15] ccshiro commented on #1526
@SuddenDeath I didn't implement that, no. This is an effect that happens by itself due to how the spell data looks.

Felhunter's spell lock is split off into two components:
Part one has an interrupt effect and triggers Part two (see: http://db.vanillagaming.org/?spell=19244)
Part two has the actual silenced aura (see: http://db.vanillagaming.org/?spell=24259)

This means, given our implementation

[2015-09-03 19:42] netherspite opened #1605 "The Art of Fel Reaver Maintenance should drop from the chest and not from the mobs"
According to the quest text and comments on wowhead: http://www.wowhead.com/quest=10606/the-art-of-fel-reaver-maintenance#comments
Quest item should drop from the chest only, not from the mobs.
I've got the drop from Gan'arg Technician.

![wowscrnshot_090315_154724](https://cloud.githubusercontent.com/assets/5777848/9668943/0790ae70-528d-11e5-9595-0612d5da901f.jpg)

[2015-09-03 19:44] netherspite opened #1606 "The Fel and the Furious makes you lose character control"
After you complete the quest and remove the fel reaver controlling buff, you are getting back to your character but are unable to move.
Relogging helps but after relog I had my talent increasing Frost spells range by 20% not working until another relog.
![wowscrnshot_090315_155125](https://cloud.githubusercontent.com/assets/5777848/9668994/57acbc46-528d-11e5-9d43-da68f7900f61.jpg)

[2015-09-03 19:46] netherspite opened #1607 "I Was A Lot Of Things... is broken"
I tried using the whistle many times at many tubers but felboars didn't come.
Tried clearing the place of flayers - didn't help.

![wowscrnshot_090315_155817](https://cloud.githubusercontent.com/assets/5777848/9669035/8cf2184c-528d-11e5-89c4-3dd9fb0a21b1.jpg)

[2015-09-03 19:48] netherspite opened #1608 "Ashtongue Shamans are staying in place if pulled at some moment"
It seems that sometimes they cast some red-colored self-buff ability (or something like that) and if you pull them at that moment from the range they won't move to you and will just stay in place until you kill them.

![wowscrnshot_090315_160024](https://cloud.githubusercontent.com/assets/5777848/9669081/bc74c57e-528d-11e5-9666-f0ffcb196cdc.jpg)
![wowscrnshot_090315_160308](https://cloud.githubuse

[2015-09-03 19:50] netherspite opened #1609 "Buggy movement of mobs in specific place at Ruins of Baa'ri"
Two screenshots with movegens dump.
At both screenshots they were jumping up and down while coming through this point.

![wowscrnshot_090315_160621](https://cloud.githubusercontent.com/assets/5777848/9669167/2a393716-528e-11e5-975d-cf536f8732d4.jpg)
![wowscrnshot_090315_160649](https://cloud.githubusercontent.com/assets/5777848/9669173/32dbfd22-528e-11e5-981d-9706c6dcb832.jpg)

[2015-09-03 19:54] #1481 closed, assigned to ccnim

[2015-09-03 19:54] netherspite opened #1610 "One of the Ashtongue Handler + Elekk Demolisher groups in Ruins of Baa'ri has weird waypoints"
They seem to be patrolling back and forth between two points.
However, they waypoints seem to be wrong.

![wowscrnshot_090315_161616_edited](https://cloud.githubusercontent.com/assets/5777848/9669254/8e445de4-528e-11e5-9460-2925d492ec7f.jpg)

They walk from point A to point B then to point C correctly.
After that they _run_ back to point B and walk to point C again.
After that they correctly walk

[2015-09-03 19:57] ccshiro commented on #1436
Working now, got fixed in #1532.

[2015-09-03 19:57] #1436 closed, assigned to nobody

[2015-09-03 19:59] netherspite commented on #1606
This is duplicate of #142.
However, there is additional info about the talent problem. I'll comment at #142 and close this one.

[2015-09-03 19:59] #1606 closed, assigned to nobody

[2015-09-03 20:00] netherspite commented on #142
I right-clicked the buff and got the same issue.
Additionally, when I relogged, I had my +20% frost spells range talent not working until another relog.

[2015-09-03 20:09] KimmoKM commented on #1605
If you look at the [item](http://www.wowhead.com/item=30713/the-art-of-fel-reaver-maintenance), Wowhead seems to think it can drop from the mobs. Doesn't make sense considering the quest description, I don't recall it ever dropping and I would expect such a thing being mentioned in quest description if it was the case, though.

[2015-09-03 20:11] KimmoKM commented on #1607
The range of the whistle might be too low, I didn't have any issue when the boars were close by (<15yd from the tuber).

[2015-09-03 20:13] netherspite commented on #1607
You mean there should be a felboar close to the tuber when you use the whistle?
In that case I'm wrong and there's no issue. Will check that again.

[2015-09-03 20:14] netherspite commented on #1605
May be it was added later at the retail or it's the wrong information from private servers.
Also comments on wowhead say that it drops from the chest.
Why would one open the chest if you just need to kill the mob?

[2015-09-03 20:29] Ickler commented on #1525
@ccshiro Doesn't the videos linked in the OP prove that JoJ makes targets ignore fear?

[2015-09-03 20:36] hjortmar opened #1611 "Blackheart the Inciter - targeting a dead player"
We ran through the first two bosses of SL on HC, after about 20% Blackheart started targeting a dead party member instead of me.
Even though he was the target I was still getting hit however.

![wowscrnshot_090315_221552](https://cloud.githubusercontent.com/assets/12005771/9670250/e5cd3084-528b-11e5-99a0-4341877b7a15.jpg)

PS. the pastebin link in step 3 is broken in the "How to post bugs": http:/

[2015-09-03 20:37] Soyoen opened #1612 "[BRD] Slaves"
Slaves throughout BRD are lacking the /cry emotes.

[2015-09-03 20:40] Soyoen opened #1613 "[BRM] Dragons"
The dragons flying around within the blackrock mountains have no waypoint coding and are just floating in the air.

[2015-09-03 20:42] Soyoen opened #1614 "Lava"
Currently it is impossible to lava dodge in (as example) blackrock mountains. In whatever manner you try you will still take damage when jumping to dodge the lava damage.

[2015-09-03 20:44] Soyoen opened #1615 "[BRD] Bosses & mobs that dont use abilities"
Lord Incendius
Fineous Darkvire (who also doesn't go along his basic patrol route and just stand still)
Twilight Emissary
Twilight Bodyguard
Warder Stilgiss
Verek
Pyromancer Loregrain
Ring of Law boss spawns

[2015-09-03 20:45] ccnim commented on #1615
Vanilla dungeons are not yet done

[2015-09-03 20:45] #1615 closed, assigned to nobody

[2015-09-03 20:45] ccnim commented on #1612
not yet done

[2015-09-03 20:45] #1612 closed, assigned to nobody

[2015-09-03 20:46] ccnim commented on #1613
We won't be fixing much of the vanilla zones. If I do find time I might fix it.

[2015-09-03 20:46] #1613 closed, assigned to nobody

[2015-09-03 20:46] Soyoen opened #1616 "[BRD] Warbringer Constructs (Vault)"
Warbringer Constructs in the vault are hostile from the getgo in the vault when they should be neutral/untargetable and come alive by event.

[2015-09-03 20:49] Soyoen opened #1617 "[BRD] Bridge guard spawn trigger"
The brdge between the arena and the vault area is missing the trigger to spawn the dual guards, instead they are spawned and hid away in the corner from the getgo. Both should spawn and run towards the middle of the bridge after you pass a certain trigger point midbridge.

In combination the fireguard destroyer is missing his patrol on the same bridge.

[2015-09-03 20:50] Soyoen opened #1618 "[BRD] Post ring of law effects"
The audience of the ring of law does not become neutral after the ring of law event has been completed, instead they remain hostile.

[2015-09-03 20:52] Soyoen opened #1619 "[BRD] The Lyceum (Anvilrage reservist)"
The npcs within the Lyceum and in specific Anvilrage reservists does not respawn a short time after being killed which trivilizes the whole room.

[2015-09-03 20:53] Soyoen opened #1620 "[BRD] Magmus flamethrowers"
The "flamethrowers" in the room where magmus is standing are currently not active in any way which should not be the case.

[2015-09-03 20:55] Soyoen opened #1621 "[BRD] Emperor room"
Missing patrol in terms of all standalone doomforge dragoons.

Emperor can be stunned.

No npcs aids the throne at pull.

[2015-09-03 21:00] Soyoen commented on #1613
Tested in regards to Vanilla content @ https://github.com/ccshiro/cc-buglist/milestones

[2015-09-03 21:12] ccshiro commented on #1525
@Ickler you're right, I wasn't looking carefully enough at the report. It's too bad I can't find what we based our implementation on, I can only find the commit that says JoJ shouldn't have the same mechanic.

[2015-09-03 21:19] KimmoKM commented on #1607
[Comments](http://www.wowhead.com/quest=10514/i-was-a-lot-of-things#comments:id=26528) in Wowhead seem to suggest you have to be close to the boars (and right on top of the tuber) when using the whistle. Commentary to quest video in https://youtu.be/5Tdchy-zSY4?t=1m6s also mentions boars have to be "quite close by".

Regardless of if the maximum range is correct on CC or not (I wouldn't rule out t

[2015-09-03 21:30] KimmoKM commented on #1605
@netherspite
True, it's hardly unprecedented for Wowhead to display incorrect information. I agree the functionality in TBC probably required you to loot the chest with no alternative ways for getting the manual.

[2015-09-03 22:18] Azubal opened #1622 "[NPC] Collidus the Warp-Watcher"
his abilitie '' Focused Bursts '' Does no damage, and he should be Immune to snares and slowing effects, his blink abilitie still missing too + he's got low HP

Note : many of Elite rares have been nerfed in the past ( from what i read in multiple wowhead comments ) in the past for example in the 2.0.6 version rare elite where 5 man fight and had like + 75k HP each one of them ), and players shoul

[2015-09-03 22:27] yanech commented on #1603
On retail, only the first tick can be resisted. I can easily find sources to back this, if you want.

No "resist" in the combat log, and no "resist" displayed on the dummy.
The target is level 70, so i should experience few total resists.
If you're right, that means I had a lot more 100% than 50% resist during my tests (not just this one). So I'm not sure it's spell resists.

[2015-09-03 22:28] Azubal opened #1623 "[Quest] the-ashtongue-corruptors"
Can break the link of the corrupted totems by just stunning or cyclonning them and kill the mob after ward without killing the totems

Videos links : https://www.youtube.com/watch?v=GiPs8JUu_g0
https://www.youtube.com/watch?v=kPctkVTJL08
https://www.youtube.com/watch?v=63BW2H2g9AY

Source > wowhead comments : http://fr.wowhead.com/quest=10574/les-corrupteurs-cendrelangues#english-comments

[2015-09-03 22:31] Azubal opened #1624 "[Pathing] NPC Vilewing Chimaera in Shadowmoon Valley"
Screenshot with the commend ''.movegens --verbose'' Link :

http://i.imgur.com/O1mEs6b.jpg?1

Short video Link  : https://www.youtube.com/watch?v=zj8l3iBTwc0

Location is visible on the map.

[2015-09-03 23:23] netherspite commented on #1607
Yes it works. However there is another issue. I'll close this one and create new.

[2015-09-03 23:23] #1607 closed, assigned to nobody

[2015-09-03 23:25] netherspite opened #1625 "Tubers in I Was A Lot Of Things... quest are not disappearing upon being used"
It is possible to repeatedly use the whistle on the same felboar at the same tuber and get it completed within 2 minutes or so.

![wowscrnshot_090415_015812](https://cloud.githubusercontent.com/assets/5777848/9673358/269af0b8-52ac-11e5-9842-2f41bb81d777.jpg)

[2015-09-03 23:26] netherspite opened #1626 "Ravenous Flayer Eggs for A Lesson Learned quest have too fast respawn timer"
An egg respawned within a time of looting 2 other eggs around first one. So I could just go in circles between 3 eggs and get the quest done.
![wowscrnshot_090415_020438](https://cloud.githubusercontent.com/assets/5777848/9673376/5aa240a0-52ac-11e5-97ff-29440d4d1182.jpg)

[2015-09-03 23:54] Liesara opened #1627 "Noggenfogger Elixier - Mounting"
While under the effect of both and either the shrinking and/or skeleton effect you're able to mount up.

![noggenfogger mount](https://cloud.githubusercontent.com/assets/14063689/9673499/113249b2-52a5-11e5-906d-05ae19c41339.jpg)

According to WoWWiki: http://wowwiki.wikia.com/wiki/Noggenfogger_Elixir
Patch 3.3.0 (08-Dec-2009): Players shrunk while under the effects of this item will now be able to

[2015-09-04 00:40] Peonstomperx commented on #1597
Isn't this the same mechanic that seal-twisting used? Swapping seal during spell delay

[2015-09-04 00:50] ccshiro commented on #1616
There's no point in reporting individual bugs in BRD, the task for the instance is still open which means it has not been looked at yet: #403.

[2015-09-04 00:50] #1616 closed, assigned to nobody

[2015-09-04 00:51] ccshiro commented on #1617
There's no point in reporting individual bugs in BRD, the task for the instance is still open which means it has not been looked at yet: #403.

[2015-09-04 00:51] #1617 closed, assigned to nobody

[2015-09-04 00:51] ccshiro commented on #1618
There's no point in reporting individual bugs in BRD, the task for the instance is still open which means it has not been looked at yet: #403.

[2015-09-04 00:51] #1618 closed, assigned to nobody

[2015-09-04 00:51] ccshiro commented on #1619
There's no point in reporting individual bugs in BRD, the task for the instance is still open which means it has not been looked at yet: #403.

[2015-09-04 00:51] #1619 closed, assigned to nobody

[2015-09-04 00:51] ccshiro commented on #1620
There's no point in reporting individual bugs in BRD, the task for the instance is still open which means it has not been looked at yet: #403.

[2015-09-04 00:51] #1620 closed, assigned to nobody

[2015-09-04 00:51] ccshiro commented on #1621
There's no point in reporting individual bugs in BRD, the task for the instance is still open which means it has not been looked at yet: #403.

[2015-09-04 00:51] #1621 closed, assigned to nobody

[2015-09-04 01:01] ccshiro commented on #1603
The target in your screenshot is ??. Also, I'm sure it's hit based resistance removing ticks because I looked at what's happening in the code. If it's not true that hit based resistance should be rolled per consecration tick, then the bug is precisely that. If it's easy to find then sources of that would indeed be nice, thanks.

[2015-09-04 01:28] Soyoen opened #1628 "[Dungeons]: Chests & loot"
A) Mana Tombs
The chests within the Mana Tombs are on a static spawner, meaning that they spawn on the same location over and over again regardless of ID. In the link below will you find the full "pool" of locations where the chests should be able to spawn (max two spawns per ID, same with the adamentium mines which were correct), the red dots represent chests:
http://vignette1.wikia.nocookie.net/

[2015-09-04 02:31] Jumpka opened #1629 "WF totem + Seal of Command"
I know there is one thread about this already, but it is so wrong/confusing that I'd rather a new report.

1) Seal of Command should be able to proc off WF if it hasn't already proced off autoattack causing this WF  (not bugged - more below)
2) WF should be able to proc off Seal of Command

Right now, the first part is working as it should, that is if you get a WF proc, it checks for SoC proc from

[2015-09-04 07:35] ConfusedCC commented on #1627
you could still mount when tiny,
https://www.youtube.com/watch?v=PiubZPPTUJI  2006/feb

on the talk page there is a mention about not being able to mount:
 The Tiny Buff Edit
"
I have found it impossible to summon my mount while under this effect. I receive the error that I can't do that right now. I have not yet tested it for air taxis. Is this an undocumented change?   SulhirVainamoinenGossipgos

[2015-09-04 07:47] Peonstomperx commented on #1597
you can currently mortal strike with 1h+shield, swap to 2h for full mortal strike damage and then swap back to shield again in the same GCD

this really needs research imo

[2015-09-04 09:40] Klimpb commented on #1597
Peonstomperx: Same can be done with rogue shiv currently.

Have a really fast off hand equipped which makes Shiv cost less energy, then cast shiv and equip a very slow offhand and it will do more damage, but for the lower energy cost.

Fairly sure that this is not intended. I'll try to look for some type of proof though.

[2015-09-04 10:06] YourNewfriend commented on #1627
Only the skele buff should restrict mounting

[2015-09-04 11:19] netherspite opened #1630 "Spirit of Ar'tor takes too long to appear"
I'm not sure whether it was just long waiting time or it took me to fly away and return for him to appear.
I've seen his chat message right after I turned the previous quest part (Demonic Crystal Prisons) but didn't see him.
I thought it's bugged and after a while flew away. I returned in a second or so and noticed that he appeared.

[2015-09-04 11:19] netherspite commented on #1630
http://www.wowhead.com/npc=21318/spirit-of-artor

[2015-09-04 11:24] netherspite opened #1631 "Spirit Hunter in The Cipher of Damnation - Ar'tor's Charge does not spawn if you're mounted"
It should be possible to take the quest on your fly mount, according to the wowhead comments:
http://www.wowhead.com/quest=10540/the-cipher-of-damnation-artors-charge#comments
Currently on CC it says "You're mounted" and the spirit doesn't spawn.

[2015-09-04 11:30] netherspite opened #1632 "Water bolt spell of Coilskar Sorceress is not interruptible"
I could not find proofs that it should be interruptible or not but it's just weird that an ordinary spell of an ordinary mob is not interruptible.
It does not say "immune" or something, the counterspell lands okay but she just keeps casting.

[2015-09-04 11:32] netherspite opened #1633 "Blood Elf Disguise cannot be used while mounted"
It should be usable while mounted according to the comments on wowhead:
http://www.wowhead.com/item=30639/blood-elf-disguise#comments

At the moment it is not simply unusable while mounted. It is getting used successfully, disappears from your bag but does not give you the buff thus making you having to abandon the quest and take it again.

[2015-09-04 11:33] netherspite opened #1634 "Blood Elf Disguise has wrong description"
Looks funny:
![wowscrnshot_090415_134434](https://cloud.githubusercontent.com/assets/5777848/9682704/d4796ef2-5311-11e5-8f15-f77f13b3aefa.jpg)

Correct description is "Disguises the user as a blood elf servant of Illidan." according to the wowhead:
http://www.wowhead.com/spell=37096/blood-elf-illusion

[2015-09-04 12:39] opzor commented on #1549
Steamvault
Coilfang Engineer (mele) - seduce is working
Coilfang Warrior (mele) - seduce is NOT working (but FEAR is working so it is possible to CC this mob)

[2015-09-04 12:46] opzor commented on #142
i remember some of the addons were causing crash on quests with timer. try without addons.

[2015-09-04 13:37] ccnim commented on #1622
#1103

[2015-09-04 13:37] #1622 closed, assigned to nobody

[2015-09-04 13:49] ccnim commented on #1632
Can't interrupt it, needs to be silenced. Imp. kick etc.

[2015-09-04 13:49] #1632 closed, assigned to nobody

[2015-09-04 14:12] Klimpb commented on #1597
Also it probably works the same for relics as well. Cast a spell then instantly switch to a different relic within the spell batch and you'll get the effect of the new relic.

Basically the change in 2.4.3 which was "Equipping an item will now cancel any spell cast currently in progress." wouldn't do much. You would still be able to switch weapons "during"/after a cast but having it affect the sam

[2015-09-04 14:17] #1626 closed, assigned to ccnim

[2015-09-04 14:23] ccnim commented on #1610
only one of the mobs is running to try and get in formation.

[2015-09-04 14:23] #1610 closed, assigned to nobody

[2015-09-04 14:27] ghost opened #1635 "Netherweave Net is working on friendly targets"
Netherweave Net (tailoring item) is working on friendly targets, including players and npc, party members.
![wowscrnshot_090415_125255](https://cloud.githubusercontent.com/assets/13764565/9685929/c54703e4-5353-11e5-92a2-b33bbb255399.jpg)

[2015-09-04 14:28] #1605 closed, assigned to ccnim

[2015-09-04 14:46] ghost opened #1636 "Horde trauma quest glitch"
Can't interact with NPC to comlete Horde Trauma quest (First Aid 225+ quest). I'am in dialoge range, press mouse right button and nothing happens, no message, no NPC respond, nothing.
![wowscrnshot_090415_224029](https://cloud.githubusercontent.com/assets/13764565/9686462/b8ef10e8-5356-11e5-85ee-6589e51ef633.jpg)
![wowscrnshot_090415_223806](https://cloud.githubusercontent.com/assets/13764565/9686

[2015-09-04 15:13] ccnim commented on #1472
Fixed the netherweave and sort of fixed the teleport issue

[2015-09-04 15:13] #1472 closed, assigned to ccnim

[2015-09-04 15:32] #1401 closed, assigned to ccnim

[2015-09-04 17:23] Ickler commented on #1633
As far as I recall you can't mount when doing that quest. And the WoWhead comments seems to support that..

By Miyari (92,412 – 30·67·226) on 2007/08/28 (Patch 2.1.3)
"Also worth mentioning that mounting up while disguised will break the disguise and you WILL get mauled upon by all of the surrounding blood elves."

[2015-09-04 17:27] netherspite commented on #1633
You can't mount while doing it but can mount BEFORE doing it.

[2015-09-04 20:24] netherspite opened #1637 "Kraator rare elite should not be slowable"
He was affected by my frostbolt debuff.
He should be immune to snares according to wowhead comment from patch 2.0.8:
http://www.wowhead.com/npc=18696/kraator#comments
He was later nerfed (in 2.4) but in 2.0.1 state it should not be slowable.

[2015-09-04 20:27] netherspite opened #1638 "Creature AI should prioritize unfeared targets"
He should prioritize attacking other targets when the tank is feared according to wowhead comments:
http://www.wowhead.com/npc=21102/uvuros#comments

[2015-09-04 20:29] netherspite opened #1639 "In Ally of the Netherwing quest Karynaku does not want to bring me to Mordenai"
The quest can be turned in to Mordenai but I had to fly there myself because Karynaku did not want to do anything after I took the quest and just kept lying there.
http://www.wowhead.com/quest=10870/ally-of-the-netherwing#comments

[2015-09-04 20:31] netherspite opened #1640 "Ex-party members had their health displayed as 0%"
A weird issue and I'm not sure if it's reproducible.
I was killing elites in party then left it and tried pulling another elite alone and have the party help me killing it.
After that I noticed that health of two of my ex-party members was displayed as 0%.
That's only visual glitch but still.

![wowscrnshot_090415_212822](https://cloud.githubusercontent.com/assets/5777848/9693945/11848ad4-535d-11e

[2015-09-04 22:18] darkcranio commented on #1635
please leave it be, i like fun things that bothers others

[2015-09-04 22:52] netherspite opened #1641 "Level 1-3 undead NPCs in Deathknell and their shadow resistance"
It looks like they have 10 shadow resistance normal undead players have. Or something similar.
Because when I was level 1 my shadowbolt was dealing 25% of the damage like 75% of the time or so.
Killing a single mob was taking ages (because I spent my whole mana to shoot 4x 4 damage shadowbolts and then had to melee them for 1 damage per hit).
It took me 13 minutes (!) to complete that quest. I'm r

[2015-09-04 22:56] netherspite opened #1642 "Warlock's Imp pet is talking too much"
He seems to be saying something every time he casts a fireball.
Most of the time it's just his normal sound (without words) but occasionally he also says something.
I've heard his whole repertoire within 3 minutes or so.
IIRC he should say something or play his sound only when you send him to attack something, not on every cast.

[2015-09-05 00:41] pjcevans opened #1643 "manafiend targets friendly player after dungeon mind control"
- mind controlled in dungeon
- manafiend is cast by mind control GREMLIN
- mind control broken by totem getting knocked out
- manafiend still going after a good friend after MC expired

Still trying to get a vid of this -.-

[2015-09-05 00:44] #1643 closed, assigned to nobody

[2015-09-05 09:36] KimmoKM commented on #1638
2.3.0 patch notes: "Creature AI has been changed to no longer prioritize attacking unfeared targets over feared targets."

Comments advising special measures seem to be from earlier than that.

[2015-09-05 09:48] netherspite commented on #1638
Server will be in 2.0.1 state so this should be changed.

[2015-09-05 10:21] KimmoKM commented on #1638
In that case it'd probably be a mechanics issue, not related to Uvuros specifically.

[2015-09-05 11:09] netherspite commented on #1642
Actually he should even say different phrases on different events.
http://wow.gamepedia.com/Imp_(warlock_minion)
At the moment he just spams random phrases from any list on every cast.

[2015-09-05 11:21] netherspite opened #1644 "Gordo has wrong waypoints"
According to leveling guides (and my memory) he never should come to the Deathknell's gates:
http://www.almarsguides.com/wow/leveling/undead.cfm
However he currently does:
![wowscrnshot_090515_131149](https://cloud.githubusercontent.com/assets/5777848/9699004/74853710-53d9-11e5-92f7-3d7b4a8c4aa1.jpg)

Also he is leaving the road further for some reason:
![wowscrnshot_090515_132047](https://cloud.g

[2015-09-05 11:22] netherspite opened #1645 "I am able to see quest game objects while corpserunning far away from my corpse"
My corpse was far away, close to Deathknell.
![wowscrnshot_090515_131854](https://cloud.githubusercontent.com/assets/5777848/9699009/8831a226-53d9-11e5-8a39-45df9de9a54b.jpg)

[2015-09-05 11:24] netherspite opened #1646 "One of Scarlet Warriors in the tower is evading when pulled from range"
Screenshot with movegens:
![wowscrnshot_090515_135847](https://cloud.githubusercontent.com/assets/5777848/9699016/c755bf32-53d9-11e5-8707-a74342df9282.jpg)

After that when I left combat I tried bodypulling him and he eventually got to me but he went through the left wall instead of running through the entrance.

[2015-09-05 11:44] opzor opened #1647 "[Inventory] Unlearning profession deletes equiped items."
Found on Tailoring (not tested other professions)

If you unlearn Tailoring while wearing Shadoweave Set and then relog character, then items are deleted (there was empty space in bags).

as far as i know those items should be UNEQUIPED from character and placed in the bags (or send via email if there is no place in bags).

reproduction steps:
learn tailoring
learn shadoweave tailoring
make shadow

[2015-09-05 12:06] demerda22 commented on #1637
Omfg nobody cares!!!
Just let them release this shit already

[2015-09-05 12:41] netherspite commented on #1637
And let you solo farm that rare elite?

[2015-09-05 16:35] Yzivv opened #1648 "Warrior spell reflect against mages frost nova + ice lance."
When you cast ice lance on a frozen warrior who has spell reflect up you will take the triple damage from ice lance as if you were frozen too. Im not sure if this affects other spells too with shatter talent giving more chance to crit.

[2015-09-05 16:53] KimmoKM commented on #1648
Screenshot
![2015-09-05-194506_1920x1080_scrot](https://cloud.githubusercontent.com/assets/1533992/9700337/9fbdb3c0-5407-11e5-80ee-0252b2aed592.png)

[2015-09-05 17:11] mehyt opened #1649 "Nature's grace doesn't work on healing spells (Druid)"
Nature's Grace does not give me its casting time reduction buff when I crit on HEALING spells, but it works for damages spells. I have no other buff or debuff on me. I'm wearing full PvP gear. This is fully reproducable by creating a night elf druid.

[2015-09-05 17:17] mehyt opened #1650 "Abolish Poison (Druids)"
Abolish Poison fade after a tick if the tick don't cure any poison. But if it cure poison, buff is running as it's supposed to be. I'm wearing full PvP gear. This is fully reproducable by creating a night elf druid.

[2015-09-05 17:26] SuddenDeath commented on #1648
I'm fairly sure like this is working as it should, I'm 90% sure that it worked like this in wotlk at least.

[2015-09-05 17:40] KimmoKM commented on #1648
If you look at https://www.youtube.com/watch?v=VFTGsRMfH48 around 10:29, you see Ice Lance reflected by a frozen warrior and it doesn't return the 1k some damage it would if damage was tripled.

I looked through my recordings from the test today and it looks like Shatter crit chance increase is also in effect (although the sample size is too low to make a definite call), which probably shouldn't b

[2015-09-05 18:06] KimmoKM commented on #1643
Why did you close this issue? While I have no direct evidence of the claim, my intuition also says Shadow Fiend summoned during MC probably shouldn't be hostile after MC ends.

[2015-09-05 18:18] SuddenDeath commented on #1648
@KimmoKM that clip doesn't really say anything though since I can't even tell if the warrior is actually frozen when he casts ice lance.. It fades just about same time.

hm

[2015-09-05 18:33] netherspite opened #1651 "Shield Bash ability of Captain Vachon in Tirisfal Glades hits for too much"
Literally oneshotting anyone of appropriate level.
![wowscrnshot_090515_213011](https://cloud.githubusercontent.com/assets/5777848/9700707/bc399bfa-5415-11e5-8905-5fc44a0fd7e7.jpg)

[2015-09-05 18:38] KimmoKM commented on #1648
https://www.youtube.com/watch?v=-J55f0puu9A at 16:45 also shows it and the warrior is most definitely frozen

[2015-09-05 18:47] ghost commented on #1638
@KimmoKM
You may be correct in that it is not specific to Uvuros but there may be a special case. Blood Guard Porung, of heroic Shattered Halls, has a fear ability that he casts on the tank. When we were fighting him last night he feared me (tank) and went to attack other members of the group (during the duration of the fear).

[2015-09-05 18:59] Azubal commented on #1638
there is a similair issue with Kraator ( a rare elite in SMV ) who keep's hitting the conflagged tank.

[2015-09-05 19:18] pjcevans commented on #1643
Made in error, think this works as intended

[2015-09-05 20:31] lynxzor commented on #1650
#1576

[2015-09-05 21:05] netherspite opened #1652 "A Letter To Yvette drops all the time even if you already completed the Q"
First of all, it should have really low chance to drop, according to wowhead comments:
http://www.wowhead.com/item=2839/a-letter-to-yvette
At the moment it drops with 100% chance off every mob in Agamand Mills.
Second, it keeps dropping if you accepted the quest, it keeps dropping if you accepted the quest and already have another item in your bags, it keeps dropping after you completed the quest

[2015-09-05 21:07] netherspite opened #1653 "Theresa in Undercity has wrong waypoints"
On her way back to her master she flies above the green water instead of walking by the bridge.

![wowscrnshot_090515_225248](https://cloud.githubusercontent.com/assets/5777848/9701294/41ded882-542b-11e5-8d90-f611d8e3e5dd.jpg)

[2015-09-05 21:08] netherspite opened #1654 "Nissa Agamand is invisible until pulled"
Doesn't get selected by Tab either.
Found her by typing /tar Nissa only.

![wowscrnshot_090515_231933](https://cloud.githubusercontent.com/assets/5777848/9701302/6423284e-542b-11e5-83dd-d010474b5fd9.jpg)

[2015-09-05 21:16] netherspite commented on #847
Sorry for posting just some observations without any proofs or new research results but I just tested low level warlock leveling and it feels really weird.

I'm not sure whether it's about regeneration or stat scaling but I had issues with my pets.
Imp was regenerating his mana so slow that I had to let him to rest on 1 of 2-4 mobs because he was oom.
Voidwalker was regenerating his health so slow

[2015-09-05 23:14] ccshiro commented on #1647
I think the code handles it by sending them to your mail at the moment, did you check that they weren't there?

[2015-09-06 00:28] opzor opened #1655 "[Meta/Talents] Critical Hit Damage calculations incorrect (Chaotic Skyfire Diamond / Ruin)"
http://wowwiki.wikia.com/wiki/Chaotic_Skyfire_Diamond

Tested on destro warlock with Ruin talent.
It seems that "3% Increased Critical Damage" portion of meta is calculated incorrectly.
Critical Hits are lower than expected (see pics)

---

possibly correct formula:
**critDmgMult =  1 + ( ( ( base x meta ) - 1 ) x talent )**

sample:
____**with meta and ruin**
- base = 1.5 [+50%]
- meta = 1.3 [+3%

[2015-09-06 00:34] opzor commented on #1647
you right, they came with mail. Closing.

[2015-09-06 00:34] #1647 closed, assigned to nobody

[2015-09-06 02:30] Sleekcrush commented on #1651
I completed this quest and didn't get by his Shield Bash for anywhere near that amount. It seemed appropriate towards my level.

[2015-09-06 02:33] Sleekcrush commented on #1654
For this quest, she was upstairs for me and was targetable by pressing Tab.

[2015-09-06 03:43] Sleekcrush commented on #1652
Can confirm. Some of my notes I wrote when doing this quest, might as well add them since there is already a listed issue.

o   (http://www.wowhead.com/item=2839/a-letter-to-yvette#comments) (even though it is mostly 3.3.5 comments)
o   (http://db.valkyrie-wow.org/?item=2839) (another private server, not sure of accuracy)
o   (https://vanilla-twinhead.twinstar.cz/?item=2839) (another private serve

[2015-09-06 03:45] Sleekcrush opened #1656 "Quest: Night Web's Hollow Mob Abilities"
• Young Night Web Spider
o   Does not use ability.
o   Weak Poison.
o   http://db.vanillagaming.org/?npc=1504#abilities

• Night Web Spider
o   Does not use ability.
o   Weak Poison.
o   http://db.vanillagaming.org/?npc=1505#abilities

[2015-09-06 03:46] Sleekcrush opened #1657 "Tirisfal Glades Mob Movement Bugs"
Movement Bug

• Cursed Darkhound
o   http://i.imgur.com/AjuOttM.jpg
o   https://youtu.be/ysnM95ksMHM

• Decrepit Darkhound
o   http://i.imgur.com/xbfb2yQ.jpg
o   https://youtu.be/k5GEoRd0L8A

• Deathguard Terrence
o   When attacking a mob off his path, he will kill an enemy and stay in combat and try to kill another nearby as shown in the video. Deathguard Terrence and another Decrepit Darkhound a

[2015-09-06 06:57] Peter1337 commented on #1648
read here, posts from 2009
http://www.wowhead.com/forums&topic=129050/warrior-problems-in-pvp
and
http://us.battle.net/wow/en/forum/topic/2661067840

to put it short: FoF icelances will f*** u up :)

[2015-09-06 07:22] netherspite commented on #1651
I tried it two times and both times got oneshotted.

[2015-09-06 07:23] netherspite commented on #1654
I guess she is not always at the same place. This issue happens when she's at this door.

[2015-09-06 07:23] netherspite commented on #1652
I highly doubt Blizzard would greatly reduce droprate for WotLK so I think we can trust wowhead comments.

[2015-09-06 07:36] Yzivv commented on #1648
Sure. Thank god FoF doesnt exist in TBC.

[2015-09-06 09:06] KimmoKM opened #1658 "Rage at the start of arena matches"
On CC I could enter the arena with full rage bar, but all rage disappeared as soon as the gates were opened. My intuition tells me that rage should disappear once you enter the arena and whatever rage you gain during the preparation (from Bloodrage) should stay instead.

According to [3.0.8 patch notes](http://wowwiki.wikia.com/wiki/Patch_3.0.8) "All rage and runic power are set to 0 when an Arena

[2015-09-06 09:06] netherspite commented on #1651
He seems to be using that ability only when you're casting something.
So basically tanking him with VW solves the issue.
However I doubt mage would kill him.

[2015-09-06 09:08] KimmoKM commented on #1063
A posted in [Arenajunkies](http://www.arenajunkies.com/topic/104-warrior-rage-exploit/page__st__20) mentions the usage of Sweeping Strikes, an ability fundamentally similar to Death Wish (a cooldown that costs rage to use).

[2015-09-06 11:33] Liesara commented on #1648
i looked up some old videos. check noones': https://youtu.be/-J55f0puu9A

16:45
he took 313 damage from an icelance against the frozen warrior

[2015-09-06 11:51] ceyscro commented on #1648
An other source :

https://www.youtube.com/watch?v=IB7bUNWTlh4&t=1366

0:50
Warrior reflects the icelance (he's frozen), mage took 315 damage

[2015-09-06 12:46] Sleekcrush commented on #1651
Alright well maybe I didn't notice it as I was playing a warrior, so that was probably the case.

[2015-09-06 12:50] Lephidiles opened #1659 "[Item] Leg enchant / socketbonus"
When equipping this item i get more healing than expected

EDIT: Will add a bit more info when i understand what is happening as of now it varies to much

Seems like i am missing the socket bonus on the item not enchanted with the blue healing thread from Aldor

Then it is probably related to other legs as well although have not had the possibility to test this

[2015-09-06 12:55] KimmoKM commented on #1636
#1138 shows at least someone was able to interact with the NPC. I couldn't either, however.

[2015-09-06 13:35] opzor commented on #1655
updated with formula

[2015-09-06 14:15] Doppelmoral commented on #1648
Reflected spells reconsider conditions at their new target, this means for example also that a reflected spell will consider the caster's resilience instead of the warrior's once redirected to the initial caster.

You will never see a reflected shatter hit a mage for like 5k +, so if mages eat reflected Ice Lances for 2k etc it is a bug.

[2015-09-06 15:21] RealZwox opened #1660 "Classic [Quest] Brotherhood of Thieves"
Elwynn Forest

You can collect more than 12 'Red Burlap Bandana' from the Mobs.

http://i.imgur.com/dqbOoj6.jpg

This ONLY happens when: You have 7/8 on the Tracker. Then you kill 2 mobs and both have this item in the Loot. After turning in the Quest, the rest of the Quest are still in the Bag.

[2015-09-06 16:08] Obtrixivim opened #1661 "[Hunter] Feign death in combat"
Feign death is not working proberly in combat as shown in the video, you loose aggro but you dont stay out of combat or lie on the ground as it does out of combat.

https://www.youtube.com/watch?v=7mEafXonMVY

[2015-09-06 16:18] netherspite opened #1662 "Pets are going mad at some spot in Burning Blade Coven"
Pet is flying through the ceiling and fighting something there until you come further and call him to follow you.
![wowscrnshot_090615_190721](https://cloud.githubusercontent.com/assets/5777848/9705405/12c41dcc-54cc-11e5-8089-2ee39c8dc33f.jpg)
![wowscrnshot_090615_190733](https://cloud.githubusercontent.com/assets/5777848/9705408/15a843ba-54cc-11e5-954f-713a0d2a5515.jpg)

[2015-09-06 16:58] Obtrixivim opened #1663 "[Hunter] tame beast fails when target is trapped"
Error message giving on screen when your tame target is trapped in ice trap as shown in video

https://www.youtube.com/watch?v=eF3n7ZSWDDc

[2015-09-06 18:14] Yzivv opened #1664 "Mage water elemental attack when opponent goes out of LoS."
When you use water elemental pets attack on an opponent and they run behind a pillar the pet does not follow the enemy. If the enemy comes back into the line of sight it will resume attacking. If I instead use pet follow first and then pet attack the pet will run to the enemy and start attacking when it gets in LoS. Pretty sure the pet should automatically try to follow the enemy after it fails to

[2015-09-06 18:36] ta55el opened #1665 "[Mage] Fireball is too weak"
http://wowwiki.wikia.com/wiki/Spell_power_coefficient?oldid=1549180

It seems like spell dmg coefficient is wrong on our server. Fireball dmg is too low and dot shouldnt scale with spell power cuz spell dmg coefficient is 0% for dot.

Correct formula:
- [Base_Cast_Time/3.5] = Damage_Coefficient%

Fireball base cast time is 3,5 sec
For other spells(frostbolt, arcane blast, scorch) this formula work

[2015-09-06 18:39] Klimpb opened #1666 "Can't trinket sap/poly & poly/nova debuff combinations"
https://www.youtube.com/watch?v=ICjInJq4BI0
&
https://www.youtube.com/watch?v=zLWTwL-H6xY

[2015-09-06 18:40] Klimpb opened #1667 "I was able to cast Fear & Throw while CCed"
Fear: https://www.youtube.com/watch?v=0W_sdJnga6w
Throw: https://www.youtube.com/watch?v=uh2-0MlcyQo

Could not reproduce, only tried 2 times though.

EDIT: Probably related to having 2 overlapping CC effects on yourself & #1666

[2015-09-06 19:10] Klimpb opened #1668 "Can't use Intercept with felguard "Target too close""
https://www.youtube.com/watch?v=maBs9kY7d2Q

Target is definitely not too close.

[2015-09-06 19:19] ta55el commented on #1655
same for mage it seems this meta gem doesnt work

[2015-09-06 19:23] Klimpb opened #1669 "mob/npc chase mechanic needs tweaking."
https://www.youtube.com/watch?v=VMJXq1oz2jo

Notice how the 2 mobs chase me but aren't able to damage because they seem to stop momentarily several times. I'm guessing this is when they are in range to attack, and for some reason they stop when they attempt to do that.

This leads to me being able to easily get away safely just by running away.

[2015-09-06 19:31] Liesara commented on #1659
This seems to be a bug with socketing: If you socket the item while wearing it, everything's fine. If you socket it in your inventory and then equip it, you're missing the socketing bonus, at least in your stats.  I've tested with 2 different pants now, so it's not related to a single item, though theoretically it might still be related to the pants slot as i did not test with other armor.

As you

[2015-09-06 19:53] ccnim commented on #1644
There was a video of him being there in some leveling video so I made him move all the way there.

[2015-09-06 19:53] #1644 closed, assigned to nobody

[2015-09-06 19:55] ccnim commented on #1639
I haven't fixed this quest yet. #739

[2015-09-06 19:55] #1639 closed, assigned to nobody

[2015-09-06 21:14] Ickler commented on #1599
If these were like that, I would make a guess that the same type of mobs in Wailing Caverns are the same. At least I've seen that on other servers.

[2015-09-06 21:23] Ickler commented on #1507
I believe the same thing happens if you use Feral Charge, thus also possibly intercept/intervene?

[2015-09-06 22:16] shadowraider commented on #1668
have you tried to test it with warrior charge/intercept in a duel? this video isnt enough

[2015-09-07 02:55] jlavier9359 opened #1670 "[Quest] City of Light - Aranist Adyria Dialogue"
After accepting this quest and reading the dialogue of each passing NPC. I noticed a small typo from Arcanist Adyria.

![wowscrnshot_090615_214222](https://cloud.githubusercontent.com/assets/5779320/9708446/8be766d6-54e1-11e5-9f0a-f2d9fd1793e2.jpg)

The "i" should be "I".

[2015-09-07 02:57] jlavier9359 opened #1671 "[Quest] City of Light - Aranist Adyria Dialogue"
After accepting this quest and reading the dialogue of each passing NPC. I noticed a small typo from Arcanist Adyria.

![wowscrnshot_090615_214222](https://cloud.githubusercontent.com/assets/5779320/9708446/8be766d6-54e1-11e5-9f0a-f2d9fd1793e2.jpg)

The "i" should be "I".

[2015-09-07 02:58] #1670 closed, assigned to nobody

[2015-09-07 07:29] Peonstomperx commented on #1603
only the first tick should show up in combat log(?), and (unrelated) hit shouldn't affect consecration

http://wowwiki.wikia.com/wiki/Consecration
"Spell hit does affect this spell meaningfully. This is a reversal of consecrates independence from spell hit Pre-3.0. New tests from Elitist Jerks shows that Consecrate ticks can miss. If the first tick misses, it will show up as a Miss in the floating

[2015-09-07 10:24] Liesara opened #1672 "Spirit of Redemption"
The other day we were running Botanica Hc and some weird stuff happened with Spirit of Redemption.
Sadly i forgot to take screenshots and to make an issue up until now as we were pretty focused on clearing that actually challenging dungeon (feels good man!).

The first thing that happened was on the first Boss i believe. I died and tried casting Prayer of Healing (the priest groupheal) and it told

[2015-09-07 10:59] bloodfirst92 commented on #1668
I can confirm I've got the same error.

How to reproduce : maccro the intercept -> use it -> "target is too close" regardless the distance between the target and the Felguard. He can only use it on auto-cast.

[2015-09-07 11:25] Chulain opened #1673 "mordenai - npc"
id: 22113

![wow_2015_09_02_03_56_07_737](https://cloud.githubusercontent.com/assets/10247793/9715751/cc4798d6-5563-11e5-8642-21b4eee9feaa.jpg)

as you can see this npc is still in combat with a dead mob and still targetting him

also noticed he switches to his melee weapon and back to his ranged weapon even tho his target is still far away, don't know if this is intended

would also like to menti

[2015-09-07 11:32] KimmoKM opened #1674 "Blood Knight class quest "Claiming the Light" is post-2.4"
I don't know if Corecraft intends to fix low-level class quests, but quest [Claiming the Light](http://wowwiki.wikia.com/wiki/Quest:Claiming_the_Light) in its post-2.4 shape in which M'uru is gone. Before that, the quest involved using quest item on M'uru instead of one of the Magisters, and quest text used to read

[2015-09-07 11:47] KimmoKM opened #1675 "Blood elf paladin class quest Redeeming the Dead not completable"
Using the quest item on Blood Knight Stillblade's corpse doesn't resurrect him and as such you can't complete the quest. I don't know if Corecraft's goal is to make low-level class quests pristine before release, but since the quest teaches you Redemption, this is a critical issue in case anyone chooses to level a Horde paladin without taking the accelerated route.

[2015-09-07 11:54] KimmoKM opened #1676 "Blood elf paladin level 60 mount quest in post-2.4 state"
When M'uru was brought to Sunwell and Lady Liadrin moved to Shattrath in 2.4 patch, the mount quest [A Summons from Lady Liadrin](http://wowwiki.wikia.com/index.php?title=Quest:A_Summons_from_Lord_Solanar&oldid=802860) was altered a little and renamed [A Summons from Lord Solanar](http://wowwiki.wikia.com/wiki/Quest:A_Summons_from_Lord_Solanar).

Currently the quest is in its 2.4 incarnation, and

[2015-09-07 11:56] Plazmawave opened #1677 "[NPC] Vacillating Voidwalker have no abilities"
These mobs in void ridge don't do anything/have their abilities, (gain resistance to a spell, then fire that type of spell).
Notoriously annoying mobs on retail.
http://www.wowhead.com/npc=19527/vacillating-voidcaller#comments

[2015-09-07 12:09] Chulain commented on #1676
http://www.wowhead.com/npc=17076/lady-liadrin

[2015-09-07 12:18] KimmoKM commented on #1676
Lady Liadrin is currently in Silvermoon (as she should be in 2.0.3), the problem is in quest you receive involving an NPC that doesn't yet exist instead of her.

[2015-09-07 12:27] Plazmawave opened #1678 "[NPC] Voidwalkers not showing empowered damage"
Currently, Collapsing Voidwalkers and Vacillating Voidwalkers do much more damage after being empowered by the rifts. The damage, however, doesn't show up in the combat log.
http://imgur.com/X7tBBcZ&obPvWwy (2 images)
was hit twice for a total of 200 damage, have lost over 1000 damage.

[2015-09-07 12:50] Chulain commented on #1678
they are voidcallers, damnit

[2015-09-07 13:03] KimmoKM opened #1679 "NPC movement issues in Echo Ridge Mine"
I recall seeing a very similar issue previously, but I couldn't find it so here goes:

Kobold Workers and Labourers at Echo Ridge Mine entrance (Elwynn Forest starting area) exhibit behaviour like wall-walking. Should be apparent for anyone who observes them for a good minute.

![2015-09-07-155429_1920x1080_scrot](https://cloud.githubusercontent.com/assets/1533992/9717261/e6f701ec-5579-11e5-9c47-5

[2015-09-07 13:05] tinvujasinovic1 opened #1680 "Mobs critting with spells"
As far as I remember, mobs arent suposed to crit with spells
Got crit for 1.5k by a tunneler in HFP
Proof: http://imagizer.imageshack.us/a/img673/6600/cwYFKa.jpg

[2015-09-07 13:26] dnkrad opened #1681 "[Profession] Enchanting Rods"
Nothing to see here...

[2015-09-07 13:43] #1681 closed, assigned to nobody

[2015-09-07 14:37] Jumpka opened #1682 "[Shaman] Grounding totem should be able to absorb multiple projectile spells"
As the title says, Grounding totem should redirect all spells casts before the first one hits it, right now it always absorbs only one spell, so if you for example use grounding totem to absorb shatter, you will still take ice lance. Worst and most obvious one is when mage wants to CS you, he can simply use ice lance and CS at the same moment and CS will always land on the shaman.

http://wowwiki.

[2015-09-07 14:43] moljac89 opened #1683 "Slave Pens HC"
1st boss Mennu the Betrayer: damage of lightning bolts is low, hits same value as on normal.
Lightning Bolt - Deals 1,000 - 1,600 nature damage, cast only on the character who currently has aggro. Uninterruptible.
Heroic mode: Hits for about 2600-3200 nature damage, cast only on the character who currently has aggro. Uninterruptible. (from wowwiki)

2nd boss Rokmar the Crackler: Water Spit ability

[2015-09-07 14:44] moljac89 opened #1684 "[Shaman] Lightning Overload"
Lightning Overload crits do not proc Clearcasting atm.

[2015-09-07 14:47] moljac89 opened #1685 "[Mage] Polymorph"
When Polymorphed target recieves damage, numbers don't show on screen, even though target takes damage.

[2015-09-07 14:47] Jumpka opened #1686 "[Priest] Aegis of Preservation shouldn't take bonus from bonus healing"
I know it's Blackwing lair drop so it probably won't be even avalible, just want to make sure someone doesn't get it for free wins against comps like feral druid in the future.

Right now, Aegis of Preservation ( http://www.wowhead.com/item=19345/aegis-of-preservation#comments ) takes pretty big bonus from Bonus healing / damge ( not sure, tested it only on priest with shadow gear, but it's not im

[2015-09-07 14:50] moljac89 opened #1687 "[Quest] The Fel and the Furious"
When 2 players do quest at same time, one doesn't get credit for destroying Infernals.

[2015-09-07 14:53] moljac89 opened #1688 "[Shaman] Elemental Focus (Clearcasting)"
Clearcasting procs on moment of spell cast, should proc on landing spell.

[2015-09-07 16:08] Jumpka opened #1689 "[Paladin] Seal of Blood shouldn't activate judgements / wepon procs"
Right now on the test server if you attack a target with Judgement of Wisdom / Judgement of Light, you can get 2x mana / heal from one auto attack if you use Seal of Blood, it's very hard to check weapon procs but I would assume it's the same

http://wowwiki.wikia.com/wiki/Seal_of_Blood
"It will NOT activate Judgement of Light and Judgement of Wisdom nor any other weapon proc (fiery, mongoose, lif

[2015-09-07 16:30] Jumpka opened #1690 "Controlled stuns and Random stuns shouldn't share DR"
Right now, if you get Deep Thunder stun proc, next HoJ will be only 3 sec because they share DR.

http://forums.elitistjerks.com/topic/9156-diminishing-returns-on-weapon-proc-stuns/
"There are two general sets of diminishing returns - "controlled" stuns, and "chance" stuns. Controlled stuns include all 100% chance abilities like Charge, Intercept, HoJ, Bash, and the like. Chance stuns are everythi

[2015-09-07 17:07] KimmoKM commented on #1167
Nothing new, really, just another data point:

I sent 4 bags to low-level character testing starting areas (as I had forgotten to pick them up before HSing to Azeroth). They didn't go through. I relogged back to a character and sent another 4 bags, then 1c, and then 4 bags. The initial batch of bags didn't go through, but 1 copper did, and the 4 bags afterwards did as well.

[2015-09-07 17:45] ghost commented on #1167
Oops, forgot to say. The 1c thing isn't necessary, just an empty mail.

[2015-09-07 18:51] ghost opened #1691 "[Zone][Buff] Not getting hellfire penninsula tower buff"
self explanatory
no idea what triggered it

steps to reproduce:(reproduction of what i did before i noticed the buff)
1.make new char
2.lvl to 60
3. .taxicheat on and fly to dark portal
4.cross dark portal get the quest from the azeroth side
5.go back to dark portal and quest a lot (see quest logging for Nathalieli?)
6. die a few times while questing (im NOT sure if the buff never was on me and my

[2015-09-07 18:53] ghost opened #1692 "[NPC][Hellfire Penninsula] Guard walking "in" the floor"
This guard in thrallmar main house -- the one with chief nazgrel or w/e -- was having his feet under the floor , however he did not get stuck or anything. as soon as he left the "hallway" into the base (and started the circular path) he went back to "on" the floor.

hope the images clarify a little

steps to reproduce:
1.go thrallmar
2.stalk this mob

![walking mal](https://cloud.githubusercontent

[2015-09-07 18:55] ghost opened #1693 "[NPC][Evade] mob stuck in invasion point: Something(cant recall) (53,21)"
mob coulndt be bothered to run to me and attack so he just evaded.

NOTE: .Movegen --Verbose is on the first SS
steps to reproduce:
1. go to this mob(53,21)
2.stalk him
3.profit

![mob evade1](https://cloud.githubusercontent.com/assets/13721369/9721816/92767b92-55a2-11e5-8576-0ba85dfcf8b9.png)
![mob evade3](https://cloud.githubusercontent.com/assets/13721369/9721817/928afdc4-55a2-11e5-8117-fdc768f