[2015-06-07 12:50] brndd opened #698 "[Priest] Mind Control being interrupted causes player character position desync"
(posting some bugs for another person who doesn't have a github account)

After i MC one mob (something warlock) i got Silenced by the technician. when i was able to cast spells again, the error message "out of range" popped up on me as can be seen in all of the below images, even though i was standing right beside the mob i wanted to cast a spell on, i dont know what triggered this, this bug pers

[2015-06-07 12:52] nullfoxh commented on #671
I have been testing this issue with several mobs around outland. I found that distract is not needed to reproduce this issue, sap alone is enough.

Good news is I think I have found the key to fixing this issue! With this issue the mobs will randomly move about, like they would if they were not in combat. Only difference is, they will cast spells and face you. So it would seem sapping them stops t

[2015-06-07 13:02] brndd opened #699 "Blood Furnace: trash mobs before final boss started evading during kiting"
(posting some bugs for another person who doesn't have a github account)

We pulled the mobs [editorial note: Felguard Annihilators before the final boss] and kited them up. while running up the ramp the mobs started evading as it can be seen in the pictures

after the tank and the mage (the only people on the mobs threat table) died, the mobs stuck on evade, after some time they just reseted and

[2015-06-07 13:03] Ghhlox commented on #683
You weren't able to mount in a lot of places that people are able to today. The zeppelin and towers was one of them. The whole mounting thing became apparent after WOTLK was released because they cared less that it didn't make sense to have a kodo climbing on stairs and were more interested in creating functional game appeal.

[2015-06-07 13:09] brndd opened #700 "Blood Furnace: trash mobs in the corridor between first and second boss started evading when kited"
(posting some bugs for another person who doesn't have a github account)

in the entrance to the green corridor between 1st and 2nd boss, mobs were stuck on evade and climbed up the wall when we tried to pull them into the room before (1st boss room)

![untitled](https://cloud.githubusercontent.com/assets/5822375/8024069/325af2b2-0d2f-11e5-9f61-13a37f9be7a2.png)

[2015-06-07 13:10] Wtfeater opened #701 "[Item Drops] Mote of Shadow"
Scorched Imps in the subzone Skald in Blade's Edge drop Motes of Shadow. According to the 2.1 patchnotes, most demons no longer drop motes of shadow.

"Motes of Shadow now primarily drop from void creatures and have been removed from nearly all demons."
According to Wowhead, these imps are not supposed to drop this item.

http://www.wowhead.com/npc=21021/scorch-imp#comments
http://us.battle.net/wo

[2015-06-07 13:11] Wtfeater opened #702 "[Item Drops] Mote of Shadow"
Scorched Imps in the subzone Skald in Blade's Edge drop Motes of Shadow. According to the 2.1 patchnotes, most demons no longer drop motes of shadow.

"Motes of Shadow now primarily drop from void creatures and have been removed from nearly all demons."
According to Wowhead, these imps are not supposed to drop this item.

http://www.wowhead.com/npc=21021/scorch-imp#comments
http://us.battle.net/wo

[2015-06-07 13:13] Wtfeater commented on #701
Duplicate.

[2015-06-07 13:13] #701 closed, assigned to nobody

[2015-06-07 13:19] maronics commented on #638
Fun fact: I got 486/1132 average hit/crit with 13dps arrows, only 473/1100 with 32dps arrows over 100 steadys each. We don't even fucking know anymore.

BUT: If the bossdummy has around 7600 armor (nim wouldn't confirm/deny :3), the damage from the formula would actually fit. Then it's a tooltipissue.

[2015-06-07 13:21] RealZwox opened #703 "Sethekk Halls: Time-Lost Controller / Fire Elemental"
If a Schaman get Mindcontroled by a Time-Lost Controller(http://www.wowhead.com/npc=18327/time-lost-controller#abilities) and use Fire Elemental Totem in Mindcontrol. The Fire Elemental damage you with his fire aura after MC breaks and he is friendly.

[2015-06-07 13:24] netherspite opened #704 "Murkblood Idols for Vile Idolatry keep dropping after quest is completed"
Even if you already have the required amounts of Murkblood Idols they will keep dropping and will be kept in your inventory after you turn in the Q
![wowscrnshot_060715_120426](https://cloud.githubusercontent.com/assets/5777848/8024132/b403af14-0d31-11e5-9db4-e5c0295fd70c.jpg)

[2015-06-07 13:25] Voodopad opened #705 "[Rogue] Premeditation"
Premeditation does not fade at all when used.

https://youtu.be/E8awM6X8Iyc

[2015-06-07 13:26] netherspite opened #706 "Gordawg's Imprint is empty"
Gordawg's Imprint item provided by the Gordawg for the quest Eating Damnation should contain the map with the locations of Enraged Crushers in Nagrand : http://www.wowhead.com/item=24475/gordawgs-imprint
However, it is empty:
![wowscrnshot_060715_110453](https://cloud.githubusercontent.com/assets/5777848/8024146/ecb9a82c-0d31-11e5-848e-baf1108cb2bd.jpg)

[2015-06-07 13:26] #692 closed, assigned to nobody

[2015-06-07 13:30] theGever opened #707 "Quest:Dimensius the All-Devouring Npc Captain Saeed did not work"
I tried the q and I got credit for talking to the Captain but I did not get the chat bubble icon needed to start the event. The chat text was also different. As I recall in retail he says that he is waiting for the fleshling who destroyed the Warp Conduict.

[2015-06-07 13:36] Lephidiles opened #708 "[PET] Overaggro"
When you overaggro your pet it will try to get behind the target as it is no longer tanking. This causes the pet to run away from you while the target runs towards you. This causes the pet to come to far behind the target to manage to attack it.

https://www.youtube.com/watch?v=5ARNhe14avA

from 10 sek to 20 sek

[2015-06-07 13:37] Klimpb commented on #683
Like Ghhlox said, you had to stand on the very edge of the zeppelin to be able to mount. I Remember people often did that at the very front.

[2015-06-07 13:40] Klimpb commented on #708
related to #548

[2015-06-07 13:41] zixsen commented on #658
Did you have max weapon skills?

[2015-06-07 13:55] Stoney21 commented on #579
It could have something to do with https://github.com/ccshiro/cc-buglist/issues/583#issuecomment-109486025.

[2015-06-07 13:56] Klimpb commented on #649
Probably related: http://webm.host/44acf/vid.webm

[2015-06-07 13:58] Lephidiles opened #709 "Reputation requirement for quests"
When the char has no reputation with a faction I can still see the quest but i am not able to accept them

http://i.imgur.com/kXYl392.jpg

[2015-06-07 13:59] Klimpb commented on #654
Seems to be the same for freezing trap, this is how it worked in vanilla and in early TBC though, but I suspect this was done unintentionally by Shiro.

Freezing trap: http://webm.host/fa17c/vid.webm

[2015-06-07 14:03] Klimpb opened #710 "Trinket switching bug"
If you activate a trinket then unequip it, the buff/effect remains, it shouldn't.

Can be abused in arena: http://webm.host/4ecaf/vid.webm

[2015-06-07 14:14] Ghhlox commented on #683
But be careful doing that -- if you're standing there when the loading zone hits you'll fall off the zeppelin when the screen reloads. I remember it being a long swim to Grom'gol :)

[2015-06-07 14:46] Pinhastest opened #711 "[Burn It Up... For the Horde!]"
The quest item "Flaming Torch" can be used but it always say "your target is not on line of sight.

[2015-06-07 14:46] Peonstomperx commented on #654
Falling while stunned from a video uploaded in 2008-05-18 on WCM:
https://youtu.be/eJWNMCD8SMU?t=64

[2015-06-07 14:55] cdreipo commented on #686
yes i witnessed that too, it pretty stops on the nameplates which can be confusing.

[2015-06-07 14:57] Pinhastest opened #712 "Mobs that are or were in combat with npc"
Mobs that are or were in combat with npc not count to quest or drop quest item even if we do more than 50% of the damage. I experience this with Mob "Marsh Dredger" that were in combat with "Sporelok" this happen too on mobs on zone "The Spawning Glen".

[2015-06-07 15:06] Lephidiles commented on #712
https://github.com/ccshiro/cc-buglist/issues/689

[2015-06-07 15:16] Voodopad commented on #507
Same thing happens when Fishing on the ships while they are stationary.

[2015-06-07 15:19] Chulain commented on #626
https://youtu.be/o-S9sDhN5IY?t=126

not exactly behind him but most likely within deadzone and gets hit, so it prolly hits targets behind you too if close enough to your initial target

like you said, it's probably like chain lightning

i'll keep looking tho

[2015-06-07 15:28] netherspite opened #713 "Big Bone Worm quest is completely broken"
When I use the Fumper there's short hands animation in the beginning and I see the castbar only when the invisible "cast" is almost finished.
After the "cast" if finished, nothing happens.
We tried like 10-15 different Decrepit Clefthoof corpses but it didn't work.

Here's the video: http://youtu.be/pu9_owTxtWk

[2015-06-07 15:32] Chulain commented on #626
https://youtu.be/_IiRdzvwJIg?t=111

felguard behind him doesn't get hit by multi shot even tho the lock stand close to the hunter (maybe not close enough?)

edit: however, i took another look at the video i recorded, looks like +- same distance

[2015-06-07 15:40] Immunadin commented on #614
I noticed that the soul link on the pet is deactivated, but the char had it on its buff bar.

[2015-06-07 16:04] Wtfeater commented on #671
Here's a Video showcasing one of the issues: https://vid.me/xgGM
I ran out of time to try again with the movement command, as the server was shutting down.

[2015-06-07 16:22] Klimpb commented on #668
This is how it worked in TBC.

Like you said, in patch 2.1.0 they implemented the option to display numeric values for all party members health/mana.

and in patch 2.3.0 they implemented the option to display it in percentages. They probably just worded it a little bit different and forgot to include that it still only applies for your party members and yourself.

This is just a guess though but r

[2015-06-07 16:31] Chulain commented on #626
https://youtu.be/j0iBXVpTT4c?t=110

ppl running in don't get hit by multi shot, even tho they stand close to the initial target

perhaps multi shot also depends on the hunter's position? the angle between the hunter and other players?

that's all for today i'll look for more later

[2015-06-07 17:15] thebigripper commented on #667
Yeah I had something similar happen to me as well. I too could not reproduce it.

[2015-06-07 17:25] matsdreyer commented on #645
I believe #656, #663 is reffering to the same same issue.

I experienced this after a death while fleeing.
Only a relog would solve the problem.

I was not able to use spells or items (hearthstone, mount).

The error message was "Can't do that while fleeing."

[2015-06-07 18:14] netherspite opened #714 "Missing wave of mobs in Vengeful Harbinger quest"
There are currently only 2 waves spawning when you do this quest and after looooooong waiting time the single non-elite spawns. It makes the quest easily soloable while it's supposed to be harder than that.
The video of how it currently works: https://www.youtube.com/watch?v=8xkRCTDXf78
Here you can find multiple comments from patch 2.0.x-2.1.x stating that there should be THREE waves of mobs comi

[2015-06-07 18:19] Voodopad commented on #711
Duplicate of #603?

[2015-06-07 18:27] KuroiKensai commented on #668
Dont you think they have it this way cos they USED TO such look and just DID NOT use new function at all, maybe cos they even DONT READ about it at patch notes?
I remember that I was able to toggle % or numbers in 2.4.3. And also 2.3.0 patch notes CLEARLY states:

There are now options for displaying health and mana values on your health/mana bars for you/your party/your target and to display that

[2015-06-07 18:46] Klimpb commented on #668
@KuroiKensai The player recording in that video is most likely using mobinfo2 to attempt to display the correct health of enemies. You can see this by looking at the mobs that he targets, as they lose health their maximum health changes slightly. This is because the addon is constantly estimating the health based on the combat log.

As far as I know, it is not possible in the interface options to

[2015-06-07 20:09] Barroth commented on #668
Since the 2.4 version of Mobinfo2 still uses percentages to approximate the health values I think it's pretty safe to assume, that there was no option to see the actual value.Would be quite weird to still calculate it, if blizz had added the values to patch 2.3.

[2015-06-07 20:17] Voodopad commented on #262
Looks familiar like #114.

https://youtu.be/stlfUm4xSaI

[2015-06-07 20:40] KuroiKensai commented on #668
Okay, maybe I remember wrong. But still will be good to have numbers as an option, cos it dont affect gameplay that much, only make it more comfortable. Lets wait for Shiro's answer.

[2015-06-07 21:58] KuroiKensai commented on #626
Multi-Shot do not hit targets right BEHIND you. Thats for sure. Was playing hunter a lot and never seen that. Maybe some specific angle - yes, but not 180 degrees for sure.
Also found this topic about 2010 year Multi Shot changes:
http://www.warcrafthuntersunion.com/2010/08/multi-shot-update/
Here you can see words "Most likely you will be able to hit even targets behind you and beyond 35 yards wi

[2015-06-07 22:02] KuroiKensai commented on #637
You CAN charge mid-air, BUT only if angle ~ same or lower, but not high to the sky for sure. At WSG you can charge ppl falling from the roof only when they are almost on the ground, but not 5 meters above you.

[2015-06-07 22:44] PolarCookie opened #715 "Combat issues in dungeons"
neutral small creeps in dungeons kept me in combat when accidentally feared
killing said critters cleared the combat state as expected, but I don't ever remember having to kill critters in heroics to clear combat state.

[2015-06-07 22:57] PolarCookie commented on #656
this happened in SL and MT too, fear from the fel overseers and nexus terrors respectively

[2015-06-07 23:16] PolarCookie commented on #509
happened to us too in SL and ShH
it seems to happen after some deaths and someone was replaced
after this summoning and warlock/mage rituals stopped working, might be something else by this point

[2015-06-08 00:08] Pinhastest commented on #711
yes same issue

[2015-06-08 00:56] Plazmawave opened #716 "Internal Bag Error causes items to give their stats and count as an empty slot."
If you get an internal bag error from dragging a piece of equipment off your character into your bag, the item you dragged will be bugged. Once the item is bugged you can slap another piece of gear on top of it and gain stats from BOTH items. This can be done multiple times, and on the test I was able to reach 20k health on a shaman with over 4k AP, 20k armor, and 75% crit. This is a VERY gamebrea

[2015-06-08 01:24] lynxzor commented on #709
Possibly related to #524

[2015-06-08 01:27] lynxzor commented on #707
It's not implemented yet #167

[2015-06-08 02:14] tedrasiel commented on #637
in Wsg u were able to charge up to their gravejard if standing correctly. charging from mid air to a grounded target did and should work. -  not shure about charging targets beein midair themselfes. (pretty shure it didnt work).

[2015-06-08 02:20] tedrasiel commented on #587
as far as im concerned theres a maximum of dmg u can take before it breaks, and a random chance to break it everytime u deal dmg to the feared target. but whoa... not easy to find proof for that one.

[2015-06-08 04:40] Plazmawave opened #717 "double post"
If you get an internal bag error from dragging a piece of equipment off your character into your bag, the item you dragged will be bugged. Once the item is bugged you can slap another piece of gear on top of it and gain stats from BOTH items. This can be done multiple times, and on the test I was able to reach 20k health on a shaman with over 4k AP, 20k armor, and 75% crit. This is a VERY gamebrea

[2015-06-08 04:44] #717 closed, assigned to nobody

[2015-06-08 06:28] nz54445 commented on #637
Not just in WSG, most mobs on cliffs could be charged from down the cliff if you were both grounded.

If the person is above you in height and that person is also not grounded then charge should fail, is what seems to be the consensus.

[2015-06-08 06:36] #712 closed, assigned to nobody

[2015-06-08 06:37] #711 closed, assigned to nobody

[2015-06-08 07:40] ccnim commented on #702
Since we are trying to replicate how it was in 2.0.3 this will remain. On the contrary though if you find something that shouldn't be in 2.0.3 be sure to report it.

[2015-06-08 07:40] #702 closed, assigned to nobody

[2015-06-08 07:55] #578 closed, assigned to ccnim

[2015-06-08 08:05] #595 closed, assigned to ccnim

[2015-06-08 08:46] KuroiKensai commented on #658
Dont remember. But it still was 0.00% even with 5% from talent which is not connected to weapon skills for sure.

[2015-06-08 08:49] #598 closed, assigned to ccnim

[2015-06-08 08:52] KuroiKensai commented on #238
Was testing it for a while last test. Seems to be okay.

[2015-06-08 10:01] #604 closed, assigned to ccnim

[2015-06-08 10:13] Voodopad opened #718 "Aliens kidnap an innocent rogue after fishing in Silvermoon"
A funny thing occur when I was testing fishing inside city's. I was on my rogue Sena who had a few points in his fishing skill + fish enchant on his fishing pole. I went to the pond in Silvermoon City right next to the Lord Mayor of the city, and I found that my skill is not high enough to fish there, it required 20+. So I decided to log on my Alliance character to test fishing and ships. (I was a

[2015-06-08 10:23] ccnim commented on #600
Object doesn't respawn even if I turn of the flags for some reason, lowered the respawn rate of all mobs and objects related.

[2015-06-08 10:38] theGever commented on #707
alright, since it's beenreported earlier I close it

[2015-06-08 10:38] #707 closed, assigned to nobody

[2015-06-08 10:42] #635 closed, assigned to ccnim

[2015-06-08 11:29] tedrasiel commented on #637
Not Sure, cause that means if u jump before chargin, both arent grounded. But yeh, there was a case the game said "no path available" and this one seems to be one. Just be carefull about all that grounded stuff ^^ i guess it has to be some height difference larger than just jumpin. Dont want warr unable to charge cause the target jumps or both are.

[2015-06-08 12:14] ccnim commented on #682
Seems like they should respond to all classes except for when /eye'd in which case you need to be a BF paladin to get a response and you might need to have done a paladin Q (which one I'm not sure).

[2015-06-08 12:21] ccshiro commented on #715
This is working as intended.

[2015-06-08 12:21] #715 closed, assigned to nobody

[2015-06-08 12:28] #708 closed, assigned to nobody

[2015-06-08 12:39] ccshiro commented on #700
As the paste said, movement bugs must be reported with a screenshot where you show the output of ".movegens --verbose" and the bugging mob, or we won't be able to see what happened. Please try this again next test and report it properly if it happens again. Cheers.

(I couldn't make them evade, btw.)

[2015-06-08 12:39] #700 closed, assigned to nobody

[2015-06-08 12:52] #691 closed, assigned to nobody

[2015-06-08 12:54] ccshiro commented on #690
Same bug as #583 (despite that report's name).

[2015-06-08 12:54] #690 closed, assigned to nobody

[2015-06-08 13:11] ccshiro commented on #684
Him not being pvp flagged should be correct as those flags were sniffed by mangos back when. Also, we opted out of doing the arrival/where is the zeppelin event for now.

[2015-06-08 13:11] #684 closed, assigned to nobody

[2015-06-08 13:11] netherspite commented on #704
Not a big deal anyway, if you couldn't reproduce just close and ignore it.

[2015-06-08 13:12] #683 closed, assigned to nobody

[2015-06-08 13:20] #679 closed, assigned to nobody

[2015-06-08 13:20] netherspite commented on #683
At retail it was possible since vanilla to mount up when standing on the zep at some specific point close to the edge between the zeppelin border and its floor. I did it often to be ready to jump from the zeppelin and ride to the city when it'll arrive.
All other places of the zeppelin and the tower were not available for mounting.

[2015-06-08 13:22] #678 closed, assigned to ccnim

[2015-06-08 13:26] ccshiro opened #719 "Infernal cannot attack neutral targets"
Warlock's infernal cannot attack neutral targets while in defensive/passive stance.

EDIT: True for all enslaved demons.

[2015-06-08 13:26] Yagrulol commented on #613
I had the same issue as lynxzor, healing a temporarily friendly monster was no problem but i could not dispell any effects on it as a priest when our other priest mindcontrolled a monster.

[2015-06-08 13:26] ccshiro commented on #677
Please do not post unrelated issues as comments. I opened a new one #719. Also duplicate.

[2015-06-08 13:26] #677 closed, assigned to nobody

[2015-06-08 13:30] netherspite commented on #683
Found the proof: https://www.youtube.com/watch?v=U2Ms9zqxDeg

[2015-06-08 13:36] #681 closed, assigned to ccnim

[2015-06-08 13:40] ccshiro commented on #676
Please give us the location it happens.

[2015-06-08 13:48] Yagrulol opened #720 "Faerie Fire (feral) multiple ranks in spellbook."
why does in my spellbook show faerie fire (feral) rank 1 till 6, even tho that skill costs no mana.
shouldn't it only show the highest rank like it does with other skills that have no additional cost to a higher rank? (like most rogue and warrior ability's)

to reproduce:
Make a druid, choose the faerie fire (feral) tallent and learn all ranks from the trainer.
Open spellbook and observe.

[2015-06-08 13:52] Yagrulol opened #721 "Spell: Mark of the sunfury"
sunfury bloodwarder
spell: mark of the sunfury
bug: inside the combat log it doesn't state when the spell fades from the character

to reproduce:
Engage a Sunfury Bloodwarder in Netherstorm, wait for it to cast mark of the sunfury on you.
Look at the combat log.

Happened 5 out of 5 times on my level 70 feral druid.

[2015-06-08 13:55] ccshiro commented on #716
Probably duplicate of #670 and #667.

[2015-06-08 13:55] #716 closed, assigned to nobody

[2015-06-08 13:56] #670 closed, assigned to nobody

[2015-06-08 13:57] Yagrulol opened #722 "Mind controlling a Wastewalker worker"
Mind controlling a Wastewalker worker inside the heroic Slave Pens had him stuck in his mining animation after fighting, whilst running or standing still he would swing that mining pick.

to reproduce:
Mind control a wastewalker worker inside the slape pens heroic.
Kill the rest of the monsters whilst the MCed mob survives.
After the combat the worker should keep swinging his axe. (like he would a

[2015-06-08 13:57] ccshiro commented on #668
Please search the tracker before opening bugs, this one has been reported before, and invalidated.

[2015-06-08 13:57] #668 closed, assigned to nobody

[2015-06-08 14:03] ccshiro commented on #664
The vision distance is correct. However, the vertical limit claim is interesting if anything. This needs research, however.

What I'm looking for: a video showing someone looking down at NPCs/Players while flying on his flying mount, where the range is outside the normal vision range.

[2015-06-08 14:04] #663 closed, assigned to nobody

[2015-06-08 14:06] #661 closed, assigned to ccnim

[2015-06-08 14:08] ccshiro commented on #658
Working as intended if you didn't have any weapon skill points.

[2015-06-08 14:08] #658 closed, assigned to nobody

[2015-06-08 14:30] nz54445 commented on #637
That's a good point. Maybe it's possible to check if the target is on a flying mount and off the ground, though again, they would have to be out of reach of melee distance.

[2015-06-08 14:31] shadowraider commented on #627
maybe that sail hanged on those 2 bones which you are standing on, is not counted as a line of sight, have you tried to shoot down on the mob?

[2015-06-08 14:36] ccshiro commented on #630
Will close this since no further response.

[2015-06-08 14:36] #630 closed, assigned to nobody

[2015-06-08 14:45] ghost commented on #710
Hey could you tell me what UI you are using. Thanks.

[2015-06-08 14:58] thebigripper commented on #676
Coilfang res instance hub.

[2015-06-08 15:42] #710 closed, assigned to ccshiro

[2015-06-08 15:53] #705 closed, assigned to ccshiro

[2015-06-08 15:57] KuroiKensai commented on #664
How about this comparsion?
![untitled-2](https://cloud.githubusercontent.com/assets/10595765/8039087/25501ad4-0e10-11e5-801e-15eb4be6ea64.jpg)

[2015-06-08 15:58] KuroiKensai commented on #664
This far from okay. This is broken for sure. And claim about vertical limit also is 100% true. I clearly remember it in WoTLK, but 100% sure it was the same way on BC too.

[2015-06-08 16:14] #697 closed, assigned to ccshiro

[2015-06-08 16:54] #665 closed, assigned to ccshiro

[2015-06-08 16:57] #610 closed, assigned to nobody

[2015-06-08 17:19] ccshiro commented on #672
@ccnim for some reason this spell is not in spell_area.

[2015-06-08 17:42] ccshiro commented on #664
No need to caps.

Also, vision distance is not set for all NPCs, some NPCs can be seen further away than others. The default vision distance is fine. Is it possible we missed some NPCs that have increased? Sure.

As for your claim about the vertical limit, your memory of it serves as no source of interest. Which is why I added the needs research label, to collect some actual data.

(Note: Current

[2015-06-08 17:55] Chulain commented on #664
https://guildtemplar.files.wordpress.com/2007/08/wow-bombing-run-in-the-abyssal-shelf.jpg
2007

https://www.youtube.com/watch?v=ESuDrNzldwI
https://www.youtube.com/watch?v=Ftfh6o02szM
https://www.youtube.com/watch?v=D6JzylVLLWM

[2015-06-08 18:03] Klimpb commented on #664
@Chulain I feel like those examples aren't that great, there could be something specific to those mobs or when you're on that quest that temporary increases the render distance of mobs.

[2015-06-08 18:25] #609 closed, assigned to ccshiro

[2015-06-08 18:27] Chulain commented on #664
http://wow.gamepedia.com/File:Fel_Reaver_Sentry.jpg
doesnt look like he's on the quest's flying mount

thats all i can find, searched in other languages too

[2015-06-08 18:43] #590 closed, assigned to ccshiro

[2015-06-08 19:14] #660 closed, assigned to ccshiro

[2015-06-08 19:37] ConfusedCC commented on #654
snooping around in wowwikki ice block history i found this on the 19.jan.2007

"This is another way for a mage to avoid fall damage (see Blink and Slow Fall). Ice Block reduces fall speed to zero, allowing caster to stay in the air while the spell is active. Fall damages are reset to zero once it breaks, so casting very near the ground will prevent the damage."

didnt check if falldmg was reset to

[2015-06-08 20:04] KuroiKensai commented on #664
https://www.youtube.com/watch?v=mONVQyvVmVw
Another one video with a lot more view distance. And BIG vertical view.
Shiro, can I kindly ask why you think that distance is okay? Maybe you have some kind of proof too?
Cos I had mobs spawning about 20-30 yards far from me at any place in Outland. How hunters should attack them from max distance? Hm?
Do you need more proof from 2007-2008 years YouTube

[2015-06-08 20:16] KuroiKensai commented on #664
https://www.youtube.com/watch?v=zm916PgMI98 at 5:12
NPC spawned at the ground much far away than horizontal view distance.
And whole video also shows much more view distances than on CC.

[2015-06-08 20:26] KuroiKensai commented on #637
As I have said - if target is CLOSE TO THE GROUND ( which includes jump height) - YOU CAN charge it. If it is higher - you CANT. Another way you can abuse jump to interapt charge which will be just not logical. But charging jumping target was still bugged at retail anyway. There are a lot of tears at Swifty's video.

[2015-06-09 00:44] Bzmode commented on #721
this spell also can interrupt through shields

[2015-06-09 01:06] teddys commented on #618
So when you focus spell lock someone, the felhunter should keep attacking its current target instead of switching to the one he was commanded to spell lock?
Do u have any evidence for this?

[2015-06-09 05:57] demerda22 commented on #664
Wow!
What an arrogant person you are KuroiKensai.
Using caps, raging, accusing... being rude!
Here is a life tip: No matter how good or even right you are, if you are arrogant as you are being right now, nobody is going to listen to you. Hell, Shiro is doing these stuff for free and you are going crazy on him.
"Oh but imma just doing that cuz i want real TBC experience herp derp"

ps: just saw you

[2015-06-09 07:06] #662 closed, assigned to ccnim

[2015-06-09 07:13] #675 closed, assigned to ccnim

[2015-06-09 07:48] ccnim commented on #709
Fixed it for this quest hub but possibly there are more places that need it.

[2015-06-09 07:48] #709 closed, assigned to ccnim

[2015-06-09 08:00] ccnim commented on #706
The item uses page_text ID 2944 as it's content, the content uses HTML to link an image.

[2015-06-09 08:13] #696 closed, assigned to ccnim

[2015-06-09 08:22] #672 closed, assigned to ccnim

[2015-06-09 08:27] #659 closed, assigned to ccnim

[2015-06-09 08:59] #714 closed, assigned to ccnim

[2015-06-09 09:26] KuroiKensai commented on #664
I am not arrogant nor rude! This is just my style, a little biе troll maybe but if Shiro is grow up person he will not take it personally, sorry if this touches your feeling somehow, will try to speak more simple if it looks bad as you say ;) I am not talking about absolute knowledge about this game, I can make mistakes like anyone. And at least I am trying to help and you just... dont know, do no

[2015-06-09 09:27] Chulain commented on #664
hmm i thought this was about the quest, my bad

[2015-06-09 09:27] ccnim commented on #664
I checked all the locations you've given and the view distance is fine on all except for the ledge in Hellfire Peninsula. I've also noted that we might have an issue with certain mobs which I will discuss with Shiro, this could be related to "Cos I had mobs spawning about 20-30 yards far from me at any place in Outland. How hunters should attack them from max distance? Hm?".

I'm not sure what you

[2015-06-09 09:30] KuroiKensai commented on #664
Nim, mobs in Terrokar forest was spawning to close to my charecter too. But maybe this is client side issue or Internet connection? Can you please do some screenshots of mobs near entrance to the Shattrath? Or just check them too. About vertical distane - is was 100% this way at WoTLK at retail - infinite vertical limit, only horizontal one, but last video shows that it most likely was the same in

[2015-06-09 09:37] ccnim commented on #664
http://i.imgur.com/a1QKFdS.jpg

[2015-06-09 09:37] Chulain commented on #664
i'll record some footage on next test and compare it with retail footage if needed

[2015-06-09 10:07] KuroiKensai commented on #664
Hm, at screen distance is really fine. The same mobs were spawning for me much closer. It will be a pity if I wasted your time and this was my side bug or lag :( But still - the cannon at first screen - I was standing at one place and no more far mobs spawned, like it can be if connection was bad. And ping was ok.

[2015-06-09 10:30] jovce17 commented on #664
its not client side those mobs in specific in  hellfire at abbys edge  ...the ones that you need to shoot with the bombs  in specfic have very low visible range ...those probably  need to have at least 100+ yards range at which they become visible, since you are flying really fast during that quest and you need to plan where to shoot the bomb ...
this range at which they become visible is even sma

[2015-06-09 10:46] Peonstomperx commented on #637
wowwiki.wikia.com/Patch_2.3.0#PvP:  "Charge will work more often when targets are up against unpathable areas like walls and poles."

[2015-06-09 10:54] jovce17 commented on #664
https://youtu.be/F5RZqxhBB_o?t=254
in the bottom left corner you can see water elemental ..which is really far in distance both vertically and horizontally.i would gess 80 + yards in 3D distance ariound 30 yards in 2d distance

[2015-06-09 11:05] jovce17 commented on #664
this can also help
https://youtu.be/mv-dhafzj4c?t=83

it seems there is vertical limit but it is really BIG one

[2015-06-09 11:11] Mustonen1 commented on #654
https://youtu.be/6BP90t0ehfk?t=135

[2015-06-09 11:27] Chulain commented on #654
@Mustonen1 isn't that early tbc? i think it got changed later on together with stuns (or stun in the air is just a pserver bug?)

[2015-06-09 11:28] Peonstomperx commented on #654
http://wowwiki.wikia.com/Patch_2.3.0/Undocumented_changes#Classes
"Ice Block no longer stops character from falling. i.e. You will continue falling after you have activated it, and will absorb any fall damage if you land while in the block."

Can't seem to find any docs regarding falling while stunned/incapacited.

[2015-06-09 11:37] Peonstomperx commented on #654
Thread about jumping charges, 01-20-2008:
http://www.ownedcore.com/forums/world-of-warcraft/world-of-warcraft-exploits/82673-avoid-charge-intercept-stuns.html

[2015-06-09 12:20] Peonstomperx commented on #664
http://wowwiki.wikia.com/Patch_2.3.0#General
"Flying units can see ground units and vice versa at any altitude."

[2015-06-09 13:23] #687 closed, assigned to ccshiro

[2015-06-09 13:35] #706 closed, assigned to ccshiro

[2015-06-09 13:50] #669 closed, assigned to ccshiro

[2015-06-09 14:40] #576 closed, assigned to ccshiro

[2015-06-09 15:43] #654 closed, assigned to ccshiro

[2015-06-09 16:03] #583 closed, assigned to ccshiro

[2015-06-09 16:50] #624 closed, assigned to ccshiro

[2015-06-09 17:09] ccshiro commented on #631
@ccnim This is actually your bug. The wp end event is marked as don't care if it was successful or not (might want to make sure others aren't marked incorrectly as well).

[2015-06-10 09:39] #631 closed, assigned to ccnim

[2015-06-10 10:59] Chulain commented on #600
@ccnim i forgot to check,

he should say "You've saved me, fleshling! Ameer will hear of this noble act." when you free him
https://youtu.be/Yvc8XKTQV4w?t=77

[2015-06-10 13:12] ccshiro commented on #622
@ccnim The initial state of the door is just wrong.

[2015-06-10 13:40] #603 closed, assigned to ccshiro

[2015-06-10 13:51] ccnim commented on #600
That's already implemented.

[2015-06-10 13:52] #622 closed, assigned to ccnim

[2015-06-10 15:40] #600 closed, assigned to ccshiro

[2015-06-10 15:45] #632 closed, assigned to ccnim

[2015-06-10 15:59] pjce opened #723 "Chain Lightning did not aggro a target hit while it was out of LoS"
Skip to 0:22 https://drive.google.com/open?id=0BxExaa9wBWZAUWtyc01qY1dlbXM&authuser=1

First time both cobras were out of LoS and did not aggro, didn't fraps though.

Can't remember if CL is supposed to aggro targets outside of LoS, feel sure that it is supposed to?

[2015-06-10 16:02] pjce opened #724 "Mob disappears after being killed"
skip to 0:22 https://drive.google.com/open?id=0BxExaa9wBWZAVUt3eDMwQ2RYM3M&authuser=1

Specifically mobs will disappear if killed while pathing over whatever that issue is (co-ords included in vid)

[2015-06-10 16:05] pjce opened #725 "Mob fell through water & disappeared when killed"
skip to 1:03 https://drive.google.com/open?id=0BxExaa9wBWZAdC1pOFpxemRVbnc&authuser=1

Only did this one once I'm afraid as I was out of time (sorry!) so not sure if it may have been related to the escort event I had triggered.

[2015-06-10 16:07] #666 closed, assigned to ccnim

[2015-06-10 16:40] #694 closed, assigned to ccnim

[2015-06-10 19:00] #671 closed, assigned to ccshiro

[2015-06-10 19:00] #647 closed, assigned to ccshiro

[2015-06-10 19:07] #656 closed, assigned to nobody

[2015-06-10 19:12] #584 closed, assigned to ccshiro

[2015-06-10 19:21] #625 closed, assigned to ccshiro

[2015-06-10 19:29] ccshiro commented on #725
Duplicate of #665.

[2015-06-10 19:29] #725 closed, assigned to nobody

[2015-06-11 01:10] tedrasiel commented on #618
i guess it just works that way if u use a macro... but it shouldnt be so hard to find a video about that for proof at all.

[2015-06-11 01:16] tedrasiel commented on #579
or atleast the class and spell used.

[2015-06-11 07:51] lastnoob commented on #718
Just a thought, maybe its not relevant: On other servers, this issue doesn't actually crash the server, it only disconnects you. (And it usually happens when you logout/get dc'ed while on a flight.)

[2015-06-11 10:50] Isuel commented on #587
if i remember correctly, in wotlk u were allowed to take 10% of ur hp in damage before roots/fears broke (or before the chance of breaking became very high), and it was changed in cata to 5%. I don't know for TBC, maybe it was just a set chance of breaking on damage (that's why fears and roots in tbc can be broken by even the smallest damage, like a single dot tick)

[2015-06-11 13:38] Danddelion commented on #649
I can confirm that to me everything looked normal with that kidney shot stun in the second video, i did not suddenly teleport to another location.

[2015-06-11 13:54] Danddelion opened #726 "Hunter trap visible to enemy in skirmish"
This happened to me in 2v2 skirmish ( i think it was Nagrand Arena); one of our enemies (I was a night elf druid) was a dwarf hunter and he put down a trap which i could clearly see (not only the animation of putting down a trap, but the trap itself as well) and therefore could easily go around it.

[2015-06-11 15:01] ccshiro commented on #651
They are now using the same script as the other crust bursters.

Knockback and drums visual still needs to be figured out and added.

[2015-06-11 15:05] #645 closed, assigned to ccshiro

[2015-06-11 15:11] #616 closed, assigned to ccshiro

[2015-06-11 15:35] Stoney21 commented on #579
I dueled a rogue and when I had low HP I started channeling Arcane Missiles on which my HP went to 1 and the duel was over. I think the begging animation after losing a duel broke something with channeling.

[2015-06-11 18:04] #593 closed, assigned to ccshiro

[2015-06-11 19:13] ccshiro commented on #582
Seems to work for me. Mind describing how it all happened? Maybe there's some specific trigger.

[2015-06-11 19:26] #585 closed, assigned to ccshiro

[2015-06-11 19:50] Voodopad commented on #718
I know about this bug on other private servers too. I've experienced it as well. However here I was fishing in SC and then logged off and when I came on again I was mounted and flying trough textures. I thought I will land outside the city at the flight master.
In IRC ppl said they are disconnected as well. Think it can be easily traced in logs. my time is +3 UTC and time in videos is AM.

[2015-06-11 19:54] #594 closed, assigned to ccshiro

[2015-06-11 22:31] vove9000 commented on #682
As ccnim says most of the guards respond to some emots made by any class/race from the same faction. In Silvermoon City when a Blood Elf paladin did /eye emote on any guard they would /kneel but afaik you didn't have to do any q in order to achieve that.

I am also reading now on wowwiki that not all guards respond to emots, I think this rather applies to Darnassus Sentinels or guards at the posts

[2015-06-12 11:44] #353 closed, assigned to nobody

[2015-06-12 12:19] Stoney21 commented on #582
I had a duel with a warlock. I used Invisibility and gone invisibile while he had no Detect Invisibility buff up. Then he buffed himself with it and could see me while I couldn't see him.

[2015-06-12 14:41] #642 closed, assigned to ccshiro

[2015-06-12 16:30] #634 closed, assigned to ccshiro

[2015-06-12 18:48] #608 closed, assigned to ccshiro

[2015-06-12 19:19] #623 closed, assigned to ccshiro

[2015-06-13 12:04] Lelm8 commented on #726
As long as i know you can see the trap sometimes.

[2015-06-13 12:48] #713 closed, assigned to ccshiro

[2015-06-13 13:24] #648 closed, assigned to ccshiro

[2015-06-13 13:59] #606 closed, assigned to ccshiro

[2015-06-13 14:14] #633 closed, assigned to ccnim

[2015-06-13 15:33] #587 closed, assigned to ccshiro

[2015-06-13 15:55] ccshiro commented on #726
To quote patch 1.10: "Hunter traps now use the same rules as stealth rather than being invisible. Detect Trap has been changed to reflect this."

[2015-06-13 15:55] #726 closed, assigned to nobody

[2015-06-13 16:19] ccshiro commented on #720
This was done intentionally. The commit when we changed this said according to sources that this should be the case, for some reason the commit didn't include the sources though :/. Anyway, since it's working as we intended it, this will need some proof for us to reconsider it.

If you do find sources, just reply with them and reopen the issue.

[2015-06-13 16:19] #720 closed, assigned to nobody

[2015-06-13 17:00] #649 closed, assigned to ccshiro

[2015-06-13 17:13] #613 closed, assigned to nobody

[2015-06-13 17:23] brndd commented on #374
Posting this under here even though the quest technically starts in Orgrimmar.

http://www.wowhead.com/quest=1061/the-spirits-of-stonetalon is a "breadcrumb quest" that leads you to the quest giver at the entrance to Stonetalon Mountains in The Barrens.

It's an optional quest, so you don't need to complete it in order to get quests from the quest giver in Stonetalon, but on most every server I've

[2015-06-13 18:18] #722 closed, assigned to ccshiro

[2015-06-14 09:14] Barroth commented on #655
Went through a few Hunter tbc videos and can confirm that Lightning Breath and Scorpid Poison have a 10% scaling.

[2015-06-14 16:56] robinsch commented on #650
Every spell hit should reveal stealth, there were some exceptions added in 2.3 like earthbind and mass dispel.

https://github.com/TrinityCore/TrinityCore/issues/14819

[2015-06-14 19:47] Danddelion commented on #726
I did not know this. My mistake, apologies.

[2015-06-14 20:35] Klimpb commented on #548
More proof: https://www.youtube.com/watch?v=dc0WrORiHmM
2:38 - 8:45

[2015-06-15 12:53] ccshiro commented on #582
Oh, I read the OP wrong.

[2015-06-15 13:37] ccshiro opened #727 "Crash"
We had a single crash (that wasn't fixed during the test). Needs investigating and fixing.

[2015-06-15 14:04] ccshiro commented on #589
Will close this since I don't really care how it works (since it has no real impact). If you find some evidence one way or the other, feel free to reopen the issue.

[2015-06-15 14:04] #589 closed, assigned to nobody

[2015-06-15 15:34] ccshiro commented on #650
@robinsch that's an interesting observation. Thanks.

[2015-06-15 16:09] #650 closed, assigned to ccshiro

[2015-06-15 19:14] ccshiro commented on #627
@ccnim It is working as intended that this thing does not block Aggro LoS. However, when I went there with a level 70 on retail I had to almost walk into the mobs to get them to aggro. Basically it doesn't happen on retail because these mobs seem to have lowered aggro distance.

[2015-06-16 12:48] ccshiro commented on #655
Think this should be working as intended, I will move it to needs testing anyway in case someone wants to confirm.

[2015-06-16 13:12] ccshiro commented on #579
Will put this as needs testing since I cannot make it happen. If you see it again, please post a video with it.

[2015-06-16 14:53] #599 closed, assigned to ccshiro

[2015-06-16 15:35] #723 closed, assigned to ccshiro

[2015-06-16 16:23] #689 closed, assigned to ccshiro

[2015-06-16 16:38] #673 closed, assigned to ccshiro

[2015-06-16 16:45] #627 closed, assigned to ccnim

[2015-06-16 17:22] #657 closed, assigned to ccshiro

[2015-06-16 18:27] ccshiro commented on #693
I couldn't actually reproduce it, but reasoning what can go wrong I made some changes. This needs testing to see if I got the bug or not.

[2015-06-16 18:45] magikalCC commented on #439
This video shows Honor Hold gryphon riders defending. You can see the knock back and dismount they do.
https://youtu.be/wSRHVJC3mUk?t=7m35s

[2015-06-16 19:31] ccshiro commented on #721
Works for me, got this message in my combat log: "Mark of the Sunfury dissipates from Shiro."

[2015-06-16 19:31] #721 closed, assigned to nobody

[2015-06-17 15:33] #614 closed, assigned to ccshiro

[2015-06-17 16:10] #653 closed, assigned to ccnim

[2015-06-17 17:07] #597 closed, assigned to ccshiro

[2015-06-17 17:30] #680 closed, assigned to ccshiro

[2015-06-17 18:10] ccshiro commented on #695
In the future, please make one issue on the tracker per bug you report. Multiple bugs per issue makes it really annoying to manage the tracker. Thanks.

As for the bugs:
1. This was related to sap. Should've been fixed in another issue already.
2. This was related to sap. Should've been fixed in another issue already.
3. Nim tried it on retail with the same outcome. Not a bug.
4. Was indeed bugged

[2015-06-17 18:10] #695 closed, assigned to nobody

[2015-06-17 19:00] #582 closed, assigned to ccshiro

[2015-06-17 19:09] ccshiro commented on #704
Tried it as well, doesn't seem like it happens for me either. Will close the issue. If you figure out what happened you can make a new one next test.

[2015-06-17 19:09] #704 closed, assigned to nobody

[2015-06-18 17:00] #727 closed, assigned to ccshiro

[2015-06-18 17:41] #674 closed, assigned to ccshiro

[2015-06-18 20:14] ccshiro commented on #664
I have implemented the patch 2.3 note.

[2015-06-18 20:14] #664 closed, assigned to ccshiro

[2015-06-19 11:10] Karepow commented on #549
This may have been looked at already, but it looks as if from the first video that the pet auto attacks the first totem and then uses lash of pain on the second which would explain how both totems are killed so quickly. Also as mentioned previously, the totems being further away from the Shaman on Corecraft than on retail could definitely be something that affects the pet movement.

[2015-06-19 20:14] shadowraider commented on #618
played few years warlock myself, never studied this behaviour but I think there are 2 options....

1st: warlock's pet is in idle state out of combat with no target, when master commands to cast a spell, the pet will cast a spell and starts to attack the same target

2nd: warlock's pet is in combat and already melee attacking target, when master commands to cast a spell on another target than the p

[2015-06-20 13:51] ccshiro commented on #638
Tried against a target dummy for 10 minutes, the min max and avg matches what it should be. If it's bugged in any way it's more subtle than steady shot itself just being broken.

[2015-06-20 13:51] #638 closed, assigned to nobody

[2015-06-20 16:19] #724 closed, assigned to ccshiro

[2015-06-20 16:51] ccnim opened #728 "Voodoo Spell"
Voodoo - 17009
When cast this spell should randomly apply one of these auras:
hex - 16707
hex - 16708
hex - 16709
grow - 16711
special brew - 16712
ghostly - 16713
launch - 16716

[2015-06-20 17:07] #703 closed, assigned to ccshiro

[2015-06-20 17:19] #728 closed, assigned to ccshiro

[2015-06-20 19:55] Barroth commented on #626
Found a video showing that multishot is able to bounce farther than maxrange: https://youtu.be/aL64YWN0134?t=339 (confirmed ingame)

[2015-06-21 00:26] darkcranio commented on #637
That's just proves the WSG graveyard thingy and some others.

[2015-06-21 11:23] Iliana-sc commented on #637
This is not a bug. The 2.3 patchnote talks about **ground bound** targets up against unpathable areas. The **flying** target in the video is not what this patch is talking about.

Here is a video (from 2007, patch 2.1) of a flying mount bug caused by being charged by a warrior: https://www.youtube.com/watch?v=2g3r3MSnbj4. Landing and taking off resets the mount animation so this must have happened

[2015-06-21 14:57] Chulain commented on #626
https://youtu.be/LKYrBlSH_lo?t=271

that's proof for hitting targets within deadzone with multishot, if it ignores minimum range i'm guessing it also ignores max range

[2015-06-21 15:43] Chulain commented on #626
https://youtu.be/LKYrBlSH_lo?t=509

two mobs in front of him, one behind, standing pretty close to the other two
the one behind him doesn't get hit

[2015-06-21 16:40] Chulain commented on #626
im giving up, cant find any video with a hunter multi shotting a mob while another one stands behind him

its prolly possible tho

[2015-06-21 19:40] Klimpb commented on #618
Got some stuff:
http://webm.host/3f096/vid.webm
http://webm.host/7a5da/vid.webm
http://webm.host/91619/vid.webm (he ordered the pet to attack on the second spell lock)
http://webm.host/5583f/vid.webm
http://webm.host/7f5e1/vid.webm (he ordered the pet to "stay" at the start of the webm, then casts devour magic after some time)

I suspect that the pet's stance could have some impact on this.. Would

[2015-06-21 21:24] shadowraider commented on #618
IMO this is not a big bug (if it is) since in TBC u can manage your pet behaviour exactly how you want to through macros

[2015-06-22 09:14] Nain1 commented on #316
Yes, guards should chain with players.

https://www.youtube.com/watch?v=LYj9eS1e4rA&feature=youtu.be&t=3m35s

[2015-06-22 09:25] meowmewo commented on #626
.
Here;  https://www.youtube.com/watch?v=NjSFKaWZxCQ
3:19 RIGHT before the warrior got trapped, hunter clicks Multi Shot, warrior doesnt get hit.
YOU CANT hit target behind u with multi shot.

[2015-06-22 09:48] meowmewo commented on #626
And since OP proved with the video that Multi Shot ignores deadzone, then i think we could say that Multi shot hits targets only infront of u,

[2015-06-22 10:13] meowmewo commented on #626
Here is the thing tho...
Here https://www.youtube.com/watch?v=ClIA0RlK1KA
At  4:37 Hunter uses MS. There is a druid "infront" of him, and he doesnt get hit. Same thing happens at 4:49. Also check 8:40
Im getting confused now how MS actually works. I guess targets have to be on an X range between each other (5-6 yards?) in order for MS to hit all. If they are far apart, MS will hit only ur main tar

[2015-06-22 10:18] ivanprgin commented on #637
Played warr in tbc. This is retail like. Charge uses any path, even Z. Maybe my memory fulls me, it was long time ago :P

[2015-06-22 10:23] meowmewo commented on #626
On the video there is a part (fighting at Farm) where MS kills a critter and hits 2 other close targets. On another point MS hits 2 targets but not the same critter due to it being far from the other targets. So i guess ..YES., targets must be close..wich makes hiting target behind u impposible. BUT question is..how much is this minimal range between the targets.

[2015-06-22 14:00] ccshiro commented on #637
@Iliana-sc I will put it back to needs research.

[2015-06-22 14:07] ccshiro commented on #626
@meowmewo
https://www.youtube.com/watch?v=NjSFKaWZxCQ 3:19
This video doesn't work to prove anything. The main target of multi shot is too far away for it to bounce to the Warrior.

https://www.youtube.com/watch?v=ClIA0RlK1KA
Same thing.

As was said before, multi-shot works like a chain lightning. Not only does the target need to be behind you in the video, but the target you're shooting at needs

[2015-06-22 17:15] justinbowman commented on #615
Issue was present in retail, you can get feared under Karazhan.

[2015-06-22 19:53] ccshiro commented on #636
The frame does bug if you cheap shot a rogue as he vanishes. No other spells seems to bug it (tried kidney shot, sap, sinister strike). Not sure exactly why it bugs, but it's 100% reproducible.

[2015-06-22 20:56] ivanprgin commented on #37
ye it was on retail. Best thing while lvling :P

[2015-06-22 21:34] ivanprgin commented on #408
gg

[2015-06-23 07:24] vove9000 commented on #637
I don't remember charging people when they were in midair but it was most certainly possible to charge upwards if the target was within range and line of sight. Everyone who played warrior and did warsong gulch few times should remember that it was possible to charge all the way up to enemy cemetery if there was someone on the edge and withing range (it was a vertical charge up the cliff). When ta

[2015-06-23 08:50] meowmewo commented on #626
but that doesnt happen...Multi shot DOESN'T hit targets behind you.

[2015-06-23 08:51] meowmewo commented on #626
Il keep looking non the less.

[2015-06-23 09:04] meowmewo commented on #626
https://youtu.be/heVToV3TPpI?t=188 . Here at 3:09? Other guy is CC but it would of got Immine text or w/e, we cant see an arrow going towerds the guy behind too.
https://youtu.be/SIclL3DIO1E?t=124 He hits the pet at 2:06. Hunter is right behind him.

I just cant find the right video. I give up. But please can check these vids, both thargets should be within 10 yards .

[2015-06-23 12:52] Chulain commented on #637
@Iliana-sc
"Here is a video (from 2007, patch 2.1) of a flying mount bug caused by being charged by a warrior: https://www.youtube.com/watch?v=2g3r3MSnbj4. Landing and taking off resets the mount animation so this must have happened mid air.  "

not true, look at this: https://www.youtube.com/watch?v=y583chgoSQY

[2015-06-23 15:54] antman94 commented on #142
Hey, I've been experiencing this before. It usually happens with timed quests and I dont think it's client side but only server side, I dont have any proof but I'm pretty sure since I've had the problem before and searched for a client-side solution without any success.

[2015-06-23 16:27] ccnim opened #729 "Shaman Quest"
Visual bug with all totem quests.

[2015-06-23 21:24] ccnim opened #730 "Breadcrumb Quests"
We intend to redo how breadcrumb quests work. To accommodate for that we need to go through all of them. Looking for help compiling a list of all breadcrumb quests in vanilla and tbc.

Ex: http://www.wowhead.com/quest=9961/whats-wrong-at-cenarion-thicket
Basically a quest that leads you to a quest hub or quest NPC but does not require completion to pick up the quests at the new location.

[2015-06-23 22:02] antepp commented on #730
What do you need help with? Code or testing`?

[2015-06-24 09:58] lawzftw commented on #618
I can't find proof atm, maybe tomorrow if no one found some before, but here is how pet should behave.
First, there are 2 kinds of pet spells. The one that damage the enemy, and the others (which only apply a debuff, dispel, etc).
- For spells that damage enemies, whether your pet is in stay, already attacks someone, it's always the same : if you order it to use this spell on an enemy, it will kee

[2015-06-24 10:07] lawzftw commented on #636
About the frame bug, I remember asking about it on AT (wotlk though), and they said it's client side. So this bug probably also existed on retail. I only had it on focus frames though, so it might not be the same bug. For every way to "disappear" (vanish, stealth, meld etc), we kept the focus, and when they were visible we still had the focus, but no frame (as here).

[2015-06-24 11:17] robinsch commented on #650
@ccshiro: Also Shadowstep should not break stealth on spell hit. (Rogue shadowsteps another rogue).

[2015-06-24 14:55] #729 closed, assigned to ccshiro

[2015-06-24 15:23] Chulain commented on #730
## Eastern Kingdoms

if there are multiple wowhead links, the comments are usually found on the first link

---

## Dun Morogh

http://www.wowhead.com/quest=467/stonegears-search
2010/07/14 (Patch 3.3.5)
You won't be able to take this quest if you have already done the followup.

---

http://www.wowhead.com/quest=415/rejolds-new-brew
11/24/2007 (Patch 2.3.0)
This quest becomes undoable if you fini

[2015-06-24 15:28] ccshiro commented on #699
Unable to reproduce. Also this report is missing the .movegens --verbose in the screenshots as was described in the paste. Moving to needs testing, so that screenshots with the needed information can be submitted if encountered again.

[2015-06-24 15:32] ccshiro commented on #698
Cannot reproduce. Need more information. Maybe we could get a video as this happen to see the trigger?

[2015-06-24 15:53] ccshiro commented on #45
Will close since it seems to have remained not reproducible.

[2015-06-24 15:53] #45 closed, assigned to nobody

[2015-06-24 15:54] ccshiro commented on #60
Will close since this has remained unreproducible.

[2015-06-24 15:54] #60 closed, assigned to nobody

[2015-06-24 15:56] ccshiro commented on #137
@Vetinari1 do you have a video of it? Kind of need to see the exact path your character took.

[2015-06-24 16:36] #372 closed, assigned to nobody

[2015-06-24 16:37] Vetinari1 commented on #137
Sadly I dont, I wasnt recording.

[2015-06-24 17:41] ccshiro commented on #686
Kind of need to figure out if this is a client side bug or something the server does wrong. I think debugging the Lua code would be the most productive approach, but I don't really have the time to spend on that for such a small issue.

The ways I'd go about figuring out if this is client-side:

a) Find a video where it does happen on retail.
Can only prove it's a client-side bug, cannot disprove

[2015-06-24 18:33] ccshiro commented on #605
Cannot reproduce. Also this screenshot is lacking the .movegens --verbose command. If you see this bug again, please report it according to the instructions in the test paste.

[2015-06-24 19:01] ccshiro commented on #615
Seems to only happen if you get a specific angle. Also, you're able to just walk out afterwards, as you're still on solid ground. All in all, definitely bugged but a pretty minor one.

[2015-06-24 19:48] ccshiro commented on #685
I tried this 16 days ago when I added the label and I could reliably reproduce it (every time), now I can't make it happen any longer. Maybe the fixing of some other pathing bug fixed this one, or I'm just really bad at it now for some reason. Anyway, I'm closing this for now, reopen if you find it again please.

[2015-06-24 19:48] #685 closed, assigned to ccshiro

[2015-06-25 09:51] robinsch commented on #686
@ccshiro Does this always happens or just sometimes?
SMSG_SPELL_START is for both target castbar and nameplate.
For me it looks like that you send SMSG_SPELL_DELAYED and that's somehow breaking the nameplate castbar, because each time the creature takes damage the nameplate castbar makes a drop.

[2015-06-25 14:01] #719 closed, assigned to ccshiro

[2015-06-25 16:21] Chulain opened #731 "breadcrumbs - Kalimdor"
## Kalimdor

---
## Ashenvale

http://www.wowhead.com/quest=4581/kayneth-stillwind
not sure

---

http://www.wowhead.com/quest=9533/a-helping-hand
2010/12/02 (Patch 4.0.3)
1    A Helping Hand(May be optional)
2    A Shameful Waste
3    Recover the Remains

prolly breadcrumb (found comment on part 2)

---

http://www.wowhead.com/quest=1056/journey-to-stonetalon-peak
2010/07/08 (Patch 3.3.5)
I've co

[2015-06-25 20:03] Nain1 commented on #636
Should Vanish not provide immunity to stuns?  At least when used?

[2015-06-25 20:53] #588 closed, assigned to ccshiro

[2015-06-25 21:23] ceyscro commented on #636
Depending of timing. Vanish can either avoid a stun or be broken by the stun (rogue take the stun).

[2015-06-26 02:11] darkcranio commented on #636
I remember charging into vanishes, was fun.

[2015-06-26 17:21] ccshiro commented on #646
I've spent a bunch of time trying to figure out how to make this work properly and I can't really seem to manage. Nim and I agreed it's better to just disallow mind controlling someone on a flying mount than spending more effort on it. Hopefully we can revisit this sometime in the future and figure out how it really should work.

[2015-06-26 18:49] ccshiro commented on #718
It sounds like your taxi data is left in an invalid state. But nothing in the story or video makes me realize what would cause it to get into that state. And I'm unable to reproduce it. If you have footage from before it happens, that might help. If not, maybe someone will be able to provide it next test.

[2015-06-27 16:55] ccshiro commented on #667
I spent 3 hours trying to make this happen, by doing what's described in this issue as well as #716 and #670, but cannot for some reason.

I hope we can get this to trigger again next test, and have a video recording of it. Maybe that will shed some light on it. I will link this issue in the upcoming tests paste and ask for help, as this is a serious issue I'd like to find.

[2015-06-27 17:06] ccshiro commented on #618
@lawzftw I think this sounds very plausible. Looking at @SuddenDeath's videos I think it proves half of your claim. We just need to find a video of a damaging ability working the way you describe. Maybe something like felguard's intercept used on an off-target?

[2015-06-27 18:54] ccshiro commented on #636
I can't figure out why the bug happens. Will move it to low priority since it's pretty time consuming and not that big of an impact (the trigger window is pretty small and reselecting the target gets rid of the bug).

[2015-06-28 13:30] Chulain commented on #731
https://github.com/ccshiro/cc-buglist/issues/730

[2015-06-28 17:31] Mustonen1 commented on #637
<a href="http://www.arenajunkies.com/topic/152591-jumping/">This</a> might have something to do with the issue. Jumping and flying targets should probably be treated differently. I think that trying to charge targets flying above jumping height should always result in "No path available"-error message.

[2015-06-29 14:15] ccshiro opened #732 "Ability to form temporary creature groups in the DB"
I'm adding this so we can do the following things (and more that I'm not remembering atm):
- Implement the quest "Dimensius the All-Devouring".
- Improve upon the quest "Digging Through Bones", which doesn't work that great at the moment.
- Improve upon some events in Alterac Valley which we're not fully happy with.

[2015-06-29 15:29] ccshiro opened #733 "Quest: Dimensius the All-Devouring"
Implement Quest: Dimensius the All-Devouring.

[2015-06-29 15:29] ccshiro opened #734 "Quest: Digging Through Bones"
Fix up the movement to/from the digging site of the Quest: Digging Through Bones.

[2015-06-29 15:30] ccshiro opened #735 "Alterac Valley - Movement in some events"
Go through the Alterac Valley events that have movement, fix up the ones that work in an iffy manner currently.

[2015-06-29 15:30] ccshiro commented on #732
Related Db issues: #733 #734 #735.

[2015-06-29 15:35] ccnim opened #736 "Quest: Escape from Coilskar Cistern"
Fix the group movement after she has saved the water elementals.

[2015-06-29 15:36] ccnim commented on #732
#736

[2015-06-29 18:20] missmore commented on #618
ccshiro commented 2 days ago:
`We just need to find a video of a damaging ability working the way you describe. Maybe something like felguard's intercept used on an off-target?`

I remember like if it was yesterday. If your Felguard is already attacking one target and you ask him to do an intercept on another creature, it will intercept and run right back at the primary target.
The second target h

[2015-06-29 18:34] boroppi commented on #618
missmore is right.

[2015-06-29 19:55] Klimpb commented on #618
@missmore I think your memory has been corrupted :-)

Here's some Felguard videos:
1. http://webm.host/a8d00/vid.webm (short)
2. http://webm.host/39e7c/vid.webm (most clear, happened twice)
3. http://webm.host/f5927/vid.webm (short)
4. https://www.youtube.com/watch?v=7L99OdQ0Wns&hd=1  (other mechanics involving death/vanish etc)(file too large for webm.host)
5. http://webm.host/8a2ea/vid.webm (not

[2015-06-29 20:27] Chulain commented on #618
@SuddenDeath why are these uploads so slow? took me almost a minute to load that 4sec video

[2015-06-29 20:29] ivanprgin commented on #618
fix it alrdy i can't look at that 1 bug left anymore xD

[2015-06-29 20:29] Klimpb commented on #618
@Chulain They load instantly for me, maybe strange routing.

[2015-06-29 20:30] ivanprgin commented on #618
@Chulain can be firewall issue

[2015-06-30 05:23] Aasamath commented on #618
https://www.youtube.com/watch?v=kzmPNTDcfnQ
at 2:14
because of a zoom at the start of the clip you can't see the lock ordering the succbus to seduce, but  after the zoom, no pet button is activated, meaning he ordered the pet to seduce and the pet moved on his own to go cast ( what i mean is the player didn't send the pet to attack and then seduce when in range)

[2015-06-30 10:28] YourNewfriend commented on #618
Yo, just contributing.  I searched a bit for definitive proof on the topic of "if pets should move towards a target for the sole purpose of using an ability", but couldn't find any.  I'll be back tomorrow, and I should find something if somebody else doesn't beat me to it.

The little I collected:
**_Felhound doesn't attack after CSing with Tainted Blood set to auto-cast on passive**_ https://yout

[2015-06-30 12:03] missmore commented on #618
SuddenDeath commented 16 hours ago:

@missmore I think your memory has been corrupted :-)

Here's some Felguard videos:

http://webm.host/a8d00/vid.webm (short)
http://webm.host/39e7c/vid.webm (most clear, happened twice)
http://webm.host/f5927/vid.webm (short)
https://www.youtube.com/watch?v=7L99OdQ0Wns&hd=1 (other mechanics involving death/vanish etc)(file too large for webm.host)

## http://web

[2015-06-30 12:15] ceyscro commented on #618
In thoses footage you can see in the combat chat the name of the opponent followed by a server name, you can also see it when arena ends and the window with teams appears.

If you see In a video a "name - server" that's could only be a video from retail.

[2015-06-30 12:21] missmore commented on #618
@Ceyscro servers were not linked back in the TBC days. Your comment doesnt make sense ceyscro because the ( name in the chat box  before the nicknames) isnt the actual server name but the channel name or the guild name.

So much disinformation going on here.

[2015-06-30 12:22] missmore commented on #618
@YourNewfriend Tks for the videos, your videos are legit

[2015-06-30 12:30] ceyscro commented on #618
@missmore Lol, it seems you never played retail and your memories are completely false. In TBC days you could meet any team from the same Battlegroup as your, so you could see the opponents server by his name.

In footages linked by @SuddenDeath you can see : Koshan - Dunemaul, guild : So What
and Riggs - Daggerspine Cryptikz - Daggerspine

I just don't know where you saw a guild name or a channel

[2015-06-30 12:52] ivanprgin commented on #618
@missmore Ceys is right it is retail like. Only bgs and arenas were linked in tbc, but only few server 3-4

[2015-06-30 14:08] ccshiro commented on #618
@SuddenDeath Nice, that seems to prove @lawzftw claim of how it works to be the most accurate interpretation we have at the moment. I will implement it as described.

Everyone, thanks for the input.

[2015-06-30 16:29] ccshiro commented on #549
I changed my mind, since you've proven it didn't exist in two scenarios, it seems more reasonable to assume it didn't exist at all rather than keep confirming more scenarios.

[2015-06-30 16:29] #549 closed, assigned to ccshiro

[2015-06-30 18:28] #618 closed, assigned to ccshiro

[2015-06-30 18:29] #732 closed, assigned to ccshiro

[2015-06-30 19:07] ivanprgin commented on #618
Last bug has fallen

[2015-07-01 08:30] Jigodian commented on #618
ACE!

[2015-07-01 15:00] ccshiro commented on #167
There now exists a task for this quest - #733 - will close this issue in favor of the task.

[2015-07-01 15:00] #167 closed, assigned to nobody

[2015-07-01 17:06] ccnim opened #737 "Fhwoor Smash!"
http://www.wowhead.com/quest=9729/fhwoor-smash

[2015-07-01 17:07] ccnim opened #738 "Zuluhed the Whacked"
http://www.wowhead.com/quest=10866

[2015-07-01 17:24] ccnim opened #739 "Ally of the Netherwing"
http://www.wowhead.com/quest=10870

[2015-07-01 17:26] ccnim opened #740 "Deathblow to the Legion"
http://www.wowhead.com/quest=10409

[2015-07-01 17:27] ccnim opened #741 "Akama"
http://www.wowhead.com/quest=10628

[2015-07-01 17:27] ccnim opened #742 "The Ata'mal Terrace"
http://www.wowhead.com/quest=10707

[2015-07-01 17:28] ccnim opened #743 "Losing Gracefully"
http://www.wowhead.com/quest=10169

[2015-07-01 17:34] ccnim opened #744 "Full Triangle"
http://www.wowhead.com/quest=10276/full-triangle

[2015-07-01 17:55] ccnim opened #745 "The Cipher of Damnation - Borak's Charge"
http://www.wowhead.com/quest=10578

Seems I've forgotten to add Ruul the Darkener back into the game.

[2015-07-01 17:58] ccnim opened #746 "Kristen DeMeza"

[2015-07-01 18:04] ccnim opened #747 "Follow escort functionality"
Mist in Teldrassil has a follow escort, we currently have no way of doing this in SmartAI.

[2015-07-01 18:06] ccnim opened #748 "Quest: Mist"
http://www.wowhead.com/quest=938

Has been recorded.

[2015-07-01 18:06] ccnim commented on #748
#747

[2015-07-01 18:09] ccnim opened #749 "Arcane Vortex"
Arcane Surge - 30625
Currently doesn't hit anyone or anything nearby.
I tested around but I couldn't make it work, needs some debugging.

[2015-07-01 18:36] ccnim opened #750 "PvP Supply Officers"
PvP Supply Officers hand out all the care package quests even if you haven't reached the required reputation levels.

[2015-07-01 18:41] ccnim opened #751 "Quest: By Any Means Necessary"
The quest visibility (grey question mark over his head) shouldn't be visible and only if you complete the quest should the quest visibility show up.

[2015-07-01 19:02] ccnim opened #752 "Vengeful Harbinger"
Can't turn in the quest, you get stuck on continue.

[2015-07-01 19:03] ccnim opened #753 "Anchorite Nindumen"
Remake this NPC in SmartAI.

[2015-07-01 19:04] ccshiro opened #754 "Fishing: Implement the 6-hour rule"
Drop rates of fishing varies depending on the time of day. Each 6 hour the rates of what fish you can catch changes.

Here's some information about how it ought to work: https://web.archive.org/web/20080616123512/http://www.elsanglin.com/variation_by_time.html

[2015-07-01 19:07] ccshiro opened #755 "Fishing: Go through schools of fish"
From what I've been told the pools/schools in fishing tend to be clumped up on mangos and with a spawn rate that's too high. We should go through this.

[2015-07-01 19:12] ccshiro commented on #755
An example, I was given:

"All of the fishing pools in Darkshore are Floating Debris, so it's almost cheating since you can get some good stuff from those."

[2015-07-01 19:16] ccshiro opened #756 "Hunter's flare visual"
The on-the-ground visual effect of Hunter's flare appears too quickly. The reveal works correctly on our server, but the visual is wrong.

Video that shows how it should look: http://www.youtube.com/watch?v=9hExikWBzpI&t=5m37s

Tl;dr: The visual flare effect on the ground should appear as the projectile lands, on our server it happens almost right away.

[2015-07-01 19:18] ccshiro opened #757 "Battleground Insignias should send their loot upon removal"
When you remove the insignia of a player corpse in a battleground, you should get the loot window displayed right away. Instead, you now need to click the player again to get the loot window. I did some basic digging but it wasn't as obvious as I had expected (the loot window is sent, the client just doesn't want to display it at the point in time it is sent and closes the window right away).

[2015-07-01 19:30] Lephidiles commented on #755
I think without research that it is like this (multiple spawns in one spot) that this should be what rot calls pooled... that there is one spawn point that can spawn one of say tree schools but not all 3 at once (should pick a random ? school to spawn out of the said 3)

This also apply to gold / silver ore afaik that they should be a proc spawn of a copper ore <-- again not sure this is entirely

[2015-07-01 19:47] Lephidiles commented on #755
http://www.wowhead.com/object=1733/silver-vein#comments
http://www.wowhead.com/object=1734/gold-vein#comments
etc.
(it was not copper though)

still only wowhead comment sources

[2015-07-01 20:39] ghost commented on #738
On his current wowhead page:
http://www.wowhead.com/npc=11980/zuluhed-the-whacked#abilities

He is missing one of this abilities:
http://www.wowhead.com/spell=38876/demon-portal

That is supposed to summon:
http://www.wowhead.com/npc=22338/arcubus-destroyer

One video of it:
https://www.youtube.com/watch?v=NnFKxgxTUtk

wowpedia links describing the fight and summon:
http://wow.gamepedia.com/Zuluhe

[2015-07-02 04:25] ccnim opened #758 "Hemathion"

[2015-07-02 04:25] ccnim opened #759 "Morcrush"

[2015-07-02 04:29] ccnim opened #760 "Voidhunter Yar"
Needs to have the same implementation as the Negatron Screamers but with different spell IDs and a Fel Shackle spell.
http://www.wowhead.com/npc=20875
http://www.wowhead.com/npc=18683/voidhunter-yar#abilities

He also has various aggro says it seems.

[2015-07-02 04:30] ccnim opened #761 "Ever-Core the Punisher"

[2015-07-02 04:30] ccnim opened #762 "Kraator"

[2015-07-02 04:30] ccnim opened #763 "Nuramoc"

[2015-07-02 04:30] ccnim opened #764 "Collidus the Warp-Watcher"

[2015-07-02 04:31] ccnim opened #765 "Chief Engineer Lorthander"

[2015-07-02 04:31] ccnim opened #766 "Ambassador Jerrikar"

[2015-07-02 10:47] darkcranio commented on #646
FOund the exact bug on retail in a video though.
https://youtu.be/n-PWFc8OByM?t=2m30s

[2015-07-02 18:16] ccshiro commented on #120
Also check out #548.

[2015-07-02 18:16] ccshiro commented on #548
Also check out #120.

[2015-07-02 18:21] ccshiro commented on #755
@Lephidiles yeah, that's what I think too. We've already pooled mines, herbs and chests. I'm guessing schools of fish should be pooled as well.

[2015-07-03 04:21] #759 closed, assigned to ccnim

[2015-07-03 14:42] ccshiro opened #767 "Group Movement: Follow the leader"
Right now we have the option to move in formation. We need another group movement type that works like the children's game "Follow the leader". Normal follow functionality is not enough for this.

This is used in Alterac Valley (and possibly other places) for the wolf/ram rider turn-in event (see #735).

[2015-07-03 16:45] #758 closed, assigned to ccnim

[2015-07-03 18:09] rsheep commented on #755
For sure, even schoois of fish were pooled.
Prime example for this was "Stranglethorn Fishing Extravaganza".

[2015-07-03 18:10] rsheep commented on #754
if you're going to implement the 6h rule, then you might want to implement the "seasonal rule" as well.
I bet elsanglin has information about it as well.

[2015-07-03 20:01] #761 closed, assigned to ccnim

[2015-07-04 17:00] ghost opened #768 "Scout's Arrow has wrong reputation requirements"
[Scout's Arrow] should have an 'Honored' reputation requirement, but it has a 'Friendly' requirement on Corecraft.

Item ID: 24417

http://www.wowhead.com/item=24417/scouts-arrow
Wowhead comments:
"In patch 2.1.0 they lowered the reputation requirement for these arrows. Now you only need to be friendly to get these."

"This is not particularly useful with a normal approach to Zangarmarsh, as you h

[2015-07-04 17:23] Peonstomperx opened #769 "Combat duration too long"
Combat Timer should be 5-6seconds randomly(1sec batches) or set 5seconds, perhaps it was changed in some patch during TBC.

Woundman drops combat after 5seconds every time: https://www.youtube.com/watch?v=6cMJFN-eNRU

Gouge into sap, notice how GCD of sap starts before gouge has finished: https://youtu.be/DGtsAvpn3xo?t=179

Wowwiki history says combat is 5seconds: http://wowwiki.wikia.com/Combat?o

[2015-07-04 17:45] ghost opened #770 "[Formula: Enchant Weapon - Major Striking] needs to be removed"
[Formula: Enchant Weapon - Major Striking] needs to be removed. It was added in patch 2.1.0.

Item ID: 22552

http://www.wowhead.com/item=22552/formula-enchant-weapon-major-striking#comments
Wowhead comments:
"As of 2.1 this formula is sold by Karaaz, Consortium Quartermaster."

[2015-07-04 17:46] balsh opened #771 "Player movement"
Like every single pre WOTLK (only the wotlk private servers with the new trinity core got it right) the displayed movement of other players is a bit off sometimes. It's better than most servers, but there are still bugs where players seem to teleport/glitch their orientation in random directions (especialy on mounts).

[2015-07-04 17:48] Peonstomperx opened #772 "Potential Item Exploits"
I just cba going through this wall of text, couldn't find profession trainer either. These things were exploited on AT, really OP stuff.

I guess this is part of shockadin, maybe someone wants to show us this is blizzlike or whatever.

https://web.archive.org/web/20150427212847/https://github.com/FeenixServerProject/Phoenix_1.12.1_Issue_tracker/issues/3652

[2015-07-04 17:59] Chulain opened #773 "poison scaling"
I think deadly poison scales "a bit" too much?
should it scale with SP at all?
tested on a rogue with 967 SP

![wow_2015_07_04_19_56_32_835](https://cloud.githubusercontent.com/assets/10247793/8508929/18e683c4-2287-11e5-8cdd-e3bc9ec995e0.png)
five applications

![wow_2015_07_04_19_57_04_518](https://cloud.githubusercontent.com/assets/10247793/8508933/34cbc3c4-2287-11e5-81f9-9ee892aa040b.png)
one a

[2015-07-04 18:01] ghost opened #774 "[Schematic: Elemental Seaforium Charge] needs to be removed"
[Schematic: Elemental Seaforium Charge] needs to be removed. It was added in patch 2.1.0.

Item ID: 23874

http://wowwiki.wikia.com/Patch_2.1.0
"The Consortium Vendor Karaaz now sells the engineering recipe for an Elemental Seaforium Charge if you are revered with them."

[2015-07-04 18:09] ArmandoAlvarezz opened #775 "Hunter's Disengage doesn't work."
When I hit Disengage button my character doesn't jump back. Instead he just spin around.

[2015-07-04 18:10] Voodopad commented on #142
There is some problem "finishing" the quest. After successfully killing the 60 mobs and dismounted the robot and then my character froze on place. I sat motionless till quest timer expired and server crashed. Going to upload a few videos in a while.
https://youtu.be/0NzFzag3ol4 - This is my first attempt. After it my client froze 2 times when I started the quest.
https://www.youtube.com/watch?v=D3

[2015-07-04 18:11] Chulain commented on #775
seriously? that only happens wotlk+

[2015-07-04 18:11] Klimpb commented on #775
invalid report.

[2015-07-04 18:15] Klimpb commented on #771
Even blizzard's servers still have these issues, and it's actually a lot worse on the retail servers than on pretty much any private server.

source: https://youtu.be/Z_rs4YVbZag?t=19m46s

[2015-07-04 18:18] Klimpb opened #776 "First aid doesn't work"
First aid doesn't work and you're also able to waste your bandages when you have the debuff on you.

http://webm.host/ba133/vid.webm

[2015-07-04 18:20] #775 closed, assigned to nobody

[2015-07-04 18:20] PatchnotesTBC opened #777 "Sheeped makes me stuck in walk (old report forgot to post it way back)"
So i got sheeped in a WSG and the wsg ended while i was in the sheep and when i got out of the wsg and sheep broke i got stuck in walk. I had to press the walk button on the keyboard to start running again.

(again this was bugged a while ago just though i should add it for checking)

[2015-07-04 18:29] Peonstomperx commented on #301
perhaps this molten fix is related "Charge will now move to max melee range, not object model size":

https://web.archive.org/web/20150704182710/https://www.warmane.com/changelog?expansion=2

[2015-07-04 18:30] PatchnotesTBC commented on #301
Tested to charge around on a druid in Teokkar forest for 30 mins and later with a warrior in the same forest both charge and Intercept found no problems with a single one always end up in attack range to my target.

[2015-07-04 18:31] #774 closed, assigned to ccnim

[2015-07-04 18:33] #770 closed, assigned to ccnim

[2015-07-04 18:34] balsh commented on #771
Yeah sprinting was rly bad on retail.
But not normal running.
Here it's a mess in pvp sometimes like every crappy private server

[2015-07-04 18:37] #768 closed, assigned to ccnim

[2015-07-04 18:38] FurioCC commented on #204
Tested on 04/07/15, i confirm, agroing them and resetting sometimes brings them back to spot visually "half-buried".
Video: https://www.dropbox.com/s/fvi7jgyydq5uz8s/2015-07-04-2222-35.flv?dl=0
Download it for suitable quality since dropbox preview sucks.
SS with .movegens --verbose
https://www.dropbox.com/s/36kz3tn9jg4shze/WoWScrnShot_070415_223033.jpg?dl=0

[2015-07-04 18:40] ceyscro opened #778 "Sap + cc = Cc do not work"
When you sap someone then stun him, the stun appears but opponent can move and use any ability.

[2015-07-04 18:57] KartoffelbauerRebus opened #779 "Minimap tracking incomplete for trainers"
When turning on minimap tracking for class or profession trainers only few of them are actually marked. Proof:
![wowscrnshot_070415_204211](https://cloud.githubusercontent.com/assets/13179578/8509071/ebb941ea-228e-11e5-9094-79f9180146a2.jpg)
![wowscrnshot_070415_204448](https://cloud.githubusercontent.com/assets/13179578/8509072/ebbc11fe-228e-11e5-9da0-7698fd6fb6bb.jpg)
![wowscrnshot_070415_205138

[2015-07-04 18:58] Bzmode opened #780 "(Warlock) Pyroclasm"
Hellfire/firestorm neither stun

[2015-07-04 19:10] ceyscro commented on #778
Same issue with all spells like sap, I mean maim or gouge, when you stun or root then, opponent can move and do whatever he wants.

[2015-07-04 19:24] ghost opened #781 "[Worg Hide Quiver] needs to be added"
The NPC 'Trader Narasu' should sell the item [Worg Hide Quiver] to players with an 'Honored' reputation, but it's currently missing.

Item ID: 29144
NPC ID: 20240

http://www.wowhead.com/item=29144/worg-hide-quiver#comments
By Kazzen on 2007/04/11 (Patch 2.0.12):
"[...]  Heres the ammo pouch equivalent, I have both because I like to change it up a bit, its nice to have both."

Wowwiki entry (March

[2015-07-04 19:25] Chulain opened #782 "trap range too low?"
https://www.youtube.com/watch?v=-F5bM3v09cA

trap range seems to be a bit too low?

retail:
https://youtu.be/o-S9sDhN5IY?t=277

https://youtu.be/Q6SP7TqdaOQ?t=44
(very clear here, it's pre tbc tho)

[2015-07-04 19:28] darkcranio commented on #772
So are you warning us not to believe they are scaling or to believe it?

[2015-07-04 19:30] darkcranio opened #783 "Pathing after CC"
Well every mob that is CCable could produce this bug at least in Hellfire. So the bug is, when my FIRST frostbolt ends in a freeze proc from talent, after they stuck in their places most of the time, however if the Frostbolt proc the freeze on the second time, it doesn't stuck them.

[2015-07-04 19:32] darkcranio opened #784 "Infernal Storm in HH"
http://wow.allakhazam.com/forum.html?forum=21&mid=1182502515170486863

They are saying it lasts 15-30 seconds, however on CC just a few seconds.

[2015-07-04 19:42] YourNewfriend opened #785 "Volley Animation Breaks And Doesn't Loop"
It should loop just like other spells like tranquility, and blizzard.

![image](https://cloud.githubusercontent.com/assets/13057166/8509192/08febcde-224a-11e5-89c3-46f42ba20403.png)

https://www.youtube.com/watch?v=9WTkPHpPca8

[2015-07-04 19:43] ghost opened #786 "[Blackened Leather Spaulders] needs to be removed"
[Blackened Leather Spaulders] needs to be removed. It was added in patch 2.1.0.

Item ID: 29148

Evidence:
There is a Wowhead comment on the horde equivalent shoulders [Talbuk Hide Spaulders]
http://www.wowhead.com/item=29147/talbuk-hide-spaulders#comments
"I'm happy to announce that Kurenai gets similar shoulderpads in the 2.1.0 content patch
http://img125.imageshack.us/img125/4145/newroguevf5.jp

[2015-07-04 19:48] Klimpb commented on #778
can confirm, it's happening when two different CCs overlap

Videos of it:
http://webm.host/4e372/vid.webm
http://webm.host/4e372/vid.webm

alt-links:
https://youtu.be/v7W_94L_1F0
https://youtu.be/HUnUHESrhA4

[2015-07-04 19:49] sverkersham opened #787 "Talent: Inspiring Presence"
on Corecraft the buff only applies to party members and not yourself.

[2015-07-04 19:51] darkcranio commented on #782
Also there is a delay in PVP to traps, so if lucky enough, we can pass it.

[2015-07-04 19:54] Peonstomperx commented on #772
@darkcranio I'm saying this is something that should be looked into. If it is scaling and is blizzlike, perhaps it still breaks the game to some extent even, holy paladins were doing an extra 3k each hit on wotlk at with 1.8 speed weapon.

[2015-07-04 19:54] darkcranio commented on #771
Was good some tests ago, wasn't it?

[2015-07-04 19:56] Aisires opened #788 "New player in dungeon but not in group"
Hey there,

at like hal, an hour after the start of this test we went into Sl Hc. The Server crashed our other Shadow did not come back. As we entered the Dungeon there was this druid. He could heal us and we could buff him the "Group buffs".

He was in a group aswell, we even had his ID, the first boss was already killed.

We even tryed to reenter the dungeon, but we always ended up with him.

![

[2015-07-04 20:00] darkcranio opened #789 "Nethergarde Infantry"
Poor guys gets killed everytime.
ww.wowhead.com/npc=16831/nethergarde-infantry
"You'll be glad to know that he survived, lvl 70 elite demons don't attack Nethergarde Infantries"

"I saw one of these run STRAIGHT THROUGH a respawned Pit Commander + his 8 Felguards walking back to dark portal, then despawn at the Commander's usual spot..."

Here in CC he gets attacked and dies horribly.

[2015-07-04 20:07] YourNewfriend opened #790 "Bestial Wrath and Intimidation Don't Require Line of Sight"
They should throw an error as far as I'm aware.

http://wowwiki.wikia.com/Bestial_Wrath
Patch 5.2.0 (5-Mar-2013): Bestial Wrath may now be activated when there is no line of sight to the Hunter's pet.

That's not much evidence though I guess.

[2015-07-04 20:17] YourNewfriend opened #791 "PvP Flag Becomes Invisible When Logging Off And On"
It's visual.  It could be that relogging does totally remove it at some point.. I'm not sure of that, but neither should be the case according to common knowledge, and this article:
http://wowwiki.wikia.com/PvP_flag

![2](https://cloud.githubusercontent.com/assets/13057166/8509256/a189e8c6-224e-11e5-8547-1fb8cd5b871a.png)

In this screenshot, my PvP flag is in fact enabled, and it isn't visible.

[2015-07-04 20:27] ghost opened #792 "[Recipe: Sporeling Snack] needs to be removed"
[Recipe: Sporeling Snack] needs to be removed. It was added in patch 2.1.0.

Item ID: 27689
Vendor: Mycah <Sporeggar Quartermaster>
NPC ID: 18382

http://wowwiki.wikia.com/Recipe:_Sporeling_Snack
"Patch 2.1.0 (22-May-2007): Added."

[2015-07-04 20:39] YourNewfriend opened #793 "[Vanilla] [Orgrimmar] Orgrimmar Guards Don't Salute"
Not a TBC issue though.

Typing /salute to them doesn't respond in an emote.

[2015-07-04 20:45] Bzmode commented on #667
check the database for the character Plazmawave, his stats are insane after getting the internal bag error

[2015-07-04 20:51] YourNewfriend opened #794 "Unable To Swap Players In The Raid UI"
This is what happens.  The player Buffalowings isn't actually in group 2; the UI just bugs out.
![image](https://cloud.githubusercontent.com/assets/13057166/8509369/a0a506de-2253-11e5-825f-ba408ea62b43.png)

 People should be able to swap players in the raid UI by dragging them onto eachother.  If this doesn't work, then in a 40 man raid, a player needs to be kicked for groups to be reorganized.

[2015-07-04 20:53] Bzmode opened #795 "(Mage) Water Ele"
The bar resets each time you summon the elemental it should save

[2015-07-04 20:56] Stoney21 commented on #782
Delay on traps is blizzlike.

[2015-07-04 21:00] Stoney21 commented on #769
Noticed same thing on HG. Their developers weren't sure if it was latency or something else. It might be connected with latency.

[2015-07-04 21:01] YourNewfriend opened #796 "Players Changing Zones Cannot Be Seen On The Who List"
If a player is on a loading screen while swapping zones, they can't be seen on the who list.  I'm not sure if it should show the previous zone the player was in, or the zone they're entering.

---

Reproduction:
Exampleguy enter a portal.
Exampleguy is stuck on his loading screen because his computer sucks.
Fatkid types /who Exampleguy
## Result: 0 players total (why is this so huge?)

I'm quite s

[2015-07-04 21:15] Klimpb commented on #796
Also can not whisper the player when he is in a loading screen, which is a bug.

Edit: hm, nvm then

[2015-07-04 21:17] Chulain opened #797 "misdirection - volley"
volley consumes applications of misdirection, it shouldn't

https://www.youtube.com/watch?v=FsUr3i0iecs&feature=youtu.be&t=575

[2015-07-04 21:18] ghost opened #798 "[Sporeggar Tabard] needs to be removed"
[Sporeggar Tabard] needs to be removed. It was added in patch 2.1.0.

Item ID: 31775
Vendor: Mycah
NPC ID: 18382

http://www.wowhead.com/item=31775/sporeggar-tabard#comments
By Saurom on 2007/05/25 (Patch 2.1.0):
"Sporeggar now has a tabard. Like the rest, it is only obtainable once someone gets exhalted."

[2015-07-04 21:19] YourNewfriend opened #799 "Mind Controlling A Player Wipes Them From The Aggro Table"
Mind controlling a player whether it's alliance>horde, alliance>alliance, or horde>horde shouldn't matter, and it shouldn't affect the hate list of the monster attacking the player.

Reproduction Guide:
*Create a priest
*Create a "whatever"
*"whatever" gains aggro on a mob
*command priest to cast mind control on "whatever"

Proof:
https://www.youtube.com/watch?v=OKdWeGeYS0k&feature=youtu.be&t=6m26

[2015-07-04 21:19] Chulain commented on #798
http://www.wowhead.com/item=31775

[2015-07-04 21:20] Chulain commented on #799
who's the tank

[2015-07-04 21:22] YourNewfriend commented on #799
Whatever is the tank of course.  He gained aggro on the mob.

[2015-07-04 21:23] YourNewfriend commented on #796
We can whisper the player on the loading screen.  We just can't see them on the who list.

[2015-07-04 21:24] YourNewfriend opened #800 "Players Can't Resurrect At Max Distance"
The distance at which players can resurrect, and the distance at which the dialogue to resurrect appears don't match.

![4](https://cloud.githubusercontent.com/assets/13057166/8509446/4050bc38-2258-11e5-9622-9feb1566f03c.png)
This button is a dud.  I'm unable to resurrect by accepting the Resurrect now? dialogue at the point which it appears, and a bit closer too.  Seems like it's around 3-5 yds o

[2015-07-04 21:27] Doppelmoral commented on #796
Can you invite zoning people and do they get summons / queue pops ? All comes down to the same root issue I think.

[2015-07-04 21:27] YourNewfriend commented on #796
Not sure, haven't tested that.

[2015-07-04 21:30] nz54445 commented on #793
Very similar to, since it already has a mention of Silvermoon guards and emotes and a topic is ongoing there. #682

[2015-07-04 21:31] ccnim commented on #784
It has been timed from a video of the event in 2007.

[2015-07-04 21:31] #784 closed, assigned to ccnim

[2015-07-04 21:40] #798 closed, assigned to ccnim

[2015-07-04 21:46] Chulain opened #801 "tier 5 set bonus - hunter"
http://www.wowhead.com/spell=37381/pet-healing
Pet Healing
Causes your pet to be healed for 15% of the damage you deal.

doesn't work with volley, it should:
https://www.youtube.com/watch?v=qSjFZX8GsSo&feature=youtu.be&t=10

[2015-07-04 21:48] YourNewfriend opened #802 "Trading A Player As He Trades You Simultaneously Bugs The Trade Window"
When this happens, the trade window won't appear until one participant of the trade moves away from the other participant, resulting in a "Trade Cancelled" message appearing.  They can then move back and begin trading (provided they don't trade eachother at the same time again).

Reproduction Guide:
Player 1 trades Player 2 at 0:00:30
Player 2 trades Player 1 at 0:00:30

[2015-07-04 21:50] Chulain commented on #799
what's the mage

[2015-07-04 21:57] Chulain commented on #799
what's the mage

[2015-07-04 22:07] Bzmode opened #803 "(Class) Res"
you can't res people who release in instances

[2015-07-04 22:09] YourNewfriend opened #804 "Polymorph Size Transition Is Instant"
The transformation and exit should be more graceful, like druid shapeshifting.  Currently, the size increase (when it breaks), and reduction (when it's applied) is instant.

Retail: https://youtu.be/AND-5oZBPc4?t=2m31s

[2015-07-04 22:14] scramz opened #805 "Mechanar - Elevator"
double post

[2015-07-04 22:14] YourNewfriend opened #806 "Polymorph Wandering"
On Corecraft, polymorphed targets don't wander like they should.

Retail: https://www.youtube.com/watch?v=ROnfPE7h4Kw&feature=youtu.be&t=1m39s

This video isn't sped up at all.  Compare it to the current Corecraft polymorph.  Maybe some more recent TBC footage is necessary.

[2015-07-04 22:16] Roarek opened #807 ""AFK" message triggering while being damaged out of combat"
I have set /AFK to remain on and not be broken by movement or abilities. As you can see in the video I have included, during combat the damage I took from direct attacks and the poison debuff (called Venom Sting) that the Scorpid Bonecrawler applied to me did not trigger the AFK message in my chat. Outside of combat, while the poison debuff persisted and /afk remained active, my chat was alerted w

[2015-07-04 22:24] scramz opened #808 "Mechanar - Elevator"
After killing adds in front of the elevator I decided to relog. Upon coming back into game the elevator had disappeared. I tried to relog again to see if issue would fix. It would not. I went outside instance, left group and was reinvited. Elevator was showing again.

Here is screenshot of no elevator.

![wowscrnshot_070415_174723](https://cloud.githubusercontent.com/assets/13180865/8509580/8cd0f5

[2015-07-04 22:25] Klimpb commented on #794
Think this is a client side bug that sometimes happen, I have a faint memory of this happening on retail..

[2015-07-04 22:27] ccnim commented on #806
Some TBC footage would be nice, yes.

[2015-07-04 22:28] #805 closed, assigned to nobody

[2015-07-04 22:29] #792 closed, assigned to ccnim

[2015-07-04 22:32] YourNewfriend opened #809 "Players Can Sit and Stand Too Quickly (fixed on server-side, but not fixed client-side)"
This bug is only client-side, and not server-side.  The server handles sit and stand as it should be, and the result is that people observing other players mashing their sit key will see it as how it should be; for the player performing the sit/stand, it's super fast and out of control (cant even look cute as a gnome).

There should be a a restriction on how fast players can sit and stand.  If any

[2015-07-04 22:41] YourNewfriend opened #810 "The Cost To Untrain A Pet Can Be Reset To Zero"
By logging off, or dismissing the pet, and resummoning it.  I've already bought 6 respecs for this pet.

![7](https://cloud.githubusercontent.com/assets/13057166/8509632/c08c6dfc-2262-11e5-95ce-f0f4d1f5d3dc.png)

Reproduction guide.
Tame a pet
Talk to pet trainer, and unlearn its talents for 10s
Dismiss pet
Summon pet
Talk to pet trainer, and you can unlearn its talents for 10s again.

[2015-07-04 22:42] Bzmode opened #811 "(Blood Furnace) Broggok encounter"
Fear pulls untargetable Broggok in during the event
http://www.twitch.tv/nanettie/v/6936017

we were unable to AoE cc slow or interact with it in any way until we killed the mobs from the previous waves

[2015-07-04 22:43] Bzmode opened #812 "(Crowd Control) Fear+Nova"
If a mob is feared then has a frost nova applied it will start attacking near by targets even if it still is feared

http://www.twitch.tv/nanettie/v/6936131

[2015-07-04 22:45] Voodopad commented on #718
Start to think its something character specific, the same thing happens on Sena but this time in Shatrath. He flies to the same spot in HF and falls. First time when I fall server crashed, second I resurrected normally. If others can't reproduce it I will just erase character as it's my only hordie on the account TEST2119

[2015-07-04 22:48] Bzmode opened #813 "(Blood Furnace) Last boss encounter"
The 5 warlocks you fight before the boss are not linked correctly the rest of the fight seems fine
http://www.twitch.tv/nanettie/v/6936251

(https://www.youtube.com/watch?v=589FGHSUwYw<-- is how it was on retail)

[2015-07-04 22:49] Bzmode opened #814 "(Quest) Dr. Boom"
Dr boom doesn't throw his dynamite (15 yard range spell)

[2015-07-04 22:51] JayDee81 commented on #812
works the same if a player is feared. got feared and frost nova'd and was still attacking my target.

[2015-07-04 22:52] YourNewfriend opened #815 "Faction Leaders Aren't Tagged As Leaders And PvP NPCs"
Faction leaders should be tagged as leaders and PvP targets.  This should also apply to Vol'jin, and High Tinker Mekkatorque.  Varimathras is not a leader afaik.

Currently:
http://i.imgur.com/wK9Ruxa.jpg / http://i.imgur.com/WHJyqSd.jpg

Retail Proof:
https://youtu.be/nPfzKWbiTaE?t=1m56s
https://youtu.be/FaV6oAteJGI?t=2h13m33s
https://www.youtube.com/watch?v=gsTlnIvoi-g&feature=youtu.be&t=3m3s

[2015-07-04 22:54] Roarek commented on #800
I have an addon called QuestHelper that tracks objectives and the distance to them - according to it, the max distance I was able to get a "dud" resurrect button was ~36 yards. By just inching up barely (< 1 more yard) I was able to rez with the addon stating it was still ~36 yards away. I have included a video linked below. I don't know the proper distance a player is meant to rez from, however,

[2015-07-04 22:56] Bzmode opened #816 "(Halaa) Camps"
http://imgur.com/3vFPR5t

these places don't get replaced with the respective Gryphon/Wyvern camps that are used to bomb the Halaa guards

[2015-07-04 22:58] YourNewfriend commented on #806
https://youtu.be/1xoawQ4gLak?t=26s

The guy is spinning around in circles at some points like a dog chasing its own tail, and that definitely doesn't look anything like the sheep on CC.

[2015-07-04 23:01] mara1987 commented on #781
Please don't forget to check the Mag'har equivalent then:

http://wowwiki.wikia.com/Clefthoof_Hide_Quiver

Sold by Provisioner Nasela.

Item ID: 29143
NPC ID: 20241

[2015-07-04 23:01] Ickler opened #817 "Cleave radius is too large (impossible as melee, not to get cleaved)"
Entropic Eyes and Death watchers in Arcatraz has their cleave radius too large. It's impossible for melee to avoid. Might be a general issue with cleave though, I am not sure.

Edit: Cleave is not just "hard" to avoid, it actually is impossible. Unless we talk about a dodge / parry ^^
We had melee standing directly behind mobs, and at absolute max melee range.

[2015-07-04 23:13] YourNewfriend opened #818 "Zone-Specific Trade Channels Shouldn't Exist"
I'm quite confident that there shouldn't be a [2. Trade - Ashenvale] for example.  I'll find evidence later.

[2015-07-04 23:14] Voodopad commented on #114
All zepps seems to be working fine, Only loading screen seems to be the same for UC<>STV zepp no matter in which direction you fly.

[2015-07-04 23:15] Qxcr opened #819 "[Entangling Roots]"
I've also used the provided code in case it is somehow related to it.
I'll include as many information as I can eventhough some might not be of any relevance.

This bug can stop melee mobs from acting normal again after Entangling Roots breaks by damage or if its duration expired.

How to reproduce:
Cast a damaging spell on a mob and afterwads Entangling Roots. Now either break Entangling Roots wi

[2015-07-04 23:20] Chulain commented on #818
yeah trade channels are only for main cities and they're all linked with eachother

[2015-07-04 23:21] YourNewfriend opened #820 "WorldDefense Channel Doesn't Function (for the most part)"
*WorldDefense channel should feed players LocalDefense events from across the world, but it doesn't.

*Players shouldn't be allowed to speak in the WorldDefense channel.  This is a TBC addition.  Pre-TBC, it was only allowed to be used by players Rank 11 and up in the old honour system. (http://wowwiki.wikia.com/Patch_1.6.0)

![asdawd](https://cloud.githubusercontent.com/assets/13057166/8509717/67

[2015-07-04 23:22] Chulain commented on #817
http://www.wowhead.com/npc=20868/entropic-eye
2007/04/24 (Patch 2.0.12)
Has a "Tentacle Cleave" attack which acts like a normal cleave. Also appears to have a mass polymorph that turns people into frogs.

http://www.wowhead.com/npc=20867/death-watcher

[2015-07-04 23:31] YourNewfriend opened #821 "Civilians Don't Summon Guards For Help"
Civilians should call guards for help.  I'm sure that a lot of you are familiar with the famous "goibon uden lo" that human NPCs used to say.

***Proof:
https://youtu.be/pF9yEZLB9jk?t=2m58s
https://youtu.be/pF9yEZLB9jk?t=3m5s
https://youtu.be/pF9yEZLB9jk?t=3m20s
https://youtu.be/ODL8SwUddfc?t=2m12s
https://youtu.be/zdXkk7kOwPE?t=1m46s
https://youtu.be/WT2-_crP9KI?t=1m20s
https://youtu.be/LbgUGKspp

[2015-07-04 23:33] Chulain opened #822 "pet while on flying mount"
Your pet disappears when you hop on your mount, however you can take him with you while you remain on your mount by stabling it at a stable master and retrieving it.
![wow_2015_07_05_01_29_14_524](https://cloud.githubusercontent.com/assets/10247793/8509734/cc2b1cdc-22b5-11e5-90ca-a017bff66d9a.png)

[2015-07-04 23:36] Chulain commented on #821
i was waiting for a post like this one

https://youtu.be/s-HOqoy13YM?t=249
there seems to be no limit (i think?), more players = more guards!

[2015-07-04 23:37] Chulain commented on #821
btw one of your videos is "private" cant be watched

[2015-07-04 23:44] Peonstomperx commented on #812
I think the same happened to me, blinded while in nova, when I got out of nova and started moving I could auto attack my target.

[2015-07-04 23:47] Ickler commented on #794
This is a common client side bug, often caused by addon "ClassColors" or something like that. See if you have that addon running.

[2015-07-04 23:52] Bzmode commented on #780
we got it to stun once so it might just be the chance is extremely off

[2015-07-04 23:54] Ickler commented on #794
I know that the addon "ClassColors" or something like that bugs it if you're in combat. But that's in all cases, not just when "hotswapping" members. Although probably not linked to this very issue.

[2015-07-05 00:04] YourNewfriend commented on #793
If memory serves me right, they should pause, look at the player who saluted them, and then salute.  I'm currently looking for video proof of this

[2015-07-05 00:06] Chulain opened #823 "trap on unattackable hostile mobs"
https://www.youtube.com/watch?v=_LJfz5-S0JQ

mob cant be tagged, trap disappears but does not go off

could be retail behavior tho

[2015-07-05 00:23] Jonssown opened #824 "Battle of the Crimson Watch - Weird/Glitchy"
2 Issues, vid only shows 1 of'em though:

1: Quest NPC sometimes flies out to kill the mobs, even ended up dying.

2: The quest sometimes fails and the mobs despawn mid-combat.

Youtube Video (1): https://www.youtube.com/watch?v=jrIqWtNTkMQ

Cheerio
/P

[2015-07-05 00:30] Chulain commented on #824
flying goat wtf

[2015-07-05 00:32] Chulain commented on #822
bet you like my pet name

[2015-07-05 00:33] Chulain commented on #820
yep i remember getting spammed like FUCK on retail

[2015-07-05 00:36] YourNewfriend opened #825 "Weapon Skill Levelling Is Broken"
Currently, weapon skills can't be levelled on mobs that don't grant experience, or immune targets (confirmed these so far).  A lot of people can certainly remember training weapon skills to max on things like the invincible NPCs in Blasted Lands, or the Gordok Spirits in Dire Maul.

![chingeus weapon skill](https://cloud.githubusercontent.com/assets/13057166/8509841/a869aa4a-2272-11e5-9313-7f95857

[2015-07-05 00:53] YourNewfriend opened #826 "World Map Is Behaving Strangely"
The world map is randomly marking townships on the map.  For The Barrens, after only entering it and nothing else, I automatically had The Crossroads and Camp Taurajo marked on both my characters, but not Ratchet.

On one character, Chingerus, the map for Kalimdor looks like this, despite having been to Orgrimmar, Sunrock Retreat, and Splintertree post.  All of those places were not marked except

[2015-07-05 00:56] Chulain opened #827 "soul shard doesn't show up on chat for other players"
soul shard doesn't show up on chat for other players

http://i.imgur.com/PxFp3M6.png
that's a hunter from a retail video (cant find vid anymore) and it did show up for him on his chat

---

creating healthstones and probably other conjured items dont show up either

https://youtu.be/0xx54ur_AAs?t=90
it does in this video

[2015-07-05 01:09] YourNewfriend opened #828 "Channeling Bar Gets Broken By Outranging The Caster (visual)"
For example, if I cast Eyes of the Beast, and then take my pet out of range of its master (me), and then cancel Eyes of the Beast, the channeling bar will continue.

Another example is if I cast Eagle Eye far enough, and then cancel it, the bar will continue.

![image](https://cloud.githubusercontent.com/assets/13057166/8509895/ae9b5940-2277-11e5-87a4-d5c1cf27bf8f.png)

[2015-07-05 01:13] r00ty-tc commented on #826
Maybe take a look at this

https://github.com/TrinityCore/TrinityCore/commit/24c173f387044496d581255545ed94c988f3ae3b

It MAY be related (I make no promises). I just see the use of atol in some places in cmangos-tbc. So, it's somewhat possible it is the same issue.

[2015-07-05 01:17] YourNewfriend opened #829 "NPCs Don't Attempt To Distance Themselves From Targets"
I'm not sure of the exact way the mechanic works.

![image](https://cloud.githubusercontent.com/assets/13057166/8509906/b2104d78-2278-11e5-8621-214055ee6cbc.png)

https://www.youtube.com/watch?v=OOiyXR91xd0&feature=youtu.be&t=42s (player)
https://youtu.be/v8shrjU6LvU?t=13s (pet)

[2015-07-05 01:21] r00ty-tc opened #830 "[Vanilla] Mana tap quest not completable"
Just for a bit of a change, I thought I'd see how the BE start zone is on CC.

Generally it's OK, however the quest to use mana tap on a creature is not completable. Using mana tap on one of the mana wyrms gives the correct buffs to the player and seems to work. However it does not grant quest credit.

[2015-07-05 01:27] r00ty-tc opened #831 "Heroic instance lock not enforced."
There's actually a second aspect to this. But, the issues may be linked.

First issue. Upon re-logging my player that logged out in group in a heroic group (Shadow lab) that had killed the first boss. I found that the entire instance had re spawned around me.

How it should work, once locked to an instance, the bosses killed should not be available to kill. Of course trash leading up to that boss

[2015-07-05 01:38] YourNewfriend opened #832 "Resetting a Kited Mob"
I picked up a mob outside of Orgrimmar, and I was kiting the mob with Faerie Fire.  Eventually I stopped, and waited for it to reset.  It wasn't resetting, and I got impatient after about 10-15 seconds, which is when I moved, causing the mob to immediately despawn rather than run away.

It reappeared at its spawn spot.

![18d5133e-227b-11e5-9fa3-41b3e28b2ff7](https://cloud.githubusercontent.com/as

[2015-07-05 01:46] YourNewfriend opened #833 "/Chatwho (and its variants') Command Functionality Is Missing"
The ability to list the members of a channel is missing.  Typing "/chatlist world" into the chat window results in nothing being returned.

![asas](https://cloud.githubusercontent.com/assets/13057166/8509975/cb3f110e-227c-11e5-854b-b85f173930b4.png)

The [channel] affix of the commands outlined doesn't work.

[2015-07-05 01:52] YourNewfriend opened #834 "[Vanilla][Durotar] Fizzle Darkstorm"
He doesn't do his fel magic ritual, and instead just looks at the runes when he patrols over to them.

https://www.youtube.com/watch?v=FaV6oAteJGI&feature=youtu.be&t=2h42m28s

[2015-07-05 02:01] YourNewfriend opened #835 "Missing Error Text Related To Guilds"
![image](https://cloud.githubusercontent.com/assets/13057166/8509991/0aafd5de-227e-11e5-82a8-4fd9a4805eac.png)

http://wowwiki.wikia.com/WoW_Constants/Errors?direction=next&oldid=146379

Confirmed missing:
"You have joined the guild."
"You have been kicked out of the guild."

On another server I've played on, these were missing.  I was unable to investigate if they were all missing, but they proba

[2015-07-05 02:11] YourNewfriend opened #836 "Missing Group-Related Error Text"
These error texts are missing.

Missing when kicked from a group:
"You have been removed from the group."

Missing when disbanding a group:
"Your group has been disbanded."

Source:
http://wowwiki.wikia.com/WoW_Constants/Errors?direction=next&oldid=146379

[2015-07-05 02:14] YourNewfriend opened #837 "NPC Minions Shouldn't Despawn"
Upon the death of their masters.

Evidence:
https://www.youtube.com/watch?v=FaV6oAteJGI&feature=youtu.be&t=2h53m32s
https://youtu.be/5tNj6BRgi40?t=5m19s

[2015-07-05 02:34] DaRealBoss opened #838 "[Alchemy] Guardian and Battle Elixirs stacking, and Flasks stacking"
You can currently have as many guardian and battle elixirs up as you want. They all stack (assuming they are of different kind). A better version of the same elixir does replace the lesser one of the same kind which is blizzlike (ex. elixir of superior defense replaces elixir of greater defense when used). As far as I know, you are only supposed to be able to use 1 guardian elixir and 1 battle eli

[2015-07-05 02:36] YourNewfriend commented on #782
https://youtu.be/nXZTIuJ_gHc?t=1m56s

[2015-07-05 02:59] ccnim commented on #834
I just took that for the imp he summons.

[2015-07-05 03:00] YourNewfriend opened #839 "[Vanilla][Durotar] These spots dismount players."
![wowscrnshot_070415_195505](https://cloud.githubusercontent.com/assets/13057166/8510149/1765ff10-2288-11e5-816c-b2369dc2840b.jpg)
![wowscrnshot_070415_195602](https://cloud.githubusercontent.com/assets/13057166/8510150/17672ee4-2288-11e5-84b7-6044e321f3f2.jpg)

(gate to the valley of trial)

[2015-07-05 03:07] rylaiii opened #840 "Underbog Mobs bugged"
when engaging the Underbat(s) in The Underbog, the mobs stand still forcing the players to go to the npc, instead of the npc coming to the players. when attacking the npc, the mob stands still for quite some time not doing anyhting. Had the same issue with Fen Ray(s) in The Underbog, they evaded (reset) half way through though.
https://i.imgur.com/j0qjTQV.jpg

[2015-07-05 03:07] YourNewfriend opened #841 "[Vanilla][Durotar] Raider Jhash and Raider Kerr"
They never give their worgs water.  Should be about a 45s process.
https://youtu.be/j4TqkpoCdFw?t=23s

When running, their alignments are wrong.
https://youtu.be/FaV6oAteJGI?t=56m19s
https://youtu.be/FaV6oAteJGI?t=1h54m17s

![wowscrnshot_070415_195219](https://cloud.githubusercontent.com/assets/13057166/8510157/81372d10-2288-11e5-8cb5-6e471fb07e8c.jpg)

[2015-07-05 03:25] YourNewfriend commented on #833
This might be what it should look like.  I collected this from a private server, so I wouldn't say it was the most reliable source.
![chatwho](https://cloud.githubusercontent.com/assets/13057166/8510191/b2cf56d4-228a-11e5-8f56-32d3aea55eff.png)

[2015-07-05 04:09] lynxzor commented on #840
You need to type ".movegens --verbose" in chat when this happens to mobs.

[2015-07-05 04:11] YourNewfriend opened #842 "Minions Should Grant Experience Too"
Currently they grant 0 XP.  They should give experience, but less than normal monsters.  Somewhere between 0.71x to 0.75x.  I don't know the math behind monsters, but it appeared like most of the time it was 0.75x.

https://youtu.be/FaV6oAteJGI?t=2h54m59s (vanilla)
https://youtu.be/pErQIZUe62M?t=3m43s (wotlk, could be a private server)

[2015-07-05 04:33] YourNewfriend commented on #821
Chulain, your video is interesting, since there should be barely any civilians or non-combatants on that initial path.

[2015-07-05 04:55] YourNewfriend opened #843 "[Vanilla][Durotar] Orgnil Soulscar Lacking Action"
He should perform an attack emote when he destroys the mangled claw.

https://www.youtube.com/watch?v=FaV6oAteJGI&feature=youtu.be&t=2h49m5s

There should also be a bit of delay on when the emote goes out.  I think that it happened at the same time as his speech on the CC test realm.

[2015-07-05 04:58] antman94 opened #844 "Unable to socket tidefury helm"
Tried to socket the shaman dungeon set Tidefury Helm with the meta socket which have a chance to increase cast speed, this require more blue gems than yellow and i assured myself that i had but it still wouldn't socket, just played a sound and nothing changed.

[2015-07-05 05:35] YourNewfriend opened #845 "Auto Unstuck Can Kill Players"
I used it while I was under the ramp.

![image](https://cloud.githubusercontent.com/assets/13057166/8510486/18720f88-229d-11e5-990b-118fa986a4a8.png)

Apparently I slew myself.

[2015-07-05 05:35] Bugracker opened #846 "Hunter's Pet dissapears."
I was atacking Rebel Camp in SV and sudennly in the middle of fight my pet dissapeared.
After fight it says ''You do not have any pet'' ;(.. .

[2015-07-05 05:42] Mephisto22 opened #847 "Warlock pet scaling"
Every single private server has to find their way around pet scaling. At first I thought that the goal of having them completely blizzlike may be impossible. But then I did deep research.
1. I have tested following rules which should apply to each pet:

[code]

So far all numbers were correct. However, the tricky part is that all the pets actually scale differently. They dont scale like players –

[2015-07-05 05:43] Roarek opened #848 "[Arcatraz] Defender Corpse / Warder Corpse"
The corpses that house the Protean Spawn (worms) should not be attackable, and instead should spawn the worms when players walk over/by them, if my memory serves correctly.

Proof: https://www.youtube.com/watch?v=_x_uewRsxbw&t=10m20s 10min 20sec in can see the corpse isn't "aggressive" and doesn't get attacked to spawn the worms.

Here is a recording of the event from our run on the CC test: https

[2015-07-05 06:04] YourNewfriend opened #849 "General Goods Vendours"
Their wares are unorganized currently.  Their inventories should be rearranged to have the same types of material and weaponry united.

![image](https://cloud.githubusercontent.com/assets/13057166/8510528/cfacfade-22a0-11e5-9c5f-56277d47380b.png)

[2015-07-05 06:40] JayDee81 commented on #802
this worked the same way on retail too

[2015-07-05 06:44] jleli opened #850 "[Terokkar Forest] Skettis: Talonsworn Forest-Rager Not Spawning"
It appears that the Talonsworn Forest-Rager is not spawning in Skettis.  Instead, a Mountain Colossus appears to be spawning in its place.  I think only the Talonsworn Forest-Ragers should be spawning and there should be no Mountain Colossus.

Corecraft:
![mountain colossus corecraft](https://cloud.githubusercontent.com/assets/13183589/8510592/b13f8374-22ae-11e5-82ae-94ede0e89635.PNG)

Retail:
![w

[2015-07-05 06:46] JayDee81 commented on #796
we were summoning a guy while he was on a ship and he didn't get the summon first time. might be because of the loadscreen. not sure though

[2015-07-05 06:46] PatchnotesTBC commented on #772
Is Corecraft no on the same Core as Archangel beacause then the Glove bug work where u can stack the dmg and 1 shot people.

[2015-07-05 06:50] PatchnotesTBC commented on #786
Dont think they will remove gear if i have understood correctly

[2015-07-05 06:54] PatchnotesTBC commented on #837
I really hope Corecraft will make minions die after the minions die, So many private servers have the bug where the minions survuve after the master dies

[2015-07-05 06:58] YourNewfriend commented on #837
yea, I guess we can't have minions standing around forever.  I guess they should despawn after a little while, or maybe their master won't summon a new minion if it respawns as long as its old one is alive?

I don't see the harm in them despawning once they've dropped combat really.  It's up to the devs.

[2015-07-05 07:03] YourNewfriend commented on #850
http://www.wowhead.com/npc=21844/mountain-colossus#comments
"When Skettis was turned into a questing area for 2.1, the mountain colossi were removed. The Talonsworn Forest-Rager patrollers walk roughly the same routes these giants did."

[2015-07-05 07:22] Roarek opened #851 "[Arcatraz] Dalliah the Doomsayer & Wrath-Scryer Soccothrates Encounters"
When you first enter their room, Dalliah and Soccothrates should have a big voiced argument like an old married couple in /y chat. We didn't see the /y in chat and we didn't audibly hear the dialogue.

When fighting Dalliah, none of her spells were interruptable, including her heal. The heal is supposed to be interruptable - I think all her spells are supposed to be except for the whirlwind, but I

[2015-07-05 07:30] Stoney21 commented on #782
Yeah, he put his trap and rogue went right through it. It should take around 2 seconds befor activation.

[2015-07-05 07:35] YourNewfriend opened #852 "Eye of Kilrogg Is Useless With An Infernal Active"
Possibly true for all enslaved demons.  Works fine with regular demons.

Reproduction Guide:
Cast Inferno
Cast Eye of Kilrogg
Attempt to move the Eye of Kilrogg

[2015-07-05 07:42] Voodopad opened #853 "[Quest] Ring of Blood - quest disappeared"
After we failed a quest and attempted to retake it, the npc do not offer us a quest.

 http://youtu.be/HOj_imzVsBU

Edit: quest reappeared after some time, is this a normal behavior?

[2015-07-05 07:42] Batfink54 opened #854 "UI toggles off when mounted on a ground mount, in combat and displaying the map"
New level 70 warlock, ground mount and rode into combat.  Pressing the M key to display the map and then ESC to remove it toggled off the user interface as if I had pressed Alt-Z.  The UI remains hidden even when dismounting.

Pressing Alt-Z with the UI hidden redisplayed it as expected.

[2015-07-05 07:46] YourNewfriend opened #855 "Summoned And Unleashed Infernals Don't Wander"
![wowscrnshot_070515_002745](https://cloud.githubusercontent.com/assets/13057166/8510767/99d6ea42-22ae-11e5-9359-41a0a79897b7.jpg)

https://youtu.be/zWGKVPQ2LZ8?t=3m40s

May also apply to all enslaved demons.

[2015-07-05 07:52] YourNewfriend opened #856 "Infernal Doesn't Hurt Same-Faction Players When Summoned"
After paying a bit more attention to detail, I determined that the bug is that the Infernal on Corecraft's test realm isn't hostile for a moment before becoming enslaved automatically, and during this period of hostility, it should have enough time to swing its arm once at nearby players.

It may be that the Infernal should only be capable of harming PvP targets, as well as players in the same gro

[2015-07-05 08:13] YourNewfriend opened #857 "Logging Out With Feign Death Active Bug"
If you start logging out while in Feign Death, it's possible to begin moving while the countdown timer is active.

![image](https://cloud.githubusercontent.com/assets/13057166/8510868/eb13318c-22b2-11e5-9536-981b5085fdcf.png)

Reproduction guide:
Create a Hunter
Learn Feign Death
Cast Feign Death
Press Log Out
Press W

[2015-07-05 08:30] Klimpb opened #858 "[Gladiator's Totem of the Third Wind] doesn't work"
It doesn't give the target the buff.

[2015-07-05 08:32] Jigodian commented on #806
Thank you for reporting this game-breaking bug!

[2015-07-05 08:39] FurioCC opened #859 "Distract locking up mobs at spot for combat duration"
During Heroic Steamvaults we have enountered this bug.
Pack was distracted, then Square was polymorphed (i.e. poly pull happened).

Neither of Myrmidons did move, just stood there being in combat.
.movegens --verbose for some reason told me about party member and not about NPC.

Seems similar issue to #671

![](http://i.imgur.com/iGOxTff.jpg)

[2015-07-05 08:44] YourNewfriend opened #860 "Infernals Don't Attack Targets Immediately When Summoned Or Claim Initial Threat"
The initial threat of an Infernal seems to be applied to the master, and even though I summoned it right on top of a monster, the Infernal ran to me first, and so did the monster.

"Patch 1.3.0 (07-Mar-2005): The duration the Infernal is enslaved when first summoned has been increased. The area of effect damage caused by the Inferno spell, and all threat generated by it, will now originate from th

[2015-07-05 08:48] Klimpb opened #861 "Inspiring Presence doesn't give the 1% hit buff to the draenei himself, only to the party members."
Inspiring Presence doesn't give the 1% hit buff to the draenei himself, only to the party members.

[2015-07-05 08:52] Klimpb opened #862 "Master Spellstone is removed upon entering arena(not sure/research needed)"
I'm not sure if this is a bug or not, only way to find a source of this would be to find some high level arena warlock from TBC that recorded the entire preparation phase in arena.

[2015-07-05 09:05] rsheep commented on #807
I think this happened to me also while in combat.
I was running Mechanar and had to trigger /afk few times to make this bug disappear.

[2015-07-05 09:06] Roarek opened #863 "[Shadow Labrynth] Pathing Errors"
Throughout the very first room of the instance and a little bit of the 2nd boss' room there have been a few pathing issues with the trash. I have recorded one instance of these pathing problems, but it happened on a few pulls before this one. Even when LOSing the aggroed mob, it would stand there.

Note that the other mob was sapped and distract was used on this pull. Issue is highlighted at 1:30

[2015-07-05 09:07] Jigodian commented on #804
Works fine for me. Tested on a lot of mobs.

https://www.youtube.com/watch?v=VZpRFCvcmbc&feature=youtu.be

[2015-07-05 09:07] SuddenDeath commented on #769
He used vanish in the video though, I have yet to see a video where a rogue uses gauge then wait to leave to combat, then stealth and sap, all before the gauge ends.

[2015-07-05 09:08] ghost opened #864 "Warlock pets"
When warlock pets are in defensive mode they should start attack a monster as soon as you (the warlock) cast a spell on a mob. How it works now is that the pet does not attack until you (the warlock) get hit by the mob.

The first screenshot shows that i have attacked the wolf but my imp is just standing there doing nothing.
![wowscrnshot_070515_110403](https://cloud.githubusercontent.com/assets/9

[2015-07-05 09:09] Klimpb opened #865 "Didn't gain heroism/bloodlust when LoS? Or because of something else."
My partner used heroism right before or right when he got feared:

http://webm.host/f518a/vid.webm (can be seen on the party frame)
Alt-link: https://www.youtube.com/watch?v=D05dUUQBOro

[2015-07-05 09:14] silvesterk opened #866 "Quest - Shadowmoon Valley - Kindness"
After completing the quest http://www.wowhead.com/quest=10804/kindness the quest items continue to drop.
![wowscrnshot_070515_105023](https://cloud.githubusercontent.com/assets/12173921/8511065/e779e79c-2306-11e5-90e7-09635373fb5e.jpg)

[2015-07-05 09:21] YourNewfriend commented on #804
Yea, I was just testing it on a mob with a bad size.  This is invalid.

[2015-07-05 09:21] #804 closed, assigned to nobody

[2015-07-05 09:22] rsheep opened #867 "[Black Morass] Chrono-Beacon and Final Event"
Yesterday we did a Black Morass Heroic run.
Some of us used their Chrono-Beacon during the first two boss-fights, to distract adds long enough to deal with bosses.
These Chrono-Beacons worked as intended. The adds went attack the dragon like they should.

After the second boss died I decided I needed another beacon. So I mounted up and could get another one from the NPC. As far as our group member

[2015-07-05 09:40] Voodopad opened #868 "[NPC] Wildlord Antelarion missing a spell"
Wildlord Antelarion is missing Create Felsword Gas Mask spell. I've lost my mask and after I went to speak with him I couldn't continue the quest chain.

![wow 2015-07-05 12-39-40-163](https://cloud.githubusercontent.com/assets/10586701/8511141/edf48954-2312-11e5-81fb-37c2cf77e35d.jpg)

http://www.wowhead.com/npc=22127/wildlord-antelarion#abilities

[2015-07-05 09:48] Roarek commented on #807
A player on my friends list was dead in an instance while I was not in a group with him and I experienced a message telling me he was AFK until he got back and toggled AFK off as well.

[2015-07-05 09:52] silvesterk opened #869 "[NPC] - [Shadowmoon Valley] - Eykenen"
http://www.wowhead.com/npc=21709/eykenen
- Upon killing the totem from a long enough distance the mobs that spawn on him do not attack (they don't auto aggro it seems), you can just wait for them to despawn.
- He can be aggroed using Howl of Terror (Warlock AOE fear) without killing the totems.
- AOE spells do damage to the totems that surround him (I don't think that should be the case, can't fin

[2015-07-05 10:08] sverkersham commented on #828
I remember this happening on retail, also happened with Far Sight.

[2015-07-05 10:15] YourNewfriend commented on #828
https://youtu.be/wyVWnnA9H28?t=1m52s
1:52 - 2:23

https://www.youtube.com/watch?v=Z9ULNE_hWsg&feature=youtu.be&t=6m9s

[2015-07-05 10:23] petaal opened #870 "Pet gets stuck after commanding stay multiple times"
Reproducing:
- Have a pet in passive stance and following
- Click "Stay" on pet action bar two or more times

Pet is now stuck. Despite clicking follow or passive pet stays stuck. Dismissing pet or mounting unstucks the pet. Tested with both hunter and warlock pets.
![wowscrnshot_070515_131251](https://cloud.githubusercontent.com/assets/11743711/8511310/ccfa80d6-2318-11e5-9c8a-b45f39b47a5f.jpg)

[2015-07-05 10:35] FurioCC commented on #851
@Roarek Yesterday we did heroic Arcatraz and heal was interruptable and working as intended.

[2015-07-05 10:40] petaal opened #871 "Pet commands not working if pet is outside of vision range"
Reproducing:
- Command pet to attack a mob
- Run away until the pet is outside of your vision range
- Now pet commands like pressing "passive" or right clicking special abilities have no effect

When trying to target pet when outside of vision range unit frames show "Unknown". If you move closer to the pet so you can see it commands start working fine. Also if you wait long enough for pet to kill

[2015-07-05 10:41] Ickler opened #872 "Right clicking an item from inventory to equip it, deletes the already equipped item in that slot"
I know I've seen an issue on this before, but it's still occuring.

[2015-07-05 10:50] robinsch opened #873 "Dispels vs 100% dispel immunity"
If you spec into 3/3 Sanctified Seals and you only have a Seal active the dispeller should get the message "Nothing to dispel." Currently you cast dispel but it has no effect.

[2015-07-05 10:51] RealZwox opened #874 "Old Hillsbrad Foothills: Thrall attacks Player after Mindcontroled 'Durnholde Sentry'"
This time a other Mob ;)

http://i.imgur.com/QGeMUEV.jpg

Try this with all mobs while escort.

Note: Thrall only attack our Healer and the Priest.

[2015-07-05 10:51] ghost opened #875 "PvP Gems have wrong costs"
######

[Runed Ornate Ruby] Item ID: 28118
Current cost on Corecraft: 6885
Correct cost: 28125

http://wowwiki.wikia.com/Runed_Ornate_Ruby
"Patch 2.1.0 (22-May-2007): Cost decreased to 8100 Honor points from 28125"
http://www.wowhead.com/item=28118/brilliant-ornate-ruby#comments
By Teslar on 2007/06/09 (Patch 2.1.1):
"With the upcoming patch (live on PTR), the price for this item will be lowered t

[2015-07-05 10:53] robinsch opened #876 "SW:D backfire damage"
is not equal to damage dealt. Hit me as paladin for 755 but hit priest for 690

[2015-07-05 10:56] MarcelBagnole opened #877 "Libram of Avengement doesnt work"
http://db.hellground.net/?item=27484

It doesnt trigger after judgement with SoC/SoB/SoR

[2015-07-05 10:57] robinsch opened #878 "SoB hit and judgement backfire"
Are off, melee hit priest for 39 damage, backfire dmg was 2.
Judgement hit priest for 379, backfire dmg was 117.

[2015-07-05 10:58] YourNewfriend commented on #874
lold @ "You have forced my hand!"

[2015-07-05 11:03] PolarCookie commented on #667
I had a pre-kara gear set and a t5 gear set.
When I logged on today the t5 was equipped and the pre-kara was in the bags.
I used outfitter to swap to the pre-kara, but now the t5 set had disappeared.
The empty line in my bags is where the items should have been.
I alt-f4 and log back in again.
Now my gear is as you can see it, a mix of the prekara and t5.
neck, back, weapon, shield, one ring and b

[2015-07-05 11:13] Porto090 opened #879 "Ressurection doesn't work correctly"
Ressurection doesn't work if the "dead" Player leaves the corpse. At least in an instance

Tested this in ShadowLab with a Shaman and a Paladin as "Rezzer".

[2015-07-05 11:16] ghost opened #880 "Wrong costs: [Pendant of Dominance] and [Pendant of Triumph]"
######

[Pendant of Dominance] Item ID: 28245
Current cost on Corecraft: 15300 honor + 10 EOTS marks
Correct cost: 22,500 honor + 10 EOTS marks

http://www.wowhead.com/item=28245/pendant-of-dominance#comments
By Toraa on 2007/04/17 (Patch 2.0.12):
"On the PTR for 2.1, Pendant of Triumph/Dominance has been reduced in price from 22,500 to 18,000 honor points"
By Aifor on 2007/03/07 (Patch 2.0.10):
"

[2015-07-05 11:16] FurioCC commented on #872
Confirming, it happens, can't reproduce 100% reliably though, just occasionally.

[2015-07-05 11:27] Chulain commented on #872
duplicate https://github.com/ccshiro/cc-buglist/issues/667

[2015-07-05 11:28] Chulain commented on #879
duplicate https://github.com/ccshiro/cc-buglist/issues/803

[2015-07-05 11:31] Chulain commented on #873
invalid, working as intended

[2015-07-05 11:33] robinsch commented on #873
http://www.arenajunkies.com/topic/24214-sanctified-seals-and-stoicism-shed-me-some-light/

"I get told there is nothing to dispell if a seal is all a ret paladin has up if he is 3/3 sanc seals. "

[2015-07-05 11:38] geekodot opened #881 "[Vanilla] Watcher Callahan"
Watcher Callahan in Duskwood ( along the road leading to Redridge Mountains ) is offering the quest "A Warden of the Alliance" which is associated with Children's Week. I am guessing seasonal quests shouldn't show up on the test.

![wowscrnshot_070515_133415](https://cloud.githubusercontent.com/assets/10586312/8511511/092e1ade-231b-11e5-8e3e-8ab80214e73f.jpg)

[2015-07-05 11:39] Ickler commented on #872
So, what I did was I had Leggings of Assassination on. I was crafting Hillmans Pants (LW). I right clicked Hillmans and then "Yes" for soulbinding it, and woops the Assassination legs were gone.

Managed to do the same with belt. Then swapped around a lot of leggings and belts, and tried to unequip the items manually. It then gave me "Internal bag Error" and grayed out the items, while it stayed o

[2015-07-05 11:43] Chulain commented on #873
http://e4ae.blogspot.be/2008/07/patch-243-and-you.html
"The alternative would be to have your seals be ignored by dispel effects and have Purge start hacking away at your Blessing of Freedom, which only has 30% resistance."

yep

[2015-07-05 11:45] robinsch commented on #873
The bug report is about the only active buff on a paladin is a seal, nothing else. Since 2.4.3 dispel effects ignore 100% dispelable aura and then the message "Nothing to dispel should appear." Just as stated in my second comment.

[2015-07-05 11:48] ghost opened #882 "[Star's Lament] and [Star's Tears] need to be removed"
[Star's Lament] was added in patch 2.1.0.
Item ID: 32455

[Star's Tears] was added in patch 2.1.0.
Item ID: 32453

http://wowwiki.wikia.com/Patch_2.1.0_%28undocumented_changes%29
"There is now PvP water on the general rewards vendor. 4200 and 7500 mana, with costs of 12 silver / 1 honor and 25 silver / 1 honor per 5."

[2015-07-05 12:05] Chulain commented on #853
how long did you wait?

i think they made sure you cant spawn multiple bosses, which might be causing this issue

[2015-07-05 12:08] darkcranio commented on #806
Fuck your shitposting, every bug is a bug some high some are low priority.

[2015-07-05 12:10] darkcranio commented on #809
What's the problem with extra fast t-baggin?

[2015-07-05 12:14] Chulain commented on #845
emo

[2015-07-05 12:17] darkcranio commented on #829
I think it falls under the NPC spreading.

[2015-07-05 12:22] ghost opened #883 "[Gladiator's Gavel] and [Gladiator's Salvation] need to be removed"
[Gladiator's Gavel] was added in patch 2.1.0.
Item ID: 32450

[Gladiator's Salvation] was added in patch 2.1.0.
Item ID: 32451

http://www.wowhead.com/item=32450/gladiators-gavel#comments
By esoterikpunk on 2007/04/22 (Patch 2.0.12):
"One of the two new Gladiator weapons added in patch 2.1, the other being a +16 resilience/+348 healing hammer with the same stats"
http://wowwiki.wikia.com/Patch_2.1

[2015-07-05 12:22] Chulain commented on #854
cant reproduce, maybe an addon that does this?

[2015-07-05 12:28] Chulain opened #884 "crafting an item "resets" the (profession) training window"
crafting an item while talking to a profession trainer will select the first recipe on the training window

[2015-07-05 12:33] petaal commented on #788
That druid here. I was clearing trash mobs after the 1st boss with my group when the server crashed. After it came back online we decided to quit. 2 people left and 2 stayed offline in my group. I ran towards the exit and noticed that there were other people, who weren't in my group, in the same dungeon.

I tried going out and back in but it didn't change anything. At this time the server crashed

[2015-07-05 12:33] Amarok-bt opened #885 "[Shaman] totems dissappearing after recasting them"
When there is very little time left on a totem (~0.2s) the new totem may disappear after casting it. It bugged out like this when i recasted Searing Totem, it might be bugged for other totems too.

[2015-07-05 12:34] silvesterk opened #886 "[Spell] - Create Healthstone [Tooltip]"
The spell tooltip isn't displaying the correct information, should be 2496 instead of 2080 after taking up 2 points in Improved Healthstone. The healthstone created displays the right information though.
![wowscrnshot_070515_143113](https://cloud.githubusercontent.com/assets/12173921/8511643/dff520b0-2322-11e5-8f01-d855f7d6b6d5.jpg)

[2015-07-05 12:42] Chulain commented on #886
related with https://github.com/ccshiro/cc-buglist/issues/175

[2015-07-05 12:48] ghost opened #887 "[Schematic: Fused Wiring] needs to be removed"
[Schematic: Fused Wiring] needs to be removed. It was added in patch 2.1.0.
Item ID: 32381

http://wowwiki.wikia.com/Patch_2.1.0
"An engineering recipe to make Fused Wiring can be found in both Everlook and Shattrath."

[2015-07-05 12:48] Chulain opened #888 "can't remove weapon while shooting is active"
while auto shooting is active (not while "casting" it) you cannot remove or replace your weapons (both ranged & melee weapons)

however this only happens if you're facing your target

reproduce: activate auto shooting, keep facing your target, move or jump so you can't shoot and try to remove or replace one of your weapons

[2015-07-05 12:53] ghost opened #889 "Quest [Oooh, Shinies!] needs to be removed"
The quest [Oooh, Shinies!] needs to be removed. It was added in patch 2.3.0.
Quest ID: 11130

http://wowwiki.wikia.com/Quest:Oooh,_Shinies!
"Patch 2.3.0 (13-Nov-2007): Added"

[2015-07-05 12:55] Qxcr opened #890 "[Movement Spellcaster Ogres Blade's Edge Mountains]"
This bug makes certain spellcaster mobs not engage the player in melee combat once they have used all their mana.

How to reproduce:
Use a damaging spell to get aggro on a spellcaster mob. Wait for the mob to use all its mana.

The mob will not engage close combat. It will however use its abilities once it has regenerated enough mana again. It also will not pursuit if its target moves out of casti

[2015-07-05 13:12] Mephisto22 commented on #847
Felguard is doing almost the same dmg as other pets, he should be doing much more, it was reported that in T5 instances he is capable of 300-400 DPS.

In this link you can see people stating what dmg felguard does with certain amounts of spell dmg.

Link  : http://www.wowhead.com/spell=30146/summon-felguard#comments:0

   „With 700SP – 250-350 melee swings on cloth target“
On Corecraft my felguard

[2015-07-05 13:44] Chulain opened #891 "still tagged as afk when you try to clear afk mode while in combat"
still tagged as afk when you try to clear afk mode while in combat

[2015-07-05 13:48] TMXa opened #892 "Quest: The Mindless Ones"
Quest counter stopped after i got up to
Mindless Zombie 6/8
Wretched Zombie 4/8
Warlock Undead 2-nd lvl with pet

[2015-07-05 13:51] TMXa commented on #892
I started the quest without pet (Imp), but when I dismissed my pet, the counter started to work again.

[2015-07-05 13:51] Chulain commented on #892
if your pet deals a lot more dmg than you, you wont get the kill credit

could you loot the mobs?

[2015-07-05 14:00] Amarok-bt opened #893 "[Shaman] Channeling Far Sight"
While channeling the Far Sight spell we can move to interrupt the channel and that's ok but on CC moving interrupts the spell effect but retains the channeling bar.

[2015-07-05 14:00] ghost opened #894 "[Hula Girl Doll] needs to be removed"
[Hula Girl Doll] needs to be removed. It was added in patch 2.3.0.
Item ID: 34249

http://wowwiki.wikia.com/Hula_Girl_Doll
"Patch 2.3.0 (13-Nov-2007): Added."

[2015-07-05 14:08] kev51 opened #895 "Hope Bearer Helm cant be socketed"
I tried a couple of combination with differents colors and it never worked I just cant socket my gem in it.

[2015-07-05 14:14] TMXa opened #896 "Hearthstone"
While using heathstone, if you throw something out of your inventory, the spell gets interrupted

[2015-07-05 14:14] Batfink54 commented on #854
Indeed it does appear to be an addon.  The issue was resolved when I disabled Cartographer, of all things..

[2015-07-05 14:15] #896 closed, assigned to nobody

[2015-07-05 14:22] Chulain commented on #892
tested this myself, if your pet deals 50% or more dmg than you on a mob, you won't get credits/loot from it

im not sure but i think having to deal 50% or more is too much

[2015-07-05 14:29] Chulain commented on #892
http://wowwiki.wikia.com/Hunter_pet
It is possible to have the pet fight one mob while the Hunter attacks another. Note: the Hunter will not gain loot or experience from a mob that the pet kills solo. This is a deliberate decision by Blizzard, not a bug. If you intend on pulling multiple mobs and having your pet kill one or more of them while you focus on others, it would be best to try to get at

[2015-07-05 14:30] Chulain opened #897 "imp has no melee attack"
imp has no melee attack?

https://www.youtube.com/watch?v=4Xk3kdrv3aI

[2015-07-05 14:33] Chulain commented on #892
i guess damaging them once is enough, you cant afk kill that way either

[2015-07-05 14:35] Chulain commented on #893
related https://github.com/ccshiro/cc-buglist/issues/828

[2015-07-05 14:35] maronics opened #898 "Prospecting eats whole stack"
The jewelcrafting spell prospecting can be used from stacks of 5 upwards. If you have bigger stacks though, it consumes the whole stack. It should just consume 5 with every use.

[2015-07-05 14:39] KevinTyrrell opened #899 "Ritual of Summoning - Unable to click"
Problem: seemingly randomly, a Warlock's summoning portal ability (and a summoning stone object) will no longer be interactable by anyone until a relog on each participant in the ritual is complete.
How to reproduce: unknown
Solution: unknown
Proof: http://www.twitch.tv/hatefiend/b/675593523?t=18m29s (the issue starts), http://www.twitch.tv/hatefiend/b/675593523?t=23m17s (we discover the summoning

[2015-07-05 14:57] KevinTyrrell opened #900 "Shattrath City Peacekeeper attacking Target Dummy"
Problem: Shattrath City Peacekeeper near the Southern side of the CItadel is attacking a Training Dummy endlessly.
How to reproduce: N/A
Solution: Assign Training Dummy alliance to be allied with Shattrath City in the SQL Database
Proof: http://i.imgur.com/A5Yg9R6.jpg
Burning crusade proof: N/A

[2015-07-05 14:57] KevinTyrrell opened #901 "Shadow Labyrinth trash mobs"
**Cabal Shadow Priest (not the Hearthstone card!)
Problem: the mob will sometimes cast mind flay while moving
How to reproduce: unknown, speculated that it happens only when the mob is in the middle of running towards a target and also is told to cast mind flay at the same time.
Solution: flag the mind flay he uses to require the caster to stand still while channeling.
Proof: http://www.twitch.tv/

[2015-07-05 14:58] petaal commented on #900
https://github.com/ccshiro/cc-buglist/issues/169

[2015-07-05 15:04] KevinTyrrell opened #902 "Cleave hitting targets behind you"
Problem: A warrior's cleave is hitting targets behind the caster. Allegedly this does not happen on retail. More research likely needed.
How to reproduce: N/A
Solution: unknown
Proof: http://www.twitch.tv/hatefiend/b/675593523?t=1h19m45s
Burning crusade proof: could not find

[2015-07-05 15:06] dmytsuu commented on #778
same + cs doesn't stop evocation and doesn't close arcane spells
https://www.youtube.com/watch?v=mpqFoQJLL0I

[2015-07-05 15:07] Chulain opened #903 "snake trap trick not working"
https://youtu.be/of6kiLqJtHY?t=21

[2015-07-05 15:12] Mogheir opened #904 "Hunter traps bug"
The arming time of the traps is wrong. Its supposed to be 2 sec but in the server is between 3 and 3.3 sec.

Here's my proof:
Patch 2.0.1 (05-Dec-2006): Traps can be set while in combat, but require a 2 second arming time.
http://wowwiki.wikia.com/Trap

[2015-07-05 15:13] Chulain opened #905 "mob still grey after initial tagger dies"
retail:
https://www.youtube.com/watch?v=of6kiLqJtHY&feature=youtu.be&t=18

the horde dies -> hunter kills zhevra that was tagged by the horde-> can be looted

corecraft:
https://www.youtube.com/watch?v=ZerXDdhToeI

[2015-07-05 15:23] Peonstomperx commented on #903
http://wowwiki.wikia.com/Snake_Trap
"Bc icon Patch 2.4.0 (25-Mar-2008): Snake Trap will no longer affect non-combat flagged players."

No fun allowed.

[2015-07-05 15:25] darkcranio opened #906 "Items came with Patch 2.1 (help needed)"
So as I was seeing the reports about 2.1 items I looked after it,

The topics there are related to 2.1
http://www.mmo-champion.com/search.php?searchid=20281602

First PTR post on MMO.
http://www.mmo-champion.com/threads/601193-2-1-0-Patch-on-PTR-!-Official-patch-notes-!?highlight=patch+2.1

Additional info.
http://web.archive.org/web/20071102020545/http://www.mmo-champion.com/index.php?topic=95.0

[2015-07-05 15:25] #903 closed, assigned to nobody

[2015-07-05 15:34] Chulain opened #907 "cant duel in thunder bluff"
cant duel in thunder bluff, you could on retail remember if i remember right

http://dezfezable.deviantart.com/art/World-of-Warcraft-Meme-82950404
Jul 18, 2008
"mmm i dont like your ignore methods! i tend to mind control them and run them off thunderbluff! haha!...if their dumb enough to accept the duel at least ^.^;"

[2015-07-05 15:35] Tolgren opened #908 "[Paladin] Seal of Blood procc crit doesn't give Vengeance buff"
When Seal of Blood crits, it doesn't activate/refresh Vengeance.

---

SoB crit:
![wowscrnshot_070515_164303](https://cloud.githubusercontent.com/assets/13187502/8512242/dc792c0c-233a-11e5-8f87-8e245dff6ba3.jpg)

It's german, but may I translate:
Seal of Blood from Kackspalte hits Elixir for 1068 Holy damage. (Critical)

---

Autohit crit, instant Vengeance refresh:
![wowscrnshot_070515_164308](ht

[2015-07-05 15:45] darkcranio opened #909 "Schematic: Pet Bombling"
Cannot be learned. Tried, didn't do anything.
http://www.wowhead.com/item=11828

[2015-07-05 15:50] ccshiro commented on #897
Nor should it.

[2015-07-05 15:50] #897 closed, assigned to nobody

[2015-07-05 15:51] #900 closed, assigned to nobody

[2015-07-05 15:55] #886 closed, assigned to nobody

[2015-07-05 15:57] Tolgren opened #910 "[Paladin] Avenging Wrath debuffs/deactivate Vengeance"
Avenging Wrath debuffs/deactivate Vengeance and makes it impossible to gain Vengeance. If you have Vengeance before, you will lose it upon activation of Avenging Wrath.
## ![wowscrnshot_070515_174041](https://cloud.githubusercontent.com/assets/13187502/8512311/3d241e02-233d-11e5-8109-979a777f7410.jpg)

Combat log translation:

Seal of the Crusader of Kackspalte is refreshed.
Kackspalte gains Seal

[2015-07-05 15:58] #879 closed, assigned to nobody

[2015-07-05 16:01] #893 closed, assigned to nobody

[2015-07-05 16:09] ccshiro commented on #864
No, you're thinking of the new assist mode that was added in patch 4.2.

[2015-07-05 16:09] #864 closed, assigned to nobody

[2015-07-05 16:13] ccnim commented on #875
You need to try and buy the item to get the correct cost to show up.

[2015-07-05 16:13] #875 closed, assigned to nobody

[2015-07-05 16:14] ccshiro commented on #861
The 1% buff does not show up in your buff bar (nor should it). Make sure you get the 1% hit and then close this issue, please.

[2015-07-05 16:15] #854 closed, assigned to nobody

[2015-07-05 16:17] #850 closed, assigned to nobody

[2015-07-05 16:20] Chulain commented on #853
tried this, brokentoe despawned after about 5mins, quest didn't reappear

10mins later, still nothing

[2015-07-05 16:20] ccshiro commented on #845
This is intentional. Yes, it's not blizzlike, but it will be kept like this to avoid abusing this as a second hearthstone.

[2015-07-05 16:20] #845 closed, assigned to nobody

[2015-07-05 16:22] sverkersham opened #911 "Spell: Stoneclaw Totem"
Not sure if this should have a cooldown or not. It doesn't on other 2.4.3 servers and I can't find any online sources stating that it does.

[2015-07-05 16:24] ccshiro commented on #832
This is the exactly intended behavior.

[2015-07-05 16:24] #832 closed, assigned to nobody

[2015-07-05 16:24] Lephidiles commented on #872
have you cleared the cache before this is happening.... been trying a couple for some time during this test to make this error occure to film it but it never happens for me

[2015-07-05 16:36] Chulain commented on #911
http://wowwiki.wikia.com/Stoneclaw_Totem?oldid=1383119

Stoneclaw Totem
30 sec. cooldown
Up to 170 Mana
Instant cast

[2015-07-05 16:49] ConfusedCC commented on #902
wiki link: http://wowwiki.wikia.com/Cleave?direction=prev&oldid=814499
Targets/Positioning: Two targets/front

[2015-07-05 16:59] Tolgren opened #912 "[Paladin] Judgement of The Crusader doesn't give Holy Damage Bonus"
It should give around 219 Holy Damage Bonus on highest Rank, still Seal of Blood does only a small amount more damage as without the Judgement.

---

Without Judgement:

![wowscrnshot_070515_185305](https://cloud.githubusercontent.com/assets/13187502/8512533/26b6a7fc-2347-11e5-92b8-0f4ad0c9c68c.jpg)

Seal of Blood does around 230-260 damage.

---

With Judgement:

![wowscrnshot_070515_185444](http

[2015-07-05 17:00] PolarCookie opened #913 "oil of immolation"
Oil of immolation does not proc shared potion cooldown (it can be used repeatedly), and does not show shared potion countdown like other potions do.
It does however get an error message "can't drink anymore yet" if shared potion cooldown from a different potion is active.
I'm able to drink immolation, then swiftness (as seen on my buffs), but not swiftness then immolation
![wowscrnshot_070515_1852

[2015-07-05 17:03] Argonn opened #914 "Hunter: Failed taming doenst reset attack mode"
I placed a freezing trap on the ground, and started taming a Timber Worg in Terrokar forest. The taming failed (for unknown reason) the Worg broke free from the trap (timed out) and he stood there without attacking me. I was still in combat but the worg would not attack me before i did something to him (or move).

I tried to do this with the spiders in that same place, but the taming never failed

[2015-07-05 17:08] Argonn commented on #914
Had it again with the spiders in that area, as long as i stood with them (and dont move or attack) they never attacked me again.

Need to research if this comes because of the freeze trap, or taming. update coming:

Update:
Cannot seem to reproduce this by just freezing them (without the taming).
Cannot seem to reproduce this by just taming them (without the freeze trap)

So this has to do with fr

[2015-07-05 17:10] #911 closed, assigned to nobody

[2015-07-05 17:14] ConfusedCC opened #915 "Shooting friendly targets with wand"
You can hit friendly targets, pets/ players of the same faction/ guards of shattrath with your wand

repro: start wanding a hostile/neutral target. then click the friendly npc/player/minion

https://www.youtube.com/watch?v=E5T1SscvJwU

[2015-07-05 17:20] tinvujasinovic1 opened #916 "Arcane Missiles"
Once a mage gets some haste arcane missiles tend to lose a missile once in a while (will only fire 4 instead of 5)
tested with Mind Quickening Gem - grants 330 haste
arcane missiles tooltip says a missile will fire every 0,83 and the cast should last 4,14 wich results in 4,9880 missiles
http://imgur.com/Xk5MOiN - 10 casts, 49 missiles because one cast didnt fire 5
http://imgur.com/NAcLWUd - toolti

[2015-07-05 17:58] FurioCC commented on #872
Ok i managed to reproduce it more or less reliably and recorded it.
Thing with vanishing items is that while they vanish, you still keep all their stats.
This can be seen later when you unequip all items and still have bonus stats while seeming naked.

It seems to me that item vanishing is related to crafting window being opened.
It happened to me with gloves, i managed to reproduce it with boots

[2015-07-05 18:19] Wtfeater opened #917 "Non-combat pet summoning visual bug"
Upon summoning non-combat pets they get the "golden whirls" that characters gets around them when they level up. This is obviously not supposed to happen but i added a video just for sureproofing:
https://www.youtube.com/watch?v=rHYuOe1Wz-U

[2015-07-05 18:19] Kinglundh opened #918 "Sweeping Strike Warrior"
Sweeping Strike seems not to do the correct amount of damage, When you crit for e.g 2k the bouncing damage should also be 2k, but it seems like the bouncing damage only works like a normal hit.

[2015-07-05 18:21] ConfusedCC commented on #844
tried to reproduce your bug , but the meta seems to socket fine, and activate when you put on enough blue gems. https://youtu.be/BEoU0boeyaE

[2015-07-05 18:24] Kinglundh opened #919 "Serrated Blades Rogue"
The "Serrated Blade" talent is wrong.

It says "Causes your attacks to ignore 0 of your target's armor"
It should ignore 560 armor,

[2015-07-05 18:25] Chulain opened #920 "nagrand arena doors"
nagrand arena doors (prolly all arenas) spawn too slowly, i was able to walk thro before the battle begun and sap the enemy team as they entered

[2015-07-05 18:25] Chulain opened #921 "arena chats not working"
chat in arena doesnt work? both party and raid wasnt showing up

tested solo queue practice battles

[2015-07-05 18:26] Chulain commented on #919
related https://github.com/ccshiro/cc-buglist/issues/175

[2015-07-05 18:29] #861 closed, assigned to nobody

[2015-07-05 18:30] ConfusedCC commented on #861
Removed all hit gear and checked char sheet , shows up as +0 hit
http://i.imgur.com/h3txctk.jpg

[2015-07-05 18:51] DaRealBoss commented on #876
Wierd. Tested it on a target dummy and sw;d did the same dmg

[2015-07-05 18:56] Aisires opened #922 "SH"
Hey there,
we are in SH right now. After the first big room, u enter the first corridore.
Those monsters should run into the corridore itself not stand in those boxes.

![sh](https://cloud.githubusercontent.com/assets/13180039/8512936/37347c6a-2358-11e5-88cd-f0b332fc5585.jpg)
![sh2](https://cloud.githubusercontent.com/assets/13180039/8512937/3a062614-2358-11e5-9f6c-fa534ab430f1.jpg)

[2015-07-05 19:00] Aisires opened #923 "After 10 mins offline still got lead"
Hey there,

our Tank was offline for about 10 mins but remained the leader.
Maybe due to the server crash, but still.

[2015-07-05 19:07] Chulain commented on #876
could be resillience reducing dmg? 755 for a crit sounds low tho

[2015-07-05 19:07] Chulain commented on #923
not sure but auto pass lead was implemented in wotlk?

[2015-07-05 19:10] Chulain commented on #773
forgot to mention instant poison, it hits for 670-720

[2015-07-05 19:15] robinsch commented on #876
not a crit, normal damage.

[2015-07-05 19:36] PatchnotesTBC commented on #906
The Epic Googles where 2.1

[2015-07-05 19:45] Voodopad commented on #853
I accepted quest from a friend who started it. The mark reappeared after ~5min. We failed at twins.

[2015-07-05 19:46] Agarwenlol opened #924 "Cyclone/Roots"
When you trying to intercept/charge 0.1-0.5 sec cast cyclone. Cyclone lands on you what is good but you can move and still doing dmg. Same with roots.

[2015-07-05 19:57] petaal commented on #667
Got this bug on video.

Before I started recording I crafted Stylin' Puple Hat and equipped it by right-clicking. It replaced the helmet I was wearing (Nordrassil Headdress). After that I bought Cowl of the Guiltless and started recording. FurioCC mentioned (https://github.com/ccshiro/cc-buglist/issues/872) that the bug may be related to having crafting window open. I can't remember surely if i ha

[2015-07-05 20:12] Mephisto22 opened #925 "[Warlock] Improved health funnel"
Demonology Tier 2 talent

The 20% increase only applies to tooltip amount and does not scale with healing power. At the current state it increases healing by 37, no matter whats your bonus healing. It should increase the amount healed by 20% but after bonus healing coefficient.

Proof - last post in this topic: http://www.arenajunkies.com/topic/39602-warlock-improved-health-funnel-for-my-lock-part

[2015-07-05 20:15] Ensipid commented on #919
![ccserratedblades](https://cloud.githubusercontent.com/assets/13189833/8513259/d7f7091a-2330-11e5-933b-6225b200f5fa.png)
Seemingly just a visual bug, under hit rating you can see that you get 560 ArP.

[2015-07-05 20:18] Roarek commented on #851
That may have been the case for you, but it doesn't explain why my kick was ineffective on every cast I attempted to kick for. My guess would be it's latency related in that case, except then my kick should have affected the next immediate cast that was made at one point in that video and it did not. See @ 1:06, it looks to me like I get the kick at the very last 10% of the cast. Assuming I missed

[2015-07-05 20:19] jovce17 commented on #876
its reduced due to  shadow resistance buff ...

[2015-07-05 20:21] jovce17 commented on #868
cant you just abandon and re take the Quest ?

[2015-07-05 20:22] ccshiro commented on #120
#829 is also related.

[2015-07-05 20:25] ccshiro commented on #876
The return damage starts the same but will still be modded by any modifiers you have that reduce damage (afaik). Please make sure that your claim holds up when you don't have anything that can reduce incoming damage (talents, resistance, resilience, etc).

[2015-07-05 20:26] ccshiro commented on #923
Auto-passing of leader is implemented on our server. It's possible there exists some condition where it doesn't trigger. Please include steps how you reliably reproduce the issue.

[2015-07-05 20:28] darkcranio commented on #845
Yes, but on retail if the HS was on cooldown the unstuck brought you furthert about 5 yards. I don't know how could players abuse this.

[2015-07-05 20:49] YourNewfriend commented on #845
Yea, it might be nice to have a slightly more intelligent auto unstuck, but it's really not a big deal I guess.

[2015-07-05 20:50] Roarek opened #926 "[Rogue Quest] Plundering the Plunderers"
This is the quest for Rogues to gain the lockpicking skill and their thieves' tools. I wasn't able to find a vendor with thieves' tools on the server - honestly I didn't look too far from the main vendors in Shattrath, but I wanted to test a few chest bugs that I've encountered on other servers. Due to not being able to acquire thieves' tools, I haven't been able to test lockpicking in any capacit

[2015-07-05 20:50] lawlrmk opened #927 "Hellfire Peninsula: Zeth'Gor. Aggro Through Pallisade"
In Hellfire Peninsula: Zeth'Gor you aggro the melees from behind the wall in the South next to the forge.
i think this wasn't normal because I was surprised ;)

[2015-07-05 20:50] lawlrmk opened #928 "Hellfire Peninsula: Zeth'Gor. Bleeding Hollow Tormentor"
Bleeding Hollow Tormentor have a wolf as pet. if you kill the mob the wolf disappears. i thought only demons despawn?

[2015-07-05 20:52] Lephidiles opened #929 "Inventory usage"
When you use items from inventory it start using items from bag1 and not backpack. backpack is in fact the last bag to be used

https://www.youtube.com/watch?v=-q0JNumVO8w

[2015-07-05 20:52] Lephidiles opened #930 "Felrafen Hunter class rogue"
Felrafen hunter has class rogue ?? might be correct
https://www.youtube.com/watch?v=brwfHaUT8zA

[2015-07-05 20:54] Lephidiles opened #931 "Defencive stance pet"
When attacking a npc (hostile action) pet is suppose to start attacking as well not wait until master is attacked

https://www.youtube.com/watch?v=Yylhn3cpO0E

[2015-07-05 20:55] Voodopad commented on #868
I am on the other quest where you have to kill demons, my helm disappeared due to the item bug like  #667 when I reloged the helm was back but I've lost the mask. So I have a completed the quest but can't return it.

Quest that I can't return >>> http://www.wowhead.com/quest=10820/deceive-thy-enemy

[2015-07-05 20:56] Lephidiles opened #932 "Hypnotist Watch item 25786"
As far as i could tell this does not seem to lower threat of the user

[2015-07-05 20:58] Barroth commented on #931
Retails pet behaviour is quite different from tbc, see http://wowwiki.wikia.com/Defensive?oldid=1432708

This is working as intended for tbc

[2015-07-05 21:00] FurioCC commented on #868
Remove your helm and put into bag then logout and log back, that should give you mask.

[2015-07-05 21:07] ccshiro commented on #931
Duplicate of #864, as I told that guy: "No, you're thinking of the new assist mode that was added in patch 4.2."

[2015-07-05 21:07] #931 closed, assigned to nobody

[2015-07-05 21:09] Whatsthis880 opened #933 "Quest : Avruu's Orb"
The quest "Avruu's Orb" in Hellfire Peninsula (http://www.wowhead.com/quest=9418/avruus-orb) does not seems to work : clicking on Haal'eshi Altar does not make the elemental spawn.

[2015-07-05 21:13] Ickler commented on #667
I discovered the exact way / reason this occurs. Simply: spam sell something to a vendor, I made it happen just with selling two items.

Spam selling = spam right clicking something while talking to a vendor (duh). The secret ingredient is in the spamming I think.

Once you spam sell something, you can immediately swap pieces of your gear and the piece already equipped will be deleted, but stats k

[2015-07-05 21:17] rylaiii commented on #840
oh darn. i completely forgot to do that. :x

[2015-07-05 21:19] Roarek opened #934 "[Arcatraz] Heroic Arcatraz Sentinels"
The Arcatraz Sentinels should cast an explosion when they are at about 5% HP that hits everything in melee range for ~4-5k arcane. The values on these spells are varying based on where you go to look, and it is difficult to verify with video evidence as there are barely any heroic arcatraz full runs to be found.

In our encounters, they were in fact casting this ability, but it doesn't seem that i

[2015-07-05 21:26] Roarek commented on #918
I was also experiencing some lower values on my sweeping strike attacks, sweeping strikes should hit it's target for the same value that the target of the initial spell was hit for.

[2015-07-05 21:31] YourNewfriend opened #935 "[Vanilla][Mulgore] Bloodhoof Village Warriors Aren't Dueling"
They should duel occasionally.  It seems like a seldom known event since I haven't been able to dig up any written information about it.  I'd imagine that the two dueling are Thontek and Hulfnar, seeing as they're the only two named mobs, and on Corecraft's test, they're in the same spots the two duelists were in.

Evidence: https://youtu.be/pF9yEZLB9jk?t=2m12s
In this video, all of the Tauren hav

[2015-07-05 21:42] Doppelmoral commented on #862
I'm positive it should be removed. The spellstone's tooltip clearly states "Conjured item", thus it suffers the same fate as Mana Biscuits, Healthstones etc. when entering an arena match.

Invalid report, please do the research before submitting an issue !

[2015-07-05 21:50] Doppelmoral commented on #861
It doesn't show in char panel, either. You still get the 1% in actual combat when comparing meters.

[2015-07-05 22:00] Ensipid commented on #912
Same problem happens with Seal of Command.
![ccsoc](https://cloud.githubusercontent.com/assets/13189833/8513574/820d702a-233f-11e5-9877-2aa49f03422a.png)

Problem doesn't occur with Seal of Righteousness.
![ccsor](https://cloud.githubusercontent.com/assets/13189833/8513579/a8aafd56-233f-11e5-9910-9604ad7ce5fb.png)

[2015-07-05 22:04] Ensipid commented on #908
Seal of Command crits proc vengeance so it seems to be problem with just seal of blood.
![ccvengeance](https://cloud.githubusercontent.com/assets/13189833/8513594/2c0ba2c2-2340-11e5-9d88-7af1c2ec7501.png)

[2015-07-05 22:09] PolarCookie opened #936 "warlord kalithresh"
when he activates the enrage on canisters, sometimes the channeling just stops and nothing happens, even with canister not being killed.
this happened on the first two canisters, he enraged normally on the third, we killed the fourth and got another enrage on the fifth, stacking works as it should.
the aborting channel happened on runs both the 4th and 5th of july.

[2015-07-05 22:11] sverkersham commented on #921
its /bg

[2015-07-05 22:14] Lephidiles commented on #928
https://github.com/ccshiro/cc-buglist/issues/73

[2015-07-05 22:16] Whatsthis880 opened #937 "Spell : Mind Control"
Using Mind control on a npc make the priest and every other players who attacked that npc out of combat in less than a second. I don't know if it's the correct behavior, but this can leads to several situations like :
-The priest gets ooc health regeneration
-Allowing the whole team to regen/stealth in the middle of the fight
-In a PvP situation, the priest can get zap

[2015-07-05 22:20] YourNewfriend commented on #937
https://github.com/ccshiro/cc-buglist/issues/799 is related.

[2015-07-05 22:24] meowmewo commented on #846
Have u fed it?

[2015-07-05 22:42] Whatsthis880 opened #938 "Dodge/Parry/Miss by NPC"
If a NPC has only one target : player "A" , and player "B" attacks that NPC but it missed, got parried or dodge, player "B" will not get into combat.

[2015-07-05 22:42] #919 closed, assigned to nobody

[2015-07-05 22:57] YourNewfriend opened #939 "[Vanilla][Durotar] Lar Prowltusk Lacking Patrol"
He should move between 3 different spots.
![lar](https://cloud.githubusercontent.com/assets/13057166/8513782/8ad31f6e-232d-11e5-9132-9689bc028c51.png)

Spot 1: https://youtu.be/pF9yEZLB9jk?t=4m36s
Spot 2: https://youtu.be/SwLjJH8LXfc?t=38m49s
Spot 3: https://youtu.be/FaV6oAteJGI?t=1h2m13s (apparently it's the spot I marked on the far-right, and he seems to stand here rather than kneel)

[2015-07-05 22:59] Whatsthis880 commented on #915
Killed my friend on the same faction with that 10/10 pls don't fix :°))

[2015-07-05 23:37] YourNewfriend commented on #664
I remember flying over Dalaran and watching everybody like ants in early wrath.

[2015-07-05 23:51] petaal commented on #667
I can confirm that this is easy to reproduce by selling items quickly. I'm not sure about the spamming being required. Managed to get this to happen by selling items fast while clicking only once per item. Nevertheless, easy to reproduce by spamming right click and selling quickly.

[2015-07-05 23:52] YourNewfriend commented on #836
When being removed from a group it should look like this:
https://youtu.be/JMylc2Or1Ic?t=1m19s

"You have been removed from the group"
"You have left the raid group"

Currently, it looks like this:
![image](https://cloud.githubusercontent.com/assets/13057166/8513975/264f8100-2336-11e5-9278-5068ffad02b3.png)

When leaving a group yourself, it should look like this:
https://youtu.be/rA8jkwxVtbA?t=2m

[2015-07-06 00:19] Chulain commented on #664
thats wotlk

[2015-07-06 00:27] YourNewfriend commented on #664
ur mum

[2015-07-06 00:28] Pinhastest opened #940 "Quest - [The Fel and the Furious]"
When you finnish control  Fel Reaver Sentinel you are not able to move until you relog

[2015-07-06 00:34] Pinhastest opened #941 "Talent - Improved Ghost Wolf"
With 2 points in Improved Ghost Wolf, some times when you cast ghost wolf while walking it says "you cant cast that while moving", this bug remain until relog. Didnt discover what trigger this yet.

[2015-07-06 00:35] YourNewfriend commented on #935
It has to be Hulfnar and Thontek, since they're both spamming War Stomp in their duel, and they should be the only ones with that ability.

They all actually seem to randomly cheer during the fight.  At one point, Hulfnar cheers despite being in the middle of combat, and Thontek punches him immediately afterwards.  Perhaps combat (instant death in this case) among the nearby warriors (night elf hu

[2015-07-06 00:37] Pinhastest opened #942 "Pathing bug"
mobs got stuck when i cross the river.
![wowscrnshot_070615_004101](https://cloud.githubusercontent.com/assets/10587278/8514159/95d82d08-237f-11e5-8755-a03a65c9ead0.jpg)

[2015-07-06 00:40] YourNewfriend commented on #942
Some mobs shouldn't be able to swim; maybe this is implemented.

[2015-07-06 00:47] ccshiro commented on #942
Working as intended.

[2015-07-06 00:47] #942 closed, assigned to nobody

[2015-07-06 00:52] Chulain commented on #941
strange, just specced into it, can spam without any problems

[2015-07-06 00:59] Pinhastest commented on #941
Happen me Twice already, but dont know what trigger it. this need testing

[2015-07-06 01:07] YourNewfriend opened #943 "Logging Out While In Combat Shouldn't Be Possible"
A character shouldn't be able to disappear from the gameworld, and deaggro monsters by logging out, because combat should prevent the character from disappearing.

If I initiate the logout timer before engaging a monster, I can successfully escape it by vanishing from the gameworld.

![image](https://cloud.githubusercontent.com/assets/13057166/8514284/6fa816a0-2340-11e5-9394-cc5cbac2c7e2.png)

Whe

[2015-07-06 01:22] Chulain commented on #868
proof:
http://www.wowhead.com/quest=10819/felsworn-gas-mask
2007/01/25 (Patch 2.0.6)
To get another mask, talk to Wildlord Antelarion

[2015-07-06 01:34] YourNewfriend opened #944 "Exiting The Game-Client While Falling = Swimming In Midair (visual)"
While falling, if the game client is closed, this happens for 20 seconds:

![wowscrnshot_070515_182111](https://cloud.githubusercontent.com/assets/13057166/8514420/3c53a2d4-2344-11e5-83a9-73ec676e1869.jpg)

After logging back in, the player is teleported to the floor unharmed, and then the player takes fall damage shortly after.  I don't think it should have any affect on the player other than los

[2015-07-06 01:35] #772 closed

[2015-07-06 02:00] KevinTyrrell opened #945 "Deathforge Automaton animation"
Problem: The deathforge Automaton is supposed to stay in a hunched over state and stay still until aggroed. Currently, they idle as standing, and every 25 seconds will do a 'Charge Up' animation.
How to reproduce: N/A
Solution: Fix animation
Proof: http://i.imgur.com/VlTPchs.jpg
Burning crusade proof: https://youtu.be/jf51zsgl-FA (6 seconds in)

[2015-07-06 02:07] YourNewfriend opened #946 "[Vanilla] Orcish Guards Should Say "For the Warchief!""
https://youtu.be/vCRJyKfm1Fs?t=37s (Kor'kron Elite + Orgrimmar Grunts)
https://youtu.be/pF9yEZLB9jk?t=4m28s (Razorhill Grunts)

Translated:
https://youtu.be/N---GFeieSk?t=1m2s

I'm not sure if it's at engage or just during combat.  In the first video, it can be seen that there are probably 50~ guards, but only 4 actually say it, so it's pretty uncommon.

Probably @ engage

[2015-07-06 02:08] KevinTyrrell opened #947 "Creatures not detecting flying players nearby their models."
Problem: large creatures (all creatures?) do not detect players high in the air, even though they are within distance of their model. This will require more research but I am pretty certain that creatures would detect nearby player in this circumstance, for example.
How to reproduce: fly into the model of a semi-large creature.
Solution: perhaps make it so the creature will aggro whether the playe

[2015-07-06 02:16] KevinTyrrell commented on #934
Agreed. I was in this dungeon group as the tank and those sentinels have something wrong with them for sure. At one part in the dungeon, before the final room, two sentinels guard the bridge and right now it's near impossible to get past them, even with shield wall. I think their damage value and frequency of lightning is way off. I'm still looking for proof of this though.

[2015-07-06 02:18] KevinTyrrell opened #948 "Doom Lord Kazzak"
Problem: aggro range is much smaller than it should be and both chat messages nor sound files are played out zone wide to Hellfire Peninsula.
How to reproduce: Logon two characters and put both in Hellfire Peninsula. Have one character aggro Doom Lord Kazzak.
Solution: unknown
Proof: http://www.twitch.tv/hatefiend/b/675822603, http://i.imgur.com/TrG2uSC.png (no chat message)
Burning crusade proof:

[2015-07-06 02:25] KevinTyrrell commented on #946
In your two videos, I don't see when Orc enemies say those lines. Exactly when does it happen and where should we be looking?

[2015-07-06 02:33] YourNewfriend commented on #946
Kil Mog Throm'ka

[2015-07-06 02:35] KevinTyrrell opened #949 "Warrior talented abilities showing excess ranks"
Problem: the Warrior abilities Shield Slam and Devastate (I'd presume this happens with any Ranked up Warrior talented ability, OR even for any of the classes where you cannot downrank (Warriors, Rogues, anymore I'm missing?)) do not consolidate themselves when learned into one ability. It shows all the ranks and the character is able to use down ranked versions.
How to reproduce: talent the abili

[2015-07-06 03:10] KevinTyrrell commented on #851
Another thing is that the Soccothrates fight is really off in some regard.

When he does the knockback ability, he is either supposed to say "On Guard" or the "Defend yourselves, for all the good it will do". I can't quite remember if the mob actually played the audio clip for "On Guard" or "Defend yourselves" so if someone can check that, then that would be good.

During the Knockback ability, he

[2015-07-06 03:15] YourNewfriend opened #950 "Battlemasters Should Be PvP Flagged"
![image](https://cloud.githubusercontent.com/assets/13057166/8515176/61c2159c-2352-11e5-917b-be954bb94632.png)

Retail:
https://youtu.be/80dk-HjCPFE?t=24s
https://youtu.be/80dk-HjCPFE?t=1m7s

[2015-07-06 03:16] YourNewfriend commented on #836
https://youtu.be/80dk-HjCPFE?t=36s  I'm not sure why there's a difference between this and https://youtu.be/rA8jkwxVtbA?t=2m27s

The first one might be from vanilla.  w/e, just.. w/e

[2015-07-06 03:29] YourNewfriend opened #951 "Hitpoints Might Be Regenerating Too Fast"
I'm not positive, but I have a level 10 Orc (meaning she doesn't have the troll health regeneration racial), and she's regenerating health every 2~ seconds.

In this video, it's pretty clear that after 4 seconds, the Level 9 Troll Rogue still hasn't gotten a single tick of health regen: https://youtu.be/80dk-HjCPFE?t=1m18s

I'm pretty sure this is a TBC video looking at the person in warlord gear

[2015-07-06 03:54] KevinTyrrell commented on #851
Also one thing to add, in the Paladin tank video, whenever Soccothrates is attacked, he makes a 'ugh' sound. I do not believe this is present in Corecraft as of now.

[2015-07-06 03:57] YourNewfriend commented on #948
Zone-wide yells:
https://youtu.be/6M07DGR599Y

[2015-07-06 04:15] giedrius-timinskis commented on #951
http://us.battle.net/wow/en/game/patch-notes/3-3-0

`Health and Mana Regeneration: These regeneration rates have been increased by up to 200% for low level characters. As a player’s level increases, the regeneration rates gradually reduce, returning to normal rates at level 15.`

Seems to have been introduced in WotLK, couldn't find anything about health regen of low level characters being increas

[2015-07-06 04:28] YourNewfriend opened #952 "Duel Stun Should Suspend Players In Midair"
https://youtu.be/80dk-HjCPFE?t=1m19s

Drops them atm.  It might've been changed like iceblock, but idk.

According to this, it was working (probably) correctly under a month ago: https://github.com/ccshiro/cc-buglist/issues/654

[2015-07-06 04:38] YourNewfriend commented on #951
On a level 9 troll rogue I'm gaining 3% of my health back every 2 seconds.

[2015-07-06 04:47] YourNewfriend commented on #951
https://youtu.be/FaV6oAteJGI?t=51m35s

The player in this video seems to gain HP every 2 seconds, but it's from vanilla, not TBC.

[2015-07-06 05:04] Aisires commented on #923
Okay.

I were the leader of our SH Hc group. Before the first trash pack inside the dun i gave the leader to our tank.

After ca. 15 mins the server crashed. After that crash our healer was the first one online again. I was second. After several mins everyone was online again, but not our tank. We waited 10 minutes and longer but he did not come back and remained the leader. We stood in the instan

[2015-07-06 05:06] YourNewfriend opened #953 "Attributes and Stats Gained From Levelling Are Wrong"
https://www.youtube.com/watch?v=Q1p2e73BQrA

Also, this Tauren Hunter's levelling bonuses are the same as this Troll Hunter's (checked @ lvl 7 & 2):
https://youtu.be/Q1p2e73BQrA?t=34s
https://youtu.be/FaV6oAteJGI?t=22m58s

I believe it's divided by class, so it shouldn't be too hard to find some hard evidence for all 9 classes.

On CC's test server currently:
![wowscrnshot_070515_220911](https://c

[2015-07-06 05:09] Bugracker commented on #846
Yes ;D I also used ''maxhappines'' command ;p
Anyway same thing happend in the middle of dungeon in Auchidoum with other pet.

[2015-07-06 05:51] YourNewfriend commented on #835
I'm not sure what it should look like in TBC, but in Vanilla, the message of "%s has been kicked out of the guild by %s." was relayed to the player kicked, and nothing more.

Maybe both that and "You have been kicked out of the guild." should be sent to the player kicked, but I wasn't able to establish exactly what happens in TBC.

[2015-07-06 06:02] YourNewfriend commented on #856
In this video, the caster herself is injured.  She wasn't PvP flagged, but she could've had summoning threat.
https://youtu.be/BHdcekqLl_A?t=24s

[2015-07-06 06:02] YourNewfriend commented on #946
https://youtu.be/yZevjt-cw54?t=26s

Seems like it's @ engage.

[2015-07-06 06:12] YourNewfriend opened #954 "Infernals and Doomguards(unenslaved) Should Only Be Aggressive Towards PvP Flagged Targets"
I'm only referring to proximity aggro.  If a person touches one of them, or someone who's in combat with one even if he isn't PvP flagged, they're still fair game for the Infernal or Doomguard.

https://youtu.be/yZevjt-cw54?t=43s
https://www.youtube.com/watch?v=zWGKVPQ2LZ8&feature=youtu.be&t=3m40s
https://youtu.be/yva7MbQy11g?t=3m19s
https://youtu.be/HKQX9Ne1jdA

I don't know if this should extend

[2015-07-06 07:33] antman94 opened #955 "Item Gladiator's Libram of Justice"
It's simply broken. Doesn't add any resilience at any time, neither on myself nor on target player.
//Paladin with full pvp gear and Tome of Fiery Retribution.

[2015-07-06 07:45] robinsch commented on #876
Okay, invalid.

https://www.youtube.com/watch?v=MdXsUkc7ZA0
15:30 swd damage was absorbed, full damage for priest.
also swd deals abit less damage (maybe because the backfire damage is a DOT and gets reduced by resilience?)

[2015-07-06 07:45] #876 closed, assigned to nobody

[2015-07-06 07:53] Skibbli commented on #947
I noticed this when flying up to the Raging Colossi in Hellfire Peninsula - could get inside them and be just a couple of yards off the ground for them to not aggro on me.

[2015-07-06 07:58] YourNewfriend commented on #918
It doesn't ignore armour though, and I believe that it can be avoided (miss/dodge/parry/others) in TBC unlike Vanilla.

[2015-07-06 08:10] TMXa opened #956 "Blood elf starting zone bugs"
Ok I think the 1st one is known, but anyways. The quest "A thrust Unendint" (manatap quest) is bugged, the counter is not counting your creature taps.
The second is that the Tender mobs there have strangely wide range of aggro (unlike other races starting zone mobs).
And a probable 3rd one is that, when i entered the pool of water where the tenders were, One of them aggroed and stayd on the side o

[2015-07-06 08:15] antman94 opened #957 "Unable to ressurect my group in dungeon"
Yeah well so this is what happened, whenever somebody die in a dungeon I can't ressurect them.

http://i60.tinypic.com/zxk64m.jpg

Very strange

[2015-07-06 08:25] PatchnotesTBC commented on #943
Nasty bug

[2015-07-06 08:28] ConfusedCC commented on #957
duplicate #803

[2015-07-06 08:35] YourNewfriend opened #958 "Doomguards From Curse Of Doom Spawn On Top Of The Warlock"
I believe they should spawn near the corpse, but in the only video of a Curse of Doom Doomguard I could find, the Warlock was kind of close to where it spawned when it appeared.

It could be that it's supposed to spawn to the top left of the Warlock.

https://www.youtube.com/watch?v=3tYPzOyUPm4

[2015-07-06 08:38] YourNewfriend commented on #778
Also seemed to happen to me when I feared + deathcoiled a monster.  It didn't retain full control, but it would hit me if I got close while it was in fear.

[2015-07-06 08:42] YourNewfriend opened #959 "Mobs That Cant Swim Into The Water Cant Swim Out"
I feared this monster into the water, and it refused to come out when its fear broke inside.  I don't know if this is intended.

![wowscrnshot_070615_014123](https://cloud.githubusercontent.com/assets/13057166/8518580/3f17e534-2380-11e5-8738-b7f03f69f52c.jpg)

[2015-07-06 08:44] TMXa commented on #956
Tainted arcane silver drops after quest has been completed

[2015-07-06 08:58] YourNewfriend opened #960 "Doomguards From Curse of Doom Suicide After Some Seconds"
I've only observed this after enslavement.  I don't know if the Doomguard will die quickly without becoming enslaved.  Happened twice.  I also don't think it had all of its abilities, but it could be my imagination, and I cba going back out to spawn it again.

![wowscrnshot_070615_015728](https://cloud.githubusercontent.com/assets/13057166/8518813/6282a9c6-2382-11e5-933b-9e7973d5025a.jpg)

[2015-07-06 09:04] YourNewfriend opened #961 "Doomguards From Curse of Doom Don't Have Summoning Threat"
I think they should have summoning threat, like with Infernals and regular Doomguards.

I'm basing this off what I'm seeing here, and I could be wrong: https://youtu.be/3tYPzOyUPm4?t=15s

![wowscrnshot_070615_015728](https://cloud.githubusercontent.com/assets/13057166/8518917/47ad2562-2383-11e5-9d4c-aa9c60679d5c.jpg)

It's attacking my pet, and not me after appearing because my pet was closer.

[2015-07-06 09:29] g6467035 opened #962 "[Rogue] Blade Flurry doesn't hit neutral opponents"
On the wiki i found:
Patch 2.4.2 (2008-05-13): This ability can no longer hit critters as its secondary targets and will now use a proper range calculation for all secondary targets.

Not sure if these mobs should count as critters.

http://webmup.com/9e9a1/

[2015-07-06 09:59] robinsch opened #963 "Interrupt effects vs Evocation"
You can't kick, cs or whatever Evocation (maybe all channeled spells), afaik on standart cmangos ChannelInterruptFlags is not implemented for EffectInterruptCast.

[2015-07-06 10:06] YourNewfriend commented on #856
![wowscrnshot_070615_030214](https://cloud.githubusercontent.com/assets/13057166/8520013/9268c0e0-238b-11e5-8589-38a8c3e96552.jpg)

That was an Inferno crit on CC's test server on a target with 0 resilience.  In the video, a level 54 Warlock's Inferno hits her for 425 damage, and a nearby critter for 200.  The damage appeared white in the video, but I was uncertain, but I believe I'm positive now.

[2015-07-06 10:15] Peonstomperx commented on #943
you sure? https://youtu.be/icWqS9af6uc?t=1614

[2015-07-06 10:22] ivaylohristakiev commented on #949
why no proof? you could downrank in TBC

[2015-07-06 10:22] ghost commented on #949
why no proof? you could downrank in TBC...

[2015-07-06 10:23] ghost commented on #943
"bug"

[2015-07-06 10:23] YourNewfriend commented on #943
You can't say that his character disappeared from the game world, even though he did reach the character selection screen, because he could've just died later.

You did solve one part of the puzzle.

[2015-07-06 10:24] ghost commented on #962
critters are a special class of mobs afaik

[2015-07-06 10:26] YourNewfriend commented on #943
Maybe somebody with a retail account can try something similar to see what happens on panda wow?

We'll probably never figure this one out tbh

[2015-07-06 10:28] Whatsthis880 opened #964 "NPC : Painmistress Gabrissa"
Painmistress Gabrissa's "Curse of Pain" ability does not get remove when the player falls below 50% HP (http://www.wowhead.com/npc=21309/painmistress-gabrissa#abilities ; http://www.wowhead.com/spell=38048/curse-of-pain)

[2015-07-06 10:41] ghost commented on #951
it's 2 seconds for mana as well (in vanilla) (except for shaman - 2.5s)

[2015-07-06 10:43] ghost commented on #956
ress sickness doesn't apply for low-level chars afaik

[2015-07-06 11:05] TheVcelar commented on #655
i did some testing with these new information i gained and scaling still seems too high ... i was testing with orc BM hunter with ~1900 RAP and LB was hitting for 300 noncrit dmg in average into target dummy.... that is more than for example this wind serpent does: https://www.youtube.com/watch?v=KJGmWbrGuOo  (usualy hitting for 210-230 noncrit)

[2015-07-06 11:19] Whatsthis880 opened #965 "Quest : Outland Sucks!"
The respawn time of "Shredder Spare Parts" is like 5 seconds. Bug or meant to be for server release when 9000 people will fight to get quests done ? :P

[2015-07-06 11:20] Chulain commented on #965
outlands*

[2015-07-06 11:21] KevinTyrrell commented on #949
Abilities from Warriors, Rogues, and Feral abilities from Druids cannot be down ranked.

[2015-07-06 11:30] Chulain commented on #773
http://www.wowhead.com/forums&topic=18441/spell-damage-for-poisons
2008/04/02 at 4:17 PM (Patch 2.4.1)
I toyed around with the idea of some wacky shiv build using +Nature Damage gear.
Alas, +Spell Damage gear does not affect poison damage.

all i got so far

[2015-07-06 11:31] Whatsthis880 commented on #965
http://www.wowhead.com/quest=10236/outland-sucks = outland :)

[2015-07-06 11:31] ghost commented on #949
proooooooof?

[2015-07-06 11:38] Chulain commented on #965
not according to shiro.

[2015-07-06 11:49] Doppelmoral commented on #942
Btw judging from the screenshot it's bugged though. Mobs that are unable to follow a player in certain territories should evade and reset.

The whole evade mechanic isn't functional on probably all private servers, one of the reasons people could solo bosses in raids with fly hacks.

[2015-07-06 11:52] KevinTyrrell commented on #949
Can't find any proof but I'm not that good at searching. However I did find the issue on another github. The fact that it is there too is pretty definitive that it is not intended.

https://github.com/FeenixServerProject/Phoenix_1.12.1_Issue_tracker/issues/1803

[2015-07-06 11:54] Chulain commented on #956
mana tap: https://github.com/ccshiro/cc-buglist/issues/830
res sickness counts for players lv 10 and higher, +1 min every level capping at 10 minutes
try to provide screenshots for pathing bugs

[2015-07-06 11:56] Chulain commented on #956
also try to report one bug per issue

[2015-07-06 12:18] Chulain commented on #921
arent party/raid supposed to work too?

[2015-07-06 13:00] testinkzcc2015 opened #966 "Opposite faction guards/NPC's speak universal language. (low priority?)"
Guards at spinebreaker post and also at Tharrmal for example can be understood by alliance players
http://i.imgur.com/rZESnTe.jpg

As far as I know gnomes can't speak orcish

[2015-07-06 13:04] meowmewo commented on #655
Yep 300 is too much in any case.

[2015-07-06 13:06] meowmewo commented on #655
Wich means CC is probebly using the old formula wich uses 12.5% from rap, rather then 1.25%.

[2015-07-06 13:10] Mephisto22 opened #967 "[Warlock] Hellfire suicide durability loss"
If a warlock commits suicide with his Hellfire ability he receives durability loss. You should not lose any durability on your items. This could be labeled as minor bug.

Proof: http://www.wowhead.com/spell=1949/hellfire#comments

  "A very useful skill, in a raid or such, if wipe is inevitable, start casting hellfire so you wont lose durability from dying."

[2015-07-06 13:34] KevinTyrrell opened #968 "[Seer Udalo] Dead mob with left click speech"
Problem: Udalo in Arcatraz speaks to you when you left click him
How to reproduce: N/A
Solutions: unknown
Proof: http://www.twitch.tv/hatefiend/b/675931813
Burning crusade proof: http://www.wowhead.com/quest=10705/seer-udalo#comments:id=25831 (he's dead, implying no speech), "Completion
The Ashtongue Seer has been long dead.  As you turn over his body, you spot writing scrawled on the floor."  --

[2015-07-06 13:42] testinkzcc2015 opened #969 "Auction house pending message stays in the mailbox"
When auction is bought and money is getting delivered the pending message does not disappear after the time is up.
1. I set up a auction
2. somebody bought it
3. I get pending message
4. time is up and I looted the golds I acquired from selling item in aH
5. Pending message remained in mailbox

[2015-07-06 13:48] scramz commented on #867
Can confirm the event. Did anyone die? I know you can grab another beacon after death, not sure if intended. Will look for proof.

[2015-07-06 14:00] rsheep commented on #867
nope, I could get another beacon without dying.

Feign Death counts? :dancer:

[2015-07-06 14:04] KevinTyrrell opened #970 "[Arcatraz] Harbinger Skyriss"
Problem:
#1: When aggroed, Warden Mellchar does not face the player, as he should during his dialogue. Also, he casts his shield before the arcane explosion, which is incorrect. He should Arcane Explosion, then use his shield after the explosion dissipates as shown in my proof.
#2: While releasing a creature, Warden Mellchar does NOT face the cell but instead faces Harbinger Skyriss'es cell. Also

[2015-07-06 14:09] shadowraider commented on #780
im pretty sure i've tried this few tests ago and it worked, but something may broke

[2015-07-06 14:30] #957 closed, assigned to nobody

[2015-07-06 14:31] #930 closed, assigned to nobody

[2015-07-06 14:31] ccnim commented on #930
It's correct.

[2015-07-06 14:32] ccshiro commented on #952
Being stunned does not prevent you falling in 2.4.

[2015-07-06 14:32] #952 closed, assigned to nobody

[2015-07-06 14:43] Tolgren commented on #908
Yes, SoC works fine.

[2015-07-06 14:45] ccshiro commented on #947
This mechanic works fine. If it doesn't work for a particular mob it has nothing to do with the mechanic, but rather that NPCs auto-attack distance is probably too short (i.e., his model data is wrong server-side). Nim will look at the mobs you mentioned and then close this issue.

[2015-07-06 14:53] Chulain opened #971 "leaving queue closes bg/arena window"
if you leave your queue for arena/bgs the arena/bg window will close

![wow_2015_07_06_16_52_21_004](https://cloud.githubusercontent.com/assets/10247793/8525151/696d0560-23ff-11e5-8999-d5cd424d1509.png)
talking about this window

[2015-07-06 15:02] ccshiro commented on #971
Sounds like a client-side thing.

[2015-07-06 15:07] ccshiro commented on #943
This is the intended behavior. If you pass the 20 second log out timer without dying you are safe and removed from the world. Once initiated being put in combat does not break it. I will close this as invalid. If you want to reopen this you need to provide evidence for your claim.

[2015-07-06 15:07] #943 closed, assigned to nobody

[2015-07-06 15:23] ccshiro commented on #934
The discharge damage and frequency is based on spell data, which is data directly from the blizzard client.

The damage from explode does not seem to him me though, as you said.

[2015-07-06 15:29] ghost opened #972 "[Clefthoof Hide Quiver] needs to be added"
[Clefthoof Hide Quiver] is currently missing at the Mag'har reputation vendor.
It was available in patch 2.0.3.
Item ID: 29143

http://www.wowhead.com/item=29143/clefthoof-hide-quiver#comments
By Razzael on 2007/05/11 (Patch 2.0.12):
"This is the best quiver currently available I know of, and it's pretty easy to get."

http://wowwiki.wikia.com/Clefthoof_Hide_Quiver?oldid=545290
March 15, 2007
"Sol

[2015-07-06 16:03] ccshiro commented on #884
Probably client side.

[2015-07-06 16:05] ccshiro commented on #872
Duplicate (would've been better to just respond in #667). Nice testing though.

[2015-07-06 16:05] #872 closed, assigned to nobody

[2015-07-06 16:11] ccshiro commented on #859
In your screenshot the movegens command is on the wrong target (notice how it says the name of the other druid in your party). However, I was able to reproduce it (happens with mobs that are group moving), so there's no need to resubmit it.

[2015-07-06 16:20] ccshiro commented on #840
Cannot reproduce, report missing .movegens output of bugged NPCs.

[2015-07-06 16:33] #972 closed, assigned to ccnim

[2015-07-06 16:40] ccnim commented on #880
Need to click on the item to get the cost to show.

[2015-07-06 16:40] #880 closed, assigned to nobody

[2015-07-06 16:46] g6467035 opened #973 "[Quest] Blast the Infernals"
You can complete the quest, so this is probably low priority.

The Fel Bomb animation is missing.

Proof: https://youtu.be/h-BoNKjXXMg?t=86

[2015-07-06 16:59] Kinglundh opened #974 ""You are in Combat""
Was playing shattered halls Heroic and when we came to the Champion mobs, some of us couldnt get out of combat, so we werent able to drink / ress etc etc.
Could it be because of we used fear on mobs through the instance before and might have feared a critter or something? :)

[2015-07-06 17:04] KevinTyrrell commented on #934
Question, how does damage calculate between heroic and normal dungeons?

[2015-07-06 17:06] xtrawelt opened #975 "Quest: I work... For the Horde!"
Not able to collect some Salvaged Wood's

![wowscrnshot_070615_185659](https://cloud.githubusercontent.com/assets/13199996/8528162/a1e60ea2-2411-11e5-96b0-6a00c620d217.jpg)
![wowscrnshot_070615_185714](https://cloud.githubusercontent.com/assets/13199996/8528170/aac382f2-2411-11e5-9c57-2e03dec1cb21.jpg)

![wowscrnshot_070615_190225](https://cloud.githubusercontent.com/assets/13199996/8528200/e6d19d

[2015-07-06 17:08] KevinTyrrell commented on #947
I mean, I can think of over 20 mobs on the top of my head with that size and some are pretty obscure. What would you do, individually fix them one by one?

[2015-07-06 17:08] Voodopad commented on #868
And when I talk to Wildlord Antelarion you can't get the mask (check screen shot)

[2015-07-06 17:10] ebonywolf opened #976 "Unbalanced Arcatraz sentinels?"
I'm aware Arcatraz is one of the hardest heroic, but near the last boss there is a group with 2 sentinels together. With T5 I can barely keep the tank alive against 1 of them, and 2 of them seems to be impossible as they are immune to every cc except freezing trap and even that only lasts 3-5 seconds for some reason.

We also had no melee dps (which made it easier) but we still couldnt come anywhe

[2015-07-06 17:14] ghost opened #977 "List of 2.1.0 Heroic Dungeon Epics"
The following items need to be removed, because they were not available in patch 2.0.3.
(I don't know if you removed them already, because I can't check the loot tables.)
######

[The Fel Barrier]
Item ID: 32082
Boss: Nexus-Prince Shaffar

http://www.wowhead.com/item=32082/the-fel-barrier#comments
By unsprung on 2007/05/24 (Patch 2.1.0):
"This is a new drop from Nexus-Prince Shaffar in Heroic Mana

[2015-07-06 17:15] ccshiro commented on #787
Not correct. The buff is only visible on other players. The draenei still get the effect, just not a visual buff. This is the correct behavior, and how it was on retail as well.

[2015-07-06 17:15] #787 closed, assigned to nobody

[2015-07-06 17:23] xtrawelt commented on #975
Somthing else:

red circles: empty containers
blue circle: items stays on the ground after picking up (but cant pick it up again, so just visual)

http://i.imgur.com/S1dhS8r.jpg
http://i.imgur.com/bWu0ciI.jpg

[2015-07-06 17:31] ccshiro commented on #780
With rank 2 pyroclasm hellfire has a 0.0173333 chance per tick, rain of fire a 0.065 chance per tick and soul shard a 0.26 chance. It all adds up to 0.26 for the duration of the spell.

[2015-07-06 17:31] #780 closed, assigned to nobody

[2015-07-06 17:33] ccshiro commented on #976
Just tested, these NPCs are working as intended currently.

[2015-07-06 17:37] ebonywolf opened #978 "Unable to Apply Poison"
Problem: Getting the message "Another action is in progress" whenever I right clicked the poison Item.
it happened right after the fight.

Reproduce: Havent been able to, but here is a video of when it occurred.
https://youtu.be/NJYr1XTIhkA

Solution: Dying seemed to have solved the problem.

[2015-07-06 17:40] Chulain commented on #884
cant find any videos but it also happens on a wotlk client

it also happened on a cata client, not the exact same but it was some sort of "reset"

[2015-07-06 17:44] ebonywolf opened #979 "Invisible Infernal"
Problem: Summoned a infernal and it had no meshes, My friend couldnt see or click the infernal either.

Reproduce: I had summoned many infernals before and after the event but all worked fine except this case. (I also hadnt done anything in particular).

proof: http://postimg.org/image/5l5cw6xm5/

[2015-07-06 17:45] Jigodian commented on #974
Did the combat state eventually disappear or did it just go on forever?

[2015-07-06 17:54] Peonstomperx commented on #769
Kind of related: https://youtu.be/fT_aZfg9AP0?t=153
He gets blinded, drops combat roughly 2sec after (because the other rogue vanishes?)

[2015-07-06 17:54] xtrawelt commented on #976
We did them today, bursting one of them down, wipe and doing the second. I talked to an friend who played back then and has very good memory. He said, they did it the same way at the beginning, later they just killed both.
Yes, we have Tier 5, but probably not the best setup + everyone is just logging in, rushing through gear and talents - not even perfect.

I think they work as they should

[2015-07-06 18:01] Vetinari1 commented on #898
Yeah it happened to me aswell. It will eat whole stack of 20 ores but it will only yield like you are prospecting on 5 ores.

What it should do is:
It should prospect only 5 ores every time, even if its in stack of 20 and then leave the rest of those ores (5, 10, 15) untouched and yield reward from those 5 ores.

[2015-07-06 18:06] #963 closed, assigned to ccshiro

[2015-07-06 18:07] #781 closed, assigned to nobody

[2015-07-06 18:09] Jigodian commented on #916
I think that has something to do with the player's latency too.

[2015-07-06 18:14] Pinhastest commented on #941
![wowscrnshot_070615_191231](https://cloud.githubusercontent.com/assets/10587278/8529567/2d03d02c-2413-11e5-85ec-b80f1a23e4c5.jpg)
Happen again after 1 DC

[2015-07-06 18:18] nbetcher commented on #884
I recall this being the behavior on retail.

[2015-07-06 18:20] ebonywolf opened #980 "NPCs hesitating"
Problem: Npcs hesitate to move when moving to attack.

Reproduce: idk a reliable way, but the problem happened very frequently while we did dungeons.

video proof of some events: https://youtu.be/16heIssV5go

[2015-07-06 18:26] Chulain commented on #884
https://www.youtube.com/watch?v=fAhCi2rQ9yc

still happens on retail

[2015-07-06 18:26] #884 closed, assigned to nobody

[2015-07-06 18:33] g6467035 opened #981 "Bugged Inns"
You can lose your rest buff inside some inns.

Two examples:
Honor Hold inn: http://webmup.com/f7add/
Wildhammer Stronghold inn: http://webmup.com/9c081/

[2015-07-06 18:44] ccshiro commented on #777
Tried being sheeped as wsg ended, did not trigger it.

[2015-07-06 18:45] Chulain commented on #976
sounds tbc-like

hue hue

[2015-07-06 18:46] DaRealBoss commented on #980
You shouldve typed ".movegens --verbose"  while targetting the mob and printed a screenshot for devs.

Idk if this is related or not but I noticed something similar on some mobs in hellfire peninsula, so I will post it here: http://imgur.com/rzd8DdC

The mobs in my case werent hesitating for as long as yours in the video, but there was a noticeable 1 second or so hesitation where the mobs would st

[2015-07-06 18:49] Chulain commented on #974
critters reset after a short time as far as i know

[2015-07-06 18:50] DaRealBoss opened #982 "[Quest: The cleansing must be stopped] Mobs evading"
http://imgur.com/QDjeBg0

The mob in the picture seems to sometimes evade bug/behave wierdly when kited around the altar.

[2015-07-06 18:54] Doppelmoral commented on #862
How does this require more evidence than what I wrote though ? Okey, since logic ain't enough:

http://wow.gamepedia.com/Arena

<i>Pre-match
Inside the arena.

<b>Upon zoning into the arena</b>, players start in a staging area. Health, mana, and energy are all restored, all buffs and <b>conjured items are removed</b> and pets are dismissed (debuffs will remain, and pets can be re-summoned once you

[2015-07-06 18:54] ccshiro commented on #779
The NPCs that are not working properly here are because they have improper NPC flags. That mage trainer, for example (you wouldn't see him anyway, btw, since you're a druid), has no NPC flag that lets the client know he's a class trainer.

[2015-07-06 18:55] Chulain commented on #971
also happens on wotlk clients

and still happens on retail

[2015-07-06 18:59] Jigodian commented on #969
Worked fine for me.

[2015-07-06 19:04] Kinglundh commented on #974
It went on forever, atleast 30 minutes then we called it.

[2015-07-06 19:10] DaRealBoss opened #983 "[Priest] Touch of weakness"
This ability seems to be scaling too much with some effects or spellpower idk, because it seems to be doing way too much dmg atm. Its been hitting 500-600 noncrit, and even critting at some times which i dont think is blizzlike either. http://imgur.com/DkVQVQy Also tested on players and it was doing just as much.

Retail touch of weakness, go to 0:46 seconds for the first one, you can also see its

[2015-07-06 19:11] ccshiro commented on #782
@pretbc video: Slow it down to 0.25 speed, notice that scatter shot makes him go much closer than he actually gets stunned at. Keep in mind that spell delay is a thing (as is lag). My guess is that the trap triggered when he went really close in scatter shot.

@tbc video. Same thing here, he runs past the trap fairly close to it. Spell delay in effect, he's now further away than the closest point

[2015-07-06 19:16] descendance commented on #976
Here is what i found about them:

Originally appear as corpses but act in the same way as the Protean Spawns, they come back to life at around 40% health and attack.

 After being aggroed until some time after their death they regularly hit random nearby people with "Energy Discharge" for 700-1000 Arcane damage.

They are immune to taunt, and many other aggro-generating or reducing abilities. They

[2015-07-06 19:17] Aisires commented on #922
Update:

Did SH again today.
No server crash involved.
Same result.
Got the movegen data now.

![sh update](https://cloud.githubusercontent.com/assets/13180039/8530940/52997812-2424-11e5-9989-08c43f6c82b8.jpg)

[2015-07-06 19:23] #971 closed, assigned to nobody

[2015-07-06 19:24] Chulain commented on #975
https://github.com/ccshiro/cc-buglist/issues/434

[2015-07-06 19:26] ccshiro commented on #783
This report is missing the .movegens screenshot, however nim and I managed to reproduce it. Here's said screenshot: http://i.imgur.com/P6mMvHw.jpg

[2015-07-06 19:34] ccshiro commented on #802
As @JayDee81 says, I remember it working like this on retail as well. Not that memory is a good source. Either way, this claim needs some proof.