[2015-01-19 08:42] Sinergyy commented on #164
I forgot to mention that I started investigating this area as someone posted how they fell from the ground here. And watching at how you get feared from the terror totems, this is really possible.

[2015-01-19 09:08] FurioCC commented on #148
It should autohit clearly.
If you activated heroic strike, but before next atack happened, had spent range with some instant, like MS, heroic strike stays activated (white border) but dimmed due to not having enough rage, and then when swing timer comes just normal autoatack occurs and heroic strike is deactivates.
If after MS but _before next swing_ you gain enough rage through some way (for exam

[2015-01-19 09:25] FurioCC commented on #44
http://www.wowwiki.com/Seal_of_Command_(old)?oldid=1400972
"The actual attack made when Seal of Command procs is resolved as a separate melee special-attack that deals holy damage. It is resolved identically to any Instant Attack -- it can miss, be dodged, be parried, and be blocked, and will do double damage on a crit (rather than 1.5x damage as a normal spell crit would)."

It clearly states tha

[2015-01-19 09:29] braide commented on #44
Yeah as I thought. Ret/Sham has been stronger on private servers and people seems to think they're suppose to be. Double proc does not seem logical at all.

[2015-01-19 09:32] KuroiKensai opened #235 "Ability to drink while being on mount."
I was able to drink while I was mounted.

[2015-01-19 09:35] KuroiKensai opened #236 "New member in instance group get another version of instance"
This is kinda old private server's bug. When somebody is leaving group during instance and another one is invited - he can't join the same instance. He got new one while all other group remains in old. There some ways to fix this like relog, reset instance and so on, but this is really frustrating and need some investigation and fixes.

[2015-01-19 10:15] Winns opened #237 "[Mobs][Minor] Gan'arg Servant stuck in object, Hellfire Peninsula"
Just a minor bug.

[Gan'arg Servan](http://www.wowhead.com/npc=16947/ganarg-servant) stuck in object and can't attack.
http://i.imgur.com/N0oJaTI.jpg

[2015-01-19 10:17] FurioCC commented on #234
Might be that abilities that is not triggering GCD, are still waiting in update queue for server confirmation when you queue cast of the next spell, which results in server treating those casts as normal and then consuming buff retrospectivly.

[2015-01-19 10:31] KuroiKensai commented on #237
I think this is global bug, not just this one mob. Some problems with geodata.

[2015-01-19 10:35] braide opened #238 "[Spell mechanic][minor] Positioning of Shadowstep"
Shadowstep seems to put you ontop of your target in situations it can't put you behind them (like when they are faced towards a wall or cliff). If you are standing on a ledge with your back against the ledge a rogue shadowstepping you is suppose to put him behind you and hence make him fall off the ledge (currently the rogue seems to land at the same position as the target). I'm not sure how it wa

[2015-01-19 10:38] KuroiKensai commented on #111
https://www.youtube.com/watch?v=7Vy67FWLVB4
This is video from vanilla, but you can clearly see that there is "Night Elf cant use shadow meld in combat either" in description. I dont think Blizzard changed that at BC, but we can look at patch notes to be sure. And also I clearly remember that it works just like stealth - if you are hit by projectile - it will do damage and reveal your position.

[2015-01-19 10:49] KuroiKensai commented on #111
Got it:  Patch 3.0.2 (14-Oct-2008): Cooldown increased to 2 minutes, able to use in combat. Can no longer eat while in Shadowmeld. If you are eating and/or drinking and then Shadowmeld, you stop eating/drinking

So, verdict is:
- Shadowmeld cant be used in combat.
- Shadowmeld doesn't allow you to dodge already flying projectiles.
- Movement or damage will cause Shadowmeld to deactivate.
- You can

[2015-01-19 10:59] KuroiKensai commented on #238
Shadowstep should always put rogue to the back of the target unless it is literally impossible ( like example with wall ). This is main defence strategy when facing SS rogue at arena - to stay near the edge and force him to fall )

[2015-01-19 14:04] Suomussalmi commented on #44
So that means, the Ret will be underpowered on CC, cos AA wf hit is not strong at all and without any reduce healing debuff you won´t be able to kill Rdruid for exapmple. The next thing is, when i was dmging the dummies in Shatt on Corecraft test, i´ve dodged WF attack 5times in a row to the target. And the next issue, why paladin resisting Holy dmg to the target? I mean, you hit with SoC and what

[2015-01-19 14:08] kikomir commented on #168
I also played a rogue on the test and even though my latency was a constant 50-60 ms I found that sometimes all my abilities "lagged" a bit and at other times they worked just fine (cheap/kidney shot, shiv applying poison etc.) with no lagging. To me it seems it's more of an issue with server lagging rather than a core mechanics one but do test it out more thoroughly.

[2015-01-19 14:27] FurioCC commented on #44
Dunno where you took concept that Ret paladins supposed to dominate 2v2.
In any case this discussion doesn't belong here and you can close the issue.

[2015-01-19 15:31] brakez commented on #88
Kazzak's cleave radius is three times larger than a normal mob with cleave, and chains to others nearby if it hits a first target.  Is it possible that one of the players standing behind him wasn't far enough out from the (extremely large) cleave radius?

[2015-01-19 16:39] dmsolow opened #239 "earth shield healing puts shaman in combat"
If a resto shaman puts earth shield on an ally, and the ally enters combat and takes damage, the healing done by earth shield puts the shaman in combat.

I know that for a long time on live, earth shield healing was not credited to the casting shaman at all (so it would not show up in healing meters). I don't know how this worked in 2.4.3, but I'm certain that it didn't put the shaman in combat

[2015-01-19 16:44] dmsolow commented on #111
The above is correct, and it goes for rogue stealth and druid prowl as well (aside from movement breaking them). These are very important things to get right for PvP.

[2015-01-19 16:50] Oldwal commented on #207
I have played priest since 2005 and i cant remember ever pulling aggro when pulling with MC. As mentioned my experience with this is that the pack aggros the MCed mob and kills it (a mob killed this way should yield no loot).

[2015-01-19 16:51] FurioCC commented on #88
I'm totally familiar how his cleave supposed to work. We had only 3 melees tank included and our 2 rogues were standing exactly opposite of tank.
They said cleaves were happening only when Boss was turning to cast something.
**PS** accidently closed issue so reopened it.

[2015-01-19 17:00] KuroiKensai commented on #239
He is right.
Patch 3.0.2 (14-Oct-2008): Earth Shield threat is now added to the healer. Previously the threat was added to the target being healed.

[2015-01-19 17:13] effinamon commented on #67
I went back and tried it again, and it looks like phase shift is functioning correctly. Although the imp doesn't cast it right away (my recollection from retail is that it used to do so almost immediately).

Bloodpact did not work.

[2015-01-19 17:15] KuroiKensai commented on #207
Mobs within aggro range of an MCed target will regard it as hostile - they have no qualms over beating up a unit that was a trusted ally only moments before, so you can mind control something and let the surrounding 'linked' NPCs kill it. Note, however, that if the MCed target is freed from your control, they will once again regard it as a friend and will immediately seek another hostile target to

[2015-01-19 17:17] Oldwal commented on #207
I don't see how this adds something to the discussion. All this is already known.

[2015-01-19 17:24] KuroiKensai commented on #111
Agreed, same is true for slealth mechanics.

[2015-01-19 18:01] FurioCC commented on #207
It means that while mind controling you are not gaining additional threat towards surrounding NPCs.
It means that you are put into combat as result controlling NPC who is in combat himself, and that casting MC not viewed as action that causes global threat to nearby NPCs but only target itself.

Basicly MC situation treated by mobs like bodypull - suddenly 2 hostile entities apear on their threat

[2015-01-19 18:11] FurioCC commented on #111
Should deselection happen regardless even if stealthing/shadowmelding happens right in front of you and you see  stealthied person through stealth? Or due to level difference?

[2015-01-19 18:25] tedrasiel commented on #111
yes it should. if u still can see him u have to retarget him manually.

[2015-01-19 18:27] tedrasiel commented on #238
in arena the rogue isnt falling if theres a wall, only in positions where the rogue can acutally fall down (bridge for example).

[2015-01-19 18:29] tedrasiel opened #240 "[PvP mechanics] Shaman earthshild into combat"
im not sure about this! <- important

pls try it out again to get 100% proof.

It looked like shamans who casted earthshild on their mate in arena got infight (earthshild was casted on the mate before one of them was allready infight) when the mate with earthshield was attacked. That shouldn't happen.

[2015-01-19 18:51] Leolb commented on #168
Most private servers are very forgiving when it comes to melee range(or bugged?). It was very strict on retail and it can be seen any almost every pvp video at some point, perhaps someone could find one that displays is more clearly but I found some stuff:

https://www.youtube.com/watch?v=6cMJFN-eNRU Woundman 1 @ 2:56, 3:23, 4:18, watch in slowmo or frame by frame.. Happened 2+ times when his acti

[2015-01-19 19:12] vauhs commented on #193
We had a similar issue in H-Shattered Halls with the combat bug. Hunter could FD and mage could use invis to get out of combat, but once they got into combat again it would do the same. I figured out it was the pet that was doing it from the hunter. Hunter dismiss'd pet/resummoned, everyone alt f4'd to get out of combat and didn't have any issues after that. We tried alt f4ing before we dismiss'd

[2015-01-19 19:23] vauhs commented on #128
I used the exact macro originally posted and had no issues whatsoever, the only issue I see is you didn't change the "#" to your attack speed +1ms. Maybe that was the issue?

[2015-01-19 20:08] DeeMarie commented on #239
#240

[2015-01-19 20:10] DeeMarie commented on #240
Duplicate report of #239

[2015-01-19 23:13] ghost commented on #145
Further evidence, younger versions of that 2nd thread. Conflicting contradictory posts from retail. Well not really conflicting, just updated, since one is older.
And one should assume the later one to be more correct. Because patch, and more recent finding made it be !changed! when compared to the older thread.

http://web.archive.org/web/20080329010641/http://www.wowblues.com/us/tbc-shaman-faq-7

[2015-01-20 09:28] #240 closed, assigned to nobody

[2015-01-20 11:41] ccnim commented on #217
Fixed the timer but the rest was correct.

[2015-01-20 11:41] #217 closed, assigned to ccnim

[2015-01-20 11:45] ccnim commented on #228
The issue is in the npc_dr_boom script.

[2015-01-20 11:46] #227 closed, assigned to ccnim

[2015-01-20 11:48] #203 closed, assigned to ccnim

[2015-01-20 12:03] #219 closed, assigned to ccnim

[2015-01-20 12:12] #178 closed, assigned to ccnim

[2015-01-20 12:33] #155 closed, assigned to ccnim

[2015-01-20 12:36] ccnim commented on #104
Possible that it should take into account the model data.

[2015-01-20 12:59] SuddenDeath commented on #116
The shards/projectiles has got nothing to do with the damage, it's just an animation.

Didn't search much but I found some footage of both the mage & the receivers perspective.

Frame 1: *Blizzard castbar appears
Frame 2
Frame 3
Frame 4
Frame 5: Combat log "Noone gains Blizzard"
Frame 6
Frame 7
Frame 8
Frame 9
Frame 10
Frame 11
Frame 12
Frame 13
Frame 14
Frame 15 Combat log "You are affected by Bl

[2015-01-20 13:00] #202 closed, assigned to ccnim

[2015-01-20 13:11] #90 closed, assigned to ccnim

[2015-01-20 13:26] ccnim commented on #93
The lightning is bugged but everything else is working fine for me.

[2015-01-20 13:40] #100 closed, assigned to ccnim

[2015-01-20 13:45] Klimpb commented on #116
The shards/projectiles has got nothing to do with the damage, it's just an animation.

Didn't search much but I found footage of both the mage & the rogues perspective.

Acrono Shadowstep Tricks: (6:58)
https://mega.co.nz/#!HQcy1QJL!1pqzxU1F74H7s7w_cHsmc25xjOvzGYWDG7DyGIsY4nw

Frame 1 *Blizzard castbar appears
Frame 5 *Combat log "Noone gains Blizzard"
Frame 15 *Combat log "You are affected by Bli

[2015-01-20 13:58] #209 closed, assigned to ccnim

[2015-01-20 14:07] neltherya opened #241 "[Spirit of redemption] Prayer of healing"
Unable to cast prayer of healing while in spirit of redemption.

[2015-01-20 14:10] ccnim commented on #201
I'm a bit confused as to what you mean but, basically you can cast it on any target is that what you mean? Because there are many debilitated orcs spread out across the area with no shoulder pads that are kneeling.

[2015-01-20 14:13] netherspite commented on #201
There were some kneeled orcs who I was able to use cure on, but it didn't have any effect.
May be it was my bad though and they in fact had the shoulderpads.

Also there was no debuff on the orcs when I applied the cure even when I got the credit towards quest objective.

[2015-01-20 14:16] ccnim commented on #201
Ok, fixed a few issues that I noticed but nothing of the sort that you described, I'll keep trying.

[2015-01-20 14:21] ccnim commented on #201
Ok. I managed to find the bug and fix it.

[2015-01-20 14:21] #201 closed, assigned to ccnim

[2015-01-20 14:26] tedrasiel commented on #116
its really hard to find an expample for what i mean. But what im talking about is, that blizzard, like other aoe spells, takes some time until deadling actual dmg. u can see that in PvE too. Theres quite a "large" amount of time passing before these spells deal actual dmg. As i know it, and im pretty shure about it, (still searching for proof, not easy to find this situation) theres a chance for b

[2015-01-20 14:37] tedrasiel commented on #116
also, when talking about CC (CoreCraft) again, all it needed was the spell, the animation didnt even rlly started, i was sprinting towards the mage, i see the corner animation for a split second slightly behind the middle of the rogues model, i was sprinting. it shows <blizzard> and instantly unstealthed. i didnt took any dmg, and the skilled slow effec of blizzard (as everyone skilled it for some

[2015-01-20 15:21] #234 closed, assigned to nobody

[2015-01-20 15:26] ccshiro commented on #71
The following are ,ost likely duplicates, verify once this is fixed just in case: #106 #233 #234

[2015-01-20 15:26] #233 closed, assigned to nobody

[2015-01-20 15:27] #106 closed, assigned to nobody

[2015-01-20 15:52] Oldwal commented on #241
What i saw in an instance was also that the priest in spirit of redemption was "resurrected" as the spot he died with 1 hp and could not move. Basically it seemed very bugged.

[2015-01-20 16:31] Oops73 commented on #95
I can confirm this!

[2015-01-20 16:39] Oops73 opened #242 "Polymorph npc on mount"
I tried to sheep a npc. however the npc didn't unmount.

As seen in the screenshot the bloodward is sheep on top of the mount!

[2015-01-20 16:41] Oops73 commented on #242
The screenshot didn't work i will give a link instead!
http://i.imgur.com/jkOa41c.jpg

[2015-01-20 16:47] #55 closed, assigned to ccnim

[2015-01-20 17:23] Barroth opened #243 "[Hunter] Snake Trap"
The snakes only apply the posion to their main target, but they should target other unpoisoned targets within 8 yard range aswell.

"Snakes apply poisons with spit, not a melee attack (about 8 foot range). Also, if there are unpoisoned targets nearby, snakes will not melee, but will instead spit more poisons on that target, making snakes an excellent AoE boost"

http://www.wowwiki.com/Snake_Trap?o

[2015-01-20 18:15] #123 closed, assigned to ccnim

[2015-01-20 18:30] #135 closed, assigned to ccnim

[2015-01-20 19:08] ccshiro commented on #85
Barroth told me this is still bugged, so I will reopen this for now and check it later.

[2015-01-20 19:19] ghost commented on #93
A video where is shows how it should be, at around 7:00 forward.
https://www.youtube.com/watch?v=Al3Qyici4LA

Both the dead state, and the beam at the end.

[2015-01-20 20:19] DaRealBoss commented on #103
Pretty sure that this is blizzlike. I remember this happening in retail. You're supposed to wait for your partner to get out if you want him to get the queue. Have you any evidence that suggests this isnt blizzlike?

[2015-01-20 20:22] ccshiro commented on #236
We got 5 people in the instance, then one left and went out and the new guy invited could enter. Need more detailed instructions to reproduce this I think.

[2015-01-20 20:39] #197 closed, assigned to nobody

[2015-01-20 20:44] Barroth commented on #236
maybe it was the instance no found error, which some people got and could be fixed by a client restart

[2015-01-20 22:25] Bearmanpig commented on #104
According to the Wowhead comments (http://www.wowhead.com/npc=20898/gargantuan-abyssal#comments) no one was able to outrange the ability, or didn't report it. Everyone talking about the fireshield is implying that you weren't able to outrange it. Some examples from the comments:

"If your group doesn't mind, it may be a good idea to test the range of the fire shield & whether it can be spell stole

[2015-01-20 22:31] Bearmanpig commented on #236
I had some related problems when I joined a new group for HC Ramparts. Two other members of the party entered the instance while I was already in the group, but I was unable to enter when I arrived (error message: 'You are not eligible to enter this instance')

They removed me and reinvited me, I was able to enter the instance when I went in first, but the 2 party members that were originally insi

[2015-01-21 10:15] Schaka commented on #172
Lol 900ms+latency = kicking casts at the start and still not interrupting
That must've been fun

[2015-01-21 14:40] Argonn commented on #185
This XP modifier on % damage was added in Wotlk, as result of the 'fastest level 80' doing this trick with dungeons monsters and a team of 4 helping him. Getting him banned as result.
This was still in TBC.

[2015-01-21 15:08] r00ty-tc commented on #110
I had it happened to me a couple of times on retail. I cannot say if it was during 2.x or 3.x though. I don't think it happened for stuns etc. But any kind of silence or spell lock used to persist into SoR very annoyingly wasting a large portion of the buff.

[2015-01-21 15:21] Bwayzoe commented on #236
It would be helpful if the dungeon in question was mentioned by the OP.

[2015-01-21 15:45] Bearmanpig commented on #242
I hope this is not a bug, this looks hilarious!

[2015-01-21 20:16] ccnim commented on #151
Fixed the last bug and made him follow you but the script needs to be fixed so veneratus the many spawns. I think the issue lies in the script npc_veneratus_spawn_node.

[2015-01-21 20:47] Klimpb opened #244 "Nagrand arena doors stays visible after the game starts."
Doors should fade away about 5 seconds after the arena starts.

How it should look like:
![](http://i.gyazo.com/c5a378675df5bf4d1586ca222c876d75.png)

How it currently looks like:
![](http://i.gyazo.com/ef28e68ea2d6bfa57b2ca85b3f571cdc.png)

also, what is this?
![](http://i.gyazo.com/194da37629b2232fcbaee2893f7c1228.png)

[2015-01-21 22:13] Raiilan commented on #80
hmm maybe is something like hitting immune targets like in this old closed issue (maybe)

"shiv energy on immune"

https://github.com/ccshiro/cc-buglist/issues/24

[2015-01-22 03:19] Soyoen commented on #222
http://forums.penny-arcade.com/discussion/70707/wow-rogues-or-how-i-stopped-worrying-and-learned-to-facestab

Halfmex: "2. Gouge/Kidney Shot was parried/blocked, which it often was. Literally there were so many fights where BOTH fucking abilities would be parried/blocked, and you'd stand there going toe-to-toe with the mob, so yeah, time to Sinister Strike (you don't get Shiv until 70, so that did

[2015-01-22 07:10] Piranhaz commented on #148
Rulerx lol, when u need a source for THIS u better don't "help" bugtesting because it makes u look like u got no idea of this game.

[2015-01-22 12:40] ghost commented on #148
Are you claiming that you remember how the game should be from 10 years ago?

[2015-01-22 15:58] ccnim commented on #160
Script effect needs implementing. spellid: 36153.

[2015-01-22 16:23] #69 closed, assigned to ccnim

[2015-01-22 17:35] ccnim commented on #179
• Hydromancer Thespia
Worked fine for me on normal did not work on heroic however. Related to the issue we had with Nexus-Prince Shaffar?
• Slavemasters
Worked fine for me. Could you specify which mob?
• Mekgineer Steamrigger
His net should be channeled.
Shrink Ray has been tested and confirmed working.
• Coilfang Myrmidon
Cleave tested and confirmed working.
Added Sweeping Strikes to his repertoi

[2015-01-22 18:05] solowt commented on #148
Yes?

Heroic strike replaces an autoattack.  It's an on-next-attack ability that you queue up that adds damage to your next attack.  You don't lose that attack if your rage drops below a certain level between pressing the button and your swing timer finishing, you just don't cast heroic strike and get a normal white hit instead.

There is no other way it could possibly work.  This is clearly a bug

[2015-01-22 18:22] ghost commented on #50
I have spent 3 full days trying to find evidence that this is actually true since I thought I remember that I used those portals when TBC was retail. Apparently I was wrong because i did not find a single screenshot, video or post that ever spoke of using these portals. I even checked 2 other private servers (backtobasics and feenix), and both have these portals only for npc reinforcements. player

[2015-01-22 18:22] #50 closed, assigned to nobody

[2015-01-22 18:56] #107 closed, assigned to ccnim

[2015-01-22 18:57] ccnim commented on #180
This was a lot bigger than I expected. Seems like you cannot unlearn or learn Specialized smithing at the moment.

[2015-01-22 19:35] Ickler opened #245 "[Shaman]Healing Way stacks from multiple shamans"
As title says, Healing Way talent buff stacks without limits. 4 shamans can keep the buff up on same target and healing waves are healing for 7k non crits.

[2015-01-22 19:51] ShuTestCC commented on #241
Yes, forgot to report that one.

[2015-01-22 21:29] ccnim commented on #174
Could not reproduce the Commander Sarannis bug.

"Flower NPC's that come with Sunseeker Geomancer do not grow in size and damage over time"
could not reproduce this either, it worked as it should. On further inspection the mob is using a dated AI and this might've caused some bug so I will remake this mob in our current AI.

[2015-01-23 09:03] descendance commented on #179
About the slavemasters, it was those 2 solo patroling ones just before Mekgineer Steamrigger. There are groups of 2 up to 4 slaves and when we pulled the slavemaster he was next a group of 4 slaves but only 1 slave out of them aggroed us. If this helps in any way xD kinda hard to explain.

The warlord Kalithresh bug, i am not sure how i can help any more, we did not do anything special when fighti

[2015-01-23 15:49] Winns commented on #245
How it should work [WoWWiki](http://www.wowwiki.com/Healing_Way?oldid=1666065).

[2015-01-23 16:40] Winns opened #246 "Sending your pet in attack dont make you immune to sap"
Sending you pen in attack should make you immune to sap. [gif from corecraft](https://github.com/ccshiro/cc-buglist/issues/215)

**How its work**
Command your pet to attack target, while pet is still running to target but do not reach him yet you should be immune to sap, also you wont get "in combat" marker until pet start attack target.

This was one of the core warlock/hunter move against rogue

[2015-01-23 18:32] ghost commented on #148
if there's no other way it could possibly work, then it should be very easy to find evidence (from vanilla) of that being so.

[2015-01-23 19:49] ccnim commented on #196
Added fear immunity to all mechanical units.

[2015-01-23 19:49] #196 closed, assigned to ccnim

[2015-01-23 20:17] braide commented on #246
No, you're not immune to sap when you send your pet to attack. In TBC your immune when you gain combat, and you only gain combat when the pet actually lands an attack or spell. That is how it was s1,s2,s3,s4. The threads you have shown are from 2009 (which is WOTLK). And your experience is from s7 and foward, which again is not TBC.

[2015-01-23 21:14] solowt commented on #148
If this report gets tagged as "needs research" then I'd be glad to go look for a video.  But it won't, because we all know how this mechanic worked.

Please stop trolling.

[2015-01-23 22:35] Winns commented on #246
I did not find any confirmation that this mechanic was changed in WOTLK, found only this comment ["..it was discovered in TBC"](http://www.arenajunkies.com/topic/103477-3v3-warlock-sap-bug/#entry1375040). Gonna check warlock arena videos later.

[2015-01-24 08:29] ccnim commented on #232
Needs debugging.

[2015-01-24 09:14] ccnim commented on #226
The pet was unattackable and that's why it appeared as if the smash ability did no threat but in actuality he did no threat at all.

The charge was most likely due to you not having maxed your defense skill. It hit for 1200 around 10 times on a cloth wearer.

[2015-01-24 09:14] #226 closed, assigned to ccnim

[2015-01-24 10:40] ccnim commented on #174
Reimplented the Botanist so she should no longer bug out.

I can not reproduce the Laj bug, I'm guessing the server lag might've had something to do with it.

The warp splinter spell is a bit confusing but according to the spell data from the time and now, nothing has changed except for the damage. It is possible the spell changed during an early patch and then changed back again.

[2015-01-24 11:56] Thimtheslim commented on #161
Make a warrior on corecraft and another private server ~ level 60 - 62. You will find that you will take a lot more damage on corecraft. I can't remember taking this much damage on retail. On corecraft you can kill 2-3 mobs with full Nax/AQ40 geared fury warrior without drinking. On retail you could kill a lot more (5-7).
Need some more reports.

[2015-01-24 12:10] ccnim commented on #83
I cannot get her gossip to show when she is using the vendor npc flag. Could this be related to that battlemasters can't show gossip?

[2015-01-24 13:12] ccnim commented on #89
Check mob_zerekethvoidzone

[2015-01-24 14:47] MorbidMike commented on #246
braide is right. I remember actually sending my pet out to Devour Magic on Mages to prevent getting sapped. Simply sending it to attack would not do the trick.

[2015-01-24 18:19] solowt commented on #246
Braide is correct.  In TBC you could get into combat with your pet but it involved your pet actually taking damage, dealing damage, or casting a spell on an enemy player.

[2015-01-25 08:56] Isuel commented on #80
no, it happened to me both on players and on dummies and mobs (while i was questing)

[2015-01-25 09:31] vexxedd commented on #116
Second bug (de-stealthing with dot and having shield on) is wrong. This is how it SHOULD work. Blizzard implemented that feature only in Wotlk.

[2015-01-25 09:35] vexxedd opened #247 "[Warlock] Fellhunter spell bug"
![spell_nature_purge](https://cloud.githubusercontent.com/assets/10693653/5892987/fc0f1e6e-a4dc-11e4-8628-3b5e3a6ec333.png)
Devour Magic (Fellhunter spell) can be cast on friend/enemy even without any debuff/buff.
You should get the message "There is nothing to dispell" or something like this.

[2015-01-25 09:50] vexxedd opened #248 "[Rogue] Mind-numbing poison"
![spell_nature_nullifydisease](https://cloud.githubusercontent.com/assets/10693653/5891066/3094e7b8-a488-11e4-9332-b03e322f136e.png)
Rogue mind-numbing poison shouldn't affect global cooldown of the caster.

[2015-01-25 13:13] #144 closed, assigned to ccnim

[2015-01-25 15:05] tedrasiel commented on #116
theres something towards the way blizzard should work:

http://www.warcraftmovies.com/movieview.php?id=92583
1:40 - 1:46 , there u can see the time it takes to unstealth the rogue, this could also be because of the shield, but i dont know how the shield worked now in bc thanks to vexxed. maybe u can find patchnotes for that?

[2015-01-25 17:32] #64 closed, assigned to ccnim

[2015-01-25 18:28] #212 closed, assigned to ccnim

[2015-01-25 19:54] KuroiKensai commented on #246
Author is wrong. You are immune to sap only when you are in combat and when your pet is just running - you are not in combat and not immune. If author dont have videos from official 2.4.3 server proofing this of course. Even at the link he provided man clearly states: "it puts them IN COMBAT and they can't be sapped". Even if such thing really existed - this is obviously bug and abuse.

[2015-01-25 23:02] Klimpb commented on #246
I know that this existed pretty much through the entire wrath of the lich king because it was the most important thing when playing beastcleave for an enhancement shaman, get wolfs out and send them to attack and you would never get sapped since it put you in combat instantly. I assume it was the same with hunter/warlock pets.

I'm not sure if it was a bug or not though since it was quite a well k

[2015-01-25 23:24] solowt commented on #246
People sent in pets to get in combat in TBC.  But the pets actually had to reach the enemy or cast a spell on them.

[2015-01-27 12:40] ccnim commented on #77
Confirmed on retail.

[2015-01-27 13:03] #77 closed, assigned to ccnim

[2015-01-27 19:35] Pinhastest commented on #235
i remember this bug on other private server, i think it worked with a macro. Dont know if is the same bug KuroiKensai

[2015-01-27 21:27] ghost commented on #236
Did new member get invite before other person hearthed out/left instance, or while he was in loading screen? -> might be bug
Or did he try to enter dungeon before other person left the inside? -> normal non bug

Did old member die and logged out leaving corpse inside, and not release to ghost? -> bug that happens on some privates, akin to the people on fly mount remaining visually ingame and "fall

[2015-01-28 10:58] Devilblessed commented on #246
When you send your pet to attack you're not immune to sap. You are immune to sap when you ENTER combat just like all the other classes, and you enter combat when your pet reaches the enemy and attacks.

[2015-01-28 12:38] ghost commented on #248
sounds like an issue with all poisons?

[2015-01-28 16:33] Klimpb commented on #246
Proof: http://webmup.com/Bt5RD/ (look at his water on the actionbar)

This report is invalid.

[2015-01-28 16:35] Klimpb commented on #215
This report is most likely invalid.

Proof: http://webmup.com/Bt5RD/ (mage casted pet nova and it resisted, did not put the warlock in combat.. Not sure if it could have put ONLY the mage in combat, seems unlikely.)

Edit: now that I look at it.. Since the warlock casted spell lock with the felhunter at about the same time it makes it quite a bad example, I still believe this report is invalid tho

[2015-01-28 18:43] Stoney21 commented on #246
It's full of shit report. You get combat if you make an action with your pet on somebody AND ONLY THEN. No action = no combat. You can't get in combat by simply sending your pet to attack someone, you played too much on Smoldershit.

[2015-01-28 19:25] Winns commented on #246
SuddenDeath video start when warlock already sapped, do you have a full video ? "look at his water on the actionbar" - what do you mean by that ?

Stoney21 dont need to post here If you're incompetent in pvp mechanics.

This report here is to get a truth about _tbc_ combat mechanic, I have provided my facts that this move existed through whole _wotlk_, i want to see some facts or at least personal

[2015-01-28 19:58] Klimpb commented on #246
Winns by water I mean this:
![](http://i.gyazo.com/921d068bbd3330a5beb7910356f6c39d.png)

When it becomes unusable it is a sign of entering combat. Which did not happen until the felhunter actually casted spell lock on the mage.

[2015-01-28 20:18] Winns commented on #246
Ok i see, but combat state is displayed at player portrait (level) you dont need water for this.
This "unsappable" move work a bit different.

You wont get "in combat" marker until pet start attack, but you are already immune to sap when he is just run to target.

[2015-01-28 20:29] solowt commented on #246
Are you high?  Being in combat is what makes you immune to sap.  There's no separate mechanic to make you immune to sap but not in combat.

I don't know (or care) if this changed in wotlk+.  This is how it worked in vanilla and TBC.

[2015-01-29 04:02] somnu commented on #246
I actually remember what OP says and it was clearly happening in TBC, (warlocks somehow got into combat by just putting the pet to attack my ally who was 100% out of los of pet or lock) but I never bothered to understand how it worked back then. I just raged when they did it cause it was clearly an abuse of an already overpowered class and I'm happy it won't be implemented on corecraft. In wotlk i

[2015-01-29 16:52] ghost commented on #194
Other page with confirmation:
http://www.wowwiki.com/Breath?oldid=1432601
" It is a blue meter that has a duration of 60 seconds."
"The Forsaken can hold their breath three times longer than other races."

[2015-01-29 22:24] somnu commented on #248
What do you mean "sounds like an issue with all poisons", mind numbing is the only poison meant to slow cast speed, but it apparently also increases global cooldown.

[2015-01-30 13:26] Adunai opened #249 "[Racial] Mana Tap"
On CoreCraft, Mana Tap transfers mana from the target, decreasing the enemy's resource and increasing the caster's. It reads, however, "Reduces target's mana by X and charges you with Arcane energy for 10 min. This effect stacks up to 3 times." (http://wow.gamepedia.com/Mana_Tap).

This issue was first addressed by Hellground on September 27, 2014 (https://hellground.net/changelog/hellground-core/

[2015-01-30 13:27] Adunai commented on #249
Screenshot from CoreCraft (http://i.imgur.com/DF3ip5X.jpg).
Also, it works right, it's a magic buff but it can't be removed with the right-click (on Excalibur you can, I think, it's wrong, and you got it right).

[2015-01-31 10:53] somnu commented on #248
I came with some proof as this issue was really bugging me, seeing how on most private servers it never works properly: https://www.youtube.com/watch?v=IB7bUNWTlh4  - check the duel at 3:20

Also I believe this issue extends beyond Mind-Numbing to Curse of Tongues and Slow.

[2015-01-31 10:54] Danddelion commented on #249
So currently the issue with this is that if you use only Mana Tap you also gain some mana which you would normally gain only after using Arcane Torrent (http://www.wowwiki.com/Arcane_Torrent?oldid=1468718) after using Mana Tap (http://www.wowwiki.com/Mana_Tap?oldid=1422861), do I understand it correctly?

[2015-01-31 11:18] vexxedd commented on #246
Yes, but it was a bug. Back then, (guess it was 2008) there was some tournament (blizzcon?). Do you remember Inflame/Neilyo/Serennia lock/rogue/druid team? They also switch to some war/war/pala in random games. There was also funny video about Neilyo teaching some guy how to wrestling. Back to the point. Inflame was abusing that shit in whole tournament. Basically what you do was something like th

[2015-01-31 21:46] Adunai commented on #249
@Danddelion Absolutely right.

[2015-02-01 13:41] Stoney21 commented on #246
You are fucking retarded and you should kill yourself if you think you should get in combat by simply sending a pet on someone and befor it even HITS anything. That way you could target any rogue/druid as soon as arena starts and send your pet on them so they can't stealth. IT WOULDN'T MAKE ANY SENSE SO GET A BRAIN BEFOR REPORTING ANYTHING.

[2015-02-01 14:52] blastlol commented on #222
@Ickler "You can block kick for example, in which case kick should not interrupt your cast."
Soz but this is incorrect, coz u cant dodge/parry/block while casting non-instant spells

[2015-02-02 18:01] Bearmanpig commented on #110
I've been thinking, the 'stun' that the guy on WoWhead mentioned might be refering to pacify effects, like Gruuls shatter for instance. I can't see it happening to actual stuns like Kidney Shot or Cheap Shot, and the WoWhead post might simply be wrong on the stun part.

[2015-02-04 11:14] ghost commented on #249
Yes, the correct behaviour is for mana tap to give charges, and then the player has to use Arcane Torrent to get the resource depending on how many charges have been accumulated.

Mana tap itself should not give a resource to the caster.

[2015-02-04 11:16] ghost commented on #248
So what is the current behaviour? After it is applied, what happens to the caster?

[2015-02-04 11:19] ghost commented on #246
The sensible behaviour is for pet hostile actions to put owner in combat, 'pet attack' shouldn't count regardless of the state of TBC and when it was fixed by blizzard.

Someone might argue that this will tip the pvp balance away from pet teams. Well it's not game-changing bug that someone 100% needs to abuse in order to win. If they relied on abusing such bug then why would we care?

Yes, bugs ex

[2015-02-04 11:24] ghost commented on #245
gamebreaking bug, shamans are already OP, thinks makes them incredibly mana efficient.

[2015-02-04 11:26] ghost commented on #242
it's bug :)

[2015-02-04 11:31] ghost commented on #239
Ok, so you are reporting multiple bugs:

1) Earth shield healing gives threat to the shaman instead of to the shield target
2) If shield target and shaman are both out of combat and the target gets in combat and takes damage, then the healing event puts the shaman in combat
3) The healing event does not credit the shaman (so doesn't show up in healing meters).

For 1st I agree it's a bug, evidence

[2015-02-04 11:43] dmsolow commented on #239
You're wrong, it should not put the shaman in combat. 1 and 3 are not important bugs in my opinion.

Pulling raid bosses is irrelevant because that's a special case. During part of vanilla WoW, you could have some healers remain out of combat during a raid boss and rez people who died instead of healing. Forcing everyone into combat prevents this tactic.

Earth shield is sort of a weird spell. You

[2015-02-04 15:47] ghost commented on #239
Ok, I have found some videos to confirm it should not put the shaman in combat, it's from early wotlk but still https://www.youtube.com/watch?v=KYBu6M__Uvw#t=3m10s ; you can see the shaman drinking and the rogue getting healed by earth shield proccs

For 1, it is as equally as important because earth shield and prayer of mending were used in TBC for initial aggro gain in 5mans so are necessary mec

[2015-02-04 17:59] somnu commented on #248
Well in the previous test, I played a mage and dueled vs a rogue who kept using used mind numbing poison on me. What I noticed was that it didn't just slow the casting speed of frostbolt for example by 60%. It slowed my global cooldown of all spells including instants etc. by 60%, so essentially my spells that have a global cooldown would be available once every 2.4 seconds up from the normal 1.5

[2015-02-04 18:02] somnu commented on #246
I think vexxedd nailed it, and yes - it was a bug of course it was. "Fixing" stuff like this would be like purposely reintroducing exploits into the game, which isn't blizzlike, it's just dumb.

[2015-02-04 23:09] ghost commented on #50
i have 0 memories of these portals being usable

[2015-02-05 01:23] ccshiro commented on #230
Tested in-game, bid seems to work correctly. Namely:
- Bid does not give a confirmation window (it shouldn't, and that's client-side anyway).
- If bid amount equals buyout you get the same outcome as with buyout (i.e., no wait time).
- If bid amount is less than buyout you place a bid and the item stays in the AH, allowing other people to bid as well.

All of the above described is how it's intend

[2015-02-05 01:23] #230 closed, assigned to nobody

[2015-02-05 01:40] ccshiro commented on #223
Increased BG distance by another 30 yards.

[2015-02-05 01:40] #223 closed, assigned to ccshiro

[2015-02-05 01:44] ccshiro commented on #247
Other similar spells are checked client-side for that error message, which is what has led us to believe in the past that this is intended behavior.

[2015-02-05 01:55] #195 closed, assigned to ccshiro

[2015-02-05 01:57] ccshiro commented on #193
Please make different reports for differnet issues in the future.

I was unable to reproduce the combat bug.

The current workings of Kargath Bladefist's blade dance is correct.

[2015-02-05 01:57] #193 closed, assigned to nobody

[2015-02-05 02:04] ccshiro commented on #188
Need more instructions, cannot make this happen.

[2015-02-05 02:09] ccshiro commented on #172
What @SuddenDeath, @Lobogo and @Barroth said.

[2015-02-05 02:09] #172 closed, assigned to nobody

[2015-02-05 02:12] ccshiro commented on #168
What @Leolb says about your action bar being able to claim you're in range but the server disagreeing (and it being common back in vanilla/tbc) is correct. However, in this case it was caused by a resource leak in the server making it gradually more and more unplayable over time.

[2015-02-05 02:12] #168 closed, assigned to nobody

[2015-02-05 02:15] #157 closed, assigned to nobody

[2015-02-05 02:16] ccshiro commented on #154
I think this was probably caused by the server lag we had. Going to close it, please feel free to repon if it persists next test.

[2015-02-05 02:16] #154 closed, assigned to nobody

[2015-02-05 02:19] ccshiro commented on #151
@ccnim no script with that name exists.

[2015-02-05 02:19] ccshiro commented on #149
What @SuddenDeath said.

[2015-02-05 02:19] #149 closed, assigned to nobody

[2015-02-05 02:25] ccshiro commented on #128
I'll close this if no issue seems to exist?

[2015-02-05 02:25] #128 closed, assigned to nobody

[2015-02-05 02:28] ccshiro commented on #110
@Bearmanpig thank you for the research.

[2015-02-05 02:28] #110 closed, assigned to nobody

[2015-02-05 02:31] ccshiro commented on #96
Probably the same bug as #141. This report was made before the other, but the other's title I think is closer to the root of the problem, so I'm leaving it open instead. Thanks for the report.

[2015-02-05 02:31] #96 closed, assigned to nobody

[2015-02-05 09:11] jezbelle commented on #246
Hold up. Just so you guys know- the icon of the water in the picture is for WATER OF THE STARS. Works a little differently than regular water in arena possibly. Maybe not. I just wanted to throw that out there.

[2015-02-05 13:24] ghost commented on #216
any idea which pack is that? it may be incorrect linking behaviour

[2015-02-05 13:36] ghost commented on #158
dont get your hopes up, blizz also had this problem for a long time

[2015-02-05 17:41] #242 closed, assigned to ccshiro

[2015-02-05 18:16] #160 closed, assigned to ccshiro

[2015-02-05 18:21] ccshiro commented on #137
Need further instructions of how to reproduce.

[2015-02-05 21:48] #150 closed, assigned to ccshiro

[2015-02-05 22:14] ccshiro commented on #139
Some spells are purposely kept in trainers that shouldn't be for testing. This will be changed before release.

[2015-02-05 23:45] #97 closed, assigned to ccshiro

[2015-02-06 02:19] solowt commented on #246
Star's Tears work the same as normal water except normal water (except mage water) can't be used in  arenas.

[2015-02-06 02:35] #95 closed, assigned to ccshiro

[2015-02-06 12:34] ccnim commented on #161
All mobs have been fixed and therefor do more damage as a result. Maybe you forgot to .maxskill yourself and ran around with low defense skill?

[2015-02-06 14:23] #81 closed, assigned to nobody

[2015-02-06 14:28] ccshiro commented on #62
Same bug as #46.

[2015-02-06 14:28] #62 closed, assigned to nobody

[2015-02-06 14:33] ccshiro commented on #43
Unable to reproduce. Need more instructions.

[2015-02-06 14:54] #72 closed, assigned to ccshiro

[2015-02-06 15:02] ccshiro commented on #68
This is an issue I had happen to me as well. But now I can't reproduce it. It's possible it got fixed as part of another change, I suppose. Before it happened to me a lot (I thought it was every time), now I've tried some 20 times without getting it. I'll close it for now. If it happens again, please reopen this.

[2015-02-06 15:02] #68 closed, assigned to ccshiro

[2015-02-06 15:49] ccshiro commented on #249
Decided to look for some proof. Here are a collection of stuff I found:

https://www.youtube.com/watch?v=arTztUW2pok#t=95 at 1 min 35 secs: This one is strange, he neither gains mana by the tap, nor does the target lose any.
https://www.youtube.com/watch?v=TngyVZB2qIE#t=42 at 42 secs: In this one the target loses mana, but the caster gains none.
https://www.youtube.com/watch?v=FJXdXvLh4LM#t=30 at

[2015-02-06 15:53] #249 closed, assigned to ccshiro

[2015-02-06 16:54] shadowraider commented on #188
this sometimes happens on private servers........... when you dont move for a while (being afk) you can still see chars close to you........ happens to me when i minimalize wow to tray, also i see them running in place like being in lag

[2015-02-06 17:45] ghost commented on #249
why close?

in none of the videos you linked it's obious that the target does _not_ lose mana
also, the caster gaining mana is w r o n g, which is why you cant see that behaviour in TBC videos; however, on CC the caster gains mana which is a bug

did you just mean that you have fixed the issue?

[2015-02-06 17:53] ghost commented on #95
why close? the buyback option should be available for the items most recently sold to the vendor

did you just mean that you have fixed the issue?

[2015-02-07 02:44] ccnim commented on #249
That's indeed what he meant.

[2015-02-07 02:45] meowmewo commented on #246
http://www.arenajunkies.com/topic/103477-3v3-warlock-sap-bug/#entry1375040
http://www.arenajunkies.com/topic/79011-death-knight-evading-sap/
http://www.skill-capped.com/forums/archive/index.php/t-2749.html

It seems it really was like that back in TBC and early Wrath .Read everything, From what i understood is that if ur pet is on the way u cant be sapped BUT ur not in combat as well.If a healer i

[2015-02-07 02:49] solowt commented on #246
All of those posts are from early wrath.

[2015-02-07 02:49] meowmewo commented on #246
i told u Read everything all comments.READ

[2015-02-07 06:42] Iliana-sc commented on #95
it's tagged as bug and closed so that means it's fixed. otherwise it would be tagged as invalid and closed.

[2015-02-07 08:40] #139 closed, assigned to nobody

[2015-02-07 21:08] Klimpb commented on #248
2.4 patch notes:

Spell Haste: Spell haste now reduces the global cooldown on spells, down to a minimum of 1 second. This change does not apply to melee and ranged abilities.

perhaps the opposite would increase global cooldown?

Also the video you linked Somnu says in the description that all the footage when the default blizzard actionbars were used was patch 2.3

[2015-02-07 22:02] vexxedd commented on #248
Electric current kill people, so may be Voltage will bring them back to life.
Stop talking nonsence. This is not how it should work.

[2015-02-07 23:35] Klimpb commented on #248
I'm not saying that I know how it is... I'm just pointing out that there's a possibility.

I have no clue.

[2015-02-08 02:09] ghost commented on #248
For reference:
http://www.wowwiki.com/Cooldown?oldid=1563277
http://www.wowwiki.com/Casting_Speed?oldid=1571729

"Certain debuffs, such as Curse of Tongues or Mind-numbing Poison) can decrease your casting speed."

http://www.wowwiki.com/Mind-numbing_Poison_(item)?oldid=1419334
" increasing their casting time by X% for 10 sec"

Haven't found any mention of increase in Global Cooldown by poisons ye

[2015-02-08 11:07] Metzalon commented on #216
It was the pack right after the bridge somewhere at the start of the instance.

[2015-02-08 15:48] ccshiro commented on #52
They should all be changed to DB instead, if possible.

[2015-02-08 15:56] ccshiro commented on #44
There needs to be some sort of evidence or basis provided for us to start investgiating claims like these. How it works on other servers notwithstanding.

[2015-02-08 15:56] #44 closed, assigned to nobody

[2015-02-08 16:10] ccnim commented on #42
This is a screenshot from current retail showing the same issue.
http://imgur.com/lLfDcka

[2015-02-08 16:10] #42 closed, assigned to nobody

[2015-02-08 16:58] #47 closed, assigned to ccshiro

[2015-02-08 18:07] #245 closed, assigned to ccshiro

[2015-02-08 18:34] #241 closed, assigned to ccshiro

[2015-02-08 18:48] ccshiro commented on #218
@ccnim The event toggles their unit flags once it's been started the first time, but the initial flag state when they're spawned is better set in the DB as it's GUID dependent.

[2015-02-08 18:52] ccshiro commented on #186
Need further instructions of how to make this bug trigger.

[2015-02-08 19:06] #194 closed, assigned to ccshiro

[2015-02-08 21:12] FurioCC commented on #186
All i recall from that Ramparts normal run is that we all were 60: 2 mages - Piranhaz and another one, i think some hunter and warrior tank with me healing on resto druid. I noticed this bug happening around area of the first boss, but by that time we had a trail of corpses behind us already and some of them were glimmering but couldn't be looted. Were able to notice this thanks to #184.
Sometimes

[2015-02-08 21:49] #176 closed, assigned to nobody

[2015-02-08 23:19] Bearmanpig commented on #143
I don't think the bar is supposed to appear, since the MC'd target counts as your pet. Your Breath Bar is controlled client side as far as I know and is never shown for pets, only for your own character.

From my own experience (and I've done this a LOT in vanilla and TBC) I never used to get a bar either for my targets. What would happen anyway if you (the caster) and the target are under water a

[2015-02-09 04:32] PatchnotesTBC opened #250 "Item stats are not correct"
http://eu.battle.net/wow/en/game/patch-notes/2-1-0

Under items:
-The majority of level 70 epic items have been upgraded to reflect their intended power.
-Armor: All Burning Crusade items that spent part of their budget on increased armor have been re-evaluated. Some gained additional armor, while others gained other additional bonuses.

http://forum.nostalrius.org/viewtopic.php?f=2&t=603 <-- They

[2015-02-09 04:32] PatchnotesTBC opened #251 "Engineering Goggles available should not"
http://eu.battle.net/wow/en/game/patch-notes/2-1-0

-11 new epic goggles have been introduced at 350 engineering skill and are available from the trainer. They range from cloth to plate, and have a variety of stats to appeal to most talent specs.

Should not be able to train these from the engineering trainer until BT is released.

The stats on them are stronger then T4

[2015-02-09 04:32] PatchnotesTBC opened #252 "Transmute CD incorrect"
http://eu.battle.net/wow/en/game/patch-notes/2-1-0

-Cooldown time on Earthstorm and Skyfire Diamond transmutes has been reduced to 1 day.

Use to be 48 hours pre BT.

http://www.wowhead.com/item=25867/earthstorm-diamond#comments - Second comment.

[2015-02-09 04:40] PatchnotesTBC opened #253 "No cyclone in nagrand arena"
I remember that there was a cyclone on pre BT patch in nagrand arena and the server do not have it when i did arena during a test while back.

http://www.wowwiki.com/Ring_of_Trials

[2015-02-09 04:41] PatchnotesTBC opened #254 "Ruins of lordaeron in the arena cycle"
It was added in 2.1 and i got to play it during a test a while back. You should remove it

[2015-02-09 04:43] PatchnotesTBC opened #255 "Druid can get epic fly form, They should not"
http://eu.battle.net/wow/en/game/patch-notes/2-1-0

-The Druid Epic Flight Form is now available through a series of quests.

[2015-02-09 04:49] PatchnotesTBC opened #256 "Incorrect NPC in Shattrat is spawned"
http://eu.battle.net/wow/en/game/patch-notes/2-4-0

-A representative of the Keepers of Time has been spotted at the World’s End Tavern in Shattrath. Players in good standing with the faction will be granted ease of passage to the Caverns of Time.

This NPC was added on sunwell release.
http://www.wowhead.com/npc=25967/zephyr#comments <-- should be removed

[2015-02-09 04:51] PatchnotesTBC opened #257 "WSG flag mechanics are incorrect"
http://eu.battle.net/wow/en/game/patch-notes/2-4-0

Warsong Gulch

[code]

incorrect for a 2.0 release

[2015-02-09 06:47] FurioCC commented on #255
Please tell me you are trolling, quest line wasn't avaliable during test.
Or are you just shitposting with random stuff that was added in 2.1 without actually checking it?

[2015-02-09 06:48] FurioCC commented on #250
Was stated that item stats/talents/ability interactions/etc going to be as of 2.4.3 state.

[2015-02-09 10:50] Whatsthis880 commented on #257
https://www.worldofcorecraft.com/content/faq-frequently-asked-questions
Q3:
"The game will be running 2.4.3."

[2015-02-09 14:14] ccnim commented on #250
As FurioCC pointed out.

[2015-02-09 14:14] #250 closed, assigned to nobody

[2015-02-09 14:16] ccnim commented on #256
Has already been removed.

[2015-02-09 14:16] #256 closed, assigned to nobody

[2015-02-09 14:17] ccnim commented on #254
We decided to keep it in for more variety in arena play.

[2015-02-09 14:17] #254 closed, assigned to nobody

[2015-02-09 14:49] #255 closed, assigned to nobody

[2015-02-09 14:50] ccshiro commented on #253
Nor are they intended to.

[2015-02-09 14:50] #253 closed, assigned to nobody

[2015-02-09 14:51] ccshiro commented on #257
Flags work as we intend them to at the moment. Please don't create issues without having played on the server. Citing random patch notes is not useful.

[2015-02-09 14:51] #257 closed, assigned to nobody

[2015-02-09 14:54] ccshiro commented on #251
This has already been stated as our intent. Please don't create issues citing random patch notes. If you want to discuss stuff like this come join us on irc. The bugtracker is for issues found during testing.

[2015-02-09 14:54] #251 closed, assigned to nobody

[2015-02-09 14:54] ccshiro commented on #252
Please don't create issues citing random patch notes. If you want to discuss stuff like this come join us on irc. The bugtracker is for issues found during testing.

[2015-02-09 14:54] #252 closed, assigned to nobody

[2015-02-09 15:13] ccshiro commented on #183
Freezes are not really dependent on the mobs themselves from what it seems (e.g. I can pull these two without freezing). We are aware there are freezes though, but have not had the time to figure out why. As such I will close this as invalid, but we're still going to debug and try to figure out why freezes do happen in general.

[2015-02-09 15:13] #183 closed, assigned to nobody

[2015-02-09 17:09] #67 closed, assigned to ccshiro

[2015-02-09 18:06] Dailybs commented on #43
It was like this I activated some aspect (my place was exactle near big naaru guy -A'dal ? in the middle of Shattrah and was walking sideways while activating)from my hunter talents and the game glitched and I fell through, maybe some hacker lagged server idk ?

[2015-02-09 23:29] #244 closed, assigned to nobody

[2015-02-10 00:48] #148 closed, assigned to nobody

[2015-02-10 01:00] #75 closed, assigned to nobody

[2015-02-10 15:33] ccnim commented on #235
Need more information. What water, what mount, where were you and so on.

[2015-02-10 15:50] Klimpb commented on #235
He probably means he pressed the drink & mount key at the same time, so your character starts to drink while casting the mount and remains drinking while not moving when mounted?

[2015-02-10 15:52] #121 closed, assigned to ccshiro

[2015-02-10 15:55] ccshiro opened #258 "Target destination spells with travel time do not select targets properly"
As described in #228. Target selection happens on cast not impact, this causes erroneous behavior with this type of spell.

[2015-02-10 15:56] ccshiro commented on #228
Looks like the tiny bombs are handled by the DB, they're not in the script.

Also I made a new issue for the other bug you reported (one report per issue, please):

[2015-02-10 16:15] ccnim commented on #164
Going to make a new report for the last bug.

[2015-02-10 16:15] #164 closed, assigned to nobody

[2015-02-10 16:16] ccnim opened #259 "Umbrafen Witchdoctor drops runecloth"
Umbrafen Witchdoctor (http://www.wowhead.com/npc=20115/umbrafen-witchdoctor) should drop Netherweave Cloth with a 76% chance of dropping, but instead it gaved me 2x Runecloth. And if you check the mob in wowhead, they should not even drop runecloths like at all.

[2015-02-10 17:51] #184 closed, assigned to ccshiro

[2015-02-10 18:06] ccshiro commented on #177
Looked at what happens. The communication goes something like this:

[code]

Which makes me think this could be a bug that exited on retail too, or maybe there's some extra communication details missing. Given you can like walk a yard away and it solves itself I'm not willing to spend hours debugging it. Aka, won't fix this.

[2015-02-10 18:06] #177 closed, assigned to nobody

[2015-02-10 19:31] #89 closed, assigned to ccshiro

[2015-02-10 20:41] #56 closed, assigned to nobody

[2015-02-10 21:45] #46 closed, assigned to ccshiro

[2015-02-11 00:01] #163 closed, assigned to ccnim

[2015-02-11 09:49] Bugreporta commented on #103
First of all, you aren't able to queue if your teammate is in the previous arena, which is working just as it should, you are however able to queue when they are in loading screen, that's when this bug happens.

I played arena for 1 day on Corecraft; i played arena for more then a year back in TBC, including arena tournament i don't remember ever having this issue appear several times during one d

[2015-02-11 11:33] somnu commented on #248
It didn't change from 2.3 to 2.4 man. I mean come on this is wow we're talking about, people would've whined. You were never able to increase your GCD on retail. It's probably a mangos stock bug that gets overlooked on most private servers, I'm assuming it should have a cap with 1s - 1.5s being it's border values.

[2015-02-11 12:05] Brumeux commented on #246
Why are you guys bashing on him ? It's not a bug that use to happen on retail server. I have no idea about tbc but it has been like that whole wotlk. Do you think it would have stayed this way that long if it was a bug ? No, it was clearly intentional. It wasn't an abuse nor anything, anyway most locks didnt know that.
And just to clarify: NO it wouldn't put you in combat until the pet actually re

[2015-02-11 13:30] somnu commented on #248
Ok so I searched and found some footage from 2.4.x. The only time he has a cast slowing effect on him is in a rogue duel, when he was poisoned with mind numbing. I took the time to slow the footage down so it can be better seen here: https://www.youtube.com/watch?v=hE7KIc1yE8g&feature=youtu.be

Hint: Look for the time his blastwave cooldown(the 9th spell on his top action bar) matches his button p

[2015-02-11 17:15] ccshiro commented on #259
Wowhead seems a bit unreliable for this, for example I was sure this mob should drop runecloth:
http://www.wowhead.com/npc=18952/bonechewer-scavenger
But it's not listed. The mob right next to it does drop runecloth:
http://www.wowhead.com/npc=19701/bonechewer-evoker

Trying on retail wowhead seems to be correct for the current game version, but it'd require more research. Our current formula is b

[2015-02-11 17:15] #259 closed, assigned to nobody

[2015-02-11 17:44] ccshiro commented on #258
I had a technical concern with running into grenades, which would be difficult to implement. Retail testing, however, seems to indicate you can run out of grenades, but not into them, which solved that concern.

[2015-02-11 20:07] ccshiro commented on #258
Looked at the networking side of things, and realized that's not even possible. So I made nim log on retail again and we tried some more. Turns out when testing both cases meticulously you can't run into it (which we concluded last time, but this time I managed to run into the absolute dead-center of the engineering bomb and still not get hit). We also realized we were wrong last time; you can't r

[2015-02-11 20:07] #258 closed, assigned to nobody

[2015-02-11 20:11] #215 closed, assigned to nobody

[2015-02-11 20:55] Klimpb commented on #103
My memory of retail is that you couldn't queue when your partner was in the arena, but as soon as he was on the loading screen that takes him out of the arena, you were able to queue and your partner would get the queue too.

I remember this quite well because I was on a shitty pc so the loading screens took forever. When I got out of arena the pop for the next arena was already up on my screen an

[2015-02-11 22:04] ccshiro commented on #213
Unable to reproduce. Need more instructions.

[2015-02-11 22:07] ccshiro commented on #235
Tried making a macro, was able to reproduce it with this kind of macro:

[code]

[2015-02-11 22:35] #235 closed, assigned to ccshiro

[2015-02-11 22:59] #166 closed, assigned to ccshiro

[2015-02-11 23:10] ccshiro commented on #161
Did some debugging, swing timer seems to work as intended.

[2015-02-11 23:10] #161 closed, assigned to nobody

[2015-02-11 23:13] ccshiro commented on #167
We're aware that this event is not implemented. The reason being it's rather complex to do. Moving this to Low Priority for now.

[2015-02-11 23:21] ccshiro commented on #165
Couldn't get them stuck. Need more instructions. A video that demonstrates how to reliably reproduce it would be most useful.

[2015-02-12 01:50] ccshiro commented on #204
The mob is over-ground when I went to him just now and aggroing him/resetting him doesn't seem to cause this. Need further instructions on how to get him into the ground.

[2015-02-12 14:17] lorino commented on #247
I remember that when I played my warlock back on tbc retail, I had devour magic on autocast and was always on cooldown, even if nothing was to dispel. The tooltip says:
"Purges 1 harmful magic effect  from a friend or 1 beneficial effect from an enemy.  IF AN EFFECT IS DEVOURED, the Felhunter will be healed for 915 (rank 6)"
So Devour magic is not like Priest Dispel Magic or Paladin's Cleanse, whi

[2015-02-12 15:04] vexxedd commented on #247
I will prove, that you are talking bullshit, as soon as I get home with billions of retail videos.

[2015-02-12 16:00] Klimpb commented on #247
The "if an effect is devoured" part probably refers to if the spell would miss/resist.

Proof: http://webmup.com/A7GSe/ (watch in full screen)

@ 0:07-0:11 watch his focus target gaining the shadow trance buff and the pet literally instantly(same frame) dispels the target.
This proves that if devour magic is on auto-cast and there are no buffs to dispel on the target, the pet won't cast it. But th

[2015-02-13 03:03] #199 closed, assigned to ccshiro

[2015-02-13 04:11] #109 closed, assigned to ccshiro

[2015-02-13 20:18] ccshiro commented on #247
@SuddenDeath Note that the report is only about when you manually press the spell. The auto-cast AI indeed only uses it if there's something to dispel (but that already works as such).

[2015-02-13 20:38] ccshiro commented on #243
@ccnim should be fixable in the DB me thinks.

[2015-02-13 20:52] ccshiro commented on #208
The rank does seem to behave strangely, will check through the code.

[2015-02-13 21:24] ccshiro commented on #53
You never blink "through" anything. When you use blink you're instantly moved, there's no in-between states. The only way this could happen is if the mob got close enough before the blink or after it. Unless I'm misunderstanding the report, this bug is not possible to trigger. Most likely this was just a bi-effect of the server-lag we had last test.

[2015-02-13 21:24] #53 closed, assigned to nobody

[2015-02-13 21:33] ccshiro commented on #41
I'm unable to reproduce this. However, it sounds on your report as if you were able to jump through terrain or a building with pure movement (as opposed to a spell that relocates you) then that's a client-side bug and not one we can fix. If it's involving only movement with static terrain/buildings the server has no say in how it plays out.

[2015-02-13 21:33] #41 closed, assigned to nobody

[2015-02-13 21:41] #93 closed, assigned to ccnim

[2015-02-13 21:45] #83 closed, assigned to ccshiro

[2015-02-13 22:27] ccshiro commented on #115
@ccnim spell_chain is wrong for these spells (note: check other AoE buffs too in case they have the same stuff).

[2015-02-13 23:58] Klimpb commented on #247
@ccshiro hmm, could be quite difficult finding proof for that though. I'll look around a bit.

[2015-02-14 17:23] ccnim commented on #115
Corrected the spell_chain but you cannot override Prayer of Spirit rank 1 with Divine Spirit rank 5.

[2015-02-14 17:39] #228 closed, assigned to ccnim

[2015-02-14 19:50] #218 closed, assigned to ccnim

[2015-02-14 21:54] harbie commented on #247
This well be hard to find, but I do remember that if you use devour magic on a party member it'll put them in combat (if your in combat obviously). So, if you vs RD as LD and your druid is blinded and rogue is going to sap then you could devour magic, but I don't ever remember this happening you had to predict when rogue going to blind and bear form it. So, I think it is supposed to say there is n

[2015-02-15 14:24] ccnim commented on #134
https://www.youtube.com/watch?v=uqil91lzNV4#t=256 Another video showing this but on a mob instead.

[2015-02-15 15:40] #105 closed, assigned to ccnim

[2015-02-15 23:15] ccshiro commented on #248
Debugged it, my global cooldown as a mage did not increase (stayed at 1.5 secs) with a rogue putting mind-numbing on me. Needs further testing.

[2015-02-16 00:54] #181 closed, assigned to ccshiro

[2015-02-16 13:13] Klimpb commented on #247
Patch 1.10.0 (28-Mar-2006): All spells/abilities that remove existing effects (e.g. Dispel Magic, Cleanse, Remove Curse etc...) will now verify that there is an effect that can be removed before casting.

Anything changed since then?

[2015-02-16 13:24] somnu commented on #248
Gj, I really like that you guys take the time to listen and go into depth with this kind of stuff, cause it's this kind of stuff that sets you apart.

[2015-02-16 15:00] ccnim commented on #243
https://www.youtube.com/watch?v=60To4LaFt90 snakes apply mind-numbing poison to non-mana targets.

[2015-02-16 15:25] #208 closed, assigned to ccshiro

[2015-02-16 16:12] #224 closed, assigned to ccshiro

[2015-02-16 17:27] #134 closed, assigned to ccshiro

[2015-02-16 21:51] #132 closed, assigned to ccshiro

[2015-02-16 22:12] #103 closed, assigned to ccshiro

[2015-02-17 02:43] ccshiro commented on #122
Probably the same bug as reported in #92.

[2015-02-17 02:43] #122 closed, assigned to nobody

[2015-02-17 02:44] ccshiro commented on #92
Note to self: check #122, #124 and #146 as well.

[2015-02-17 02:51] ccshiro commented on #76
Works fine for me.

[2015-02-17 02:51] #76 closed, assigned to nobody

[2015-02-17 16:47] Lephidiles commented on #153
I wrote this a little bad... When you cast the next spell on Bonechewer Raider it will start attacking you if you chain pull it other vice it will just stand there until it despawns (The pictures show this just figured i update the text)

[2015-02-17 18:48] #243 closed, assigned to ccnim

[2015-02-17 23:47] exltus commented on #104
No you cant avoid it. I found one video where is rogue standing really far from mob and is beeing atacked. At 3:16-17 you can even see, that rogue is attacked in stealth when he is surely still too far to melee attack. https://www.youtube.com/watch?v=xb17AVMI1P8#t=187 If you watch this short video closely you will se more reasons, that are showing, that you cant hide to this spell if you are melee

[2015-02-18 01:08] ccshiro commented on #237
Duplicate of #192 most likely.

[2015-02-18 01:08] #237 closed, assigned to nobody

[2015-02-18 01:10] ccshiro commented on #210
The formula for stealth and vanish is correct (we implemented that just a few months back after a lot of research), but the effect of both of them is behaving oddly atm when I'm testing.

[2015-02-18 01:13] ccshiro commented on #185
@Barroth we nerver implemented this (we did discuss it though).

Some research about how it worked, and if it was in fact a thing in TBC needed (my memory is hazy, but I think there was a period when it didn't exist, we used to do xp grinding with high levels in SM at some point in time).

[2015-02-18 01:30] ccshiro commented on #60
Restarted the server several times and tried various things, couldn't get the bug to happen.

[2015-02-18 01:44] exltus commented on #247
I found one discussion from april 2008, where are talking about this topic. There is clearly said ' "Nothing to dispel" message occurs if you use devour magic. [link](http://wow.joystiq.com/2008/04/24/blood-pact-tanking-leo/) Next I found a lot of cata discussions, where are talking about it too. You can read a lot about "Nothing to displel" call in this discussions :
[link](http://us.battle.net/w

[2015-02-18 01:44] ccshiro commented on #59
Unable to reproduce this but I'm fairly confident of what's happening so I'll make a patch based on that.

EDIT: Reopen again if it turns out I was wrong.

[2015-02-18 02:12] #59 closed, assigned to ccshiro

[2015-02-18 02:13] exltus commented on #185
very easy answer. I mined backup of [mentioned ](http://www.wowwiki.com/Formulas:Mob_XP) wiki page  [from july 2007](http://web.archive.org/web/20070717103946/http://www.wowwiki.com/Formulas:Mob_XP#Two_Character_Groups) (1 ,month before release wotlk) In this backup is lot of informations, mainly in paragraphs 7, 9 and 9.1 I think, that it is fully answering to your question

[2015-02-18 11:57] exltus commented on #246
[here](https://www.youtube.com/watch?v=5Ixfivc3AoU#t=54) is video, that is showing warlock sending his pet and you can clearly see, that he is not getting combat for almost 5 secs. Pet even casted Devour Magic, that was reflected and even it did not put warlock in combat. So this issue is fully INVALID

[2015-02-18 12:20] exltus commented on #143
No you don't see breathing bar. I was doing this a lot in AB on retail and breath bar was never there. I found (video)[https://www.youtube.com/watch?v=WN-xySlgzQI#t=152] where are using mind control to drown enemy in lava (I don't remember, if you have breath bar in lava, but i suppose yes) and you don't see any breath bar here.

[2015-02-18 16:06] ccshiro commented on #153
@ccnim Both of these mobs summon units with the assist summoner boolean set to false.

EDIT: Nvm, saw it wrong. It's actually the core derping it.

[2015-02-18 16:53] #145 closed, assigned to ccshiro

[2015-02-18 17:12] #129 closed

[2015-02-18 19:32] Barroth commented on #185
https://www.youtube.com/watch?v=3NsVuRePVJ They have pala pull the whole instance, with the low-level player and a high level mage in his group. The mage then leaves the group, the pala starts dpsing the mobs down to 30%. Then the pala leaves the instance, the mage finishes the mobs and the low level player who's still in the pala's group.

I think this indicates, that the group of the low level p

[2015-02-18 21:16] exltus commented on #185
I was leveling all my alts on retail on TbC this way: for example in Stockade - I pulled whole dungeon with my prot palla, but did not do any dmg. Next I healed myself few times to make some threat. Next I leave group with pala and makes low AoE dmg with my alt. Mobs were still attacking my pala but mobs was "grayed" for him. Next I killed all mobs with pala and my alt gained 100% of experiences e

[2015-02-19 01:06] #210 closed, assigned to ccshiro

[2015-02-19 09:03] Barroth commented on #153
could be sth similar to creatures not attacking, after they respawn, until the player moves

[2015-02-19 13:17] Iliana-sc commented on #247
The second and last link in @exltus post are from a patch that is too new, the dispell behavior had changed too much by then:

In the blood pact link it's not clear if the comment is made by a warlock that actually knows the message comes up because he tried, or by someone who knows the debuff is not magic and assumed the message comes up.

The macro link is interesting though, it has rather good

[2015-02-19 13:30] Iliana-sc commented on #185
I remember (yes, memory is useless but maybe this helps finding evidence) that when a hunter pet kills a mob on its own without help from the hunter you would not get loot or experience from that mob. I played a hunter in wrath and vanilla, but I don't recall when I had this happen to me.

My memory lines up with @Barroth's video and assessment of the video. I'm not sure if there is a real penalty

[2015-02-19 14:34] lawzftw commented on #246
Because you never understood PvP mechanics doesn't mean those mechanics don't exist.

I know for sure how it worked during WoTLK (on retail), and I'm going to explain it :
- If you send your pet to an enemy, you can't be sapped, regarding your combat state. It is NOT related to your combat state, which means you don't have those "crosse blades" and you still can not be sapped.
- If your pet hits a

[2015-02-19 15:32] ccshiro commented on #143
@exltus Thanks for the video.

[2015-02-19 15:32] #143 closed, assigned to nobody

[2015-02-19 16:16] ccshiro commented on #247
@Iliana-sc Tried it in 3.3.5, it does still query the server even when there's nothing to dispel. So I guess this one really used to be checked server-side.

Thanks for the input guys.

[2015-02-19 16:23] ccshiro commented on #111
@dutifulbetatester That video proves it pretty clearly. Thanks.

[2015-02-19 20:38] #115 closed, assigned to ccshiro

[2015-02-19 21:47] #111 closed, assigned to ccshiro

[2015-02-19 21:58] ccshiro commented on #142
Your video shows no doubt it happened to you, but I'm unable to make it happen. Tried varying graphical options, etc. Would be very useful if someone can help me figure out what conditions (besides taking the quest) are required for the freeze to happen.

[2015-02-20 01:10] #239 closed, assigned to ccshiro

[2015-02-20 02:55] #191 closed, assigned to ccshiro

[2015-02-20 10:19] Philosophers commented on #246
I saw this topic and (as a hunter) I need to comment.

First of all:
@lawzftw "The only "proof" you can find to say this mechanism didn't exist during TBC is finding a video with a warlock sending his pet, and still getting sapped."

You have to proof you're right, not others have to proof you're wrong. Not true until proven true. Like not guilty until proven guilty.

I played as a hunter on retai

[2015-02-20 14:34] lawzftw commented on #246
@Philosophers This is not the way it should be done for such a project. The aim is not to prove someone guilty, it is to get the best scripts for this server, balance wise as well. And this contributes to balance (it contributed to balance A LOT during wotlk at least). So if you truly believe in this server's aim, you shouldn't get that reasoning. This is not a trial. Not at all.

However, I've tr

[2015-02-20 19:35] Philosophers commented on #246
@lawzftw That was metaphor. You have to prove that something is right before it can be changed. Before someone has actual proof there is nothing to discuss.

I am still sure that in TBC pets with ranged attacks were so useful because of that combat catching.

[2015-02-20 20:02] #247 closed, assigned to ccshiro

[2015-02-21 01:02] Klimpb commented on #185
Wotlk, but still:
http://youtu.be/ibSWooWOiO0?t=6m

From that video it does seem like the max exp penalty is 50%, then depending on the amount of damage you do to the mob the penalty will decrease.

[2015-02-21 01:35] #108 closed, assigned to ccshiro

[2015-02-21 02:24] #98 closed, assigned to ccshiro

[2015-02-21 09:11] Argonn commented on #185
Penalty was added in Wotlk, like i stated before. Before that i have done that trick many times in deadmines.

[2015-02-21 18:08] #153 closed, assigned to ccshiro

[2015-02-21 18:38] #57 closed, assigned to ccnim

[2015-02-21 19:14] #65 closed, assigned to ccshiro

[2015-02-21 19:17] #52 closed, assigned to ccnim

[2015-02-21 22:37] #85 closed, assigned to ccshiro

[2015-02-21 23:47] exltus commented on #185
Got it! Here is [video](https://www.youtube.com/watch?v=3NsVuRePVJw), that is showing power-leveling in exactly same way how I always was doing it too on retail. In this video you can see whole process. Is not hard to deduce formula from it. Formula is: YOU HAVE TO PUT 70% OF TOTAL DAMAGE TO GET 100% OF EXP. Unfortunately I don't know how many you will get if you will not put 70% of damage :(
in t

[2015-02-22 10:35] Oldwal commented on #73
This is one of the first mobs that you run into when starting on the server. Might wanna get this fixed since first impressions of a server is quite important.

[2015-02-22 16:26] ccshiro commented on #216
Needs more testing.

[2015-02-22 17:00] ccshiro commented on #192
Duplicate of #122 and #92.

[2015-02-22 17:00] #192 closed, assigned to nobody

[2015-02-22 17:08] ccshiro commented on #156
A video showing this would be great. Nim and I are unable to make it happen.

[2015-02-22 17:12] ccnim commented on #152
Spell damage calculations doesn't seem to work on the spell either

[2015-02-22 17:50] exltus commented on #180
First of all you must speak with [Myolor Sunderfury - aliance](http://web.archive.org/web/20080916191809/http://www.wowwiki.com/Myolor_Sunderfury) or [Krathok Moltenfist - horde](http://web.archive.org/web/20080916215627/http://www.wowwiki.com/Krathok_Moltenfist) – if you have minimal 200 skill of Blacksmithing and level 40 you can chose specialization into Armorsmithing or Weaponsmithing. He will

[2015-02-22 17:57] exltus commented on #180
Ohh and I forgot [Kradu Grimblade](http://www.wowhead.com/npc=20124/kradu-grimblade) is unlearning specialization in a lot of servers but I did not found any mention about it! So it looks like, that it is just a next mistake rooted in scriptDev2

[2015-02-22 19:05] ccshiro commented on #92
This one is really hard to reproduce, so it's hard to determine if my fix works or if I'm just lucky. Anyway, I think we might've solved it. If it does happen again, please reopen the issue.

[2015-02-22 19:05] #92 closed, assigned to ccshiro

[2015-02-22 19:16] ccshiro commented on #88
Please include a video or something of this happening if possible. We cannot make it happen and sort of need to see it in action to figure out what goes wrong.

[2015-02-22 19:34] ccshiro commented on #179
Only remaining bug:
Nr. 1: Adds to Thespia not respawning. How to reproduce:
Go into normal, kill adds, let them respawn when she evades. Go into heroic, these ones won't respawn now.

[2015-02-22 19:51] ccshiro commented on #82
Seems to be that the internal slot is moved that causes it. I.e. apply motw, stack up life bloom, remove motw and refresh bloom.

[2015-02-22 19:57] ccshiro commented on #80
This is already implemented. To make sure it still works nim and I did the following:
Take 2 chars, one with a lot of dodge (50%), then spam sinister strike. All dodges resulted in only a few points of energy being consumed, whereas if it hit it costed the intended amount.

Basically, seems to be working correctly already.

[2015-02-22 19:57] #80 closed, assigned to nobody

[2015-02-22 20:02] ccshiro commented on #78
Going to debug it, putting the bug label on for now even though I have not confirmed it yet.

[2015-02-22 20:15] ccshiro commented on #66
I'm quite willing to believe that these effects should NOT reduce the duration of the mind flay, but at the same time it seems strange to me that the mind flay would be affecting the target while its slow-component runs out mid-way through. Initially I would've said (with no basis, of course) that it seems logical if the reduction effect has no effect on mind flay.

Some research to prove how it a

[2015-02-22 20:23] ccshiro commented on #63
I'm looking through the spell data of the client (notice that this is data put there by Blizzard and is almost always correct), and they're marked as spells already :S.

For example, fire nova totem (id: 1535), has the following data:
School: Fire
Class: Magic
Preventable: By silence

Given this data contradicts the (otherwise seemingly reliable) evidence, I really think, with these contradicting

[2015-02-22 22:25] exltus commented on #63
You can´t cast totems while silenced on TBC. This become on WOTKL (they move totems to physical school). I can prove it by this: [here](http://rrvs.blogspot.cz/2008/06/wotlk-and-illidan.html) is article (from september 2008), that is talking about possible new features in becoming of WOTLK. In this article you can find one pretty sentence

Note that they are talking about this change like about "R

[2015-02-23 00:51] Escape243 commented on #133
Is it really not immediately?

[2015-02-23 07:51] FurioCC commented on #88
Maybe @Ickler got some more information or can summon here those melees for first-hand info, since most of the palyers in raid were memebers of Contageous.
Going to try Kazzak again on next test, other then this cleave report everything else about him was fine.

[2015-02-23 09:59] Barroth commented on #63
Watched quite a few videos and wasn't able to find a shaman placing totems during silence. As stated above Wotlk made totems to be a physical spell (patch 3.0.2).

[2015-02-23 10:53] Philosophers commented on #66
From my exp mind flay is not affected at all, so I decided to look for a proof.

https://www.youtube.com/watch?v=pJ1EHzyW63s

Look 3.00 +

What is happening there?
Spriest fights enh shaman (99% sham is pvp build). Mind flay cast is 3.0 sec (unchanged), shaman uses earth shock at about remaining ~0,6 sec and he is slowed briefly after mind flay fades.

Not 100% sure if this guy has this talent, bu

[2015-02-23 13:44] Ickler commented on #88
It appeared as Furio stated, that when he turns to cast on the raid that he could then cleave and melee's would get hit. We'll do more testing on next test to find out more about this, we'll see if we can manage to get a video of the encounter.

[2015-02-23 15:05] ktoja commented on #63
Somehow i garbled patches, my bad. Here's another solid evidence on silenceable totems: http://www.warcraftmovies.com/movieview.php?id=73041 at 12:37 spamming grounding while CS'ed

[2015-02-23 16:08] ghost commented on #63
ok so this can safely be rejected as invalid

[2015-02-23 16:10] ghost commented on #66
this indeed looks like an exception to the talent

cant think of any other channelling spell that has a 'slow' component

[2015-02-23 20:52] ccshiro commented on #63
@ktoja Thank you for that video.

[2015-02-23 20:52] #63 closed, assigned to nobody

[2015-02-23 20:57] ccshiro commented on #66
@Philosophers Thank you for the video. While it doesn't confirm the workings, it seems as good as an indication we'll get.

Therefore I will go with mind flay not being affected by these talents at all. And proof that that's wrong can be submitted by anyone that thinks it is indeed not correct.

[2015-02-24 10:40] r00ty-tc commented on #114
If it happens all the time, maybe it's a bug. But, I'm quite sure this happened "sometimes" on retail too. Not sure what triggered it. But I do remember seeing it happen.

First time would be slow (loading from the disk, back when I had a HDD not SSD) then the second time it would flash up and be fast.

If this is what you're seeing, it might well not be a bug.

Of course the second bit (reported

[2015-02-24 16:55] exltus commented on #104
I have some new info! TBC melee range is 5 yards [source](http://web.archive.org/web/20080914153005/http://www.wowwiki.com/Melee) and in [this](http://web.archive.org/web/20080916125757/http://www.wowwiki.com/Gargantuan_Abyssal) guide is written this:

So YES it is possible to avoid fire aura damage even you you are melee dps, but you have to stand on max melee dmg range. So it is working correctl

[2015-02-24 17:30] exltus commented on #246
Hmmm... I think, that I have answer to this topic. I crawled whole web and didn´t find nothing about this issue before WOTLK release. If you put time time restrictions in your google search and you will search for "unsapable" you will get 0 results from 2004 to november 2008, but if you will do same thing in date range from 2009 till now you will get a ton of results. Here are some examples (note,

[2015-02-24 18:07] ccshiro commented on #158
It's possible to hack this, but you'd get the potential for a lot of cases where it breaks. And while it'd be possible to patch those cases as we go, it's too high chance of breaking stuff for too little gain.

I'm putting this as low priority for now.

[2015-02-24 21:50] ccshiro commented on #246
@exltus that is a good way of going about it. I will leave this as needs research for a bit longer, in case someone feels like they want to make a counter-point, otherwise I will consider that determining and invalidate this issue.

[2015-02-24 22:40] #179 closed, assigned to ccshiro

[2015-02-25 00:24] exltus commented on #185
I made another research and find this:
1)  You will get no penalty if someone else (ungrouped) will heal you [source](http://www.dual-boxing.com/threads/3260-WOW-XP-gain-penalty-question)
2)  If you attacked mob and anyone (ungrouped), who is able to get exp (is 4 levels higher or 9 levels lower of attacked mob) from this mob, will help you with damage dealing, **you will get full amount of possib

[2015-02-25 01:00] ccshiro commented on #78
Debugging shows that the crit chance works as advertised by the spell. Whether or not the character screen should show it I don't know. However, moving that to low priority for now.

Added needs research in case anyone wants to show that it in fact should or shouldn't show up in the character pane. Note that it's a low priority bug, so even with evidence it might take a while until it gets fixed.

[2015-02-25 02:46] #66 closed, assigned to nobody

[2015-02-25 10:01] Trapstarx commented on #246
Playing rogue for ages and I can surely say that sending your pet in attack shouldn't put you in combat  until pet lands an attack or spell on target in TBC.

[2015-02-25 10:41] Bearmanpig commented on #104
After stating that the range is about 3-4 yards, why doesn't the writer of the guide go on to suggest that the tank should stand out of range of the Fire Shield as well? He explicitly mentions only the casters being out of range.

This leads me to believe that the writer just got the 3-4 yards wrong in the guide, since all other evidence seems to suggest melee isn't able to avoid the AoE.

[2015-02-25 11:04] exltus commented on #104
This issue looks impossible to research. Only way is go to retail right now and go to test it. I doubt, that blizzard changed it and how it works on WoD is same as how it worked on TBC. So if anyone have retail acc please test it, and record results.

[2015-02-25 14:28] #74 closed, assigned to ccshiro

[2015-02-25 16:10] craberi commented on #104
my sub just ended and i really dont wanna renew it, damn should have tested it, oh well

[2015-02-25 22:30] Roarek commented on #246
Sending a pet in should not put you in combat until a combat action has been initiated (attacking, being attacked, casting a spell on the target, etc). In WOTLK this worked differently (where sending your pet in put you in combat) and that's what you're thinking of. It has never worked that way before WOTLK and neither has it worked that way again after WOTLK. There isn't a "sap immunity" function

[2015-02-26 00:49] #86 closed, assigned to ccshiro

[2015-02-26 02:38] #141 closed

[2015-02-26 10:36] Brumeux commented on #246
@Trapstarx @Roarek
Either you've not read what we said, either you still don't get what's the point here. None is talking about being in COMBAT. Besides you are wrong. It wouldn't do so too in WOTLK.

Anyway I think @exltus proved how it worked back in tbc.

[2015-02-26 16:59] #207 closed, assigned to ccshiro

[2015-02-26 20:11] ccshiro commented on #87
Issue N1 has been fixed.
Issue N2 I couldn't reproduce. Whenever I died to him I got the Mark of Death on me.
Issue N3 has been fixed.

If Issue N2 persist, please make a video or such and reopen this issue.

[2015-02-26 20:11] #87 closed, assigned to ccshiro

[2015-02-26 23:02] #229 closed, assigned to ccshiro

[2015-02-27 00:25] Philosophers commented on #246
@exltus I agree, here is my part
I've been doing my research for hours. I have no proof of what I am going to say, but after I reviewed a lot of guides / posts I got these observations:

I read a lot of "issue" reports, wrote by rogues, who say that hunter / warlock / death knight is immune to sap, even if their pet did not reach its target. All of that reports were dated the time WoTLK was live (

[2015-02-28 15:16] ccnim commented on #58
Reading Subzero's comment made me realize that this is indeed not a bug and once ogri'la is up I will remake them to the aerial assualt ones.

[2015-02-28 15:16] #58 closed, assigned to ccnim

[2015-02-28 15:38] ccshiro commented on #130
Guardian seem to not get the evade event until owner reached home.
Also on leash evading it seems to not get it at all.

[2015-02-28 21:07] #130 closed, assigned to ccshiro

[2015-03-01 12:27] ccnim commented on #152
Tested this on retail and confirmed that this is actually not a bug. The damage still needs to be looked at however.

[2015-03-01 23:52] #152 closed, assigned to ccshiro

[2015-03-02 00:01] ccshiro commented on #174
Warp Splinter's volley is a spell that has been puzzling us in the past. We've seen the video you linked and many other s. However, in the end we couldn't explain how it ought to work (if I remember correctly videos were disagreeing with eachother, and the stated theory did not hold up scrutiny -- unfortunately we didn't document our work into it, so I cannot recite or remember the details). Howev

[2015-03-02 00:01] #174 closed, assigned to ccshiro

[2015-03-02 02:59] #82 closed, assigned to ccshiro

[2015-03-02 19:19] ccshiro commented on #246
Closing this as invalid. Thanks for all the input guys.

[2015-03-02 19:19] #246 closed, assigned to nobody

[2015-03-03 02:04] Ickler commented on #185
Mob tagging was used to get world first 70, by the french mage. The video is available on Youtube.
Not original uploader tho (in this one): https://www.youtube.com/watch?v=ubZJHTYAQUU

As I recall a mob tagged being killed by someone out of party would only reduce XP by a very small amount. Athene used mob tagging to get to 70 in his record of fastest leveler. He also as has been mentioned above u

[2015-03-03 10:36] exltus commented on #185
@Ickler
Yes, but because of this 70 lvls are able to gain exp from this mobs (they are green for them) thats why there is no penalty. If they will far mobs level 50 for example, there will be penalty. Whole experience system is described in my comment above.

[2015-03-03 16:26] huggarn commented on #37
Holy grail of kiting

[2015-03-03 17:27] ccshiro commented on #238
Reimplemented how shadowstep selects its position. It fixes the above mentioned case, but it will need a bit of testing in general now since it might break in other aspects I didn't think of.

[2015-03-03 17:27] #238 closed, assigned to ccshiro

[2015-03-03 19:36] #151 closed, assigned to ccnim

[2015-03-03 21:14] #190 closed, assigned to ccshiro

[2015-03-03 22:11] Klimpb commented on #116
Regarding my post in this thread, I'm not sure I'm 100% on the right track.. Blizzard & Rain of Fire has got a different damage interval I believe.. I no longer think the damage should be instant, but rather that there is a set time on when it should start the damage intervals after having casted it, that may be different on Blizzard & Rain of Fire.

But I think that "being affected" by it (which

[2015-03-03 23:18] Barroth commented on #116
After taking a look at the Noone vs Acrono duels, from Acrono's PoV I found this:
~617ms after the castbar appeared Acrono took dmg from the blizzard(at that point the shard just started falling, they were all still above acrono) and he lost stealth shortly after that.

 Doesn't look like there is a delay except spell delay/latency for blizzard.

Edit: The above is incorrect, I overlooked the old

[2015-03-04 00:22] Klimpb commented on #116
Hmm perhaps you're right.

[2015-03-04 02:53] #116 closed, assigned to ccshiro

[2015-03-04 15:03] shadowraider commented on #114
If you are interested why you appear just under Dalaran (alliance) or in Stonetalon Mountains (horde) when taking ships.... that's where are Zero coordinates of the maps located.

[2015-03-05 03:34] #133 closed, assigned to ccshiro

[2015-03-05 14:55] #94 closed, assigned to ccshiro

[2015-03-06 20:26] #232 closed, assigned to ccnim

[2015-03-07 18:51] ccnim commented on #118
Fixed "The Force of Neltharaku". Some of the issues you mention with the quests are non-issues such as it attacking a nearby mob. Also they cannot be in combat when you tag them, this is how it is supposed to work.

The other quest has not been implemented yet.

[2015-03-07 18:51] #118 closed, assigned to ccnim

[2015-03-10 01:49] #170 closed, assigned to ccshiro

[2015-03-10 01:50] ccshiro commented on #120
I intend to fix this before release, but I am unmarking it as part of the jan17 milestone as it might not be fixed before next test.

[2015-03-10 21:18] solowt commented on #248
suggestion: try it with icy veins up also

[2015-03-10 23:15] ccshiro commented on #104
Will test on retail with @ccnim.

[2015-03-11 21:13] ccshiro commented on #114
I'm sure this bug does exist (gotten it reported multiple times), but I'm unable to trigger it.  I think some more testing is needed, since I can't really debug it if I can't trigger it.

[2015-03-11 21:18] Wtfeater commented on #114
Although i havn't run into the issue with double loadingscreens, the issue where you're in alterac mountains for a split second only happened to me the first time i used a boat/zeppelin per characters, maybe trying on a fresh lvl 1 will help?

[2015-03-11 22:28] r00ty-tc commented on #114
http://us.battle.net/wow/en/forum/topic/4139865029 working as intended? ;)

Just to say, it seems fairly normal if there's a problem porting for any reason.

[2015-03-14 22:25] #104 closed, assigned to ccshiro

[2015-03-15 23:31] #112 closed, assigned to ccshiro

[2015-03-16 04:32] #185 closed, assigned to ccshiro

[2015-03-16 20:54] tedrasiel commented on #222
"I think the following is true based on memory (which is a useless source, but hey)

If a spell that does damage is fully blocked it will not apply the debuff (e.g. hamstring)
If a spell does not have any damage component it can not be blocked (e.g. kidney shot)
As far as I know you can't block while casting, so while the above two rules would apply to kick/pummel/shiled bash, that condition can n

[2015-03-17 00:18] Ickler commented on #222
I'll say it more boldly this time, Kidney Shot is not blockable.

Not sure what the general conclusion here is, but in TBC having played very competitive arena I like to think those memories sit fairly clear with me still.
Also it was a very prominent feature when someone dodged / parried Mortal strike in 2v2, it could literally save them the "all in". So this was a common relief for the person wh

[2015-03-17 03:34] #71 closed, assigned to ccshiro

[2015-03-17 17:40] zoofCC commented on #222
If it can help in any way:
1:33 Swifty uses hamstring and its parried, motomi doesnt get the debuff
2:07 Swifty used MortalStrike and gets parried, debuff isnt applied
https://www.youtube.com/watch?v=VZk1NJXHUqk

[2015-03-17 23:15] #222 closed, assigned to ccshiro

[2015-03-31 17:26] astragana opened #260 "Collision with Shattrath elevators"
It's possible to fly through moving Aldor Rise/Scryer Tier elevators in both directions (from above and below). They're solid when jumping onto them without flying mount.

[2015-03-31 17:35] Shakeandbake opened #261 "Gryphon Master Not Elite"
Gryphon master in rebel camp stv (npc Nizzle) has elite frame but non elite hp.
Enraged Gryphon's summoned to aid him:
-will not attack the player if he dies in one attack.
-are neutral con
-cannot be attacked by the player

[2015-03-31 17:50] Shakeandbake opened #262 "Zoning on booty bay boat"
Minor issue: While loading into stv on the booty bay boat, i spawned in the air parallel to the boat with no sky and no water.
After a few seconds I was teleported to the boat.

[2015-03-31 18:06] Ickler opened #263 "[Rogue] Bug with cheap shot, mob turns towards you (Mar 31st test)"
When you cheap shot a mob, he turns towards you instantaneously. It's not visual, as you can gouge the mob right after to check. Appears to be the same when Kidney Shotting an already stunned npc, same happens if you re-sap an already sapped target.

[2015-03-31 18:29] Jonssown opened #264 "[Visual Bug(?)] - Double Autohit after weapon enchant-proc"
Autohits appears to be bugging out after weapon enchant procs, see these pictures for an example:
http://imgur.com/a/KpCNO

I also tried Windfury Weapon, that didn't seem to have the same issue. However, Windfury seemed to cause spell damage (Yellow Text), not Weapon damage. I might be wrong regarding this issue though, so please comment.

EDIT: WF Text seems to be correct, it should be yellow. So

[2015-03-31 19:32] ConfusedCC opened #265 "(Event) Infernals are not spawning to fight guards outside shadowmoon village or wildhammer stronghold"
Infernals are not spawning, Shadowmoon scouts and wildhammer defenders have nothing to do.

[2015-03-31 19:32] Ickler opened #266 "[Racial] Cannibalize appears to not be working."
When trying to cannibalize, you get the error message: There are no nearby corpses to eat.

[2015-03-31 19:34] solowt opened #267 "Taking durability when I die in PvP"
Easy to test.  My combat log said I took 10% durability from a death in PvP and my gear was missing durability.

I believe you shouldn't take a durability hit from dying in PvP.

[2015-03-31 19:39] solowt opened #268 "Dead mobs following you"
S.ome mobs are following me on the ground after I kill them.

reproduce: kill a mob, see what happens.

note: tested on the white lizard guys outside of shattrath

[2015-03-31 19:41] rylaiii commented on #92
the first two posts of the pathing bugs are still active on the server.

[2015-03-31 19:46] jovce17 opened #269 "rezist on lvl 63 mob while hit caped"
i was testing ele shaman on adds in terokar i managed to miss( rezist) on lvl 63 mob with >
6% hit chance on spells , 9 % from talents (6% from ele spec and 3 from resto spec )
- 3% from totem of wrath ...
  i had a total +18% hit chance ... and still manged to make a rezist hit using lightning bolt
  http://s14.postimg.org/b125irc3l/Wo_WScrn_Shot_033115_212832.jpg

[2015-03-31 19:47] deltafoxnine commented on #268
I can confirm, and apply video if necessary.

It also happens with the wolfes

[2015-03-31 19:48] nz54445 opened #270 "[Minor] Silverleaf node inside Exodar"
Silverleaf node spawned inside Exodar, there may be more nodes like this (I know it's not outland, but it's still node-related).

http://postimg.org/image/y6eri9ul7/

[2015-03-31 19:50] solowt commented on #268
to go further, a dead mob is currently following me, hitting me, and casting spells on me.  it's the warp stalkers outside shatt.

[2015-03-31 19:52] solowt commented on #269
my understanding is that it's impossible to have a 100% chance to hit and there's always a 1% chance to miss.

Perhaps that's what happened.  Would be nice to hear from some people who are more knowledgeable on the subject than me though.

[2015-03-31 19:54] deltafoxnine opened #271 "Cannot attack mob"
Attacking a moth outside of shat, it seems like it was disappearing and reappearing. Said "Interruped" when trying to hit it.

I can supply footagea/fraps

[2015-03-31 20:01] jovce17 opened #272 "Shaman Elemental Overload talent does not proc as often as intended"
I did some testing in terokar forest on adds ...and from around 10-15 mints of mobs killing i manged to get ONLY 1 SINGLE  overload proc
http://s9.postimg.org/m7r068i1b/Wo_WScrn_Shot_033115_215303.jpg
http://s21.postimg.org/hu358q23b/Wo_WScrn_Shot_033115_215306.jpg
from 45 casts ...only 1 proc ...that's not even 3% chance ...it should be 20%

[2015-03-31 20:03] jpierz commented on #268
Can also confirm. Happened on the moths as well outside shattrath.

[2015-03-31 20:04] jovce17 commented on #269
actualy did some more testing  from 34 lightning bolt casts on lvl 62-63 mobs i manged to get 2 rezists ...
http://s9.postimg.org/m7r068i1b/Wo_WScrn_Shot_033115_215303.jpg
2/34 its more like a 6% not 1 % ...and its Vs lvl 62 mobs ....not 73 or BOSS

[2015-03-31 20:05] testinkzcc2015 opened #273 "Kiting"
I kited Fel reaver to Thallmar in hellfire peninsula and did like 1% damage to it.
I died and after I resurrected I was able to loot its corpse.
Shouln't guards killing a mob with higher damage dealt deny looting?

edit: Does it matter if I was alliance not horde, and horde guards killed it.

[2015-03-31 20:06] Fnmx commented on #268
https://www.youtube.com/watch?v=56E-5rpf140

Here's a short video of what's going on. It even looks like the wolf has the warpstalker AI.

[2015-03-31 20:10] Sakatoro opened #274 "Target shows only percent of life, no number"
My Target (Player or NPC) shows only the percent of the life, not the number.

[2015-03-31 20:12] jovce17 commented on #274
its is as INTENDED its TBC not WOTLK
IF you want number download mobinfo addon

[2015-03-31 20:14] ccshiro commented on #271
Please do supply footage.

[2015-03-31 20:16] #274 closed, assigned to nobody

[2015-03-31 20:16] Sakatoro commented on #274
Sure? Because on all other TBC-Servers i got the hp numbers of my target, without any addons

[2015-03-31 20:22] Fnmx opened #275 "Food doesn't restore health in combat"
Pulling a mob with my pet after sitting down to eat makes the food stop restoring health, even though the buff is still there. Drinking works normally.

[2015-03-31 20:24] Sakatoro commented on #274
Checked that, sry for the wrong report

[2015-03-31 20:26] Iliana-sc commented on #269
34 is hardly enough trials to make any kind of conclusion.

[2015-03-31 20:27] ccshiro commented on #275
That was intentionally done at some point although I cannot remember why. Some indication that this is indeed a bug would be nice.

[2015-03-31 20:29] ghost opened #276 "Quest: Assisting the Consortium shown on both Aldor and Scryer npcs but only selectable from the faction you chose"
Zone: Netherstorm
Quest: Assisting the Consortium
NPCs: Spymaster Thalodien (Scryer) and Anchorite Karja (Aldor)

Issue: Quest "!" appears above both npc's heads but is only acceptable from the NPC from the faction you have chosen. Accepting quest appears to take both.

Is this a minor bug or how it worked in retail?

[2015-03-31 20:32] Aeoni opened #277 "Arena: Movementspeed and eye timer bug"
Movementspeed: While entering the arena on flying mount you don't lose all of it's speed. You can run as fast as riding a 100% ground mount. If you stealth or mount up, you'll lose the speed.

Eye timer: Eyes are spawing as soon as the arena opens.

http://youtu.be/-n7m36otB7c

[2015-03-31 20:35] jovce17 commented on #269
@Iliana-sc  if there is 1 % chance that cant be avoided via capping then true and will need more testing but ....if its not supposed to miss vs 62 mob then its a bug

[2015-03-31 20:44] Ickler opened #278 "[NPC] Malicious Instructor bugged, keeps patrolling after aggroed"
The Malicious Instructor in Shadow Labyrinth Heroic, keeps patrolling after we aggro her. And consequently pulls the whole room.

[2015-03-31 20:46] petaal opened #279 "Faction items' reputation requirement"
Some items which can be bought from quartermasters don't mention reputation requirements. They can't be bought with no reputation however. At least the following quartermasters and items have this issue:

Fedryen Swiftspear <Cenarion expedition quartermaster>: Earthwarden, Windcaller's Orb
![ccbug2](https://cloud.githubusercontent.com/assets/11743711/6928895/d04b34ce-d7ff-11e4-93c2-faeaac60e521.pn

[2015-03-31 20:47] Ickler opened #280 "[Loot] Mobs in Shadow Labs drops little / no Fel Armaments"
Fel armament drop in Shadow Labs heroic seems to be way off. Cleared up until second boss without a single drop.

[2015-03-31 20:49] ccnim commented on #279
Delete your cache and that should fix it.

[2015-03-31 20:52] ghost opened #281 "NPC: Netherock does not spawn adds as his health decreases"
Zone: Netherstorm
NPC: Netherock

Issue: As netherocks health decreases he does not summon the smaller versions of himself like he did on retail. (Perhaps a similar issue with elite rock elementals in western hellfire peninsular?)

Video from retail: https://www.youtube.com/watch?v=sXMQu0OFuNI

[2015-03-31 20:55] petaal commented on #279
Yeah that fixed it

[2015-03-31 20:59] Shakeandbake opened #282 "Unliving Residents cannot path"
Mobs inside The Master's Cellar (outside kara) cannot path to the player and wont move to attack you.
Even Unliving Caretakers which patrol correctly will not path to the player.

[2015-03-31 21:00] Wtfeater opened #283 "Pathing issues."
Edit by Shiro: See my replies further down, as well as referenced issues. I think the dock/houses part is most likely irrelevant to the underlying bug that triggers.

Mobs attacked from outside most houses and docks causes the mob to stand still looking at you instead of running towards you. The Mobs do not evade. This sometimes also works the other way around, with you being on the dock/house. I

[2015-03-31 21:02] plebbb opened #284 "[70 Rogue] Pickpocket issues (very low success rate), mob levels 58-70"
Pickpocket seems to enter you into combat most of the time on mobs which are green and above to you, instead of giving you a failure message of a miss/resist.  Not only that, when you do successfully loot from a stationary mob and are moving away, it sometimes even decides for whatever reason to initiate combat anyhow.  I seem to remember it being much easier do drive-by pickpocket runs of entire

[2015-03-31 21:02] Wtfeater opened #285 "Pathing issues with houses/docks."
Mobs attacked from outside most houses and docks causes the mob to stand still looking at you instead of running towards you. The Mobs do not evade. This sometimes also works the other way around, with you being on the dock/house. I also had some mobs follow me off the docks into the water, this caused them to stop in their place and evade and let me out of combat.

Mobs not pathing:
![wowscrnshot

[2015-03-31 21:02] Isuel opened #286 "[Druid] Mangle (cat+bear)"
currently, mangle cat and mangle bear debuffs are stacking, making shred and other bleed effects double dip from them. it's a mangos bug, since i noticed it on other tbc servers as well.

[2015-03-31 21:03] Wtfeater commented on #285
duplicate

[2015-03-31 21:03] #285 closed, assigned to nobody

[2015-03-31 21:08] Ickler commented on #284
I can confirm this, it appears to be very low success rate. And no "miss" message. Afaik it should scale off of phys hit.

[2015-03-31 21:09] Tasserski commented on #283
Confirming. Monsters in buildings in the Eastern Kingdoms often refuse to path to you, but they will aggro you, keeping you in combat. Sometimes they even attack through walls and floors.
Related to how pathing is priorized for zones? Works fine in Outland.

[2015-03-31 21:09] Wtfeater opened #287 "Autoattack animation locked by evadeing mobs."
Trying to hit some evading mobs causes your character to get locked into the autoattack idle animation, Error Message: You are to far away. Pressing escape or untargeting doesn't help. Running far away from the mobs helped sometimes but not always. Rightclicking a new mob and then pressing escape fixes the bug.

Mob has bugged out and is evadeing.
![wowscrnshot_033115_220453](https://cloud.githubu

[2015-03-31 21:10] Wtfeater commented on #283
I didn't check any houses in Outland, but the docks problem exists, although it was more like 25% of the time, instead of 95% in Eastern Kingdoms.

[2015-03-31 21:11] Wtfeater opened #288 "Forsaken characters can breathe for too long underwater."
Forsaken Characters can breathe for 4 minutes underwater instead of 3.

![wowscrnshot_033115_222336](https://cloud.githubusercontent.com/assets/10584393/6929492/6ad9cd2a-d7fb-11e4-9419-ce462c573cce.jpg)

[2015-03-31 21:12] somnu opened #289 "Cannibalize not working properly"
After dueling an alliance player and killing him by mistake after the duel was over, I tried to cannibalize his corpse to regain some health.

To my surprise it displayed the error message "There are no nearby corpses", here is the proof:
http://i.imgur.com/WicOaqT.jpg

I don't know if it had something to do with the fact that I was dueling the guy then he died, but it clearly isn't working proper

[2015-03-31 21:12] Tasserski opened #290 "Zeppelin not visible to all players"
This will be in story form so bear with me.

We went to the Orgrimmar zeppelin with a bunch of players. Stood around for around 10 minutes, saw no zeppelins. After the server crashed, we rolled back to Shattrath so I instantly ran back to the OG zeppelin. Just as I arrived, I saw the Undercity zeppelin leave - before the crash I had not seen any zeppelins at all.

After that Nim joined me in the w

[2015-03-31 21:14] Tasserski opened #291 "Spell: Wing Buffet (ID: 32914)"
Used by Vicious Teromoth (18437). Currently seems to dismount affected targets. Quite sure it shouldn't: not mentioned in the description nor the Wowhead comments, nor do I personally remember such a thing happening.

[2015-03-31 21:15] Isuel commented on #80
kay, after further testing, I noticed that it only happens with mangle(cat): when it gets dodged/parried/misses/fully blocked, you lose all 40 energy of it. tested with rake, and it works fine.

[2015-03-31 21:16] Tasserski opened #292 "Quest: Arrival in Outland (10120) - minor flight master issue"
Talking to the flight master for the first time, even when you have the quest of the title, opens the dialogue without any options (didn't look but something along the lines of "you don't know any flight paths connected to this one). Talking to her again opens the proper dialogue (quest turn in and flight locations). Pretty sure the latter should appear upon talking to her the first time if you ha

[2015-03-31 21:17] somnu opened #293 "Mobs bugging behind trees"
I simply pulled this wolf outside shattrath and went behind a tree, as you can see from the screenshot I wasn't standing in an unreachable location or anything and the wolf just stopped following me and started evading my attacks, after a couple of seconds he deaggroed and went back to his spawn.
http://i.imgur.com/zus4C3h.jpg

[2015-03-31 21:18] Tasserski opened #294 "Buggy movement after relog"
Movement had some issues from time to time prior to crashes, preventing moving from a certain area. Seems to happen after every relog, but if you can find a way to move (hearthstone, blink, charge), it goes away. Video: http://ponkolauta.net/player.php?v=/WoW/src/1427824140366.webm&t=movement.webm&loop=1

[2015-03-31 21:18] Wtfeater opened #295 "Weird critter behaviour."
The Cows in the Hillsbrad farms have way to much hp (insignificant) and don't behave like they should. They will sometimes stop to evade for no reason and will sometimes reset even though you are attacking them. perhaps an issue with other critters aswell?

Critter in the picture might seem stuck in the wall, but I had them evade out in the open aswell.
![wowscrnshot_033115_221230](https://cloud.g

[2015-03-31 21:19] #279 closed, assigned to nobody

[2015-03-31 21:21] Philosophers opened #296 "Axe Specialization orc racial does not work"
http://imgur.com/a/vXZ50

Like in title. Everything is on screenshots.

EDIT:
After last DC (about 21:20) it was fixed / fixed itself

[2015-03-31 21:24] Isuel commented on #286
with only 1 mangle effect, shred did 800 or so dmg. with the 2 mangle effects, it did 1-1.1k

[2015-03-31 21:26] Klimpb commented on #275
@ccshiro Maybe it was done because of things related to the spell delay? Like casting heal on someone who's in combat then spamming eat/drink just as it goes off?

But yeah, if you have the eat/drink buff, they should give you health/mana... Weird how it was just affecting the health though.

[2015-03-31 21:30] Klimpb commented on #277
Same for entering instances.

[2015-03-31 21:38] rylaiii commented on #290
I had the exact same thing happen to me while i was waiting for the boat in Auberdine which leads to Menethil Harbor. waited 15 minutes for good measure.

[2015-03-31 21:41] Shakeandbake commented on #282
This was fixed after a server restart

[2015-03-31 21:41] #282 closed, assigned to nobody

[2015-03-31 21:45] ccnim commented on #260
Working as intended.

[2015-03-31 21:45] #260 closed, assigned to nobody

[2015-03-31 21:50] giedrius-timinskis opened #297 "Shattarah elevator mount bug"
Hey, awesome test so far!

Here's the bug I found:
When trying to mount up on an elevator in Shattarah an Interrupted message appears.

Here's the video:

http://youtu.be/xICqfuurgbQ

Cheers!

[2015-03-31 21:52] Aeoni commented on #277
Updated my post.

[2015-03-31 21:52] giedrius-timinskis opened #298 "ARENA: Not restored to full health on join"
Not screenshot for this one, but I was having a duel, joined arena shortly after that and didn't get restored to full health. It was a skirmish arena though (maybe ranked works different?)

[2015-03-31 21:53] Chulain commented on #264
visual bug, double hit happens on all private server and on retail too (not 100% sure)

check combat log next time

[2015-03-31 21:54] Chulain commented on #268
winter is coming

[2015-03-31 21:55] giedrius-timinskis opened #299 "Speaking in Demonic when MC'd"
This is a funny one and I'm not entirely sure what's causing it. It happened when I typed while I was MC'd by a priest, however the priest had a warlock in his party, so that could've been causing it too. Here's a screenshot:
http://i.imgur.com/6fQNLPs.jpg

Cheers!

[2015-03-31 21:57] tripleslash opened #300 "Pets do not follow on elevators."
All pets and NPC don't like elevators at the moment. They refuse to step on it.

[2015-03-31 22:01] meowmewo commented on #300
WE WILL NEVER BE SLAVES!

[2015-03-31 22:03] jovce17 opened #301 "feral charge doesnt always bring you all the way to the target"
while i was dueling on 2 occasions it happened that my feral charge didnt bring me all the way to the target .. while he was runing away from me i charged but my charge stoped half way there ..or 5-6 yards from him ...normaly it wont be a problem but when slowed it can be a bit problematic and force the druid to change form  and if there is the same problem for warrs charge and intercept it will b

[2015-03-31 22:04] Chulain commented on #288
By FlipperGandalf  on 2008/05/25 (Patch 2.4.2)
Just to clarify:
A non-undead character can breathe under water for one minute.
An undead can therefore breath for 1min + (1min \* 3) = 4 min

www.wowhead.com/spell=5227/touch-of-the-grave#comments/

[2015-03-31 22:04] Chulain commented on #289
duplicate

[2015-03-31 22:08] tripleslash opened #302 "Pet defensive stance broke with grid rewrite"
When a pet is in defensive stance and somewhere out of LoS of the mob your player is currently attacking, the pet is not sent on attack (does nothing, just standing around).

Tested with Felguard on mobs near shattrath.

[2015-03-31 22:08] Exulance commented on #268
This happened to me too, only by the Warp Stalkers outside Shatth though.

[2015-03-31 22:09] Chulain commented on #294
confirmed, happened to me too

[2015-03-31 22:10] sandfury opened #303 "Quest - Blade's Edge Mountains - Spirit calling"
http://www.wowhead.com/quest=10853/spirit-calling

As far as I have researched, the item drop for this quest, Lesser Nether Drake Spirit, is supposed to only drop if the lesser netherdrakes are in range of totem, however that is not the case. In fact you do not even need to drop the quest totem down to get the quest item, which I can safely assume is unintentional.

![wowscrnshot_033115_233258](ht

[2015-03-31 22:19] deltafoxnine commented on #271
here you go http://youtu.be/El2HQBisY4U

[2015-03-31 22:22] mara1987 opened #304 "[Missing NPC] Yuula, Sha' tari skyguard Recruitment Officer and Skyguard Nether Ray"
I've noticed the missing NPCs when unlocking the flight path in Shattrath. They are supposed to be near the flight path guy but they were absent. Also after server restart i didn't find them. Yuula is the one questgiver that unlocks daily quest in sketties.

Thanks

[2015-03-31 22:30] sandfury opened #305 "Quest - Blade's Edge Mountains - Did You Get The Note?"
http://www.wowhead.com/quest=10719/did-you-get-the-note
http://www.wowhead.com/item=31120/meeting-note

It appears that the quest item drops at 100% rate from every mob related to the meeting note (however I'm uncertain whether that started happening after I accepted the quest itself or not), but according to wowhead's statistics and user comments I can conclude that shouldn't be the case.

![wows

[2015-03-31 22:32] nz54445 commented on #304
This should be working as intended: http://www.wowwiki.com/Patch_2.1.0, Skyguard was introduced in content patch 2.1, whereas the server is running 2.0.3. Would need confirmation on this, but I'm 99% sure they should not be there.

[2015-03-31 22:34] mara1987 commented on #304
So they will be introduced later on or are you planning not to?

[2015-03-31 22:35] Edialden commented on #286
I already reported this in first tests, but i hadnt found a proof that this is incorrect. It wasnt fixed since then, so i guess its not a bug ;)

[2015-03-31 22:35] nz54445 commented on #299
Curse of Tongues (from a warlock) causes you to speak in Eredar (demonic) language. If he cast it on you (which he probably did), then it's working as intended :)

While it's retail http://www.wowwiki.com/Curse_of_Tongues the information is still valid (for flavour text).

[2015-03-31 22:37] giedrius-timinskis commented on #299
Oh I didn't know that, and that's really cool. Thanks! Closing the issue.

[2015-03-31 22:37] #299 closed, assigned to nobody

[2015-03-31 22:38] nz54445 commented on #304
Corecraft will introduce these quests and more as time goes by in incremental patches.

From the F.A.Q

Q11 Content -- What patch is the content? Will keys be revered, will drops be 2.0.3, etc?
The content will be 2.0.3 with a few variations made out of necessity -- for example, things that were impossible (Morogrim's first version), or that made no sense (Karazhan gear being terrible in compariso

[2015-03-31 22:41] Voodopad commented on #290
Same as Rylaiii, waited for 10 min in Auberdine.

[2015-03-31 22:56] nz54445 commented on #269
This may be useful for the conversation:
http://www.wowwiki.com/Spell_hit

It's partly wotlk and partly tbc, but the main points are there.

Now i remember something ~ 5% resists when you are hit capped on bosses, but that's just me. I can not for the life of me find any attack tables. I am almost sure that against normal mobs you should not miss at all.

[2015-03-31 23:04] Klimpb opened #306 "Warlock pet appear delay upon summoning is too long"
Frames counted from the moment the pet bar disappears or is about to disappear (almost transparent for example) to the moment it appears.

Corecraft Test:
Video1
00:01:04.710 - 00:01:06.380 = 1,67
00:01:14.813 - 00:01:16.538 = 1,77
00:01:22.830 - 00:01:24.460 = 1,63
00:01:29.696 - 00:01:31.260 = 1,564
00:01:36.073 - 00:01:37.721 = 1,648
00:01:38.519 - 00:01:40.118 = 1,599
00:01:45.874 - 00:01:47.5

[2015-03-31 23:23] Klimpb opened #307 "Resummon of Felhunter, Tainted Blood & GCD?"
It is currently not possible to cast Spell Lock or Devour Magic instantly upon pet summon because the pet casts Tainted Blood instantly if it's on auto-cast which causes a GCD for the pet.

However as you can see in this video, he has Tainted Blood on auto-cast but he is still able to cast spell lock instantly upon summoning the Felhunter: http://webmup.com/dvYAW/

Now from the video in my last re

[2015-04-01 07:05] Selektiv opened #308 "water drinking bug"
While drinking a lower tier water I was unable to override it with a higher tier water.

[2015-04-01 07:23] Owsikchaosue opened #309 "Eye of kilrogg bug"
when was summoned permanently dissmis your pet and dont give speed i find TBC retail movie where u can check information about dissmis ur pet https://www.youtube.com/watch?v=Pdn-IaYXfFc

[2015-04-01 07:29] Owsikchaosue opened #310 "Enslave Demon"
Enslave demon dont give melee and casting speed reduce and after enslaved he dont is like ur pet
u cant soulink him and some Demo talents dont work on him

[2015-04-01 07:39] Owsikchaosue opened #311 "Fire Shield Imp"
when u summon imp on auto cast fire shield he cant use skill but sound i heard he try can only cast shield only on target in combat who get hit . cant cast on ur target  but when u mark unfrendly target and use shield ur imp going to target and attack him

[2015-04-01 07:45] Klimpb opened #312 "Pets do not attempt to attack from behind anymore"
Something must have messed it up since it was working before. Maybe the fix on totems?

[2015-04-01 07:47] Klimpb opened #313 "Champions' Hall vendors & issues"
2 vendors in champion's hall are selling S2 gear/weapons, also there's a vendor that sells the level 70 grand marshal & offpieces for free.

My pet was also unable to move when inside Champions' Hall. Even tried to resummon it but he still refused to move.

EDIT: Also shouldn't S1 set items & weapons only be available at area 52?

[2015-04-01 07:52] Klimpb opened #314 "Pathing issues on Blade's Edge Arena ropes"
Pets having some trouble pathing across the ropes, most notable at 0:14-0:19 in the video
http://webmup.com/a0c5a/

[2015-04-01 07:53] helion84 commented on #286
Patch 2.0.3 (09-Jan-2007): Mangle will not stack multiple copies from multiple forms or druids anymore. This was never intended behavior.

[2015-04-01 08:01] Klimpb opened #315 "Can't command pet to attack stealthed players that the owner sees but the pet doesn't"
http://webmup.com/a6937/
spammed my /petattack button/macro on him. Casting spells with the pet on stealthed targets works though.

Proof/related: https://www.youtube.com/watch?v=EQ_rrjzYImg&feature=youtu.be&t=7m15s

The succubus is standing at a distance away from the warlock & the rogue and starts casting seduction, before the cast is finished though the rogue is no longer seen(because he walked

[2015-04-01 09:10] mara1987 commented on #304
Thanks a lot. I did read the F.A.Q. but i missed the "Loot" part.

[2015-04-01 09:29] Doppelmoral commented on #267
While it is sort of implied, I still want to emphasize that your gear should loose durability in PvP combat, just not the 10% when you die.

Means while fighting other players the "normal" PvE damaging is applied (e.g. with imaginary number: 1 durability loss of weapons after 1,000 swings). Just mentioned it so durability will not accidently taken out completely of PvP activities.

[2015-04-01 09:52] r00ty-tc commented on #290
Unsure how relevant this is. But, I remember years ago (during actual BC on retail) I tried installing mangos and checking out the emulation for myself. This was one of the bugs from back then. So, I wonder if some of the changes to grid handling hasn't brought back this particular issue.

It was exactly this. Basically what would happen is. If the zeppelin was there (or at least in visible range)

[2015-04-01 09:58] Samphtos commented on #272
TL,DR: I'm pretty sure it's working as expected and this is my proof. OP was slightly unlucky with his chain lightning tho and this spell should be tested with a bigger sample size.

So as I've also played some shaman on the tests and from my experiance this talent works, I will try to argue against this bug report.
I'll start with a question:
Why do you say you've only had 1 procc? I can't see an

[2015-04-01 10:13] Klimpb opened #316 "Shattrath guards (& guards in general) doesn't get pulled/aggro properly."
Haven't got any proof of this, but I haven't really searched for any yet either.

Currently on Corecraft guards will only aggro and start attacking you if you're within their pull/aggro range. However how I remember it being on retail was that if the player that you attacked was within the aggro/pull range of guards then they would react upon the player being damaged by something (player or mob) a

[2015-04-01 10:23] Isuel commented on #286
well, to be honest i wouldn't mind it stacking, it would be a cool buff to feral dps :D

[2015-04-01 11:03] Klimpb commented on #316
Found a video, not really proof but some footage that can help to figure out how guards aggro actually work.

https://youtu.be/3mb5-OMlIjY?t=2m1s

Around 2:12 you can see a guard running all the way from the back of the arena circle thing in Gadgetzan. Meaning he got pulled through line of sight and at a long distance. This could be because the guards are level 67 and the shaman only level 48... I

[2015-04-01 11:12] jovce17 commented on #272
@Samphtos OR you could have JUst simply asked me ...i was specifly checking if it proced 2nd cast ....except for that ONE minimum dmg from lightning bolt there were no other overlaod procs
The dmg difrence might be if i used or not used the air spell dmg totem trinkets etc
I did a bit more testing and it was procing roghtly on 3-5 mobs killed ..thats 10-15 spell casts ...srry no screanshot for tha

[2015-04-01 11:15] #304 closed, assigned to nobody

[2015-04-01 11:44] ghost commented on #286
i thought talents/abilities should be 2.4.3?

[2015-04-01 11:45] ghost commented on #267
Dying from other players should not cause durability loss. PvP combat is not related to durability at all.

[2015-04-01 11:58] braide opened #317 "[Spell][DR] Feral Charge wrong DR category"
Feral Charge shares DR with Entangling Roots right now which it should not.
Here is a link to the same issue on Feenix Archangel bugtracker: https://github.com/FeenixServerProject/Archangel_2.4.3_Bugtracker/issues/2938
I'll quote the feenix issue:
"To back this up I have digged through just about every druid TBC PvP movie until I stumbled over this clip http://www.youtube.com/watch?v=hS82JzE6F0I&f

[2015-04-01 12:12] braide opened #318 "[Talent][Minor] Anger Management continues to give rage after combat"
As the title says the Arms talent of Warrior "Anger Management" continues to give 1 rage every 3 seconds even when you're not in combat anymore. The tooltip clearly says that you only get 1 rage every 3 seconds while in combat. After about 30 seconds out of combat Anger Management stops. Happened everytime I entered combat.

The 1 rage every 3 seconds should stop instantly as you get out of combat

[2015-04-01 12:40] Samphtos commented on #272
Well, I could have replied that you're wrong and that I have allready tested it. But instead I went with the approach of trying to explain to you why you can not assume it is bugged based on the evidence you provided.

Reporting bugs like this with such a tiny sample size is just slapping the developers in their faces giving them more job to investigate spells that you are to lazy to properly test

[2015-04-01 12:44] Iliana-sc commented on #318
The tooltip is wrong. This is not a bug.

[2015-04-01 12:49] Iliana-sc commented on #301
Charge didn't alway bring you on top of your target either. I doubt this is a bug. Certainly, more evidence needs to be brought forward to support this claim.

[2015-04-01 12:55] Iliana-sc commented on #273
An anecdote that that I remember from playing a hunter on retail (this is by no means proof): if your pet did 100% of the damage to a mob you would get no experience or loot for that mob.

[2015-04-01 13:02] jovce17 commented on #272
yes i agree and i also said that it should get labeled as need more research and be tested on next test i didn't have time to test it properly alone.
and on your approach ...dude im not blind i was specificly watching and waiting for a proc .....it only proced that one time but i agree it needs more comprehenzive testing with better addon on more casts around 200 would be fine.

[2015-04-01 13:05] Samphtos commented on #272
I'm not saying that you're blind. But simply looking for a proc will not rule out if its only a visual bug (which is also a possibility)

[2015-04-01 13:07] jovce17 commented on #301
I will test it more on next test for now this can be classifed as need more research and minor.

[2015-04-01 14:09] Klimpb commented on #267
What @Doppelmoral saying about the durability loss from swings/spells etc is correct(I'm fairly sure). I specifically remember having to repair my gear after playing an entire day of arena in wotlk... Or it might have been TBC, not sure. I do however know that you very slowly took durability hits.

[2015-04-01 14:16] ccshiro commented on #318
As @Iliana-sc said this is not a bug, just the tooltip being wrong in Vanilla and TBC.

[2015-04-01 14:16] #318 closed, assigned to nobody

[2015-04-01 14:57] n0psled commented on #305
Based sandfury. Great finds! Nice!

Best regards.

[2015-04-01 15:16] tedrasiel commented on #298
i was his mate during this skirmish. can confirm this.

[2015-04-01 15:23] tedrasiel commented on #275
so ure saying spamming drinking while casting a cast (and while casting u leave combat) and entering combat after finishing the cast + drinking then cause of the spamming wont be possible?

i know it worked on retail... even tho it can be considered a bug... it was often used by healers like shamans so they were at all able to hold their ground against restro druids and their ridicilous amount of

[2015-04-01 15:23] bjplunk opened #319 "Missing Mob in Shattrath"
The mob shown in this video from retail was missing on the test server.
https://www.youtube.com/watch?v=dQw4w9WgXcQ

[2015-04-01 15:32] tedrasiel commented on #286
"Patch 2.0.3 (09-Jan-2007): Mangle will not stack multiple copies from multiple forms or druids anymore. This was never intended behavior" it was changed there and never changed back... atleast for bc.

[2015-04-01 15:43] Zataron opened #320 "Interrupting NPC spells"
I interrupted the frostbolt of Coilskar Siren (19768) with Pummel. The NPC started casting a new frostbolt instantly, even though it should not be able to cast a spell from the same school for several seconds.

[2015-04-01 15:51] KimmoKM opened #321 "Incorrect mob pathing behaviours in Azeroth"
I don't know if pathfinding is deliberately disabled in the old world, but I encountered two major issues there.
1. When disengaging the mobs, instead of leashing back to their original position, mobs got stuck in the position where they dropped combat and started evading. In this example there's a number of mobs right on [top of each other](https://cloud.githubusercontent.com/assets/1533992/69448

[2015-04-01 15:56] ghost commented on #314
new grid system - improved algorithms. xDDD
shiro, what you do not like the implementation of mangos grid?

ps g00gle translator

[2015-04-01 16:19] KimmoKM opened #322 "Possible issue with old world chest loot tables"
I know old world content isn't any kind of priority (as such I've refrained from reporting issues on quests or mobs) but depending on the actual severity of the issue, this one might affect the game experience to a degree that could perhaps warrant attention.

While doing various other tests, I encountered a chest, which turned out to
[contain](https://cloud.githubusercontent.com/assets/1533992/69

[2015-04-01 16:53] NErlandsson commented on #272
I would just like to second what @Samphtos has said and add that based on your targets I'm guessing every 4-5th hit is a killing blow which would make it impossible to have proc on those spells.

[2015-04-01 16:59] tedrasiel commented on #272
"I would just like to second what @Samphtos has said and add that based on your targets I'm guessing every 4-5th hit is a killing blow which would make it impossible to have proc on those spells."

bullshit, even if the cast "would kill" the target without overprocc it still can procc. the proc then flies into the lifeless corpse.

[2015-04-01 17:01] tedrasiel commented on #272
cause the cast overprocs when the cast is finished casting, not when the cast hit its target and dealt dmg.

[2015-04-01 17:06] tedrasiel commented on #272
the proc itself is just a 50% less powerfull version of the normal spell casted before. so its an indipendent lightning for example. it can crit even tho the main cast didnt and its dmg doesnt scale higher if (for exmpl) the main cast its triggered off critted or dealt more dmg than usual. its just takin the tooltip of the main cast and reduces the dmg by 50%, then spell etc are calculated for thi

[2015-04-01 17:09] Chulain commented on #319
you fucking faggot

[2015-04-01 17:16] tedrasiel commented on #269
when i remember right, if youre not hitcapped u can "miss" against mobs too, but the second u are , u shouldnt miss on them (if they're on your lvl- range or lower). but no proof for that one

[2015-04-01 17:26] Isuel commented on #317
i can confirm, charge shouldn't share DR with roots.

[2015-04-01 18:18] jovce17 commented on #269
as far i can remember you need 18% to not miss on bosses 15 vs lvl 70 mobs and even less as the mobs level goes down as far i do remember you dont even need any hit rating vs lvl 66 mobs  >3 lvls bellow you ...

[2015-04-01 18:27] KimmoKM opened #323 "Quest - Western Plaguelands - Defiling Uther's Tomb"
When using the quest item, Uther spawned, but you don't get quest credit (you're supposed to receive credit immediately after using the item) and the RP doesn't work (the NPC just walks around).

You can see the correct behaviour in this video: https://www.youtube.com/watch?v=lDynaDtPw6k

[2015-04-01 18:36] KimmoKM opened #324 "Quest - Western Plaguelands - All Along the Watchtowers"
Using the provided quest item did nothing (we tried several positions, inside the keep, right at the entrance and further outside and none of them worked), at least in one of the towers (I believe it was the Northeastern one).

As seen in the video https://www.youtube.com/watch?v=an7TcjJt-ac (first time around 1:00), using the quest item gives credit instantly, displays an animation and some sort

[2015-04-01 18:46] Sakatoro commented on #319
Movie is blocked for Germany -.- :/ Ps: Sounds like a minor bug

[2015-04-01 19:03] ccshiro commented on #300
Pets do follow fine on transports (zeppelins/boats), but not on elevators. Maybe you meant elevators? If so, mind changing the title?

[2015-04-01 19:05] ccshiro commented on #319
God damn you @bjplunk.

[2015-04-01 19:05] #319 closed, assigned to nobody

[2015-04-01 19:11] ccshiro commented on #262
Can't reproduce, will put as low prio for now. Would be nice if there was some more info about how it happens to you (i.e., does it always happen, or did you do something special?)

[2015-04-01 19:18] Wtfeater commented on #321
Quite Possibly related to this report:
https://github.com/ccshiro/cc-buglist/issues/283

[2015-04-01 19:26] ccshiro commented on #271
Most likely the same underlying reason as our first crash. Can't get it to happen, so I think it's fixed. Please do try again next test, though. Just in case.

[2015-04-01 19:26] #271 closed, assigned to nobody

[2015-04-01 19:30] nz54445 commented on #269
If you look at the link it's clear that it's 17%, and I am 100% sure of that, because draenai ele shamans only need 4% hit: 9% from talents, 3% from wrath and 1% from aura = 13% + 4% = 17%.

Furthermore you only need 6% on Heroics, because no mob is higher than 72.

Bottom line is, hit can be capped and you shouldn't ever miss mobs when you are hit capped, or it should happen very very rarely. The

[2015-04-01 19:32] zoofCC opened #325 "Shaman totems not working on event mobs"
Earthbind Totem ticks but mobs dont get affected:
http://webmup.com/08714/vid.webm

Fire nova explodes but mobs dont get affected or damaged:
http://webmup.com/3e9ba/vid.webm

Magma Totem ticks but mobs dont get affected:
http://webmup.com/f3f8a/vid.webm

Info: Every hostile(red mark) or attackable(yellow mark) target should be affected whether they are in combat or not with you. This issue seems

[2015-04-01 19:33] ccshiro commented on #275
@tedrasiel This is about food, not water.

I looked at it again and remembered. Food are buffs that increase your passive regeneration while active. There's no doubt that passive (unlike combat regen) should be disabled during combat. If food should be passive regen (which it is), but be exempt from the functionality of passive regen, proof needs to be provided. A video during TBC where someone is

[2015-04-01 19:43] ccshiro commented on #264
Unless you got the damage of two hits (when testing I don't), then this is just a client-side scrolling combat text bug that existed forever on retail.

[2015-04-01 19:43] #264 closed, assigned to nobody

[2015-04-01 19:52] ccshiro commented on #269
Stepped through with a debugger. The scenario you described is using a 1% chance to miss, which is the intended behavior. If you want to statistically analyze this (might be a good idea in case something later down the road goes wrong), I suggest a lot more trials.

[2015-04-01 19:52] #269 closed, assigned to nobody

[2015-04-01 19:56] Iliana-sc commented on #321
I think this is a bug in the mob AI and not related to pathing. Default mangos mob AI is terrible and they get stuck all the time (oom, los, etc).

[2015-04-01 20:12] ccshiro commented on #272
As @Samphtos says, to statistically test this spell the method would need to be revisited. I looked in our data and it's listed as 20% chance to proc, so unless something underlying is bugging the chance is correct.

[2015-04-01 20:12] #272 closed, assigned to nobody

[2015-04-01 20:17] netherspite opened #326 "Bonestripper Tail Feather seem to be dropping too often"
Bonestripper Tail Feather ( http://www.wowhead.com/item=23387/bonestripper-tail-feather ) for the quest Trueflight Arrows ( http://www.wowhead.com/quest=9381 ) seems to be having ~80-90% droprate while it should be lower. According to the wowhead the droprate is 38% and even if it was changed since tBC I'm absolutely sure it couldn't decrease. Also there is a comment stating that they drop seldom.

[2015-04-01 20:22] netherspite opened #327 "Stonescythe Alpha is "Invalid target" while attacking me"
I was not able to attack the Stonescythe Alpha at the entrance to the cave with the Blacktalon the Savage (elite mob for the Wanted quest) with the direct spells. I could hit him with AoE though.
He successfully noticed me and started attacking me on sight.
After the server crash and restart he was in normal state again.
![wowscrnshot_033115_203350](https://cloud.githubusercontent.com/assets/57778

[2015-04-01 20:23] netherspite opened #328 "Raging Colossus in HFP keep dropping Crimson Crystal Shard after I took the Q"
Raging Colossus in HFP kept dropping Crimson Crystal Shard (the item starting the quest) after I already accepted the quest. And even after I turned it in. I could loot it but couldn't take the quest from it.
![wowscrnshot_033115_221705](https://cloud.githubusercontent.com/assets/5777848/6951739/24fe8f18-d8c6-11e4-8bfc-743d32404348.jpg)

[2015-04-01 20:25] netherspite opened #329 "Kayra Longmane in ZM attacks mobs on sight WITHOUT escort Q accepted"
Kayra Longmane in ZM (at Umbrafen Village) was attacking mobs on sight despite I didn't talk with her and accept the escort Q yet.
![wowscrnshot_033115_231239](https://cloud.githubusercontent.com/assets/5777848/6951769/6379b51a-d8c6-11e4-99ed-5232e96d3c00.jpg)

[2015-04-01 20:27] ccshiro opened #330 "The event outside Shadow Lab is not working properly"
Kinda strange, saw it working 2 days ago.

[2015-04-01 20:54] ccshiro commented on #284
I think stealth is what's actually breaking, not pick pocket, with the combat initiation. Also, might be using wrong hit chance as @Ickler says. Will check.

[2015-04-01 20:56] ccshiro commented on #289
Duplicate of #266.

[2015-04-01 20:56] #289 closed, assigned to nobody

[2015-04-01 21:02] ccshiro commented on #294
This was very likely caused by the same code that caused the crash we had, which means this issue should be fixed already. If you notice it again in future tests, please reopen this.

[2015-04-01 21:02] #294 closed, assigned to nobody

[2015-04-01 21:10] ccshiro commented on #286
Also seems to be bugged where it can stack from multiple sources.

[2015-04-01 21:13] #288 closed, assigned to nobody

[2015-04-01 21:29] ccshiro commented on #291
We made it so knockbacks dismount you. If you get knockbacked while on a flying mount the client "forgets" you're flying and you fall. Now, it's possible the outcome should be different; e.g., maybe you can't be knockbacked on a flying mount.

Anyway, seems like a very low prio issue that needs research.

[2015-04-01 21:36] ccshiro commented on #295
Our critter AI makes critters run away for a while and then evade back to their spawn position if attacked directly, which is true for rats and stuff, but maybe this shouldn't apply to bigger critters like cows or deers?

[2015-04-01 21:40] ccshiro commented on #296
Seems the racial is only applied when you relog. If you equip your axe it won't appear until relog.

[2015-04-01 21:45] ccshiro commented on #301
I'll put this as needs testing, let me know what you find next test.

[2015-04-01 21:47] ccshiro commented on #302
Seems like defensive pets broke altogether in the grid rewrite. They don't attack when the owner is attacked.

Changed your title, hope you don't mind.

[2015-04-01 21:54] ccshiro commented on #305
This item does actually have a 100% drop rate, the guy in the comments just didn't fulfil the drop criteria. However, we do have a bug with starting quest items dropping while you already have the quest accepted. I will close this issue however since we are already aware of the latter, and it's not only this quest.

[2015-04-01 21:54] #305 closed, assigned to nobody

[2015-04-01 22:02] ccshiro commented on #307
Should probably have a delay before he auto-casts tainted blood so you have some time to use any spell you want.

[2015-04-01 22:02] tripleslash commented on #301
For normal warrior charge you normally have to update the move spline position when the stun effect hits the target so you always reach your target if your charge lands. I suppose this is true for feral charge as well, however I am not sure.

[2015-04-01 22:04] ccshiro commented on #310
We had some reason to think it shouldn't, but I have no idea why. Some research needed.

[2015-04-01 22:06] ccshiro opened #331 "Duel Flag spawns in-between caster and target"
Duel flags spawns between me and target, pretty sure I remember it spawning to the side and not in-between.

(Can probably test on retail to confirm.)

EDIT: Yep, I remembered it right!

[2015-04-01 22:14] ccshiro opened #332 "I can make my pet attack guards"
In thrallmar, if I'm far away and use firebolt my imp actually attack these guards. And yes, I am a horde...

[2015-04-01 22:16] ccshiro commented on #311
Works as intended when I tried them. Please try again next test and reopen the issue with further instructions if it still bugs for you.

[2015-04-01 22:16] #311 closed, assigned to nobody

[2015-04-02 02:37] bjplunk commented on #319
Github needs a like function.

[2015-04-02 03:56] Shakeandbake commented on #165
When testing the underground portion outside karazhan i found the first 2 unliving residents directly at inside the entrance unable to path to me. Once inside and the server crashed/restarted, these mobs successfully pathed and attacked me on the way out. Not sure if its intermittent or because of the state of the server during testing.

[2015-04-02 09:52] nz54445 commented on #310
http://www.wowwiki.com/Enslave_Demon

For reduction of melee and casting speed, it should be clear on this page that:
3.1.0 (14-Apr-2009): Spell haste penalty reduced by 10%. Melee haste penalty reduced by 10%.; Warlocks now innately have an increased 10% spell hit chance on the Enslave Demon spell.

Since:
Enslaved
While enslaved, the time between the demon's attacks is increased by 30% and its c

[2015-04-02 09:57] nz54445 commented on #324
....and as such we have left Vanilla questing in its default state. This means that Vanilla content can be progressed through, but does not provide our level of perfection. For example, most RP events, and a great deal of scripted quests (such as escort quests) are non-working.

Should be flagged for vanilla content.

[2015-04-02 09:57] nz54445 commented on #323
....and as such we have left Vanilla questing in its default state. This means that Vanilla content can be progressed through, but does not provide our level of perfection. For example, most RP events, and a great deal of scripted quests (such as escort quests) are non-working.

Should be flagged for vanilla content.

[2015-04-02 10:52] Isuel commented on #286
feral druid stack in raids MUST be the new thing! forget the locks and hunters!

[2015-04-02 13:37] ccshiro commented on #312
We removed it from players. In other words it only follows behind on NPCs. We did that because if you kept spinning around as a player the mob would keep moving behind, sometimes cancelling its auto attack. Maybe this needs research though?

[2015-04-02 13:44] ccshiro commented on #316
Some more research might be nice to figure out how it should work.

[2015-04-02 13:47] ccshiro commented on #317
The video definitely proves that entangling roots doesn't share DR with feral charge's snare. It'd be nice to find if feral charge has any DR at all, though.

[2015-04-02 13:57] ccshiro commented on #320
You can blanket silence the mob, preventing him from casting water bolt. However, his water bolt itself is non-interruptable. Therefore it sounds strange that you would've been able to interrupt it at all. When testing with pummel in game it works as intended; i.e. I can't interrupt it.

[2015-04-02 13:57] #320 closed, assigned to nobody

[2015-04-02 14:00] ccshiro commented on #321
This is indeed not a pathing but, but an AI bug. This affects too many mobs to solve it, but Nim will be able to fix it over time as he fixes Vanilla content.

[2015-04-02 14:00] #321 closed, assigned to nobody

[2015-04-02 14:05] braide commented on #317
No DR at all would mean that 4 druids would be able to keep a character at the same place forever, which seems a little unbelievable to me. 15 sec DR would mean that one druid will never notice a DR anyway (since the spell has 15 sec CD). DR on itself feels the most logical, but that's just my opinion I guess...

[2015-04-02 14:09] ccnim commented on #327
Couldn't reproduce this and it looks a lot like the ALT bug (due to you being able to AoE) and therefor I will invalidate it.

The ALT bug happens when you tab in and out of the game during the loading screen and will make the game think you are holding down your ALT key. If this happens again tap ALT once and it should be fixed.

[2015-04-02 14:09] #327 closed, assigned to nobody

[2015-04-02 14:36] leroy1 commented on #312
There is a difference between trying to attack from behind and attack only from behind. Pet shouldn't stop autos while trying to get behind the target

[2015-04-02 14:57] ccshiro opened #333 "Crashes"
Fixing dem crashes.

[2015-04-02 15:32] Klimpb commented on #312
Can watch the whole video but I'd say the parts most worth watching are:

The game that starts around 01:00 & from 06:16 onwards(watch the void walker on the paladin)

My understanding of it is that if you send your pet on a player that stands still, the pet will not try to position himself behind the target. However as soon as the player that the pet is attacking moves away far enough from the pe

[2015-04-02 15:35] Klimpb commented on #307
@ccshiro How do you explain the felhunter casting Tainted Blood at the same time or just barely 1 second prior to casting spell lock at 00:20:20.485 - 00:20:21.583 though?

EDIT: My bad, that animation is from the warlock casting Soul Link, eh.. Feel pretty stupid now. Will try to watch the clips again and see if the pet does the tainted blood animation, which seems to be more of an attack/nod ani

[2015-04-02 15:38] zixsen commented on #326
Not questioning the drop rate on this quest, but isn't it hard to determine droprates by % from wowhead? Wont it be showing incorrect values from people killing them without the quest? Or will the feathers drop for people even without the quest?

[2015-04-02 15:42] netherspite commented on #326
Well, AFAIK, droprates = 80% for almost all the quest items in stock MaNGOS. Most of them are incorrect.
Second, I remember this quest taking way more time to complete on retail.
Third, there is a comment on wowhead stating that the droprate for those is low. While exact percent from the wowhead may be wrong, I doubt people would call 80% droprate low.

[2015-04-02 16:44] ccnim opened #334 "Failed attempt when herbing"
Currently the "Failed attempt" happens the moment you click the herb instead of at the end of the cast.

[2015-04-02 16:48] Barroth commented on #312
I actually think it is a pulse like check every few seconds when the pet is attacking and not moving.
https://youtu.be/TMNxDcMOXRs?t=135 at 2:19 the pet repositions itself, even though it finished it attackchase movement before

[2015-04-02 16:53] ccnim opened #335 "Invalid herb"
Sometimes the herb stays after being herbed and if you click on it again you will get the error "Invalid Target".

[2015-04-02 17:03] #270 closed, assigned to ccnim

[2015-04-02 17:05] ccnim commented on #326
I lowered it a bit.

[2015-04-02 17:05] #326 closed, assigned to ccnim

[2015-04-02 17:39] #331 closed, assigned to ccshiro

[2015-04-02 17:55] #280 closed, assigned to ccnim

[2015-04-02 18:52] #281 closed, assigned to ccnim

[2015-04-02 20:38] Shakeandbake commented on #317
I believe it shared DR with other immobilize effects not removed by damage such as improved wing clip. Although I cannot remember any instance while playing a feral druid on retail where the feral charge duration was not the full 4 seconds.

[2015-04-02 20:50] #330 closed, assigned to ccshiro

[2015-04-02 20:51] ccshiro commented on #317
@braide DR is 15-20 seconds (or more correctly, DR is 15 seconds, but DRs that have expired are only pruned every 5 seconds), so in theory it is possible to notice, just not very likely to find a video of it.

[2015-04-02 21:17] #329 closed, assigned to ccshiro

[2015-04-02 21:36] Ickler commented on #284
Yeah stealth breaks, but I can't tell if it just breaks, or if it breaks because mob is attacking me. I think mobs should have a chance to detect the pick pocket. I would speculate and say that should probably be a set amount based on the stealth level vs mob level perhaps, or just player level vs mob level? I know you can get "Miss", but in those cases mobs don't attack, and you don't drop stealt

[2015-04-02 21:51] Ickler commented on #284
Can't find much on the topic of pick pocketing:P Lots of random comments on WoW head and other similar sites, nothing informative though.

Only information I can find is from http://www.wowwiki.com/Pick_Pocket

One thing I might add was that it seemed pickpocket didn't pick up the loot if you have auto-loot enabled. I don't have any addons that govern this, so it would be odd if it was only me tha

[2015-04-02 21:55] shadowraider commented on #335
i may know where is the problem, have been looking for this many times and the conclusion i found was that game object activate (click) range is 1 yard larger than loot range, so if you are staying in this 1 yard radius, you can click on it, but will not get any loot because you are out of range of the loot

how to reproduce? go to a herb, find the gameobject activation outer edge by walking back

[2015-04-02 21:56] shadowraider commented on #334
maybe relative what i stated here https://github.com/ccshiro/cc-buglist/issues/335

[2015-04-02 23:51] #309 closed, assigned to ccshiro

[2015-04-03 04:14] teddys commented on #317
http://www.youtube.com/watch?feature=player_detailpage&v=WsZjTVcQyWw#t=593s

wingclip, improved hamstring and entrapment are all random roots
charge is something more like a counterattack(does that dr with random roots?)

[2015-04-03 04:18] teddys commented on #295
:DDDD

[2015-04-03 10:33] ghost commented on #317
Author of the Feenix report here, glad to see someone tested this, very important issue in my opinion and I really hope CC fixes it unlike other private servers. I have done some more research into this and I've found evidence that feral charge completely lacks DR. Check this video:

https://www.youtube.com/watch?v=PYWw7e97bmw specifically at [14:14](https://youtu.be/PYWw7e97bmw?t=854)

The priest

[2015-04-03 13:29] ccshiro commented on #308
Edit: nevermind.

[2015-04-03 14:02] #308 closed, assigned to ccshiro

[2015-04-03 14:46] #267 closed, assigned to ccshiro

[2015-04-03 15:50] #266 closed, assigned to ccshiro

[2015-04-03 15:57] ccshiro commented on #268
I can't reproduce this. It's possible this was the same origin as the first crash we fixed. That crash was of the kind that could cause all kinds of strange side effects. If I'm wrong and this happens again next test please reopen this issue.

[2015-04-03 15:57] #268 closed, assigned to ccshiro

[2015-04-03 16:17] ccnim opened #336 "Dun Morogh"

[2015-04-03 16:48] #315 closed, assigned to ccshiro

[2015-04-03 17:54] ccnim commented on #261
Will get around to this if we have the time to otherwise it will be left as default.

[2015-04-03 17:54] #261 closed, assigned to nobody

[2015-04-03 17:54] ccnim commented on #323
Will get around to this if we have the time to otherwise it will be left as default.

[2015-04-03 17:54] #323 closed, assigned to nobody

[2015-04-03 17:54] ccnim commented on #324
Will get around to this if we have the time to otherwise it will be left as default.

[2015-04-03 17:54] #324 closed, assigned to nobody

[2015-04-03 19:48] ccshiro commented on #283
We kept having the issue that we get pathing bugs reported but when we test it the pathing works. The same was true for all the cases seen in this screenshots, as well as those in the following reports: #293 and #278. But given how they manifest randomly and the manner in which #278 breaks I think I've realized what happens.

My theory:
Basically, there's nothing wrong with the pathing; instead wh

[2015-04-03 19:49] ccshiro commented on #278
Fairly sure the cause is the same as for #283.

[2015-04-03 19:49] #278 closed, assigned to nobody

[2015-04-03 19:49] ccshiro commented on #293
Fairly sure the cause is the same as for #283.

[2015-04-03 19:49] #293 closed, assigned to nobody

[2015-04-03 20:22] Chulain commented on #336
for Khaz Modan

[2015-04-03 20:47] ccshiro commented on #312
@Barroth If NPCs chase to a target and end up inside they will move away after a short moment if the target stays stationary. The good old, "oh crap I went too far" move*. I'm very confident that's the move the pet pulls in the movie and it's not the chase behind thing. After all, the pet went straight away from the Warlock, ending up at his side, not behind him.

\* Which does not exist on Corecr

[2015-04-03 21:11] ccshiro commented on #312
Check 7:00 in @SuddenDeath's video. The VW is on the warrior, and the player commands it to attack the Paladin. It goes a direct path to the Paladin and does not run to his back, but end sup facing him fairly heads on. I think if anything that video proves it shouldn't happen vs players.

[2015-04-04 10:24] braide commented on #317
Only problem with those videos @caffeinez linked is that they are outdated. It's a very early patch as the terrain in the arenas show and blind here is a poison (pre patch 2.3.0). Sure if you look at the logs of feral charge no changes are made about the DR, but there were undocumented changes as well. Would be nice with a 2.4.3 video of 2 druids feral charging same target :)

[2015-04-04 11:50] ccnim opened #337 "Eversong Woods"

[2015-04-04 11:50] ccnim opened #338 "Ghostlands"

[2015-04-04 11:50] ccnim opened #339 "Eastern Plaguelands"

[2015-04-04 11:50] ccnim opened #340 "Western Plaguelands"

[2015-04-04 11:51] ccnim opened #341 "Tirisfal Glades"

[2015-04-04 11:51] ccnim opened #342 "Silverpine Forest"

[2015-04-04 11:51] ccnim opened #343 "Alterac Mountains"

[2015-04-04 11:51] ccnim opened #344 "Hillsbrad Foothills"

[2015-04-04 11:51] ccnim opened #345 "The Hinterlands"

[2015-04-04 11:51] ccnim opened #346 "Arathi Highlands"

[2015-04-04 11:51] ccnim opened #347 "Wetlands"

[2015-04-04 11:52] ccnim opened #348 "Loch Modan"

[2015-04-04 11:52] ccnim opened #349 "Badlands"

[2015-04-04 11:52] ccnim opened #350 "Searing Gorge"

[2015-04-04 11:52] ccnim opened #351 "Burning Steppes"

[2015-04-04 11:53] ccnim opened #352 "Redridge Mountains"

[2015-04-04 11:53] ccnim opened #353 "Elwynn Forest"

[2015-04-04 11:53] ccnim opened #354 "Swamp of Sorrows"

[2015-04-04 11:54] ccnim opened #355 "Deadwind Pass"

[2015-04-04 11:54] ccnim opened #356 "Duskwood"

[2015-04-04 11:54] ccnim opened #357 "Westfall"

[2015-04-04 11:54] ccnim opened #358 "Stranglethorn Vale"

[2015-04-04 11:54] ccnim opened #359 "Blasted Lands"

[2015-04-04 11:54] ccnim opened #360 "Silvermoon City"

[2015-04-04 11:54] ccnim opened #361 "Undercity"

[2015-04-04 11:54] ccnim opened #362 "Stormwind City"

[2015-04-04 11:54] ccnim opened #363 "Ironforge"

[2015-04-04 11:56] #363 closed, assigned to nobody

[2015-04-04 11:56] #362 closed, assigned to nobody

[2015-04-04 11:56] #361 closed, assigned to nobody

[2015-04-04 11:56] #360 closed, assigned to nobody

[2015-04-04 11:57] ccnim opened #364 "Teldrassil"

[2015-04-04 11:57] ccnim opened #365 "Azuremyst Isle"

[2015-04-04 11:57] ccnim opened #366 "Bloodmyst Isle"

[2015-04-04 11:57] ccnim opened #367 "Winterspring"

[2015-04-04 12:02] ccnim opened #368 "Moonglade"

[2015-04-04 12:02] ccnim opened #369 "Darkshore"

[2015-04-04 12:02] ccnim opened #370 "Felwood"

[2015-04-04 12:02] ccnim opened #371 "Azshara"

[2015-04-04 12:02] ccnim opened #372 "Durotar"

[2015-04-04 12:03] ccnim opened #373 "Ashenvale"

[2015-04-04 12:03] ccnim opened #374 "Stonetalon Mountains"

[2015-04-04 12:03] ccnim opened #375 "The Barrens"

[2015-04-04 12:03] ccnim opened #376 "Dustwallow Marsh"

[2015-04-04 12:03] ccnim opened #377 "Mulgore"

[2015-04-04 12:03] ccnim opened #378 "Desolace"

[2015-04-04 12:03] ccnim opened #379 "Feralas"

[2015-04-04 12:10] ccnim opened #380 "Silithus"

[2015-04-04 12:10] ccnim opened #381 "Un'Goro Crater"

[2015-04-04 12:10] ccnim opened #382 "Tanaris"

[2015-04-04 12:11] ccnim opened #383 "Thousand Needles"

[2015-04-04 12:12] ccnim opened #384 "Darnassus"

[2015-04-04 12:12] #384 closed, assigned to nobody

[2015-04-04 12:12] ccnim opened #385 "Orgrimmar"

[2015-04-04 12:12] #385 closed, assigned to nobody

[2015-04-04 12:12] ccnim opened #386 "Thunder Bluff"

[2015-04-04 12:12] #386 closed, assigned to nobody

[2015-04-04 12:13] ccnim opened #387 "Exodar"

[2015-04-04 12:32] ccnim opened #388 "Ragefire Chasm"

[2015-04-04 12:32] ccnim opened #389 "Deadmines"

[2015-04-04 12:32] ccnim opened #390 "Wailing Caverns"

[2015-04-04 12:32] ccnim opened #391 "Shadowfang Keep"

[2015-04-04 12:32] ccnim opened #392 "Blackfathom Deeps"

[2015-04-04 12:32] ccnim opened #393 "Gnomeregan"

[2015-04-04 12:33] ccnim opened #394 "Scarlet Monastery (Graveyard)"

[2015-04-04 12:33] ccnim opened #395 "Scarlet Monastery (Library)"

[2015-04-04 12:33] ccnim opened #396 "Scarlet Monastery (Armory)"

[2015-04-04 12:33] ccnim opened #397 "Scarlet Monastery (Cathedral)"

[2015-04-04 12:33] ccnim opened #398 "Razorfen Kraul"

[2015-04-04 12:33] ccnim opened #399 "Uldaman"

[2015-04-04 12:33] ccnim opened #400 "Zul'Farrak"

[2015-04-04 12:33] ccnim opened #401 "Maraudon"

[2015-04-04 12:33] ccnim opened #402 "Sunken Temple"

[2015-04-04 12:34] ccnim opened #403 "Blackrock Depths"

[2015-04-04 12:34] ccnim opened #404 "Lower Blackrock Spire"

[2015-04-04 12:34] ccnim opened #405 "Scholomance"

[2015-04-04 12:34] ccnim opened #406 "Stratholme"

[2015-04-04 12:35] ccnim opened #407 "Upper Blackrock Spire"

[2015-04-04 12:35] ccnim opened #408 "Dire Maul (East)"

[2015-04-04 12:35] ccnim opened #409 "Dire Maul (West)"

[2015-04-04 12:35] ccnim opened #410 "Dire Maul (North)"

[2015-04-04 12:35] ccnim opened #411 "Zul Gurub"

[2015-04-04 12:36] ccnim opened #412 "Molten Core"

[2015-04-04 12:36] ccnim opened #413 "Ruins of Ahn'Qiraj"

[2015-04-04 12:36] ccnim opened #414 "Blackwing Lair"

[2015-04-04 12:36] ccnim opened #415 "Temple of Ahn'Qiraj"

[2015-04-04 12:36] ccnim opened #416 "Naxxramas"

[2015-04-04 12:37] ccnim opened #417 "Onyxia's Lair"

[2015-04-04 12:38] ccnim opened #418 "The Stockade"

[2015-04-04 12:45] Klimpb commented on #12
Should re-open this and take a closer look at what sasfog previously posted, explained below.

Takes 21 frames out of 25fps ≈ 0,84sec from casting Deadly Throw and for it to have interrupted the cast: https://www.youtube.com/watch?v=U7wwsXO2Njc#t=4m15s

Here he actually starts his cast AFTER he has taken damage by the Deadly Throw, shortly after he gets interrupted. 43 frames out of 30 fps ≈ 1,43s

[2015-04-04 15:03] ghost commented on #317
Yeah it's not ideal I guess, but I don't think there any precedent for DR changes not being documented, Wowwiki usually documents everything including undocumented changes. I've went through them before and the only change about feral charge is about the immobilize and interrupt resisting separately.
All the other DR changes atleast pre/mid wrath are documented here:
http://www.wowwiki.com/Diminis

[2015-04-04 20:59] #306 closed, assigned to ccshiro

[2015-04-05 13:02] ccshiro commented on #276
@ccnim: Added so you can check quest giver as well in the conditions (target = 1).

[2015-04-05 13:23] #287 closed, assigned to ccshiro

[2015-04-05 13:30] #265 closed, assigned to ccshiro

[2015-04-05 13:51] #286 closed, assigned to ccshiro

[2015-04-05 14:21] #302 closed, assigned to ccshiro

[2015-04-05 14:38] netherspite commented on #335
It happens also for gameobjects, I've reported it after some of the previous tests.
It is related to the range, yes.
If you attempt to loot the gameobject at the max possible distance it will end up like this.

[2015-04-05 15:00] #263 closed, assigned to ccshiro

[2015-04-05 16:20] #290 closed, assigned to ccshiro

[2015-04-05 17:27] ghost commented on #275
I found this:
https://youtu.be/6DTmw7FvKCk?t=11975

It's from vanilla though patch 1.1. If you  slow down the speed you can see that the food+water ticks  but after the raptor aggros the hp stops ticking while the mana continues. So it seems like food is not supposed to work in combat? I honestly thought it did but I guess I'm brain washed from retail and faulty private servers? I've tried find so

[2015-04-05 17:50] ccshiro commented on #275
@caffeinez That's how I thought it worked. Nice that you found proof. Will close as invalid.

[2015-04-05 17:50] #275 closed, assigned to nobody

[2015-04-05 19:34] #312 closed, assigned to nobody

[2015-04-05 19:35] ccshiro commented on #310
@nz54445 I see, thanks.

[2015-04-05 22:34] ccnim opened #419 "Operation Recombobulation"
This quest has an event triggering after you've completed it.

Research found so far:
Razzle Sprysprocket: Let me install these Gyromechanic Gears and Restabilization Cogs and we'll fire up The Recombobulator.
Razzle Sprysprocket: That should do the trick.
Razzle Sprysprocket: Time to save the entire gnomish race. Here goes nothing!

http://www.wowwiki.com/Captured_Leper_Gnome - "After completing

[2015-04-05 23:10] Chulain commented on #295
"Critters are (mostly) harmless and low level.
Some critters, such as the rats in Deadmines and the Deeprun Tram, the Biletoads in Wailing Caverns, or Frogs (no, really!) will strike back at an attacker if the attack doesn't immediately kill them. "

also!
"Critters can also be killed by Sleepy Willy, a non-combat small pet that is a quest reward from the annual Children's Week event."

http://www

[2015-04-06 14:02] nz54445 commented on #295
I think MaNGOS default cows have some 3k hp for some reason (Remember that being the case on another private server).

@ccshiro I think the critter AI that you describe is the normal critter AI with the exception of some of the mobs that can attack, such as those mentioned by Chulain. The only fix here would be a fix on their hp.

As far as them evading out in the open, the only thing that pops to

[2015-04-06 14:17] nz54445 commented on #316
I think this discussion might help: http://www.wowhead.com/forums&topic=32255/someone-please-explain-the-guard-system-on-the-isle-of-queldanas

Edit: On second thought, re-reading, it seems to be the other way around: If you attack a player within guard aggro range, you will get attacked, but if you attack a player that is in guard aggro range but you are outside of guard aggro range, you will not

[2015-04-06 17:38] #335 closed, assigned to ccshiro

[2015-04-06 22:53] #334 closed, assigned to ccshiro

[2015-04-06 22:56] ccshiro commented on #307
Looking at the video @SuddenDeath links it strikes me that the pet probably has some specific activation requirement. At ~7:30 in the video you see him cast it after being struck. Previous to that I didn't see it casted at all. Is is possible the felhunter only activates it after being hit by something?

Guess this needs some research.

[2015-04-06 23:02] ccshiro commented on #317
@caffeinez That's some really nice evidence you've gathered there. Thanks for sharing. I think this looks fairly compelling to Feral Charge not having a DR category at all.

[2015-04-07 00:16] jovce17 commented on #316
hmm i dont really care if its +-5 /10 yards what i would like to test is something like this
player A attacks player B  and player B has effect like thorns or molten armor lightning shield etc ...
I would like to test if the guard will attack only player A or player B also and if should be like that or not

 pets on defence are another question if the pet attacks the player who attacked his master

[2015-04-07 00:20] jovce17 commented on #307
hmm i used to have lvl 35 lock or smthing like that on TBC eu magderidon as far i remember the felhunter wasnt spaming the tainted blood he was using it only while he was in a fight with some melee mob ..( it was attacked melee )

[2015-04-07 00:33] jovce17 commented on #295
Hmm i dont see this relevant to the gameplay and having big impact on it ....
Leave it for post launch as long as it doesnt causes problems with the server stability it can be overlooked for now ... PPL the more we focus on small bugs like this the further server launch date goes in the future lets keep the bug reports to game play mechanics quests spells and things that will have impact on the ov

[2015-04-07 04:02] ghost commented on #273
https://www.youtube.com/watch?v=aQDNcRefCx4

A druid kited fel reaver to Shat using rank 1 insect swarm doing what looks like a total of 20% damage and couldn't loot him at the end.

https://www.youtube.com/watch?v=AdBv9ZU-d5I

Horde kited Fel Reaver to Honor Hold and don't appear to be able to loot it after they died.

[2015-04-07 08:50] nz54445 commented on #295
@jovce17 I disagree, this is actually more important then it appears at first glance:

Let's assume that this influences other critters. A warrior can then use anger management in dungeons to keep their rage at 100 just by hitting it and letting it run around. Normally critters are rage batteries for warriors/druids, since you get rage from attacking them. Furthermore, if a critter can not die, th

[2015-04-07 09:54] nz54445 commented on #307
@ccshiro
Here you go shiro:

http://www.wowwiki.com/Tainted_Blood

This is the TBC version as it has been replaced in WOTLK:

Patch 3.0.2 (14-Oct-2008): Paranoia and Tainted Blood have been replaced with Fel Intelligence and Shadow Bite.

Direct quote:

This ability can be set to auto-cast; if so, the game's AI will automatically have the Felhunter cast Tainted Blood on itself whenever it enters i

[2015-04-07 10:56] jovce17 commented on #295
@nz54445  the OP said only that he cant kill the cow because she has 3k HP and that she was constantly evading and resetting aka going out of combat all the time  ...he wasnt getting stack in combat  and he didnt mention about the small critters not being able to get killed aka unkillable
this bug only makes them reset and evade  and that thingy wit warrs and druids was abuse ...and usually warss

[2015-04-07 11:12] jovce17 commented on #284
hmmm as i remember it failing to pickpocket resulted to the mob detecting you and attacking you
that happened while i was doing the poison quest on retail...when you had to do the pickpocket the key thingy.
probably only the success chance is to low here

[2015-04-07 11:33] ccshiro commented on #307
@nz54445 I read that on wowwiki too, but looking at the video provided in the OP I think I ought to have seen more tainted blood if it was when the felhunter is in combat (after all it's a short duration spell). As always, wowwiki isn't the most reliable source and I'd rather gather some occurrences of the auto-cast in videos to determine the trigger.

[2015-04-07 12:22] nz54445 commented on #307
I have a really hard time spotting the cast of tainted blood in the video. From the video the only things that i can notice is that it rarely is sent to attack (with ctrl+2) and it is rarely struck directly, but there are exceptions. Sometimes it's far away / not on the screen to actually see the animation, is there any textual indicator that it casts the spell or is it just guessing and looking a

[2015-04-07 12:23] ccnim opened #420 "Grey Iron Weapons"
"Tormus is happy to receive the ore, and grateful for your aid in revenging his mentor. After a short bout of blacksmithing,
he produces an array of Grey Iron weaponry from the ore you supplied, and offers you a choice from among them." - http://www.wowwiki.com/Grey_Iron_Weapons_quest_chain

I think this implies he's going to make the weapons on the great anvil and that's what I'll make him do for

[2015-04-07 12:24] #273 closed, assigned to ccshiro

[2015-04-07 12:28] ccshiro commented on #298
Just tested, and I got regenerated to full health in skirmish as well. If this happens again, please make a recording and open a new issue, so we can figure out what exactly triggers the bug.

[2015-04-07 12:28] #298 closed, assigned to ccshiro

[2015-04-07 12:30] ccshiro commented on #307
@nz54445 The visual is fairly distinct; the standard felhunter nod cast animation but with fire popping up in front of his head. That's the only indicator I was able to determine in the video.

[2015-04-07 12:40] jovce17 commented on #307
@ccshiro
I found a Proof  that the fulhunter uses tainted blood only when he is attacked melee
for the entire video he only used it when the mob atcked him at 4:52
here is link https://youtu.be/7NagvKFLngU?t=290
also at 5:20 when he is attacked by the paladin

AT 6:30 he summons new felhunter and sends it to attack the paladin  but the new felhunter doesnt use tainted blood asap
He uses it at 6:34

[2015-04-07 12:44] jovce17 commented on #307
@ccshiro  you can notice tainted blood cast by trrigering GCD on fellhunter abilities and ofc by causing debuff on the paladin  after he attacks him

[2015-04-07 12:59] jovce17 commented on #307
another video
https://www.youtube.com/watch?v=kmM27qHgy2k
1:33 GCd causedd by activating soullink
1:36 tainted blood is being used after its attacked by the rogue

[2015-04-07 13:41] ccnim commented on #420
Found that he uses a say.
$N, I'm finished!

[2015-04-07 14:15] bjplunk commented on #420
There is a short cut scene after completing this quest, where Tormus pounds on his anvil a bit, then offers up a Grey Iron weapon.
http://www.wowwiki.com/Quest:Ironband's_Compound

[2015-04-07 14:35] bjplunk commented on #419
"The chicken ran outside, darted around erratically for a bit, and then (in my case at least) disappeared at 45, 48."
http://www.wowhead.com/quest=412/operation-recombobulation#comments:id=358977:reply=347906

[2015-04-07 14:39] bjplunk commented on #419
Upon the completion of Official alliance mini-icon [10] Operation Recombobulation, the quest giver, Razzle Sprysprocket, starts an action sequence that turns a captive leper gnome into a chicken, which then runs off. If you follow it out the door, it runs a short distance and then despawns.
http://www.wowwiki.com/Chicken

[2015-04-07 14:40] bjplunk commented on #419
Step Three: Bring them back to Razzle, and make sure you pull your screen view back enough so you can watch the unusual contraption he's got inside his house. Focus on the caged leper gnome, and watch it turn into a chicken. Voila! You're done.
http://mageofwarcraft.blogspot.com/2008/09/fun-free-or-at-least-relatively_08.html

[2015-04-07 15:14] ccshiro commented on #328
@ccnim Should be fixable now, use quest none as the condition.

[2015-04-07 15:22] ccnim commented on #336
Garments of the Light needs to have Mountaineer Dolf face the caster in the script:
https://youtu.be/ptXkPzIJCGI?t=127

[2015-04-07 15:45] Lephidiles commented on #419
WOTLK:

https://www.youtube.com/watch?v=VTqaqFsQzcw

about 1:40 into the video he accept the quest

https://www.youtube.com/watch?v=mZfHitoydX8

about 6:10 he starts doing it (first drop about 7:20) along with another drop (gyromechanical cog?)

https://www.youtube.com/watch?v=IMSuYH7nA9w

done at about 1:20 here

You never see him delivering it as i think that must happen between video 13 and 14

[2015-04-07 15:53] whocares8310 commented on #316
http://www.wowhead.com/forums&topic=64190/regarding-being-ganked-in-neutral-territories

Player is attacked outside of town and runs into town/guard range with the dot on him or with the attacker still firing on him. In doing so the attacker picks up guard aggro.
I wouldn't be surprised if guard  aggro radius were something like 30 yards though. So if you were to attack someone within guard aggro

[2015-04-07 17:13] Klimpb commented on #307
@jovce17 strange, I've never actually seen a video where the pet bar displays GCD. But I also doubt soul link causes GCD for the pet since in the video I linked the pet casts spell lock within 1 second of a soul link cast.

[2015-04-07 20:12] jovce17 commented on #307
there are 2 videos not 1. First is  from Neptulon EU, 2nd is from Bloodscalp idk if from EU or US.

And about not seen any videos ..up till now frankly i doubt that we were  gawking at the pet bar to see if does it show or not XD

[2015-04-07 20:27] jovce17 commented on #307
@SuddenDeath about your video he just re summons his pet while his pet is alive he doesnt recast soullink at all and as you can see at 0:04 the moment he uses spell lock devour magic and tainted blood turn gray for 0.5 sec as you can see  idk if its some kinda of interface bug some addon that he is using but it clearly shows that that pets GCD was activated ..devour magic and tainted blood turned

[2015-04-07 20:45] #284 closed, assigned to ccshiro

[2015-04-07 21:00] #325 closed, assigned to ccshiro

[2015-04-07 21:05] jovce17 commented on #307
@SuddenDeath  in your 2nd video the one from megaupload..
0:58 clearly shows how both devouring magic and tainted blood go on GCD when he uses spell lock
1:48 devoure magic > spell lock and tainted blood go on CD

ON 2:09 he uses tainted blood and it caused GCD on spell lock and devour magic and at 2:09-2:10 he wasnt able to use spell lock becouse of that you can clearly see him spaming the macro

[2015-04-07 22:29] #276 closed, assigned to ccnim

[2015-04-07 22:48] #303 closed, assigned to ccnim

[2015-04-07 22:59] #328 closed, assigned to ccnim

[2015-04-08 13:22] #333 closed, assigned to ccshiro

[2015-04-08 13:28] #336 closed, assigned to ccnim

[2015-04-08 13:42] #317 closed, assigned to nobody

[2015-04-08 15:42] Klimpb commented on #307
@jovce17 yes, casting devour magic, spell lock & Tainted blood all cause pet GCD. Soul link however, does not.

[2015-04-08 15:46] jovce17 commented on #307
the only problem on our server is that the felhunter uses the tainted blood asap after he is summoned ....it should be reconfigured to be used only when the pet is attacked i wasmentioning times where you can see in your own video GCD on pets toolbar

[2015-04-08 19:36] #296 closed, assigned to ccshiro

[2015-04-11 13:38] ccshiro opened #421 "Fill in loot selection data"
Fill in loot selection data

[2015-04-11 13:38] ccshiro commented on #322
The core loot selection system has been fixed to be able to fix this issue with. The data still needs to be filled in for the system to take effect. I've created a new issue for that: #421.

In other words, it won't be fixed yet, but we now can fix it.

[2015-04-11 13:38] #322 closed, assigned to ccshiro

[2015-04-12 14:36] #420 closed, assigned to nobody

[2015-04-13 19:39] Platzwart commented on #291
Until Patch 3.3.0 knockbacks dismounted the player (from ground and flying mounts).
In the Patchnotes for Patch 3.3.0 they stated that knockbacks _no longer_ dismount players which can be found here:

"Knockbacks no longer dismount players. If on a flying mount, you will be knocked back a short distance before being able to resume flying."
http://us.battle.net/wow/en/game/patch-notes/3-3-0

And on

[2015-04-13 20:14] ccshiro commented on #295
@ccnim Did some checking, all that's really bugged is some critters having way too much health.

[2015-04-14 13:31] #295 closed, assigned to ccnim

[2015-04-14 16:59] ccshiro opened #422 "Creature Stats"
Stat attributes such as Intellect, Stamina, etc. currently only exists for players and their pets. This is wrong, as NPCs too should have stats.

In order to fix this some research is needed. If we were to assume it's a formula that derives the stat for any NPC (seems likely given that's true for stats we already have, such as NPC armor), we would need to derive said formula for the various stats

[2015-04-14 16:59] ccshiro commented on #422
Here's a thread with data for TBC demons: http://wowmb.net/forums/f100/12177-encyclopedia_demonica_hellfire_peninsula/p8/

[2015-04-14 17:00] ccshiro commented on #310
Fixed soul link, can't do anything about Demonic Knowledge until #422 is fixed.

[2015-04-14 17:00] #310 closed, assigned to ccshiro

[2015-04-14 18:53] ccshiro commented on #307
Looking over the videos I think it's clear the felhunter auto-casts tainted blood when it takes damage. What's a bit more strange is that it seems the attack that caused the tainted blood to be auto-casted also triggers the proc effect.

I have implemented the first part, but I cannot cleanly implement the second without some hack that might break down in some cases. Given that the second prescrib

[2015-04-14 18:53] #307 closed, assigned to ccshiro

[2015-04-14 20:37] ccnim opened #423 "Garments of Darkness"
This undead priest quest will have you heal and buff a wounded guard. The Dwarf equivalent quest had the dwarf say a few things but for this quest I couldn't find anything.

Basically what I need is the guard's says and if possible a video show-casing the quest.

[2015-04-14 21:43] nz54445 commented on #307
While doing research the spell was mostly considered negligible in TBC due to the fact that melee never hit the felhunter, unless it was a charge or something to get to the lock, so it definitely won't impact the game too much. Nice work fixing the bug!

[2015-04-15 01:59] #341 closed, assigned to nobody

[2015-04-15 10:34] nz54445 commented on #423
The alliance side of the quest chain is called In Favor of light and Garments of light, the wowwiki entry is here: http://www.wowwiki.com/Quest:In_Favor_of_the_Light_%28Dun_Morogh%29

Now i could not find anything on the dwarf quest, but i did find one for humans (which is the identical quest chain with the identical reward): http://www.wowwiki.com/Quest:In_Favor_of_the_Light_%28Elwynn_Forest%29

[2015-04-15 12:24] #332 closed, assigned to ccshiro

[2015-04-15 13:23] ghost commented on #422
It makes sense for NPCs to have stats, otherwise the paladin talent Vindication is rather useless in levelling/PvE

[2015-04-15 14:17] #277 closed, assigned to ccshiro

[2015-04-15 16:49] shadowraider commented on #422
is this really considered a major bug?

[2015-04-15 17:24] ccnim commented on #423
Seems like my post wasn't all that clear.

I've already completed the dwarf quest line when I was doing Dun Morogh but when I was working on Tirisfal Glades I couldn't find any information about the counterpart for undead priests, so basically I need help researching the undead priest class quest Garments of Darkness.

[2015-04-15 22:26] nz54445 commented on #423
My mistake i thought you needed the dwarven part. I'll try to look into the undead part, all I have so far is a video that is taken in cata or some other that is so poor it shows nothing.

[2015-04-16 07:49] nz54445 commented on #423
@ccnim Just to be sure that i understand it, you need what the deathguard Kel is saying right? I can't find a video anywhere of him having a speech bubble, nothing on wowhead, wowwiki etc. It's possible that his line is exactly the same as the alliance line since it seems quite generic of a line: Ah, %Class you came along just in time. I appreciate it.

[2015-04-16 08:53] mara1987 commented on #341
What are you doing exactly? Rewriting quests?

[2015-04-16 08:58] mara1987 commented on #361
What are you doing exactly? Quest fixing?

[2015-04-16 16:31] #313 closed, assigned to ccnim

[2015-04-16 18:53] ccshiro commented on #283
I went through the logic but was unfortunately unable to find anything wrong.

As with any concurrent code it's hard to immediately see what might go wrong (especially when you're unable to reproduce the error); so I figured I'd go ahead and simplify some parts of the code hoping to uncover the issue that way.

I was unable to find anything wrong in the simplification process, and while it's techn

[2015-04-17 15:31] ccshiro commented on #314
I've resolved this issue by changing some pathfinding behavior. We think the changes will make pathing more retail-like, but it'll need some testing. Keep your eyes open for strange pathing behaviors next test, as this change might cause some.

[2015-04-17 15:34] ccnim commented on #423
Hmm, I'll leave him silent until we find something solid.

[2015-04-17 19:12] Wtfeater commented on #423
Although probably not rock solid proof, I found this list from trinitycore showing the different wording for the races, maybe googleing parts of the sentences will yield some results? https://gitlab.com/trinitycore/trinitycore/raw/7252f11add985247d7ae5b8262d8f38e60bd8e33/sql/old/3.3.5a/TDB49_to_TDB50_updates/world/2012_12_07_05_world_creature_text.sql

This video confirms atleast the gnome/dwarf o

[2015-04-17 19:42] nz54445 commented on #423
@Wtfeater nice find! I thought as much, the lines seem to be fairly generic. Really damn hard to find an undead video/log, if there is one even. Hopefully this helps nim along.

[2015-04-18 08:55] leroy1 commented on #422
http://www.wowhead.com/forums&topic=88411/vindication-why-it-is-worthless-in-pve

[2015-04-20 15:47] ghost commented on #422
interesting wotlk thread

[2015-04-20 18:12] solowt opened #424 "Dead mobs following you (again)"
Same issue as last test.  I noticed a dead wolf and warp stalker following me around and hitting me outside of shatt.

[2015-04-20 18:15] rylaiii opened #425 "Talking to an FP master, while not having connected Flight Paths should give an error of some kind?"
While in STV, I picked up the flight path (first time in Eastern Kingdoms, so obviously no flight paths connected), the flight path master or gryphon master hadn't given me an error. He just looks at me and looks away.
I think there should be an error pop up, i may be wrong.

[2015-04-20 18:18] Chulain opened #426 "arcane concentration - arcane missiles"
currently the proc is decided when starting to cast arcane missiles
clearcasting should have a chance to proc on every missile hit

Patch 3.0.8 (2009-01-20): This spell now only has one chance to trigger Arcane Concentration.
source: http://www.wowwiki.com/Arcane_Missiles

[2015-04-20 18:21] Chulain commented on #426
but i'm not 100% sure now that i found this:
-Clearcasting can only proc on arcane missiles at the moment before the first missile where the mana is consumed, NOT on each missile individually.

http://wow.gamepedia.com/Talk:Arcane_Missiles
Dragunov 21:33, 1 April 2008 (UTC)Dragunov April 2008

i'll do some more research after the test

[2015-04-20 18:30] solowt commented on #426
It should only have one chance to proc at the starting of the cast per my recollection of playing mage.  Same deal with blizzard.  If it could proc on every tick then it would be incredibly efficient as you'd have 5 10% chances to proc clearcasting per cast.

[2015-04-20 18:51] Sakatoro opened #427 "NPC Vixton Pinchwhistle sales S1 for Honor"
The NPC Vixton Pichwhistle in Arena52 sales the Season 1 armor set and weapons for honor. This was only available in season 3.
In Season 1 the NPC sailed the set and weapons for arena points.

(one question: I know on retail the season1 set and weapons did not have rating requirements. But it was the first arena season. It is possible to change it to the rating requirement what we had in S4? It wo

[2015-04-20 19:05] deltafoxnine opened #428 "Cannot attack mob #2"
It seems like(pretty sure it is) the samme issue as i posted on march test: https://github.com/ccshiro/cc-buglist/issues/271

Again, i can provide footage i just have a real slow upload. But it is exactly the same mobs. The aggressive are following, and hitting me while they are dead. And the none aggressive are just floating around.

[2015-04-20 19:14] Sakatoro opened #429 "Cost for S1 offparts @ hall of champions are wrong"
Im not 100% sure because season 1 is very long time ago, but in my memory the cost for the season 1 offparts were higher.

For example: Atm the NPC sails the season1 feets for 14280honor points. wowwiki said it was 17850honor points.(this was also my memory)

I found only this from wowwiki: http://www.wowwiki.com/Season_1_Arena_rewards

I think the cost for the blue set and blue weapons are right

[2015-04-20 19:23] paypay43 opened #430 "spells cost mana in arena preperation room"
there is no arena prep buff that makes ur spells cost nothing

[2015-04-20 19:27] ghost opened #431 "NPC in the air"
![wowscrnshot_042015_221650](https://cloud.githubusercontent.com/assets/12034245/7238626/63bfc484-e7ac-11e4-8366-ddc2e71d1a55.jpg)
![wowscrnshot_042015_221656](https://cloud.githubusercontent.com/assets/12034245/7238628/63c5d176-e7ac-11e4-93f6-ccca16813a53.jpg)

[2015-04-20 19:28] Chulain opened #432 "flight master pets"
the flight master pets (gryphons & wind riders) that spawn when you attack a flight master are neutral and cant be attacked
they should be hostile
proof: https://www.youtube.com/watch?v=9sgbbC4UhyE

[2015-04-20 19:36] Isuel opened #433 "[Druid] Mangle (cat)"
currently, when your mangle (cat) gets dodged, blocked, parried or it misses, you lose all 40 energy of it, while you shouldn't.

[2015-04-20 19:54] deltafoxnine commented on #428
Here are two videos show the "Ghost mob" and the "Unattackable mob"
https://www.youtube.com/watch?v=CRWLGcOitn0
https://www.youtube.com/watch?v=jizfTFNidAs

[2015-04-20 20:00] deltafoxnine opened #434 "Quest: I Work... For the Horde!"
This is probably just a low priority issue, but in the quest: I Work... For the Horde! the Salvaged Metal skins/objects are still visible and "glowing/sparkling" after looted for around 30 seconds, then disappears - but in the meantime not lootable and cannot interact/open. This is both the case for the Metal pipes and the Metal cogwheels.

The Salvaged Wood disappears immediately, as intended.

[2015-04-20 20:00] nz54445 commented on #204
Huzzah, was finally able to reproduce this:

![wowscrnshot_042015_214740](https://cloud.githubusercontent.com/assets/8640523/7239034/1087d41e-e7a7-11e4-867f-2d62120ac963.jpg)

How i did it (Notice the other guy is down as well, on the other side):

Fly into them with my rocket, fly low around and above the house over the wall:

![wowscrnshot_042015_214740](https://cloud.githubusercontent.com/asset

[2015-04-20 20:02] Chulain opened #435 "stealth - rog"
when a rogue stealthes while a pet chases him/her the pet shouldn't stop chasing the rogue and should attack when within range (didnt test with prowl)

https://www.youtube.com/watch?v=Q0O4RKeD4g4

---

burn rogues

[2015-04-20 20:04] Lephidiles opened #436 "Warlock spell: Health Funnel"
You are able to cast this spell while been not in LoS of your pet, but then the spell will not heal the pet. (even though it keeps channeling). Did not manage to get a screenshot of this nor am i sure what part is the bug. That the spell should have done a los check and failed or that the spell should have healed.

[2015-04-20 20:15] deltafoxnine opened #437 "Shaman: No aggro from aggressive totems"
It seems like my totem doesn't aggro mobs, if remember correctly they should attack it(and destroy it)

I have supplied footage: https://www.youtube.com/watch?v=bqFfs1FEtSE

[2015-04-20 20:15] DaRealBoss opened #438 "Hunter frost trap"
When using hunter frost trap on any ground that has a slope or ramp, the visual effect seems very distorted. You can't tell the true range of the trap because the visual looks smaller than usual on slopes, unlike on flat ground. A mob can seem to be walking on un-frosted ground yet is still slowed, because the visual is messed up.

Couldn't find any retail evidence of hunters using frost traps on

[2015-04-20 20:24] Chulain commented on #432
they cannot be attacked, 100% sure now

[2015-04-20 20:40] nz54445 commented on #60
I tried to reproduce this but i just can't. I aggroed nearly every mob i could see around, jumped around so he would get hit by spells, tried casting my spells on him, feared mobs through him, tried fearing him, stuck around for about 4-5 server crashes he was not up ever. I wonder if snipz69 clicked to see if the guy was actually a corpse but was just playing a different animation.

Anyway, that'

[2015-04-20 20:52] DaRealBoss opened #439 "Gryphon rider guards"
I am horde and I flew above Honor Hold in hellfire peninsula, and the flying guards do absolutely nothing. The guards are broken in Allerian stronghold in terrokar forest as well, so im assuming they are broken in every town. I get the Guard's Mark debuff, but nothing happens after waiting a long time (they should start shooting soon after). The guards never attacked unless i flew up to them in me

[2015-04-20 20:53] nz54445 commented on #283
Heres a little more info i managed to gather:

![wowscrnshot_042015_224401](https://cloud.githubusercontent.com/assets/8640523/7240179/808c6d80-e7af-11e4-95cb-ff0bdea29d38.jpg)

It appears to be height related:

![wowscrnshot_042015_225101](https://cloud.githubusercontent.com/assets/8640523/7240211/bcaf0a52-e7af-11e4-91dd-88430f56423a.jpg)

How to reproduce: head to the dock (on a flying mount), d

[2015-04-20 21:09] Chulain opened #440 "stormstrike"
stormstrike visual effect is instantly but the dmg is delayed
it should be instant

evidence: https://www.youtube.com/watch?v=ZZGCUTW2_Ag&feature=player_detailpage#t=20

how it currently works: https://www.youtube.com/watch?v=zoAmM2fNd9Y&feature=youtu.be

[2015-04-20 21:12] rylaiii commented on #439
https://i.imgur.com/SLVdjNH.jpg
the Thrallmar Marksman don't shoot and the Bat Rider Guard(s) aren't attacking.

[2015-04-20 21:20] Isuel commented on #433
https://www.youtube.com/watch?v=Gqg1vEWEILU

around 3:50, the feral uses mangle on a rogue with evasion at 40 energy, then he has 34 energy left.

[2015-04-20 21:21] Isuel opened #441 "no preparation before arena starts"
title is self explanatory, before the arena starts, there is no preparation buff, the one which makes ur spells instant and which heals u and gives u mana.

[2015-04-20 21:31] DaRealBoss opened #442 "Hunter pet disappearing (lost forever)"
Hunter pet disappears and even after relogging is nowhere to be found, and you have to tame a new one.

How to reproduce: Tame a pet. Mount up (I used my nether rocket cause its my only mount). Use ability Call Pet while your mounted on the ground; this should unmount you automatically and summon your pet. Mount up again. Un-mount. Pet is gone :(

[2015-04-20 21:34] Chulain commented on #441
duplicate of https://github.com/ccshiro/cc-buglist/issues/430

[2015-04-20 21:35] Chulain commented on #442
confirmed, i lost mine too

[2015-04-20 21:37] Chulain opened #443 "mysteries of the light - quest (item)"
the object respawn timer is 3mins, i'm not sure but I think it's too long?
you only need one quest item for the Q.

i've read all comments but i couldnt find anything about the respawn timer
http://www.wowhead.com/item=25938/mysteries-of-the-light

[2015-04-20 21:47] lastnoob opened #444 "Durability loss upon dying by Shadow Word: Death"
![wowscrnshot_042015_233643](https://cloud.githubusercontent.com/assets/1821091/7242228/da644d08-e7c0-11e4-8e34-cdc43e849c8b.jpg)

As a priest, if you kill yourself with the Shadow Word: Death backslash damage, it causes you to suffer 10% durability loss.
I will edit this post if I find a wowwiki article about it, but it should be quite obvious it shouldn't cause durability loss, because it should

[2015-04-20 21:47] Sakatoro commented on #435
This is a typical pserver bug

[2015-04-20 21:49] Jigodian opened #445 "Level 70 Elite Tauren Chieftain missing from the balcony Silvermoon"
Taken from http://www.wowwiki.com/Elite_Tauren_Chieftain

The Tauren Chieftains can be found at rest in Silvermoon City's Walk of Elders on a balcony overlooking the walk. Their stage manager and stage tech, Michael Schweitzer and Roitau respectively, both sit below the band. Their purpose in Silvermoon City was initially uncertain, but it has since been learned that the band is placed there as pa

[2015-04-20 21:50] solowt commented on #439
the flying guards at the horde town in terrokar did attack me, but they didn't shoot at me or knock me off my mount

[2015-04-20 21:50] Klimpb opened #446 "Teleported out of the map randomly while playing"
Happened 3 times during the test, 1 time in arena while playing & 2 times outside of arena when I was alt tabbed. Seemed to be completely random.

When in arena: http://webm.land/media/5YGJ.webm

[2015-04-20 21:52] Klimpb opened #447 "Felhunter spell Paranoia is not auto-casting when it is on auto-cast."
Noticed it a quite a lot in arena games and I had to cast it manually.

EDIT: same with imp's Fire Shield and succubus Lesser Invisibility

[2015-04-20 21:54] Klimpb opened #448 "Can't cast your enslaved demon spells that has got a cast time properly."
While the pet is attacking a mob it seems like the auto-attack sort of cancels the spell cast every time he tries to cast it.

[2015-04-20 21:56] Sakatoro commented on #445
Omg, why people report something like that...cant understand

[2015-04-20 21:56] lastnoob opened #449 "Royal Theromoths near Shattrath, in terrokkar are bugged"
![wowscrnshot_042015_235645](https://cloud.githubusercontent.com/assets/1821091/7241403/fa27d496-e7b8-11e4-8bf5-8a527587fabc.jpg)
They cast a spell Wing Buffet, but they actually charge away from you to do that. Then they "meele" hit you from like 25 yards.

[2015-04-20 22:00] wonderchipstick commented on #442
The pet was full on happiness? Maybe it just ran away because it's happiness level was not proper.

[2015-04-20 22:02] nz54445 commented on #137
After about ~15-20 totems i can say that i have not been able to reproduce this. The totems fear periodically, and i experienced diminishing returns on the fear, as expected. The character runs at higher than normal speed away from the totem, but seems to collide properly with the world. I tried being at the exact same spot as shown in the image but nothing happened. The closest thing that happene

[2015-04-20 22:10] netherspite opened #450 "Relogging while drinking makes character lose gear proficiency"
After relogging while drinking I lose proficiency to wear all the gear.
I become naked and my gear arrives back to me by ingame mail. However, I can't wear it until I relog again (while not drinking).
If I relog again while drinking I am still not proficient to wear any gear.
This is reliably reproducible.

[2015-04-20 22:20] netherspite opened #451 "One of the mobs in Funggor Cavern has pathing issues"
When you pull this mob from the upstairs he does not come to you and evades instead.
![wowscrnshot_042015_210735](https://cloud.githubusercontent.com/assets/5777848/7241740/8a589a36-e7c4-11e4-8592-2c4ce5f6e4a6.jpg)

[2015-04-20 22:27] netherspite opened #452 "Problems with Withered Giant's Osmosis ability"
It seems like the Osmosis ability of the Withered Giants in the Dead Mire does not work.
They channel it and there is casting animation but it does not seem like damaging me or healing him.
May be it just has very small radius though, I wasn't able to get damaged by it at ~8 yards or so.

[2015-04-20 22:33] Ceziar commented on #424
Lot's of crazy stuff happening after crashes. Here's a video of dead NPC attacking me, dead NPC becoming alive midfight and a gliding corpse.

https://www.youtube.com/watch?v=CoNkvcYKvnE

[2015-04-20 22:39] Jigodian commented on #445
Why not? It's not something very important but it would be cool to have these features in the game.

[2015-04-20 22:49] Chulain commented on #438
tested on a few spots, they seem fine to me

(last picture is always corecraft)

http://imgur.com/a/WJX54

http://imgur.com/a/DUMAX

http://imgur.com/a/F8ttD

http://imgur.com/a/YoukF

retail version actually looks worse, look how the whole pillar gets affected, dont know if ppl around the pillar get slowed down tho but i doubt it

[2015-04-20 22:49] Ceziar opened #453 "Warp Stalkers are ignoring crowd control effects"
Warp Stalkers in Terokkar Forest are ignoring snares, roots and stuns when they are under the effect of spell named Phase Burst.

https://www.youtube.com/watch?v=LpoqcJRnNVc

[2015-04-20 22:53] Chulain opened #454 "frost trap"
If an enemy stands in your frost trap aura you will remain in combat till he moves out of it. (you will re enter if he moves in again)

Pretty sure this is wrong, I'll look for evidence if you want.

[2015-04-20 23:03] PolarCookie opened #455 "Underbog: the black stalkers adds do not despawn upon boss death"
We ran through UB and after killing last boss her adds did not despawn
had to run around knocking out 9+/- of them
harmless but shouldn't happen

https://www.youtube.com/watch?v=LVcRCGwNCVY
at the 20 sec mark boss goes down and all adds fade

[2015-04-20 23:07] kikomir opened #456 "Floating corpses in Shadow Labyrinth"
Pretty much self-explanatory, corpses suspended in the air.

http://oi58.tinypic.com/2dkifkz.jpg
http://oi59.tinypic.com/2yy37rq.jpg