[2015-07-06 19:36] Chulain commented on #802
http://wow.allakhazam.com/forum.html?forum=21&mid=1178983195268317081
"If both people hit the trade button at the same time, it bugs out. You just have to walk away from the person until "trade canceled" comes up on your screen."

[2015-07-06 19:50] ccshiro commented on #808
This is the same bug that plagues the deeprun tram.

[2015-07-06 19:50] Chulain commented on #808
shiro pls 2 trams on corecraf

edit: hmm after afking at the deeprun tram for a while the trams suddenly started to work

edit 2: i logged off as soon as one tram arrived and when i returned the tram never returned, the other one was still working tho

[2015-07-06 19:57] ccshiro commented on #934
@KevinTyrrell different spells.

[2015-07-06 19:57] ccnim commented on #934
Applies to Boom Bots as well, entry: 19692

[2015-07-06 19:58] Mephisto22 commented on #979
I summoned an infernal once and couldnt see him either. I consider it minor bug since infernal is basically useless pet

[2015-07-06 19:59] Chulain commented on #845
@ccshiro
maybe add some sort of message that appears when someone starts casting unstuck to warn them

[2015-07-06 20:10] Mephisto22 commented on #983
the damage coefficient of this spell should be 10% of shadow spellpower

http://wowwiki.wikia.com/Spell_power_coefficient?oldid=1549180#Priest_Coefficients

[2015-07-06 20:12] magikalCC commented on #890
Had this issue with Bloodmaul Skirmishers and Bloodmaul Brawlers too.

[2015-07-06 20:19] magikalCC commented on #698
I had this same issue. Was mind controlling in Steamvaults when I was knocked back and mind control was cancelled. Continued but everything was out of range. After a relog I was back to where I was knocked back.

[2015-07-06 20:24] Summoning01 opened #984 "Impact"
When the mage talent Impact procs, the attacked mob will not continue to move toward the mage and will simply stand there indefinitely (in combat) if the mage does not move after Impact, even if the mage keeps attacking. As soon as the attacker moves, the mob will continue normally. I've only tested this on a few mobs in front of Shattrath (iirc.Timber Wolf, Dreadfang Lurker, Vicious Teromoth) and

[2015-07-06 20:26] magikalCC opened #985 "[Priest] Mind Control Demon Hunter Initiate"
They can banish targets but only cast it on themselves. It also seemed to last too long.

[2015-07-06 20:28] YourNewfriend opened #986 "Hunter's Mark Revealing Invisibility Is Unreliable"
Often, the player under the affects of Invisibility (mage in the case I tested it in) will proceed to become invisible and undiscoverable to hunters even though they're affected by Hunter's Mark.

I believe the bug is either induced after a certain period of time, or after the Hunter who applied Hunter's Mark moves enough.

Reproduction Guide:
Hunter casts Hunter's Mark on Mage
Mage casts Invisibi

[2015-07-06 20:30] magikalCC opened #987 "[Priest] Mind Control cannot be cannot be cancelled."
Only noticed this inside dungeons. Happens often.

[2015-07-06 20:33] magikalCC opened #988 "[Priest] Mind Control target teleports to the caster"
When mind control is casted the target will be moved to the priest. Mostly happens with melee damage mobs. Only noticed this outside of dungeons.

[2015-07-06 20:39] magikalCC opened #989 "[Priest] Mind Control instant cast damage abilities"
Sometimes bug so there's no cool down. One example is with Sunseeker Netherbinder in The Mechanar.

[2015-07-06 20:42] magikalCC opened #990 "[Priest] Mind Control Bonechewer Backbreaker"
Has the ability to bloodlust. It shows the buff but doesn't increase haste for it or the priest.

[2015-07-06 20:47] magikalCC opened #991 "[Priest] Mind Control backstab can be used at any angle"

[2015-07-06 20:49] YourNewfriend commented on #800
Also affects battleground resurrection.

[2015-07-06 20:52] Lephidiles opened #992 "Range of object loot"
https://www.youtube.com/watch?v=7am8ApPPb_Y

[2015-07-06 20:54] Lephidiles opened #993 "Tailoring craft proc Insightful earthstorm diamond"
item 25901

https://www.youtube.com/watch?v=VvC8yzHXUmE

[2015-07-06 20:54] magikalCC opened #994 "[Priest] Mind Control auto attack"
Can bug if you use a range attack before auto attacking. Example would be Bonechewer Scavenger after using wrench throw. It will just stand there and take melee hits. Others would be Durnholde Rifleman, Boulderfist Hunter, Wyrmcult Poacher.

Auto attack also appears darkened, like it can't be used, with all mobs.

[2015-07-06 20:56] Lephidiles opened #995 "Pet / owner dmg"
This got fixed earlier i know and you said you set the ration after some research

however it feels a bit wrong as i sometimes cannot out dps the pet to get loot / quest count if i get resist etc
Lord klaq in this video killed him once already there and did nt get it that try either

https://www.youtube.com/watch?v=NhCTaC26q44

[2015-07-06 20:58] magikalCC opened #996 "[Priest] Mind Control npcs missing abilities"
There are many that are missing abilities when mind controlled. Example would be Shadowy Summoners. They should be able to cast  scorch and shadow rush. Some others would be Umbrafen Oracle and Witch Doctor, Skithian Windripper.

[2015-07-06 20:58] Lephidiles opened #997 "Swapping bags"
You are allowed to swap bags with items in the bag.

I do not think this should be possible / allowed ?

https://www.youtube.com/watch?v=AB1RVeQJhnw

[2015-07-06 20:59] ccshiro commented on #819
Probably same bug as #783.

[2015-07-06 21:00] ghost opened #998 "Could not click meeting stone portal (fixed with relog)"
Could start summoning people, but couldn't click portal to actually do it. Was fixed by relogging.

Not sure what caused it. Ran Slave pens then went to auch with 2 new party members.

[2015-07-06 21:00] magikalCC opened #999 "[Priest] Mind Control Summoner Kanthin"
The elves around him don't react to him being mind controlled. They also don't fight back.

[2015-07-06 21:00] Lephidiles opened #1000 "Boat from Menethil to Theramore"
Was a bit strange loading time on this boat trip now. not sure what happened

Was the same when it arrived in Menethil but did not get a recording of that

this is the arrival to Thearamore
https://www.youtube.com/watch?v=v2PTQODg9Eo

[2015-07-06 21:12] #967 closed, assigned to ccshiro

[2015-07-06 21:14] ccnim commented on #786
Seems like an oversight on Blizzards part, gonna keep these in.

[2015-07-06 21:14] #786 closed, assigned to nobody

[2015-07-06 21:19] muusbolla opened #1001 "[Arcatraz] Wrath-Scryer Soccothrates"
When he charged someone, the fire effect was only shown visually in a small area near his starting location. However, the actual area of the burn damage seemed to be normal. Basically invisible fire.

[2015-07-06 21:29] Chulain commented on #920
i believe you cant make it spawn faster, but something has to be done about this as it's really game breaking, perhaps some kind of character immobilize upon entering for a few seconds? or teleporting all players back to the original spawn point before the battle begins

[2015-07-06 21:30] Chulain commented on #907
thunder bluff\* not mulgore

[2015-07-06 21:38] #929 closed, assigned to ccshiro

[2015-07-06 21:38] Summoning01 commented on #984
Also, i don't know if this is intended behaviour, but it seems that Impact will not proc while the mage is being hit in melee range.

350 scorch(rank 1) casts, 0 Impact procs.
70 fire blast(rank 1) casts, 0 Impact procs.
110 scorch(rank 9) casts, 0 Impact procs.
Molten Armor was also on the whole time.
mobs were the same as in the previous post.

edit: today it appeared to work normally unlike yes

[2015-07-06 21:43] Chulain commented on #984
might be related with https://github.com/ccshiro/cc-buglist/issues/819

[2015-07-06 21:44] YourNewfriend opened #1002 "Mages Should Be Able To Blink While Silenced When Stunned"
Currently, they can't.  As long as a stun is on the mage, he should be able to blink, even if he's silenced.  This doesn't apply to immobilizing effects.

Evidence of stun (possible):
https://www.youtube.com/watch?v=JTVjH-WI7ZI&feature=youtu.be&t=48s

Evidence of immobilize (not possible):
http://youtu.be/tYYK9ykH1bU?t=6m48s

CC test:
![wowscrnshot_070615_143749](https://cloud.githubusercontent.co

[2015-07-06 22:00] #789 closed, assigned to ccnim

[2015-07-06 22:03] Mephisto22 commented on #995
If you cant get the loot or quest count it is a bug. But it has nothing to do with pet damage, Felguard's damage is too low btw.

[2015-07-06 22:03] #915 closed, assigned to ccshiro

[2015-07-06 22:08] Lephidiles commented on #995
Shiro knows what i mean as he wrote the thing causing this should be an easy fix but thing is if i am correct or he will ask me to find proof

[2015-07-06 22:34] Groshar commented on #867
After reading some chatter about the Chrono-Beacon on WoWhead, the comments really do suggest that you cannot get another one unless your party wipes and Medivh is killed.  I certainly never saw anyone able to obtain another beacon on retail.

"If you lose your chrono-beacon in a wipe you don't have to reset the instance or abandon your quest. If you just wait for Medivh to respawn, the quest NPC

[2015-07-06 22:36] #932 closed, assigned to ccshiro

[2015-07-06 22:41] Chulain commented on #892
related https://github.com/ccshiro/cc-buglist/issues/995

this one was first but title is misleading

[2015-07-06 22:47] darkcranio commented on #783
Thanks.

[2015-07-06 22:50] #898 closed, assigned to ccshiro

[2015-07-06 22:52] Chulain opened #1003 "[NPC] Elwynn Forest - Guard Roberts"
http://www.wowhead.com/npc=12423/guard-roberts
currently dealing too low dmg and gets killed by 2 wolves that spawn near him

I also noticed something interesting, for some reason he kept switching targets:
http://i.imgur.com/HaicCFj.png
(uploading on github broke for some reason)

[2015-07-06 22:52] darkcranio commented on #947
I guess.

[2015-07-06 22:53] Chulain opened #1004 "movemeny bug - mangy wolf"
https://www.youtube.com/watch?v=Ft32IPf7M7Y

![wow_2015_07_07_00_51_15_022](https://cloud.githubusercontent.com/assets/10247793/8535036/8ffb0d6a-2442-11e5-99b5-2f8e482a12cd.jpg)

[2015-07-06 22:58] Ensipid commented on #812
Same problem exists with:
Gouge into Kidneyshot, target can attack/move after gouge ends.
Kidneyshot into Gouge, target can attack/move after kidneyshot ends.
Sap into Cheapshot, taget can attack/move after cheapshot ends.

The problem doesn't seem to exist with Blind, possibly because it has a movement component with it?

EDIT
The problem doesn't seem to happen with other movement base CC, scatte

[2015-07-06 23:02] darkcranio commented on #979
#588

[2015-07-06 23:04] Chulain commented on #997
hmm i thought you couldn't do this on pservers but you could on retail?

[2015-07-06 23:08] Ickler commented on #1002
This is -not- correct. If the mage is silenced, he should absolutely not be able to use blink.

[2015-07-06 23:09] YourNewfriend commented on #1002
whatever you say

[2015-07-06 23:11] Ickler commented on #1002
You can find counterproof to this in several rogue movies from TBC, where the rogue Garrotes - CS out of a sap (CS lands before breaking sap), to ensure mage can't blink out.
Common strategy vs deep fire mages especially, due to them having blazing speed.

[2015-07-06 23:13] YourNewfriend commented on #1002
Perhaps it's "Immobilize + Stun + Silence" rather than "Stun + Silence" then, and I'd like to see what you have.

[2015-07-06 23:25] Ickler commented on #1002
I am not sure where that video is from, but it looks wonky to me.

However I can refer to 1000s of duels and fights VS mages from retail TBC where that was the go-to opener. Also, having a mage myself I know how the Garrote into CS opener would force an early IB.
I also mained mage in vanilla, and I never heard of this. If this video is indeed from retail (sceptic), could it be after a patch where

[2015-07-06 23:35] nullfoxh commented on #997
What Chulain said.  You could always swap bags with items on retail.
It's been disabled on most private servers though to avoid dupes.

[2015-07-06 23:35] YourNewfriend commented on #1002
Source: http://www.shadowsongeurope.com/forum/archive/index.php/t-16645.html

25-03-2008, 10:06 PM Warlee writes:

"And sadly they have added another bug by fixing it.

I will explain it here as its not that useful. Basicaly when you are silenced by garrote, improved counterspell or spellock you cannot cast blink. The thing is that when you are silenced(only by spells that I have mentioned before)

[2015-07-06 23:42] ghost opened #1005 "Summoning mounted player to coilfang meeting stone causes them to retain mounted speed buff"
Happened the two times we tried it. Since coilfang is indoors they are dismounted, but the player retained their mounted speed buff. Not sure if occurs with warlock summon as well.

[2015-07-06 23:42] ghost opened #1006 "Permanent runningspeed increase after summon"
If you get summoned in to coilfang reservoir while mounted you will get a permanent speed boost. Even if you hearthstone the speedbuff is still there. It disappears when you enter a dungeon or relog.

[2015-07-06 23:43] #1006 closed, assigned to nobody

[2015-07-06 23:47] ghost opened #1007 "Last boss of Steam Vaults interrupts channelling his drain coilfang cystern ability by casting spell reflect (prevent himself from triggering his enrage ability)"
Last boss of coilfang reservoir interrupts channelling his drain coilfang cystern ability by casting spell reflect (prevent himself from triggering his enrage ability).

[2015-07-06 23:48] halotestin opened #1008 "Defence Rating not calculating"
http://s24.postimg.org/nxuex2zt0/bug.jpg

41 Defence, yet the tooltip says 0.00% decrease to get critically hit. Should be 1,64% I think according to the numbers below:

---Defence---

= ~2.4 rating per skill, 1 skill = 0.04% dodge, miss, anti-crit ((25 defence, or ~59.15 rating, for 1% less crit/more dodge/more miss))

[2015-07-06 23:51] Ensipid opened #1009 "Crowd Control Bugs (movegen states)"
Multiple applications of stun (140) on a player/mob allow the player/mob to control their character after just one stun state has faded.

Examples include Sap, kidneyshot, gouge, cheapshot, bash, cyclone, and notably iceblock as it allows the player to be immune, but still in control of their character.

The same problem doesn't exist with other states such as confused (130) (polymorph and blind),

[2015-07-06 23:52] Ickler commented on #1002
So only counterspell / spell lock etc. That would exclude most situations where I silenced / stunned as part of a tactical approach. A few scenarios that come to mind, all uses physical silence (garrote, imp kick).

2v2 as Feral Rog, common to open mages with garrote / pounce. Almost guaranteed to force a block, or at least force the mage / XX team into complete defensive mode.
Same when running r

[2015-07-06 23:54] YourNewfriend commented on #1002
You're selectively reading, and if it existed for the course of the classical game and an expansion, I think it's fine to implement, but it's up to the devs.

[2015-07-07 00:05] ghost commented on #1008
It appears to be because you instantly leveled to 70 so your defense skill is probably 1. Select yourself and type .maxskill and it should fix it. I tested this on a fresh 70 paladin with 5/5 anticipation (+20 def talent).

[2015-07-07 00:06] petaal commented on #936
Same thing happened for my group. We destoyed 3 cannisters but let him channel the fourth one. Kalithresh channeled for a second or two, casted spell reflection and stopped channeling. The cannister was left untouched and he didn't get the buff.

[2015-07-07 00:07] petaal commented on #1007
Duplicate of https://github.com/ccshiro/cc-buglist/issues/936

[2015-07-07 00:38] halotestin commented on #1008
yeah my bad, .maxskill /facepalm

[2015-07-07 00:39] #1008 closed, assigned to nobody

[2015-07-07 00:40] Chulain opened #1010 "cooldown on use items when logging in"
trinkets and other items with use on them start with a 30 sec cooldown when you log in

they shouldn't: https://youtu.be/zf4uWRG-3Qs?t=17

[2015-07-07 00:49] YourNewfriend commented on #829
In the first video, the tiger pet can be seen moving away from the ogre when it gets too close.  In the second video, Ambassador Flamelash can be seen moving away from the pets.

![wowscrnshot_070615_174738](https://cloud.githubusercontent.com/assets/13057166/8536511/5be6ad44-2407-11e5-970d-c98419d2a6f7.jpg)

[2015-07-07 00:54] YourNewfriend commented on #829
https://youtu.be/SwLjJH8LXfc?t=44m30s
https://youtu.be/SwLjJH8LXfc?t=46m5s .
https://youtu.be/OOiyXR91xd0?t=1m40s
https://youtu.be/jTSyexUNN9E?t=2m43s
https://youtu.be/zWGKVPQ2LZ8?t=1m39s

[2015-07-07 00:55] YourNewfriend commented on #120
https://youtu.be/SwLjJH8LXfc?t=44m45s these two NPCs don't seem to care about eachother.

[2015-07-07 01:08] DaRealBoss opened #1011 "[Quest: Seek out Neltharaku]"
I've looked all around for Neltharaku above the netherwing fields but i just cant find him. I could be crazy.

[2015-07-07 01:17] Chulain commented on #829
also a mob once stood behind me while i didnt move after (ranged) pulling

(just a single mob not a pack)

[2015-07-07 01:32] #802 closed, assigned to nobody

[2015-07-07 02:08] Mephisto22 commented on #847
Another tiny bug that I found: talent Unholy power that increases pet damage by +20% stacks with Soul Link (+5%) additively and not multiplicatively.

Additive stacking : X \* ( 1 + 0,2 + 0,05)
Multiplicative stacking : X \* 1,2 \* 1,05

Unholy power is a damage increase through talent and Soul Link is a damage increase through castable buff, they should not have additive stacking. This results in

[2015-07-07 02:10] Chulain opened #1012 "Zangarmarsh - Twin Spire pvp objective"
http://wowwiki.wikia.com/Twin_Spire_Blessing?oldid=1771761
February 11, 2009
Originally, you could not mount with the flag, now you can you just can't fly.

the flying was added later, you can only carry the flag on a ground mount

[2015-07-07 02:12] Chulain commented on #1012
2010/12/13 (Patch 4.0.3)
well if it works for something... since the patch 2.4.2 iu can use any mount havin' the flag

posted in 2010 tho

[2015-07-07 02:14] Chulain commented on #1012
however i think it did work while in flight form

http://wowwiki.wikia.com/Talk:Twin_Spire_Ruins
"I just captured the flag while in flight form off the ground, as well". --Azaram 14:18, 30 March 2008

[2015-07-07 02:16] Peonstomperx commented on #1002
I found this comment "pre 3.0 if stunned while silenced you could blink, post 3.0 you can't blink silenced stunned" but no patch notes regarding it.
http://www.mmo-champion.com/threads/628279-blink-no-longer-removes-you-from-stun

@Ickler less ranting more evidence, post this "counterproof to this in several rogue movies from TBC"

[2015-07-07 02:20] Chulain commented on #1012
im guessing flight form was a bug and removed later on and added normal flying mount (you can spam flight form to run away, mounts take time)

imo flag + ground mount is already a bit weird but flying mount is just lame

[2015-07-07 02:32] lynxzor commented on #1011
Netherwing, Skygard, and Ogri'la is all later content.

[2015-07-07 02:46] lynxzor commented on #993
If you read the Wowhead comments it pretty much procs off everything including crafting.

http://www.wowhead.com/item=25901/insightful-earthstorm-diamond#comments

[2015-07-07 02:54] ccshiro commented on #785
Just leaving the video you linked here so we have it for the future: https://youtu.be/FsUr3i0iecs?t=9m41s

[2015-07-07 02:56] ebonywolf opened #1013 "logged inside dungeon"
I logged out halfway through the dungeon (shadow lab). When a logged back in, I should of appeared in the start of the dungeon since it reset, but I was where I logged off.

This also seems like a easy exploit to farm the last boss.

[2015-07-07 03:09] YourNewfriend opened #1014 "[Vanilla][Ashenvale] Silverwing Elites Should Flee"
For when you get around to Ashenvale.  These are the only ones that do this there as of TBC.

https://youtu.be/aftV6_SVLsc?t=17s

[2015-07-07 03:15] ebonywolf opened #1015 "Pit Commander Rain of Fire"
The pit commander in stair of destiny is dealing around 800-900 per tick damage on his rain of fire. I remember it dealing 15k+ per tick on retail. Although sources say it deals 50k+ damage per tick.
http://wowwiki.wikia.com/Pit_Commander

[2015-07-07 03:15] YourNewfriend commented on #821
https://youtu.be/R7hS48Nv1-4?t=1m28s

They can spam quite a bit.  Maybe their gossip is triggered by every enemy player they see (but that doesn't mean 1000 guards).

[2015-07-07 03:20] ebonywolf opened #1016 "Stair of Destiny Demons"
The burning legion soldiers are all together
http://postimg.org/image/wv449cq8p/

They stayed in formation in retail

[2015-07-07 03:20] lynxzor commented on #941
Had no problems spamming it here.

[2015-07-07 03:22] ebonywolf opened #1017 "Terokkar, DreadFang Lurker ability"
Using beast lore on the DreadFang Lurker spider reveals that it possess the bite( rank 8), after taming it, it does not have any abilities.

[2015-07-07 03:31] YourNewfriend commented on #818
Evidence: https://youtu.be/3WmlnB-lFkQ?t=49s

He's in a Trade channel when he's in Orgrimmar.

[2015-07-07 03:39] YourNewfriend commented on #829
https://youtu.be/FsUr3i0iecs?t=9m49s

Pack of mobs move away from the Scorpion pet.

[2015-07-07 03:41] lynxzor commented on #996
Shadowy Summoners
By catspats31 (15,755 – 5·28·116) on 2008/02/25 (Patch 2.3.3)
When Mind Controlled, this mob uses Scorch and Shadow Rush.

![wowscrnshot_070715_152642](https://cloud.githubusercontent.com/assets/795881/8538163/c07828ae-24bc-11e5-80c9-5535f0815e42.jpg)

Skithian Windripper
By Liscadipesce (1,279 – 2·14) on 2007/06/01 (Patch 2.1.0)
These mobs can be mind controlled by a priest, and

[2015-07-07 03:47] Chulain opened #1018 "incorrect targets displayed"
![wow_2015_07_07_05_11_32_609](https://cloud.githubusercontent.com/assets/10247793/8538337/43fc745c-246b-11e5-9d3a-0aebd53f2a5d.jpg)
created a warrior on my other account to test something together with my pala, when i arrived it looked like my paladin was targetting a rogue nearby but it actually wasn't and i never targetted that rogue on my paladin

![wow_2015_07_07_05_11_14_431](https://cloud.g

[2015-07-07 03:48] Chulain commented on #1018
not xperl
![wow_2015_07_07_05_52_47_096](https://cloud.githubusercontent.com/assets/10247793/8538474/ea8d4908-246c-11e5-82e1-8538416b014c.jpg)

the priest targetted by my paladin was afk

could have something to do with the opposite faction? both the rogue and priest were horde

[2015-07-07 03:59] YourNewfriend opened #1019 "Mages Can't See Hunters Who've Applied Hunter's Mark To Them"
http://wowwiki.wikia.com/Patch_2.4.3
Patch 2.4.3: Invisible players with Hunter’s Mark can see the hunter that put the mark on them.

[2015-07-07 04:00] YourNewfriend commented on #1019
https://github.com/ccshiro/cc-buglist/issues/582 is related.

[2015-07-07 04:09] lynxzor commented on #1012
Agreed it's pretty lame to be able to fly there with the flag. Also where is my blessing?
![wowscrnshot_070715_160558](https://cloud.githubusercontent.com/assets/795881/8538575/8c53f17e-24c2-11e5-8e36-bb365dd582dd.jpg)

[2015-07-07 04:13] YourNewfriend commented on #842
Missing TBC evidence atm.

[2015-07-07 04:13] YourNewfriend commented on #837
Missing TBC evidence atm.

[2015-07-07 04:15] Chulain commented on #1012
hmm strange i captured the objective on both sides once and i didnt have any problems with the buff

[2015-07-07 04:16] lynxzor commented on #1012
Also went out of the zone and back in still nada.

Edit: Joined a party other people in the zone get the buff but I still haven't.
Edit2: Have died, it's fine now

[2015-07-07 04:27] YourNewfriend commented on #782
https://youtu.be/kqc7G3f0kro?t=1m3s

[2015-07-07 04:33] ghost opened #1020 "Cabal Assassin spawns in Shadow Labyrinth"
Only saw two Cabal Assassins while clearing the room the second boss is in. Fairly sure this is inaccurate to how it worked at launch. I could not find any videos from the relevant period but I have found some more information that gives some insight about how they appeared to work.

2.1.0 test realm notes that say http://web.archive.org/web/20070306012912/http://www.wow-europe.com/en/info/underde

[2015-07-07 04:34] YourNewfriend commented on #791
https://youtu.be/fbOAg7mKfMU?t=1m40s

Shaman logs out, and logs back in with his PvP flag intact.

[2015-07-07 06:17] YourNewfriend commented on #794
http://wowwiki.wikia.com/Raid_group?direction=prev&oldid=1660257
"Firstly you can organize the raid groups by dragging the members around the window into the slots available. (Dropping a player on top of another will swap the two players)."

[2015-07-07 06:46] YourNewfriend commented on #946
https://youtu.be/uNlRAQx0_Yw?t=5m30s Den Grunt.

I'm thinking this is Durotar/Orgrimmar-only.

[2015-07-07 07:20] descendance opened #1021 "Druids Swipe hitting targets behind you"
Feral druids swipe also hits targets that are directly behind you.

It should only hit targets in front of you.

![wowscrnshot_070715_090030](https://cloud.githubusercontent.com/assets/5084397/8540732/93997682-2488-11e5-9683-84669bd3b14b.jpg)
![wowscrnshot_070715_090041](https://cloud.githubusercontent.com/assets/5084397/8540733/93a0e606-2488-11e5-8ae7-c4c118246ed1.jpg)

This was added in patch 3.

[2015-07-07 07:23] Kplz opened #1022 "Hellfire peninsula quest- waste Not,want Not"
In this place 58,9 52,8 u can take metal over and over again its keep spawning.
http://postimg.org/image/v5z4w33ad/

[2015-07-07 07:25] Kplz opened #1023 "sd"

[2015-07-07 07:25] #1023 closed, assigned to nobody

[2015-07-07 07:53] apetkauskas commented on #845
Suggestion: Make Auto Unstuck teleport player to the nearest graveyard. That way the whole auto unstuck system wont be abused as hearthstone, but it may actually help.

[2015-07-07 07:58] TMXa commented on #956
Ok, so is there anything that I can do here to help you guys out, or just close the thread?

[2015-07-07 08:18] ghost commented on #1020
Made a quick sketch of how I think it worked

http://i.imgur.com/4oAJopd.jpg

[2015-07-07 08:33] Bearmanpig commented on #37
Sounds like this might be related to the mob chase mechanic #548

[2015-07-07 09:11] YourNewfriend commented on #836
One difference is that the ninja looter is the group leader in one, and not the other.

[2015-07-07 09:30] xtrawelt commented on #667
Just send some flasks to an alt and they got lost. Mail was empty.

http://i.imgur.com/j6T4XQt.jpg

[2015-07-07 09:33] YourNewfriend opened #1024 "Battlemaster Resources"
So far I've confirmed that Lylandris possesses mana when she shouldn't.  None of them should have resources.

CC Test:
![zzz](https://cloud.githubusercontent.com/assets/13057166/8543255/735f6b84-2450-11e5-9673-d58824ca38a7.png)

Retail:
https://youtu.be/80dk-HjCPFE?t=25s

[2015-07-07 09:42] PatchnotesTBC commented on #1002
This might been a possible bug from retail. Can it have been patched? Is there any note on any of the patches from vanilla?

[2015-07-07 09:44] YourNewfriend opened #1025 "Battlemaster Special Abilities"
These are all pretty obscure.

Donal Osgood: He does a Whirlwind, and he also uses Mortal Strike.
https://youtu.be/80dk-HjCPFE?t=1m13s

Thelman Slatefist: He seems to do a charge where he cleaves and appears behind random targets on his threat table.
https://youtu.be/jDimnhhAHeM?t=3m6s

SW EoTS Battlemaster: Seems to be the same type as Thelman

[2015-07-07 09:54] brum21 opened #1026 "Mages being able to move and cast in Ice block"
I encountered a bug while dueling a warrior on my mage. I Ice blocked and accidentally casted spellsteal directly after and it let me move around and cast while I was still in the Ice Block effect. The warrior couldn't damage me while this persisted. I am trying to reproduce this bug and get footage of it. I'll report back with any updates.

[2015-07-07 10:31] MorbidMike opened #1027 "Doomsayer Jurim drops no loot"
Doomsayer Jurim dropped no loot when I killed him.
NPC: http://www.wowhead.com/npc=18686/doomsayer-jurim#comments
He should have a 100% chance to drop a blue.

From Wowhead:
JyL1 on 2007/07/14 (Patch 2.1.3)
Has a 100% chance to drop a blue. Should be 1/4 chance for each armor type, but for some reason it seems he drops mail more and cloth less. An interesting fight if not a little easy. Just prete

[2015-07-07 10:41] MorbidMike opened #1028 "Void Star Talisman Warlock Class Trinket"
The Void Star Talisman (http://www.wowhead.com/item=30449/void-star-talisman#comments) does not function properly.
Currently, each time your pet "appears" the 130 Resistance bonus is removed. The actions I could find that break the Resistance bonus are: relogging, resummoning (during and out of combat), and mounting/dismounting (this includes Flight Paths). Each time your pet "reappears" the Void

[2015-07-07 10:53] HorneTheThird opened #1029 "No NPCs in Blackwind Valley"
There doesn't seem to be any NPCs in Blackwind Landing
Pic: http://i.imgur.com/HDBh9Qp.jpg
Retail*: http://vignette4.wikia.nocookie.net/wowwiki/images/f/f6/Blackwind_Landing.jpg/revision/latest?cb=20070528094954

Cheers

[2015-07-07 11:14] mdindoffer opened #1030 "Being able to fly after casting Eagle Eye"
I casted Eagle Eye, then interrupted it by moving. Somehow the channel bar stayed up (until the time ran out) and I am now able to swim in the air. Can even land and then fly/swim again, and use instants in the air.
![wowscrnshot_070715_130323](https://cloud.githubusercontent.com/assets/12681399/8544934/da47e8e0-24a9-11e5-8a2f-cec8301a300b.jpg)

[2015-07-07 11:33] YourNewfriend commented on #1025
This database seems to hold the key information not really found elsewhere: http://wotlk.openwow.com/npc=857

[2015-07-07 11:43] mdindoffer commented on #1030
Well, when I reloged and tried it second time, it didn't work. Only the channeling bar stayed on the screen no matter what
![wowscrnshot_070715_134139](https://cloud.githubusercontent.com/assets/12681399/8545368/2343d82a-24ae-11e5-8d84-a28a0703ce0d.jpg)

[2015-07-07 11:48] lynxzor commented on #1029
Because Skyguard content wasn't available at launch.

[2015-07-07 11:48] Mephisto22 opened #1031 "Pets lose buffs/debuffs when dismissed"
How to reproduce: Have your pet buffed or debuffed and dismiss him. Summon again and all his buffs and debuffs are lost. Tested with warlock pets, but should apply to hunter pets as well.

Proof: https://www.youtube.com/watch?v=yva7MbQy11g  0:46

Proof 2: http://www.wowmb.net/forums/f165/17405-raiding_felguard_ssc_tk_hyjal_bt/
"Keep your resummon pet macro ready here to save your pets buffs in cas

[2015-07-07 11:57] YourNewfriend commented on #1031
I did this, and it worked fine for my hunter pet with Power Word: Fortitude and Gift of the Wild.

Also, if it's actually bugged for locks: https://youtu.be/yva7MbQy11g?t=1m54s

[2015-07-07 12:07] mdindoffer opened #1032 "[Eagle Eye] chaining does not work at Terrace of Light"
Back in the TBC days (not sure if still), hunters could chain Eagle eye spell. This allowed them to see behind corners ("override" original los) and aim it at very long distances.
All you need is a simple macro /cast !eagle eye, but here on CC it doesn't ignore original Point of view (and therefore you can't cast it around corners etc.).
Proof:
1st comment on wowhead (edit 2.3.3)  http://www.wowhe

[2015-07-07 12:41] PatchnotesTBC commented on #1027
Added in patch 2.2.0

he should not even be ingame

[2015-07-07 12:48] testinkzcc2015 commented on #969
seems like overnight they were gone. Not sure for how long they should remain in the mailbox honestly, but they didn't get removed instantly atleast.
Maybe server crash removed them or something? Can't retest because nobody is buying at AH

[2015-07-07 12:55] darkcranio commented on #1002
Blizzbuglike isn't it?

[2015-07-07 13:14] Ickler opened #1033 "LoS issue in Steam Vaults"
When mobs are under that archway, they dance in and out of LoS. I've observed this on other Pserver projects. This was reported by my team as I was doing SV HC on the test. I didn't however test it myself as I was playing melee.

![los issue](https://cloud.githubusercontent.com/assets/4713575/8546801/bb265ae4-24ba-11e5-8c27-fb9f51cc7ec5.jpg)

[2015-07-07 13:17] Ickler opened #1034 "Patrols and chain pulls"
It appears that none of the patroles in Steam Vaults (only tested this, might be a larger issue), does not link and chain pull when aggroing a pack next to it.

It only chains if the pack is pulled in a manner that forces them to run through the patrol.

[2015-07-07 13:29] lorino opened #1035 "[Wands] Wand attack bug"
I tested this on the wolfs and the guards in the entrance of shattrath city, there are several bugs:

When you start attacking (channeling) with the wand to an enemy, you can click at a neutral (not mob, neutral as reputation with a mob) or ally target and can shoot him regardless of if hes in range or not (havent tested in a party, but it seems it has to be in the distance you can see)
Also there

[2015-07-07 13:31] ccshiro commented on #1035
duplicate #915

[2015-07-07 13:31] #1035 closed, assigned to nobody

[2015-07-07 13:35] ccshiro commented on #1034
Works fine for me.

[2015-07-07 13:42] Leprechaunius commented on #1027
@PatchnotesTBC Patch

[2015-07-07 13:48] ccshiro commented on #1030
Channel bar is duplicate of #828. Flying bug needs reproduction steps.

[2015-07-07 13:48] #1007 closed, assigned to nobody

[2015-07-07 13:50] mdindoffer commented on #1027
@PatchnotesTBC that's BS, don't rely on wowhead data, it is incorrect a lot of times. If you look at stacks's comment, it is from 2.0.6 period.

[2015-07-07 13:53] ccshiro commented on #997
You should be allowed to.

[2015-07-07 13:53] #997 closed, assigned to nobody

[2015-07-07 13:54] sverkersham commented on #1026
Probably connected to the CC bugs. If you're stunned and get cycloned for example you can move around and cast, same with fear, roots, disorients etc.

[2015-07-07 14:01] Ickler commented on #1026
Yeah double CC is bugged, I think it was presumed fixed. But something happened I suppose. But this is connected to it, as Iceblock is considered a loss of control over character.

[2015-07-07 14:05] mdindoffer commented on #1030
Allright, I will try to figure out the scenario. However, for the reference - the bug result is exactly the same as #646 so the mind controlling ban is probably not enough.

[2015-07-07 14:26] ccshiro commented on #925
Looked at the Improved Health Funnel talent, and its effect is to increase the starting value of the spell by 20%. In which case I guess this is the correct behavior. Needs more evidence, as the spell data seems to contradict the report.

[2015-07-07 14:28] #1029 closed, assigned to nobody

[2015-07-07 14:30] #870 closed, assigned to ccshiro

[2015-07-07 14:34] ccshiro commented on #827
Does it show up for anyone in your vicinity, or for other people in your party?

[2015-07-07 14:35] darkcranio commented on #1015
By didron (2,664 – 12·21) on 2007/02/10 (Patch 2.0.6)
"You suffer 59696 Fire damage from Pit Commander's Rain of Fire. You die."

That was at lvl 70..., no Fire resistance gear on though.

[2015-07-07 14:37] darkcranio commented on #1016
wasn't like that when i was there ,maybe pathing bug?

[2015-07-07 14:41] darkcranio commented on #827
It is for party/raid members as any other looted items.

[2015-07-07 14:51] #1024 closed, assigned to ccnim

[2015-07-07 15:13] Carneyy opened #1036 "Quest: Escape from the Staging Grounds"
This escort don't work. Vanguard after you save him staying in same spot and don't fallow/lead you. Only one reaction hes doing is that he hiting mobs which are in his range.

http://www.wowhead.com/quest=10425/escape-from-the-staging-grounds

[2015-07-07 15:19] #822 closed, assigned to ccshiro

[2015-07-07 15:45] netherspite opened #1037 "Taken in the Night is still partially bugged"
When you break the cocoon while staying close enough to it (~5-20 yd I guess) it works just fine, but if you stay at the big range (~30-35 yd and it's normal if you're mage) the quest credit is still not given to you.
Also, IIRC aggressive mobs spawned from the cocoons should immediately attack you.

[2015-07-07 15:45] netherspite opened #1038 "Murkblood Plans keep dropping after you already got one."
![wowscrnshot_070715_134218](https://cloud.githubusercontent.com/assets/5777848/8550294/6d12507e-24d8-11e5-9ff2-d414e2899e57.jpg)

[2015-07-07 15:47] netherspite opened #1039 "Frostbite is bugged"
Bugged in a 'positive' way :)
When Frostbite procs and the mob becomes afflicted by the Frostbite debuff, everything works properly.
However, when the debuff fades the mob keeps staying in place like it's still Frostbitten.
Not that I don't like this bug (I really do!), but I guess it has to be fixed :)

![wowscrnshot_070715_135657](https://cloud.githubusercontent.com/assets/5777848/8550348/c05171

[2015-07-07 16:02] brum21 opened #1040 "Serpent-Coil Braid is triggering a 15 sec internal cooldown for other trinkets."
According to this video: https://youtu.be/pseDc_jri70?t=23 you should be able to use trinkets (Such as Icon of the Silver Crescent) and also get the buff from Serpent-Coil Braid without having a cooldown interfere. Also I had this item back in BC and can remember using trinkets and mana gems to get both bonuses.

As of now when you use a Mana gem, it blocks the use of your other trinket by ~15 sec

[2015-07-07 16:04] xtrawelt opened #1041 "Potion overrides Flasks"
When you pop an Destruction Potion while having a Blinding or Pure Death Flaks up (not restoration),
the Flask will be gone.
Could test the other Flaks, but doesnt happen with Haste Potions.
- you can stack Restoration Flask with Pure Death OR Blinding.

[2015-07-07 16:07] xtrawelt commented on #1041
related #838

[2015-07-07 16:23] Klimpb commented on #862
@Doppelmoral Videos would be nice, if you can find any.

I just think that this item could have been an exception simply because conjured equippable items are very rare. Warlock is probably the only class with a spell like it(can't think of anything else right now at the top of my head).

It's not like it's something that would make a ton of difference anyway, it's just annoying having to create i

[2015-07-07 16:56] netherspite opened #1042 "Resting everywhere"
I don't know whether it's only a visual bug or a real one but I was having "zzz" icon at my character portrait everywhere.
![Uploading WoWScrnShot_070715_134214.jpg…]()
![wowscrnshot_070715_135657](https://cloud.githubusercontent.com/assets/5777848/8551900/3b6cdc24-24e2-11e5-9656-0da73dd50896.jpg)

[2015-07-07 16:56] netherspite opened #1043 "Resting everywhere"
I don't know whether it's only a visual bug or a real one but I was having "zzz" icon at my character portrait everywhere.

![wowscrnshot_070715_134214](https://cloud.githubusercontent.com/assets/5777848/8551912/49f2a968-24e2-11e5-9496-552e37737b35.jpg)
![wowscrnshot_070715_135657](https://cloud.githubusercontent.com/assets/5777848/8551900/3b6cdc24-24e2-11e5-9656-0da73dd50896.jpg)

[2015-07-07 16:57] #1042 closed, assigned to nobody

[2015-07-07 17:08] ccnim commented on #1038
The plans are seen because the condition is not checked upon looting only on death.

[2015-07-07 17:10] #794 closed, assigned to ccshiro

[2015-07-07 17:20] ccnim commented on #853
This is intended.

[2015-07-07 17:20] #853 closed, assigned to ccnim

[2015-07-07 17:22] Qxcr commented on #1039
Seems like root abilities in general are broken in that manner #783 #819 #984.

[2015-07-07 17:30] ccshiro commented on #827
Also changed message to "You create: [soul shard]." Evidence: https://www.youtube.com/watch?v=Qr2OgwreCgE

[2015-07-07 17:30] #827 closed, assigned to ccshiro

[2015-07-07 17:39] ccnim commented on #834
What spell is he using?

[2015-07-07 17:41] ccnim commented on #1020
That's more or less how it's working at the moment.

[2015-07-07 17:41] #1020 closed, assigned to ccnim

[2015-07-07 17:44] #1003 closed, assigned to ccnim

[2015-07-07 17:51] ccnim commented on #1022
Gonna make a system for respawning gameobjects therefore I will close this issue.

[2015-07-07 17:51] #1022 closed, assigned to nobody

[2015-07-07 17:52] ccshiro commented on #796
I read the report incorrectly and thought you meant they don't show up in the Contact List (which is indeed a bug I've fixed now), however, the claim that they should show up in /who at the location they're zoning to probably needs backing up.

[2015-07-07 17:56] ccnim commented on #1011
He flies over Dragonmaw Fortress as well. Note that he is extremely slow.

[2015-07-07 17:56] #1011 closed, assigned to nobody

[2015-07-07 18:02] #891 closed, assigned to ccshiro

[2015-07-07 18:05] ccnim commented on #996
Fixed the ones you linked except for the umbrafen buff guy, sounds to me like the ability isn't useable while MCd.

[2015-07-07 18:05] #996 closed, assigned to ccnim

[2015-07-07 18:11] ccshiro commented on #811
@ccnim The orcs part of the event also need unit flag passive, right now they just have not selectable and not attackable.

[2015-07-07 18:31] robinsch commented on #925
Same problem with Elemental Weapons, the SPELLMOD_EFFECT2 should be applied after the 10% spelldamage scaling, but I think there is no general way checking if SPELLMOD_EFFECT_X should be applied before or after damage modifiers.

Also for Improved Righteous Fury.

[2015-07-07 18:41] robinsch commented on #873
This is currently my solution for this problem, CanCast (CheckCast?).
![Image](http://i.gyazo.com/92220e29354af78e9aca7e0077547870.png)

[2015-07-07 18:45] #810 closed, assigned to ccshiro

[2015-07-07 18:47] Carneyy opened #1044 "NPC: Voidshrieker"
http://www.wowhead.com/npc=18870/voidshrieker#abilities

After I killed them more or less 10 noone used "Damage Reduction: Holy" idk how work with other reductions.

[2015-07-07 18:49] Carneyy opened #1045 "NPC: Voidshrieker"
His spells don't work for example (http://www.wowhead.com/spell=34336/damage-reduction-holy)

[2015-07-07 18:50] #1045 closed, assigned to nobody

[2015-07-07 18:54] ghost opened #1046 "List of 2.1.0 - 2.4.3 Profession Items"
The following items/recipes were not available in patch 2.0.3.
######

[Mad Alchemist's Potion]
Item ID: 34440

http://wowwiki.wikia.com/Patch_2.3.0
"Added a new potion to alchemy trainers: [Mad Alchemist's Potion]."
######

[Recipe: Earthen Elixir]
Item ID: 32070

http://www.wowhead.com/item=32070/recipe-earthen-elixir#comments
By Gryll on 2007/05/17 (Patch 2.0.12):
"Introduced in patch 2.1.0."
h

[2015-07-07 19:00] #773 closed, assigned to ccshiro

[2015-07-07 19:46] Jigodian commented on #969
I don't think the pending letter should auto delete itself after the gold delivery. It auto deletes itself after 24 hours anyway. And you can delete it whenever you want before that.

This is working as intended afaik.

[2015-07-07 20:21] Mephisto22 commented on #925
I found a possible counterproof for my report. Even though its from Wotlk...

http://forums.elitistjerks.com/topic/38579-warlock-bugs/page-9

Posted 23 January 2009 - 11:57 AM
"The improved health funnel talent appears to be bugged. The increase in healing provided by improved health funnel does not appear to match the tooltip. The damage reduction part of the talent appears to be working correctl

[2015-07-07 20:38] #848 closed, assigned to ccnim

[2015-07-07 21:11] #776 closed, assigned to ccshiro

[2015-07-07 21:16] YourNewfriend commented on #951
Maybe it has something to do with stuns (duel stun in this scenario)?

[2015-07-07 21:24] Ensipid commented on #1026
Occurs due to a movegen bug regarding stuns #1009

[2015-07-07 22:01] #836 closed, assigned to ccshiro

[2015-07-07 22:12] #977 closed, assigned to ccnim

[2015-07-07 22:27] Pinhastest commented on #1034
I was testing quests and i notice that i could single pull every mob i tried

[2015-07-07 22:29] #824 closed, assigned to ccnim

[2015-07-07 22:32] #1010 closed, assigned to ccshiro

[2015-07-07 22:35] YourNewfriend commented on #821
https://youtu.be/MbV7pAaFfEc?t=1m46s
This could help you with establishing the trigger distance/behavior.

[2015-07-07 23:02] #1039 closed, assigned to nobody

[2015-07-07 23:12] ccshiro commented on #1013
You should only appear at the start of an instance if you zone into a new instance. If you're in the same instance bind you will log back in where you logged out.

Testing I cannot make it happen, if I clear the instance bind while my char is offline he spawns at the portal when I log in again.

[2015-07-07 23:13] ccnim commented on #1033
From where you are standing you can't actually "see" the Siren so that the LoS is blocked is intended. http://imgur.com/hPvihQu,l2qmJPN,j3gheCi#1

However even though you see the Myrmidons you will still get LoS blocked.

[2015-07-07 23:38] Pinhastest commented on #940
Same to last comment on #142

[2015-07-08 00:00] YourNewfriend commented on #793
http://wowwiki.wikia.com/Easter_eggs?oldid=1622295
"Guards of cities will respond to some emotes such as /wave, /rude, /kiss or /salute. This does not apply to all guards though, most notably Darnassus Sentinels do not reply to emotes, and even the same guard will not always respond. However, if you ask a Darnassus Sentinel about the enchanting trainer, she may respond as if you said she was encha

[2015-07-08 00:26] Krack3n77 commented on #1043
This was also happening to myself in all of booty bay.

[2015-07-08 01:20] YourNewfriend commented on #1002
The only doubt remaining is if stun has to come after silence.

[2015-07-08 02:20] YourNewfriend commented on #806
The polymorph on this large spider seems quite like the one we have on Corecraft:
https://youtu.be/qLSdgKiY9f4?t=16s

[2015-07-08 02:41] YourNewfriend commented on #806
Creature:
https://www.youtube.com/watch?v=Msd24voy-kw
https://youtu.be/qLSdgKiY9f4?t=14s
https://youtu.be/bNps4nlwdG8?t=36s
https://www.youtube.com/watch?v=spClTnD2N1o

Player:
https://www.youtube.com/watch?v=YIRHaRLKOzk
https://www.youtube.com/watch?v=jPQfnsDvdQM
https://youtu.be/K8UQSBujguA?t=44s
https://youtu.be/Erohy5g_jws?t=12m42s
https://youtu.be/qLSdgKiY9f4?t=4m36s

[2015-07-08 03:08] ebonywolf commented on #976
Well regardless, watching the beggining of the video you can see that the tank lost 14k health in 3 seconds(about 4600 dps) Thats way beyond what a healer can achieve. Even if he could, he would steal agroo.

I went there again with a different group, we were able to beat them only with shieldwall( we killed one and died for the other).

Still dont think this trash group is feasible in pre raid ge

[2015-07-08 03:36] ebonywolf opened #1047 "Controlling my MC"
in the last room of Shadow lab(heroic), The is a mind controllable mob Cabal Summoner

I mind controlled him and started casting shadowbolt, however he occasionally interrupted my actions and started to summon the dude( which is hostile even when I do it). I can cancel the summon by moving though.

Reproducing: He was constantly interruption my shadowbolt and trying to summon. And happened to all

[2015-07-08 06:27] lynxzor commented on #967
Might need to check Divine Intervention also.

[2015-07-08 06:47] YourNewfriend commented on #822
Should you even be able to use "penis" in a pet name..?

[2015-07-08 06:53] YourNewfriend opened #1048 "Hunter Pet Names Aren't Curse-Filtered"
Discussion: http://www.wowhead.com/forums&topic=43543/are-there-some-character-names-off-limits-to-players

![wowscrnshot_070615_014123](https://cloud.githubusercontent.com/assets/10247793/8509734/cc2b1cdc-22b5-11e5-90ca-a017bff66d9a.png)

The name of this pet isn't allowed for players, so it also shouldn't be allowed for pets.

[2015-07-08 06:58] YourNewfriend commented on #2
http://wowwiki.wikia.com/API_COMBAT_LOG_EVENT?oldid=2046224 (edited in wotlk) and http://forums.wowace.com/showthread.php?t=10661

Could be useful.

[2015-07-08 07:07] #1048 closed, assigned to nobody

[2015-07-08 08:01] ghost opened #1049 "Another 2.1.0 item list"
I found a new source for 2.1.0 items:
https://web.archive.org/web/20070524210123/http://www.mmo-champion.com/#post_heroic

I already listed some items from that website in my previous 2.1.0 item lists, but not all of them:
######

[Magtheridon's Head]
Item ID Alliance: 32385
Item ID Horde: 32386
Another source for the head: https://web.archive.org/web/20070516080612/http://www.mmo-champion.com/ind

[2015-07-08 09:28] PatchnotesTBC commented on #1046
Love this list

[2015-07-08 10:05] MorbidMike commented on #925
Improved Health Funnel used to work before Spell Damage or Healing back in WotLK. In some Felguard raiding guide (I can't find it any more though...) it was argued that the only reason to take this talent was the damage reduction, because the increase in healing was way too low to justify 2 talent points.
I really believe it worked the same way in TBC, essentially making the talent worthless, beca

[2015-07-08 10:17] MorbidMike commented on #1027
When trying to reproduce you might want to try this with a pet class. I could not find who did the "killing blow" in the combat log, perhaps it was my pet that got the killing blow and this disabled the loot, or perhaps this mob has some mechanic that makes it damage itself, killing itself and thereby not granting loot.
![wowscrnshot_070715_122903](https://cloud.githubusercontent.com/assets/288079

[2015-07-08 10:40] darkcranio commented on #1046
This should be really IN THE GAME as the leather version of it was since 2.0, we casters don't want to wait for it till 2.4.
[Schematic: Rocket Boots Xtreme Lite]
Item ID: 35582

[2015-07-08 13:24] nz54445 commented on #1016
#120 seems like the exact same problem.

[2015-07-08 15:17] #778 closed, assigned to ccshiro

[2015-07-08 15:39] #934 closed, assigned to ccnim

[2015-07-08 15:45] ccnim commented on #1027
We have an implementation that makes it so if the pet(or guard for example) does >50% damage you get no loot or experience, however we got a report saying that it shouldn't work like this for pets. Basically this is the "bug" you are experiencing.

I do believe that this will be removed next test and as long as you've hit the unit that your pet is attacking you will be able to get loot.

[2015-07-08 15:45] #1027 closed, assigned to ccnim

[2015-07-08 17:01] YourNewfriend commented on #835
https://youtu.be/JMylc2Or1Ic?t=41s
http://wowwiki.wikia.com/WoW_constants?oldid=20945

At the time, the message "You have been kicked out of the guild" should've existed, and I'm not sure why it wasn't sent to this player.

[2015-07-08 17:08] Mephisto22 commented on #769
In theory it should be 5 seconds, but in practice it is really variable. Probably due to latency, between 5 - 7 seconds depending on the server - client latency. If that is not possible to implement on CC then I don't think that 5 seconds would be blizzlike. We would have to remove vanish - blind things and such...

Arena junkies discussions:

http://www.arenajunkies.com/topic/23238-rogue-how-to-s

[2015-07-08 17:20] #812 closed, assigned to ccshiro

[2015-07-08 17:29] #819 closed, assigned to ccshiro

[2015-07-08 17:32] #783 closed, assigned to ccshiro

[2015-07-08 17:32] PatchnotesTBC commented on #1046
Sorry darkcranio but Corecraft is going blizzlike you will have to wait

[2015-07-08 17:52] #859 closed, assigned to ccshiro

[2015-07-08 18:24] #811 closed, assigned to ccnim

[2015-07-08 18:27] #992 closed, assigned to ccshiro

[2015-07-08 18:32] #1009 closed, assigned to nobody

[2015-07-08 18:32] #1026 closed, assigned to nobody

[2015-07-08 18:39] ccshiro commented on #1033
Just wanna add: If a player stood at that position, for example, you would not see him. In order for LoS to be blocked for the hypothetical player, but not for the Myrmidon, LoS would need to check the height of the actual model you're looking at. Currently LoS checks takes a static offset from the floor, so it works the same no matter your target. We don't have the model data ready to be checked

[2015-07-08 18:40] #1049 closed, assigned to ccnim

[2015-07-08 18:45] #1004 closed, assigned to ccnim

[2015-07-08 18:54] #800 closed, assigned to ccshiro

[2015-07-08 19:05] ccshiro commented on #993
@lynxzor thanks for the research.

[2015-07-08 19:05] #993 closed, assigned to nobody

[2015-07-08 19:05] #984 closed, assigned to nobody

[2015-07-08 19:34] magikalCC opened #1050 "NPC Ashkaz missing abilities"
He does not cast lightning bolt and has no abilities when mind controlled.

http://www.wowhead.com/npc=18539/ashkaz#comments

[2015-07-08 19:40] magikalCC opened #1051 "[Priest] Mind Control Eclipsion Bloodwarder & Cavalier"
Both summon a Hawkstrider which should be friendly to it and the priest while under mind control but isn't.

[2015-07-08 19:47] magikalCC opened #1052 "[Priest] Mind Control Wrekt Seer + Wrekt Warrior + Shienor Sorcerer"
Missing their abilities while mind controlled.

[2015-07-08 19:51] Ickler commented on #1033
I was simply using a SS from a friend. When we did SV HC as a group, I was melee so I didn't notice any issues. However the rest of the party reported issues when the mobs were under that archway.

[2015-07-08 20:22] YourNewfriend commented on #1032
This happened on retail too, and it was pretty random where people could and couldn't chain vision spells like Farsight and Eagle Eye.

[2015-07-08 20:51] darkcranio commented on #1046
Just like AV is "blizzlike" up to 2.4.3, right?
Seems logical anyway, Blizzard added the caster version for a reason, logical to add it both in the same time.

[2015-07-08 21:33] ccshiro commented on #949
Seems to be a bug when you put a point into the talent. Re-logging made it only one rank again.

[2015-07-08 21:36] #1050 closed, assigned to ccnim

[2015-07-08 21:37] ccshiro commented on #924
Same bug as #778.

[2015-07-08 21:37] #924 closed, assigned to nobody

[2015-07-08 21:40] #1052 closed, assigned to ccnim

[2015-07-08 21:44] #975 closed, assigned to nobody

[2015-07-08 21:46] ccshiro commented on #914
Cannot reproduce. It's possible this bug had the same core reason as #819, in which case it makes sense I can't get it to happen.

[2015-07-08 21:52] ccshiro commented on #907
Based on client-data so I'm sceptical that it's broken.

[2015-07-08 22:01] ccshiro commented on #858
Seems the same thing happens for paladins: #955.

[2015-07-08 22:14] ccnim opened #1053 "NPCs mana regen"
Currently this seems rather broken as a level 1 and a level 70 has the same mana regen. We need to research how NPCs mana regen should work.

https://youtu.be/IEIZW_DDQ_E?t=22 - Mana regen of a level 1 mob.

This does not include pets.

[2015-07-08 22:19] ccshiro commented on #878
Judgement backlash damage for 379 should be 117 if you have righteous fury with 3/3 improved righteous fury. The backlash damage of a 39 damage proc should be 3. Might be something wrong there, but I tried it in-game atm and I'm getting the correct backlash for the proc.

[2015-07-08 22:25] #830 closed, assigned to ccnim

[2015-07-08 22:37] ccshiro commented on #769
There's a misconception about the combat timer, and how it's actually supposed to be exact but that it used to vary depending on server lag. This is completely untrue. The combat timer being variable is not a result of latency, but rather a product of how it was implemented by Blizzard.

We have it implemented in a way that's quite similar (if not the same) to how it works on retail. This means th

[2015-07-08 23:03] Roarek commented on #918
@YourNewfriend That sounds completely wrong to me, I don't think there was ever a time when Sweeping Strikes could be missed/dodged/blocked/parried. It should not ignore armor.

[2015-07-08 23:03] robinsch commented on #908
m_canTrigger is false

[2015-07-09 00:07] Roarek commented on #921
Party and raid should still work IIRC

[2015-07-09 01:07] YourNewfriend commented on #918
Yes you're right, sweeping strikes was never changed to be subject to those.  I also meant it shouldn't ignore armour.

[2015-07-09 01:54] Confined- commented on #1040
You can stack an on use trinket with SCB but only if SCB is activated second. If SCB is used first it will invoke a cooldown on your other trinket. The retail video in your post shows Icon and SCB stacking because Icon was activated first.

[2015-07-09 02:31] balsh commented on #795
If you mean cds reset like the pet novas it should reset, Ive tested it it was fine so not a bug.

[2015-07-09 02:46] Bzmode commented on #795
the bar positions reset I'm not talking about cooldowns

[2015-07-09 07:32] apetkauskas commented on #921
Party chat in arena: https://www.youtube.com/watch?v=kk2yfdLOISI
Raid Leader chat in arena: https://www.youtube.com/watch?v=1PCDC9HYiGg

[2015-07-09 13:42] Danddelion commented on #1041
I also tested a similar thing: Ironshield Potion http://wowwiki.wikia.com/Ironshield_Potion?oldid=1460629 does not stack with Elixir of Major Defense http://wowwiki.wikia.com/Elixir_of_Major_Defense?oldid=1460572 ; wowhead comments from patch 2.1.3 - so after the introduction of the posibility to have only one Battle and one Guardian elixir active at a time - say they should:
"These do stack with

[2015-07-09 16:37] Doope commented on #907
i spent my whole life in thunder bluff and you could only duel on the battlemaster cliff area

[2015-07-09 16:48] Klimpb commented on #921
party & raid chat work in arena when you queue as a group on Corecraft, not in skirmish when you get teamed up with a random that was not previously in your group though.

Not sure if it's a bug.

[2015-07-09 17:37] #843 closed, assigned to ccnim

[2015-07-09 18:00] luckystriked5 opened #1054 "Libram of Avengement doesn't work"
I've tested it with all four seals which should trigger the effect. In all four cases, nothing happens.

[2015-07-09 19:29] #868 closed, assigned to ccnim

[2015-07-09 19:31] #818 closed, assigned to ccshiro

[2015-07-09 19:32] ccnim opened #1055 "Legion Communicator"
Used for a few quest involving the Felsworn Gas Mask.
Currently the NPC doesn't spawn over the Communicator when you use it.

[2015-07-09 20:10] darkcranio opened #1056 "Aggro system"
https://www.youtube.com/watch?v=GzbUL5ytabI
I just thought about this video, forgot it about during the test. Many people disagreed about fear and poly pulling like that, said only when it break near one.
Also said caps about the chain pull.
What's your thoughts about it now?

[2015-07-09 20:18] ccnim commented on #1055
Legion Communicator doesn't appear to change GO state when used. Need to figure out why it isn't becuase the event doesn't trigger in SmartAI.

Entry=185165

[2015-07-09 20:20] ccnim commented on #973
The infernals are unattackable and therefore not getting hit by the spell.

NPC: 21316

[2015-07-09 20:38] YourNewfriend commented on #835
https://youtu.be/HniEqJf26z4?t=4m46s

The error "You have been kicked out of the guild" existed during the time period of this video, but it wasn't sent to this player.  According to the player's history, this video should've been recorded in September 2006, and the mid-2005 article of WoW constants/errors contains the error message.

"You have been kicked out of the guild."  Maybe this only happe

[2015-07-09 21:25] ccnim commented on #947
I fix the model info as I go, many have already been fixed. If you notice any other mob with a low attack radius just report it and I'll fix it.

[2015-07-09 21:25] #947 closed, assigned to ccnim

[2015-07-09 21:52] ccshiro opened #1057 "Zone-restricted items disappear on log out"
Items that disappear when leaving a zone (aka, Zone-restricted items) also disappear on log out currently.

Reproduce with:
Add quest Felsworn Gas Mask (10819)
Relog

[2015-07-09 22:15] #858 closed, assigned to ccshiro

[2015-07-09 22:16] #955 closed, assigned to ccshiro

[2015-07-09 22:35] #1055 closed, assigned to ccnim

[2015-07-09 22:52] giedrius-timinskis commented on #907
Can confirm that, spent countless hours dueling in TB with my mage. Dueling allowed only on the battlemaster cliff area (I think it's called Hunter Rise?).

[2015-07-09 23:16] r00ty-tc commented on #1056
Not sure it's an "issue" let's say. But my memory isn't quite the same as that.

For poly, I thought it was as per comments (but, could be wrong). That when you sheeped a creature in a group it would aggro others in the group (hence CC had to be well co-ordinated). However, a somehow roaming poly wouldn't aggro. But, I'm not so sure, I never had a mage back then and could only go by what I remembe

[2015-07-09 23:52] #933 closed, assigned to ccnim

[2015-07-09 23:52] darkcranio commented on #1056
"However, a somehow roaming poly wouldn't aggro."
That's what they saying, it's pretty important cause BC dungeons is all about CC.

[2015-07-09 23:56] #877 closed, assigned to ccshiro

[2015-07-10 00:22] darkcranio commented on #907
^^^^ yep

[2015-07-10 14:07] ccshiro commented on #1054
Duplicate of #877.

[2015-07-10 14:07] #1054 closed, assigned to nobody

[2015-07-10 14:58] ccnim commented on #968
This is client side as far as I know. Need a video where you can hear the voice in patch 2.4.3.

[2015-07-10 15:09] ccshiro commented on #807
Tried it in game. My client actually whispers myself (whisper sent from Shiro to Shiro), with the following message:

(gdb) print msg
$7 = "RECOUNT\t^1^SPU^SShiro^SShiro^N0^N675^N0^N0^N0^N0^^"

Given the message I guess it's safe to say recount sends this. I guess it's still possible the server gives away some wrong info that recount is checking for to prevent this (or that causes it). It does how

[2015-07-10 15:16] #866 closed, assigned to ccnim

[2015-07-10 15:37] ccnim commented on #906
I would post this on the forum instead.

[2015-07-10 15:37] #906 closed, assigned to nobody

[2015-07-10 15:48] ccshiro commented on #869
Being able to summon Totems through Object::SummonCreature() is a bit too much refactoring. @ccnim you'll need to make a spell to summon them instead.

[2015-07-10 16:31] #881 closed, assigned to ccnim

[2015-07-10 16:32] #887 closed, assigned to ccnim

[2015-07-10 16:33] #889 closed, assigned to ccnim

[2015-07-10 16:34] #857 closed, assigned to ccshiro

[2015-07-10 16:42] Barroth commented on #807
I'm pretty sure the afk message in the chat is caused by the Carbonite quest addon, had that happen frequently when I had it on and people on the friendlist were afk.

[2015-07-10 16:56] #908 closed, assigned to ccshiro

[2015-07-10 16:56] KevinTyrrell commented on #968
Finding a video where you could hear him or not in 2.4.3 would be next to impossible. He's dead and clearly he should not talk back, right? You can just use deductive reasoning here.

And what do you mean by client-side? Meaning the server has nothing to do with whether this mob in particular talks or not? Does that mean it's unfixable besides installing some sort of 'patch' to user's clients? Or

[2015-07-10 16:59] #883 closed, assigned to ccnim

[2015-07-10 17:10] #894 closed, assigned to ccnim

[2015-07-10 17:10] #882 closed, assigned to ccnim

[2015-07-10 17:34] ccshiro commented on #833
It does send the result to the client when you use "/chatwho channel", and the client puts the result in the "Chat Channels" window. Maybe it's possible it didn't get printed to the chat by the client in TBC, but just appears in the Chat Channels pane?

[2015-07-10 17:43] #909 closed, assigned to ccnim

[2015-07-10 17:49] ccshiro commented on #1021
As you said, probably duplicate of #902 and #817.

[2015-07-10 17:49] ccshiro commented on #902
Duplicate of #817.

[2015-07-10 17:49] #902 closed, assigned to nobody

[2015-07-10 18:05] Barroth commented on #1021
as of 3.0.2 the spell effect changed:

From TARGET_CHAIN_DAMAGE, NO_TARGET to TARGET_CASTER_COORDINATES, TARGET_ALL_ENEMY_IN_AREA

Essantially after 3.0.2 it works like an arcane explosion with 8y range.

[2015-07-10 18:22] #928 closed, assigned to nobody

[2015-07-10 18:28] #939 closed, assigned to ccnim

[2015-07-10 18:35] #945 closed, assigned to ccnim

[2015-07-10 18:53] #927 closed, assigned to nobody

[2015-07-10 20:04] #973 closed, assigned to ccshiro

[2015-07-10 20:39] YourNewfriend commented on #833
http://wow.gamepedia.com/MACRO_chatlist

[2015-07-10 20:42] darkcranio commented on #894
Then also remove the flying machine for engi.

[2015-07-10 20:44] ccshiro opened #1058 "NPC Summons Despawning"
Currently minions summoned in combat despawn when the owner dies. This is not fully correct. For example, some summoned minions by NPCs should despawn as the master dies, others should not despawn unless you make them evade (usually after they stand around a bit first), etc.

We would like to fix it so it works correctly for the various NPC owned minions. However, that requires us gathering a fair

[2015-07-10 21:00] ccshiro commented on #837
Opened a research topic over at #1058. Closing this in favor for that.

[2015-07-10 21:00] #837 closed, assigned to nobody

[2015-07-10 21:11] ccshiro commented on #826
Tried on retail by turning pvp flag on in a friendly zone, then off before logging off. Results were:

- PvP flag remains on relog in friendly zone.
- PvP timer does not count down while being offline (i.e. being offline for more than 5 mins does not clear it).
- PvP timer is reset if you relog before it expires (i.e., relogging while it's still active will make it 5 mins when you come back online

[2015-07-10 21:16] ghost commented on #894
@darkcranio I checked the engi trainer. They already removed the engi mounts.

[2015-07-10 21:58] #1015 closed, assigned to ccnim

[2015-07-10 22:10] darkcranio commented on #894
@Protcow cool, glad that someone is caring about what and what not should be in at release, also make yourself a list meanwhile, what to put back in 2.1 content later.

[2015-07-10 22:36] ccshiro commented on #791
Tried on retail by turning pvp flag on in a friendly zone, then off before logging off. Results were:
- PvP flag remains on relog in friendly zone.
- PvP timer does not count down while being offline (i.e. being offline for more than 5 mins does not clear it).
- PvP timer is reset if you log off before it expires (i.e., relogging while it's still active will make it restart at 5 mins when you come

[2015-07-10 22:45] #791 closed, assigned to ccshiro

[2015-07-10 22:53] YourNewfriend commented on #799
Not sure what should happen with monsters that are faction-aligned.  That could need a little bit of research, and it could not.

[2015-07-10 22:57] YourNewfriend commented on #825
https://www.youtube.com/watch?v=QTyD9DOYMIY - Miss
https://youtu.be/jTSyexUNN9E?t=10m15s - Parry

[2015-07-10 23:03] YourNewfriend commented on #937
https://youtu.be/fnqgbiBYsds?t=1m56s it seemed to wipe his aggro table.  Priest couldn't MC him since he was tapped, but somebody managed to MC cap him  He went into evade.  People dropped combat after a while and were mounting.

https://github.com/ccshiro/cc-buglist/issues/28 was this not dealt with here?

[2015-07-10 23:12] r00ty-tc commented on #1058
I was wondering if either spell.dbc or summonproperties.dbc had some indicator to show which should despawn and which should remain.

I suppose in order to find out though we need at least a few examples of each to find a common denominator (if there is even such a thing).

[2015-07-11 00:00] ccshiro commented on #995
I think you're right that you need to do too much damage currently.

Research needed: If your pet solo kills an NPC, you don't get loot. This we know. The question is: how much damage does one need to do to not have the loot taken by the pet. Is hitting it once enough, or do you need to do a percent of its health?

Some responses exists in #892 already.

[2015-07-11 00:00] ccshiro commented on #892
I'll use the #995 one instead.

[2015-07-11 00:00] #892 closed, assigned to nobody

[2015-07-11 07:26] Peonstomperx commented on #769
@ccshiro is there an explanation to the 5sec addon then, or are you saying he's just lucky it's on time every time in the video?

Maybe I'll download some videos and count frames when I find the motivation or some fast way of doing it.

[2015-07-11 10:10] Lephidiles commented on #995
https://www.youtube.com/watch?v=lyIAfF5php0&t=8m10s

wotlk video but I am not good at decrypting this kind videos. but seems to me he gets loot from all and does not look like he do to much dmg

[2015-07-11 11:21] Lephidiles commented on #995
http://us.battle.net/wow/en/forum/topic/10137433943

According to this; this has not changed since vanillla

Retail video (wod) : https://www.youtube.com/watch?v=o0NQvGJ_vgc

Here only the pet attacks the first target and i get no loot.
next target i shoot one normal shot for about 215 damage and get loot

so it seems like tagging the npc or get on the threat list even is enough

[2015-07-11 11:25] Lephidiles commented on #995
https://www.youtube.com/watch?v=0HKvICX9jko

This is where i only use Mend pet to get on the threat list. but still get no loot
so seems you have to do dmg but one shot is enough

[2015-07-11 12:18] Lephidiles commented on #995
https://www.youtube.com/watch?v=qYHd-vmIdTw

This is with only a dodged auto shoot + a lot of mend pet feign death

no loot

[2015-07-11 15:26] ccshiro commented on #1028
This item was fixed a while back, fix apparently broke in the grid rewrite.

[2015-07-11 15:31] #1028 closed, assigned to ccshiro

[2015-07-11 16:20] ccshiro commented on #817
Need research about how chain targeting works for cleave. Most cleaves have a target type that works like chain lighting, where it start on the main target and bounces to nearby targets. We're looking for evidence (videos, for example), of the following:
- Can cleave bounce to targets behind you; or does it ignore what's not in front of the caster? (A warrior video would work, if there's a mob beh

[2015-07-11 16:21] ccshiro commented on #1021
I will close this as duplicate of #817, as it's going to have the same solution.

[2015-07-11 16:21] #1021 closed, assigned to ccshiro

[2015-07-11 16:48] #803 closed, assigned to ccshiro

[2015-07-11 17:22] Danddelion commented on #1041
I found a video with evidence about Flask of Fortification and Nightmare Seed stacking, it even has these two combined with an Ironshield Potion, so the tank in the video has them all three up at the same time:
https://www.youtube.com/watch?v=77ZvVYQEjCk
In the video it is at 2:29 and again at 6:05.

[2015-07-11 17:41] ccshiro commented on #1012
Doesn't seem like a bug, in 2.0.3 it had these interrupt flags:
mounting, change_map, immune_or_lost_selection, unk21

In 2.4.3 it has:
change_map, immune_or_lost_selection

Notice how the mount one was removed, as well as unk21 (whatever that might be). Note: unk21 is not related to flying mount, the flag existed on flags in vanilla as well (like 29519).

[2015-07-11 17:57] ccshiro commented on #1012
Nim and I discussed it, we will readd the flags from 2.0.3.

[2015-07-11 18:14] ccnim opened #1059 "Mini pets are too far away"
Mini pets need their modelinfo corrected.

[2015-07-11 18:41] #1017 closed, assigned to ccshiro

[2015-07-11 19:44] ccshiro commented on #921
Party chat should work if you queued together, otherwise I don't think it should. For example, if you solo queue skirmish while in a party with someone else you'd still be able to party chat with him.

[2015-07-11 19:49] ccshiro commented on #895
Cannot reproduce.

[2015-07-11 20:00] ccshiro commented on #904
The combat arming time on the trap is set to 2 seconds. Took some deltas between spell 1499 and spell 3355:

2.349
2.200
2.900
2.547
2.651

The reason why it varies is because the precision is seconds, and not milliseconds. To claim that's wrong would need supporting evidence.

[2015-07-11 20:38] #980 closed, assigned to ccshiro

[2015-07-11 21:26] ccshiro commented on #851
RP pre-event:
Yells work fine, sound does seem to be missing. Will check.

Interrupting heal:
Tested and can interrupt the heal with Rogue kick just fine.

Soccothrates fire trail:
Is indeed not working as it should, will look at it.

Soccothrates yell on charge:
The yell appears and works.

Soccothrates ugh:
The sound an NPC makes when hit is client-side. As for the ugh, I can hear it loud and cl

[2015-07-11 22:18] ccshiro commented on #885
I automated the recasting of Searing Totem, and timed it so it would be recast before the previous one despawned. I tried at the following time remaining:

0.6 sec
0.5 sec
0.4 sec
0.3 sec
0.2 sec
0.1 sec

None of them triggered the bug. Might be some other trigger, need more info.

[2015-07-12 01:57] asdsha opened #1060 "Commanding/Battle shout / Bloodlust/Heroism"
These spells should not be affected by LoS

[2015-07-12 01:58] asdsha opened #1061 "Commanding/Battle shout / Bloodlust/Heroism"
These spells should not be affected by LoS

[2015-07-12 01:59] asdsha opened #1062 "Shadow Sight"
shadow sight in the arena should be a debuff rather than buff

[2015-07-12 12:02] Lephidiles commented on #995
@ccshiro want a better source for this to not have changed since vanilla as it is very weak or do you belive as i do that he is right ?

[2015-07-12 20:22] Dethepwnz commented on #1019
I know a 100% that mages are NOT able to blink while silenced. This has NEVER been the case since vanilla up till now. Mages are just able to blink stuns like Cheap shot, Kidney Shot, Shadow Fury etc. BUT NOT WHILE ANY SILENCE WAS APPLIED.

[2015-07-12 20:22] Dethepwnz commented on #1002
I know a 100% that mages are NOT able to blink while silenced. This has NEVER been the case since vanilla up till now. Mages are just able to blink stuns like Cheap shot, Kidney Shot, Shadow Fury etc. BUT NOT WHILE ANY SILENCE WAS APPLIED.

[2015-07-12 20:55] YourNewfriend commented on #1002
lol

[2015-07-12 21:13] Barroth commented on #817
http://forums.elitistjerks.com/topic/22516-dps-compendium/?p=660841 states that it is a 180° angle

[2015-07-12 21:40] darkcranio commented on #1002
Oh really? That's not what the videos showed... well maybe not inteded but was there from vanilla til bc.

[2015-07-12 21:44] YourNewfriend commented on #1002
WOTLK*

[2015-07-12 22:28] YourNewfriend commented on #1002
Existed from the implementation of blink to WOTLK.

[2015-07-12 23:08] ccshiro commented on #851
@ccnim The charge mechanic is now fixed. All that remains is adding sounds to the pre-event. That's in the sc2dev database.

[2015-07-13 01:05] ccshiro commented on #1061
You made two of these (#1060).

[2015-07-13 01:05] #1061 closed, assigned to nobody

[2015-07-13 01:13] #983 closed, assigned to ccshiro

[2015-07-13 01:37] #873 closed, assigned to ccshiro

[2015-07-13 03:19] lynxzor commented on #1012
http://collab.kpsn.org/display/tc/creature_template
unk21 - Hides nameplates

[2015-07-13 15:17] ccshiro commented on #1043
This bug was a bit strange. Hopefully I got it (in any case, can't seem to make it trigger any more), in case I didn't and it still remains please reopen this.

[2015-07-13 15:17] #1043 closed, assigned to ccshiro

[2015-07-13 15:26] ccshiro commented on #1016
#120 is unrelated, also I cannot seem to figure out how this triggers. Doesn't happen for me. If anyone sees it in action and catches it "on tape" that'd be neat.

[2015-07-13 15:27] ccshiro commented on #1001
Should be same bug as in #851.

[2015-07-13 15:27] #1001 closed, assigned to nobody

[2015-07-13 15:44] ccnim commented on #1044
Mobs like this one includes:
http://www.wowhead.com/npc=20875/negaton-screamer
http://www.wowhead.com/npc=19527/vacillating-voidcaller
http://www.wowhead.com/npc=18683/voidhunter-yar

[2015-07-13 15:54] #982 closed, assigned to ccnim

[2015-07-13 16:08] ccnim commented on #964
• Gushing Wounds -- 35321 | Should be removed on any healing effects
• Gushing Wound -- 38363 | Should be removed on any healing effects

[2015-07-13 16:13] #1057 closed, assigned to ccshiro

[2015-07-13 16:22] ccnim commented on #966
Seems like there are three cases
1. The Horde Player will see the Orcish tag and so will the Alliance
2. The Horde Player wont see the Orcish tag but the Alliance will see it
3. There are no tags so Alliance can see it as well as Horde.

Example 1 can be seen at Nova, Jane and Jessel.
Example 2 can be seen at the mobs described in this issue.
Example 3 can be seen at Apothecary Albreck

[2015-07-13 16:37] ccshiro commented on #847
We've previously done all the calculations for scaling of hp, armor and mana. The reason they're not correct on the server seems to be a rounding error in the scaling code. I've double checked my calculations and the following is all correct (given that the rounding error gets fixed):
- base hp and scaling of all pets
- base mana and scaling of all pets
- base armor and scaling of all pets
- base

[2015-07-13 17:11] #795 closed, assigned to ccshiro

[2015-07-13 17:28] #851 closed, assigned to ccnim

[2015-07-13 17:38] #855 closed, assigned to ccnim

[2015-07-13 17:59] #890 closed, assigned to ccnim

[2015-07-13 18:27] #1037 closed, assigned to ccnim

[2015-07-13 18:28] ccnim commented on #1037
"Also, IIRC aggressive mobs spawned from the cocoons should immediately attack you." - Comments suggested otherwise so I did not implement this.

[2015-07-13 20:19] #825 closed, assigned to ccshiro

[2015-07-13 20:24] ccshiro commented on #978
Nothing in that video immediately stood out to me. Tried to simulate the same type of actions, but was unable to make that bug happen. Some more info, if anyone can gather it, would be great.

[2015-07-13 21:28] ccshiro commented on #948
Added so moving onto the platform will aggro Kazzak. The zone-wide yell works fine for me, please try it again next test if you don't mind.

[2015-07-13 21:28] #948 closed, assigned to ccshiro

[2015-07-13 22:11] ccshiro commented on #923
The bug is that after a server restart, auto-passing will not trigger.

[2015-07-13 22:31] darkcranio commented on #1037
By lollash (674 – 2·6) on 2007/01/20 (Patch 2.0.5)
If your a caster, i suggest standing as fare away from the eggs as possible. And then destroy them from there, cause if theres a mob inside. You dont have to fight it.

By Median (194 – 1·1) on 2007/01/24 (Patch 2.0.6)
Range it down, and you wont have to fight the bad spawns!

Means they aggro normally, not aggressively.

[2015-07-13 22:35] darkcranio commented on #926
"Tools included somewhere in the 58 questline or have them obtained via some other source for Lockpicking to be a thing."
Lock pick is not a must have but choosable. The 58 questline shouldn't level it up.

[2015-07-13 22:44] #923 closed, assigned to ccshiro

[2015-07-13 23:09] #1025 closed, assigned to ccnim

[2015-07-14 07:56] YourNewfriend commented on #588
I was able to reproduce this during the test, but only while in Shattrath.

[2015-07-14 18:14] ccshiro commented on #835
Added the following messages:
"%s created."
"Congratulations, you are a founding member of %s!"
"%s has been kicked out of the guild by %s." (for the guy that got kicked as well, didn't remove it for everyone else -- would need a video showing that part)

The rest I was unable to figure out any packet data that resulted in the mentioned errors. It's possible these errors were never used on retail

[2015-07-14 18:16] #835 closed, assigned to ccshiro

[2015-07-14 18:28] ccshiro commented on #1002
It seems pretty clear that you're right that it did work. However, surely it has to have been a bug. One could speculate that it might come about from some wonky code path that exists to allow blink during stun. Either way, it's very counterintuitive and overall seems to have a mainly negative effect on gameplay. We've opted out of blizzlike before with things that are likely to be bugs, and I thi

[2015-07-14 18:28] #1002 closed, assigned to nobody

[2015-07-14 18:31] ccshiro commented on #831
In regards to your first issue: In heroics killing a boss does not prevent trash leading up to it to respawn. That mechanic exists in raids in TBC, but not in heroics. The main point here is whether or not you actually verified the boss was there again (in which case it's a bug), or if it wasn't (in which case it's working as intended).

Second issue depends on the first issue; if it's the same in

[2015-07-14 18:35] r00ty-tc commented on #831
It's not possible to check if the boss is there in Shadow lab. He spawns after you kill the trash sadly. Otherwise I would have checked. I was fairly sure the trash didn't respawn in heroics either. But, I'll admit to not really doing heroic instances in multiple parts. So, no real evidence on that one.

[2015-07-14 18:53] ccshiro commented on #826
I was unable to reproduce going to orgrimmar and not having the town icon appear. When I entered crossroads, however, camp taurajo did appear too. But I still did not have it explored. I personally would assume (albeit I had not properly looked into it), that these town / citiy icons are shown depending on what areas you have explored. So that camp taurajo shouldn't appear (for example) when you s

[2015-07-14 18:54] ccshiro commented on #1062
Shadow sight, if I remember correctly, used to do damage while active (which would likely make it a debuff). However, once the damage was removed there's no reason to assume that it was still a debuff (it's not marked as one in the spell data). So this would need supporting evidence (needs to be from after the change, patch 2.4 or later).

[2015-07-14 18:57] ccshiro commented on #1060
Bloodlust part is a duplicate of #865. As for the shouts I know we've looked at that at some point, but I can't remember what we found out. Some supporting evidence would be nice.

[2015-07-14 18:59] ccshiro commented on #940
I will close this since as you pointed out it already has an open issue with #142. If you have any more info please post it there.

[2015-07-14 18:59] #940 closed, assigned to nobody

[2015-07-14 19:00] ccshiro commented on #817
Okay so that answers it cannot hit stuff behind you. The bounce range question still remains.

[2015-07-14 19:02] ccshiro commented on #951
I think it's unlikely it changed from 2 seconds in vanilla to 4 in TBC. Probably something else going on.

[2015-07-14 19:08] ccshiro commented on #842
It'd be really nice to find a video of TBC as well, so we don't spend time fixing something that changed.

[2015-07-14 19:22] #766 closed, assigned to ccnim

[2015-07-14 19:23] YourNewfriend commented on #1002
Obviously a very.. questionable decision.  Since it's a mechanic that existed for 3.5 years until WOTLK, I personally don't consider it to be a bug.

[2015-07-14 21:04] ccshiro commented on #995
@Lephidiles It's probably fine to make this change, yeah. Thanks.

[2015-07-14 22:22] darkcranio commented on #1002
Well, as a mage, I don't really care, but Newfriend is right that it was part of PVP ranking in vanilla as well as ladders in TBC.

[2015-07-14 22:32] #762 closed, assigned to ccnim

[2015-07-15 00:48] Ickler commented on #1002
It's not a mechanic that existed, I think Shiro's right and it's a bug. There are several accounts of other bugs, that I can recall existing for a long time (Seal twisting for one).
Also, they were even mentioned in blue posts (Blizzard knew about them, yet didn't fix). I can't recall anything about this particular one though, but it's definitely never worked for Physical Silences. The scenarios w

[2015-07-15 01:18] YourNewfriend commented on #1002
Seal Twisting was a somewhat elaborate thing; this on the other hand is the way one of the basic class mechanics worked, and applied to every retail mage's career during those periods.

If I choose to play a mage on Corecraft, I would most likely feel  a bit derisive if I were to be stunned + silenced, knowing full-well how I should've been able to escape.

I also imagined that this change could h

[2015-07-15 03:21] KevinTyrrell opened #1063 "Death Wish not removed as Arena begins"
Problem: I am able to cast Death Wish before an arena match begins, and the buff will persist on me even beyond the gate being opened. I'd assume this goes for ALL battlegrounds (not just arenas).
How to reproduce: Cast Death Wish five seconds before the arena gates open.
Solutions: unknown
Proof: unable to get proof as the test has ended, please reproduce
Burning crusade proof: https://youtu.be/d

[2015-07-15 03:24] KevinTyrrell commented on #901
Note, these twitch vods will not stay up for more than two weeks.

[2015-07-15 09:06] darkcranio commented on #1002
http://www.wowhead.com/spell=45438/ice-block#comments
By eveline (114 – 0) on 2008/02/01 (Patch 2.3.3)
Can the mage , when silenced , do ice-block ????

1

Atshlupa on 2008/02/06 (Patch 2.3.3)
no. Mage can't cast Ice Block when silenced.

16

PiratePants on 2008/03/20 (Patch 2.3.3)
Ice block works much the same as a Paladin's Divine Intervention. Flat silences will not stop the mage from ice block

[2015-07-15 09:15] Ickler commented on #1002
Mage can cast IB when silenced, but not when interrupted on Frost spells.

Seal twisting was a bug, and GC even talked about it in a Blue post. You had the same issue with double potting, they were all bugs that lasted a long time, Blizzard knew about them. And they still never fixed them.
I played a mage through most of vanilla, as well as having an alt mage in TBC that I did fairly well on, and

[2015-07-15 10:12] robinsch commented on #873
I have no idea how you implemented it, but if you did basicly the same I did please recheck it for triggered spells, otherwise it will remove Ambolish Poisons on first tick if there is nothing to dispel.

[2015-07-15 11:30] ghost commented on #976
1. Did you try pulling just one
2. Use a CC/stun rotation on one of them while bursting the other, don't wait for threat.
3. Have your tank kite taunt, bubble tank, Misdirection+consecration half of the way
4. Slows, roots as mentioned before.

Also, wowwiki has a history function, you don't need to webarchive it. Next to edit button in the arrow down.
http://wowwiki.wikia.com/Arcatraz_Sentinel?ac

[2015-07-15 11:33] ghost commented on #974
Check combat log for any indication. Use tab to target nearby mobs, see if any is targeting you.

[2015-07-15 12:49] #916 closed, assigned to ccshiro

[2015-07-15 16:00] #808 closed, assigned to ccshiro

[2015-07-15 16:45] #828 closed, assigned to ccshiro

[2015-07-15 17:07] ccnim commented on #361
Just reworking all of it so it works as it did back in the days.

[2015-07-15 17:27] #765 closed, assigned to ccnim

[2015-07-15 19:14] ccshiro opened #1064 "Logging System"
This was worked on some in the past, but was never finished. Think it might need to be reworked from the ground, though.

Anyway, will need to add logging for:
- Looting
- Trading
- Mailing
- Vendoring
- Auctioning
- Chatting
- Crafting

[2015-07-15 19:31] #764 closed, assigned to ccnim

[2015-07-15 19:39] #865 closed, assigned to ccnim

[2015-07-15 19:51] #790 closed, assigned to ccnim

[2015-07-15 19:55] ccshiro commented on #852
Fixed it now, doesn't seem like it'll make a huge difference though. When testing, the Infernal starts attacking me when I summon the eye, and its Immolation aura ticks and kills the Eye before I have time to do much with it.

[2015-07-15 19:55] #852 closed, assigned to ccshiro

[2015-07-15 20:04] ccshiro commented on #871
Tried what happens on retail; as soon as you lost vision of your pet it got unsummoned.

[2015-07-15 20:26] Argonn opened #1065 "Trinket CD reset"
I couldn't have found time to test this during the weekend (and maybe its to late now).
But on other privates running on mangos core have this 'specific' exploit.
1. Use a trinket that has a cooldown.
2. Unequip the item into your backpack.
3. Run inside an instance.
4. Equip the trinket back into slot.(inside the instance)
5. Unequip the trinket back into you bag (inside the instance)
6. Run out

[2015-07-15 20:28] Argonn commented on #914
Maybe get an warrior to 'taunt' the beast away while taming. This should make the taming fail in general.

[2015-07-15 21:05] #871 closed, assigned to ccshiro

[2015-07-15 21:59] ccshiro opened #1066 "We need NPCs to have unique GUIDs"
In other words, not reusing the GUID of an NPC that respawns. The NPC that respawns should be a new entitiy, and have its own GUID.

[2015-07-15 22:02] ccshiro opened #1067 "Dynamic Respawn Timers"
Both Game Objects and NPCs need to have dynamic respawn timers. In other words, if an area have NPCs dying quickly, or Game Objects looted in rapid fashion, it needs to churn them out at an increased rate.
#1066 needs to be implemented before this item.

[2015-07-15 22:05] ccshiro opened #1068 "Random NPC id"
When creatures are spawned in the world or instances, some will have more than one NPC id they can take the form of. This mechanic needs to be implemented.

TODO: Figure out if it's completely random, or if there's some mechanic at work to make sure there's a minimum amount of NPCs with id X in an area or instance. This should be testable on retail.

[2015-07-15 22:06] ccshiro commented on #1063
Definite proof would be most welcome, if anyone can find it.

[2015-07-15 22:30] ccshiro commented on #965
Opened an issue to regulate respawn timers: #1067. This one can just go back to the default respawn timer.

[2015-07-15 22:36] #995 closed, assigned to ccshiro

[2015-07-15 22:45] YourNewfriend commented on #995
I wonder if damage is required at all, and if abilities that would simply extend a mob's leash timer are enough to become eligible for loot; this is just a theory without basis.

[2015-07-16 01:50] KevinTyrrell commented on #1067
Is this a quality of life change? For example, on retail I thought that if you threw 10,000 players in one small area and had them kill all the mobs and loot objects, the mobs would still spawn at their usual rates. Is this change made to prevent the masses from complaining about slow respawn timers? I'm confused.

[2015-07-16 14:52] #1005 closed, assigned to ccshiro

[2015-07-16 17:06] ccshiro commented on #1067
@KevinTyrrell no, this is not a QoL change. This is a mechanic that existed in retail as well (at least starting TBC, not sure if it was in vanilla).

[2015-07-16 17:53] ccshiro commented on #847
I've fixed the rounding error. The three aforementioned points still need looking at (resistance, mp5, damage).

[2015-07-16 18:01] ccshiro commented on #964
Also, 39215.

[2015-07-16 18:23] #1032 closed, assigned to ccnim

[2015-07-16 18:44] #965 closed, assigned to ccnim

[2015-07-16 18:48] #964 closed, assigned to ccshiro

[2015-07-16 19:13] #813 closed, assigned to ccshiro

[2015-07-16 19:26] ccshiro opened #1069 "Instance Dark Portal end event"
I think the event after you assist Medivh has broken; check it.

[2015-07-16 21:04] ccshiro commented on #979
I poked at it in #588 without really being sure why the bug happened (it's strange, the model is set correctly, etc), but it stopped becoming invisible for me so I thought I had found it. Apparently not. Since I still don't see what's wrong, I did some changes that might have effect. Then again they might not. Would like an update if you guys see it again next test.

[2015-07-16 21:50] ccshiro commented on #1047
@ccnim I've fixed the bug now. However, it means that some mobs will need their AI events marked (and tested so it works) to be able to be used while possessed. Like Teron Gorefiend and Eye of Kilrog.

[2015-07-16 22:22] #922 closed, assigned to ccnim

[2015-07-16 22:39] #1051 closed, assigned to ccnim

[2015-07-16 22:44] #999 closed, assigned to ccshiro

[2015-07-16 22:59] ccshiro commented on #990
It's not a haste buff. It just increases the attack speed of the targeted ally by 30%. And it does do that part correctly.

[2015-07-16 22:59] #990 closed, assigned to nobody

[2015-07-16 23:00] ccshiro commented on #988
Yeah, noticed it on Bonechewer Scavenger. Doesn't seem to happen on caster mobs at all.

[2015-07-16 23:01] ccshiro commented on #987
Need method to trigger it.

[2015-07-16 23:43] ccnim opened #1070 "Behind/In front of target"
We need to find spells that:
- Require you to be behind the target (backstab, ambush, etc.)
  OR
- Require you to be in front of your target (i.e., he's looking at you and you at him). (gouge)

[2015-07-16 23:44] ccshiro commented on #991
Fixed the underlying issue. Nim opened a new topic that's related: #1070.

[2015-07-16 23:44] #991 closed, assigned to ccshiro

[2015-07-16 23:46] ccshiro commented on #994
Cannot reproduce. Some steps would be nice.

[2015-07-17 00:42] #750 closed, assigned to ccnim

[2015-07-17 01:56] Krack3n77 commented on #1067
@ccshiro I'm almost positive this was implemented shortly after the launch of TBC. Wish I could find the first time Blizz mentioned this as a thing. They were planning for it after the opening of AQ after all the lessons they learned from that.

[2015-07-17 02:02] Krack3n77 commented on #755
Next test I'll record footage of how insane the pool and wreckage/etc spawns are. Leveled to 130 fishing last test. The docks in Ratchet were crazy.

[2015-07-17 04:04] Peonstomperx commented on #1070
Ravage 27005
Shred 27002
Mutilate 34413

[2015-07-17 07:07] YourNewfriend commented on #950
Probably not the Shattrath ones, but I haven't checked.

[2015-07-17 07:12] YourNewfriend commented on #954
https://youtu.be/zWGKVPQ2LZ8?t=1m45s immolation aura is not affecting a player that isn't pvp flagged and isn't on its threat table.

[2015-07-17 15:06] darkcranio commented on #667
I think it's Kil'Jaeden stealing the items in the twisting nether.

[2015-07-17 15:15] ccshiro commented on #938
Oddly enough, this is how it currently works on retail. Needs some proof that it was changed, and worked differently in TBC.

[2015-07-17 17:52] #1070 closed, assigned to ccnim

[2015-07-17 18:46] ccshiro commented on #944
Tried on retail: If you alt+f4 you get stationary in the air (no swimming). The next time you log in you continue falling from there. However, the position you started at is saved, and you still take the full amount of fall damage as if you hadn't alt+f4'd.

[2015-07-17 19:46] ccshiro commented on #1000
Took the boat some good 20 times, never happened. Would be interested to know if this happens to someone else.

[2015-07-17 19:47] ccnim opened #1071 "NPC bandage causes threat between friendly NPCs"
Make a physician in mechanar bandage a friendly NPC, he will now be on that NPC's threat list.

[2015-07-17 20:30] #985 closed, assigned to ccnim

[2015-07-17 20:50] #1031 closed, assigned to ccshiro

[2015-07-17 21:27] ccshiro commented on #912
Tested Seal of Command and Seal of Righteousness, they have the intended scaling with Judgement of the Crusader up.

As for Seal of Blood, whether or not it should give more retaliation damage with Judgement of the Crusader up is not entirely clear. The seal damage with the judgement works a bit strange, and I could see it as possible that it shouldn't scale, too. Then again, I could see the oppos

[2015-07-18 00:08] #667 closed, assigned to ccshiro

[2015-07-18 03:16] #1047 closed, assigned to ccnim

[2015-07-18 03:34] Tolgren commented on #912
Regarding Seal of Blood:

Seal mechanic discussion on EJ in 2007: http://forums.elitistjerks.com/topic/9664-paladin-seal-mechanics/

It seems that Seal of Blood damage has 0% spell damage coefficient, which means it indeed doesn't benefit from the +Holydmg bonus from Judgement of the Crusader.

Also, I didn't test it Seal of Command, but as a side note, Seal of Command has a 20% spell damage coeff

[2015-07-18 07:36] Peonstomperx commented on #769
Well ok, so it does seem Woundman 1 was recorded on the official arena-tournament realm from blizzard, both ways are blizzlike.
My guess is you will just stick to the "RNG"-way(average 5.5sec?) to nerf rogues however I noticed something important;
Combat batches seem to be perfectly synced with energy ticks (see energy addon):
https://youtu.be/eJWNMCD8SMU?t=76
https://youtu.be/eJWNMCD8SMU?t=87
htt

[2015-07-18 17:46] Barroth commented on #912
Found this question on the wow forums:
"...3. How come JotC (additional holy damage) doesn't really give a damage boost to seal of blood?

3) Seal of Blood itself has no spell damage coefficient ... "

http://web.archive.org/web/20080221133542/http://forums.worldofwarcraft.com/thread.html?topicId=104544938&sid=1&pageNo=6

Seal of Command already has 20% spelldamage and 29% holy scaling.

[2015-07-18 23:32] #917 closed, assigned to ccshiro

[2015-07-19 13:55] #958 closed, assigned to ccshiro

[2015-07-19 17:41] #1019 closed, assigned to ccshiro

[2015-07-19 17:41] #986 closed, assigned to ccshiro

[2015-07-19 19:52] #823 closed, assigned to ccshiro

[2015-07-20 13:07] leolomi commented on #834
He is using http://db.valkyrie-wow.org/?spell=20791

[2015-07-20 17:25] #815 closed, assigned to ccnim

[2015-07-20 17:38] #950 closed, assigned to ccnim

[2015-07-20 19:19] #988 closed, assigned to ccshiro

[2015-07-20 20:10] ccnim commented on #961
Would like some more videos.

[2015-07-20 20:18] ccshiro commented on #949
Uh... Well, I've tried what happened last time, and for some reason it's always only showing one rank for me now. Would be cool with some help to figure out when it happens; I had thought it was every time you relearned the talent, but I guess I was wrong.

[2015-07-20 20:21] #960 closed, assigned to ccnim

[2015-07-20 20:41] #962 closed, assigned to ccshiro

[2015-07-20 20:49] ccshiro commented on #901
1) Confirmed bugged.
2) Doesn't seem like a bug.
3) Fixed in another report already.
4) Cannot reproduce.
As such, will look at number 1 and ignore the other 3.

[2015-07-20 20:57] #910 closed, assigned to ccshiro

[2015-07-20 21:31] KevinTyrrell commented on #949
Create a new character, level him to 70, talent all the way into Protection and get Shield Slam. Go to trainer and learn every ability. You should now have ~5 (?) ranks of Shield Slam in your spellbook.

[2015-07-20 22:45] #918 closed, assigned to ccshiro

[2015-07-21 11:42] Kall-DestinyAwaits commented on #838
Before patch 2.1 players could stack 1xFlask+4xElixirs and other consumables. All Nihilum members for example on Gruul used:
Elixir of Mastery+Elixir of Major Firepower+Elixir of Vitality (removed)+Adept's Elixir+Flask of Supreme Power

On this Video (prenerfed Gruul by Forte) we can see many elixirs and flask on his buff bar addon.
https://www.youtube.com/watch?v=u1LOAT96vEs

Sources:
http://mana

[2015-07-21 12:16] Skibbli commented on #817
There does appear to be a bit of range extension for the cleave bounce i.e. it can hit a target that would seem to be too far away to use a melee ability on. The rogue that gets hits by the cleave in http://www.youtube.com/watch?v=3z2nV3pRDS0&t=3m40s looks to me like he is out of melee range (it's not amazingly clear but might help). I'll continue checking for more evidence.

[2015-07-21 12:41] Kall-DestinyAwaits commented on #817
www.wowwiki.com/Area_of_Effect
Cone of cleave should have 70° radius not 180

[2015-07-21 15:09] Ickler commented on #817
I think what we see in that clip is due to the movement of the warrior executing the move.

But generally speaking if you're behind the midway point of a mobs / Boss' hitbox you were always safe from Cleaves on retail at least. Maybe Dragons have a wider cleave, I seem to recall something about that. Gonna see if I find anything to support that. But it's definitely supposed to be avoidable by stan

[2015-07-21 17:22] #901 closed, assigned to ccshiro

[2015-07-21 17:28] ccshiro commented on #863
The movement bugs following sap/distract was fixed in another issue (possibly the skeleton one excluded as it seems to be different, but couldn't make it trigger). If you do find the skeleton one again, please type ".movegens --verbose" into chat and take a screenshot.

[2015-07-21 17:40] ccshiro commented on #888
You can't remove it because you're currently casting a spell. Jumping or moving does not cancel auto shot (but turning around does); which means the spell cast is still active, making you unable to unequip it until you cancel it.

I don't know if it's retail-like behavior or not (maybe an auto-repeating spell like auto shot shouldn't count as a cast that makes you unable to change weapons), but I

[2015-07-21 19:49] #936 closed, assigned to ccshiro

[2015-07-21 21:06] #1069 closed, assigned to ccshiro

[2015-07-22 19:31] #1071 closed, assigned to ccshiro

[2015-07-22 20:05] YourNewfriend commented on #888
check a hunter pov Nefarian video, since they have to remove their bows during class calls.

[2015-07-22 21:31] Ickler commented on #1056
As far as I can recall, it worked exactly like Pete318 described.

Fear was a definite pull, while a patrol that roamed near a polymorph would pull if:
A) Poly breaks while mobs is close
B) The poly is recast while mob is close

Reason I got pretty clear memory about this is that as a raid leader it was a common to tell mages to resheep as a patrol was moving close, before it got too close of cour

[2015-07-23 13:53] magikalCC commented on #994
MC Bonechewer Scavenger, target another mob and use wrench throw. The mob will attack the Bonechewer from melee range but the Bonechewer can not attack back with his melee abilities after using wrench throw. Same with the others, use the range attack first and when the mob attacks them from melee range they can't use their melee abilities.

[2015-07-23 14:02] magikalCC commented on #987
I'm not sure what triggers it. The tank would pull a group, I would MC one. When the rest were down, I wasn't able to cancel it. Waited until it wore off.

[2015-07-23 14:10] magikalCC commented on #989
I could spam arcane nova as fast as I could hit the button. Might have been after the mind control was broken and I mind controlled it again.

[2015-07-23 14:52] ccshiro commented on #874
Seems to be a different bug this time, basically if you do a positive action to the NPC while it's MC'd you get put on thrall's threat list (assistance threat). Making it technically not MC itself that's bugged this time, but I think it can only trigger while MC is active.

[2015-07-23 17:18] ccshiro commented on #954
Okay, so the conclusion I draw from these videos is the infernal/doomguard only goes for people on its threat list or targets that are pvp flagged. The caster will be on the threat list by default, and anyone else that takes aggressive actions (such as hitting it, even while banished as shown in the third video) puts you on the threat list. For the doomguard it appears as if all 5 people assisting

[2015-07-23 21:38] #954 closed, assigned to ccshiro

[2015-07-23 22:49] ccshiro commented on #856
The videos are inconsistent, and the behavior is erratic. Basically we went with what we think is the intended behavior. We implemented it to work like:
- Inferno when he lands casts the AoE (not the warlock being the source as it was previously); this results in the warlock and any PvP flagged targets can be hit if they're within the area.
- Roughly a second later he gets enslaved by the warlock

[2015-07-23 22:49] #856 closed, assigned to ccshiro

[2015-07-23 22:50] #913 closed, assigned to ccnim

[2015-07-23 23:08] YourNewfriend commented on #856
You think the Inferno AoE should hit the summoner and PvP flagged targets?  Logic, and the text from the patchnote + video seems to imply it, but the actual footage doesn't unless if I'm missing something.

[2015-07-23 23:13] ccshiro commented on #979
Nervermind, I got it to happen again.

[2015-07-24 13:58] Barroth commented on #817
Tested 2 scenes ingame, if someone finds another video with a seemingly large cleave jump link it here.

From Clinda2: a 4 yard jump

![clinda2](https://cloud.githubusercontent.com/assets/9391338/8875937/acbcd0cc-321c-11e5-9afe-3267f561033b.png)

From Pat Pvp3: a 6 yard jump

![pat pvp3](https://cloud.githubusercontent.com/assets/9391338/8875943/b85214e2-321c-11e5-9268-e8ba0772d6ee.png)

[2015-07-24 15:03] darkcranio commented on #954
Yep.

[2015-07-24 16:47] Ickler commented on #817
I actually don't think it has any connection to where the target of the player is. The base of the attack doesn't "chain" from the target, but rather from the warrior / mob itself.
Similar thing is chain lightning (from mobs), it can't chain behind the mob itself. Which I don't know how it work on CC, I'll test that next test.

But in general, I believe distance between targets hit are irrelevant.

[2015-07-24 16:49] Ickler commented on #817
You can see what I mean in this video: https://youtu.be/4okg6BmVoGM?t=16

When the boss does a Chain Lightning it doesn't chain to the other melee because they are behind boss and boss is turned away. Something I as a retail tank, remember distinctly in Sethekk halls. Turning mobs = no bouncing / chaining on the CL.

I think the cleave works the same way, it doesn't chain though. But uses the cast

[2015-07-24 17:49] Barroth commented on #817
Cleave, Chain lightning, multishot and other jump spells got the same mechanics.

As said earlier in this thread it is supposed to be a 180° angle in which the jumps can hit targets, aka it cannot jump behind the caster. The video you found seems to confirm this for Chainlightning aswell, so it probably applies to most if not all jump spells.

Generally those jump spells always look for a secondar

[2015-07-24 22:38] ccshiro commented on #874
Okay, it should no longer be possible to gain assistance threat (from healing, etc) on targets you are friendly with.

[2015-07-24 22:45] #874 closed, assigned to ccshiro

[2015-07-25 00:27] #801 closed, assigned to ccshiro

[2015-07-25 11:42] Ghhlox commented on #925
Justification below, not useful proof:

The talent works to provide 20% of base healing probably because it's supposed to be useful while leveling, not in other scenarios (like the shadow priest talent that provides bonus spirit after slaying a mob). It isn't "useless", just limited. 20% is a large increase when you don't have any +sp or healing, and those numbers will reduce the time you spend ea

[2015-07-25 11:59] Ghhlox commented on #1058
No proof, just my memory. But perhaps it will help someone narrow their searches.

A good rule of thumb is that if the summon was an instant cast (except for special things like the mines in Gnomer or Blood Furnace) then it would despawn once the summoner was slain but channeled summons would have to be slain even after the summoner was dead. That should cover most situations, and then the special

[2015-07-25 14:43] Barroth opened #1072 "Lifebloom Threat"
Lifebloom's final heal(bloom) should generate no threat at all.

source: http://wowwiki.wikia.com/Talk:Lifebloom people listed detailed tests they did in tbc there and came to the conclusion it doesn't cause threat.

At the very end a post states that the HoT ticks should only do 0.25 threat aswell, but that needs some more research.

[2015-07-25 15:31] #1072 closed, assigned to nobody

[2015-07-25 15:31] Barroth commented on #1072
already working =)

[2015-07-25 17:04] Barroth commented on #797
Patch 2.2: "Volley: This spell is now affected by area damage caps. Its bonus
   damage coefficients have also been increased. It also correctly
   consumes charges of Misdirection."

seems like it was just bugged at some point, looks like it doesnt consume charges but still gives the pet aggro.

[2015-07-25 17:11] Yagrulol commented on #974
As for chullians post,
Not the July4th test but the one before that i noticed that critters did not reset after a short while.
I had to kill them to get out of combat.
If nothing has changed for the critters, this could've been the issue.

[2015-07-25 17:12] #797 closed, assigned to ccnim

[2015-07-25 18:03] YourNewfriend commented on #785
vanilla/tbc
https://youtu.be/n-JF54fAnVQ?t=1m48s
https://youtu.be/n-JF54fAnVQ?t=2m56s
https://youtu.be/h0zLk0FbYwc?t=22s
https://www.youtube.com/watch?v=buDaqt3I-ZQ
https://youtu.be/uP-B_BrIwK4?t=1m19s (nelf hunter on top right)

broken on wotlk beta:
https://youtu.be/Aaf9hl_Eua8?t=26s
working on wotlk beta?
https://youtu.be/JWiZYyhVng0?t=40s

If the animation to make it loop exists in the files,

[2015-07-25 18:22] Ickler commented on #626
So I don't know if this is clear from looking at the code or not, but do we know if Multi Shot can go "Via-Via" like Chain heal / Lightning?

I seem to recall when you Multi shot a group of mobs, if you picked a mob at either side you could end up just having 2 shots fired (third target too far form initial target, but close to second target). But while aiming for the middle one, you'd always get

[2015-07-25 19:02] Barroth commented on #626
https://www.youtube.com/watch?v=dKx0KsCNBH4#t=452

Looks like multishot does jump the same as Chainlightning, else the jump radius gotta be very big to achieve that angle

[2015-07-25 19:15] #937 closed, assigned to ccshiro

[2015-07-25 19:15] #799 closed, assigned to ccshiro

[2015-07-25 21:52] Barroth commented on #817
Found a druid video showing swipe: https://youtu.be/WNn00AHW51k?t=99 swipe cannot hit target behind it, looks like the 2. mob thats still hit is close to 180° with the druid beeing in the center.

Also from that video: swipe jump ~ 4.5yards
![swipe_range](https://cloud.githubusercontent.com/assets/9391338/8891401/36d9b02a-3328-11e5-86bb-6e378a719200.png)

[2015-07-25 22:38] meowmewo commented on #626
One thing im 99.9% sure for is that multi shot doesnt hit targets behind u.

[2015-07-25 23:27] #970 closed, assigned to ccshiro

[2015-07-25 23:33] ccshiro commented on #899
Need some help figuring out how to reproduce it.

[2015-07-25 23:38] ccshiro commented on #785
It just seems to be the bow shoot emote; not a spell animation per se. I will add the shoot emote of your bow each volley tick, and see if that looks correct.

[2015-07-26 00:10] ccshiro commented on #785
Update: the emotes for shooting seems to have been added in wrath. The only conclusion I can see being that the volley tick spell had a client-side shoot animation if it worked prior to WotLK, and for some reason that animation wasn't on the spell in 2.4.3.

[2015-07-26 00:10] #785 closed, assigned to ccshiro

[2015-07-26 00:14] YourNewfriend commented on #785
It seems to me like it was broken / fixed several times throughout TBC into the beginning of Wrath, and 2.4.3 might have been one of the patches where it was broken.

[2015-07-26 00:18] YourNewfriend commented on #621
But was it missing in 2.4.3?

https://youtu.be/h0zLk0FbYwc?t=27s

[2015-07-26 00:36] KevinTyrrell commented on #970
In the future, should I save the twitch vods or put them elsewhere? Were you able to view my proof in this report or by the time you got to it, they were taken down?

[2015-07-26 00:39] KevinTyrrell commented on #899
We did Shadow Labyrinth. Perhaps the "Insanity" boss, loss of control of our characters caused it? I'm picking straws here but that might be something to look into.

[2015-07-26 11:24] DeeMarie commented on #1058
Kraator (rare SMV mob) video from 2007, showing _channeled_ summoned infernals, that do not despawn on master death (or give xp):

https://www.youtube.com/watch?v=9GfymZjRwJY

And one of Baelmon the Houndmaster doing a near instant summon on a dog that appears to despawn (the players are instantly ooc when he dies)

https://youtu.be/H97dScZ581U?t=293

[2015-07-26 14:26] ConfusedCC commented on #1058
in the Baelmon the Houndmaster video you can see that there is a edit in the video at the 6:06 mark, notice the change in buffs, and the looting of a seccond mob(this might be an accidental pull or respawn instead of the summoned mob but thats hard to tell due to the video edit)

[2015-07-26 19:22] Ickler commented on #1034
I will get together with a friend and retest this, it was an issue he wrote to me and I took his word for it. I do apologize if this is not an issue. But we'll make sure to re-test next upcoming test.

[2015-07-26 20:34] Ickler commented on #1067
I distinctly remember HFP the first day of TBC, it was having massively increased rates of spawn for objects and NPC's alike.

And I think this one is a huuuge game changer upon launch, and how fast people will be able to move into other areas :) Glad to see this is a priority

[2015-07-27 11:13] Ghhlox commented on #1053
Anecdotal evidence, no vid:

I believe they should actually. I seem to remember that mobs would cast spells until their mana ran out and then would gain it back in big % chunks shortly after -- like 15-20% per 5 seconds. And that was the same for all mobs.

[2015-07-27 11:32] demerda22 commented on #979
pwned! hAhA

[2015-07-27 19:07] #838 closed, assigned to ccshiro

[2015-07-27 19:49] #1041 closed, assigned to ccshiro

[2015-07-28 00:52] #944 closed, assigned to ccshiro

[2015-07-28 01:22] ccnim commented on #979
I can no longer reproduce this after the new fix we implemented so I'm going to close this in hope that it's actually gone this time.

[2015-07-28 01:22] #979 closed, assigned to ccshiro

[2015-07-28 16:57] Lephidiles commented on #899
from memory we had this issue as well on a previous test (even berfore grid rewrite i think)  and it happend after we did Shadow labs Mind Control boss.
needed to relog and it was fine, although not sure if this helps

[2015-07-28 17:07] Lephidiles commented on #899
Does not seems like anyone reported it but i remember we where standing there, but nwm that now :) what i am getting at is that this is not a bug that has appered recently

[2015-07-29 01:11] #905 closed, assigned to ccshiro

[2015-07-29 09:35] Skibbli commented on #817
To me the question about the range extension is not whether or not 2 people that get hit by the cleave are more than melee range apart but that the 2nd person that gets hit by the cleave is out of the warrior's melee range (so if the warrior targetted them instead they would not be able to swing at them).

In the video I linked when you see the cleave animation start the rogue behind the hunter (t

[2015-07-29 15:35] ccshiro commented on #816
@ccnim The issues that I found: horde wyvern roots are spawned by default (should be in a despawned state), and the alliance ones aren't there at all. Which is kinda strange, since I remember it working way back, but whatever.

[2015-07-29 23:27] ccshiro commented on #788
I wasn't actually able to debug this issue as I couldn't trigger it, so I had to reason what could go wrong to cause this issue. I could only think of one thing (albeit I don't see currently how it would end up triggering), so I refactored the code and behavior to make it a non-possible issue. On the chance that I'm wrong (possible as I could get no debug data), I am leaving this issue open as Nee

[2015-07-29 23:29] ccshiro commented on #771
I don't see anything that's changed since we looked at this last time. Will move to high priority and take a better look at it at a later time.

[2015-07-30 10:06] ghost commented on #817
@Barroth From Pat, cleave hits on a secondary target who was well out of melee range. All three were in a line, with Pat on an end, not the middle. (He was moving, but never appeared to have gotten in range of the 2nd target).
https://www.youtube.com/watch?v=HnUSYSjoRTk&t=11m40s

Image is poor, it is clearer in the video.
![pat_cleave](https://cloud.githubusercontent.com/assets/1936487/8980758/b41

[2015-07-30 11:00] ghost commented on #1067
@ccHudsonHawk I can only find people referencing Blizzard implementing this which leads me to believe they discussed it on the old forums, before the days of the magnificent mmo-champion blue's tracker. Then again, I can't even find people quoting any such post or article. They always just say Blizz is implementing it with BC.

I think everyone accepts that it was a thing added with BC though, esp

[2015-07-30 14:56] Barroth commented on #817
@Saben65 very nice find, that solves it :) Tested it ingame, the distance at this spot is ~9-10 yards between the warrior and the farthest target

Summary:(Some info is from the MutliShot report)
Cleave, Swipe and Chainlightning upon cast won't consider targets behind the caster as jump-target(180° arc).Since it applies to those three spells it is likely true for other jump spells like Multi-Shot

[2015-07-30 22:33] ccshiro commented on #817
Thanks for all the help guys, great work!

[2015-07-31 05:02] ccnim commented on #817
https://youtu.be/xT-NDyVyI7w?t=315
https://youtu.be/xT-NDyVyI7w?t=395
Rogue gets hit by cleave behind the mob.

[2015-07-31 08:22] Barroth commented on #817
Indeed in Pve there are some npcs which can cleave targets behind them aswell.

Important to note is that most research here is for the players cleave.

We got one video, which shows that chain lightning doesn't jump behind the caster npc, and so far I've never heared of 360° chainlightnings. So I'd guess that npcs cleave mechanic is special in beeing able to hit targets all around the caster.

[2015-07-31 17:43] ccnim commented on #817
http://wowwiki.wikia.com/Patch_2.1.0
Creatures will no longer Cleave targets that aren't in front of them.

[2015-07-31 20:12] ccshiro commented on #816
@ccnim Check OutdoorPvPNA.h: destroyed alliance roost are missing, and the horde ones are visible by default.

[2015-07-31 21:04] Ickler commented on #817
Yeah hm early on it might have had pretty wonky cleaving? Requiring both tank + melee to max melee range and be in front and in back respectively. This is not bad, as long as it IS possible to avoid. If it's hard, that's fine :) All the more awareness required from players, and I'm for that.

[2015-07-31 21:24] ccshiro commented on #817
Should now work correctly, I put NPC cleave to the pre 2.1 behavior.

[2015-07-31 21:24] #817 closed, assigned to ccshiro

[2015-07-31 21:26] Ickler commented on #817
That is awesome! Really excited about this mechanic, no more sleeping melee / tanks ;)

[2015-08-01 12:16] #337 closed, assigned to nobody

[2015-08-01 12:47] ccnim commented on #968
I've tried to fix this issue before but I think it's client side and nothing we can do about it I'm afraid.

[2015-08-01 12:47] #968 closed, assigned to nobody

[2015-08-01 18:02] #816 closed, assigned to ccnim

[2015-08-01 18:15] ccshiro commented on #920
Nim and I tried all 3 arenas, with a speed of 10 times your normal run speed, and we could not get through the doors. We do actually root you already until the doors spawn, so what happened to you is very strange.

Anyway, if you can figure out how to do it, that'd be great.

[2015-08-02 09:36] Schaka commented on #686
There was a similar bug on retail, where the castbar would just break and stop at ~5%.
Also, you cannot debug the Lua code, because that portion is hardcoded into the client. Pretty much anything related to nameplates is.

[2015-08-02 10:38] darkcranio commented on #1044
Also this one will do that kind of magic schools you started the fight with. For example, wrath>its nature spells. So the same that it is absorbing.

For ensalve:
"Interestingly, enslaving them with the different debuffs seems to depict what spells are available on the pet bar at the time you enslave. With no debuff, they keep Shadowbolt, and whilst there is no Fear ability on the pet bar, they DO

[2015-08-02 20:25] Clanat commented on #1063
http://www.youtube.com/watch?feature=player_detailpage&v=mjVysJuCcxA, but it was season 4

[2015-08-03 07:03] Sakatoro commented on #1060
Commanding and battle shout should be affected by LoS. I used this in the lordaeron Arena to buff me battle shout and my mate commanding shout back in tbc

[2015-08-03 07:37] vove9000 commented on #1063
I don't understand how this is a bug but it seems to work as intended. In the second link you have posted keep in mind all his shouts are blue, it probably is recorded as a material to put in the video as they don't buff themselves. Short while after when the real match starts you can notice they are buffed and his shouts are usable even before the gates open, he can also cast Death Wish. Then in

[2015-08-04 21:59] acttca commented on #1062
Shadow sight was changed in 2.4 from damaging over time to 5% increased damage
http://us.battle.net/wow/en/game/patch-notes/2-4-0
http://wowwiki.wikia.com/Shadow_Sight
http://wowwiki.wikia.com/Patch_2.4.0

[2015-08-06 03:17] ceyscro commented on #1062
https://www.youtube.com/watch?v=MqwDtSRL4gQ

6:26    >   Debuff

Tabard of the Shattered Sun, and no damages on the rogue = 2.4

[2015-08-06 17:29] Ickler opened #1073 "Gouge - requires you to be behind target"
Title says it all, gouge which should only be from front, requires you to be behind your target.

[2015-08-06 17:40] #1073 closed, assigned to ccnim

[2015-08-06 20:49] Aeoni opened #1074 "Possible moblinking bug AV"
While trying to cap RH GY I could pull every guard one by one. They aren't linked. Don't know for sure if it's a bug or not.

[2015-08-06 20:50] Hogbobson opened #1075 "Wrong value on Mana Tap (and Arcane Torrent?)"
So the source for correction is terrible, but I do find the listed value on mana tap to be very low. Wowwiki says it should be 50+level. Right now it says 50.

![skaermbillede 2015-08-06 22 39 10](https://cloud.githubusercontent.com/assets/13675374/9123029/276953ca-3c8d-11e5-825d-e65abb85065b.png)

http://wowwiki.wikia.com/Mana_Tap

Also arcane torrent says it replenishes 10 mana per stack of mana

[2015-08-06 21:08] nz54445 commented on #1075
Should test it in combat, #175 might apply here. Post your findings after testing it to make sure it restores the scaled mana, if it doesn't then it should be flagged as a bug.

[2015-08-06 21:27] Pinhastest opened #1076 "Teleported to inkeeper instead of battlemaster"
I was in WSG and after a DC i got teleported to Inkeeper (in my case start zone) instead of being teleport back to near battlemaster

[2015-08-06 21:36] Hogbobson commented on #1075
In combat worked wonderfully. Three stacks restored 483 mana, and using mana tap on a mob seemed to remove ~130 mana.

Edit: 161 mana per stack. Not bad. (The math adds up too!)

[2015-08-06 21:44] #1075 closed, assigned to nobody

[2015-08-06 21:46] Lephidiles commented on #1075
https://github.com/ccshiro/cc-buglist/issues/175

EDIT: to late

[2015-08-06 21:47] Peonstomperx opened #1077 "Combat Batches"
Combat batches should be synced with energy ticks (see energy addon):
https://youtu.be/eJWNMCD8SMU?t=76
https://youtu.be/eJWNMCD8SMU?t=87
https://youtu.be/eJWNMCD8SMU?t=175
https://youtu.be/fT_aZfg9AP0?t=61
https://youtu.be/fT_aZfg9AP0?t=74

They are not on corecraft.

[2015-08-06 21:53] Deluge9 opened #1078 "Tailoring Trainer "Snang" has wrong icon for Brown Linen Shirt"
Ok, maybe not the most game breaking bug, BUT STILL:
The tailoring trainer in org called Snang teaches brown linen shirt. But the icon for said spell is that red faced placeholder guy... if you click the other tailoring trainer who also teaches brown linen shirt, the icon is the correct brown shirt icon. This bug persists even if you train the recipe.
Screenshots included. No proof has been found

[2015-08-06 21:59] Deluge9 commented on #1078
Without tailoring:
http://i.imgur.com/uD09MqY.jpg

With tailoring:
http://i.imgur.com/uipxToo.jpg

How it looks at the other tailoring trainer:
http://i.imgur.com/aN5Gq15.jpg

[2015-08-06 23:17] Ickler opened #1079 "[Alterac Valley] Dun Baldar bunkers - ninja capping"
Now both as a druid / rogue I used to go north and cap the bunkers in AV.

As a druid I stealthed in / wall jumped. As rogue I shadowstepped.
However on the test today I tried this, but there were two NPC's close by the flag. I began attacking these, but as I did 11 other mobs attacked me as well.. So that's a total of 13 mobs, discounting the archers.

A few vids of how AV was in BC:
https://www.

[2015-08-07 08:48] ccnim commented on #1079
We need evidence of how the NPCs in the bunker work. In both videos no NPCs are present due to having been removed.

[2015-08-07 09:19] Argonn commented on #718
I have had this so many times on other privates, right after a DC or even an Alf+F4 logout. The server seems to be running behind on updating all the changes and your position becomes invalid (placing you underground) and tries to bring you back to a flighthub. I have had this with Orgrimmar, when fishing outside of rachet. The server crashes, putting me on a flightpath (i was fishing!) and brough

[2015-08-07 13:52] nullfoxh opened #1080 "[BG/WSG] Death on Server Crash"
If you are in a battleground (WSG, in this case) when the server crashes, you spawn in your starting zone (eg Shadow Grave, Tirisfal Glades) and die immediately when logging back in. This happens regardless of your hearthstone location.

How to reproduce:
1. Join WSG
2. Wait for server crash
3. Log back in
4. Get ported and die

[2015-08-07 17:24] Sakatoro opened #1081 "[Quest @ Terokkar Forest] The Big Bone Worm"
I had tried this quest last test and forgot it to report.

The NPC/Worm did not spawn after we used Fumper. We tried it around 30min, but he did not spawn. Every time there spawned the gnoms. And we had 2-3 times there nothing happenend and no npc spawned, perhaps than the big elite worm should spawned.

http://www.wowhead.com/quest=10930/the-big-bone-worm#screenshots

[2015-08-07 21:45] Peonstomperx opened #1082 "Pet casts+Stealth"
Pet casts don't get interrupted if target stealths.

How to reproduce:
Duel warlock vs rogue
Start casting seduction
Stealth once cast has started
Get seduced while stealthed

[2015-08-07 21:55] YourNewfriend commented on #1082
Are you sure that's an issue?  As far as I know, pets should still be locked on to targets that merely stealth.

[2015-08-07 21:59] Rakanish opened #1083 "Fear"
Fear seems to stay on target for a long time, even when the target is attacked. I don't know the fear threshold for damage, but it seems really high here.

[2015-08-07 22:27] ccshiro commented on #1076
I'm fairly confident the memory corruption that caused the crash caused this. If that turns out wrong, and you see it again, please reopen the issue.

[2015-08-07 22:27] #1076 closed, assigned to nobody

[2015-08-07 22:34] justinbeaver opened #1084 "[Hunter] Arcane shot dispel"
Hunter's ability arcane shot should do dispel first, then do dmg. (for example if mage is low HP and using shield you should be able to kill him with one arcane shot)
Proof:
scr1: http://imgur.com/a/Km9Zl#0
scr2: http://imgur.com/a/Km9Zl#1
scr3: http://imgur.com/a/Km9Zl#2
as we can see mage is using engi belt (buff from engi belt is dispelable), first shot he recieve is arcane shot, which dispels

[2015-08-07 22:35] lawlrmk commented on #1083
i remember threshold beeing pretty random. no proof.

[2015-08-07 23:07] Adunai opened #1085 "Falling and taking falling damage on a flying mount"
This bug can reproduced in the following way. I get on my flying mount, fly to the bottom part of the Mechanar (or any other instance of Tempest Keep), go the the bottom point of a crystal and fly upwards along it. As some point I fall from it (without dismounting; I can't do anything when falling) and at some point I reach the "ground" in the air. When it takes longer, I get the falling damage.

[2015-08-07 23:48] CarboCorecraft opened #1086 "[ROGUE] Vile Poisons doesn't give addicional chance to resist dispel effects"
I think that Vile Poison is bugged (at least partially) in the way that it doesn't give addicional chance to resist dispel effects. I have specced my rogue toon 5/5 Vile Poison and should have 40% chance to resist dispel effects, but it didn't resist at all.

Tested with druid and shaman.

[2015-08-08 00:16] SuddenDeath commented on #1082
Not a bug: https://youtu.be/EQ_rrjzYImg?t=7m18s

[2015-08-08 00:27] Peonstomperx commented on #1082
rofl ok

[2015-08-08 00:27] #1082 closed

[2015-08-08 00:30] DaRealBoss opened #1087 "[Hunter] Scorpid poison"
Doesn't deal dmg after the 4th and/or 5th stack is applied. Deals no dmg after the pet keeps refreshing the 5 stacks up. Tested on a target dummy and mobs.

Also not sure if this is an issue but i thought this was funny:

http://imgur.com/Y8ZveM5

Scorpid poison can be dodged? haha

[2015-08-08 00:31] Adunai opened #1088 "Spirit Healer can be seen after resurrection"
I died in the Mechanar and got resurrected by the Spirit Healer, I can see it when being alive.
Screenshot: http://s20.postimg.org/h9pruxpp9/Wo_WScrn_Shot_080815_015244.jpg

[2015-08-08 00:46] Crylawns opened #1089 "Arena Lost Before Death"
A 2v2 arena skirmish ended before my character was dead. I was thrown in with a random warrior that I think was named Darts. He died and I was left facing 2 opponents. During my 2v1, the warrior either logged off or left the arena forcing the arena game to abruptly end while I still had around 75% health.

[2015-08-08 00:54] Crylawns opened #1090 "Falling Through World"
I logged out in the middle of a battleground for about 5 minutes with my character alive. Upon logging back in I was returned to the battleground (WSG), and I proceeded to fall through the world where I died in the Ruins of Alterac. Try standing at the Horde side spawn in WSG while logging back in to reproduce.

[2015-08-08 01:00] Crylawns commented on #1089
I managed to reproduce the same bug on Blade's Edge Arena (idk if this matters), and I had my partner log out while I was still fighting the other player. This caused me to lose the skirmish.

[2015-08-08 01:08] justinbeaver opened #1091 "[Hunter] trueshot aura"
Trueshot aura should not be dispellable and cost no mana.
Proof:
Patch note: Trueshot Aura (Marksmanship) no longer costs mana to cast and will last until cancelled.
http://wowwiki.wikia.com/wiki/Patch_2.3.0
video: https://www.youtube.com/watch?v=d2_1BhexWU0
warrior getting fully dispelled, and aura still up
how it works atm:
its not dispellable by shaman's purge and warlock's pet.
its dispellable

[2015-08-08 01:10] YourNewfriend opened #1092 "[WSG] It's Possible To Mount In The Horde Flagroom"
![asd](https://cloud.githubusercontent.com/assets/13057166/9148416/8fb4c926-3d2f-11e5-8518-9f713ceaa5df.png)

Consequently, people can get a bit of a quicker start than others.

[2015-08-08 01:15] cmlord0 opened #1093 "Flying straight down doesn't make you automatically land"
I may be wrong about this, but I believe that on live if you fly straight down, you instantaneously land.

![corecraftbug](https://cloud.githubusercontent.com/assets/13701559/9148430/ca4b72e0-3d40-11e5-8cdf-844ef7ef1324.gif)

This can be recreated by simply flying straight down into the ground.

[2015-08-08 02:08] hddist commented on #1090
Confirmed.
Had the same issue with a few other folks, straight after WSG had finished you get ported to Alterac Mountains for no reason, fall through World for a few seconds, then appear dead in the Ruins fo Alterac.

(My Assumption is: maybe if you were in combat, casting something etc right in the moment when WSG finishing you get this bugged).

Instead of releasing the spirit at the Ruins of Al

[2015-08-08 02:13] Deluge9 opened #1094 "Blessing Of Freedom not granting immunity"
Blessing of freedom seems to remove all movement impairing effects just fine, but it does NOT give you immunity for most of them.

I've been hit by Frost Nova, Hamstring and Wing clip while under the effect of Blessing Of Freedom (I've heard frost shock also works through BoF). I've tried this repeatedly with wing clip both with and without Guardian's Favor talent (increased duration). I've only t

[2015-08-08 02:15] YourNewfriend opened #1095 "Resurrecting At Corpse In BGs = Full HP/Mana"
If I recall correctly, this shouldn't be the case.  I remember it being something like 50%

[2015-08-08 02:16] Deluge9 commented on #1086
I can confirm this. I tried this with a 70 paladin and I could dispel Wounding Poison 100% of the time. HOWEVER Vile Poisons did seem to work on Crippling, Deadly and Mind numbing poison. It was only bugged when it came to Wounding Poison.

[2015-08-08 02:34] YourNewfriend opened #1096 "PvP Flag Isn't Removed By Flight Paths"
![image](https://cloud.githubusercontent.com/assets/13057166/9148683/a02967ac-3d3a-11e5-9021-9f7fa51b31b5.png)

Retail:
https://youtu.be/TW9wP0J--BM?t=1h23m44s
https://youtu.be/EZYdJuVzwhQ
https://youtu.be/5--rNSjx99k?t=14s

https://youtu.be/gN3Z2vVNQAE?t=21m50s
PvP flag isn't returned after a flight from a contested>safe territory after only 2 minutes of flight.

[2015-08-08 02:56] Bzmode opened #1097 "(Hunter) Bestial Wrath/Beast Within"
both can snared/slowed but can't be polymorphed while having the bestial wrath/beast withing effects.

[2015-08-08 02:58] Bzmode opened #1098 "(UI) Nameplates casting"
the nameplate castbar seems to be completely broken you can see the spell they are casting but not the progress of it.

[2015-08-08 03:05] YourNewfriend opened #1099 "Screen Freezes"
They tend to happen in instanced areas.  Lowering view distance seems to lower the chance of incidence.  I think everyone's acquainted with them by now.

[2015-08-08 03:14] YourNewfriend opened #1100 "PvP Flag Is Enabled On Toggling Some Abilities With Opposite Faction"
Currently:
1. Simply toggling auto-attack with an enemy faction member targeted will enable a player's PvP flag
2. Beginning the channeling process of Arcane Missiles without even casting a single missile will flag the caster.

Intended: Players should actually have to enter combat with the enemy faction member before their PvP flag is automatically enabled.

[2015-08-08 03:22] YourNewfriend opened #1101 "Damaging Ranged Special Attacks Trigger Melee Weapon Skillups"
![image](https://cloud.githubusercontent.com/assets/13057166/9148846/277fea22-3d41-11e5-9d01-b0f284e67c16.png)

Scatter Shot raised my Axe Skill, and then shortly after it raised my Bow Skill.  Doesn't affect Concussive Shot apparently.

[2015-08-08 03:22] Jigodian commented on #1098
Happened to me. After that I clean installed TBC again and it worked fine again. It's a client side problem for sure.

[2015-08-08 03:29] Bzmode commented on #1098
ok i'll leave this open for now let shiro decide what to do with that information might help other people having the same problem I am

[2015-08-08 03:33] YourNewfriend opened #1102 "PvP Flag On Requesting Duel With Opposite Faction"
When requesting a duel with a member of the opposite faction, the player issuing the duel becomes flagged.

[2015-08-08 03:42] brum21 opened #1103 "Collidus the Warp-Watcher's Focused Burst ability being resisted 100% of the time."
Pretty irrelevant to PvP but was fooling around in SMV and found this. Here's the video containing the issue: https://www.youtube.com/watch?v=VEY8zqtBf9s&feature=youtu.be

[2015-08-08 03:47] YourNewfriend opened #1104 "Throwing Weapons Cause Combat Instantly Exclusively In PvP"
![image](https://cloud.githubusercontent.com/assets/13057166/9148926/4b153e70-3d45-11e5-8675-50896f42e395.png)

Only against players.  It will initiate combat state against creatures when the weapon reaches its target.

This would prevent throw + stealth combos.

I vividly remember rogues regularly lurking and throwing daggers at low HP duelists outside of places like Orgrimmar, and stealthing imm

[2015-08-08 03:58] YourNewfriend commented on #1095
Proof: http://www.ign.com/boards/threads/wow-battleground-question.250501171/
"yeah sometimes it pays to walk/run back to your corpse in BG's, the trade off is you rezz with like half health and mana(if youre a mana user) which makes you an easier target to kill the second time around"

Proof: http://wowwiki.wikia.com/wiki/User:Piumosso-Uldum/AB_Guide
"Resurrecting at your corpse is subject to res

[2015-08-08 04:07] YourNewfriend opened #1105 "Pets Don't Enable PvP Flags For Their Masters"
![image](https://cloud.githubusercontent.com/assets/13057166/9148984/3747b41a-3d48-11e5-85d6-d4bd89517c88.png)

This would allow Alliance to blue-wall, and attack Horde players in their territory, and vice versa.

[2015-08-08 04:12] YourNewfriend opened #1106 "Infernal Is Broken"
Break down:
-Does not patrol when idle
-Bugs out when resetting after a secondary (pvp flagged) target is too close (stack both players when testing this)
-It's sometimes invisible for the summoner, but not other players

[2015-08-08 04:14] YourNewfriend opened #1107 "Death Coil Doesn't Trigger Aspect of the Cheetah's Dazed effect"

[2015-08-08 04:18] YourNewfriend opened #1108 "Imps In Aggressive Mode Without Fireball On Auto-Cast"
Will just stare at their targets.  If they're commanded to follow, they'll move, and then shortly after lock onto a target again, and stare.

[2015-08-08 04:18] YourNewfriend opened #1109 "Imps Won't Manually Cast Fireball After Auto-Cast Is Toggled On and Off"

[2015-08-08 04:20] YourNewfriend opened #1110 "Trade Chat Is Visible From Everywhere"
![image](https://cloud.githubusercontent.com/assets/13057166/9149044/3c06c5c0-3d4a-11e5-8da5-c37305d0792f.png)

[2015-08-08 04:39] YourNewfriend opened #1111 "Frost Trap + Slows Stacking Incorrectly"
![image](https://cloud.githubusercontent.com/assets/13057166/9149084/ecd5d8a4-3d4b-11e5-93aa-39955b3e0756.png)

https://www.youtube.com/watch?v=YRD0p0oV54w&feature=youtu.be&t=2m21s

[2015-08-08 04:40] Mechaning commented on #779
This just happened to me for the reagent vendor in the Exodar.

[2015-08-08 05:51] ccnim commented on #1085
This is how it works on retail as well. Your mount gets into it's ground mode and since you are now falling you can't do anything.

[2015-08-08 05:51] #1085 closed, assigned to nobody

[2015-08-08 06:23] Mechaning opened #1112 "Azeroth portal trainers language"
The portal trainers in Azeroth are speaking a different language when you talk to them as a non-mage class.

![portal1](https://cloud.githubusercontent.com/assets/7338559/9149352/7770f32c-3d74-11e5-9735-9f72ce316f22.jpg)

Refer to this second screenshot for the correct dialogue.
![portal2](https://cloud.githubusercontent.com/assets/7338559/9149354/7e4b8db0-3d74-11e5-9245-22827b3e8b03.jpg)

[2015-08-08 06:44] YourNewfriend opened #1113 "[Hunter] Slows + Dazed Don't Stack"
I don't believe a slow effect should be replacing a daze, but I could be wrong.

[2015-08-08 06:45] Schaka commented on #1098
This was a common bug during retail, where the castbar on nameplates would sometimes just break. There is even an addon around that can fix this.

[2015-08-08 06:46] Schaka commented on #1089
I can confirm this, as I was one of the opponents. I thought you just left the arena, actually.

[2015-08-08 06:48] Schaka commented on #1086
I can confirm this, as I was the rogue testing this with Deluge9 and also noticed it during arenas.
My guess is that the spell_affect table is missing the correct, see here for the correct mask:
https://code.google.com/p/trinitycore/source/detail?r=2797d699363396c215cf5ecd603f7fae56cbc39d

[2015-08-08 06:52] Schaka opened #1114 "Paladin able to cast Blessing of Protection during Sap (on another player)"
Is:
While Paladins are under the effect of Sap, they are able to cast Blessing of Protection (and possibly other blessing) on other, friendly players.

Should:
Paladin can definitely cast BOP on himself while under physical crowd control. Before 2.2.0, Paladins could cast BOP on other players while stunned. Since Sap is "incapacitation", it should probably be possible to cast BOP during Sap on oth

[2015-08-08 06:57] Schaka opened #1115 "Focus Frame bugging out randomly/after mind control"
Is:
The focus frame will sometimes randomly and sometimes bug out after the enemy player was mind controlled. Unfortunately, I do not have a screenshot of this bug, but it is common amongst all private servers. The focus frame will stop updating values on your "focus" unit. This means that no events are fired for this unit anymore, resulting in the frame's buffs/debuffs greying out and HP/power ba

[2015-08-08 07:24] Sakatoro commented on #1099
I got long freezes after joing AV, after 1min the freezes (every one were 2-5sek) stopped

[2015-08-08 08:15] Doppelmoral commented on #1114
Please try to swap weapons / shield during sap as well. Commonly possible on other servers (f.e. equipping shield during sap) but a bug

[2015-08-08 08:31] YourNewfriend commented on #1114
nah.. Paladins should at least be able to cast Blessing of Protection on themselves to break out of sap, but casting it on other players definitely sounds like a bug.

[2015-08-08 09:18] Doppelmoral commented on #1101
Your screenshot may show another bug btw:

If there's arrows in your backback and in your quiver, the game will prefer using the backpack ones instead the quiver's. In your pictures it seems your char used backback arrows.

[2015-08-08 09:20] YourNewfriend commented on #1101
Good observation.

[2015-08-08 09:39] YourNewfriend commented on #1092
It may not be a bug

[2015-08-08 09:54] Doope commented on #1092
its a bug for sure

[2015-08-08 10:05] venturafonso opened #1116 "[Druid] Healing touch rank 3 and lower is healing double what it should be"
So i was testing downranking when I noticed rank 3 and 4 of healing touch are healing about the same, and i believe this to be completely broken.

Rank 3 HT : 100 mana, 2.5s cast time - 195-243 base healing

5 casts average heal:
![2015-08-08_10-55-41](https://cloud.githubusercontent.com/assets/7500708/9149998/3ba24ab0-3dbc-11e5-9890-6d180493d02a.jpg)

Rank 4 HT: 168 mana, 3s cast time - 363-445 b

[2015-08-08 10:09] venturafonso opened #1117 "[WSG] The "Recently Dropped Flag" debuff is present"
In this https://www.worldofcorecraft.com/content/alterac-valley-battlegrounds-our-plans blogpost:

"There are two changes in Warsong Gulch that has changed the tactical play of it. One is the fact that some time after the flag is picked up, its position is displayed on the map. The other is that you can't repick a flag you dropped for 3 seconds. Both these changes we think have made the battlegrou

[2015-08-08 10:20] Ickler opened #1118 "[AB] Doesn't update grave yard"
When waiting for a ress in AB, if your base gets captured you won't change Grave Yards and get another ress. You instead just stay at the old one, and have to manually run to a base your team is controlling.

[2015-08-08 10:39] venturafonso opened #1119 "[AB]Fell trough the world at gold mines"
I got feared, and after trinketing it i instantly fell trough the world:

![2015-08-08_11-17-51](https://cloud.githubusercontent.com/assets/7500708/9150134/a1d8403c-3dc1-11e5-862d-1a0ced597234.jpg)

You can probably tell the exact spot where i fell, it was in that uphill "mound" that connects to the cart where the powerup is, it's those kind of hills that usually cause the most problems with falli

[2015-08-08 10:40] Jonssown opened #1120 "[Buff/Debuff System] Rogue - Cheap Shot & Kidney Shot -Overlap-"
If you use Kidney Shot while Cheap Shot is still active, it will replace it instead of being along side it, if that makes any sense.

Screenshot / Recording can be provided if needed.

[2015-08-08 10:43] Doope commented on #1114
You can cast BoP on yourself while in physical CC, like blind and warrior fear and that works fine,but ye you shouldnt be able to cast it on others while in CC

[2015-08-08 11:07] Ickler commented on #1118
This is also an issue in Eye of the Storm.

[2015-08-08 11:11] Jonssown opened #1121 "Eye Of The Storm - Graveyard"
If you are dead at the graveyard in EOTS at any base, and the base gets taken over, you should get teleportet to another graveyard, but you don't.

[2015-08-08 11:15] Stoffetest opened #1122 "Rogue vanish bug"
This needs more investigation, however, 4/5 times I vanish from a melee class they just keep attacking me as if I just ran that direction. I'm aware of the state vanish was in 2.0 and vanish would break due to projectiles being sent your way as you vanished, but now, literally everything is breaking my vanish. And no, I'm not talking about dots.

As stated above, needs more research about what exa

[2015-08-08 11:19] #1121 closed, assigned to nobody

[2015-08-08 11:19] Jonssown commented on #1121
Duplicate.

[2015-08-08 11:21] Jonssown opened #1123 "Paladin - Blessing of Protection - Immune to some spells"
A Paladin with BoP shouldn't be immune to Blind, which is the case in the current build.

[2015-08-08 11:27] Doope commented on #1123
Working as intended

[2015-08-08 11:28] Doope commented on #1122
Welcome to the burning crusade

[2015-08-08 11:28] nullfoxh commented on #1098
Duplicate of your other report? https://github.com/ccshiro/cc-buglist/issues/686

[2015-08-08 11:29] Stoffetest commented on #1123
No, that's a bug.

[2015-08-08 11:29] Doope commented on #1120
same goes for paladin Hammer of Justice, i did a 6 sec stun then a rogue kidney shot overwrote it which shouldnt happen

[2015-08-08 11:31] Stoffetest commented on #1122
If you're going to comment on this section, please be constructive. I'm aware of how Vanish worked.

[2015-08-08 11:31] Jonssown commented on #1123
Wowwiki aint the best source, but here we go: http://wowwiki.wikia.com/wiki/Talk:Blessing_of_Protection

[2015-08-08 11:31] #1123 closed, assigned to nobody

[2015-08-08 11:33] Doope commented on #1123
Im 100% sure its not a bug

[2015-08-08 11:34] Jonssown commented on #1099
Happens in BGs, from time to time.

[2015-08-08 11:35] Stoffetest commented on #1099
I got screen freezes as well, not just in bg's. Random 2-second freezes.

[2015-08-08 11:40] Shizumaru commented on #1114
"other players definitely sounds like a bug". HAUAHAUHAUAHUA
 Paladin HAVE to cast BoP, HoP to a friendly target under CC....it's not a bug

[2015-08-08 12:01] Stoffetest opened #1124 "Facing issues for Ambush & Backstab"
Backstab and Ambush is impossible to perform at times, telling me I have to be behind the target even if I am. This happened in Warsong Gulch, on several occasions. Dunno whether this is due to server lag or bugged mechanics.

[2015-08-08 12:04] Peter1337 commented on #1099
i got freezes too at the beginning of a bg ~1-1,5 min. afterwards everything is fine. I thought it might be caused by addons. had the same experience on other private tbc servers

EDIT: so after playing some bg's, i noticed that my screen freezes each time a (friendly) player leaves/joins the battleground. dont know if it might be have something to do with synchronyzing addons.

EDIT nr. 2: happen

[2015-08-08 12:07] nullfoxh commented on #1080
Happened again. Combat log says I fell to my death. This time I spawned next to the battleground master in Shatt. My HS was also set to Shattrath this time, so I guess it plays a role after all.

[2015-08-08 12:13] Doope commented on #1094
The slow stacking system is broken, and you are right it should remove every slow + frost nova and feral charge

[2015-08-08 12:14] Doope commented on #1080
I died the same way

[2015-08-08 12:25] CarboCorecraft opened #1125 "[Rogue] Distorted distract's aoe"
The rogue spell distract has an aoe range, which is distorted depending on whether it's cast on a flat ground or on a hilly ground.

Example No 1 (hilly ground):

![wowscrnshot_080815_134404](https://cloud.githubusercontent.com/assets/13622223/9150398/eb9c0dba-3dd6-11e5-8e5f-c2c60477b66b.jpg)

![wowscrnshot_080815_134427](https://cloud.githubusercontent.com/assets/13622223/9150399/f3ddecc8-3dd6-11

[2015-08-08 12:29] Jonssown opened #1126 "[Druid] - Root's stacking"
Nature's Grasp seems to stack with Entangling Roots.
![wowscrnshot_080815_142720](https://cloud.githubusercontent.com/assets/11741856/9150463/e61bf1ae-3dd9-11e5-8a6a-a48ff8ac55ec.jpg)

[2015-08-08 12:32] #1062 closed, assigned to ccnim

[2015-08-08 12:34] #1093 closed, assigned to nobody

[2015-08-08 12:34] ccnim commented on #1093
Client side.

[2015-08-08 12:40] Stoffetest commented on #1122
Also just noticed if you resist a spell whilst using vanish, you get popped out of stealth. This only happens sometimes, so the causes are unknown. This means, cloak + vanish against say a Shadow Priest doesn't work from time to time. That being said, still no dot damage causing this.

[2015-08-08 12:42] pyrokar6 commented on #1114
I think paladins were able to cast BoP on other players if they were blinded, can't say about when they're saped.

[2015-08-08 12:55] PantelisK opened #1127 "Corruption with 5/5 Improved Corruption Talent doesnt cast instantly"
With 5/5 Improved Corruption talented and my back turned on a mob i couldnt instant cast Corruption. As shown in the printscreen i am getting the error message "cant do that while moving"
![untitled](https://cloud.githubusercontent.com/assets/5631772/9150521/af0ee3c2-3de5-11e5-8828-3a974b8e56bb.jpg)

[2015-08-08 13:25] Deluge9 commented on #1118
Confirmed in today's Eots game

[2015-08-08 13:55] ccnim commented on #1125
Works fine, the visual is client side.

[2015-08-08 13:55] #1125 closed, assigned to nobody

[2015-08-08 13:57] Iliana-sc commented on #1114
I recall this to be the correct behavior, but I don't have any proof. This should probably be investigated before it's assumed to be bugged, even if it sounds strange.

[2015-08-08 14:18] CarboCorecraft commented on #1086
@Deluge9
Thx for info, tested Crippling, Mind-numbing and Deadly Poison today with paladin and shaman (he used Cure Poison only) and these poisons appear to be correct, only Wound Poison wasn't affected by Vile poisons.

[2015-08-08 14:24] Klimpb commented on #1126
Can confirm, they also doesn't seem to share DR.

[2015-08-08 14:26] Klimpb commented on #1120
I've seen the same thing happen sometimes with warlock dots replacing another warlock's dots. Not sure if it's only visual.

[2015-08-08 14:27] Klimpb commented on #1117
Would be nice if someone could confirm if it's the same case for the EotS flag.

[2015-08-08 14:33] Klimpb opened #1128 "In queue with Deserter"
I went afk inside WSG and when I came back I was still in AB & AV queue while having 3 min left of deserter.. Now I have a slight memory of this being possible on retail but if the AV/AB queue would pop while I still had deserter up, it would auto-leave before I got the chance to accept the invite.

But maybe I remember wrong and you should just be removed from all queues when you get deserter.

h

[2015-08-08 14:35] nullfoxh commented on #1089
To clarify, I logged out after dying, didn't test logging out while still alive. Not sure if it's relevant to the bug but wanted to throw it out there.

[2015-08-08 14:39] nullfoxh commented on #1128
We were talking about this on IRC. From what I recall you would actually remain in queue, but unable to join when a BG pops, like it says you can't join while you have deserter or something. I'll try to find some proof on this as well!

[2015-08-08 14:51] Deluge9 commented on #1094
To be clear, it does remove them upon being cast. It just doesn't grant immunity. So if a mage casts frost nova during your BoF time, you get frozen as if you didn't have BoF on at all.

[2015-08-08 14:52] Deluge9 commented on #1090
Confirmed, happened to me just now.

[2015-08-08 14:53] Deluge9 commented on #1090
Confirmed. Exactly what hddist explained happened to me just now.

[2015-08-08 14:55] Crylawns commented on #1089
This bug might need to be tested in 3v3 as well as in 5v5.

[2015-08-08 15:00] #1098 closed, assigned to nobody

[2015-08-08 15:12] #1080 closed, assigned to nobody

[2015-08-08 15:19] matalm commented on #1116
Shaman's Healing wave has the same behaviour.
Rank 1, 2 and 3 heals too much.
I compared the values i got on the test server with the correct ones from this guide:
http://web.archive.org/web/20080913121625/http://elitistjerks.com/f47/t24796-shaman_restoration/

Rank 4 and above seems correct.

[2015-08-08 15:22] Schaka commented on #1114
This was "correct" behavior in Wrath, when they changed blessings to hands. You were able to cast HoF and HoP on other players and yourself during sap and stuns, but not other forms of CC.

It's incorrect behavior in TBC. If this had been possible during TBC; it shouldn't be hard finding video proof of a Paladin doing it, correct? I went through my small stash of downloaded videos and didn't find

[2015-08-08 15:26] Klimpb opened #1129 "Selling/deleting items interrupts all casts."
Can be quite annoying when skilling up professions etc.

[2015-08-08 15:27] Klimpb commented on #1127
Have had this happen to me before, the spell is still instant but you have to stand still to cast it. Quite a rare bug.

[2015-08-08 15:33] Lephidiles commented on #1128
I remember it been a way to do this by putting the deserters in grp2 in a raid then q them and they would be able to join the bg. this was during tbc but not sure what patch and it was probably a bug

[2015-08-08 15:34] Lephidiles commented on #1129
think this is intended sd with a wontfix tab on another issue

[2015-08-08 15:39] kamil87 opened #1130 "Lord Solanar not spawned for epic paladin horde quest"
Lord Solanar, NPC ID: 25223 isn't spawned, he's the first guy you have to talk to in order to complete the first quest for the horde epic mount.

[2015-08-08 15:43] ccnim commented on #1129
#522 see shiros explanation

[2015-08-08 15:43] #1129 closed, assigned to nobody

[2015-08-08 15:46] Peonstomperx opened #1131 "Nameplate castbar"
![wowscrnshot_080815_174242](https://cloud.githubusercontent.com/assets/12783794/9151069/7bd00b3e-3df5-11e5-84ac-22532a72f221.jpg)
![wowscrnshot_080815_174304](https://cloud.githubusercontent.com/assets/12783794/9151068/7bced962-3df5-11e5-89ec-cd8cb182db15.jpg)
![wowscrnshot_080815_174315](https://cloud.githubusercontent.com/assets/12783794/9151070/7bd270cc-3df5-11e5-98dd-b9d3882f5b79.jpg)

[2015-08-08 15:48] Iliana-sc commented on #1114
If you have evidence that it worked like this in wrath then that is a good reason to research this properly for TBC and Vanilla. There is no good reason to assume this behavior was added in wrath and didn't already exist in TBC and vanilla. I personally remember this from vanilla, though I have no evidence and I'm not willing to say I'm 100% sure.

I don't know how many videos you checked, but the

[2015-08-08 15:54] Qxcr commented on #1116
Can also confirm the issue for Priest's Lesser Healing Ranks aswell as Renew Rank 1 and 2.

[2015-08-08 15:57] Ickler opened #1132 "Temp summoned mobs (humanoids) cannot be cannibalized"
Title says it all, noticed this on the mobs in Botanica before first boss.

[2015-08-08 16:05] ccnim commented on #1131
#686 duplicate

[2015-08-08 16:05] #1131 closed

[2015-08-08 16:08] Klimpb commented on #1129
Ah I see

[2015-08-08 16:10] RigidDirigible commented on #439
I noticed the flying guards were behaving wrong, so I did some tests as both Horde and Alliance and came up with some very strange behaviour from them.

First, they don't agro when you fly right next to them, no matter how close you get. They do, however, apply the debuff that shows they've spotted you.

Horde hub in Terokkar, as Alliance:
http://i.imgur.com/pe5ISYh.jpg
Alliance hub in Terokkar, a

[2015-08-08 16:35] ceyscro commented on #1122
Doope wrote that because this issue was present in TBC retail, there where some treads on forums about that.
The fact is that vanish can "absorb" all ranged spells and you will still be in vanish mode. But vanish can also "absorb" melee stuns, when it happen you pop out from stealth, this is mostly known happening from a blind vanish, that do not happen only with blind but with all melee stuns.

[2015-08-08 16:36] kamil87 opened #1133 "Avenging wrath not working under the berserker effect in battleground"
![wowscrnshot_080815_120143](https://cloud.githubusercontent.com/assets/13708928/9151230/5a48db7a-3dc9-11e5-99bf-36f2e06941dd.jpg)
Hey I couldn't use avenging wrath during my berserker buff. As I remember you could use it during zerk in bg here you can see in this retail video the dwarf is using avenging wrath under the zerk effect. https://www.youtube.com/watch?v=2y-vPs4RtDY

[2015-08-08 16:47] ceyscro opened #1134 "We can read /emote from opposite faction"
The /emote command that allow us to make a message as an emote can be read by opposite faction, so we can communicate with it.

/emote should only be read by people from our faction.

[2015-08-08 16:47] Peonstomperx opened #1135 "Shattrah auto attack"
If you auto attack someone while running into Shattrah, you will still be attacking them however missing everything.

[2015-08-08 16:51] Klimpb opened #1136 "Could not use mana drain on a target with viper sting"
"A more powerful spell is already active"

related to #1133

[2015-08-08 16:51] Peonstomperx commented on #1134
this is good for testing purposes tho

[2015-08-08 16:55] ceyscro opened #1137 "invalid"
EDIT : invalid

[2015-08-08 16:58] Peonstomperx commented on #1137
this only happens in combat, working as intended

[2015-08-08 16:59] #1090 closed, assigned to nobody

[2015-08-08 17:01] supitspink opened #1138 "Doctor Gregory Victor"
That NPC have to learn horde players for first aid 225+ quest called "Triage"(and works fine) but also he havev to learn them how to craft:
-Heavy Mageweave Bandage
-Runecloth Bandage
-Heavy Runecloth Bandage

For learn first(Heavy Mageweave) you have to get at least 240 first aid skill, proove - http://www.blizzardguides.com/wow_first_aid_faq_guide.html

There i can't get it even with 270. Tryed

[2015-08-08 17:02] ceyscro commented on #1137
Oh yeah you're right sorry.

[2015-08-08 17:22] Qxcr opened #1139 "[Mind Control and Mind Soothe in conjunction]"
This issue allows to control one mob in an instanced dungeon without pulling linked mobs from the same group after a few tries.

How to reproduce:

Cast Mind Soothe on all the linked mobs and Mind Control one. If the issue didn't occure break Mind Control, leave the dungeon and repeat. Do not reset the dungeon.

After you managed to break the linked mobs Mind Soothe is not required to reproduce it

[2015-08-08 17:22] hddist opened #1140 "Resurrection at a different Spirit healer"
This happened to me, when I died and decided to run (as a ghost) to a different graveyard. When you speak to any other Spirit healer, other then the initial one, you get ported back alive to the initial graveyard.

[2015-08-08 17:25] Peonstomperx commented on #1122
Let's nerf rogues some more because I feel like playing warlock after all these nerfs.

Blind breaks vanish:
https://www.youtube.com/watch?v=xF4Rx1sQYQU&t=74
Vanish should break when the spell batch happens, watch the vanish buff.

Some more spells that should break vanish, however cheap shot and kidney are auto attacked aswell, they need more proof.
https://www.youtube.com/watch?v=TTDbFBbNgyw

ht

[2015-08-08 17:36] RigidDirigible commented on #1112
Not the case in Orgrimmar or Undercity as a Horde warlock:
![wowscrnshot_080815_183250](https://cloud.githubusercontent.com/assets/13709059/9151495/421bebe0-3dfc-11e5-86fa-f6ba27348c7b.jpg)
![wowscrnshot_080815_183425](https://cloud.githubusercontent.com/assets/13709059/9151496/4828896c-3dfc-11e5-9fd8-1137accd0a07.jpg)

[2015-08-08 17:37] ccnim commented on #1078
Due to the 2.3 removing the apprentice tailors ability to teach tailoring and me not seeing them as very useful since they always stand next to a real trainer, I shall remove their ability to teach.

[2015-08-08 17:37] #1078 closed, assigned to nobody

[2015-08-08 17:43] ceyscro commented on #1119
I think the problem comes from Fear, I just seen a man being undermap cause of fear in warsong

[2015-08-08 18:03] CarboCorecraft opened #1141 "[Rogue] Shiv makes instant off-hand weapon attack nonetheless delayed poison application"
I'll use two scenarios to describe what i mean:

Scenario No 1: Shiv makes off-hand weapon attack.
Scenario No 2: Shiv makes poison application.

How it was on retail TBC: Both scenarios were happening in the same time without delay.

Proof: "Buddhist 7" vid, in the part when Buddhist is duelling with priest (https://www.youtube.com/watch?v=hyW98yHmMyg&t=5m22s) shows that both scenarios happen in

[2015-08-08 18:24] YourNewfriend commented on #1116
http://wowwiki.wikia.com/wiki/Downranking

[2015-08-08 18:33] ceyscro commented on #1122
What's your question here?

[2015-08-08 18:40] ceyscro opened #1142 "Mage immune (to stun) after Blink"
When a mage use his Blink ability, he's immune to all stun for few seconds.

We should be able to stun a mage directly after a transfer.

https://www.youtube.com/watch?v=Ba6Ty72eSH8
3:51 ; 5:34 ; 5:54 ; 7:17

Acrono uses cheap shot, mage blink then acrono shadowstep and kidney him, it works all the time.
On corecraft if you do that the mage will be insensible to the kidney shot.

[2015-08-08 19:09] Schaka commented on #1114
People starting doing it in Wrath and never before. This is my personal memory of how things were in Vanilla and TBC, then changed in Wrath.
I check HammerOfGG2 and videos where people faced Paladins, like the Neilyo ones. The idea was to find something where a Paladin would cast BOP on someone else. I figured it would most likely happen in 3s or in matches like Lock/Pally vs Rogue/Druid. Unfortun

[2015-08-08 19:29] YourNewfriend opened #1143 "It's Possible To Mount With Flags In WSG"
![image](https://cloud.githubusercontent.com/assets/13057166/9151870/e438a5c8-3dc8-11e5-92d0-198689b00380.png)

Just finish summoning the mount as you pick up the flag.

[2015-08-08 19:41] opzor opened #1144 "[Priest] Shadow Protection - Buff priority"
**whats happening**:
aoe version of the buff does not overwrite single target variant of the buff

When "(ST)Shadow Protection" is present on a target and you cast "(AOE)Prayer of Shadow Protection"
then "(AOE)Prayer of Shadow Protection" is NOT applied to a target.
"A more powerful spell is already active" message does NOT appear.

when "(AOE)Prayer of Shadow Protection"  is present on a target a

[2015-08-08 19:55] Schaka commented on #1122
Also, other rogues can vanish my cheap shot, I will get out of stealth, but their vanish will not break.
This is not how it is supposed to work. If you vanish an instant spell that isn't a projectile (like blind, cheap shot, etc) you are immune to the spell, but vanish/stealth also breaks.

[2015-08-08 19:56] Peter1337 opened #1145 "Quest NPC missing [scryer]"
checked some quests while waiting for bg's to pop up.

couldn't find Arcanist Savan on the Scryer's Tier in Shattrath.
one site suggested he is located in the pub in the north east of shattrath - couldn't find him there either

[2015-08-08 19:56] Schaka opened #1146 "Crowd Control not breaking when damage is absorbed"
Is:
See title. Had a rogue blinded, while he was shielded by a priest. Some mage hit him with Cone of Cold, but Blind remained intact.

Should:
Regardless of damage being absorbed or not, crowd control should always break on damage, with the exception of random break effects like roots and fear.

[2015-08-08 19:58] Peter1337 opened #1147 "[Quest] It's a Fel Reaver, But with Heart - not working"
couldn't revive the Q-mob with the given item. 10x tried.

![wowscrnshot_080815_181846](https://cloud.githubusercontent.com/assets/12044027/9151993/8d52ea7a-3e18-11e5-8138-7957a99fed20.jpg)

[2015-08-08 20:00] Peter1337 opened #1148 "[Quest] Zuluhed the Whacked - Q-mob isn't spawning"
the quest "Zuluhed the Whacked" of the Netherwing Q-chain is not working.
The Elite-mob is not spawning as you can see here:
![wowscrnshot_080815_180941](https://cloud.githubusercontent.com/assets/12044027/9152007/cf21f400-3e18-11e5-83df-5c263b5c3c3e.jpg)

it should look like that:
https://www.youtube.com/watch?v=dBK3JRLr08Y

[2015-08-08 20:03] ghost opened #1149 "WSG flag carrier on mount"
I just saw someone on a mount with the WSG flag, but I didn't see how he did it:
https://www.youtube.com/watch?v=s95R6gIyMys

Edit: #1143

[2015-08-08 20:03] Peter1337 commented on #1119
was feared in the middle of EOTS, moved to one of those stones and fell through.
the red circle indicates the nice guy who feared me, i hit the stone on his left
![wowscrnshot_080815_125025](https://cloud.githubusercontent.com/assets/12044027/9152027/597af7dc-3e19-11e5-81f4-2d03cd4ed086.jpg)

[2015-08-08 20:09] YourNewfriend opened #1150 "Mob Leashing Timer Fails To Refresh"
Currently, a mob's leash timer isn't refreshed by missed attacks.  I haven't tested other methods (parry/dodge/immune/resist), but I don't believe this should be the case, because like this, if a player gets unlucky enough with his attacks, a mob could end up fleeing in the middle of combat.

In this video, kiting with a spell that's treated as immune is done: https://youtu.be/SgLNayOzWoc?t=2m54s

[2015-08-08 20:16] ghost opened #1151 "Battleground 'Time Elapsed' doesn't work"
The battleground timer doesn't work.

Screenshot: http://i.imgur.com/fOp3p2k.jpg

You can see the bugged timer at the bottom right corner.

[2015-08-08 20:16] venturafonso commented on #1119
Probably just fear then, nothing to do with the trinket.

[2015-08-08 20:17] YourNewfriend opened #1152 "It's Possible To Hurt Players Outside Of Shattrath While In Shattrath"
This could apply to the borders of friendly/contested territory as well (for example, Crossroads'/Ashenvale's borders).

![image](https://cloud.githubusercontent.com/assets/13057166/9152086/d2606992-3dcf-11e5-88ae-b22e7167b902.png)

Also applies to Multishot and similar spells/abilities.  Requires an attackable entity near the enemy player.  I'm not sure if it can be done in reverse or not (wilder

[2015-08-08 20:18] #1149 closed, assigned to nobody

[2015-08-08 20:19] ccnim commented on #1145
2.1 NPC therefore not in.

[2015-08-08 20:19] #1145 closed, assigned to nobody

[2015-08-08 20:22] #1137 closed, assigned to nobody

[2015-08-08 20:45] Catfishs opened #1153 "[Blade's Edge Mountains] [Floaty Flavor Eye]"
The lvl 1 NPC's called "Floaty Flavor Eye" 's that are floating around in Blade's Edge Mountains in Death's Door shouldn't be targetable neither should you be able to see their names. They should be there just for the cosmetic effect.

[2015-08-08 20:52] Catfishs opened #1154 "[Mounting inside caves]"
At the moment you can mount inside caves in Baldes Edge mountains. I don't think this should be possible.

[2015-08-08 20:54] Schaka opened #1155 "Pets don't stop following/casting when stealth/shadowmeld is entered"
With one of the very last patches in TBC, this behavior was changed to where when a Nightelf used shadowmeld or a rogue used stealth, it would stop pets from following and they would reset.

That is why jumping off the bridge in blade's edge arena, dropping combat as the pet took the long way around and then shadowmelding became so popular for druids/nightelf priests to beat hunter/druid teams in

[2015-08-08 20:54] Klimpb opened #1156 "Powerups in Eots & AB aren't present."
They are not there from the start and they never spawn.

[2015-08-08 20:57] venturafonso commented on #1155
Same thing with druid prowl, pets keep following you after you've dropped combat and entered stealth

[2015-08-08 21:03] YourNewfriend opened #1157 "Battleground Flag Interaction Animation Is Missing"
https://www.youtube.com/watch?v=6EVoarrMbuw&feature=youtu.be&t=8m4s
https://www.youtube.com/watch?v=6EVoarrMbuw&feature=youtu.be&t=49s

[2015-08-08 21:04] brndd commented on #1155
What if the warlock just put his pet on follow when he saw him jumping off the edge?

[2015-08-08 21:09] YourNewfriend opened #1158 "Time Elapsed On The BG Scoreboard Doesn't Appear"
![image](https://cloud.githubusercontent.com/assets/13057166/9152277/f7cd6f8e-3dd6-11e5-8234-eb3b255e8cb1.png)

Happens randomly for people

[2015-08-08 21:09] Kinglundh opened #1159 "Ring of Blood bug."
Found a bug on the last boss on Ring of Blood quest chain in Nagrand.
He is supposed to ressurect but he's not.
You cannot complete the questchain.

[2015-08-08 21:12] #1154 closed, assigned to nobody

[2015-08-08 21:13] shadowraider commented on #1148
in private servers i think he is spawning on the the left wall on the very edge, have you tried to /target him ?

[2015-08-08 21:20] justinbeaver commented on #904
right now arming time is close to 3sec.
patch note said it should be 2sec.
here you can see arming trap is 2.0sec dead https://www.youtube.com/watch?v=scUbTgJlxWM&feature=youtu.be&t=4m17s
there is a timer on top of hunter abilities starts couting 2.0s after he pushed a button and then trap pops immediately.

[2015-08-08 21:51] YourNewfriend commented on #1157
https://www.youtube.com/watch?v=6EVoarrMbuw&feature=youtu.be&t=8m4s
https://www.youtube.com/watch?v=6EVoarrMbuw&feature=youtu.be&t=49s

[2015-08-08 22:06] Klimpb opened #1160 "You're able to capture flags in wsg without it being returned"
You're able to capture flags in wsg without it being returned to your base.

Example:

Both teams got the flag
we kill the horde FC, the flag is dropped, without me even clicking on it to return it, our flag carrier is able to capture the flag.

You should not be able to capture the flag before the flag is returned to your base.

[2015-08-08 22:07] Deluge9 commented on #1097
This is probably related to the Blessing of Freedom bug, where BoF doesn't give immunity.
https://github.com/ccshiro/cc-buglist/issues/1094

I did some testing on this and it's the exact same thing. Both hunter and pet removes all movement impairing effects upon cast, but they can still be slowed or snared during the bestial wrath/beast within effect.

http://i.imgur.com/iAnglJp.jpg
http://i.imgur

[2015-08-08 22:18] #1158 closed, assigned to nobody

[2015-08-08 22:18] YourNewfriend commented on #1151
It works sometimes, but it often bugs out for individuals, meaning some people can still see it while you can't.

![image](https://cloud.githubusercontent.com/assets/13057166/9152277/f7cd6f8e-3dd6-11e5-8234-eb3b255e8cb1.png)

[2015-08-08 22:20] DeeMarie opened #1161 "[Profession] Alchemy - Transmutes through Elixirs"
Currently I have learned two Transmutation recipes through making Elixir of Healing Power:

Transmute: Primal Life to Earth
Transmute: Shadow to Water

According to the 2007 http://wow.gamepedia.com/Alchemy_master_recipes#Discoveries:

"Transmute Discoveries

Six transmute recipes can be randomly learned via discovery, when performing a transmute.

[code]

"
It seems that players should not learn

[2015-08-08 22:24] #1153 closed, assigned to ccnim

[2015-08-08 22:25] Franksteryo opened #1162 "Silenced on cast but not blanked silenced (Mage blanket silence talent/other talents (?))"
I silence my opponent on cast (as a mage with Improved Counterspell 2/2) his cast stops but the blanket silence does NOT apply. As if the spell is not resisted but the talent is, fucking odd right?

PRIEST PoV, I am the mage reporting this however, and I definitely have the 2/2 Improved Counterspell

https://www.youtube.com/watch?v=a0Ld66BEr2k&feature=youtu.be

[2015-08-08 22:28] Deluge9 commented on #1094
Same bug mechanic as hunter's bestial wrath / beast within:
https://github.com/ccshiro/cc-buglist/issues/1097

[2015-08-08 22:34] chhayra opened #1163 "rest paladin blessing of freedom bug"
the bug is while under the effect blessing of freedom if i get slowing effect it wil still slow me is a bug i shouldt be immune to snares and slowing effects while under the effect of blessing of freedom

[2015-08-08 22:37] nullfoxh commented on #1122
Proof for the issue in post number 4 "if you resist a spell whilst using vanish, you get popped out of stealth":

Resisted spells will no longer break "Stealth"/"Vanish".
http://us.battle.net/wow/en/game/patch-notes/2-0-3

[2015-08-08 22:55] Deluge9 commented on #1094
Just tested it with Earthbind totem and it turns out that BoF gives immunity as it should towards it. This bug seems to be exactly the same as the Bestial wrath / Beast within bug:
https://github.com/ccshiro/cc-buglist/issues/1097
I'm thinking the fix is probably the same for both.
I'll try this out with Ornate Mithril Boots, Spider Belt and Free Action Potion, if I can get my hands on them.

[2015-08-08 22:57] Peonstomperx opened #1164 "Devour Magic"
You can devour magic even though there are no buffs/debuffs on the target.

WoW Icon 16x16 Patch 1.10.0 (28-Mar-2006): All spells/abilities that remove existing effects (e.g. Dispel Magic, Cleanse, Remove Curse etc...) will now verify that there is an effect that can be removed before casting.

[2015-08-08 23:07] Klimpb opened #1165 "Weird stealth bug"
This happens randomly, I'm able to see rogues at a far distance when they stealth vanish, happens once in a while

https://www.youtube.com/watch?v=t7ivH9OYIWU&hd=1
https://www.youtube.com/watch?v=WZn13D_RurM&hd=1

[2015-08-08 23:08] Peonstomperx commented on #1122
More proof for what Schaka and I were talking about: https://www.youtube.com/watch?v=fT_aZfg9AP0&t=663

[2015-08-08 23:09] Klimpb opened #1166 "Can't use trinket when some specific CCs overlap"
https://www.youtube.com/watch?v=PQ0EHbIMdXQ&hd=1

Only one I've noticed so far is gauge & blind

[2015-08-08 23:11] Klimpb opened #1167 "[Rough Stone] got "lost" in the mail"
https://www.youtube.com/watch?v=VgzxPDSR3SQ&hd=1

seemed to only happen with mails containing [Rough Stone], could be other items to.

[2015-08-08 23:14] Ickler commented on #1127
Hmm I've seen this on other Pservers, and often that also means that tanks when using instant abilities (spells) such as holy shield or other abilities counts as "casting" and removes all chances to block, dodge or parry. Great way to make sure you wipe on bosses when you think you're uncrushable.
Worth checking out for sure.

[2015-08-08 23:15] Klimpb opened #1168 "Pet pathing"
I know this bug might be difficult and all but it's a pretty annoying thing.

https://www.youtube.com/watch?v=KL_rJlTK6hU&hd=1

I ordered my pet to attack the rogue when I was in the tunnel, he should take left right away when he gets outside on the way up to ramp, running across the steep terrain instead of following the path

[2015-08-08 23:21] YourNewfriend commented on #1142
You mean Blink?  Yea, I've noticed that.  For some reason, mages remain immune to whatever they should be immune to during a blink for a second or two after the blink has completed.

[2015-08-08 23:24] Ickler commented on #1155
That youtube vid, is that even retail? Personally, even though I play rogue... I like this feature, makes you stay on your toes. But if you have proof that it was changed in S4, then that's again something up to the devs I suppose.

Though, it's hard to claim proper proof here since as brndd says the lock could've just gave the pet another command? I guess the EJ thread is pretty solid for shadowm

[2015-08-08 23:45] ghost opened #1169 "Twinspire Graveyard not working?"
The graveyard obtained by capturing the pvp objective in zangarmarsh was not used when my group died in Slave Pens. Still running instance, will try suiciding outside/other instances to see if it doesn't work properly elsewhere.

[2015-08-08 23:50] Peonstomperx commented on #1155
@Ickler http://www.warcraftmovies.com/de//movieview.php?id=91521 It's probably retail

[2015-08-09 00:07] justinbeaver commented on #1087
yep, stops doing dmg after 3 stacks. tested in duel
scrn: http://imgur.com/1Re7xuM

[2015-08-09 00:32] RigidDirigible opened #1170 "[Priest] Mind Controlled mob's AOE damages itself"
In heroic Ramparts, I mind controlled a Bleeding Hollow Darkcaster and used its rain of fire with itself and several party members in the AOE This caused the mob to damage itself, but not any of the party members.

![wowscrnshot_080815_222956](https://cloud.githubusercontent.com/assets/13709059/9152937/23560c42-3e36-11e5-802b-389eed17174e.jpg)

[2015-08-09 00:32] nullfoxh opened #1171 "[Hunter] Pet spawns after player dies"
If you kill a mounted hunter his pet will spawn once the hunter dies (at the same time dismounting).
The pet will remain until hunter releases or it gets killed.

Happened twice in WSG, might be related to the hunter being stunned as he was stunned both times.
![wowscrnshot_080915_032553](https://cloud.githubusercontent.com/assets/12772977/9152946/406f9e2c-3e47-11e5-8768-c452f7ef678c.jpg)

[2015-08-09 00:32] Johe123 opened #1172 "Hunter Pet issues"
When killed while mounted my pet appears and then runs off to attack people.
Should despawn on my death.
Pet correctly despawns when i am killed while not mounted.

Pet name coming up as unknown. Emotes use its correct name and other players can see its name.

[2015-08-09 00:34] nullfoxh commented on #1172
Hi! I posted this same bug 5 seconds before you :)
So we have duplicates :)
https://github.com/ccshiro/cc-buglist/issues/1171

[2015-08-09 00:35] #1172 closed, assigned to nobody

[2015-08-09 00:35] Johe123 commented on #1172
duplicate closed :D

[2015-08-09 00:36] Johe123 commented on #1171
ill come again on hunter try without stuns while mounted

[2015-08-09 00:37] nullfoxh commented on #1166
Can confirm. Happened twice to me in BGs.
Think I was feared and gouged one of the times.

[2015-08-09 00:49] nullfoxh opened #1173 "[Chat] Channel not updating when joining BG"
Pretty minor bug here.

I joined BG from terokkar forest and I remained in terokkar general channel, should be switched to Warsong Gulch general channel. Same thing happened joining from Shattrath.

![wowscrnshot_080915_023808](https://cloud.githubusercontent.com/assets/12772977/9153009/a19d878e-3e49-11e5-8f18-439ec6f73a47.jpg)

[2015-08-09 00:53] ghost commented on #1169
Tested other instances and did not spawn at twinspire graveyard. Dying outside close to the graveyard uses it properly.

The only reference I can find to it is the following from WoW Wiki (http://wowwiki.wikia.com/wiki/Zangarmarsh):

"Note: as of Feb 03 2008, at least for Alliance, the graveyard only works for the Slave Pens instance as the distance to instance portals is used instead of the dista

[2015-08-09 01:00] KevinTyrrell opened #1174 "Scarlet Monastery Cathedral with Corrupted Ashbringer yields no scripted event."
Problem: walking into SM Cathedral with the Corrupted Ashbringer does not make the player friendly to Scarlet Monastery and does not consist of any event.
How to reproduce: Equip Corrupted Ashbringer, observe the buff on yourself, then walk into Scarlet Monastery Cathedral.
Solution: unknown
Proof: http://www.twitch.tv/hatefiend/c/7017088?t=02s
Burning crusade proof: https://www.youtube.com/watch?

[2015-08-09 01:05] KevinTyrrell opened #1175 "Mob aggro distance is incorrect"
Problem: low level (all, perhaps?) mob aggro ranges are incorrect (maybe only when higher levels interact with lower level mobs?). A level 37 mob aggroed to me from 10 yards away when in Pre-BC/BC you could scoot right past grey mobs with ease.
How to reproduce: n/a
Solution: investigate and change aggro radiuses in a sweeping change, NOT individually mob by mob (until more investigation is done,

[2015-08-09 01:09] KevinTyrrell opened #1176 "Scarlet Monastery Cathedral - Mograine - Whole room does not pull"
Problem: When Mograine is pulled in Scarlet Monastery, the whole room does not pull with him.

MISC NOTE: When the priest aggros after Mograines' death, she sometimes will go back into her room and de-aggro if the players are not close enough to her. She should run into battle no matter where the players are (even if Mograine dies at the start of the instance, for example).

How to reproduce: Atta

[2015-08-09 01:25] nullfoxh commented on #1155
This fix was done in 2.4.3 and it applies to rogue Stealth, druid Prowl and night elf Shadowmeld.

Correct behavior is for the pet to clear its target and return to it's owner. If not given a new command it would go back to his old target when he unstealths.

This means the pet should not be casting into stealth either, refer to this report: https://github.com/ccshiro/cc-buglist/issues/1082

Schak

[2015-08-09 01:30] kamil87 opened #1177 "Seal of command can be dodged, parried, blocked."
Seal of command shouldn't be able to be dodged or parried or blocked as of patch 1.3
http://wowwiki.wikia.com/wiki/Patch_1.3.0
 [Seal of Command] - The damage effects can now be resisted instead of dodged, blocked, or parried.
![wowscrnshot_080815_200014](https://cloud.githubusercontent.com/assets/13708928/9153164/72614404-3e14-11e5-8238-8dc627c0a6d0.jpg)
Here you can see the rogue dodging my seal

[2015-08-09 01:34] nullfoxh commented on #1174
Duplicate of: https://github.com/ccshiro/cc-buglist/issues/490

[2015-08-09 02:06] Deluge9 opened #1178 "Shattrath City Peacekeeper halfway in the ground"
I aggro'ed the Shattrath City Peacekeepers and when they returned from chasing me, they had chopped off the legs of their elephants in pure anger. I will not stand for this animal cruelty! Please fire these guards and restore the elephants' legs immediately!
Reproduce: Aggro the guards. Run away. When they return they look like this.
http://i.imgur.com/slzgazC.jpg

[2015-08-09 02:13] Deluge9 commented on #1094
Back from more testing. I made a Spider belt and some Free Action Potions, they all seem to be bugged in the same way.
Spider belt:
http://i.imgur.com/mXEMs8l.jpg
http://i.imgur.com/pDFk7sZ.jpg
As spider belt does say it only gives immunity to Immobilizing effects, I made sure to test with frost nova. I didn't get a screen shot of the buff active at the same time as frost nova, but you can see fro

[2015-08-09 02:48] Deluge9 commented on #1178
Update: I found out that the guards doesn't fall into the ground by themselves, you have to run far enough away from them, to be out of your render distance. When you run back to them, they can fall into the ground. I managed to make another guard do it as well, and I had another player confirm that it wasn't just my screen seeing things:
http://i.imgur.com/KnpEZqF.jpg

These guards were both stan

[2015-08-09 02:55] Deluge9 commented on #1163
https://github.com/ccshiro/cc-buglist/issues/1094

[2015-08-09 02:56] Deluge9 commented on #1163
Same post as https://github.com/ccshiro/cc-buglist/issues/1094

[2015-08-09 03:24] Deluge9 commented on #1167
I had this happen to me with a mail full of copper bars. It also happened twice with a mails containing a single Spider Belt. Not really sure if there's some pattern to it, so it needs some intensive testing.

[2015-08-09 03:25] Deluge9 commented on #1167
I had this happen to me with a mail full of copper bars. It also happened twice with two mails containing a single Spider Belt each. Not really sure if there's some pattern to it, so it needs some intensive testing.

[2015-08-09 04:17] ebonywolf opened #1179 "Pet's Prowl"
The pet ability Prowl, or to be more specific rank 3 from winterspring sabers. Does not show its cooldown, it also constantly fail to use with the message "invalid target" and its only fixable by dismissing and recalling pet(sometimes more than once) or reloging.

Reproducing: happens more often than not when manually casting pet's Prowl.

[2015-08-09 04:19] ebonywolf opened #1180 "Pet's Claw"
The ability Claw rank 9 possesses a rather large cooldown when used with "eyes of the beast". When used by normal means it only has the gcd.

[2015-08-09 04:22] ebonywolf opened #1181 "Pet Taming"
When i dismiss a Pet, or he gets too faraway, or is dead. I can still tame a new pet without abandoning the current one.Taming a new one will make the other one be gone and lost forever.

In retail you cannot tame a new pet till your current pet is in the stables or abandoned.

[2015-08-09 04:26] dylanraga commented on #1165
Not a bug. Working as intended. Unit info updates at an interval.

[2015-08-09 05:00] PatchnotesTBC opened #1182 "Pit commander in hellfire dies super fast when pulled into the NPC's"
As title say pulled Pit commander into the NPC and he died in like 4 seconds

Video from 2007 when someone pull him on the same way i did:
https://www.youtube.com/watch?v=iUImDymkQtc

[2015-08-09 05:15] PatchnotesTBC opened #1183 "NPC's at pit commander standing wrong"
So i flew by and saw that one of the packs had manage to stand ontop of each other instead of in a formation like the others

Screens:
http://i.imgur.com/vwP9469.jpg
http://i.imgur.com/ZVuPqCH.jpg

[2015-08-09 05:21] PatchnotesTBC opened #1184 "NPC Vlagga Freyfeather"
The NPC should not have "show me where i can fly" when you are doing the first quest that is to fly Thrallmar. Should only have "send me to thrallmar"

How it looks on Corecraft:
http://i.imgur.com/R38lCUK.jpg

Proof: (at 1:37 into the video)
https://youtu.be/KNkH8QyXnkM?t=48

as you can see he as no "Show me where i can fly" he only have "send me to thrallmar"

[2015-08-09 05:47] PatchnotesTBC opened #1185 "Charge / Intercept animation is wrong when using from a flying mount"
Charge:
http://i.imgur.com/hrqCeB4.jpg

Intercept:
http://i.imgur.com/PZVGZqF.jpg

So you just mount up on a Flying mount get into range of a mob and press charge or Intercept and he will swim towards the target instead of running.

The animation is correct when doing this from a ground mount but not Flying mount.

[2015-08-09 05:51] PatchnotesTBC opened #1186 "Item still glowing after being picked up"
Screens:
http://i.imgur.com/2vrOzHw.jpg
http://i.imgur.com/dpn6KDj.jpg

Several off these keep glowing after pick up should Disapear as soon as i picked it up but it did not.

The quest is  [I Work... For the Horde!]

[2015-08-09 06:05] PatchnotesTBC opened #1187 "NPC Bonechewer rider pet should not disapear"
Old report about the bug:
https://github.com/ccshiro/cc-buglist/issues/73

Like the title say if you kill the Orc his wolf should not disapear, it currently does disapear on Corecraft

Proof:
https://youtu.be/KNkH8QyXnkM?t=1005

[2015-08-09 06:09] Ickler commented on #1155
@nullv0id for sure, although a void walker is fairly easy for a druid to kill if he gets some 1o1 time with it. But yeah most likely he wouldn't have, seems like this is a change that happened anyway. Now the question remains, they've spent time making it like this (pretty sure I saw the github for this, sometime earlier this year).. Since it came with 2.4.3 it was present in most of TBC, so it co

[2015-08-09 06:29] Doppelmoral commented on #1177
https://github.com/FeenixServerProject/Archangel_2.4.3_Bugtracker/issues/2705#issuecomment-16786893

Can be locked.

[2015-08-09 06:52] Peter1337 commented on #1148
oh damn you're right :+1: . couldn't see him because he spawned inside a mob and no emoticons e.g. were shown:
![wowscrnshot_080915_085004](https://cloud.githubusercontent.com/assets/12044027/9153849/f1d21420-3e73-11e5-96f1-9faa8de5ab6e.jpg)

/closed

[2015-08-09 08:06] Peter1337 commented on #1166
i can confirm it too. though i use the macro "/cast [exists, harm] Medallion of the Alliance"
happened ~5 times in BGs

[2015-08-09 08:25] Argonn commented on #1065
Tested it today, with multiple trinkets. This bug doesn't exists on corecraft.

[2015-08-09 08:42] Peter1337 opened #1188 "[Warrior] Anger Management"
If the talent is skilled, warrior gain 1 rage every 3 sec out of combat (ooc) if they have more than 0 rage left!

--> ooc: rage is reduced every ~2 sec by 2, you gain 1 rage every 3 sec

[2015-08-09 08:42] ConfusedCC commented on #1186
duplicate of #434

[2015-08-09 09:20] nzatsepilov opened #1189 "pathfinding/evade"
Full - http://www.youtube.com/watch?v=IiPHVIhBGao

bug with evade-protection - can't attack - 0:30 http://goo.gl/0C6QhR, can attack - 0:36 http://goo.gl/C5kY5m
bug with pathfinding - creature find path to inaccessible (i think) place - 1:10 http://goo.gl/Md7W3v

[2015-08-09 09:56] Barroth commented on #1155
Reading through the forum posts it kinda looks like a bug, people are mentioning different pet behaviour such like on defensive/agressive the pet won't return and keep attacking when the target leaves stealth again, while on passive it returns to its owner.

I think it would be useful to know if it worked the same in wotlk, or what was changed then.

[2015-08-09 10:01] #1174 closed, assigned to nobody

[2015-08-09 10:06] #1187 closed, assigned to nobody

[2015-08-09 10:07] ccnim commented on #1188
#318

[2015-08-09 10:07] #1188 closed, assigned to nobody

[2015-08-09 10:08] #1186 closed, assigned to nobody

[2015-08-09 10:09] Crylawns opened #1190 "Socket Bonus Issue"
I have the t5 mage leggings, and the socket bonus isn't showing up on my spell hit numbers. Take a look at these screenshots.
![wowscrnshot_080915_050717](https://cloud.githubusercontent.com/assets/13701464/9154470/9c0044a0-3e54-11e5-9534-f3a4e038f665.jpg)

![wowscrnshot_080915_050746](https://cloud.githubusercontent.com/assets/13701464/9154472/b155373e-3e54-11e5-9cb4-03be8721024e.jpg)

You can se

[2015-08-09 10:09] CarboCorecraft commented on #1165
@dylanraga
It's not working as intended for sure.

First of all i agree that you can sometimes see stealthed rogue/druid (due to stealth beeing updated in intervals), but there is a range in which you're able to do that. Otherwise everyone would be able to see stealthed rogue/druid from afar (ofc in intervals).

Second, vanish provides stealthed rogue with additional improved stealth. Default Stea

[2015-08-09 10:22] Schaka commented on #1155
It was definitely the same in WotLK. But I'm not sure you'll find a video of it, because it's unlikely someone is actually able to drop combat and reset the pets. I can go through some videos and see if I can find something. But it rarely happened with Wrath's faster gameplay.

[2015-08-09 10:26] Peter1337 commented on #1185
The animation is correct by (female) gnomes and (male) orcs.
Did it while moving on the ground with the Rocket and while flying -> cancel Flying Mount to fall -> charge/intercept

[2015-08-09 10:28] darkcranio commented on #1142
There is a talent for it in arcane, isn't it?

[2015-08-09 10:30] darkcranio commented on #1099
Nothing to do with addons, some kind of wrong behavior of package recieving that the client cannot handle.

[2015-08-09 10:31] darkcranio commented on #1083
Trust me, it's a bug.

[2015-08-09 10:31] #1163 closed, assigned to nobody

[2015-08-09 10:33] nz54445 commented on #1178
Probably related to #204, seems like an identical problem.

[2015-08-09 10:38] nz54445 commented on #1142
@darkcranio There isn't a talent specifically for blink/stun, but there is one for reducing the % of getting hit by attacks.

According to wowiki and memory, mages can blink out of stun and are immune to stuns after blinking for < 1 second. Basically going into and coming out of blink has the stun immunity, but not for long.

@ceyscro

Did you miss? If you miss with kidney shot you shouldn't be ab

[2015-08-09 11:01] Whatsthis880 opened #1191 "NPC : Withered Giant"
Withered Giant's (http://wowwiki.wikia.com/wiki/Withered_Giant) spell "Osmosis (http://www.wowhead.com/spell=35235/osmosis) keeps being channeled when the player gets a few yards away, but it doesn't make damage anymore.

[2015-08-09 11:19] Peonstomperx commented on #1165
Yeah I'm pretty sure those intervals only apply within your stealth detection range, not sure about vanish in close range
https://www.youtube.com/watch?v=aU8pOwuqt3k&t=105 example of interval, seeing someone until approx 15 yards
https://www.youtube.com/watch?v=xF4Rx1sQYQU&t=93 couple of vanishes, disappears almost instantly every time

[2015-08-09 11:43] darkcranio commented on #1142
Maybe it has to do with the implented delay.

[2015-08-09 12:09] ConfusedCC commented on #1016
Slutty deamons caught on tape https://youtu.be/ToB6Ta7frbI?t=50s

[2015-08-09 12:10] nullfoxh commented on #1155
@Ickler Considering it was never changed back to the old behavior I'd say it was an intended change. Was a very nasty bug for rogues and druids anyway, being followed into stealth doesn't make much sense either. :)

@Barroth I also came across a thread on AJ of someone returning in 2009 and wondering why his pet would return when someone stealthed, where a couple people pointed out it had been lik

[2015-08-09 12:10] ConfusedCC commented on #1183
duplicate of #1016

[2015-08-09 12:19] shadowraider commented on #1191
because this is not a single target drain, this is aoe drain, you just stepped from the radius, thats why it didnt do any damage

[2015-08-09 12:26] Peonstomperx opened #1192 "Slice and Dice"
Slice and dice unstealths both caster+target and interrupts eating.

[2015-08-09 12:27] Peonstomperx opened #1193 "Shadowstep interrupts eating"

[2015-08-09 13:09] ConfusedCC commented on #1178
![wowscrnshot_080915_150151](https://cloud.githubusercontent.com/assets/10581981/9154972/cffae4d8-3ea7-11e5-8b04-452155146e70.jpg)
![wowscrnshot_080915_150152](https://cloud.githubusercontent.com/assets/10581981/9154971/cffa79f8-3ea7-11e5-8d3b-211e99066b6e.jpg)

i followed the recepie and pulled the guards away with a aggroed mob, then ran until end of render distance, when i returned they where s

[2015-08-09 13:17] Whatsthis880 commented on #1191
You're right ! Nothing else to add, close topic

[2015-08-09 13:17] #1191 closed, assigned to nobody

[2015-08-09 13:18] Sakatoro commented on #1099
played a ws around 30min and got 6-7 freezes in this time and everyone was 3-5sek long.

[2015-08-09 13:18] Qxcr opened #1194 "[Mind Control in PvE]"
So I was playing around with Mind Control and came along following issue.
When a Mind controlled mob gets stunned from another mob its abilities bug out.

Hellfire Ramparts:

Use Mind Control on one of the Bonechewer Hungerers let him be stunned by the Bonechewer Ravener's Kidney Shot. All his abilities but Demoralizing Shout won't be able to use and giving the screen message "Interrupted". He als

[2015-08-09 13:18] ceyscro commented on #1142
Oh yeah it's Blink ofc, sorry the french word used is "Transfert". And I also correct insensible for Immune, you should understand now.

So it's not a miss, the mage have immunity to all stuns after a Blink for a little time. You can see the same issue on many other private servers.

[2015-08-09 13:23] dylanraga commented on #1165
_Proof that it's not limited to stealth detection range:_
https://youtu.be/cY4pgtfU4WM?t=7m18s

Rogue was able to been seen from across the map shortly after the shadowstep, and significantly afar from traversing alone.

_Proof that Vanish visibility does not update immediately:_
https://youtu.be/EwLOcI4h_kg?t=3m21s (rocketed out of vanish)
https://youtu.be/EwLOcI4h_kg?t=9m38s (rogue was behind pr

[2015-08-09 13:47] ConfusedCC opened #1195 "unable to write in global channels after a local network failure"
when you experience a short local network outage, your character can still be in the global channels when you log back in,
preventing you from chatting in those channels, you can still see other characters chatting.

fix, relog(sometimes) or server restart seems to fix the problem.

https://youtu.be/ZSQP7hIlDbo

[2015-08-09 13:51] Peonstomperx commented on #1165
@rezzybaws we know this function should exist, we're just saying the duration is too long which is apparent if you compare SD's video and retail movies
in the first video you linked he's running out _from_ stealth detection range, the interval keeps him from disappearing, the other videos weren't on-topic

also tone down that wall of text will ya, it would be enough saying "you should be able to b

[2015-08-09 14:13] Peonstomperx commented on #1168
![wowscrnshot_080815_233804](https://cloud.githubusercontent.com/assets/12783794/9155234/8d0feac4-3eb1-11e5-9b69-cc36c1491d40.jpg)
another pet pathing issue

[2015-08-09 14:18] dylanraga commented on #1165
@Peonstomperx
_You_ know it exists, not everyone does, thus the wall of text, which one doesn't even have to read to get my point. You're reading my post as if it's specifically catering to you and only you, don't do that. OP generally reported being able to see rogues after vanish, which I correctly provided proof of.

@CarboCorecraft mentioned that stealthed targets _can_ be visible, but only up

[2015-08-09 14:38] Peonstomperx opened #1196 "Could still auto attack mind controlled target"

[2015-08-09 15:14] Peonstomperx commented on #1165
@rezzybaws
https://www.youtube.com/watch?v=EwLOcI4h_kg&feature=youtu.be&t=9m38s and 10:30 only proves vanish delay, you don't see them in stealth after vanish for more than half a second

[2015-08-09 16:19] Catfishs opened #1197 "[Warlock] [Infernal]"
The initial summoning of infernal when it falls from the sky doesn't stun the targets in the affected area.

[2015-08-09 16:22] Catfishs opened #1198 "Spell casting while moving"
Currently you can start moving before a spell has finished it's casting and the cast will still be successful. This is a major bug since you can start moving when the spell cast is around 50% complete and the cast will still successfully cast and land. I'm not sure if this is related to the spell delay but I'm fairly certain this wasn't possible, because currently you can start moving way before y

[2015-08-09 16:31] Aprics opened #1199 "[WSG] los issue in horde flag room"
The sealed door(in prep) to the greaveyard in the horde flag room gives los issues for players standing close to it or running against it.
They get no buffs or healing in preperation.
Even standing on those player sometimes keeps them out of los.

[2015-08-09 17:01] justinbeaver opened #1200 "Shadowmeld doesn't breaks"
Absorbed attack doesn't break shadowmeld
tested with holy nova, arcane shot, mind blast.
Freezing trap not breaks shadowmeld too
scrns: http://imgur.com/a/ltB59

[2015-08-09 17:20] justinbeaver opened #1201 "[Hunter] pet is losing happiness PVP"
Pet is losing happiness in PVP after he dies from player.
pet should lose happiness if he dies from mob not player, correct me if im wrong
scrns: http://imgur.com/a/IBE5D

[2015-08-09 18:08] Ickler commented on #688
Can confirm, still an issue as of today 09.08.2015

[2015-08-09 18:20] r00ty-tc commented on #1138
Same issue here :)

[2015-08-09 18:21] Argonn commented on #914
Tried it a dozen of times during this test. Couldn't get it to bug out. Will try again with a warrior helping out.

[2015-08-09 18:33] Peonstomperx commented on #1166
just happened with nova+poly for me in skirmish

[2015-08-09 19:01] Aprics opened #1202 "[WSG] los issue in horde flag room"
The sealed door(in prep) to the greaveyard in the horde flag room gives los issues for players standing close to it or running against it.
They get no buffs or healing in preperation.
Even standing on those player sometimes keeps them out of los.

[2015-08-09 19:01] #1202 closed, assigned to nobody

[2015-08-09 19:02] YourNewfriend opened #1203 "[Hunter] It's Possible For Traps To Appear In The Air"
I'm not sure if this should be possible or not, but I'm doubtful that it should be.  It can be reproduced by simply jumping in the air and dropping a trap.

edit: don't even need to jump.  I just took a sharp corner and this happened:
![image](https://cloud.githubusercontent.com/assets/13057166/9156905/6325ba44-3e9e-11e5-868f-1d297f6316b5.png)

[2015-08-09 19:03] Aprics opened #1204 "[AB] Bop doesn't stop the capping process"
Giving someone who is capping the flag in AB blessing of protection doesn't stop his capping progress.
It only buggs if the player already started capping the flag.

[2015-08-09 19:21] cmlord0 opened #1205 "Conjured Mana Biscuit is spelled "Conjured Manna Biscuit""
Proof that it should be spelled differently: http://www.wowhead.com/item=34062/conjured-mana-biscuit

[2015-08-09 19:47] FurioCC commented on #1205
It used to have double "n", i recall it clearly and comments in your link prove it with things like "The second 'n' in manna is for nutrition."

[2015-08-09 19:47] Shakeandbake opened #1206 "Able to reset heroic instance after boss killed"
Did heroic slabs, killed first boss. All players should now be locked to that instance.
Group wiped, all released, nobody left in instance. Someone left group, group leader was switched so that new person could be invited.
When re-entering the instance, it was reset. (including boss respawn so it wasn't just trash respawn)

Also, lead was handed back to original person but I am unsure if this happ

[2015-08-09 19:51] #1205 closed, assigned to nobody