[2015-04-20 23:07] PolarCookie commented on #431
This happened in arcatraz too, mobs would walk over this point and evade while being in the air.
evasion cleared as they came to the ground

![screenshot-6](https://cloud.githubusercontent.com/assets/1158801/7242426/ab7aa3e6-e7c2-11e4-95ef-346b47b72829.png)
![screenshot-7](https://cloud.githubusercontent.com/assets/1158801/7242427/ab7f305a-e7c2-11e4-9621-4a536c0f24bc.png)

[2015-04-20 23:08] Shakeandbake opened #457 "Distracted mobs rotate when cced"
1. Use distract to turn mob away from rogue.
2. Cheapshot mob
3. Notice the mob immediately returns to facing its original direction before being stunned.

Reproduced on mobs at eclipse point

[2015-04-20 23:09] Shakeandbake commented on #432
I reported the neutral flight master guards last test but now i can't find the bug i reported...

[2015-04-20 23:13] DaRealBoss commented on #438
Ah ok so that orc hunter pic with the trap on ramp is retail? i guess its meant to look that way. nvm then

[2015-04-20 23:14] kikomir opened #458 "[Quest] Into the Heart of the Labyrinth - can't complete"
We killed Murmur but quest was still incomplete.

http://oi60.tinypic.com/al5kyt.jpg

[2015-04-20 23:15] honuk commented on #439
I ran into this same issue over Allerian stronghold. The gryphons do not aggro unless you aggro the guards on the ground, and when they do they only melee and for almost zero damage.

[2015-04-20 23:20] kikomir opened #459 "Weird mob behavior - Cabal Acolyte in Shadow Labyrinth"
In the first room of the dungeon, at the end of the room to the left of the door(hallway?) leading to the next one...right next to the bonfire. After being pulled from a range, one of the Cabal Acolytes was stuck in place, clearly targeting a player but not moving to attack him for a long period of time. Happened after a Distract so that _might_ have something to do with it. This happened in heroi

[2015-04-20 23:23] PolarCookie commented on #456
similar to #431
did you notice any evasion from elevated mobs, or was it just when they died?

[2015-04-20 23:27] sandfury commented on #442
related to pet disappearing, I put my pet (which was happy bear in mind) inside scryer's pet stables but then he just completely disappeared, I could not call / revive him. I was neutral with scryer by the way.

[2015-04-20 23:35] honuk opened #460 "[Shaman] Windfury damage still appears to be low"
A couple tests ago there was an issue reported where offhand windfury damage appeared to be calculated incorrectly, causing shaman dps when using double windfury on two slow weapons, which was the optimal dps set up for enhancement shamans, to fall behind windury/flametongue with a fast offhand weapon. The report for this bug is here: https://github.com/ccshiro/cc-buglist/issues/145. The forum thr

[2015-04-20 23:54] honuk commented on #445
wow I legit had no idea they performed in BRD that's hilarious.

[2015-04-21 00:23] lorino opened #461 "Stuck point on aldor's rise"
I get stuck in this point of the map
http://gyazo.com/7515acca28560ed66af8752826c44fca
In this place
http://gyazo.com/a12b7536f7e43fe8cac56190c6173301
And this is the recreation
http://gyazo.com/8fc6aca31da376eebd7fce7c51818b27

[2015-04-21 00:23] tedrasiel opened #462 "cheap shot and abilities that require you to be behind them"
it was reported last test allready and this time it works for kidney and solar. still doesnt work for cheap shot on mobs in front of shatt.

edit: it tells you to attack from behind, while beein behind. in fact u have to move around them (or through them) and use these abilitys into their face (modelvise).

[2015-04-21 00:29] jakeoff opened #463 "[Heroic] Ramparts mobs evading"
The mobs cannot pass through the doorway. They will evade if you try and bring them through. They do eventually reset if you run far enough back and wait a bit.

http://i.imgur.com/NAZNJYj.jpg

http://i.imgur.com/4oqfyAV.jpg

[2015-04-21 00:29] tedrasiel commented on #435
this is a fucking retail bug even blizz considered as one, im glad they didnt took it into cc. just lame and not fair at all.

[2015-04-21 00:32] tedrasiel commented on #440
when ive seen it correctly, the same goes for Mutilate.

[2015-04-21 00:38] bnee opened #464 "Mobs in Hellfire Ramparts evade."
https://vid.me/ygAb

Here is a video of Ramparts Hc where the mobs evade after the first boss.

[2015-04-21 01:03] Chillbringer opened #465 "[Quest] The Vengeful Harbinger - not possible to complete"
After killing all mobs that spawn, including the Harbinger, a Draenei Tomb Guardian should complete the ritual and the quest should be done. Instead, he disappears after a while and the quest is not possible to complete.

[2015-04-21 01:42] bjplunk commented on #432
https://github.com/ccshiro/cc-buglist/issues/261

[2015-04-21 02:13] Lantv commented on #451
confirmed, he doesn't seem to be in the floor as I was able to hit him just fine when I walked up to him, but when I moved away and tried to kill him at range he started to evade again.

[2015-04-21 02:30] Poe123 opened #466 "Mobs after being Cc"
While doing heroic ramparts, after CCing a mob they would stand still and not attack. If i recall it was after a sap one time. Happened multiple times throughout the instance.

[2015-04-21 02:31] Poe123 opened #467 "Tauren animation bug"
Tauren had the speedy running animation despite not being affected by a movespeed buff. Dont know exact cause, but my guess would be entering an instance while flying on a flying mount. Or any mount in general.

[2015-04-21 02:42] bnee opened #468 "Shadowmoon Summoner adds ignore freeze traps. BF heroic."
https://vid.me/o9E7

Seductress and felhunter manastalkers cant get ccd,

[2015-04-21 02:46] bnee opened #469 "Hunters MD stacking."
Not sure if intended or not but hunters MD Stacks on same target.

[2015-04-21 02:52] bnee opened #470 "Frost trap on Laughing skull legionaires in BF Heroic bug."
Frost traps sometimes does not slow the Laughing skull legionaires.

Even on the trap they drop the slow for a short duration and will then get slowed again.

[2015-04-21 03:19] rylaiii commented on #469
In patch 2.3, blizzard made it so that once a hunter tries to misdirect a target that already has a misdirect active, "the spell will fail to apply due to a more powerful spell already being in effect. "
source : http://www.wowwiki.com/Misdirection

[2015-04-21 03:23] rylaiii commented on #465
video of it being done (just in case) : WARNING : LOUD

https://www.youtube.com/watch?v=J4OXliKrVco

[2015-04-21 03:24] rylaiii commented on #463
Same as #464

[2015-04-21 03:43] rylaiii commented on #444
http://www.wowhead.com/spell=32379/shadow-word-death#comments
there's only one mention about durability loss, it's referring to SW :D not doing durability loss when the caster dies from the spell.

[2015-04-21 03:44] whocares8310 commented on #316
As it is now:
Fireball 35 yards -  Guards turn red
Scorch 30 yards  -  No Aggro
Fireblast 20  -  No Aggro
Aggro inside 20 yards
Approx. 15 yards
Guards are super weak and die very easily, enchancement shaman at the start destroys both of them, caught one on film.

Molten Shell Reflect Damage Triggers guard aggro on melee strikes but not wand strikes. Molten Shell does not trigger from wands.

Heal

[2015-04-21 03:57] rylaiii commented on #437
http://www.wowwiki.com/Magma_Totem
as of patch 3.0.8 magma totem no longer gains threat.

[2015-04-21 04:15] rylaiii commented on #470
similar : #466

[2015-04-21 04:15] Peter1337 opened #471 "Warp Stalkers in front of Shattrath: floating corpses attacking incl. ability usage"
Hey there,

the Warp Stalkers in front of Shattrath, that should be in stealth all the time, can be seen for 1-2 seconds at range followed by a "vanish" for ~2 seconds - after, they're visible again and so on.

After killing them, the corpses floated, were not lootable and attacked me. Notably, the floating corpses still used their abilitys like sprint & this shadowstep-like warp.

![wowscrnshot_0

[2015-04-21 04:16] rylaiii commented on #470
similar - #468

[2015-04-21 04:17] rylaiii commented on #466
similar - #459

[2015-04-21 04:21] rylaiii commented on #453
similar - #468

[2015-04-21 05:29] punker85 opened #472 "[Sethekk Halls] Sethekk Guard Thunderclap damage"
Thunderclap (spell id #33967 on current version of Wowhead) from Sethekk Guards in heroic Sethekk Halls does about as much damage as a warrior character's thunderclap.  I believe it should be doing something in the range of 766 to 900 nature damage (or maybe more if this was ever nerfed).  Wayback Machine versions of this spell id on Wowhead report 70-79 damage but this is probably erroneous repor

[2015-04-21 05:33] rylaiii commented on #472
wowhead has the dmg output to be 766-900.
http://www.wowhead.com/spell=33967/thunderclap
not sure if this'll help : https://www.youtube.com/watch?v=6dr_ssJ5KWo
at 1:19 the tank gets hit with a thunderclap for 595. and another at 1:40 for 600.

[2015-04-21 05:49] punker85 opened #473 "[Sethekk Halls] Sethekk Oracle ability Arcane Lightning"
In heroic mode, the Oracles are casting their Arcane Lighting skill (spell id #38146 on Wowhead) at the start of the pull often when normally they would initiate melee combat first and then cast this spell approximately 3-6 seconds after the fight starts.  Also, they seem to recast it a bit too frequently.  The cooldown on the ability is listed at 6 seconds but mobs did not always use their skills

[2015-04-21 05:54] gerdanpls opened #474 "Closed - Missed NOTE3"
Missed

NOTE3: The loot (including common to epic items, that is either an armor or weapon piece)
will not drop during this test due to us revisiting our loot selection system.

[2015-04-21 06:01] punker85 opened #475 "[Sethekk Halls] Sethekk Prophet spams its fear ability"
In heroic mode, the Prophets in Sethekk Halls continually use their fear ability (spell id #27641) multiple times within a period of 30 seconds.  The fear seems to not have a diminishing return either when it becomes recast on a player.

[2015-04-21 06:02] gerdanpls commented on #474
I have also killed multiple Bonechewer orc camps outside of Honor Hold and have yet to have any cloth drop from them, so it appears that it's not limited to humanoids in Azeroth.

[2015-04-21 06:06] #474 closed, assigned to nobody

[2015-04-21 06:08] punker85 opened #476 "[Sethekk Halls] Sethekk Spirits missing Spirit Burst AoE"
In heroic mode, the Sethekk Prophets summon a Sethekk Spirit that should be hitting any non-tank characters for 10% to 20% of their life on a slow attack speed timer.  When an attack lands, an area of effect spell should activate that does 700+ shadow damage to nearby players.  Instead, it seemed to be hitting our paladin healer with all plate gear for more than 3k damage at times and sometimes yo

[2015-04-21 06:31] punker85 opened #477 "[Druid] Nature's Grace talent"
The talent in the druid's Balance tree should give a .5 cast speed reduction on the next spell cast after a critical occurs.  Currently, if I am chain spamming a non-instant spell and a critical occurs, it will not reduce the cast time of the next spell unless I delay the start of the cast (not sure if this is intentional or a bug).  The real problem comes when I finish casting that next spell and

[2015-04-21 06:52] Varadin opened #478 "No arena default buff"
There should be a buff in arenas when you join , rated or skirmish , that let you buff yourself without consuming mana or rage.

[2015-04-21 06:57] loganbunny opened #479 "[Paladin] Vindication"
On retail TBC all raiding ret paladins would spec 1/3 into vindication because although most bosses were immune, the immune "hit" of vindication (where the text immune would pop up) would proc Judgement of Wisdom mana restoration chance on hit.

[2015-04-21 07:06] rylaiii commented on #478
duplicate - #430

[2015-04-21 07:08] jovce17 opened #480 "dead mob attacking"
warp stalkers in terokar continue to attack even after you kill them
http://postimg.org/image/7gw1s8u2r

http://postimg.org/image/x0ybyofgj

[2015-04-21 07:20] rylaiii commented on #452
according to wowhead, the range should be 20 yards.
http://www.wowhead.com/spell=35235/osmosis

[2015-04-21 07:21] rylaiii commented on #480
duplicate - #424

[2015-04-21 07:28] rylaiii commented on #449
video provided by Ceziar - https://www.youtube.com/watch?v=CoNkvcYKvnE
happens at 1:15

[2015-04-21 07:38] ghost opened #481 "Guard beats dummy (Shattrath City)"
![wowscrnshot_042115_103629](https://cloud.githubusercontent.com/assets/12034245/7247457/686a4494-e812-11e4-9ff3-c4079fa91b72.jpg)

[2015-04-21 07:43] nz54445 commented on #481
Duplicate of #169, which was invalid. This should also be marked invalid.

[2015-04-21 07:46] Vetinari1 commented on #137
I got feared by the  Uvuros (http://www.wowhead.com/npc=21102/uvuros). And I dropped through the floor when I casted Will of the forsaken to get rid of fear. After short period of time I appeared near spirit healer. :)

I hope it helps.

[2015-04-21 07:47] nz54445 commented on #471
Most likely related to #424.

[2015-04-21 07:48] nz54445 commented on #467
More information on how to reproduce would probably help. This might just be a case of server lag/crash. I had my human swim at 280% movespeed through the air when servers crashed.

[2015-04-21 07:57] ghost opened #482 "Wolf in the air"
Wolf from Terokkar Forest:
https://youtu.be/neiYn-8GtsY

[2015-04-21 08:08] ConfusedCC commented on #436
![los healthfunnel](https://cloud.githubusercontent.com/assets/10581981/7247848/28e44abc-e80e-11e4-9da8-99c081f4baf2.JPG)
![los healthfunnel2](https://cloud.githubusercontent.com/assets/10581981/7247849/28e80242-e80e-11e4-80c9-63d310f3b299.JPG)

the spell consumes some health on initial cast when not in los, but then does nothing until the cast completes

[2015-04-21 08:10] rylaiii commented on #482
related - #456 #431

[2015-04-21 08:10] ghost opened #483 "Does not return to melee while there is mana"
Its normal?
https://youtu.be/Wt2WgYVIa7k

[2015-04-21 08:22] Sakatoro commented on #483
This is correct, no bug

[2015-04-21 08:24] Barroth commented on #477
From wowwiki http://www.wowwiki.com/Nature%27s_Grace?oldid=1369517
"The Nature's Grace proc can affect cast time of your current spellcast, so if a wrath spell hits and crits while you are casting another, the effect of Nature's grace will be consumed by your current spellcast reducing it's cast time by 0.5 seconds."

A tbc moonkin video, to see this effect would be useful

[2015-04-21 08:35] honuk opened #484 "[Slave Pens] Bugged Coilfang Technician"
One of the Coilfang Technicians that pats on the bridge after the first boss evade bugged and disappeared for our group after his pat partner was sapped. It basically flew upwards and intermittently reappeared. We were eventually able to de-aggro and it reappeared and we killed it normally. Our hunter's pet also behaved strangely on the bridge.

[2015-04-21 08:52] Barroth commented on #460
keep in mind, that WF is physical so unlike Flametongue it is affected by the 50% reduction through armor. Could be different in a raid environment with armor reduction debuffs up

[2015-04-21 09:17] Xavas commented on #12
Deadly Throw interrupt was actually changed some time during season 3 to land instantly before the the actual damage happens. Prior to this change the projectile speed of Deadly Throw was also greatly increased in the 2.3 patch. All of the contradicting evidence Whatsthis880 and SuddenDeath provided (like Agramon vs Acrono, Acrono XI etc...) has been recorded prior to this change. The problem here

[2015-04-21 09:29] honuk commented on #460
but the primary tested difference between slow/slow WF/WF and slow/fast WF/FT is not the FT damage, it's the WF damage. I am getting nearly as much WF damage with WF on one hand as I am with it on both. hell, I could go with no enchant on the offhand and the overall dps would almost be as high as WF/WF

[2015-04-21 09:42] ghost opened #485 "[Druid] [Rogue] Energy costs & miss/parry/dodge/block"
Hi there,
I noticed several inconsistencies in the energy cost reduction that affects missed / dodged / parried / blocked (? not sure about blocked ?) non-finishing moves. So I started testing every scenario and drew several conclusions.

Here is what I gathered :
Ability - normal cost - reduced cost - percentage of reduced cost

Druid :
Ravage - 60 - 12 - 20%
Pounce - 50 - 10 - 20%
Claw (untalent

[2015-04-21 09:59] jovce17 commented on #480
ye srry didnt notice your post  :(

[2015-04-21 10:00] #480 closed, assigned to nobody

[2015-04-21 10:05] honuk commented on #460
I just now tested WF/WF vs. WF/Nothing on two slow weapons. This test, like all my others, was on a level 70 target dummy, with no totems, no buffs, and no shocks. All I did was auto and stormstrike on cooldown for 10 minutes for each setup. WF/WF came in at 720 dps and WF/Nothing registered 645. And this is with my WF/N test getting a 5% lower WF crit rate than my WF/WF test. WF accounted for 38%

[2015-04-21 10:11] Philosophers opened #486 "Mana tap does not grant mana"
Incorrect, I found out this was blizzlike behavior

[2015-04-21 10:14] effinamon opened #487 "Warlock pets and auto-cast"
Issue #67 has returned. It occurs both when dismounting and summoning (imp continuously tries to cast blood-pact and the spell failed sound is played).

With the imp, de-selecting auto-cast on fire-shield un-bugs blood pact and it is cast correctly.

[2015-04-21 10:14] #486 closed, assigned to nobody

[2015-04-21 10:18] honuk commented on #460
one final test to confirm the suspicion the last one would raise: WF/FT is more dps than WF/WF even with two slow weapons. same ten minute test, same weapons, and WF/FT was at 760 dps. there is no situation in which this should be true in TBC.

[2015-04-21 10:25] rsheep commented on #442
@sandfury Stable-related pet disappearance will be fixed on a relog.
Stables are working mostly. The bugs are mostly visual and they will fix by themselves with a relog.
Still stables are bugged and many times you are not able to get pet back till a relog.
Stables need some bug-fixing to have them "blizzlike".

[2015-04-21 10:26] Philosophers commented on #487
Auto cast on targeted skills like fel hunter devour magic or tainted blood are affected too, but it seems that fel hunter sometimes refuses to use it even after re-toggling it.

[2015-04-21 10:26] Bzmode opened #488 "Dr Boom still bugged after being engaged"
Self explanatory he should continue sending bombs even if engaged
https://www.youtube.com/watch?v=YKXaEjzYDnc

[2015-04-21 10:27] #488 closed, assigned to nobody

[2015-04-21 10:27] Bzmode commented on #488
sorry for repost looks like it was already reported

[2015-04-21 10:28] Ickler opened #489 "Mobs shown as having back towards you, but unable to use shred"
If you pounce and stun a target, standing behind it. It still doesn't allow you to Shred the target, as shown in picture. The exact same happens as a rogue trying to use cheap shot, backstab.

<a href="http://imgur.com/aXXcEXo"><img src="http://i.imgur.com/aXXcEXo.jpg" title="source: imgur.com" /></a>

[2015-04-21 10:29] rsheep opened #490 "[Vanilla] [Item] Corrupted Ashbringer"
The Corrupted Ashbringer gives you (as it should) the "Ashbringer" buff.
Sometimes, even wielding such sword, tho, you won't get the buff till you unequip/reequip the sword.
Not sure about how to  reproduce it, but I think after using HearthStone you won't get the buff.

Another issue is that this buff (Ashbringer) puts you in combat with "neutral" mobs or dummies, even doing nothing at all. Not s

[2015-04-21 10:30] Bzmode opened #491 "Dr Boom shouldn't have mana"
Self explanatory he should not have mana
https://www.youtube.com/watch?v=YKXaEjzYDnc

[2015-04-21 10:42] Bzmode opened #492 "(quest=10309) It's a Fel Reaver, But with Heart"
The fel reaver stands up and is animated when it should just stay down while adds come and you destroy it.
Proof:
https://www.youtube.com/watch?v=QzZM10omJxc
https://www.youtube.com/watch?v=Stc-lhpXgrk
https://www.youtube.com/watch?v=AHou5obC-DU

also the adds seem to be coming from the same spot instead of spread out spawns

[2015-04-21 10:45] Ickler opened #493 "[Loot] Mobs in Shadow Labs drops little / no Fel Armaments"
Mobs in Shadow Labs [HC] still drops close to ZERO (or zero). We again cleared up to second boss, without a single drop. This has to be incorrect drop rates.

Also went to my common farm spot on retail, at he Legion Hold in SMV. 1 hour of grind would usually equate to 4-7 fel armaments, on CC I got zero.

[2015-04-21 11:01] Jannekvinna opened #494 "Bite(Rank 9)"
Even if you tame the two mobs who has Bite(Rank9), you dont get in your pet training abilites and cant teach your other pets it.

[2015-04-21 11:06] Vetinari1 commented on #493
In my common farm spot - near Area 52 with demons and fel hunters I got 2 fel armaments after 20 +/- minutes grind.

I can confirm shadow labs info.

[2015-04-21 11:07] kikomir commented on #493
Are you talking about normal or heroic? We did Shadow Labyrinth yesterday (I'm guessing that's what you're referring to) on normal and we had plenty of Fel Armaments drop. We did a bit of heroic up to somewhere after first boss and I can't recall a lot of armaments drop...drop rate might be a bit low for heroic but definitely needs to be tested.

[2015-04-21 11:10] mara1987 opened #495 "[Karazhan] Issues during attunement quest run in the Master Cellar"
Hi guys,

I decided to test the Attunement quest for Karazhan:

Arcane Disturbances (http://www.wowhead.com/quest=9824/arcane-disturbances)
Restless Activity (http://www.wowhead.com/quest=9825/restless-activity)

For "Arcane Disturbances" nothing to say, it works as it should.
Restless Activity has a correct drop rate of the quest item (www.wowhead.com/item=24480/ghostly-essence)

but the issue he

[2015-04-21 11:11] deltafoxnine commented on #437
Exactly, so it should still do threat, thx :)

[2015-04-21 11:13] mara1987 opened #496 "Taxi path bug."

[2015-04-21 11:13] #494 closed, assigned to nobody

[2015-04-21 11:13] deltafoxnine commented on #450
I had the same problem twice :+1:

[2015-04-21 11:20] mara1987 opened #497 "Taxi path bug [good one]"
Hello guys,

I had an issue regarding a taxi flight from Grom'gol Base Camp to Stonard. I logged out during the flight, and when i logged in again i found myself in this situation

![taxy bug](https://cloud.githubusercontent.com/assets/10872722/7251126/aae19ff0-e828-11e4-8e87-ac1916d9c374.jpg)

Obviously the correct behaviour is to continue the flight from the point where i interrupted it.
Also if

[2015-04-21 11:24] Ickler commented on #493
Updated the post, it was in heroic.

[2015-04-21 11:25] Ickler opened #498 "[Guilds] Guildmember alert does not work 100%"
People can go on and offline and there will be no notice from the option ticked off in Interface options under the Social tab. But especially people coming online, barely ever shows.

[2015-04-21 11:29] fdlancer opened #499 "Character stuck on windrider"
This is a very annyoing bug. When you buy a gryphon or a windrider from a flight master to travel to another area and you logout (or the server crashes) while doing so, you get stuck on said windrider or gryphon.
![wowscrnshot_042015_204005](https://cloud.githubusercontent.com/assets/12040589/7251026/6860dd36-e827-11e4-9b66-090d3e84db86.jpg)
You are unable to dismount or essentially to do anything

[2015-04-21 11:38] Philosophers opened #500 "Heroic keys reputation standing required"
I am not sure if it is an issue, or it is inteded, but keys to unlock heroic modes of 5man dungeons require honored standing. It is correct for patch 2.3.0 and above.

Quote from wowwiki for auchenai key
Patch 2.3.0 (13-Nov-2007): Changed amount of reputation required.
Went from revered to honored.

link:
http://www.wowwiki.com/Auchenai_Key

Corecraft was said to be pre-nerfed TBC content, so requ

[2015-04-21 11:44] Philosophers opened #501 "Prayer of mending reapplication"
From patch 2.3.0 prayer of mending CAN NOT be reapplied to target that already has it. It means that priest cannot refresh buff until it ends or is dispelled. On Corecraft you can do it. This seems like minor issue, but can have impact on arenas.

Link to proof.
http://www.wowwiki.com/Patch_2.3.0_(undocumented_changes)

[2015-04-21 11:47] ghost commented on #493
you also said you had problems at Legion Hold, so this is not exclusive to heroic mob drop rates

[2015-04-21 11:47] ghost commented on #497
#499

[2015-04-21 11:49] ghost commented on #495
have they even started the important quest chains?

[2015-04-21 11:49] byrsa111 opened #502 "Not working distance"
https://www.youtube.com/watch?v=Xanld-vjXes&feature=youtu.be

[2015-04-21 11:50] ghost commented on #490
probably low prio as naxx wont be available

[2015-04-21 11:51] ghost commented on #487
so if it has returned, reopen #67 , don't need to open a new one

[2015-04-21 11:53] Iliana-sc commented on #501
Are you sure this is the correct interpretation of what is supposed to happen? The priest can click the buff away so it would not make sense in the self cast scenario, though it would make some sense when casting on other players.

The page does not link to any source and does not provide any proof, it's just a list on wowwiki, which is known to contain mistakes and only has very loose review.

[2015-04-21 11:54] Iliana-sc commented on #500
Reputation requirements are cached by the client, if you played on a server that required honored then your client will still show honored even if the corecraft server requires revered. Did you delete your cache before the test?

[2015-04-21 11:55] lastnoob commented on #425
It should give you the message:
You don't know any flight locations connected to this one.

(Now, I dont know which race your character is, but your race's capital's FP should have been known automatically, maybe thats another bug and you should have been able to fly, but thats a completely another matter and I think it works properly(i.e: as a dwarf, you dont need to discover the IF flight point,

[2015-04-21 11:57] lastnoob commented on #493
Doesn't this apply?
NOTE3: The loot (including common to epic items, that is either an armor or weapon piece)
will not drop during this test due to us revisiting our loot selection system.

source: http://pastebin.com/KPKi6z22

[2015-04-21 11:59] ghost commented on #489
#462

[2015-04-21 12:00] ghost commented on #493
it probably does, however needs a re-test once general loot tables have been enabled/fixed

[2015-04-21 12:19] Philosophers commented on #460
You keep in mind that off hand weapons deal less damage? And as long as damage from WF is physical it is affected by damage reduction of off-hand weapon (and armor), when FT is fire - unaffected. From what I can read it can be the answer.

[2015-04-21 12:25] Philosophers commented on #479
I also do recall such thing. Was looking for evidence, found this (quote from wowhead):
"It works on most raid mobs (trash) but never on any boss. the real reason to take vindication 1/3 is because its procs can proc other abilities or effects. For example a vindication proc (even on an immune mob) adds a count to darkmoon card: crusade."

[2015-04-21 12:38] Philosophers commented on #500
I downloaded whole new client for tests, but I guess it is possible that uploaded client had "starting" cache. I'll look into it.

EDIT:
Yup, after cache clean it stands as it should be. Sorry, issue invalid.

[2015-04-21 12:38] Philosophers commented on #501
It is about other players.

I remembered fact, when I was healer on raids and I've put mending on tank and he did go into trash group / boss alone buff was consumed. Moreover second cannot be applied until it ended or was dispelled. I tested it on Corecraft and after I looked for a proof. That is the best I could find (in a reasonable time). Occured in late TBC and early wotlk, don't know how it w

[2015-04-21 12:41] #500 closed, assigned to nobody

[2015-04-21 12:46] Sakatoro commented on #491
This Video is from cata or mop. And it is absolutly wayne, mana or not, dr boom dont use it.....

[2015-04-21 12:56] honuk commented on #460
of course offhand WF does less damage than MH windfury (though the bug report I referenced above had to do with offhand WF dealing less damage than it should). that does not change the fact that in TBC WF/WF does more damage than WF/FT, especially when you are using two slow weapons. whether the problem here is proc rate, damage coefficients, or some issue with the internal cooldown on WF, I canno

[2015-04-21 13:06] ccnim commented on #492
I'll change it so he doesn't stand up. As for the spawns they are spawning from many different positions when I tried it on the server just now.

[2015-04-21 13:08] effinamon commented on #487
Sure. How do you do that?

[2015-04-21 13:09] Isuel commented on #485
i can confirm for shred, noticed that it actually gives energy back. fun bug

[2015-04-21 13:14] Isuel commented on #477
from what I know (there was a bug report on gamer-district about nature's grace with proof), nature's grace should give the buff on spell cast, not spell hit. idk if it has anything to do with this bug, since i haven't tested balance at all

[2015-04-21 13:15] lastnoob commented on #491
https://www.youtube.com/watch?v=rd5GQdlOf4U

This is from 2007, not that this bug matters at all

[2015-04-21 13:27] #493 closed, assigned to nobody

[2015-04-21 13:34] netherspite commented on #471
Got this issue as well. Seems it depends on when do you kill them.
If they use their Sprint or Blink ability (not sure which one causes the bug) and you kill them - their corpse starts to stalk you until you run far enough away to evade them. You can't attack the corpse yourself.
![wowscrnshot_042115_162156](https://cloud.githubusercontent.com/assets/5777848/7253302/4b01537a-e844-11e4-98bb-04fd813

[2015-04-21 13:35] Doope opened #503 "PALADIN blessing of sanctuary scale"
Blessing of sanctuary doesnt scale properly, it deals flat damage and seal of the crusader doesnt increase its damage
Greater blessing of sanctuary scaling seems to be working

https://youtu.be/k2o2c-Zr7vU

I found this site http://kbase.seventhflight.com/Paladin/Spell_Damage
im not sure about the numbers (its pre 2.1)
so either sanctuary should scale like the greater version of the spell or it sh

[2015-04-21 13:37] #496 closed, assigned to nobody

[2015-04-21 13:42] ccshiro commented on #481
These dummies are a special construct for the test, and do not exist normally.

[2015-04-21 13:42] #481 closed, assigned to nobody

[2015-04-21 13:44] #456 closed, assigned to nobody

[2015-04-21 13:44] #482 closed, assigned to nobody

[2015-04-21 13:47] #491 closed, assigned to nobody

[2015-04-21 13:54] ccnim commented on #476
The AoE spell is a proc on his auto attack and it has the spell for me on both heroic and normal.

[2015-04-21 13:56] ccnim commented on #483
This is actually not the correct behavior.

[2015-04-21 14:00] maxmore031 commented on #501
2.3.0 made it so the 5 charges of prayer of mending would only bounce from one target to another. Prior to 2.3.0, prayer of mending didnt require a second target in range and the 5 charges were healing the same person on the next 5 hits they would suffer instead of disapearing after 1 charge if there was no other target in range.

This bug report is only due to a missinterpretation of the patch no

[2015-04-21 14:08] ccnim commented on #475
That is the intended behavior.

[2015-04-21 14:08] #475 closed, assigned to nobody

[2015-04-21 14:13] #473 closed, assigned to nobody

[2015-04-21 14:18] maxmore031 commented on #501
The one thing that is sad is that if you make it so it doesnt bounce on single target anymore, you would nerf priest in pvp for the first 2 arena season. Before priest had access to higher item level pvp gear, they were more skwishy just like any other cloth wearer but by the time they nerfed the prayer of mending bouncing on self, then I was full mercyless with vengeful off pieces so I was still

[2015-04-21 14:19] Philosophers commented on #460
It is complex problem, but I can provide some explanation. In early TBC mixing WF rank "n" and WF rank "n-1" made both weapons proc on separate cooldowns (which is 3 seconds. This is time when WF superiority was out of discussion). In one patch (I believe it's 2.1.0) Blizzard changed it to have one cooldown. Since then you can proc WF maximum once per 3 seconds. In practice it is also lowered by p

[2015-04-21 14:26] Barroth commented on #503
It should indeed not scale at all with spellpower, the greater blessing of sanctuary is missing in the spell coeff update

[2015-04-21 14:27] maxmore031 commented on #429
I remember some off pieces were 17850 but I also remember that not all off pieces cost the same.

[2015-04-21 14:32] mara1987 opened #504 "[Zangarmarsh] NPC Withered Bog Lord and Giants incorrect drop amount."
Hi there,

I decided to grind some:

Withered Bog Lord (http://www.wowhead.com/npc=19402/withered-bog-lord)
Withered Giant (http://www.wowhead.com/npc=18124/withered-giant)

They both work just fine and the drop rates are correct.

However the amount of Mote of life (item=22575) is incorrect.
They should drop 1 or 2 unit but in a lot of cases i looted  3 of them, and this should never happen.

Her

[2015-04-21 14:34] punker85 commented on #476
I believe it should be casting that AoE with each attack though.  It is either not PROCing on every attack or the radius is too short.  I was standing withing 10-15 yards of my healer whenever he would get hit and didn't notice any auxiliary damage coming my way.  Also, I mentioned the actual damage that it does seemed a bit high.  I've read notes claiming it hits for about 1k damage on plate and

[2015-04-21 14:37] #478 closed, assigned to nobody

[2015-04-21 14:39] #463 closed, assigned to nobody

[2015-04-21 14:42] ccshiro commented on #461
This is completely client-side and not a bug. Or rather, the bug is within the client so it happened on retail 2.4.3 as well.

[2015-04-21 14:42] #461 closed, assigned to nobody

[2015-04-21 14:42] punker85 commented on #472
On http://www.wowwiki.com/Sethekk_Halls (even in history), in the walkthrough section, Sethekk Guard is reported to have 1.7k damage for Thunderclap on a comment.  However, this might be misinformed.

Edit: I just realized the combat log on the video reports the damage as Nature damage.  Maybe it was changed from physical damage to nature damage at some point.

[2015-04-21 14:44] Lantv commented on #495
For the first issue, normally if you kill a mob that drops a quest item before you've reached the limit it has a chance to drop the item even if other mobs you haven't looted yet have also dropped it.  Getting over the amount required is a common quest bug that happens even on live.

Now I don't know if you looted your 10th drop and then killed another mob and got one, but if it's the situation I

[2015-04-21 14:44] Doope opened #505 "PALADIN holy shield"
Holy shield block damage doesnt work on ranged mob attack. ( it should do damage on every blocked attack while holy shield is active)

it works properly when a player shoots me

[2015-04-21 14:45] ccshiro commented on #455
That is intentional. It worked like that in 2.0.3, as you can see in this video: https://youtu.be/GtFAfZBLsXU?t=130

Whether or not we want to keep it can be debated I guess (probably was an oversight on retail, as opposed to trying to make people to focus adds). But we did it like that intentionally.

[2015-04-21 14:47] #441 closed, assigned to nobody

[2015-04-21 14:47] Tasserski opened #506 "Pathing behavior of monsters that cannot swim near water"
Experienced some weird pathing behavior dragging mobs that can't to water. If nothing else is weird, the twitchy movement visible in the video is, although you'd also think the mob should reset if it cannot reach you in the water.

Video: http://ponkolauta.net/player.php?v=/WoW/src/1429555489979.webm&t=path_water.webm

[2015-04-21 14:49] punker85 commented on #477
Even if that should be the case, there still exists a problem.  The Nature's Grace buff is not reducing the cast time of my currently casted spell when it appears.  My Starfire spell has a 3 second default cast time with the Balance talents that I have picked.  I can chain-cast the spell and see all these Nature's Grace buffs and they will disappear at the end of the next spellcast without any ben

[2015-04-21 14:50] ccshiro commented on #438
The visual is client-side. The server just informs the client where the center is and lets the client figure out the affected region itself.

[2015-04-21 14:50] #438 closed, assigned to nobody

[2015-04-21 14:50] Tasserski opened #507 "Distract (rogue) on the zeppelin"
Attempting to use the rogue spell Distract while on a zeppelin currently always produces the error message "out of line of sight", at least when there's a unit (another player) under the spell's radius.

When the caster is not on the zeppelin but targets a unit on a zeppelin, the spell seems to work fine.

[2015-04-21 14:52] Tasserski opened #508 "NPC: Dreghood Drudge (18122) - mob chaining"
These NPCs are, as far as I can tell, supposed to be linked to each other in packs of two due to their damage sharing mechanic.

Currently, if you pull these and at least if the other one is outside of LOS for the second one, only one mob pulls.

[2015-04-21 14:52] punker85 commented on #475
Is it intended to have only 2-4 seconds of uptime to attack for every 6 seconds (full duration) of AoE Fear?

[2015-04-21 14:54] ccnim commented on #508
They were not linked on retail and could be abused in the same way.

[2015-04-21 14:54] #508 closed, assigned to nobody

[2015-04-21 14:55] mara1987 commented on #495
11 quest items were the amount i still had AFTER turning the quest in. I know of that bug you mention, and you are right. But here i looted 11 quest items more.

[2015-04-21 14:56] whocares8310 commented on #450
i also have video of this if we need it, but it also occurs when you are drinking and server crashes. Weapon/Armour Skills still show up in menu as being there/350 but require you to relog in order to put your gear back on.

edit: video added
https://www.youtube.com/watch?v=5GHEsRAPSz0&feature=youtu.be

[2015-04-21 14:59] whocares8310 opened #509 "[Warlock] Summoning Portal and Ritual of Souls do not work in dungeons"
neither warlock summoning spell or warlock healthstone soulwell can be used in dungeons. tested in heroic shadow labyrinth

edit: was able to use ritual of refreshment as a mage.
video is 9 seconds of channel with no success. tried before this moment as well
https://www.youtube.com/watch?v=QE1PVJ92MDo&feature=youtu.be

[2015-04-21 15:06] meowmewo commented on #475
ah TBC, where u had to CC the mobs in dungeons.

[2015-04-21 15:09] netherspite commented on #471
Some more observations:
- It is really depending on the location of the mobs rather than the state in which they were killed.
  Warp Stalkers farther from Shattrath are not affected by this issue while I was able to reproduce it on Timber Worg at the same location where bugged Warp Stalkers reside.
  ![wowscrnshot_042115_165102](https://cloud.githubusercontent.com/assets/5777848/7255304/04ac4dd2-e

[2015-04-21 15:11] nz54445 commented on #475
Tremor totem should work nicely here then? Otherwise CC and kill last.

[2015-04-21 15:16] stevenmoogal opened #510 "[Paladin] Judgement of Wisdom does not work"
Paladins Judgement of wisdom does not work. When you apply judgement of wisdom (rank 4) to your target it is supposed to have a chance to return 74 mana to the attacker but it does not return any mana on corecraft. The debuff icon is applied to your target when you judge but with no effect.

The mana return on seal of wisdom works perfectly fine.

[2015-04-21 15:19] stevenmoogal opened #511 "[Paladin] Judgement of Wisdom does not work"
Paladins Judgement of wisdom does not work. When you apply judgement of wisdom (rank 4) to your target it is supposed to have a chance to return 74 mana to the attacker but it does not return any mana on corecraft. The debuff icon is applied to your target when you judge but with no effect.

The mana return on seal of wisdom works perfectly fine.

[2015-04-21 15:19] ccnim commented on #429
Try buying it and it will show the real price. The price is client side and although we have changed it, it will still show up as the old price for you.

[2015-04-21 15:19] #429 closed, assigned to nobody

[2015-04-21 15:19] #511 closed, assigned to nobody

[2015-04-21 15:20] Doope commented on #510
it does work you can check the combat log and you can see the effect on your character aswell, it simply doesnt show up on your screen as a combat text

[2015-04-21 15:23] stevenmoogal opened #512 "[Paladin] Judgement of command does not work properly"
Paladins judgement of command is not working properly. The judgement of command is supposed to do double damage to stunned or incapaciated targets. On corecraft the judgement of command seems to be doing the double damage no matter if the target is stunned or not.

[2015-04-21 15:25] stevenmoogal commented on #510
You are right. But how come it doesnt show up as combat text then?

[2015-04-21 15:35] mara1987 opened #513 "[Zangarmarsh] Missing NPC"
The following NPC is missing:

http://www.wowhead.com/npc=23373/mortog-steamhead

He is supposed to stand outside the entrance of Serpentshrine Caverns.
He was added in Patch 2.0.3 (http://wow.gamepedia.com/Mortog_Steamhead)
As for patch 2.1.0 he started selling mats to those brave enough to get Exalted reputation with Cenarion Expedition.

Screenshot as proof.
![missing npc](https://cloud.githubu

[2015-04-21 15:39] Tasserski opened #514 "Quests sometimes not completable despite appearing so"
A picture says more than a thousand words, in this case anyway:
http://i.imgur.com/6Jqtxqg.jpg

[2015-04-21 15:46] netherspite opened #515 "Bloodscale Sentries do not seem to call for help"
Bloodscale Sentries at naga camps in Zangarmarsh do not seem to call for help when low on hp like they are supposed to.

[2015-04-21 15:48] netherspite opened #516 ""By Any Means Necessary" quest has weird objective"
![wowscrnshot_042115_160658](https://cloud.githubusercontent.com/assets/5777848/7256304/f7f2748a-e856-11e4-96f5-81f6e6ad3b11.jpg)

[2015-04-21 15:49] netherspite opened #517 ""Chief Apothecary Hildagard" quest is offered to me at level 62."
It is supposed to require level 67.
![wowscrnshot_042115_161001](https://cloud.githubusercontent.com/assets/5777848/7256335/280f313a-e857-11e4-9b67-2db692c2aea9.jpg)

[2015-04-21 15:49] Chulain commented on #435
not fair? rogues are fair, right?

[2015-04-21 15:50] netherspite opened #518 "One of the Olemba Cones in Terokkar Forest is flying in the air"
![wowscrnshot_042115_162725](https://cloud.githubusercontent.com/assets/5777848/7256362/4dff794a-e857-11e4-9c47-4cdc08623c25.jpg)

[2015-04-21 15:53] Doope opened #519 "PATROL"
Patrolling mobs only attacks on movement not on sight

https://youtu.be/xDsyveuTcNc
as soon as i move they instantly attack me

[2015-04-21 15:54] punker85 opened #520 "[Mage] Clearcasting from Arcane Concentration talent"
The Arcane talent Arcane Concentration can give a Clearcasting buff that should reduce the mana cost of my next spell cast.  However, the buff is disappearing at the end of my current spell cast if I receive the buff while casting (this did not happen during the case of a channeled spell like Arcane Missiles though).  Also, it was not reducing the mana cost of the current spell cast.  So I would r

[2015-04-21 16:01] Chulain opened #521 "Poaching from Poachers - quest"
wyrmcult net drop from wyrmcult poachers seems to be a bit too low

http://www.wowhead.com/quest=10717/poaching-from-poachers

i think i had to kill about 20 to get 5, if not more

might've been unlucky tho

[2015-04-21 16:02] ccnim commented on #515
Just tried it, still works. What they do is call for help when they are low on HP.

[2015-04-21 16:02] #515 closed, assigned to nobody

[2015-04-21 16:03] Tasserski opened #522 "Destroying items interrupts mount cast"
As the title says, destroying an item currently interrupts you if you are casting a mount. Rather sure this is not intended.

[2015-04-21 16:07] punker85 opened #523 "[Mage] Arcane Potency talent with Arcane Missiles"
This talent should apply a static +30% chance to critical chance on top of what the mage already has for critical spell strike chance to any spell that is casted with the Clearcasting buff from Arcane Concentration.  After several repeated barrages of Clearcasted missiles tested on target dummies, the result critical chance shown in Recount was 30% when my mage character had 22% spell critical str

[2015-04-21 16:19] ccnim commented on #521
It was indeed too low.

[2015-04-21 16:19] #521 closed, assigned to nobody

[2015-04-21 16:25] mara1987 opened #524 "[Netherstorm] Missing quest and incorrect progression mark display"
Hello again,

I decided to test some quest in Netherstorm, in particular the repeatable one in Area 52 for Consortium reputation:

http://www.wowhead.com/quest=10262/a-heap-of-ethereals
and
http://www.wowhead.com/quest=10308/another-heap-of-ethereals

The first issue i found was an incorrect progression mark display, in fact i should have get a grey question mark, but instead:
![incorrect mark dis

[2015-04-21 16:25] punker85 commented on #426
Those links and that information is a Wrath of the Lich King change.  The whole point of having Clearcasting as an arcane talent was to get a very good chance to proc it from Arcane Missiles.

[2015-04-21 16:27] ghost commented on #522
even in vanilla casting something gets interrupted if you move items in your bags

[2015-04-21 16:27] ghost commented on #522
show evidence or this will get closed

[2015-04-21 16:29] ccnim commented on #513
Even though it says 2.0.3 his ID is way too high to be a 2.0.3 mob, look at all the surrounding mobs for example.

[2015-04-21 16:29] #513 closed, assigned to nobody

[2015-04-21 16:31] jovce17 commented on #510
addon option unchecked "mana gain" in options etc
for me it shows ..but im usiing combat text addon ...

[2015-04-21 16:35] mara1987 commented on #524
After logging out and in again the yellow question mark seemed to be gone for good.
![after logout](https://cloud.githubusercontent.com/assets/10872722/7257322/28ad9b6a-e855-11e4-8b1f-521ba9cad344.JPG)

[2015-04-21 16:41] Tasserski commented on #291
@Platzwart you're right, should be no issue. I'd forgotten about making a report about it, but just run into the same patch note change you just linked while researching something else. The behaviour was indeed only changed in WOTLK.

[2015-04-21 16:58] #504 closed, assigned to nobody

[2015-04-21 17:06] Chulain opened #525 "slow effects"
slow effects behave wrong?

you can't replace or add an extra debuff if the current slow on the target has a higher value

example: crippling (70%) on target -> wing clip (60%), concussive (50%) and hamstring (60%) cant be applied

also if target is slowed by a 60% hamstring a 60% wing clip will replace the hamstring

---

i think all debuffs should appear on the target and the strongest (highest

[2015-04-21 17:15] Soda-88 commented on #502
This is not a bug, Whirlwind is an AOE attack with 8 yards radius, other melee attacks such as Hamstring and auto-attack have 5 yards range

Whirlwind
25 rage
Instant
In a whirlwind of steel you attack up to 4 enemies within 8 yards, causing weapon damage from both melee weapons to each enemy.

[2015-04-21 17:21] Soda-88 commented on #525
Working as intended, for example, you can't apply Hamstring debuff on a target that is already afflicted by Crippling Poison, same goes with Mortal Strike and 5 stacks of Wound Poison. The damage from Hamstring/Mortal Strike will still be applied though and so will the Improved Hamstring if it procs.

Reference: https://www.youtube.com/watch?v=019vZI7gjNw (pay attention to Frostbolt debuff being o

[2015-04-21 17:27] mara1987 commented on #513
It says 2.0.3 "Added" not "working as intended in 2.1.0".

So, maybe he was there but he didn't give any service till 2.1.0
Do you disagree?

[2015-04-21 17:34] kikomir commented on #509
I was in a Shadow Labyrinth run myself and the warlock in our group definitely gave us a soulwell multiple times and did a summon once.

[2015-04-21 17:37] ccnim commented on #476
The damage and radius is from a DBC. It hits for around 500-600 dmg + the auto attack damage which is 2.5k~ shadow damage.

[2015-04-21 17:37] #476 closed, assigned to nobody

[2015-04-21 17:37] Tasserski opened #526 "Quest: Fire At Will (10911)!"
The first problem: According to Wowhead comments, the objects of the quest, the gates, should die after 7 shots with the cannon. They did not seem to, although I am not completely sure whether or not I actually got in 7 shots as the cannon simply died itself unexpectedly.

The second problem: when active, the gates seem to spawn defenders infinitely. Pictured: http://i.imgur.com/0v9qERS.jpg

[2015-04-21 17:37] Soda-88 commented on #522
@Rulerx yeah, on Feenix maybe

[2015-04-21 17:39] ccnim commented on #513
The mobs were added in batches as the patches progressed, his ID is among the 2.1 batch therefor I believe they have a typo on wowwiki.

[2015-04-21 17:45] Poe123 commented on #467
Dont know exact cause, but my guess would be entering an instance while flying on a flying mount. Or any mount in general.

[2015-04-21 17:45] Lephidiles opened #527 "Bonechewer Rot (Disease)"
Server Crashed almost the same time i noticed this so i just got two screenshots of it just after it come back up:
http://imgur.com/jtT0HQj,ySv1U5q#1

First one shows the pet with only 474 HP.
Then the Disease went away before i could take screenshot number two

but here he have normal HP although stamina mouseover is not correct.

Unfortunately you don't see the debuff in the screenshot but i sus

[2015-04-21 17:48] Lephidiles opened #528 "Flying Fel Reaver"
Not sure what causes this but managed to get this screenshots

http://imgur.com/LBlzhI5,vlCNtsn,orxLuuf,MqUqzjO,mphbWHQ,jtcvRYd,KSLtqPa,f37CtOR,eTqurbj

[2015-04-21 17:50] Kinglundh opened #529 "Arcane Explosion vs Stealth"
Was dueling a Mage and couldnt see when he did the Arcane Explosion. This only happens while Im stealthed. I can see that the mana is being used, but not the explosion.

[2015-04-21 17:54] Kinglundh opened #530 "Cloak of Shadow bug."
When a mage is casting a frostbolt, and its "in the air", and the Rogue is using cloak, the frostbolt still gets through. Seems like Cloak of Shadows aint working on spells that got casted and is close to your character.

[2015-04-21 17:56] ccshiro commented on #525
This is working as intended.

[2015-04-21 17:58] mara1987 commented on #524
Ok, i managed to get Friendly reputation before shutdown. Now the NPC gives the correct repeatable quest and displays the correct question mark:

![correction](https://cloud.githubusercontent.com/assets/10872722/7259017/a4060d8c-e860-11e4-85b6-7c6008565a31.JPG)

So, in the end that was only a reputation issue. The wrong progression marker issue remains though.

[2015-04-21 18:00] Klimpb opened #531 "S1 gear/weapons at area 52 costs honor."
S1 gear/weapons at area 52(and tanaris too?) costs honor and BG marks to buy instead of arena points.

[2015-04-21 18:01] netherspite opened #532 "Mobs can't find path through the river"
In Terokkar Forest (may be in other zones too) if you aggro a mob and swim from them through a river they won't follow you and instead will stay on the shore and watch you running away.
Also, you will stay in combat for pretty a while in this case, way longer than it would take to evade the mob by running by the ground.

[2015-04-21 18:02] netherspite opened #533 "First looted quest item sometimes is not reflected at the tracker"
Sometimes the first looted item in the quests where multiple instances of the same quest item are needed is not displayed at the tracker until you loot the second one.

[2015-04-21 18:03] ccshiro opened #534 "Crashes"
Fixing them crashes.

We had one crash that happened a bunch early on in Arcatraz. After that dungeon was disabled, we had 3 more. I have not yet inspected them, so I don't know if they're unique. But we had up to 4 unique crashes (+/- 2).

[2015-04-21 18:07] rylaiii commented on #531
duplicate - #427

[2015-04-21 18:08] Klimpb opened #535 "Intimidating Shout radius is way too long"
1. http://i.imgur.com/vpFobqJ.jpg
2. http://i.imgur.com/zlfY98c.jpg

Was able to use Intimidating Shout successfully at what looks to be about 13-15 yards. Tooltip says 8 yards, the range check on my action bar was also white(is this a server side or client side thing?, was it always 100% accurate?)

Prior to this without moving my characters I used howl of terror on my warlock at the same distanc

[2015-04-21 18:11] Klimpb commented on #502
Common bug on many private servers is that the bounding box/hitbox is messed up, making it possible to attack targets further away than what you're supposed to be able to. AoE fears & spells on these servers typically have a much larger radius as well.

Not sure if the range check displayed on the actionbar is client or server side, or if it ever was 100% reliable on retail either.

[2015-04-21 18:11] Ickler commented on #530
This is working as intended, once a spell is over halfway there you can't avoid it with Cloak of Shadows (afaik). Same goes for Vanish, if you vanish past the midway point of the traveltime you will be taken out of vanish, although take no damage.

[2015-04-21 18:14] Kinglundh commented on #530
You might have a point there Ickler. :-)

[2015-04-21 18:17] Klimpb commented on #530
Cloak of shadow is not like a bubble, it will have 0 effect on any spell that was casted before cloak of shadows was applied.

[2015-04-21 18:20] byrsa111 commented on #502
you are wrong, if it is available and the red means that I can apply it to the target / I play a lot of years in this game, I know how it works about 6 years old warrio  https://www.youtube.com/watch?v=91dm90ODGPw&feature=youtu.be Here it works correctly

[2015-04-21 18:21] Barroth commented on #535
Initmidating shout got 10 yard range(single target fear) and a 8 yard range aoe fear

[2015-04-21 18:24] Ickler commented on #530
It does, as long as it was used before the spell has traveled beyond the halfway point.

[2015-04-21 18:24] Soda-88 commented on #530
@Ickle you're wrong, SuddenDeath is correct
It works exactly the same as Warrior's Spell Reflection, if you use it even a microsecond after the spell has been launched, it will go through

There has never been any 'halfway points' in history of WoW, it was made up by CC developers for lack of better judgement as shown in their early 'Rogue fixes' video which I disputed with series of clips from Ne

[2015-04-21 18:25] Klimpb commented on #530
@Ickler if I remember correctly, cloak of shadows was changed in cataclysm to work as you're describing it.

[2015-04-21 18:25] rylaiii commented on #520
duplicate - #426

[2015-04-21 18:27] Ickler commented on #530
Not sure how it's implemented on CC right now, but I think it's the way I said. And I still believe it's supposed to be that way. But either way, to change it one would need to do some research and provide proof.

[2015-04-21 18:27] rylaiii commented on #517
http://www.wowhead.com/quest=11046/chief-apothecary-hildagard

[2015-04-21 18:28] Klimpb commented on #502
@byrsa111 That's another private server though, and 6 years, I suppose you mean since 2009. That was Wotlk, but I suppose it would work about the same way. Still there's a lot of issues with the action bar range check, it's not reliable.

[2015-04-21 18:29] Klimpb commented on #535
@Barroth Pet got feared too, and he was standing right next to me. Howl of terror didn't work at the same range.

And the distance between the warrior & warlock is more than 10 yards.

[2015-04-21 18:30] Soda-88 commented on #530
@Ickler stop spreading disinformation please. Cloak has been identical to Spell Reflection up until Cataclysm when they swapped Vanish and Cloak functionality, i.e. prior to Cataclysm you used Vanish to dodge airborne spells, and post Cataclysm you used CloS to dodge airborne spells. The way you describe it (without the halfway travel mumbo-jumbo) is the way it works of Feenix and it's just wrong.

[2015-04-21 18:30] byrsa111 commented on #502
at the moment I can not provide you with a video server and the official sign as he worked there

[2015-04-21 18:33] Ickler commented on #530
@Soda-88 Well as for halfway points or not, how do you explain the situation with vanish then? Because it was clearly something on retail that made you avoid damage but lose stealth if you were "slow" on the vanish. However if you vanish while it's just leaving, you take no damage, and keep stealth.

Now since it's several years since retail I can't recall 100%, I could be wrong. But I'd still say

[2015-04-21 18:34] byrsa111 commented on #502
If the spell OFF Red can apply it to AIMS  What I can not do if you look closely at the video This is complete nonsense and it should not work this way

[2015-04-21 18:36] Soda-88 commented on #530
@Ickler it wasn't halfway point, it was specifically if you vanished at the same moment you got hit by a spell, hence why you NEVER ended up in stealth if you vanished instant cast spells that have no projectiles such as Blind, Fire Blast, etc. But even then you'd avoid the spell effect, it just broke the stealth instantly. Here's a video compilation of all the clips: https://mega.nz/#!o4hAlCTa!uZ

[2015-04-21 18:36] byrsa111 commented on #502
spell glows red but I can not apply it to the target

[2015-04-21 18:37] byrsa111 commented on #502
Look very carefully what I'm trying to show you  https://www.youtube.com/watch?v=Xanld-vjXes&feature=youtu.be

[2015-04-21 18:39] byrsa111 commented on #502
This is nonsense, I can not use the spell though it is available and is not lit in red

[2015-04-21 18:39] Ickler commented on #530
@Soda-88 Stop using this as a discussion topic please. And as I said if you believe it to be wrong, find your proof and open a specific issue about the issue after testing it on next test.

Edit: That video has nothing to do with cloak of shadows, I struggle to see why you even linked it. I can think of a couple of movies where you can clearly see a cloak being used, right after a spell, yet it st

[2015-04-21 18:48] Soda-88 commented on #530
@Ickler face meets palm
How about you take your own advice and provide the video that this in fact is a bug instead? I clearly stated that this is not a bug. And as for me providing a proof, I doubt there is a single PvP video of a rogue misusing Cloak out there the way you described (cloaking after the projectile has been launched) but if you can find one, go ahead :)
And if the video I posted in

[2015-04-21 18:53] Ickler commented on #530
@Soda-88 I told myself I wouldn't reply to this more, but your train of thought and logic just has to be pointed out to you... You're arguing about Cloak of Shadows not being able to resist a spell already airborne when cloak is used. And your proof of this is posting a video of a few clips showing that Vanish is used to avoid spells in mid-air and instant spells...
Then you say this:
"And if the

[2015-04-21 18:58] Soda-88 commented on #530
@Ickler My logic is that the most popular rogue player in TBC during retail era never thought of using Cloak of Shadows to avoid airborne spells BECAUSE IT NEVER WORKED THAT WAY (until Cataclysm, hence why he always used Vanish). I'm trying to dispute your 'halfway point' argument here, if spell launched, and no matter how far it traveled, it will ignore Cloak of Shadows that has been used AFTER t

[2015-04-21 18:58] rylaiii commented on #532
duplicate - #506

[2015-04-21 19:04] tedrasiel commented on #529
while i played rogue i've seen ( or in this case havent seen) the same behaviour. on cc ofc.

[2015-04-21 19:27] punker85 commented on #520
https://github.com/ccshiro/cc-buglist/issues/426 references a different issue.  In #426, the chance to proc the Clearcasting state is referenced with respect to Arcane Missiles (which should be a 10% chance on each missile hit and NOT what is stated in Issue #426 which was changed after WOTLK).  This ticket (#520) is referencing how the buff should be applied to a spell being cast and when the buf

[2015-04-21 19:27] ShuTestCC opened #536 "Revive cannot be accepted"
Situation and hopefully helping you reproduce the situation:
I was in a raid on Doomwalker the day before. When I decided to log out that day, filthy ally scum attacked me. Since it was a gank I decided not to react to it and just alt f4, well knowing that the next day I would log in as a ghost.
That's basically what happened the day before: I died from PvP after Alt-F4ing.

Next day I logged in a

[2015-04-21 19:40] rylaiii commented on #520
you are right. i shouldn't hop on github before drinking my coffee. i'll remove my comment.

[2015-04-21 19:44] Klimpb opened #537 "pathing issues"
http://webmup.com/f5809/
http://webmup.com/49768/

watch the pet

[2015-04-21 19:48] Barroth commented on #535
looks like a bug then, just stated what the spells range is^^

[2015-04-21 20:07] callig opened #538 "[Old Hillsbrad Foothills] Lieutenant Drake pathing issue"
He won't run up the stairs.

[2015-04-21 20:23] Soyoen commented on #435
The video & comments is from mid to late vanilla content. Can't find any signs of changes throughout burning crusade content, in fact up until 2011 there were still discussion towards the issue.

"Ive been chased in the improved stealth effect provided by vanish several times by a pet. Its just rediculous when that happens. But as others have said, marks n all that shiz yo. "
http://www.mmo-champi

[2015-04-21 20:35] vexxedd commented on #530
Well. There is no discussion about it. Funny to see coments like "I think". There is no "I think". You know or you dont, you've played tbc retail or you did not.
If you use Cloak when spell is already launched - it will go through. Basically, like people said before its working like Spell reflection.
Vanish on the other hand works different. There is no "half-way". If you didnt get affected by the

[2015-04-21 20:42] Chulain commented on #525
https://www.youtube.com/watch?v=YRD0p0oV54w&feature=player_detailpage#t=39

concussive shot applied to a player affected by frost trap

hmm maybe cause it's an aura, i'll keep looking for one with wing clip/frostbolt/hamstring/crippling on target

[2015-04-21 20:43] vexxedd commented on #435
30 april 2006
Daaat proof

[2015-04-21 20:54] Chulain commented on #525
https://www.youtube.com/watch?v=pO930U0_DpE&feature=player_detailpage#t=109

wing clip on target -> concussive shot applied

perhaps daze effects got an exception? idk

bad quality tho, i'll keep looking

[2015-04-21 20:58] Chulain commented on #525
https://www.youtube.com/watch?v=51D6VZ_WhXo&feature=player_detailpage#t=55

hamstring on target -> concussive shot applied

pre tbc tho

[2015-04-21 21:00] Chulain commented on #525
https://www.youtube.com/watch?v=51D6VZ_WhXo&feature=player_detailpage#t=108

also works the other way around

concussive shot -> wing clip applied

[2015-04-21 21:07] Chulain commented on #525
https://www.youtube.com/watch?v=Z-KutVVLcfY&feature=player_detailpage#t=129

concussive shot -> frostbolt applied

[2015-04-21 21:12] Chulain commented on #525
https://www.youtube.com/watch?v=LXvaufobICo&feature=player_detailpage#t=54

wing clip -> concussive shot applied

[2015-04-21 21:21] Chulain commented on #525
https://www.youtube.com/watch?v=MDrPBmHCLGw&feature=player_detailpage#t=66

cone of cold -> concussive shot applied

[2015-04-21 21:21] Pinhastest opened #539 "Quest - [The Legion Hold]"
Everything work (crate and dialog) except quest doesn't complete

[2015-04-21 21:24] Pinhastest opened #540 "Quest - [Frankly, It Makes No Sense]"
Quest doesn't work, we can't control the scorpion

[2015-04-21 21:31] Chulain commented on #525
https://www.youtube.com/watch?feature=player_detailpage&v=vZtAcBu0BxU#t=122

wing clip -> concussive shot

[2015-04-21 21:39] Chulain commented on #525
https://www.youtube.com/watch?v=9zXiP13WQOM&feature=player_detailpage#t=207

wing clip -> concussive shot applied

[2015-04-21 21:46] Chulain commented on #525
https://www.youtube.com/watch?v=9zXiP13WQOM&feature=player_detailpage#t=411

crippling -> concussive shot applied

[2015-04-21 22:05] Chulain commented on #435
Actually soyoen's comments prove me right

If this still wasn't fixed in 2011 and blizzard knew about it, therefore this mechanic should be implemented.

It's not like seal twisting's case where it got well-known and fixed immediately in wotlk

[2015-04-21 22:09] Chulain commented on #440
sorry, forgot to add timestamp to evidence

[2015-04-21 22:12] Chulain commented on #432
yeah duplicate, however i think this should be fixed as the spawned npcs can be really annoying if you cant cc/kill em

[2015-04-21 22:32] Chulain commented on #426
https://www.youtube.com/watch?v=yRfd_WCZ_gI
(also shows his talents, 5/5 specced)

hmm now i'm pretty sure i'm wrong

clearcasting didn't proc once after the first missile hit the target

---

patch note is really strange tho

[2015-04-21 22:33] Chulain commented on #426
patch note is really strange tho

[2015-04-21 22:39] Chulain commented on #426
https://www.youtube.com/watch?v=c2RtyFh5TnE

same case here

[2015-04-21 22:55] CCjudgement commented on #479
I remember this as well and if Vindication has a chance to proc Judgement of wisdom then it would be being treated as an attack, this would mean any abilities and items which are based on attacks such as Seal of Command, Seal of Righteousness, Hand of Justice and Romulo's Poison Vial should also proc off vindication which are controlled by the 0.5 second internal cd which each of these possess to

[2015-04-21 23:27] Chulain commented on #520
duplicate of https://github.com/ccshiro/cc-buglist/issues/426

[2015-04-21 23:42] honuk commented on #460
I am very aware of TBC WF mechanics. Even after 2.1, when they fixed the off rank WF bug and kept the internal cooldown, WF/WF slow/slow was still better than WF/FT slow/fast, to say nothing of WF/FT slow/slow, which is objectively worse than FT on a fast weapon. WF on your offhand eats MH procs, but the overall proc rate on WF goes up when both weapons are imbued. while dual wielding WF weapons,

[2015-04-22 00:10] DaRealBoss commented on #528
its the un-nerfed fel reaver with a superman cloak on his back, ready to fly in on some nubs questing

[2015-04-22 00:16] DaRealBoss commented on #514
I think that single quest is a unique case, unless youve found others that have the same issue. I just wanted to point out that I've seen that same issue with that same quest on other servers too.

[2015-04-22 00:27] DaRealBoss commented on #471
As a hunter I've went to the warp stalkers outside shattrath to tame one during the test, and after taming it I would get attacked by an invisible warp stalker. After moving around a bit it comes out of stealth and i get the error msg of out of range or the target is dead when i try to use any moves on it or attack it. I didnt have time to test if other mobs react that way around shattrath when i

[2015-04-22 01:20] Soda-88 commented on #525
Concussive Shot is not a snare but a daze effect which makes it exception to the rule, same goes with Shield Bash daze effect. Piercing Howl on the other hand is a snare effect despite tooltip saying it's a dazing effect. Real daze effects share the icon with PvE daze effect, although the difference between the two is that PvP daze effects can be removed by trinkets, freedom, etc. just like any ot

[2015-04-22 02:41] honuk commented on #509
our lock couldn't do either in heroic crypts or slave pens

[2015-04-22 03:51] honuk commented on #460
I simmed a bunch of tests using the old TBC enhancement shaman dps sim EnhSim to use as a comparison. Several things to note before I post the numbers: 1) all of these sims were against bosses, while my tests on CC were against the lvl 70 dummy. I used the 70 dummy on CC to filter out as many misses and dodges as I could to give me more numbers for the test. I don't have the stats of the level 70

[2015-04-22 06:42] somnu commented on #530
I played rogue for over 3 years in TBC and WOTLK, I was a neilyo fanboy, I always liked trying new tricks and abusing the class, I ended up knowing the rogue class inside out mechanic-wise. And I can say with complete certainty that Cloak of Shadows did not cause you to resist the spell if the spell is already airborne, this also applied for Spell Reflection.

[2015-04-22 11:09] Doope opened #541 "SHAMAN chain lightning"
chain lightning jump dmg seems to be not working

http://i.imgur.com/2jq2MS7.jpg

[2015-04-22 11:49] Doope opened #542 "old hillsbrad foothills"
1. Explosives: you can use your explosives only once on a barrel ( so every player has to take one from the dragon) -  I think you should be able to use it infinitely
   http://www.wowhead.com/zone=2367/old-hillsbrad-foothills#comments
   "One person needs to grab the explosives off the dragons at the beginning."
2. Durnholde Sentry:  when we engaged them, sometimes they didnt summon the 2 adds (

[2015-04-22 11:57] Chulain commented on #529
i'd say we keep this bug.

[2015-04-22 12:10] ccshiro commented on #525
Reopened. As @Soda-88 said, dazes like concussive shot are supposed to be an exception. However, it seems one we had forgotten.

[2015-04-22 13:42] tedrasiel commented on #435
Ill check early wrath Videos for proof but im pretty shure it got "fixed" at the end of bc allready. Just not completely. As i remember it the pets sometimes dient follow, and sometimes they did ( and they got u out of stealth), later on, it happened not that often anymore and there was a time they sometimes followed you (while beein in stealth) but didnt attack ( This was, if i remember This issu

[2015-04-22 13:52] #532 closed, assigned to nobody

[2015-04-22 14:19] ccshiro commented on #530
As others in the thread have already said; like spell reflection the result is decided when the spell leaves your hands, not when it hits. Basically, working as intended.

[2015-04-22 14:19] #530 closed, assigned to nobody

[2015-04-22 14:25] #531 closed, assigned to nobody

[2015-04-22 14:26] #427 closed, assigned to nobody

[2015-04-22 14:29] ccnim commented on #431
The cause seems to be that mobs slow down as they get low on health.

[2015-04-22 14:32] ccshiro commented on #522
This is intended. All casts are interrupted when doing such inventory actions to lower potential exploit vector. This might not be retail-like, or it may be, doesn't really matter.

[2015-04-22 14:32] #522 closed, assigned to nobody

[2015-04-22 14:34] ccnim commented on #439
I have not gotten around to fixing these yet.

[2015-04-22 14:37] ccnim commented on #445
They were not in the game in 2.0.3.

[2015-04-22 14:37] #445 closed, assigned to nobody

[2015-04-22 14:38] ccshiro commented on #510
Inspecting this I see nothing wrong. We send the combat log event as intended (and its data looks correct). Beyond that it's up to the client and your addons what they do with it.

[2015-04-22 14:38] #510 closed, assigned to nobody

[2015-04-22 14:40] ccshiro commented on #506
Mobs that cannot path to you stand with you in combat for a while until they finally reset. This period is quite long. However, the twitchy movement he does is indeed strange.

[2015-04-22 14:41] ccnim commented on #443
Lowered it. If you find any other quest items with a long respawn timer, report it and I'll lower it.

[2015-04-22 14:41] #443 closed, assigned to ccnim

[2015-04-22 14:43] ccshiro commented on #505
What mobs and which attacks?

[2015-04-22 14:44] ccshiro commented on #503
What @Barroth said.

[2015-04-22 14:48] ccshiro commented on #501
I'm fairly sure what @maxmore031 is saying is correct. I will close this issue as invalid, if you think I'm wrong it's still possible to respond and reopen it with further evidence.

[2015-04-22 14:48] #501 closed, assigned to nobody

[2015-04-22 14:55] #499 closed, assigned to nobody

[2015-04-22 14:55] ccshiro commented on #499
Just noticed #497, making this a duplicate.

[2015-04-22 15:02] ccshiro commented on #487
I don't think this is the same bug as #67. The pet does auto-cast these spells, but after you mount and dismount he gets stuck when trying to cast them. At least that's how it appears to me. Will investigate more.

[2015-04-22 15:03] Doope commented on #505
i tested it in netherstorm at manaforge duro on blood elf archers they did the usual ranged attack animation.

Archers might have wrong attack type, i have no idea, holy shield worked overall fine so its a minor bug

[2015-04-22 15:08] #453 closed, assigned to nobody

[2015-04-22 15:09] ccshiro commented on #424
Pretty sure this is same as #471. Closing this one as that one has more discussion in it.

[2015-04-22 15:09] #424 closed, assigned to nobody

[2015-04-22 15:19] ccshiro commented on #447
Testing I noticed that:

Paranoia is not being cast until you get in combat.
Lesser Invisibility doesn't seem like it wants to get auto-casted at all.
Fire Shield seems to work correctly (maybe you have some more info on what happened prior to this one?).

[2015-04-22 15:21] #455 closed, assigned to nobody

[2015-04-22 15:21] ccshiro commented on #454
That does sound very wrong, yes. Although having a video to prove it wouldn't hurt (so there can be no future debate how it should be :p). If it's not too much trouble finding something, that is.

[2015-04-22 15:22] ccshiro commented on #450
That is one awesome bug.

[2015-04-22 15:32] ccshiro commented on #446
I have a feeling this is gonna be fun to debug. Looks lovely, though.

[2015-04-22 15:37] ccshiro commented on #435
I thought this mechanics was already in. As I remember it, pets would let go if you vanished, but would keep chasing if you just stealthed.

[2015-04-22 16:10] Klimpb commented on #447
@ccshiro Well I don't know much about fire shield except for the fact that it has a auto-cast function to it, which I then assume it should just keep you and/or your party buffed with it and re-applying it when it fades away.

or am I wrong here?

[2015-04-22 16:35] tedrasiel commented on #435
Shiro i think youre right

[2015-04-22 18:21] Ickler commented on #460
I made a T5 geared shaman, and I was keeping 850 DPS on dummies. There is no way that's under what it should be, remember that physical classes benefit insanely much from a raid setting, with both raid debuffs and buffs... Armor reductions and AP modifiers.

And by doing so btw, WF was nearly 40% of my damage done.

[2015-04-22 18:44] ccshiro commented on #425
It should say, in red on your screen: "You don't know any flight locations connected to this one.". And when testing it did work as expected. Maybe you have some addon that affects this, or you simply missed the error? Will close as invalid, please reopen if there is some condition in which it's broken.

[2015-04-22 18:44] #425 closed, assigned to nobody

[2015-04-22 18:46] ccshiro commented on #437
Tried searing totem and magma totem, the former generates threat as expected. The second one does too, however, for some reason the threat is awarded to the Shaman.

[2015-04-22 18:52] ccshiro commented on #426
Arcane missiles ticks 5 times. Given one chance for the application and one each tick your arcane missiles would have 60% chance to proc with 5/5 Arcane Concentration. Your rank 11 missiles would go from costing 785 mana per 5 seconds (no talents at all) to an average of 314 mana per 5 seconds by just investing in Arcance Concentration (excluding any other abilities, talents, etc). It sounds very

[2015-04-22 18:53] #426 closed, assigned to nobody

[2015-04-22 18:55] ccshiro commented on #428
I guess it really was something else then... Hm. I will mark this as a bug and take a look at what might go wrong. Thanks.

[2015-04-22 19:00] ccshiro commented on #542
Please make one issue per bug you're reporting in the future. When you put multiple in it like this it becomes very hard to manage the bug tracker. As for the reports:
1. Working as intended.
2. I will test if I can reproduce that one.
3. Could use some research to figure out how long the range should be.
4. Would be nice if you could post a video, yes.

[2015-04-22 19:03] #539 closed, assigned to ccnim

[2015-04-22 19:55] ccshiro commented on #526
Tested quest. Found bugs:

Didn't get quest credit.
NPCs should disappear on evade.

[2015-04-22 20:07] ccshiro commented on #524
@ccnim will check the reputation stuff.

As for the yellow question mark, we cannot reproduce that. Needs some more testing and info what goes on.

[2015-04-22 20:18] ccshiro commented on #523
I'm assuming that arcane potency should apply for all ticks of arcane missiles, but that it doesn't since clearcasting disappeared already. Maybe the ticks should use the talent's increased crit if if was active when the channel started? And if so, does that apply just for Arcane Potency or for other crit auras? And if so, for other spell modifiers as well? Like a spell power increase, for example

[2015-04-22 20:33] mara1987 commented on #524
I trusted the screens to be enough...

[2015-04-22 20:36] ccnim commented on #495
This looks like a retail issue, the item being "max stack: 20" instead of unique (10). Also the way it was implemented makes it seem like it was made like this on purpose.

Will mark as invalid, you may reopen it if you find evidence.

[2015-04-22 20:36] #495 closed, assigned to nobody

[2015-04-22 20:39] #489 closed, assigned to nobody

[2015-04-22 20:50] shadowraider commented on #458
this quest can be completed on both normal and heroic difficulties

[2015-04-22 20:53] mara1987 commented on #495
The pathing issue still remains though

[2015-04-22 20:54] ccshiro commented on #479
@Philosophers that's a good start. We'd like some more proof if possible for this one, so we can be sure how it worked and why.

[2015-04-22 20:57] ccshiro commented on #477
Need some video or something to see how it works.

[2015-04-22 21:06] ccshiro commented on #467
Need more steps.

[2015-04-22 21:35] ccshiro commented on #452
I was level 70 and got it resisted over and over, then I levelled down to 62 and the spell seems to work fine.

[2015-04-22 21:35] #452 closed, assigned to ccnim

[2015-04-22 21:45] ccshiro opened #543 "Enslaved demon dies, bug"
When enslaved demon dies, his corpse bugs.

[2015-04-22 21:53] ccshiro commented on #444
Would be nice to have some more evidence. Especially in the die against NPC case.

[2015-04-22 22:07] lastnoob commented on #444
Doesn't the killing blow the only thing that matters(i'm curious)?
found sources:
http://web.archive.org/web/20080325031018/http://www.wowwiki.com/Shadow_Word:_Death
http://wow.gamepedia.com/Shadow_Word:_Death
http://vanilla-wow.wikia.com/wiki/Shadow_Word:_Death

( https://skryer.com/forum/showthread.php?p=5776
http://www.unknowncheats.me/forum/wow-exploits-guides/51748-priest-exploit-no-durabilit

[2015-04-22 22:12] matalm commented on #477
Here's a video from retail showing how Nature's Grace should work.
This example is for the Wrath spell, not Starfire.

The moonkin gains the Nature's Grace effect as soon as the Wrath spell is done casting, not when it lands. The cast time of the next Wrath spell is indeed reduced, even if it was cast before the crit lands.

Premonition Downing Curator
https://www.youtube.com/watch?v=Dq9cTNsfCMQ
A

[2015-04-23 00:23] honuk commented on #460
and if you used FT, you would have done more damage. what's your point? there is also no way you were getting 40% of your damage as WF if you were also shocking, and if you were maintaining 850 dps you were either using shocks, or your test was way too short.

[2015-04-23 06:25] Poe123 commented on #467
Also could've been caused by charge. Tauren was a warrior. I didn't see exactly how it started, but it wasn't something that stopped on entering instance/over time.

[2015-04-23 07:29] Ickler commented on #460
I was using shocks, but as you say my test was not very prolonged. I ended just before the third Shamanistic Rage. I'll retest next test, and make it much longer + focus more on the proper rotations. But by the DPS numbers, I would say Enh is more than fine.
If FT does more, perhaps FT scales too well?

[2015-04-23 09:13] Philosophers commented on #523
http://wow.gamepedia.com/Arcane_Potency?cookieSetup=true

"This talent has somewhat peculiar synergy with Arcane Missiles, and a mage who uses  [Arcane Missiles] as part of his rotation"

There is a note that this quote applies to cataclysm, BUT in patch notes there have clear information, that this patch did not change the nature of talent. I guess that on corecraft arcane potency applies only to

[2015-04-23 09:51] Philosophers commented on #479
It's very hard to find evidence, I found only one thing in Italian (hic!) guide to retribution paladins 2.4.3. Using google translate:
"Justification 1/3 useless on bosses, but allows you to proc the judgment of wisdom."

Talent name was also transleted, it should be vindication, but I paste what I've got. A lot of guides do not talk about vindication, cause it's "PvP talent", but I guess this com

[2015-04-23 09:58] Philosophers commented on #422
Even from that wotlk thread of vindication being useless:
This was performed on a Reanimated Crusader in Icecrown. The mob in question was level 78 and had 11 770 HP from the start.
After forcing a proc through HoR the mob ended up with 11 130 HP.
A decrease of 640 HP or 64 stam (5% HP). This would mean the mob has a stam of 320. In other words it gains 3200 HP from stam. The remaining 8570 HP is

[2015-04-23 10:28] byrsa111 commented on #502
And the paradox is that on mannequins in Shattrath everything works perfectly

[2015-04-23 10:46] nz54445 commented on #506
I did some pathing testing myself, posted it in #283 since it was open and for testing. I experienced similar pathing problems (as noted in there).

[2015-04-23 10:52] honuk commented on #460
If FT scaled too well, tests would show FT making up an abnormally large percentage of overall dps. Instead, WF/FT had a much higher percent of damage coming from WF on CC than one would expect, which leads me to believe that either 1) something is bugged with WF OH damage, causing it to eat too many WF procs and/or still hit for less damage than it should, or 2) WF is proccing too often when it i

[2015-04-23 11:12] CCjudgement commented on #479
Trying to find as much evidence as i can that the trigger is a physical attack and the effect creates a magic effect.
Trigger(Physical):
http://db.valkyrie-wow.org/?spell=26021
http://wotlk.openwow.com/?spell=26016
http://www.wowhead.com/spell=26016/vindication

Effect(Magic):
http://db.valkyrie-wow.org/?spell=26018
http://wotlk.openwow.com/spell=26017
http://www.wowhead.com/spell=26017/vindicatio

[2015-04-23 13:07] #541 closed, assigned to ccshiro

[2015-04-23 13:12] lastnoob commented on #542
Its not exactly the same, and I forgot to test it, but...anyone tested if everyone uses their explosives at the exact same time, on the same barrel, it counts as 5? because its a very common bug on tbc servers.

[2015-04-23 13:40] Philosophers commented on #479
From what I saw while surfing internet: people refer not only to judgement of wisdom but also trinkets that grants it's effects on melee hit... It makes me believe that my next statement is true:

Vindication is physical school, so it would rather be considered as melee hit. Ofc link below is post-TBC info, BUT I find no information about changing its school through patches. Will try find more sol

[2015-04-23 14:24] Chulain opened #544 "single object list - blade's edge mountains"
## object list for nim

http://www.wowhead.com/object=185152
http://www.wowhead.com/object=185562
http://www.wowhead.com/object=185567
http://www.wowhead.com/item=32380
http://www.wowhead.com/object=185033
http://www.wowhead.com/object=185033

not sure:
http://www.wowhead.com/item=32383
(mob + object 100%)

[2015-04-23 14:25] Chulain opened #545 "multi object list - blade's edge mountains"
## object list for nim

http://www.wowhead.com/object=182941
required for quest: 5

http://www.wowhead.com/object=187039
required for quest: 10

http://www.wowhead.com/object=184689
required for quest: 5 (also drops off some mobs in the cave)

www.wowhead.com/object=184906
required for quest: 5 (if you cant find the Q: http://www.wowhead.com/quest=10584)

http://www.wowhead.com/object=184631
requi

[2015-04-23 14:41] #492 closed, assigned to ccnim

[2015-04-23 14:47] #518 closed, assigned to ccnim

[2015-04-23 14:50] #517 closed, assigned to ccnim

[2015-04-23 15:05] #465 closed, assigned to ccnim

[2015-04-23 15:08] Chulain opened #546 "single object list - hellfire peninsula"
## object list for nim

http://www.wowhead.com/object=181680
http://www.wowhead.com/object=184478
http://www.wowhead.com/object=184466
http://www.wowhead.com/object=184115
http://www.wowhead.com/object=185302

[2015-04-23 15:08] Chulain opened #547 "multi object list - hellfire peninsula"
## object list for nim

www.wowhead.com/object=181582
object spawns female kaliris -> feather drop
object dont despawn completely after looting i think
required for quest: 8

http://www.wowhead.com/item=28116/zeppelin-debris#contained-in-object
(multiple objects)
required for quest: 30

http://www.wowhead.com/object=183934
required for quest: 6

http://www.wowhead.com/object=181372
required for qu

[2015-04-23 16:41] Klimpb opened #548 "Issue with pet "chase" mechanic"
Tested on a mob but it seemed to be the same way vs players.

On Corecraft: http://webmup.com/db7d6/
On Retail TBC: http://webmup.com/f12c4/ (might be slow to load, alt link: http://bit.ly/1Fh4OH9)

On Corecraft the pets easily fall behind when the target he attacks moves which makes it so he's out of range and can no longer attack, sometimes he even stops for a second just to make his auto-attack

[2015-04-23 17:01] Chulain commented on #548
i'll do the rest later/tomorrow

[2015-04-23 17:02] Chulain commented on #547
i'll do the rest later/tomorrow

[2015-04-23 17:10] Klimpb commented on #12
@xavas That's interesting, I watched the videos but it's difficult to count the frames since his deadly throw isn't on the action bars or it's too zoomed in, but I attempted anyway by looking at the time it took for his other spells that you could see on his action bars to go off.

It's around 6-9 frames on the videos, looking at them and comparing them to the ones I linked, it does indeed look li

[2015-04-23 17:36] Klimpb opened #549 "Pet command delay proof and other things"
https://youtu.be/0xAuRkhnetk?t=2m42s
Look at the macro and how the pet acts, as well as how fast the pet switches between the targets but also that the pet never needs to move after he hits the first totem.

Tried to mimic it as much as possible, but I used more totems because I could never get the pet to attack the shaman, whatever I did it would never attack the shaman like it did in the video.

[2015-04-23 17:57] #503 closed, assigned to ccnim

[2015-04-23 18:45] #498 closed, assigned to ccshiro

[2015-04-23 19:15] #529 closed, assigned to ccshiro

[2015-04-23 19:24] #512 closed, assigned to ccshiro

[2015-04-23 19:53] #546 closed, assigned to nobody

[2015-04-23 20:01] Xavas commented on #12
It's kinda hard to find very long range interrupts since rogue is a melee class, but some of the footage I linked should make it obvious enough (especially the warlock duel). Additionally, if you check the screenshots I linked you'll also see the interrupt's landing animation and the interrupt on the cast bar before you can see the yellow damage going in.

As someone who has played the class at a

[2015-04-23 22:21] Chulain commented on #548
nice find

[2015-04-23 22:43] CCjudgement commented on #479
Paladin Raiding with Vindication (watch how many JoW procs occur and how fast (Icon on SCT))
https://www.youtube.com/watch?v=UyooXkH6mT8

[2015-04-24 00:22] loganbunny commented on #479
Unfortunately I have little information beyond the fact that I raided as ret during retail and it was fairly widely known that 1/3 Vindication was specced for extra JoW procs. Lots of the ret paladin resources and forums from the time have been lost to the internet over the years. Checking out the wayback machine on archive.org, you could possibly check out cromfel.battlefield.fi which was a notab

[2015-04-24 00:36] punker85 commented on #523
Check history of Arcane Potency [http://www.wowwiki.com/Arcane_Potency?action=history] and read the entries for Jan 30, 2008 [http://www.wowwiki.com/Arcane_Potency?oldid=1160300] and March 12, 2008 [http://www.wowwiki.com/Arcane_Potency?oldid=1256773].  They clearly state different functionality but it is long before the WOTLK patch.  The FIRST says "Updated with new information (Arcane Missiles S

[2015-04-24 11:33] #525 closed, assigned to nobody

[2015-04-24 11:57] Soda-88 commented on #523
Clearcasting buff gets consumed on spellcast, not on channel finish. With that said, crit chance should be calculated at the start of channeling, so that entire channeling of Missiles get the boosted crit chance and not just the first missile. This prevents the abuse of getting two full missiles with bonus crit and for free if you time your recast right (just before the first one finished), or any

[2015-04-24 12:48] #519 closed, assigned to ccshiro

[2015-04-24 13:09] #497 closed, assigned to ccshiro

[2015-04-24 13:13] ccshiro commented on #477
@matalm cheers.

[2015-04-24 13:44] Yagrulol opened #550 "Quest: Duty Calls"
This quest sends you to help with the efforts for the Sunwell so should not be available yet.
http://www.wowhead.com/quest=11482/duty-calls

Quest NPC is just outside the scryer inn

[2015-04-24 13:49] #487 closed, assigned to ccshiro

[2015-04-24 13:50] ccshiro commented on #447
@SuddenDeath Yeah, it applies fire shield on any party member that gets struck. So if something melees you or anyone in your party the auto-cast will trigger.

[2015-04-24 13:58] #550 closed, assigned to ccnim

[2015-04-24 14:05] #447 closed, assigned to ccshiro

[2015-04-24 14:12] ccnim commented on #524
Reputation part is done, you needed to be friendly to be able to accept "A Heap of Ethereals". As for the question mark problem, we are unable to reproduce it.

[2015-04-24 14:14] #430 closed, assigned to ccshiro

[2015-04-24 14:46] #458 closed, assigned to ccshiro

[2015-04-24 18:47] #516 closed, assigned to ccnim

[2015-04-24 18:51] #514 closed, assigned to ccnim

[2015-04-24 19:44] #442 closed, assigned to ccshiro

[2015-04-24 19:44] whocares8310 commented on #316
<whocares8310>IMnIM: think we could get a 30 yard range on pull distance for aggroed guards for next test?
<whocares8310>that seems to be what they are on retail
<whocares8310>between max level and max level +3
<whocares8310>they should do a little more damage and have elite health
<whocares8310>in my video that shaman bursted down both guards in what looked like 1-2 gcds
<whocares8310>i also mana

[2015-04-24 20:39] lastnoob commented on #536
Maybe you should have deleted WDB too? In other servers many death bugs are related to it, more than WTF. Regardless if it can be fixed it should be :)

[2015-04-24 21:48] #526 closed, assigned to ccnim

[2015-04-24 21:50] ccnim opened #551 "Fire at Will! Visual Bug"
The Death's Door Fel Cannon's spells do not always show their visual.

Q: 10911
NPC: 22443
Spells: 39221, 39222

[2015-04-25 01:01] sandfury commented on #484
to give a clearer picture of what happened

![wowscrnshot_042115_092745](https://cloud.githubusercontent.com/assets/11744594/7330837/60a67b46-eaf7-11e4-905a-07864156dafe.jpg)

[2015-04-25 01:07] sandfury commented on #542
we tried it a couple tests ago lastnoob, it only applies once

[2015-04-25 09:24] ShuTestCC commented on #536
@lastnoob No sir, it was stupid of me to not delete cache, I mustve simply overseen it.
I didn't try spirit healer, either, simply because I didn't care about the revive as much as about the bug being fixed. So I alerted shiro and then he revived me anyway. So I dont know if spirit healer would have worked.

[2015-04-25 14:55] #437 closed, assigned to ccshiro

[2015-04-25 15:47] nz54445 commented on #542
Can confirm that the bug with multiple clicks does not happen on this server, unless they broke it for some reason.

[2015-04-25 16:38] #483 closed, assigned to nobody

[2015-04-25 16:51] #436 closed, assigned to ccshiro

[2015-04-25 17:12] #472 closed, assigned to nobody

[2015-04-25 17:50] tedrasiel commented on #435
ive made the research. Pet behaviour vanish related.

11:18 - 11.24 stealth - hunt/wl pet behaviour early wotlk. (vanish related)

http://www.warcraftmovies.com/movieview.php?id=122825&stream=&h=acc01f0a9d3d60a14072cb367bb31d45

---

04:10 - 04:15  12:18 - 12:24

http://www.warcraftmovies.com/movieview.php?id=107581

early bc:

05:58 - 06:05

http://www.warcraftmovies.com/movieview.php?id=38775

[2015-04-25 18:17] #469 closed, assigned to ccshiro

[2015-04-25 18:18] #432 closed, assigned to ccnim

[2015-04-25 18:36] #547 closed, assigned to nobody

[2015-04-25 18:37] #544 closed, assigned to nobody

[2015-04-25 18:40] #545 closed, assigned to nobody

[2015-04-25 18:42] ccnim opened #552 "Sunfury Archers at Duro"
Add AI for the special Sunfury Archers at Manaforge Duro.

[2015-04-25 18:44] ccnim opened #553 "Test of Endurance"
You can currently spawn mobs over and over by using the crates used for completing the quest.

Q: 1150

[2015-04-25 19:57] #471 closed, assigned to ccshiro

[2015-04-25 20:00] #552 closed, assigned to ccnim

[2015-04-25 20:01] ccshiro commented on #444
@lastnoob thanks. Guess since we have a bunch of possibly independent mentions of it, it probably was true you could use it to potentially avoid gear damage in a PvE scenario.

[2015-04-25 21:47] lastnoob commented on #542
great :)

[2015-04-26 12:21] Pinhastest opened #554 "Wrong spawn place after dead"
As you can see on the image i died on the yellow mark and i apear as a ghost on the red mark. When i should spawn on the nearest graveyard (green mark)
![img_3648 1](https://cloud.githubusercontent.com/assets/10587278/7337154/1cd668a0-ec0e-11e4-8354-bd0abad90b17.jpg)

P.S. Didn't know how to print screen on a bootcamp mac :p

[2015-04-26 20:59] Chulain commented on #454
couldn't find anything

[2015-04-27 13:55] #457 closed, assigned to ccshiro

[2015-04-27 15:03] ccshiro commented on #554
That position is supposed to be used to put your corpse at. So that when you get back to the ledge you can resurrect. If you fall down and die (or fall down as ghost) you end up at a real graveyard (i.e. not this position; this one is only supposed to be used for your corpse).

[2015-04-28 04:52] Shakeandbake commented on #553
Heh, I used this bug to power level on feenix.

[2015-04-28 18:26] leroy1 commented on #542
As for charges I can remember from retail my group waited for me on bridge while I did 5 barrels run to setup all 5 charges as rogue. The most hard part was to avoid sentries with dogs. That was before 2.4 patch. http://www.wowwiki.com/Escape_from_Durnholde_Keep  (Diversion article)

[2015-04-28 19:08] Chulain opened #555 "single object list - terokkar forest"
## object list for nimbo

http://www.wowhead.com/object=182542/sealed-box
http://www.wowhead.com/object=185220/massive-treasure-chest

http://www.wowhead.com/object=185226
http://www.wowhead.com/object=185225
http://www.wowhead.com/object=185224
3 for one quest

http://www.wowhead.com/object=184999
(for Q: http://www.wowhead.com/quest=10915)
not sure if this despawns tho

http://www.wowhead.com/ob

[2015-04-28 19:08] Chulain opened #556 "multi object list - terokkar forest"
## object list for nimbo

http://www.wowhead.com/object=187072/razorthorn-root
required for quest: 5

http://www.wowhead.com/object=182541/olemba-cone
required for quest: 30

http://www.wowhead.com/object=182584/restless-bones
required for quest: 10

http://www.wowhead.com/object=182581
required for quest: 8

[2015-04-28 19:47] #468 closed, assigned to ccshiro

[2015-04-28 19:48] #542 closed, assigned to nobody

[2015-04-29 12:36] Chulain opened #557 "single object list - nagrand"
## object list for nimbo

http://www.wowhead.com/object=182601/olemba-root
http://www.wowhead.com/object=182600/marshberry
http://www.wowhead.com/object=182599/telaari-frond
http://www.wowhead.com/object=182606/dragonspine
for quest: http://www.wowhead.com/quest=10045/material-components

[2015-04-29 12:36] Chulain opened #558 "multi object list - nagrand"
## object list for nimbo

http://www.wowhead.com/object=182128/dung
required for quest: 15

www.wowhead.com/object=182355/kilsorrow-armaments
required for quest: 20

http://www.wowhead.com/object=182265/bleeding-hollow-supply-crate
required for quest: 20

http://www.wowhead.com/item=25416/oshugun-crystal-fragment
required for quest: 10
(also drops off mobs)

http://www.wowhead.com/object=182520/te

[2015-04-29 13:21] Chulain opened #559 "multi object list - netherstorm"
## object list for nimbo

http://www.wowhead.com/object=184077/nether-dragonkin-egg
required for quest: 15

http://www.wowhead.com/object=183935/fel-reaver-part
required for quest: 10

http://www.wowhead.com/object=184443/ivory-bell
required for quest: 15

http://www.wowhead.com/object=184031/box-of-surveying-equipment
required for quest: 10

http://www.wowhead.com/object=184607/dome-generator-seg

[2015-04-29 13:21] Chulain opened #560 "single object list - netherstorm"
## object list for nimbo

http://www.wowhead.com/object=184075/teleporter-power-pack
http://www.wowhead.com/object=181963/charred-bone-fragment
http://www.wowhead.com/object=184310/suspicious-outhouse
http://www.wowhead.com/object=184560/ethereum-data-cell
http://www.wowhead.com/object=184589/diagnostic-equipment
http://www.wowhead.com/object=183814/ethereal-technology
http://www.wowhead.com/objec

[2015-04-29 13:26] Chulain commented on #560
now just shadowmoon valley..

[2015-04-29 13:42] Chulain commented on #556
no quests in shatt

[2015-04-29 13:54] Chulain opened #561 "isle of quel'danas objects"
## object list for nimbo

http://www.wowhead.com/object=187333/bloodberry-bush
for quest: (http://www.wowhead.com/quest=11546/open-for-business)
required for quest: 5
(also drops off mobs i think)

http://www.wowhead.com/object=187264/darkspine-ore-chest
required for quest: 3

[2015-04-30 11:25] Chulain opened #562 "object list - shadowmoon valley"
## object list for nimbo

---
## multi

http://www.wowhead.com/object=184684/ravenous-flayer-egg
required for quest: 10

http://www.wowhead.com/object=184948/ever-burning-ash
required for quest: 15

http://www.wowhead.com/object=184691/shadowmoon-tuber
(quest http://www.wowhead.com/quest=10514/i-was-a-lot-of-things)
required for quest: 10

http://www.wowhead.com/object=185130/skethlon-feather
requ

[2015-04-30 11:28] Chulain opened #563 "object list - instances"
## object list for nimbo
---
## single

(some of these have multiple spawnpoints but you only need one for your quest)
http://www.wowhead.com/object=185015/overcharged-manacell
http://www.wowhead.com/object=182054/the-underspore
http://www.wowhead.com/object=183050/the-saga-of-terokk
http://www.wowhead.com/object=182199/keannas-log

---
## multi
http://www.wowhead.com/quest=29641/the-soul-devices

[2015-04-30 11:28] Chulain commented on #563
that should be all

[2015-04-30 14:45] DaRealBoss commented on #548
seems to be a common issue on other private servers as well

[2015-04-30 18:51] Chulain opened #564 "objects - extra"
i forgot a few..
## single - blade's edge mountains

http://www.wowhead.com/object=184744/tchalis-hookah
http://www.wowhead.com/object=185574/slaags-standard

http://www.wowhead.com/item=30433/thunderlord-clan-arrow
http://www.wowhead.com/item=30432/thunderlord-clan-drum
http://www.wowhead.com/item=30434/thunderlord-clan-tablet
3 for 1 quest
## multi - blade's edge mountains

http://www.wowhead.co

[2015-04-30 19:19] Chulain opened #565 "object list - zangarmarsh"
## object list for nimbo

---
## multi

http://www.wowhead.com/object=182050/box-of-mushrooms
also drops off mobs
required for quest: 10

http://www.wowhead.com/object=182095/burstcap-mushroom
required for quest: 6

http://www.wowhead.com/object=182116/fulgor-spore
required for quest: 6

http://www.wowhead.com/object=182139/feralfen-idol
required for quest: 6

http://www.wowhead.com/object=182256/

[2015-05-01 14:10] ccnim opened #566 "Rite of Vision"
https://youtu.be/PwXFuLB6XKI?t=49

I need help finding the emotes the wolf is using.

[2015-05-01 19:47] #377 closed, assigned to nobody

[2015-05-01 21:59] nz54445 commented on #566
Here you go @ccnim, you can actually read this one:

https://www.youtube.com/watch?v=Wvln5afYTFY

It says:

The Plains Vision stares to the northwest and lets out a long, drawn out howl.

When he gest there:

The Plains Vision lets forth a mighty howl.

Edit: 2:45 in the video.

[2015-05-02 14:16] #566 closed, assigned to ccnim

[2015-05-02 14:46] #565 closed, assigned to nobody

[2015-05-02 14:54] #564 closed, assigned to nobody

[2015-05-02 15:14] #562 closed, assigned to nobody

[2015-05-02 15:14] #561 closed, assigned to nobody

[2015-05-02 15:31] #560 closed, assigned to nobody

[2015-05-02 15:32] #506 closed, assigned to ccshiro

[2015-05-02 15:41] #559 closed, assigned to nobody

[2015-05-02 16:00] #558 closed, assigned to nobody

[2015-05-02 16:16] #557 closed, assigned to nobody

[2015-05-02 17:09] #556 closed, assigned to nobody

[2015-05-02 17:14] #555 closed, assigned to nobody

[2015-05-02 18:14] ccnim opened #567 "Quest Objectives"
Lunaclaw gives quest credit in the quest Body and Heart (6002) when killed. You should only be able to gain quest credit if you talk to the spirit that spawns after you've killed lunaclaw.

The client seems to agree on that the quest should be completed by getting kill credit for Lunaclaw because it doesn't give the objective text otherwise.

[2015-05-03 20:53] Jigodian commented on #502
Don't quote me on this but I think the issue stands with the targeted player's position and where exactly he appears to other players, not the actual range of the skill. I'm guessing the player's position isn't 100% accurate.

[2015-05-04 14:29] #551 closed, assigned to ccshiro

[2015-05-04 17:45] #435 closed, assigned to ccshiro

[2015-05-04 17:48] ccshiro commented on #528
I couldn't reproduce this, but I've done some changes to movement prior to looking at this. It's quite possible I ended up fixing this. Gonna move to needs testing for now.

[2015-05-04 18:28] #444 closed, assigned to nobody

[2015-05-04 20:39] #450 closed, assigned to ccshiro

[2015-05-04 20:43] ccnim opened #568 "World Recipe Drops"
We're doing world drop recipes, and built a list of things to add. This is an auto-generated list and is probably a bit off atm. Looking for help to find things that shouldn't be in there, and to add things that should.

http://pastebin.com/qktqABG9

[2015-05-04 20:54] bjplunk commented on #568
160-170 are not world drops (quick glance, some may in fact be, but most aren't)

[2015-05-04 22:05] Javas-Lal commented on #568
So far missing, by profession:
[ENCHANTING]
1. 200 - Formula: Enchant Gloves - Skinning http://www.wowhead.com/item=11166/formula-enchant-gloves-skinning
2. 215 - Formula: Enchant Gloves - Advanced Mining http://www.wowhead.com/item=11203/formula-enchant-gloves-advanced-mining
3. 225 - Formula: Enchant Cloak - Lesser Agility http://www.wowhead.com/item=11206/formula-enchant-cloak-lesser-agility

[

[2015-05-04 22:37] Javastorm commented on #568
[LEATHERWORKING]
1. 270 - Pattern: Runic Leather Gauntlets http://www.wowhead.com/item=15731/pattern-runic-leather-gauntlets
2. 275 - Pattern: Heavy Scorpid Gaunlets http://www.wowhead.com/item=15738/pattern-heavy-scorpid-gauntlets
3. 280 - Pattern: Runic Leather Belt http://www.wowhead.com/item=15745/pattern-runic-leather-belt
4. 290 - Pattern: Wicked Leather Pants http://www.wowhead.com/item=157

[2015-05-05 13:46] #440 closed, assigned to ccshiro

[2015-05-05 14:04] leroy1 commented on #568
Does item that drop only from 1-3 specific mobs considered as world drop?

[2015-05-05 14:22] ccnim commented on #568
@leroy1 They are not considered as world drops.

[2015-05-05 15:25] leroy1 commented on #568
Ok then drop only from specific mobs: item=11166 item=11206 item=11205 item=11203 item=11150
item=11151 item=11152 item=18257 item=12827 item=12830 item=21371 item=15738
Source used http://db.vanillagaming.org/ and wowhead comments

Comment for item=29718 and item=29714 from wowhead (This will no longer be a world drop in patch 2.3 but will instead be purchaseable at revered from the Kurenai or Ma

[2015-05-05 16:14] ccnim commented on #568
@leroy1 Please verify with the list we have and tell me which ones we need to remove from the list or add to the list.

[2015-05-05 16:56] leroy1 commented on #568
Haven't checked what to add so just items to remove from list:
№132 http://www.wowhead.com/item=11150 (Formula: Enchant Gloves - Mining) Dark Iron Dwarves Wetlands
№133 http://www.wowhead.com/item=11151 (Formula: Enchant Gloves - Herbalism) Elementals Treants from Ashenvale and Stonetalons
№134 http://www.wowhead.com/item=11152 (Formula: Enchant Gloves - Fishing) Murlocs from Hillsbrad
№141 http:/

[2015-05-05 18:10] ccnim commented on #568
@leroy1 We will remove the ability to purchase the drum patterns from Mag'har and Kurenai and will instead put them in as world drops.

[2015-05-05 18:29] #433 closed, assigned to ccshiro

[2015-05-05 18:29] #485 closed, assigned to ccshiro

[2015-05-05 19:24] ccshiro commented on #460
@honuk Can you share that simulator, please?

It would also be nice if next test some of y'all can do some testing and see if we can figure out what exactly might happen to make it go wrong (is the off-hand eating more procs than intended, for example?)

[2015-05-05 19:47] #505 closed, assigned to ccshiro

[2015-05-05 21:45] #567 closed, assigned to ccshiro

[2015-05-05 22:41] tedrasiel commented on #446
could this be linked to the view distance?

My screen freezed for multiple seconds inside the arena more or less randomly while having a superior setup. Some guy I was queued with , told me to lower viewing distance and it worked fine.

I guess its something else this time, but for some reason i was thinkin about this other issue while watching the footage. Just in case it helps someway.

[2015-05-06 01:49] honuk commented on #460
Here's a link to the sim I used: https://code.google.com/p/enhsim/downloads/detail?name=EnhSim0.2.7.rar&can=2&q=

This is the last version of that sim released before 3.0. It doesn't have a GUI. You just edit the numbers directly in the config file and then pass that file into the sim.

I'll certainly be messing around with WF tests next test. I'll see if I can scrounge up some other shaman suppor

[2015-05-06 20:49] leroy1 commented on #568
Items to add:
http://www.wowhead.com/item=6342/formula-enchant-chest-minor-mana
http://www.wowhead.com/item=11039/formula-enchant-cloak-minor-agility
http://www.wowhead.com/item=12261/plans-searing-golden-blade
http://www.wowhead.com/item=15731/pattern-runic-leather-gauntlets
http://www.wowhead.com/item=8385/pattern-turtle-scale-gloves
http://www.wowhead.com/item=13492/recipe-purification-potion
h

[2015-05-09 13:12] ccshiro opened #569 "Debug movement in events"
@ccnim We should go through this one together, but seems I can only assign one person.

I've changed the movement generators to use a different data structure (that will allow us to actually debug & understand the recurring movement bugs we keep seeing), and with that, all the logic has been implicitly touched. As such I have a bunch of events I want us to go through and make sure I haven't broken

[2015-05-09 16:19] ccshiro commented on #524
Moved to needs testing; maybe someone can figure out how to reproduce the bug.

[2015-05-09 16:43] #543 closed, assigned to ccshiro

[2015-05-09 16:45] #428 closed, assigned to ccshiro

[2015-05-09 19:24] #554 closed, assigned to ccshiro

[2015-05-09 21:03] #449 closed, assigned to ccshiro

[2015-05-09 21:08] ccshiro commented on #446
I think the webm might've expired, mind reupping it somewhere more permanent?

[2015-05-09 21:32] Klimpb commented on #446
@ccshiro Updated, hopefully this one will last longer

[2015-05-11 03:13] ceyscro commented on #12
Deadly throw should interrupt instantly :

https://www.youtube.com/watch?v=q_9PNGHT1SE

18:03 Long range here, you can clearly see the cast get interrupted BEFORE knife hitting and does damages.

here a screenshot : http://image.noelshack.com/fichiers/2015/20/1431313214-dt-interrupt.png

It's how deadly throw should works :
- Instant interrupt
- Knife throwing
- Knife hitting, and does damages.

I

[2015-05-11 07:20] nz54445 commented on #291
This is indeed the correct behavior, there are many sources (not to repeat the patch notes as well) that suggest this. In WOTLK the players got knockbacks, which were abused to dismount and kill flagged players.

http://wow.gamepedia.com/Knock_back

[code]

http://www.wowhead.com/forums&topic=153060/knocking-people-off-of-mount-with-typhoon-stat-question

By foleynuts on 2010/04/18 at 10:42 PM (Pa

[2015-05-11 18:08] ccshiro commented on #528
Found what happened.

[2015-05-13 13:45] #291 closed, assigned to nobody

[2015-05-13 16:30] magikalCC commented on #316
this video might help
http://www.warcraftmovies.com/movieview.php?id=72333
skip to 19:13, it shows the Shattrath guards in action when one player is in range of the guards and one is out of range while fighting

[2015-05-15 09:02] nz54445 commented on #78
Did some research on this, and it's difficult to find multiple credible sources (talk pages, videos etc.). Here is what i found:

Wowwiki:
 Talents that affect the crit chance of "all spells" (i.e.: Conviction), or talents that specifically affect spells of a certain school (i.e.: Critical Mass, Holy Power), directly add to the calculated "Crit Chance %" on the character pane.
Talents that only af

[2015-05-20 21:10] #569 closed, assigned to ccshiro

[2015-05-21 12:33] ccshiro commented on #548
I intend to fix this prior to release, but I will leave it as is for next test. Need some time to consider how I best go about fixing this.

[2015-05-21 13:59] ccnim commented on #423
@Wtfeater I did find these as well but I'm not sure if they made it up or not. Looking at the say 'Farewell to you, and may shadow always protect you!', I'm inclined to say it's made up.

[2015-05-21 14:28] #528 closed, assigned to ccnim

[2015-05-21 16:05] #462 closed, assigned to ccshiro

[2015-05-21 18:43] #536 closed, assigned to ccshiro

[2015-05-21 18:49] ccshiro commented on #466
Unable to reproduce. Next test we will have a new method of reporting mobs being stuck (so we can more easily debug what happens). If you see this bug again next test please create a new issue at that point.

[2015-05-21 18:49] #466 closed, assigned to nobody

[2015-05-21 18:51] ccshiro commented on #459
Unable to reproduce. Next test we will have a new method of reporting mobs being stuck (so we can more easily debug what happens). If you see this bug again next test please create a new issue at that point.

[2015-05-21 18:51] #459 closed, assigned to nobody

[2015-05-21 19:00] ccshiro commented on #538
Unable to reproduce. Next test we will have a new method of reporting mobs being stuck (so we can more easily debug what happens). If you see this bug again next test please create a new issue at that point.

[2015-05-21 19:00] #538 closed, assigned to nobody

[2015-05-21 19:50] #431 closed, assigned to ccshiro

[2015-05-21 21:56] ghost commented on #523
I think that what you guys are describing is known as snapshotting.
I was aware of its extended use in pvp before it got nerfed around the start of the current retail expansion.
Here's a thread on the official WoW forums that's relevant:
http://us.battle.net/wow/en/forum/topic/9377319811

Snapshotting extends to every dot/hot in the game.
Basically, the damage and healing done is calculated once a

[2015-05-22 14:27] #527 closed, assigned to ccshiro

[2015-05-22 15:04] ccshiro commented on #477
I've compiled a list of on critical spells that buff you (that I can think of) that should probably work as @matalm showed nature's grace working:
Nature's Grace (Druid)
Elemental Focus (Shaman)
Elemental Devastation (Shaman)
Doing this change to all of them.

[2015-05-22 16:29] #477 closed, assigned to ccshiro

[2015-05-22 16:57] ccshiro commented on #523
@SorcerersApprentice The implicit "snapshotting" effect for other DoTs does not naturally apply to Arcane Missiles since it's not a DoT, but actual individual spell casts for each missile.

[2015-05-22 17:28] ccshiro commented on #523
Reading the sources it seems to me the mechanic is that if clearcasting procs during the Arcane Missile channel, the following missiles will be affected by the crit, but the clearcasting will not be consumed. Since it's not consumed you can then go ahead and use it next cast as well.

Assuming I understood the mechanic, this is already working as intended (tried it just now). As such I'm removing

[2015-05-22 17:28] #523 closed, assigned to ccshiro

[2015-05-22 18:50] #520 closed, assigned to ccshiro

[2015-05-22 23:31] ghost commented on #523
@ccshiro I'm sorry, must have been tired; I meant to point out that "snapshotting" in a sense extends to every ability in the game and reveals how damage/healing was calculated back then by the server. I don't know, however, how clearcasting works so I have no comments on that end.

[2015-05-23 18:00] #364 closed, assigned to nobody

[2015-05-23 21:06] #553 closed, assigned to ccnim

[2015-05-25 17:54] #534 closed, assigned to ccshiro

[2015-05-25 19:31] ccshiro commented on #540
@ccnim: his script causes the bug.

[2015-05-25 19:51] #540 closed, assigned to ccnim

[2015-05-26 13:19] punker85 commented on #523
@ccshiro did you actually change anything about the mechanic in code before you tested this?  I was not getting this feeling of high crit chance when the talent would proc during mid cast of Arcane Missiles.  It is not only the Arcane Missiles that is currently being cast while the buff appears that receives the Arcane Potency buff but also the following cast of Arcane Missiles that will consume t

[2015-05-26 17:54] #448 closed, assigned to ccshiro

[2015-05-28 17:08] #464 closed, assigned to ccshiro

[2015-05-28 19:19] #451 closed, assigned to ccshiro

[2015-05-29 06:54] X-Savior commented on #422
Good luck,

I spent 1.5 years developing this system! Your just scratching the tip of the iceberg.

[2015-05-29 13:52] #502 closed, assigned to ccshiro

[2015-05-29 14:55] #535 closed, assigned to ccshiro

[2015-05-29 15:04] #484 closed, assigned to ccshiro

[2015-05-29 16:17] ccshiro commented on #537
We generate our pathing data for WMOs (like the arenas) using recast. We currently don't have a way to tweak it manually when the recast method fails (except changing the generation parameters and passes). In order to allow pathing over ropes we have to remain in this state of pathing in Blade's Edge Arena.

In other words, I can't fix the underlying pathing issue at the moment (without breaking t

[2015-05-29 16:24] #537 closed, assigned to ccshiro

[2015-05-29 19:35] #479 closed, assigned to nobody

[2015-05-30 03:33] vove9000 commented on #423
There is a youtube movie of a guy doing exactly that quest with undead priest: https://youtu.be/J3yWVW_vqoQ

The resolution is so low though, that you can hardly guess what it says. If anyone wants to try his deducting skills (seems to be needed more than just reading capabilities) check it out. After getting the fortitude buff I am almost sure the guard says: "Objective accomplished", or somethin

[2015-05-30 04:35] vove9000 commented on #12
From official <a href="http://us.battle.net/wow/en/game/patch-notes/2-4-0">patch 2.4.0 notes</a>:
Gladiator’s Leather Gloves: This arena bonus will now properly school lock enemies **when the damage from Deadly Throw causes them to stop channeling**.

[2015-05-30 08:15] nz54445 commented on #423
@vove9000 I saw that video as well. I believe that is another private server, due to the upload date (2012) clashing with the release of cataclysm (2010) when the quest was removed.

[2015-05-30 12:39] ceyscro commented on #12
This note is about SCHOOL LOCK.

I link you again : https://www.youtube.com/watch?v=q_9PNGHT1SE

18:03  It's just clear : http://image.noelshack.com/fichiers/2015/20/1431313214-dt-interrupt.png

And this was recorded at Sunwell so after the release of 2.4.0 patch.

[2015-05-30 15:26] Xavas commented on #12
Yeah, as I said before this was an undocumented change that happened after the 2.4 release.

Also as ceyscro mentioned the "Instant deadly throw is amazing" quote by Neilyo alone should be proof enough. As in, it wasn't instant before / it is instant now.

[2015-05-30 16:05] #454 closed, assigned to ccshiro

[2015-05-30 16:30] ccshiro commented on #549
We need more research into the Pet delay thing. In other words, footage with manually using the pet's spells, and sending the pet to attack or bringing him back. We need this to determine if it's the case that no delay existed on pets in TBC, and that's a newer addition to the game. Or if there's something else going on in this footage.

[2015-05-30 16:32] #314 closed, assigned to ccshiro

[2015-05-30 17:29] Wtfeater commented on #423
Vove9000's video is indeed recorded on a private server, as can be verified in the chatbox of some other videos the same person uploaded around the same time.

[2015-05-30 20:27] vove9000 commented on #12
To be honest it doesn't matter if it is about school lock, as the description clearly states that channeling is broken on the damage from deadly throw, therefore silence was applied after damage.

I am also 100% sure the silence should be applied after damage, if it works (or worked on retail) otherwise it should be considered a bug as the effects should be apply after hit, not before it.

[2015-05-30 20:33] vove9000 commented on #423
Then maybe just improvise? Won't be blizzlike, but I also don't think it's much of a gamebreaker if he doesn't speak exactly what he should?

[2015-05-30 21:15] Xavas commented on #12
It is just how the ability worked, can view it as an exception to your "rule". Having an artificial delay on an interrupt ability frankly made no sense (as it takes timing + makes it harder to juke against) and it obviously was changed accordingly.

[2015-05-30 21:48] vove9000 commented on #12
Check it against other silencing abilities. Does hunter's silencing shot silence on hit, or right after shooting? Because in my opinion it shouldn't be a mechanic that for some classes works different way than for the others.

Would be pretty op to be honest if it would be an instant silence, from what I remember you had to time it correctly to silence (the deadly throw, no idea how about the sile

[2015-05-30 21:53] Xavas commented on #12
Honestly I have no idea how silencing shot works, however unlike deadly throw it is a blanket silence and not an interrupt. The fact of the matter is this is how deadly throw worked later in the expansion and there isn't much to discuss here unless you can find contradicting evidence. Also please re-check ceyscro's post, he provided a much better break down than mine.

And yes, what you remember i

[2015-05-30 22:56] vove9000 commented on #12
If you are casting a spell the silencing shot would interrupt it as well as silence the target. If it is instant imho deadly throw silence should also be instant, if it damages first and then interrupts+silences then the deadly throw should work the same way.

Blizzlike is you first hit and then you apply effects, it doesn't matter how it works now or how it worked in retail (if it was instant the

[2015-05-30 23:05] Xavas commented on #12
If it was a bug it wouldn't survive a season and a half. Interrupts take timing and to repeat myself; adding an artificial delay to the equation was not the way to do it and Blizzard at the time obviously did realize it.

Won't be replying to this report anymore as we have already provided the sufficient evidence on how it worked.

[2015-05-30 23:23] vove9000 commented on #12
I don't mind it being bugged as I myself plan to play pvp rogue, this just sounds superop.

What with other effects applied by deadly throw? How is the slow applied? Instantly or on hit? What with the hit chance? Do you roll hit success on interrupt, hit or other?

Besides what's more here to add than official patch notes? It says >>**on damage**<<

[2015-05-31 00:13] vove9000 commented on #316
Guards had a limit to where they chase you and they attack you within that limit if attacked player is in their aggrozone. For example if you are at 40yds or something wearing a dot from enemy the guards will not start attacking him. As soon as attacked player gets closer to them wearing the debuff guards get pulled on attacker, throw net or chase him if he manages to escape but not infinitely.

A

[2015-05-31 00:17] ceyscro commented on #12
You know, maybe it's not a behavior that Blizzard wanted, but it's how it worked on retail anyway, you can see it on the videos and every rogues who played on retail know that it worked like that.
Interrupt it's instant and all other effects (slow) are applied with damages/hit.
So it should work as it worked on retail, with instant interrupt. If you think that CC should not implant things that Bli

[2015-05-31 01:04] vove9000 commented on #12
So far in some of the videos posted here it interrupts when it deals dmg and in others it interrupts instantly, so to which video you are referring? So far there are more videos where it gets applied with the damage, not instantly.

I would make it interrupt on hit, as that is the blizzlike mechanic with all the spells/skills, and saying it again and again and again won't change anything the same

[2015-05-31 01:11] Xavas commented on #12
I said I wouldn't post again but here goes; are you even reading what we are writing here?

In some of the videos it is different because as I already said many times it was changed halfway through S3. The interrupt remained instant after that point until the end of TBC. And this was an undocumented change. If it was a bug it wouldn't receive a brand new animation either.

Seriously you are just t

[2015-05-31 01:20] vove9000 commented on #12
Do you even read what I am writing here?

You mean to tell me that undocumented change that you say existed (but you have no proof of that) should prevail over proof I provided? And you call me a troll? Maybe start insulting me as well if you ran out of arguments and have no ability to be part of mature discussion?

[2015-05-31 01:26] Xavas commented on #12
The proof is already provided in videos more than once. We can have no discussion when you disregard all the info we provide. Though good job you already buried the good information.

[2015-05-31 01:29] vove9000 commented on #12
The info is provided in the tooltip and patch notes, and you disregard it.

[2015-05-31 02:40] vove9000 commented on #422
There was this book <a href="http://wowwiki.wikia.com/World_of_Warcraft_Bestiary">World of Warcraft Bestiary</a> containing information on mobs, their armor, resistances, etc. however I've seen it only once irl and don't remember exactly if it covered attributes. It was published a year after TBC launch so it should contain info on most of the mobs from TBC content. Can be bought at <a href="http:

[2015-05-31 08:17] nz54445 commented on #446
When you guys manage to debug this problem, you should take a look at #43 and #137, both of them are falling through the world issues (especially #43, since it does not seem to require a fear effect) and see if the bug can be reproduced there by the same steps. Maybe the same solution solves all three problems.

[2015-05-31 09:28] mdindoffer commented on #422
Well here you go: http://web.archive.org/web/20080913135323/http://petopia.brashendeavors.net/html/articles/stats_attributes.php
However, these are the stats of the pets after you tame them. I am not sure if they are the same when untamed.
// and here's the table for caster pets: http://web.archive.org/web/20080913033141/http://petopia.brashendeavors.net/html/articles/stats_casters.php

[2015-05-31 10:29] vove9000 commented on #422
Once you tamed the pet in tbc it received stats from its family, if you had any bird it had same stats as any other birds, only difference was the skin. It was like that back in the vanilla, best pet for hunter was an elite snow leopard from Winterspring because of its stats that prevailed upon taming.

[2015-05-31 11:10] mdindoffer commented on #422
Well of course it had stats from its family, but the base stats were the same for all families. The only thing a family influenced was additional modifiers applied to health, armor and damage. For example cats have +10% dmg and -2% health, but the base stats are the same.
http://web.archive.org/web/20080913135328/http://petopia.brashendeavors.net/html/articles/stats_families.php#stats

[2015-05-31 12:13] ceyscro commented on #12
Vove900, apparently you didn't play on retail so you don't know what you talking about. It's a fact, after 2.3 patch release the interrupt effect was instant. It's why there's some videos where interrupt isn't instant because it was recorded before 2.3, just show me ONE video after 2.3 patch where the interrupt is not instant, you could not because all movies will show an instant interrupt.

You h

[2015-05-31 21:23] vove9000 commented on #12
Actually I did play on retail but it has nothing to do with the topic here.

You keep on reposting the same info all over again, meanwhile I gave you like 4 proofs already it should interrupt on hit, after damage. This is blizzlike mechanic.

What you keep saying about school lock isn't actually accurate, why did you even stick so much to school lock? In those patch notes it clearly says that it i

[2015-05-31 21:27] vove9000 commented on #422
Ah, yes, I guess I didn't understand you right at first. I thought you said tamed pets have same attributes as the beast before taming it, that's why I said it was like that in vanilla but they changed it in tbc.

[2015-05-31 22:06] ceyscro commented on #12
As I said, if you going to not implant things because it was considering as a bug so vanish should not absorb spells and there would be no CCDelay or simultaneous cc and other things that make people nostalgic and still like the game as it was on TBC.
So your last post just agree with us, the interrupt was instant on retail. So it's how it should be on corecraft because it's Blizzlike and accordin

[2015-05-31 22:55] vove9000 commented on #12
My last post doesn't agree with you, I said the exact same thing earlier in this discussion. This still is a bug.

As to vanish I am not sure what you mean. You mean flying projectiles that hit you once you vanish and remove your stealth? But this was a bug and blizzard confirmed it, same as hunters' pets that kept chasing you even when you entered stealth. This is totally different mechanic, it's

[2015-05-31 23:48] ceyscro commented on #12
I mean that the ability of vanish to "absorb" any spell (no damages and no destealth) was a complete "bug" and a behavior that Blizzard didn't want, it's why Blizzard fixed vanish with Cataclysm, so if we take your argument corecraft should implant Cataclysm version of vanish? Please...

[2015-05-31 23:52] grandas commented on #12
I concur with that, little quirks and caveats like that is what made TBC unique and memorable for me.

[2015-06-01 01:34] vove9000 commented on #12
For your information there were no changes made to Vanish during Cataclysm content.

What you are talking about is improved vanish effect introduced during vanilla, because that skill was supposed to be a defense mechanic letting rogue use it to defend against incoming spells, and what happened was that even when the spell hasn't been casted yet (but almost) after vanish the spellcasting was finis

[2015-06-01 09:27] Argonn commented on #361
please fix the  wandering npc's. So many server don't have these simple npc's fixed.

[2015-06-01 13:01] tedrasiel commented on #549
Did u change the positioning of the totems towards the shaman who summons them?

[2015-06-02 17:56] ccshiro commented on #509
Tried for 30 minutes going into new instances and attempting to make this happen. I think I need to move this to needs testing and hope we can find what triggers the bug to happen for a particular instance.

[2015-06-03 00:29] whocares8310 commented on #509
This occurred during the same dungeon where we would crash while drinking and all of our weapon/armour proficiency would go away. This bug may be related to whichever crash was happening at the time.

Happened shortly before or after this bug and the related crashes.
https://github.com/ccshiro/cc-buglist/issues/450

[2015-06-03 20:07] ccshiro commented on #446
We can't figure out what happens. We will add some debug that triggers if you're teleported like that again, and hopefully it happens next test.

[2015-06-04 15:05] r4z0r84 commented on #408
http://pastebin.com/fQPMqXqM

too large to just paste here but I've gone through and placed trash in the correct place, this took me one month of solid work to get right, going off about 7 different youtube videos.
This is every trash pull in DM north, east and west.

[2015-06-04 19:16] ccshiro commented on #549
@tedrasiel yes, that should be correct now.

[2015-06-05 03:38] tedrasiel commented on #549
Awesome

[2015-06-05 14:11] Stoney21 opened #570 "[SPELL][MAGE]Scorch"
Scorch doesn't get any bonus from bonus spell damage.

EDIT: On absorb effects the damage seems fine but it still shows smaller damage than it should be.

[2015-06-05 14:30] Stoney21 opened #571 "[SPELL][MAGE]Fire Blast"
Fire Blast doesn't get any bonus from bonus spell damage.

EDIT: On absorb effects the damage seems fine but it still shows smaller damage than it should be.

[2015-06-05 14:34] Stoney21 opened #572 "[SPELL][MAGE]Arcane Blast"
Arcane Blast gets no bonus from bonus spell damage.

EDIT: On absorb effects the damage seems fine but it still shows smaller damage than it should be.

[2015-06-05 14:36] Stoney21 opened #573 "[SPELL][MAGE]Arcane Explosion"
Arcane Explosion gets no bonus from bonus spell damage.

EDIT: On absorb effects the damage seems fine but it still shows smaller damage than it should be.

[2015-06-05 14:42] honuk commented on #460
whelp, I've been testing for a few minutes on this latest test and if I haven't found the problem, I've certainly found a problem! windfury (and stormstrike!) don't have a crit coefficient. they "crit" as they should, and their crits appear to proc flurry, again as they should, but they don't do any more damage than a regular hit. I have some recount screenshots demonstrating this that I'll post l

[2015-06-05 14:43] Stoney21 opened #574 "[SPELL][MAGE]Flamestrike"
Flamestrike doesn't get any bonus from bonus spell damage.

EDIT: On absorb effects the damage seems fine but it still shows smaller damage than it should be.

[2015-06-05 14:45] Stoney21 opened #575 "[SPELL][MAGE]Cone of Cold"
Cone of Cold doesn't get any bonus from bonus spell damage.

EDIT: On absorb effects the damage seems fine but it still shows smaller damage than it should be.

[2015-06-05 14:52] Bzmode opened #576 "Dr Boom bugged after going being engaged"
when hit with seemingly anything he continues changing the way hes facing but stops releasing the bombs

[2015-06-05 14:55] Stoney21 opened #577 "[SPELL][MAGE]Frost Nova"
Frost Nova damage doesn't get any bonus from bonus spell damage.

EDIT: On absorb effects the damage seems fine but it still shows smaller damage than it should be.

[2015-06-05 14:59] Bzmode opened #578 "Shaleskin Flayer(20210) doesn't move even when being killed"
Engaged over 20 all the same result they didn't attempt to close in to attack they just died without a fight

[2015-06-05 15:00] Stoney21 opened #579 "Channeling Spells"
They get bugged after you lose a duel while channeling something. After such occurance your channeling spells will get broken all the time and you won't be able to channel anything until relog.

[2015-06-05 15:05] ccnim commented on #578
We need you to write .movegen --verbose on the target and taking a screenshot of the chat with the mob in view.

[2015-06-05 15:07] Bzmode opened #580 "Nether Ray(18880) his mind flay channel originates near the ground instead of on his mouth"
the beam begins in the wrong spot

[2015-06-05 15:24] Bzmode opened #581 "Push back occurs while shielded"
tested with PW:S and Ice Barrier

[2015-06-05 15:28] Stoney21 opened #582 "[SPELL][MAGE]Invisibility"
If a warlock uses his Detect Invisibility buff DURING mage's Invisiblity buff then a mage won't be able to see the buffed target. That's not intended.

[2015-06-05 15:42] #570 closed, assigned to nobody

[2015-06-05 15:42] #575 closed, assigned to nobody

[2015-06-05 15:43] #577 closed, assigned to nobody

[2015-06-05 15:43] #573 closed, assigned to nobody

[2015-06-05 15:43] #571 closed, assigned to nobody

[2015-06-05 15:47] #572 closed, assigned to nobody

[2015-06-05 15:47] #574 closed, assigned to nobody

[2015-06-05 15:49] Stoney21 opened #583 "Channeling AoE Spells"
The locations you choose while using spells like Blizzard or Rain of Fire gets bugged that it's used on player's location instead.

[2015-06-05 15:50] Stoney21 opened #584 "Crowd Control Issue"
You can't trinket CC like Polymorph or Blind and after it passes you can't move at all until relog.

[2015-06-05 15:52] Chulain opened #585 "item - lightning capacitator"
Cooldown shouldn't start on charges but after firing the bolt.
how to test: elemental mastery + chain lightning on 3 targets, you should shoot a bolt right away.

---

It has been confirmed on EJ boards that in patch 2.3, the 2.5 second cooldown is applied only after the lightning bolt shoots off. Thus, you cannot acquire the first of three charges until 2.5 seconds have gone after shooting the Li

[2015-06-05 16:09] Isuel opened #586 "maim and drain life, mind flay (maybe other channelled spells which deal damage), and maybe drain mana"
at this moment, if I cast maim, and a lock spams drains, or a spriest spams mind flay, the target still continues to take damage, but maim does not wear off, which brings the question if the channeled spells are direct damage.

[2015-06-05 16:10] Isuel commented on #586
I just tested with arcane missles and maim, and they are breaking it, while drain life and mild flay (haven't tested that one, but i noticed it on excalibur) aren't.
Also, is drain mana considered as direct damage? it breaks poly, but probably not maim.

[2015-06-05 16:15] Isuel opened #587 "drain mana and fear"
yet another question, should drain mana not break fears when it drains? it breaks polys, and I remember it being reported and fixed on a wotlk server.

[2015-06-05 16:36] darkcranio opened #588 "Infernal"
Well I lost my screenshot but whatever. So the bug is when I summoned the Infernal, it appeared invisible. It didn't attack any NPC on command except guards, I was ally in Crossroads. Also evaded to the point where it was summoned when the timer went off, it supposed to attack me first.
I had a succubus summoned and I was on a mount when I summoned the Infernal (hope this helps for recreate). Oh a

[2015-06-05 16:38] RealZwox opened #589 "Wand CD is on Collect Questitem CD"
https://www.youtube.com/watch?v=nc4HKV1ezTU

Sorry vor the Bad vid qual but my upload is atm not the best :D

[2015-06-05 16:50] rylaiii opened #590 "Movement bug - Nagrand NPC"
https://i.imgur.com/UN9ppJo.jpg /picture of the cave
https://i.imgur.com/kynByt9.jpg /picture of the npc pathing while in the cave
https://i.imgur.com/x1QiC6i.jpg / picture of where npc paths.
the Warmaul Warlock's Imp Minion also has pathing issues, he'll path just like the warlock does, but instead of pathing straight down into the cave, he'll go down the hill and run all the way back through th

[2015-06-05 17:02] ghost opened #591 "Yellow quest ?'s remain after turning in quests"
Continued quests in netherstorm that I had picked up during last test. Turning them in did not remove them (though they disappear if you relog).

[2015-06-05 17:25] Bugreporta opened #592 "Pvp Issues"
Had a duel vs a rogue (I'm a priest)

1 @ If he opens with sap into cheap/kidneyshot (while i'm still sapped). The sap will last basicly until i relog.

2 @ Another bug is i am unable to use pvp trinket on cheap/kidneyshot and blind. Have not tested with any other stun/cc.

3 @ As of current state, if you are blinded (in a duel) you can use any instant cast while sitting in the duration of the bli

[2015-06-05 17:30] rylaiii commented on #591
duplicate - #524

[2015-06-05 17:35] PolarCookie opened #593 "[arcatraz] negaton warp-master size"
when negaton warp-master creates a shadow ring that buffs and heals him, he grows in size
he grows indefinetly in size, until he is as large as the room
hitbox reaches far into the corridor leading into the room, so can't even kite properly

[2015-06-05 17:37] jovce17 opened #594 "[Druid] talent Nature's Grace is not working with starfire and moonfire"
moonfire and starfire crits dont proc nature's grace at all it only procs from wrath
https://www.youtube.com/watch?v=RQ_eiWHUQGA

[2015-06-05 17:38] Chulain opened #595 "npc - Azaloth"
http://www.wowhead.com/npc=21506

immune at first but can be attacked after resetting him

he should only be freed if you're doing the quest (u gotta use an item)
http://www.wowhead.com/quest=10637/a-necessary-distraction

[2015-06-05 17:38] Stoney21 commented on #592
https://github.com/ccshiro/cc-buglist/issues/584

[2015-06-05 17:47] Chulain opened #596 "npc - demon hunter supplicants"
http://www.wowhead.com/npc=21179

These npcs are dueling eachother on top of the black temple. When pulled only one of them will engage, the other one will reset. The mob you're fighting will reset after dropping to a certain health %.

Same goes for the other mob, even if he already reset when you pulled the other one.

[2015-06-05 17:51] sandfury commented on #596
I was there with my friend when we tried to aoe them and noticed the same issue, they will randomly disengage and start doing the animation they did before you engaged them and go back to their original position

[2015-06-05 18:00] Chulain commented on #596
same goes for Spellbound Terrorguards dueling Demon Hunter Initiates

http://www.wowhead.com/npc=21180
http://www.wowhead.com/npc=21908

---

& the Sunfury Summoners should be linked with the Spellbound Terrorguards

"Some of these mobs have a beam controlling a Spellbound Terrorguard. I sapped this guy and the Spellbound Terrorguard disappeared (only worked when the beam is on him). Tried multipl

[2015-06-05 18:06] mara1987 commented on #524
I confirm that the reputation issue is resolved. Now if you are not Friendly with Consortium you can't pick up the quest.

[2015-06-05 18:15] jovce17 commented on #594
i think it got broken when you were tweaking the thingy where it should proc when the spell is casted ( not when it lands )

[2015-06-05 18:33] ceyscro commented on #584
For what I've seen, you can move after these cc. The bug is on sap https://github.com/ccshiro/cc-buglist/issues/592

Then about trinket, I did not test every stuns but there are some you can trinket and others you can't.
You can't trinket sap,cheapshot,kidney shot, gouge

What I could trinket : fear, mind control, deathcoil, blind.

[2015-06-05 18:36] LikeVenom commented on #592
confirming. tested with druid's bash and couldn't trinket. cyclone as well.

[2015-06-05 18:39] Iglooz opened #597 "Pet lost it's basic ability when I trained it."
After I used beast training to upgrade my pet, it lost it's warp teleport ability and I cant get it back even after resetting the training points and dismissing my pet
picture: http://i.imgur.com/C1Lt61q.jpg

[2015-06-05 18:40] ceyscro commented on #592
Then about trinket, I did not test every stuns but there are some you can trinket and others you can't.
You can't trinket sap,cheapshot,kidney shot, gouge

What I could trinket : fear, mind control, deathcoil, blind.

[2015-06-05 18:43] PolarCookie commented on #593
some screenshots
looking up into the ceiling
![wowscrnshot_060515_194000](https://cloud.githubusercontent.com/assets/1158801/8012639/5b9e0c62-0bc3-11e5-8531-e3ae274c910f.jpg)

looking at his bottom
![wowscrnshot_060515_194003](https://cloud.githubusercontent.com/assets/1158801/8012601/27746b48-0bc3-11e5-8110-59501dd56c44.jpg)

dead after nim took care of him
![wowscrnshot_060515_194531](https://cl

[2015-06-05 18:46] PolarCookie commented on #593
another thing, he was listed as soul devourer in combat log

[2015-06-05 18:46] Edialden commented on #586
Works as intended, these spells are something like dot, not direct demage, although they are channeled. e.g. drain life, mana, mind flay does not push-back casters, they wont break maim, because its not dirrect dmg. AND Arcane missles does push-back casters, because it is dirrect dmg, separated into multiple missles, so it does break maim. Also. when you are affected by life drain, mana drain, min

[2015-06-05 18:53] Edialden commented on #587
xD why you ask on these stupid questions? It should break fear. So go ahead and test it yourself, then report outcome. Dont waste dev´s time, they make tests for us to find and report bugs, not to answer your retarded questions with no proofs or tests.

[2015-06-05 19:04] helion84 commented on #578
http://imgur.com/K6iOTFa

bug is very random some are just standing(bugged) some are working fine.

[2015-06-05 19:28] Chulain opened #598 "npc - gan'arg engineer"
http://www.wowhead.com/npc=16948
Currently Gan'arg Engineers spam their "throw dynamite" spell, they shouldn't  spam it, or atleast not full time.
It should also be dealing almost 10x more damage, it does 150 atm.

Guki on 2008/11/08 (Patch 3.0.3)
"they cast this whenever they damn well please T.T 1300 1290 1180 1260 1300 1298 _dies_ I HATE THEM"

[2015-06-05 19:59] Isuel commented on #587
well, thanks for answering, because IT DOESN"T BREAK FEAR AT THIS MOMENT, so instead of being an asshole, u can actually reply nicely.

[2015-06-05 20:13] Wtfeater opened #599 "Taxi between Eastern Plaguelands and Ghostlands"
Taking the taxi between Lights Hope and Tranquillen (or any other points between EK and Quel'Thalas Causes some wierd dismount bug and causes the taxi to act strange and fly an incorrect route to Tranquillen, Flying from Tranquillen to EK doesn't work at all ( you never remount, i waited 5 minutes once.)

https://vid.me/JPt9
Timestamps of the issues:
0:45 - 2-30 and 4:55 - 6:45

[2015-06-05 20:25] Chulain opened #600 "slow object respawn"
http://www.wowhead.com/quest=10422/captain-tyralius
The prison you need to unlock has a respawn time of 25min+ (server crashed) which is way too long.
I believe the object ID is 184588

key needed to open prison cell drops off Warden Icoshock id: 2077
npc respawn time: 3 mins (which is also too long imo)

[2015-06-05 20:28] Edialden commented on #587
Oh, my deepest apology :D.. and what about to write it as a fact and not as retarded question? it would save a lot of time for devs because they wont have to ask you for more info. AND you should create issues by following 'report guidelines' which can be also found on  pastebin. Read sticky thead first, then open ur mouth.

[2015-06-05 20:32] Isuel commented on #587
"save a lot of time" yeah, it takes so much time for a dev to close or move the bug report while players answer the question.

[2015-06-05 20:33] Noobzin commented on #583
I can confirm that, tried to AOE farm with mage, same issue. Doesn't matter where you cast it, it always gets channeled on top of you.

[2015-06-05 20:48] Bugreporta opened #601 "Pvp - Ruins of Lordaeron"
This bug happend twice in Ruins of Lordaeron, i get feared next to the pillar in the center and i basicly fall through the ground, spawned ontop of pillar 10 seconds later.

[2015-06-05 20:59] Chulain opened #602 "movement bug - Collidus the Warp-Watcher"
https://www.youtube.com/watch?v=VZLmY6vcaUw
http://i.imgur.com/D5cql2S.png

npc id: 18694

[2015-06-05 21:03] Chulain commented on #602
sorry about quality, should be fine next time tho

[2015-06-05 21:03] RealZwox opened #603 "QuestBug: Burn It Up For the Horde!"
https://www.youtube.com/watch?v=9IoaP8tOCHE

Target not in line of sight

[2015-06-05 21:10] Chulain opened #604 "pathing bug - mageslayer"
http://i.imgur.com/Ay3yfau.png
npc id: 18866

[2015-06-05 21:10] RealZwox opened #605 "Pathing Bug: The Underbog"
http://i.imgur.com/1Y45SyF.jpg

Pull them with my Range Weapon from this Position -> Evade

[2015-06-05 21:13] #601 closed, assigned to nobody

[2015-06-05 21:13] Bugreporta commented on #601
Couldnt reproduce it

[2015-06-05 21:38] shadowraider commented on #586
can confirm that maim should not break from dots, but only maim, other incapacitate effect should

http://wow.allakhazam.com/wiki/incapacitate_%28wow%29

[2015-06-05 21:41] Bugreporta opened #606 "Targeting - Wand"
To produce this bug you need 2 target dummies

Start wand attacking Dummy 1.

Now change target to dummy 2, and watch how you are still attacking the first targeted dummy.

This is a bug.

Noticed in arena while removing totems, quite fatal bug.

[2015-06-05 22:19] flerbu commented on #446
please i want that ui.:O

[2015-06-05 23:40] Bzmode opened #607 "Nuramoc(20932) has a strange out of combat movement pattern"
he seems to be trying to fly it's hard to explain and I can't video it because I wanted to see if he had other bugs https://www.youtube.com/watch?v=fhIdSr6FPXc is a video from 2007 where you can see how he casts his lightning bolt from both mouths here is a more recent and clear video https://www.youtube.com/watch?v=Mi89inIx5z8

[2015-06-05 23:53] matalm opened #608 "Windfury Weapon - Proc bug"
Bug:
When only the main hand weapon is enhanced with Winfury Weapon, off-hand hits can proc WF.
This bug seems common as I've seen the same bug being reported on other private servers.

Reproduce:
Enhance the main hand weapon with Windfury Weapon.
Equip a fast off-hand and try to observe that WF procs when an OH hit lands.

Both these images shows that no main hand hit landed when WF procced.

![c

[2015-06-05 23:56] #581 closed, assigned to nobody

[2015-06-05 23:58] Fraaxington commented on #583
Confirmed with Hunter's Volley spell as well. Appears to be only channeled aoe spells as stated above.

[2015-06-06 00:22] Bzmode opened #609 "Ghost being teleported to GY"
when you die inside an instance and then reset all instances while running back your ghost will be sent back tot he graveyard when you go through the portal

[2015-06-06 00:44] magikalCC opened #610 "[Hunter] pets able to attack while feared"
Tested against a priest. If he was in range while the pet was feared it would claw him.
Only claw, no normal damage.

[2015-06-06 00:49] magikalCC opened #611 "[Hunter] volley only casts ontop of the hunter"
Only rains down where you're standing.

[2015-06-06 00:58] magikalCC opened #612 "Silvermoon event"
When one elf says: You speak of her as a friend? You are a fool. This "Dark Lady" is not sylvanas.

Sylvanas is not capitalized.

[2015-06-06 01:08] magikalCC opened #613 "Skithian Windripper's buff cannot be dispelled"
Power of Kran'aish (magic) spell and ability costs are decreased by 5%
Couldn't spell steal.

[2015-06-06 01:20] magikalCC opened #614 "[Hunter] [Warlock] pets follow too closely"
The pets stand almost on top of the player. They are supposed to stand further away.

https://youtu.be/pJcXFjwj4QQ?t=1m37s

[2015-06-06 01:28] magikalCC opened #615 "Feared past the Karazhan gate"
Duelling outside of Karazhan, feared under the stairs and past the gate.

https://imgur.com/a/6kl1l#0

[2015-06-06 01:33] magikalCC opened #616 "[Arcatraz] traps in doorways are placed above everyone"
https://i.imgur.com/EG2cVPn.jpg

[2015-06-06 02:31] Bzmode opened #617 "(Priest) Spirit of Redemption"
you can't cast max rank heals via keybind to (1,2) while in Spirit of Redemption but you can cast lower ranks

[2015-06-06 02:32] Bzmode opened #618 "(Warlock) Pet behavior"
Pet attacks the new target even when not commanded to when you use a ranged spell such as spell lock on the felhunter it should counterspell the target but continue to attack the target it was told to attack.

[2015-06-06 02:46] ScottNasher commented on #611
Looks like other spells too. for example mage blizzard

[2015-06-06 02:50] #612 closed, assigned to ccnim

[2015-06-06 04:18] Bzmode opened #619 "(Pathfinding) Umbrafen Village"
http://i.imgur.com/cET156M.jpg these stairs and the upper room are all very bugged mobs will not follow you nor even cast

[2015-06-06 05:12] tasinx commented on #587
Definitely something fishy going on with fear. I was testing fear breaking on damage and I noticed I could put all affliction warlock dots up (UA, Siphon, Corruption, Agony, and Drain Life) on a pvp geared toon and take him from 80% to dead without fear breaking, while a minute later it would break a second after I feared. Easy to reproduce, just took doing this in duels over and over for a few mi

[2015-06-06 05:38] lynxzor commented on #611
Duplicate #583

[2015-06-06 05:41] Bzmode opened #620 "Razorthorn Rise in Hellfire Peninsula"
seems to  be completely unpopulated
Missing:
npc=24922
npc=24920

[2015-06-06 05:55] lynxzor commented on #613
Can't dispel and buff not available when you MC the mob either.

[2015-06-06 05:56] helion84 commented on #620
Those are for Shattered Sun Offensive daily quests, that's why they are not spawned.

[2015-06-06 06:12] Bzmode opened #621 "(Hunter) Hunter's Mark"
When you cast hunters mark on an Orc Male it doesn't play his casting animation the target just gets debuffed purely cosmetic

[2015-06-06 06:20] lynxzor commented on #619
http://i.imgur.com/R4EamLx.jpg. Had no issues with similar buildings in Nagrand.

[2015-06-06 07:18] #620 closed, assigned to nobody

[2015-06-06 07:19] ccnim commented on #621
The animation was removed in TBC

[2015-06-06 07:19] #621 closed, assigned to nobody

[2015-06-06 08:20] Bzmode opened #622 "(Mechanar) Normal/Heroic?"
The gate at the top of the elevator attached to the second boss remain locked after we killed both Gatewatchers combining their keys, using them and killing the first boss.
http://i.imgur.com/UNs9CAA.jpg

[2015-06-06 08:43] nz54445 commented on #606
Did you actually attack the other dummy or just click it? If you don't issue any attack orders, you can select as many targets as you want, and still be auto attacking your first target.

Take for example healing. If you are casting a long heal spell (like greater heal) and you switch your target in the middle, you are not supposed to heal the target you switched to, you are supposed to heal the t

[2015-06-06 08:49] Chulain opened #623 "pet training points"
tamed a pet it had 32768 training points at loyalty lv 1
![wow_2015_06_06_15_33_41_504](https://cloud.githubusercontent.com/assets/10247793/8019978/3b90c22a-0c68-11e5-8a5c-7ca99d4154ca.png)

[2015-06-06 08:59] Voodopad commented on #204
![wowscrnshot_060615_115623](https://cloud.githubusercontent.com/assets/10586701/8019051/5e3cbf10-0c43-11e5-92f9-9810d4415b6e.jpg)

Managed to put one of them underground after agroing them with mount while flying low. However if I agro them again and fly up, they reset back to normal.

[2015-06-06 09:18] nullfoxh opened #624 "[Rogue] Distract issues"
I found a couple of issues with rogue distract:
1. Mobs face weird directions or just nudge a couple of degrees.
2. The visual "smoke" effect should show at the position clicked, not under a mob affected by distract.
3. Skill range is larger than the visual indicator (not sure if bug).

How to reproduce? See video:
http://webm.host/ff04c/

[2015-06-06 09:20] Bzmode opened #625 "(PvP) Loss of control"
Some times after losing control to a CC or Iceblock(seems to be any cc) you never regain it until you relog even after switching zones. You can't use abilities talk to npcs or mount up. We tried hard to reproduce it on purpose but it seemed random :(

[2015-06-06 09:28] ccnim commented on #613
It's actually a debuff they put on themselves, that's why you can see the blue border. Why blizzard decided to have mobs debuff themselves is unknown to me.

[2015-06-06 09:31] lynxzor commented on #613
From wowhead:

2.1.0 "A priest can mind control the sorcerers or windrippers and cast this spell on themselves and any friendy target. It lasts for 5 minutes."

2.2.3 "can be Spell stolen from Skithian Windrippers as well"

[2015-06-06 09:32] Chulain opened #626 "mutli shot"
multi shot hits targets behind you
https://www.youtube.com/watch?v=T3LZWQu8fd0

---

multi shot can hit targets much further away than your max range
https://www.youtube.com/watch?v=wZWyJpvz9TA
altho i think it should add a few yards to the limit but this seems to be a bit too much? idk

[2015-06-06 09:42] Voodopad commented on #114
Alliance ships worked fine yesterday. Today I decided to test horde zeppelins, my toon was in stv on zeppeling for UC (i left him there during the test in January) when he went to UC server crashed I decided to test the other zeppelin to Ogrimmar it worked fine in both directions, I decided to go to UC from STV again and server crashed again. However when I came back to test other zeppelins from O

[2015-06-06 09:44] Chulain opened #627 "aggro'd a mob that couldn't reach me"
aggro'd a mob that couldn't reach me
http://i.imgur.com/b7X5Maa.png

targetting my pet but also happened without pet

[2015-06-06 10:23] Voodopad commented on #45
Could not find such Mangy Wolf near Crystal Lake.

[2015-06-06 11:09] honuk commented on #460
turns out the no crit thing only happened early on in the test. when I logged on later WF and SS were critting normally. if you guys didn't hotfix, I have no idea what happened.

[2015-06-06 11:13] thorhj commented on #509
Happened for my group in Heroic Shadow Labyrinth. At first the summoning worked, but later group members were unable to press the portal. We disbanded and remade the group during the run, so that may have been a factor.

We did not have a problem with the soulwell.

[2015-06-06 12:12] magikalCC commented on #619
Tested this in Daggerfen Village, same kind of building. The mobs couldn't follow me up the stairs. They reset after about 30 sec. The ones at the top couldn't follow me all the way down.

[2015-06-06 12:35] Aldergar commented on #624
Confirmed,I was doing ramparts and a rogue used Distracting Shot a couple of times and the mobs were facing random directions.

[2015-06-06 13:21] third0ne opened #628 "orc shaman racial display bug"

[2015-06-06 13:24] third0ne opened #629 "orc shaman racial display bug"
'Blood fury' in spellbook display base value on lvl 1, after lvling it still display same. After using it give proper value of Attack power.
Another one is racial with axe skill, dont know if it work as it rather hard 2 check if i got 355 or 350. but it does not display in skills chart +5 weapon skill i got from racial.

[2015-06-06 13:24] #628 closed, assigned to nobody

[2015-06-06 13:24] Chulain commented on #623
no idea how i got it tho, i cant seem to reproduce it

[2015-06-06 13:35] third0ne opened #630 "Corpse marker"
after rezzing at graveyard corpse marker remains on map till get into it.

[2015-06-06 13:45] Bugreporta commented on #606
Melee Autoattack (Rightclick) is different from wand attacking, its not suppost to be like it is atm, any caster who ever used a wand should know that.

[2015-06-06 13:54] netherspite opened #631 "Escape from Firewing Point! - wrong message & weird NPC respawn time"
When you fail the quest the NPC (Isla Starmane) still thanks you for helping her escape (check the chat  on the screenshot)...
Also, I was killing mobs here for 30 minutes and she didn't respawn. I guess her respawn timer is kinda too high.
![wowscrnshot_060515_180456](https://cloud.githubusercontent.com/assets/5777848/8019862/aabc4288-0c6c-11e5-9e30-130ac513aab1.jpg)

[2015-06-06 13:59] Bzmode commented on #625
managed to reproduce it http://www.twitch.tv/faleene/c/6797955 "Cannot do that while confused"

here's another example http://www.twitch.tv/faleene/c/6797961 it seems when you stack CC this happens.

[2015-06-06 13:59] netherspite opened #632 "Getting quest to kill 21 mobs done in 1 minute? Easy! Use your diplomacy skills xD"
In quest "Kill the Shadow Council!" if you keep the disguise on you, you can do the quest by simply talking to all the mobs you need to kill.
... and even to the same mob multiple times to get multiple kill credits!
![wowscrnshot_060515_190546](https://cloud.githubusercontent.com/assets/5777848/8019869/fd9eb47c-0c6c-11e5-9266-7775201354d0.jpg)
![wowscrnshot_060515_190623](https://cloud.githubuserc

[2015-06-06 14:02] netherspite opened #633 "Pathing issues with mobs in Terokkar Forest"
As you can see on the screenshot, that wolf is really afraid of going in the water. IIRC mobs could easily follow you by swimming through the rivers on retail.
Also, even if we ignore the path through the river, the wolf could definitely get to me by the bridge but decided to stay on the other side of the river staring at me and keeping me in combat.
I've used the movegens command to dump his move

[2015-06-06 14:06] netherspite opened #634 "Torgos quest is bugged (not completeable)"
When I summoned Torgos for the quest and spawned Water Elemental to assist me, Torgos took my ele in target but kept flying above ground, being unattackable and not attacking anyone either. He also was chasing my Water Elemental in some weird manner (staying in place for some time and then "blinking" to the ele position).
I tried dismissing the ele and Torgos stopped targeting anyone and moving. H

[2015-06-06 14:10] netherspite opened #635 "Quest "Taken in the Night" is broken"
I've freed three Sha'tari Warriors but didn't get a single quest credit.
![wowscrnshot_060615_164505](https://cloud.githubusercontent.com/assets/5777848/8019911/f8b3cc66-0c6e-11e5-80b7-e1a192e19ccd.jpg)

[2015-06-06 14:13] Bzmode opened #636 "(Rogue) Vanish"
http://www.twitch.tv/faleene/c/6797980
Vanish doesn't drop enemy target, allowing me to cheap shot after target vanishes. Also breaks player frame permanently.

[2015-06-06 14:16] ccshiro commented on #630
Doesn't happen to me when testing. Need a screenshot or something to show it.

[2015-06-06 14:17] ccshiro commented on #629
Duplicate of #175.

[2015-06-06 14:17] #629 closed, assigned to nobody

[2015-06-06 14:17] Bzmode opened #637 "(Warrior) Charge/Intercept"
No path no problem!
http://www.twitch.tv/faleene/c/6797992
Able to charge when no real path available

[2015-06-06 14:19] ccshiro commented on #627
This doesn't look like a bug, would be nice with a video to see what happens just in case.

[2015-06-06 14:20] ccshiro commented on #626
Multi-shot, while looking like a cone AoE, is actually a chain lightning-type spell internally. So the second video is definitely working as intended. The first one might be a bug though.

Some video from TBC would be nice to prove it bugged.

[2015-06-06 14:27] Chulain commented on #627
heres what happened: i flew down there and aggro'd them, dismounted and ran around a bit which caused them to reset after a second or two

[2015-06-06 14:34] ghost commented on #636
Vanish didn't drop enemy target on retail either, for a very very short period of time, allowing you to cast spells through vanish\* if you timed it right. I definitely used to do this on retail during WotLK with sap/cheap shot and vanish/shadow dance, and blind. I was aware of this existing back in TBC too, maybe I'm wrong. That being said, I'm not sure if it should be this easy (or if this is th

[2015-06-06 14:40] ccshiro commented on #637
I have distinct memories you could charge people jumping down from WSG roof in vanilla as they were mid-air. We probably want some research before we remove this mechanic. It's a mechanic we purposely implemented when we did pathing changes.

[2015-06-06 14:48] ccshiro commented on #617
Unable to make this happen. Do you have a video of it perhaps?

[2015-06-06 14:52] #611 closed, assigned to nobody

[2015-06-06 14:59] nz54445 commented on #606
Seems like according to wowwiki: shoot with a wand is interrupted when switching a target. You have to manually start shooting again on the second target.

Autoshooting with a bow or gun is not interrupted and behaves correctly. As shoot is a type of autoattack, i assumed it would behave the same way. It does not.

http://wowwiki.wikia.com/Wand
http://wowwiki.wikia.com/Auto_Shot

Protip, you might

[2015-06-06 15:00] Klvn123 opened #638 "[Hunter] Steady shot"
Steady shot does not add additional damage. Can fraps recount if needed, but its pretty clear it does not add any damage.

[2015-06-06 15:01] ccnim commented on #610
This is most likely fixed with one of the hot fixes we added yesterday, could you verify that it's still in the game?

[2015-06-06 15:05] ccnim commented on #607
I haven't fixed rare mobs in TBC yet, so I will just close it since I will be going through them anyways.

[2015-06-06 15:05] #607 closed, assigned to nobody

[2015-06-06 15:12] nz54445 commented on #637
https://www.youtube.com/watch?v=vK3IqseGEQE you can see a warrior charge mid air to the target at 0:03 and 0:20,

Also this:

It is possible to charge mid-air if timed right; this can save the warrior time if they're being knocked over a cliff or other hazardous environments.

From http://wowwiki.wikia.com/Charge

You can definitely charge mid air to save yourself the fall damage.

Also discussion

[2015-06-06 15:27] ccnim commented on #602
Rare mobs have not been done yet, I will go through them and fix them at a later date so I will close this issue.

[2015-06-06 15:27] #602 closed, assigned to nobody

[2015-06-06 15:27] Dpthx commented on #638
It works just fine for me. Perhaps you're not reading the tooltip, it only adds damage when the target is dazed

[2015-06-06 15:28] Wtfeater opened #639 "Rogue Poison Quest: Deep Cover"
During the Quest Deep Cover You're supposed to make an npc friendly by using flares and the /salute emote. This works, and he does turn friendly but you can't turn in your quest to him. This is fixable by relogging.

[2015-06-06 15:34] LikeVenom opened #640 "[Druid Trinket] Living root of the wildheart - not proccing at all"
"Equip: Your spells and attacks in each form have a chance to grant you a blessing for 15 sec."

i know SSC isn't supposed to come out on the first release, but either way, a bug is a bug. tested for about 10 minutes and didn't get any procs, regardless of doing damage in cat, bear or healing with spells.

[2015-06-06 15:35] ccnim commented on #639
There is no need to report vanilla content bugs unless they are abusable. I will eventually do this quest since Im working through vanilla so I will close this issue.

[2015-06-06 15:35] #639 closed, assigned to nobody

[2015-06-06 15:35] Wtfeater opened #641 "[Minor] Rogue poison quest: Mission: Possible But Not Probable"
For this quest you're tasked with killing some npcs, killing Grand Foreman Puzik Gallywix for his Head and looting the chest he is guarding for the item: Cache of Zanzil's Altered Mixture. The grand foreman however, seems to drop both the head and the mixture, making the chest obsolete. The chest does contain the mixture if you decide not to loot it from the Foreman though.

[2015-06-06 15:36] ccshiro commented on #592
1 and 3 should have been fixed already. 2 is bugged, but duplicate of #584.

[2015-06-06 15:37] #592 closed, assigned to ccshiro

[2015-06-06 15:38] ccshiro commented on #591
Duplicate of #524. Please post instructions how you achieved the bug there.

[2015-06-06 15:38] #591 closed, assigned to nobody

[2015-06-06 15:38] ccnim commented on #641
I'm working on vanilla currently so there is no real need to report them since we haven't done it yet.

[2015-06-06 15:38] #641 closed, assigned to nobody

[2015-06-06 15:39] ccshiro commented on #589
I'm not sure that this is a bug, needs research.

[2015-06-06 15:40] Chulain commented on #638
base weapon dmg + x, additional y  against dazed
![283e8918-0c73-11e5-9b6f-44ccaa9f23d6](https://cloud.githubusercontent.com/assets/10247793/8023250/98a5b516-0d02-11e5-8e51-f9bf89d60ab3.png)

[2015-06-06 15:45] ceyscro commented on #636
Yeah as SorcerersApprentice said, for a short period of time you see target while vanishing.
Absolutely normal behavior, this is what allows vanish to "absorb" stuns or to stuns to break vanish.
Here a screen from retail video :
http://image.noelshack.com/fichiers/2015/17/1429818246-vanish.png

[2015-06-06 15:48] magikalCC commented on #610
Seems to be fixed.

[2015-06-06 15:49] ceyscro commented on #625
Yeah that happen when you stack CC.
I noticed that with rogue's Sap, when you sap and then cheapshot or kidney, target can't move then. But with sap + blind he can, so I think it does not happen with all CC.

In this report https://github.com/ccshiro/cc-buglist/issues/592

Shiro told that it should have been fixed, isn't it?

[2015-06-06 15:51] ccshiro commented on #586
Maim only breaks from direct damage.

[2015-06-06 15:51] #586 closed, assigned to nobody

[2015-06-06 15:53] Bzmode commented on #637
charging to a grounded target has always been a thing and charging people mid jump which was used in the old blades edge arena with no ropes to make them fall. I'll continue to do research.

[2015-06-06 15:59] LikeVenom commented on #640
please delete. i've gotten some procs now. dunno why didn't they occur earlier tho and for a long while :S sorry for posting.
the proc rate is really low. got like only 2 procs in 10+ minutes, of which one of them was on casting prowl.

[2015-06-06 16:05] Bugreporta commented on #606
In this obvious case, i really hope i dont have to provide evidence.

Also, it's not interrupted when switching target, if your target is in range of the autoshoot, you should keep wanding your new target.

[2015-06-06 16:08] ceyscro opened #642 "[Rogue] Sap with target moving."
When a target is moving and you sap it, it still moving during a little period of time so you can't do anything on it until sap ends. Does not happen when target is not moving.

Here  the video to see the strange "movement"

https://www.youtube.com/watch?v=anDdeBUH-EE

EDIT : It does not happen every time but very often, sometimes happen with other stuns too.

[2015-06-06 16:09] ccnim commented on #460
We did a hotfix for the issue.

[2015-06-06 16:21] ccshiro commented on #580
The position the beam originates from should be dependent on the spell. Unless the spell is wrong, this is probably not a bug. Nim tried on retail and it's the same there.

[2015-06-06 16:21] #580 closed, assigned to nobody

[2015-06-06 16:24] ccshiro commented on #579
Unable to reproduce, could you provide a video please?

[2015-06-06 16:29] mr2tal opened #643 "Ritual of summoning not working in netherstorm"
Have tried using Ritual of summorning in the netherstorm, and i got the "you can not use it here" error,
Will try test in other zones too.

Image: http://imgur.com/88chexL

Tested Ritual of summoning in shattrah and it works there.

Update: works fine in any zone, except netherstorm, tested near the tempest keep and area 52

[2015-06-06 16:41] mr2tal opened #644 "Ritual of summoning not working in netherstorm"
Have tried using Ritual of summorning in the netherstorm, and i got the "you can not use it here" error,

Image: http://imgur.com/88chexL

Tested Ritual of summoning in all other outland zones, no issues there.

EDIT: not a bug, didnt know it was intentional.

[2015-06-06 16:44] #644 closed, assigned to nobody

[2015-06-06 16:50] RealZwox commented on #589
^ same. Only wanding is on the same CD. Tryed with AE and other things.

[2015-06-06 16:55] maronics commented on #638
Actually, I can relate.
![steadyshot](https://cloud.githubusercontent.com/assets/12777028/8020558/8ca5d866-0c7d-11e5-8d3f-9d680593193d.jpg)

Minimal difference in damage.

Edit: More testing.
![steadyshot](https://cloud.githubusercontent.com/assets/12777028/8022193/207cf648-0cc2-11e5-93ee-83c414e74481.jpg)

The little discrepancy in overall damage comes from 4p t5 which ich just realized after all

[2015-06-06 17:02] mr2tal opened #645 "Unable to use spells because they person is fleeing after loosing a duel"
Feared a mage and won the duel while he was fleeing. after he was unable to use any spells, as he was still counting as "fleeing"

[2015-06-06 17:02] RealZwox commented on #509
I notice when more than 2 ppl can klick on the summ it bugs.

[2015-06-06 17:03] maronics opened #646 "Dismount while MCd keeps you flying"
You duel a priest near an area where you get dismounted, mount up, get mind controlled and flewn into the dismountarea on your flying mount. You still fly. Either with basic move speed or with full mount speed, I couldn't find factors that influence the speed. It just happens.

While in air, you can use basics and instant spells.

https://youtu.be/0frYt3QGIqs?t=6s

[2015-06-06 17:17] ccshiro commented on #584
Here's some debug linked to me: http://imgur.com/4x6vARK,XLqiX6u#0

[2015-06-06 17:28] Shanwerd opened #647 "Hellfire Ramparts first pull pathing issue"
If I distract and sap one of the guards at the bridge and engage the other one the sapped guard will remain frozen in place when sap ends

[2015-06-06 17:34] Doope opened #648 "holy paladin t5 4 piece set bonus"
Flash of Light crit properly gives you the 0.5 cast speed for the next holy light, on the other hand Holy Light crit doesnt give you anything. It might be bugged like Druid's nature grace talent or it doesnt work at all. Seems like the buff consumes itself.

note: when i crit with holy light i cant get the effect for 1 min which is working correctly

[2015-06-06 17:39] Klvn123 commented on #638
if ill have a chance ill record aswel, but i did around 300k in damage and auto shot and steady shot had the same damage if you take away crit RNG. What i mean by that is that average damage of auto shots and average shots of steady shots were close to exactly same.

[2015-06-06 17:41] kikomir commented on #593
We encountered this too. Another problem is his size and buff stacks don't reset after a wipe so next time you pull him he starts with 5-6 stacks.

[2015-06-06 17:52] ccshiro commented on #647
Please report movement issues as described in the paste, namely:

[2015-06-06 17:53] ccshiro commented on #643
This is the intended behavior.

[2015-06-06 17:53] #643 closed, assigned to nobody

[2015-06-06 17:54] ccshiro commented on #637
@Bzmode hm, that does cover what I remember. Maybe it's impossible if you're grounded yourself.

[2015-06-06 17:56] ccshiro commented on #640
If you think there's no bug you can close the issue yourself. No one can actually delete it though, I think.

[2015-06-06 18:11] Klimpb opened #649 "Movement bugs with charge/death coil"
Talked to my target on mumble as it happened, on his screen things looked just fine, but on my screen it skipped the death coil movement and just teleported him to the location after it was done.

http://webm.host/2b8c6/vid.webm

I also saw it at a few other times, often with spells combined with someone using charge.
I don't remember stuff like this happening on the previous test

[2015-06-06 18:24] Klimpb opened #650 "Devour magic doesn't remove stealth"
http://webm.host/96e64/vid.webm

Fairly sure that this is a bug.

[2015-06-06 18:39] Twizzerious commented on #648
this may not be a bug,
Were you speced into Lights Grace in the holy talent? Because Lights grace buff will override the t4 set bonus buff. So what is probably happening is you are recieviung the t4 set buff then it is being overriden by the Lights Grace buff.

[2015-06-06 18:42] ccshiro commented on #650
Stealth is not a magic buff, so I don't think it should?

[2015-06-06 18:54] netherspite opened #651 "Quest Fumping: incorrect behavior"
1. Worms should knockback you when they spawn.
2. There should be animation with 3 barrels flying around the worm for the first several seconds after the worm spawns.
3. Worm should not instantly blink behind you it should rather get under the ground and get back up with the animation.

Found this video: https://www.youtube.com/watch?v=0gEPHd6ecO8
It is from 2013 but this behavior didn't change si

[2015-06-06 18:55] Klimpb commented on #650
@ccshiro well of course but I was more thinking because the rogue got hit by a spell, kind of like curse of elements doesn't do any damage but it removes stealth.

Not sure if it's the same for devour magic.

[2015-06-06 19:02] netherspite opened #652 "One of the Boulderfist Invaders at the border between Terokkar Forest and Nagrand is walking in the ground"
I guess it's the specific location where he goes underground.
Attached a screenie.
![wowscrnshot_060615_212644](https://cloud.githubusercontent.com/assets/5777848/8020982/bd7cce44-0c97-11e5-965e-ee5192f139a1.jpg)

[2015-06-06 19:05] netherspite opened #653 "Don't Kill the Fat One quest is bugged"
First of all, out of 6 times I tried to get Unkor the Ruthless talking to me 5 times he just died and never became green.
![wowscrnshot_060615_214928](https://cloud.githubusercontent.com/assets/5777848/8021006/29ad7514-0c98-11e5-8f1d-94a606bea826.jpg)

One of these 6 times he became green but was stuck running in place.
![wowscrnshot_060615_213045](https://cloud.githubusercontent.com/assets/577784

[2015-06-06 19:09] Doope commented on #648
http://www.wowhead.com/itemset=627/crystalforge-raiment#comments

-"Does anyone know if the 4 piece set bonus stacks with Light's Grace?"
-"Yes it does and stacks with any spell haste you may actively have at the time."
-"Yes it does indeed! If you happen to have all 3 buffs up it makes holy light a 1.5Second cast, just like flash of light! Take note- set bonus procs once per minute. it funs but r

[2015-06-06 19:10] ConfusedCC opened #654 "Mage iceblock frozen mid air"
if you iceblock while mid air you stay at that location until iceblock wears off or you click off the buff.
https://www.youtube.com/watch?v=1zGAircD10E

This video suggests you should continue to travel with iceblock on
https://youtu.be/z-uwu5wGSS8?t=31s

[2015-06-06 19:19] TheVcelar commented on #638
works fine for me... here is calculation:
SteadyShotDamage = DamageModifiers_(150 + (WeaponDamage/WeaponSpeed)_2.8 + 0.2*RAP + [Dazed: 175])
dont forget armor

[2015-06-06 19:25] Twizzerious commented on #648
then that is what seems to be the bug. You can replicate it by casting a holy light (non crit). this will give u the lights grace buff. Then cast divine favor - flash of light forcing it to crit. You should now have both the lights grace buff and the 4 piece bonus buff.

Right now they are not stacking. Probably should edit your post or title

[2015-06-06 19:35] netherspite commented on #653
More information: I managed to find the conditions of him becoming green. He only becomes green if you beat him AFTER killing 10 of the other ogres (Boulderfist Invaders) and does that only ONCE.
On the second attempt when you already have "Unkor Submits" quest credit completed, he won't become green and will just die.
Both of those conditions are wrong.
http://www.wowhead.com/quest=9889/dont-kill

[2015-06-06 19:45] netherspite commented on #653
Finally managed to complete the quest.
After he became green I immediately ran far enough away out of visibility range then ran back and turned the Q in before he evaded.

[2015-06-06 19:46] cdreipo commented on #624
im not sure if theis is the right place and im not 100% sure of the bug, but
after distracting and sapping the target always stays in one place and can just be ranged killed.

[2015-06-06 19:50] TheVcelar opened #655 "[Hunter] Winderpent's Lighting Breath ability scales with RAP"
bug: Lighting Breath scales now with RAP. It should NOT.

LB dmg should scale only with %-dmg modifiers like orc racial, pet species, ferocious inspiration, pet mood, etc.

proof here: https://www.youtube.com/watch?v=1foguXp-xts
retail Brutallus kill - SV hunter POV with wind serpent:
     - +7% pet species (wind serpent)
     - +25% pet mood
     - +3% and +3% Ferocious inspiration (not 100% upti

[2015-06-06 19:53] RealZwox opened #656 "Sethekk Halls: Fear / Stun Bug"
Wenn you get feard by  him: http://www.wowhead.com/npc=18325/sethekk-prophet#abilities  (http://www.wowhead.com/spell=27641/fear )

At get stuned at the same time from http://www.wowhead.com/npc=18321/sethekk-talon-lord#abilities
( http://www.wowhead.com/spell=32654/talon-of-justice )

When the Fear breaks you are Bugged and can do nothing only move ( You cant do dat while fleeing )

[2015-06-06 19:55] magikalCC opened #657 "[Hunter] pet bugs after using a portal from Shattrath"
Taking a portal to any city from Shattrath while on a mount will bug your pet. You can't dismiss or call it. If you take a portal on foot it works fine.

[2015-06-06 20:03] KuroiKensai opened #658 "Critical Strike visual bug"
My 70 lvl nude undead rogue must have 4,18% + 5% from talent, but ingame menu show 0.00%.
When I start to put closes on - it still say 0.00 till some moment. I must have about 17% of crit, but it shows only 7%. I think % are working fine, but displayed wrong.

[2015-06-06 20:23] Gerelos opened #659 "Ryosh Honey Bread incorrect quantity"
Ryosh, the General Supplies vendor in the Draenei starting area Crash Site, is selling Honey Bread individually for the price of 5.  He should be selling 5 Honey Bread at a time, instead of individually.

[2015-06-06 20:33] Lephidiles commented on #619
adding my screenshot as well http://i.imgur.com/SC4VUkZ.jpg

[2015-06-06 20:35] Lephidiles opened #660 "Pathing in the cave east of Falcon Watch"
Standing where my char is here the pet run out of the cave and to the top above me
http://i.imgur.com/jFeOjku.jpg

[2015-06-06 20:37] Lephidiles opened #661 "[QUEST] The Seer's relic"
I do not know why this happened, but first time i used the item to complete this i followed the npcs and watched the rp but the quest did not compete. Next time i used the item i just stood still at Sendai's corpse and the quest completed after the rp had finished

[2015-06-06 20:41] KuroiKensai commented on #658
After playing for a while it started to show correct %. Dont know what was the cause, maybe insta 70 lvl.

[2015-06-06 20:42] Voodopad opened #662 "[Quest] To Legion Hold"
Event seems to be working correct but in the end you don't get credit for the quest. Tried it on different positions around the communicator and still same result.

http://youtu.be/QIdLa5NtI9s

[2015-06-06 20:50] cdreipo opened #663 "Slave pens Fear"
The champions in Slave pens cast a fear.
After the fear runs out my Undead rogue was still fleeing although i could run around normally.
But i couldnt attack.

[2015-06-06 20:52] KuroiKensai opened #664 "VERY LOW vision distance"
I am feeling like I am playing almost blind character cos mobs just pop up under my nose almost close to me. I have found this video, which pretty exactly shows WHEN mobs must became visible
https://www.youtube.com/watch?v=YLs6VQ1C048
At CoreCraft this distance is about 5 times less, like at screen:
![wowscrnshot_060615_234830](https://cloud.githubusercontent.com/assets/10595765/8021386/df503966-0

[2015-06-06 20:59] KuroiKensai commented on #664
And BTW you can also notice a lot of big golems at video, but there are no one at CC. Please add them.

[2015-06-06 21:14] netherspite opened #665 "Corpses of Lake Spirits in Nagrand are falling to the bottom of the lake"
IIRC they weren't on the retail.
![wowscrnshot_060615_230430](https://cloud.githubusercontent.com/assets/5777848/8021490/2bb6a4e0-0caa-11e5-814a-ac60e3f5a606.jpg)

[2015-06-06 21:16] netherspite opened #666 "Mag'har Captive does not always offer quest when Murkblood Brutes are killed"
First time I killed Murkblood Brutes interrogating him he didn't offer me any Q.
Second time it worked correctly.
Not sure what was the difference, but first time it was kinda more messy with some extra adds being aggroed, Water Elemental summoning and moving kinda far away from his hut.

[2015-06-06 21:18] netherspite opened #667 "Gear disappearing"
When I was equipping new item into the slot already being occupied by some other item by left clicking the item in my backpack and then clicking on the slot with the old item the old item disappeared.
It happened to me two times.
I wasn't able to reliably reproduce it though so I'm not sure what is the exact cause of the issue.
Both times when it happened I was equipping newly acquired quest rewar

[2015-06-06 21:19] KuroiKensai opened #668 "Health/Manabar display at % or numeric?"
Was wondering about it, but found old theme at forum. It proofs that since 2.3.0 u can use numberic values for any target in game. Will stick it here, cos I personally think than numbers are just more comfortable/accurate and has nothing do with "hardcore":

So Corecraft is gonna be 2.4.3 talents etc, But with all the unnerfed content, (as it was before the big nerf patch/es).

Are the target's he

[2015-06-06 21:24] steino opened #669 "Surge of Light procs can crit."
You can see that Surge of Light procs and both smites crit. It even procs a SoL off the proc'd smite.

https://youtu.be/7ohSVrZDaXA

[2015-06-06 21:26] Gerelos opened #670 "Equipped gear disappeared"
I just bought a fresh full set of Light Mail armor from Nabek, the Weapons and Armor Merchant in Azure Watch, Azuremyst Isle.  As I equipped each new piece of armor from my bag by right clicking it, it successfully equipped, but covered and destroyed the armor I had been wearing, instead of switching my previous armor into my bag.  I was wearing 2 quest rewards: a Weathered Mail Tunic and some Bea

[2015-06-06 21:28] nullfoxh opened #671 "[Rogue] Sap => Stuck mob"
This bug was reported by cdreipo as a comment on my other distract bugreport, but I felt it needed a separate report.

If you first distract a mob and then sap it the mob gets stuck and will not move from that position. It remains killable however.

See choppy video (20mb file, sorry):
http://webm.host/5e5db/

Update: A lot more details in comments below!

[2015-06-06 21:29] nullfoxh commented on #624
cdreipo, I reported your bug as a separate issue here: https://github.com/ccshiro/cc-buglist/issues/671

[2015-06-06 21:40] nullfoxh opened #672 "Cenarion Thicket, missing debuff aura"
Cenarion thicket, the place right outside of shatt with the teromoths is lacking the debuff aura that that turns you green and gives you -5% stats.

How to reproduce?
1. Go to Cenarion Thicket
2. Don't turn green

Related:
http://www.wowhead.com/spell=32407/strange-aura#comments
http://www.wowhead.com/spell=35956/strange-aura#comments

[2015-06-06 21:50] nullfoxh commented on #672
Seems like the corpses of fallen druids in the area should also be affected by this debuff, judging by the screenshots found here: http://www.wowhead.com/quest=9971/clues-in-the-thicket#screenshots

[2015-06-06 22:42] darkcranio commented on #637
No need to do research, charge always worked downwards through mid-air, but charging upwards is just lol. It became especially useful when WOTLK introduced knockbacks, charging back to the target after knocked off at AB Lumbermill.

[2015-06-06 22:50] darkcranio commented on #664
I think you meant fel reavers, but yeah distance is pretty low everywhere.

[2015-06-06 22:52] darkcranio commented on #646
Now that's an interesting bug.

[2015-06-06 23:32] darkcranio commented on #668
Also we should see the friendly NPC's numbers all the time.

[2015-06-06 23:34] Voodopad commented on #642
Had the same issue in arena, this explains why target was far away when I was standing inside the circle.

[2015-06-06 23:40] Faleene commented on #617
http://www.twitch.tv/faleene/c/6800050
^Also a minor bug where my character says "Cancel Auto" when mind controlled.

http://www.twitch.tv/faleene/c/6800003

http://www.twitch.tv/faleene/c/6800019
^ Visually I was still on my mount according to Plazmawave when I died

I can click 1-2 and it works, pressing 1-2 on keyboard doesn't.

[2015-06-06 23:42] RealZwox commented on #656
Same for: Slave Pens

Get feard by : I cant find the Mob who fear on wowhead o.O But one Mobtype fear there

And get Rooted by: http://www.wowhead.com/npc=17961/coilfang-enchantress#abilities
( http://www.wowhead.com/spell=32173 )

Seems if you get feard and at the same time stuned or rooted you can do nothing after fear breaks       ( You cant do dat while fleeing )

[2015-06-07 00:31] Pinhastest commented on #654
Should be the same for stuns. Dont know how its working on stuns atm

[2015-06-07 00:37] tasinx commented on #654
I noticed this also happened if you lose a duel mid air.

[2015-06-07 00:41] tasinx commented on #645
Ran into the same issue, fixed after a relog.
http://oi60.tinypic.com/2u5qaz4.jpg

[2015-06-07 00:59] RealZwox opened #673 "Old Hillsbrad Foothills: First Boss no loot after Wipe"
We wiped on the first boss (Lieutenant Drake) . After killing him then he gave no loot.

Note: Tank died on the Kill.

[2015-06-07 01:01] lynxzor commented on #670
#667

[2015-06-07 01:03] RealZwox opened #674 "Old Hillsbrad Foothills: Thrall attacks Player after Mindcontroled 'Durnholde Warden'"
We start escort and on the first Group our Shadowpriest Mindcontroled a 'Durnholde Warden' after all "Red" mobs are killed Thrall attacks the mindcontroled Mob (Friendly Target). We killed the 'Durnholde Warden' after MC breaks.

Then Thrall Start attack all of us. He reset after we Died/Bubble-Hearthstoned.

[2015-06-07 01:11] RealZwox commented on #663
#656

[2015-06-07 01:13] lynxzor commented on #650
"if you catch a rogue on proximo just as a match starts, put your pet on him and turn auto devour on so it will unstealth him from range"

http://www.arenajunkies.com/topic/19112-devour-magic-in-general/#entry151491

[2015-06-07 01:49] tasinx opened #675 "Missing Spirit Healer - Lake Jorune"
I was doing some various testing and ended up falling through the floor. I couldn't reproduce it but I have a screenshot trying to fall in the same spot while halfway through the floor.
http://oi62.tinypic.com/mr633q.jpg

Anyways, it killed me and released me to Lake Jorune and I noticed there isn't a spirit healer nor anyway to respawn normally. I tried logging out and back in but that didn't see

[2015-06-07 02:05] thebigripper opened #676 "[Druid] Aquatic form bug"
If you jump underwater in aquatic form, it shape shifts you out. Test in a few places. Will test more and report.

[2015-06-07 03:04] Adunai opened #677 "[Warlock] Inferno"
When casting Inferno, Infernal always spawns at the caster's feet, not where it was told to land. Also, it didn't attack Arena goblins near Ring of Trials in Nagrand, don't know if that's intended.

[2015-06-07 03:09] lynxzor commented on #677
Related to #583

[2015-06-07 03:14] Adunai commented on #677
Another issue is that Infernal cannot attack a target (if you issue a command "Attack") if it's in Defensive or Passive stance. If it's in Aggressive, it can attack.
Screenshot: http://i.imgur.com/SngWiLJ.jpg

[2015-06-07 03:17] Adunai opened #678 "[NPC] Champion Vranesh"
Champion Vranesh is a level 20 NPC on CoreCraft. It should be a level 60 NPC.
Screenshot: http://i.imgur.com/Uo4nLNM.jpg
Link: http://www.wowhead.com/npc=18146/champion-vranesh

[2015-06-07 03:30] Adunai opened #679 "[NPC] Ranger Captain Venn'ren"
This NPC doesn't have PvP enabled. As far as I understand, he is supposed to be PvP enabled.
Screenshot: http://i.imgur.com/KWE3wpQ.jpg
Link: http://www.wowhead.com/npc=16789/ranger-captain-vennren

[2015-06-07 03:34] lynxzor opened #680 "Irradiated Workers Event"
They cross the bridge on the angle and fly through the air.
![wowscrnshot_060715_153041](https://cloud.githubusercontent.com/assets/795881/8022507/95038212-0d2a-11e5-9f33-f7a38958a52d.jpg)
![wowscrnshot_060715_154237](https://cloud.githubusercontent.com/assets/795881/8022537/e10b71a0-0d2b-11e5-9867-f8b3cc365079.jpg)

[2015-06-07 03:37] lynxzor commented on #524
Nothing fancy to reproduce just turned in the quest Assisting the Consortium and upon taking Consortium Crystal Collection the yellow question mark still remains

![wowscrnshot_060715_153518](https://cloud.githubusercontent.com/assets/795881/8022517/12437390-0d2b-11e5-93d6-7e2f6d52bfd3.jpg)

Then after completing Consortium Crystal Collection

![wowscrnshot_060715_154016](https://cloud.githubuserc

[2015-06-07 03:44] Adunai opened #681 "[NPC] Aldor Vindicator"
These NPC are supposed to have the following lines:
Aldor Vindicator says: Friends of the Scryers are not allowed here!
Aldor Vindicator says: Take your time away from here to reflect upon your actions.

They don't say them. I was a blood elf, thus automatically friendly with the Scryers (although without completing any quests). I don't know if it's intended or a bug.

I can confirm that they are

[2015-06-07 03:49] Adunai opened #682 "[NPC] Silvermoon City Guardian"
These NPCs respond to emotes done by any blood elf class. They are supposed only to respond to emotes made by blood elf Paladins.

They didn't respond to any emotes earlier, so I can admit that the work has been done to correct such a small issue.

Screenshot (as a Paladin): http://i.imgur.com/3bw7LOy.jpg
Screenshot (as a Warlock): http://i.imgur.com/XWuRcz0.jpg
Link: http://www.wowhead.com/npc=16

[2015-06-07 03:55] Adunai opened #683 "Mounting on Zeppelin Towers and Zeppelins"
Ground mounts are not allowed on top of the zeppelin towers and on zeppelins. Is that intended?
I'm not sure about the inside of the tower. It doesn't allow mounting either.

Screenshot (zeppelin tower): http://i.imgur.com/iEyMZCy.jpg
Screenshot (zeppelin): http://i.imgur.com/8EOzJ8p.jpg

[2015-06-07 04:03] Adunai opened #684 "[NPC] Frezza"
This NPC is supposed to be hostile to the Alliance, but is not flagged for PvP. Is that intended? Steamwheedle Bruisers are flagged for PvP, however.

Also, Frezza should announce the arrival of the zeppelin (as indicates a comment as of patch 2.2.0). On CoreCraft, he does not.

Screenshot (Frezza): http://i.imgur.com/1OyFyZr.jpg
Screenshot (Steamwheedle Bruiser): http://i.imgur.com/4dy8hdr.jpg

L

[2015-06-07 06:54] Bzmode opened #685 "(Slave Pens) Pathing"
http://www.twitch.tv/faleene/c/6801439

Mage blinked through the world and the mobs evade bugged.

[2015-06-07 07:18] Bzmode opened #686 "(Nameplates) Casting"
there is a delay on the cast bar attached to nameplates but it works fine on player frames
http://www.twitch.tv/faleene/c/6801543

[2015-06-07 07:26] Bzmode opened #687 "(Blood Furnace) shadowmoon chaneller"
Weird behavior on the shadowmoon chaneller's(17653,18620)
http://www.twitch.tv/faleene/c/6801560

[2015-06-07 07:28] Bzmode opened #688 "(Botanica) Pathfinding"
Evade Evade Evade move them Evade
http://www.twitch.tv/faleene/c/6801569

[2015-06-07 07:54] Lephidiles opened #689 "Npc in combat with other npc ?"
When killing Marsh Dreadger or Marsh Lurker in Funggor Cavern I don't get any loot or quest count.

Could it be that they are somehow tagged by the sporregards ?

[2015-06-07 07:56] Bzmode opened #690 "(Druid) Force of Nature"
Here is how they spawned/followed on TBC in 2007 https://www.youtube.com/watch?v=Yp-mc0TiOM4

And here is on Corecraft http://www.twitch.tv/bzmodetwitch/c/6801665
http://i.imgur.com/zFe6Qb6.jpg

as you can see they stack very tightly when attacking moving and follow when they should have a slight spread

(I know the bug where they spawn on top of you instead of where you target them has been repor

[2015-06-07 08:06] Oldwal opened #691 "[PRIEST TALENT] Surge of Light"
The priest talent Surge of Light says :

"Your spell criticals have a 50% chance to cause your next smite to be instant cast, cost no mana but be incapable of a critical hit. This effect lasts 10 sec."

This is bugged since the fee instant smite actually can crit now, and this can in turn proc a new free instant cast and so forth.

[2015-06-07 08:17] lynxzor commented on #691
Duplicate #669

[2015-06-07 08:41] KuroiKensai opened #692 "Health/Manabar display at % or numeric?"
Was wondering about it, but found old theme at forum. It proofs that since 2.3.0 u can use numberic values for any target in game. Will stick it here, cos I personally think than numbers are just more comfortable/accurate and has nothing do with "hardcore" because many people will use addon for this purpose anyway.

So here is the text:

So Corecraft is gonna be 2.4.3 talents etc, But with all the

[2015-06-07 08:45] Klvn123 commented on #638
<a href="http://imgur.com/pA4OPgn"><img src="http://i.imgur.com/pA4OPgn.png" title="source: imgur.com" /></a>

[2015-06-07 09:03] Chulain commented on #648
set bonus buff: http://www.wowhead.com/spell=43837
currently works without the talent "light's grace" however when you spec into it, the set bonus doesn't proc at all
![wow_2015_06_07_10_58_57_243](https://cloud.githubusercontent.com/assets/10247793/8023276/affce9e4-0d04-11e5-9651-00028473eb98.png)

[2015-06-07 09:15] Chulain commented on #671
https://github.com/ccshiro/cc-buglist/issues/647 ?

[2015-06-07 09:30] meowmewo commented on #655
LB scales with 1,25% of RAP as of 2.4.3 after a nerf that happened. Previously earlier in BC it was 12.5%.
LB will get affected by totem of wrath, totem of air and stormstrike +the things u mentioned above. So LB gets 101dmg more, 3% hit & crit & 20% more dmg. I remeber some formulas somewhere. Il try to find them and post them here.

[2015-06-07 09:37] meowmewo commented on #655
Here:

Lightning Breath is an instant cast spell. instant casts do not get the full benefit of +Spell Damage bonuses, they are only supposed to get a percentage. Specifically they are supposed to get 42.86% of the bonus +Spell Damage( thats the pet's spell damage)  provides.

LB_Base_Damage = ( LB_Low + LB_High ) / 2
LB_Base_Damage = ( 99 + 113 ) / 2 = 106

LB_Damage = 106 + ( RAP \* 0.125 ) this

[2015-06-07 10:00] kikomir opened #693 "Blackheart the Inciter - Shadow Labirynth"
As far as I know his spell "Incite Chaos" should affect all party members and is not resistible. On 1-2 occasions it did not affect me at all. If this is intended behavior please ignore this report. Also the players' damage during this mind control phase seemed way too high but I couldn't research this more thoroughly because the combat log wasn't working.

edit: forgot to mention, players also sa

[2015-06-07 10:04] meowmewo commented on #655
So...
A average hit of LB - 106`~
If we have a hunter with 2500 AP = 106 + ( 2500 \* 0.0125 \* 0.4286) = 106+ (2500 \* 0.0053575) = 106 + 13,39 = 120~ + whatever extra buffs pet has (mood 25%,totems,species etc.)

In conculusion. The post is wrong.  However. It needs to be tested, i gave up on Corecraft so i havent actually tested it but to the guy who made the post -> Try to test it next time kno

[2015-06-07 10:25] shadowraider commented on #689
I remember on some private severs, you had to deal more dmg than the "Sporeguards" - you say, to tag them to you

[2015-06-07 10:26] #640 closed, assigned to nobody

[2015-06-07 10:29] nullfoxh commented on #671
Yes Chulain, that seems to be the same bug. Did not come across it.
My video however contains the info missing from the other report. :)

[2015-06-07 10:49] TheVcelar commented on #655
ok, now i know, where i made mistake
CoE does not increase nature dmg, so LB should scale with RAP as you said and as it is described in cheeky's

i would like to test LB again, but i lost my password

[2015-06-07 11:13] petaal opened #694 "[npc] Warden Treelos"
He is the quest giver of It's Watching You! (http://www.wowhead.com/quest=9951). However, Vicious Teromoths in the area keep killing him very easily so he is always dead if nobody kills the mobs. Apparently he should kill mobs easily with moonfire or shapeshift into bear and cat form.

There's some comments in wowhead (http://www.wowhead.com/npc=18424/warden-treelos#comments) like "He's pretty str

[2015-06-07 11:26] petaal commented on #671
I got some screenshots of .movegens --verbose. Distracted the mob, sapped and attacked with Throw. Got two different outputs with different mobs:
![wowscrnshot_060715_142134](https://cloud.githubusercontent.com/assets/11743711/8023740/e2ef7a1c-0d20-11e5-866f-fa9705a114ff.jpg)
![wowscrnshot_060715_141713](https://cloud.githubusercontent.com/assets/11743711/8023742/ef884c90-0d20-11e5-94ca-e04a48d192

[2015-06-07 11:26] darkcranio commented on #677
Look around maybe? #588

[2015-06-07 11:30] lynxzor commented on #677
This one is a lot easier to understand at least.

[2015-06-07 11:47] Peonstomperx commented on #636
Cheap Shotting vanishes is working as intended.
The target bug(invisible frame) is pretty well known on AT amongst rogues and usually happens when you spam step+cheap shot on arena1/2/3 as they open on something.

I would assume the cause has to do with targetting a unit that's currently invisible and stealth delay, maybe it's a client side bug.

[2015-06-07 11:53] Shanwerd commented on #647
here the screenshot:
http://imgur.com/QIOMw0S

[2015-06-07 12:01] nullfoxh opened #695 "Feralfen village, minor bugs with mobs in Zangarmarsh"
The hunter:
http://www.wowhead.com/npc=18113/feralfen-hunter
and his pet:
http://www.wowhead.com/npc=18201/tamed-sporebat
and the druid:
http://www.wowhead.com/npc=20270/feralfen-druid

I found a few issues in this area:
1. If I sap the hunter and kill the pet, the hunter will instantly resummon a new sporebat once sap is broken. This bug happened to me 3/5 times. He will not resummon the sporebat

[2015-06-07 12:02] ghost commented on #636
@Peonstomperx I wonder if a macro such as the one below would fix that bug:
/cleartarget
/targetlasttarget

[2015-06-07 12:13] Johe123 opened #696 "[NPC] Nakansi SMV"
Found the NPC Nakansi - Horde Quest giver (Invasion Point: Cataclysm - Shadowmoon Valley) He is friendly to Alliance, his guards are hostile still.

http://www.wowhead.com/npc=21789/nakansi#starts

[2015-06-07 12:22] nullfoxh commented on #695
After further testing I have come to the conclusion that issues 1. and 2. are most likely not bugs with the mobs but rather Sap, as neither of these issues happen without sap and Sap causes all sorts of erratic behavior in mobs. I will post more details in my Sap report here: https://github.com/ccshiro/cc-buglist/issues/671

[2015-06-07 12:29] Wolper321 commented on #648
right now these auras don't stuck (it's bug, otherwise this set bonus is useless). But other mechanic work ok (1 per minute, it works after flash heal crit too).

[2015-06-07 12:46] brndd opened #697 "Pathing issues on Horde side of the Stair of Destiny in Hellfire Peninsula"
(posting some bugs for another person who doesn't have a github account)

Pathing is really weird on the horde side portal of the Dark portal (shiro checked this) mobs stack on portal, they run to the stairs, and they come back flying as can be seen on image 1. they stack again on the portal and repeat the process

Screenshots:

![2](https://cloud.githubusercontent.com/assets/5822375/8024000/1bded